.menu_smallcate{min-height:600px;}
.menu_smallcate h4{margin:0 15px 20px;padding:5px 0 0 25px;position:relative;color:#719cff;font-size:15px;font-weight:normal;line-height:38px;}
.menu_smallcate h4:after{display:block;width:100%;height:3px;content:'';position:absolute;bottom:-5px;left:0;
background: #7b99ff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #7b99ff 0%, #8695ff 25%, #938fff 50%, #a08aff 75%, #b87fff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7b99ff), color-stop(25%,#8695ff), color-stop(50%,#938fff), color-stop(75%,#a08aff), color-stop(100%,#b87fff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #7b99ff 0%,#8695ff 25%,#938fff 50%,#a08aff 75%,#b87fff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #7b99ff 0%,#8695ff 25%,#938fff 50%,#a08aff 75%,#b87fff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #7b99ff 0%,#8695ff 25%,#938fff 50%,#a08aff 75%,#b87fff 100%); /* IE10+ */
background: linear-gradient(135deg,  #7b99ff 0%,#8695ff 25%,#938fff 50%,#a08aff 75%,#b87fff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b99ff', endColorstr='#b87fff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.menu_smallcate ul{margin:-1px 10px 0 10px;background:url('http://image.lotte.com/lotte/mo2015/angular/cate_line_01.png');}
.menu_smallcate ul:after{display:block;content:'';clear:both}
.menu_smallcate ul li{float:left;width:50%;overflow:hidden;height:39px}
.menu_smallcate ul li a{display:block;padding:0 0 0 5px;font-size:14px;line-height:39px;}

.menu_smallcate .bestList{background:#f6f6f7;padding:0 0 10px;}
.menu_smallcate .bestList h5 {color:#333;font-size:16px;padding:20px 0 5px 10px;}

.menu_smallcate .bestList ol:after{clear:both;display:block;content:'';}
.menu_smallcate .bestList .list{}
.menu_smallcate .bestList .list li{padding:2px 2px 3px 3px ;box-sizing:border-box;-webkit-box-sizing:border-box}
.menu_smallcate .bestList .list li > div{border:1px solid #d3d3d3;background:#fff; box-sizing: border-box;}
.menu_smallcate .bestList .list li.sky{margin:5px 0 0 0 !important;border:5px solid #B3CAF3}
.menu_smallcate .bestList .list li a{display:block;}
@media screen and (min-width:640px){
    .menu_smallcate .bestList{background:#e9e9e9;margin-left:0;}
    .menu_smallcate .bestList .list{margin-top:5px}
    .menu_smallcate .bestList .list li{width:50%;float:left}
    .menu_smallcate .bestList .list li a{margin:0 3px;}
    .menu_smallcate .bestList .list li.ban_hid{display:none;}
}
@media screen and (min-width:900px){
    .menu_smallcate .bestList .list li{width:33.3%;float:left}
    .menu_smallcate .bestList .list li a{margin:0 3px;}
}
