@charset "utf-8";

body #head_sub h2{background-color: #2b2b2b; color:#fff;}

body button{ border: 0 none; background: transparent; line-height: 18px;}
input,select,button{background: none; border:0 none; padding: 0; margin: 0;
-webkit-appearance:none;
appearance:none;
}
input[type="checkbox"],
input[type="radio"]{ width: 20px; height: 20px; vertical-align: middle; background-image:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png); background-repeat: no-repeat;
-webkit-background-size: 175px 125px;
background-size: 175px 125px;
}
input[type="checkbox"]{border: 1px solid #dedede;background-color: #fff; background-position: -999em -999em;}
input[type="checkbox"]:checked{background-position: -51px -76px;}
input[type="radio"]{background-position: 0 -75px;}
input[type="radio"]:checked{background-position: -25px -75px;}
input[type="search"],
input[type="number"],
input[type="text"]{height: 28px; border: 1px solid #dddddd; background-color: #fff; font-size: 12px;text-indent: 9px;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

/*sprite 전문관 전문몰 공통*/
.banner_slide .btn button,
.box_cate .mid_cate li a:after,
.box_cate .open_btn:after,
.sub_cate .menu a:after,
.sub_cate .box_btn .reset:after,
.sub_cate .box_btn .close:after,
.box_select:after
{font-size: 0; text-indent: -999em; color: transparent;background: url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
-webkit-background-size: 175px 125px;
background-size: 175px 125px;
}

/* Main 카테고리 */
.box_cate {position: relative;border-top: 1px solid #525252;background-color:#2b2b2b;z-index: 10;}
.box_cate .big_cate {display: block; overflow: hidden;}
.box_cate .big_cate ul {}
.box_cate .big_cate li {display:block;float:left;position: relative;height: 45px;width:25%;text-align:center}
.box_cate .big_cate li a {position: relative;display:block;line-height: 43px;letter-spacing: -1px;color: #fdfdfd;z-index: 1;}
/*.box_cate .big_cate li.on:after{bottom: -22px; left: 50%; border: solid transparent; content: " "; height: 0; width: 0;position: absolute; pointer-events: none;
border-color: rgba(55, 55, 55, 0);border-bottom-color: #373737; border-width: 30px;margin-left: -30px; background: none;}*/
.box_cate .big_cate li.on{background-color:#393939}
.box_cate .big_cate li.on a{ color: #ff7b62}

.box_cate .big_cate_all {width:100%; position: absolute;top: 45px;right: 0;background-color: #454545;z-index: 1;}
.box_cate .big_cate_all:before{content: ''; display: none;border-top: 1px solid #656565; margin-right:45px }
.box_cate .big_cate_all ul {overflow: hidden;background-color:#5c5c5c}
.box_cate .big_cate_all .scroll{height:276px;overflow-y:auto;}
.box_cate .big_cate_all li {float: left;width: 50%;height: 45px;border-bottom:1px solid #525252;}
.box_cate .big_cate_all li a {display:block;height:41px;border-bottom:1px solid #535353;line-height:41px;background-color:#5c5c5c;color:#fff;}
.box_cate .big_cate_all li.on a{color: #719cff}
.box_cate .big_cate_all.on:before,
.box_cate .big_cate_all.on ul{display: block;}
.box_cate .open_btn {position: absolute;top: -45px;right: 0;display: block;width: 45px;height: 45px;border-left: 1px solid #656565;opacity: 0.8;font-size: 0;background-color: #454545;color: transparent;}
.box_cate .open_btn:after{content: ''; clear: both; position: absolute; top:14px; left:14px; width: 18px; height: 18px; background-position: -75px -50px;}
.box_cate .open_btn.on:after{background-position: -100px -50px;}
.box_cate .open_btn.on+ul{display: block;}

.box_cate .mid_cate {position: absolute;	top: 45px;	left: 0;	width: 100%;background-color: #393939;}
.box_cate .mid_cate ul.on {display: block;}
.box_cate .mid_cate li {position: relative; float:left;width:50%;border-bottom: 1px solid #313131}
.box_cate .mid_cate li:nth-child(odd) a{border-right:1px solid #313131}
.box_cate .mid_cate li a {display:block;padding-left:25px;height:41px;line-height:44px;color:#ccc;}
/* start D:20150921 하위카테고리추가 */
.box_cate .mid_cate li a.hasCate:after{content: ''; clear: both; position: absolute; top:12px; right:14px; width: 18px; height: 18px;background: url(http://image.lotte.com/lotte/mo2015/angular/bg_sprite_bullet.png) 0 0 no-repeat;
    -webkit-background-size: 57px 80px;
    background-size: 57px 80px;}
.box_cate .mid_cate li>a:after{content:'';position: absolute;top:12px;right:16px; width: 9px; height: 16px; background-position: 0 -64px;}
.box_cate .mid_cate li.on>a{color: #719cff}
.box_cate .mid_cate li div.cca {display:block;}
.box_cate .mid_cate li div.cca>a {padding-left:30px;border-top:1px solid #373737;background:#484848;}
.box_cate .mid_cate li div.cca>a:first-child {border-top:0;}

/* 20160717 추가 */
.box_cate .mid_cate ul.scroll{height:276px;overflow-y:auto;}
.box_cate .mid_cate li>a:after,
.mall_cateLayerbar a.close{background-image:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/brandshop_catemenu.png);background-repeat:no-repeat;background-size:26px 155px}
.box_cate .mid_cate li>a:after{background-position:right -71px}
.mall_cateLayerbar{clear:both;width:100%;height:33px;background:#2b2b2b;overflow:hidden;}
.mall_cateLayerbar a.close{display:block;float:right;margin-top:10px;margin-right:15px;width:14px;height:14px;font-size:0;line-height:0;background-position:0 -141px}

.box_cate .big_cate ul.two,
.box_cate .big_cate ul.three,
.box_cate .big_cate ul.four{width:100%}
.box_cate .big_cate ul.two li,
.box_cate .big_cate ul.three li,
.box_cate .big_cate ul.four li{display:block;float:left;text-align:center;padding:0;}
.box_cate .big_cate ul.two li{width:50%;}
.box_cate .big_cate ul.three li{width:33.3%;}
.box_cate .big_cate ul.four li{width:25%;}

/*sub_cate*/
.sub_cate{ position: relative; border-bottom: 1px solid #d0d0d0;background-color: #eeeeee; padding-top: 5px; height: 36px; z-index: 5}
.sub_cate .menu{position: relative;z-index: 1;}
.sub_cate .menu:after{content: ''; clear: both; display: block;}
.sub_cate .menu li{float: left; position: relative;}
.sub_cate .menu li:first-child{border-left: none;}
.sub_cate .menu li:after{content: ''; position: absolute; top:13px; left:0; height: 10px; border-left: 1px solid #cccccc;}
.sub_cate .menu li:first-child:after{display: none;}
.sub_cate .menu a{display: block; height: 35px; line-height: 33px; color: #484848; font-size: 13px; letter-spacing: -1px; text-align: center;font-weight: bold;}
.sub_cate .menu a:after{ content: ''; display: inline-block;margin-left: 6px; width: 10px; height: 7px; background-position: -50px 0px; }
.sub_cate .menu li:last-child a:after{ width: 16px; height: 13px;background-position:0 -25px;vertical-align: middle;}
.sub_cate .menu li.on{background-color: #fff;  border: 1px solid #d3d3d3; border-bottom: 0 none;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.sub_cate .menu li.on:after{display: none;}
.sub_cate .menu li.on+li:after{display: none;}
.sub_cate .menu li.on a{border-bottom-color: #fff; color: #285ace;height: 36px;}
.sub_cate .menu li.on a:after{background-position:-75px -0;}
.sub_cate .menu li.on:last-child a:after{ background-position:-25px -25px;}

/* cotn_cate */
.sub_cate .cotn_cate{ background-color: #fff; width: 100%; position: absolute; top: 42px; left: 0;}
.sub_cate .cotn_cate>div{display: none;}
.sub_cate .cotn_cate>div.on{display: block;}
.sub_cate label{font-size: 12px; font-weight: bold; letter-spacing: -1px; color: #666666;}

/* category 카테고리*/
.sub_cate .category{position: relative;  }
.sub_cate .category ul:after{content: ''; display: block; clear: both;}
.sub_cate .category li{position: relative; float: left; width: 50%; border-bottom: 1px solid #dddddd; margin-bottom: -1px;}
.sub_cate .category li:after{content: ''; position: absolute;top:0;left:0;width: 100%;}
.sub_cate .category li:nth-child(1):after,
.sub_cate .category li:nth-child(2):after{display: none;}
.sub_cate .category li a{display: block; height: 45px; line-height: 44px; padding-left: 10px; color: #666666; font-size: 13px;}
.sub_cate .category li strong{color: #666666}
.sub_cate .category li.on a,
.sub_cate .category li.on strong{color: #719cff}
.sub_cate .category li .num{color: #bcbcbc}

/* brand 브랜드*/
.sub_cate .brand{position: relative;}
.sub_cate .brand .top_area{ border-bottom: 1px solid #ddd;}
.sub_cate .brand .totall_num{height: 35px; line-height: 35px; padding-left: 17px; font-size: 14px; font-weight: bold; letter-spacing: -1px; color: #333;}
.sub_cate .brand .sort_radio{position: absolute; top:8px; right: 16px;}
.sub_cate .brand .sort_radio label:first-child{ margin-right: 3px;}
.sub_cate .brand ul{height: 204px; overflow: auto;}
.sub_cate .brand li{position: relative; height: 40px; line-height: 40px; padding-left: 17px; border-bottom: 1px solid #eeeeee;}
.sub_cate .brand li:last-child{border-bottom: 0 none;}
.sub_cate .brand li .totall_prod{position: absolute; top:0; right: 17px; height: 41px; line-height: 41px; font-size: 12px; font-weight: bold; letter-spacing: -1px; color: #bcbcbc; }

/*detail_srch 상세검색*/
.sub_cate .detail_srch{position: relative; padding: 10px;}
.sub_cate .detail_srch table{background-color: #f6f6f6; }
.sub_cate .detail_srch table th{padding-left: 9px; font-size: 12px; color: #333333; letter-spacing: -1px; text-align: left;}
.sub_cate .detail_srch table th.type_top{ vertical-align: top; padding-top: 11px;}
.sub_cate .detail_srch table .type_bor{border-bottom: 1px solid #fff;}
.sub_cate .detail_srch table td{height: 35px; vertical-align: middle;}
.sub_cate .detail_srch table .benefit label{ display: inline-block; margin-right: 6px; vertical-align: middle;}
.sub_cate .detail_srch table .benefit .box_col{ position: relative; padding-right: 10px;}
.sub_cate .detail_srch table .benefit .box_col label{position: relative;z-index: 1;}
.sub_cate .detail_srch table .benefit .box_select{position: absolute; top: -4px; right: 0;width: 100%;padding:0 10px 0 82px;
box-sizing:border-box;
-webkit-box-sizing:border-box
}
.sub_cate .detail_srch table .benefit select{width: 100%;height: 28px; border: 1px solid #dddddd; font-size: 12px; color: #333333; font-weight: bold; letter-spacing: -1px; background-color: #fff;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.sub_cate .detail_srch table .benefit .box_select:after{content:''; position: absolute; top: 11px; right: 20px; display: block; width: 12px; height:7px; background-position: -46px -65px;}
.sub_cate .detail_srch table .tr_search td{ vertical-align: middle; padding-bottom: 0;}
.sub_cate .detail_srch table .td_in_search label{display: block;}
.sub_cate .detail_srch table .td_in_search input{width: 100%;}
.sub_cate .detail_srch table .type_pb td{ padding-bottom: 3px;}
.sub_cate .detail_srch table .type_pt td{ padding-top: 3px;}
.sub_cate .detail_srch table .val_saerch{position: relative;}
.sub_cate .detail_srch table .val_saerch:after{content: ''; display: block; clear: both;}
.sub_cate .detail_srch table .val_saerch label{position: relative; display: inline-block; width: 45%; z-index: 1}
.sub_cate .detail_srch table .val_saerch label:last-child{position: absolute;top:0; right: 0}
.sub_cate .detail_srch table .val_saerch input{width: 100%; }
.sub_cate .detail_srch table .val_saerch span{position: absolute; top: 4px;left:0; width: 100%;text-align: center; }
.sub_cate .detail_srch table .btn_in_serh{text-align: right;padding-right: 10px;}
.sub_cate .detail_srch table .btn_in_serh button{width: 57px; height: 64px; margin-top: -3px; border: 1px solid #cccccc; background-color: #e4e4e4; font-size: 13px; font-weight: bold;
-webkit-border-radius: 3px;
border-radius: 3px}
.sub_cate .detail_srch .list_radio_input{ overflow: hidden; padding-bottom: 5px;}
.sub_cate .detail_srch .list_radio_input li{float: left; width: 50%; padding: 5px 0 0; }

/* favor_num 인기순 */
.sub_cate .favor_num{position: relative; padding: 10px 0;}
.sub_cate .favor_num ul{padding:4px 0 7px;}
.sub_cate .favor_num ul:after{ content: ''; display: block; clear: both;}
.sub_cate .favor_num li{float: left; width: 50%; height: 34px;line-height: 34px; padding-left: 15px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.sub_cate .favor_num .area_guide{height: 55px; line-height: 55px; background-color: #f6f6f6; text-align: center; font-size: 11px; color: #bebebe}

/* 카테고리  버튼 */
.sub_cate .box_btn{display: block !important; position: absolute; left: 0; width: 100%; background-color: #fafafa; border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2;}
.sub_cate .box_btn:after{ content: ''; display: block; clear: both;}
.sub_cate .box_btn .reset{ float: left; position: relative; margin-left: 17px;}
.sub_cate .box_btn .close{ float: right; position: relative;margin-right: 8px;}
.sub_cate .box_btn .close:after{content: ''; position: absolute; top: 13px; right: 3px; width: 11px; height: 10px;  background-position: -25px -50px;}
.sub_cate .box_btn button{display: inline-block;height: 33px; line-height: 33px; padding-right: 17px;color: #666; font-size: 12px;}
.sub_cate .box_btn .reset:after{content: ''; position: absolute; top: 50%; right: 3px; width: 11px; height: 13px; margin-top: -6px; background-position: -50px -50px;}

body #head_sub {background-color:#4c4c4c; border-bottom:0;border-top-style:none; height:47px;}
body #head_sub .this{display:none;}
body #head_sub h2 {color:#fff; height:47px; line-height:47px;}
body #head_sub .prev a:before {background-image:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_white_w.png)}
/*//////////////////////////////////////////*/
/*///////////////   전문관,전문몰    ///////////////*/
/*//////////////////////////////////////////*/
button:focus {outline:none;}
.tenbyten_warp .sub_cate .menu li{width:25%;}
#container {position:relative;min-height:450px;background-color:#e7e7e7;}

/* Main banner slide */
.main_slide{overflow:hidden;position:relative;background:#e9e9e9;}
.main_slide .mask{height:100%;overflow:hidden;}
.main_slide .mask .list{white-space:nowrap;}
.main_slide .mask .list li{width:100%;display:inline-block;}
.main_slide .mask .list li a{display:block;}
.main_slide .mask .list li img{width:100%;}
.main_slide .btn{width:15px;height:25px;position:absolute;top:50%;margin-top:-14px;z-index:9;border:0;font-size:0;cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
-webkit-background-size:175px 125px;
background-size:175px 125px;
}
.main_slide .btn.hide {visibility:hidden;}
.main_slide .btn.prev {left:10px;background-position:0 0;}
.main_slide .btn.next {right:10px;background-position:-25px 0;}
.main_slide .bullet{text-align:center;border-top:1px solid #d0d0d0;}
.main_slide .bullet li{display:inline-block;position:relative;top:5px;width:6px;height:6px;border-radius:100%;background:#b7b7b7;font-size:0;vertical-align:top;}
.main_slide .bullet li.active{background:#3c599e;}
.main_slide .bullet li.on{background:#3c599e;}
.main_slide .thumb{background:#fff;padding:12px 17px;margin:0 auto;min-height:110px;text-align:center;}
.main_slide .thumb a{width:30%;display:inline-block;}
.main_slide .thumb a img{border-radius:100%;}

.unit_list_m {padding-bottom:8px;}
.unit_list_m .tit_banner{height:34px;line-height:34px;padding-left:12px;font-size:15px;font-weight:bold;color:#000000};

/*//////////////////////////////////////////*/
/*///////////////   도서    ///////////////*/
/*//////////////////////////////////////////*/

/*sprite*/
.best_seller li.rank01 .flag,
.book_slide .slide li .flag span{background:url(http://image.lotte.com/lotte/mo2015/angular/common/images/lotte2015/bg_sprite_book.png) no-repeat 0 0;
-webkit-background-size:66px 34px;
background-size:66px 34px;}

/*///////////////   book_wrap   ///////////////*/
.book_wrap #head_sub.ps_head h2{
background-color:#4c4c4c;
}
.book_wrap #container {position:relative;min-height:450px;background-color:#e7e7e7;}

.book_wrap .box_cate .big_cate{display:block;}
.book_wrap .box_cate .big_cate ul{ overflow:hidden;}
.book_wrap .box_cate .big_cate li{ float:left;width:25%;}
.book_wrap .box_cate .big_cate li a{display:block;padding:0;text-align:center;}

/*/////////////// book_slide   ///////////////*/
.book_slide{position:relative;}
.book_slide .slide{position:relative;height:190px;padding-top:12px;background-color:#ecedf8;}
.book_slide .slide ul{  white-space:nowrap;font-size:0;}
.book_slide .slide li{position:relative;display:inline-block;width:50%;text-align:center;}
.book_slide .slide li a{position:relative;display:inline-block;width:auto;border:0; text-align:center;}
.book_slide .slide li .flag{position:absolute;top:0;right:10.7%}
.book_slide .slide li .flag span{display:none;width:40px;height:17px;color:#fff;background:rgba(0,0,0,0.6);text-align:center;font-size:13px;}
.book_slide .slide li:nth-child(odd) .flag .n_new{display:block;}
.book_slide .slide li:nth-child(even) .flag .n_best{display:block;}
.book_slide .slide li .img {display:inline-block; padding-left:5px; border:1px solid #58595a; background:url(http://image.lotte.com/lotte/mo2015/angular/mall/bg_book_left.png) repeat-y 0 0;font-size:13px;
-webkit-background-size:11px;
background-size:11px;}
.book_slide .slide li img{width:96px;height:139px}
.book_slide .slide li .name{font-size:13px;color:#333333;white-space:normal;width:150px;display:block;margin:3px auto 0 auto;line-height:18px;height:36px; overflow:hidden;letter-spacing:-1px;}
.book_slide .bullet{ height:21px;border-top:1px solid #d0d0d0;background-color:#e7e7e7;text-align:center;}
.book_slide .bullet li{display:inline-block;position:relative;top:5px;width:6px;height:6px;margin:0 2px;border-radius:100%;background:#b7b7b7;font-size:0;vertical-align:top;}
.book_slide .bullet li.active{background:#3c599e;}
.book_slide .bullet li.on{background:#3c599e;}
.book_slide .btn{position:absolute;top:10%;padding:60px 0;z-index:9;border:0;font-size:0;cursor:pointer}
.book_slide .btn button{width:15px;height:25px;font-size:0;text-indent:-999em;color:transparent;background:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
-webkit-background-size:175px 125px;
background-size:175px 125px;
}
.book_slide .btn.prev{left:5px;padding-right:7px}
.book_slide .btn.prev button{background-position:0 0}
.book_slide .btn.next {right:5px;padding-left:7px}
.book_slide .btn.next button{background-position:-25px 0}

/*/////////////// book_list   ///////////////*/
.book_list{position:relative;padding:10px 10px 10px 4px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background-color:#fff;margin-top:5px;}
.book_list .title{height:21px;line-height:21px;padding-left:6px;margin-bottom:7px;font-size:14px;letter-spacing:-1px;color:#000000;font-weight:bold;}
.book_list ul{overflow:hidden;}
.book_list li{float:left;width:25%;text-align:center;padding-left:6px;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
.book_list li a{ display:inline-block;text-align:left;}
.book_list li .img{margin-bottom:6px;border:1px solid #dddddd;height:100px;overflow:hidden;}
.book_list li img{width:100%;min-width:69px;}
.book_list li .tit{height:36px;line-height:18px;letter-spacing:-1px;color:#666666;margin-bottom:6px;overflow:hidden;}
.book_list li .tit span{line-height:18px;color:#588bff}
.book_list li .price{padding-bottom:5px;font-size:15px; font-weight:bold;color:#285ace;}
.book_list li .price span{font-size:12px; font-weight:normal;}

/*///////////////   best_seller   ///////////////*/
.best_seller{ position:relative;padding:10px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background-color:#fff;margin-top:5px;}
.best_seller .title{ height:21px;line-height:21px;padding-left:2px;margin-bottom:7px;font-size:14px;letter-spacing:-1px;color:#000000;font-weight:bold;}
.best_seller ol{position:relative;padding:0 0 10px 145px;}
.best_seller li:nth-child(2) a{padding-top:0;}
.best_seller li a{display:block;padding:6px 0 7px;}
.best_seller li dl{ overflow:hidden;}
.best_seller li dt{float:left;width:30px;font-weight:bold;color:#000000}
.best_seller li dd{float:left;color:#666666;letter-spacing:-1px;width:calc(100% - 30px);height:17px;overflow:hidden;}
.best_seller li.rank01{ position:absolute;top:0;left:0;width:100px;height:230px;padding:15px;margin-top:0;background-color:#ecedf8;}
.best_seller li.rank01 dt{ line-height:33px;}
.best_seller li.rank01 dd{color:#000;font-weight:bold;width:100%;}
.best_seller li.rank01 .img{position:relative;padding-left:5px;border:1px solid #58595a;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/bg_book_left.png) repeat-y 0 0;
-webkit-background-size:11px;
background-size:11px ;}
.best_seller li.rank01 .flag{position:absolute;top:0;right:0;width:26px;height:34px;}
.best_seller li.rank01 img{border-left:1px solid #58595a}
.best_seller li.rank01 dd {height:51px;line-height:17px;}
@media screen and (min-width:480px){
.book_list li .img {height:152px;}
}
@media screen and (min-width:640px){
.book_list li .img {height:208px;}
}
@media screen and (min-width:900px){
.book_list li .img {height:280px;}
}
