.company{padding-bottom:25px; width:100%; background:#fff;}
.company .tl {text-align:center;padding-top:26px;height:129px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .tl .logo {display:block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/logo2018.gif) no-repeat center 0;background-size:195px 50px;height:50px;text-indent:-9999em}
.company .tl .txt {display:block;color:#666;line-height:130%;font-weight:bold;padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .tl .txt em {color:#719cff}
.company .info {padding:0 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .info table {border-top:solid 2px #7d7d7d;border-bottom:solid 2px #7d7d7d;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .info th { font-weight:normal;line-height:130% ;vertical-align:top;text-align:left;padding:10px 0 0 10px;color:#666;width:85px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .info td {border-top:solid 1px #d3d3d3;line-height:130%;vertical-align:top;padding:9px 0;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .info td:nth-child(1) {border-top:none}
.company .txt {padding:13px 8px 15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .txt dd {line-height:130%;font-size:11px;color:#555;position:relative;padding:5px 0 0 10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .txt dd:before {content:"";border-left:solid 3px #9fa5b5;position:absolute;display:inline-block;top:11px;left:2px;width:3px;height:3px}
.company .btn {padding:0 4px;overflow:hidden}
.company .btn div {width:50%;padding:0 4px;float:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.company .btn div a {width:100%}