@charset "UTF-8";
.cont_minheight{background-color:#ebebeb;}
.titlearea {height: 35px; position: relative;}
.titlearea .title {text-align: center; font-size: 18px;color: #333;font-weight: bold; margin-top: -2px;}
.cont_minheight > section{background-color:#fff;}
#bestbrandSubHead > h2 { background-color: #14299e;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
#bestbrandSubHead > h2 span { background: url(http://image.lotte.com/lotte/mo2015/angular/brandshop/samsung_best_logo.png) no-repeat 0 0; background-size: 95px 33px; width: 95px;height: 33px; top:6px;}
.nav_swipe_wrap >.main_nav{background-color:#031e6f;}
.nav_swipe_wrap >.main_nav >ul >li >a{ color:#fff;}
.md_recomm .titlearea{border-bottom:1px solid #f5f5f5;}
.best_header_wrap {height: 44px;}
#footer:before{height:0px;}
/* category */

.cate_margin{position:relative;margin-left:8px}
.category_swipe .sorting_fav {position:relative; padding:10px; height:22px; line-height:24px;background:#f6f6f6}
.category_swipe .filter2 {position:relative;background-color: #fff;height: 30px;padding: 6px 0;padding-right: 10px;margin:0 10px 10px 10px;}
.category_swipe.isIOS .filter2 {margin-top:5px;}
.category_swipe .filter2 ul {position: relative;right:0;top:5px;}
.category_swipe .filter2 ul li {width: 50px;text-align: center;float: left;position: relative;line-height: 20px; padding:2px 3px 0 1px;}
.category_swipe.isIOS .filter2 ul li {padding-top:0;}
.category_swipe .filter2 ul li.on {color: #932623;font-weight: bold;}
.category_swipe .filter2 ul li:after {content: '';width: 1px;height: 10px;background: #c9c9c9;position: absolute;right: 0;top: 5px;}
.category_swipe .filter2 ul li:last-child:after {display:none;}

.category_swipe .cate_sub {height:auto;background:#f6f6f6;}
.category_swipe .cate_sub ul{white-space: nowrap;/*overflow-y: hidden;*/width: 100%;}
.category_swipe .cate_sub ul li{width:100%;text-align:left;display: inline-block;}
.category_swipe .cate_sub ul li a {position:relative;display: inline-block;width: 50%;float: left; -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding: 10px; }
.category_swipe .cate_sub ul li a span{vertical-align:top;}
.category_swipe .cate_sub ul li > div{margin-right: 8px;overflow: hidden;background:#fff;border:1px solid #f1f1f1;border-bottom:none}
.category_swipe .cate_sub ul li a.btm {border-bottom:none; }
.category_swipe .cate_sub ul li a .on {font-weight:bold;color:#719bff;}
.category_swipe .cate_sub .bullet {position:relative; text-align: center;padding-bottom: 12px;padding-top: 10px;height:6px;}
.category_swipe .cate_sub .bullet li {display: inline-block;width: 6px;height: 6px;margin: 0 2px;border-radius: 100%;background: #7b7b7b;font-size: 0;vertical-align:top;}
.category_swipe .cate_sub .bullet li.active {background: #709cff;}
.category_swipe .cate_sub .close{position: absolute;right: 10px;bottom: 7px;padding: 1px 18px 0;}
.category_swipe .cate_sub .close:before, .category_swipe .cate_sub .close:after{content: "";display: block;width: 14px;height: 1px;background-color: #666;position: absolute;top: 10px;right: 0;}
.category_swipe .cate_sub .close:before{-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.category_swipe .cate_sub .close:after{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.cate_sub li a:nth-child(2n+1):after{content: "";display: block;position: absolute;left: 0;bottom: -1px;height: 1px;width: 200%;background-color: #f1f1f1;z-index: 1;pointer-events: none;-webkit-backface-visibility: hidden;backface-visibility: hidden;}

.location {position:relative;}
.location .img_box:before {content: "▼"; display: inline-block;font-size: 10px;margin-left: -2px;height: 22px;line-height: 12px;position: relative;vertical-align: top;}
.location select {width:100%;height:28px;font-size: 13px;color:#000;border-style:none;background-color:#e7e7e7;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-appearance: none;appearance: none;}
.location {position:relative;display:inline-block;margin-right:5px;padding-right:15px;max-width:50%;overflow:hidden;white-space:nowrap;height:22px; line-height:23px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.location:first-child {max-width:50%;}
.location span {display:inline-block;overflow:hidden;vertical-align:middle;}
.location:first-child span {width:100%;}
.location span.on {font-weight:bold;color:#719bff;}
.location .img_box {position:absolute;top:50%;right:0;width:7px;height:5px;margin-top:-3px;pointer-events:none;}
.isIOS .location .img_box {margin-top:0;}
.location .img_box i {margin:5px 8px 0 0}
.location .on+.img_box:before {content:"▲";color:#719bff}
.location.last{padding-left:15px}
.location.last:before, .location.last:after{  content: "";display: block;width: 6px;height: 1px;background-color: #999;position: absolute;left: 1px;}
.location.last:before{top: 9px;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.location.last:after{top: 13px;-webkit-transform: rotate(-45deg);transform: rotate(-223deg);}

/* goods list */
.unit_wrap{background:#fff; border-top:1px solid #dfdfdf}
.unit_area{position:relative;height:53px}
.ctg_select_wrap{width:100%; padding:0 14px 14px 14px;box-sizing: border-box; -webkit-box-sizing: border-box;background-color: #f0f0f0;}
.ctg_select_wrap select{width: 100%;height: 45px;padding: 0 26px 0 6px;border: 1px solid #9dadbd;  background: url(http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/arr_select.png) right center no-repeat #fff;
  background-size: 27px 7px;-webkit-appearance: none;appearance: none;cursor: pointer;color: #072449;font-size: 13px;border-radius:3px;-webkit-border-radius:2px}
.ctg_select_wrap.sort{ background: none;width: 146px;float: right;height: 34px;}
.ctg_select_wrap.sort select{margin-top:8px;height:40px}

.new_arrival_wrap ul li{float:left;width:50%;border-bottom: 1px solid #f5f5f5;background:#fff}
.new_arrival_wrap ul li:nth-child(odd){border-right:1px solid #f5f5f5}
.new_arrival_wrap ul li:nth-child(even){margin-right:-1px}
.new_arrival_wrap ul li a{display:block; text-align:left}
.new_arrival_wrap ul li a .image_wrap{width:100%; overflow:hidden; position:relative; padding-top:100%;}
.new_arrival_wrap ul li a .image_wrap img{position:absolute; top:0;padding:5%;}
.new_arrival_wrap{overflow:hidden;}
.new_arrival_wrap .info_wrap{margin:5px 10px 20px; height:65px}
.new_arrival_wrap .info_wrap span{display:block}
.new_arrival_wrap .info_wrap .goods_nm{overflow:hidden;height:36px;font-size:14px;color:#333;line-height:18px;}
.new_arrival_wrap .info_wrap .price{padding-top:10px;font-size:18px;color:#333;line-height:22px}
.new_arrival_wrap .info_wrap .price em{font-size:14px;}

.result_cnt {letter-spacing: -.7px;line-height: 45px;white-space: nowrap;position: absolute;left: 15px;top: 7px;font-size: 15px;color: #333;}
.result_cnt em{color:#719bff}
.benefit_ban a{display:block; width:100%;}

.unit_wrap .noprodlist{ font-size:18px; text-align:center; padding:150px 0;}