@charset "UTF-8";
.cont_minheight{background-color:#ebebeb;}
.titlearea {height: 35px; position: relative;}
.titlearea .title {text-align: center; font-size: 18px;color: #333;font-weight: bold; margin-top: -2px;}
.cont_minheight > section{background-color:#fff; margin:0 0 10px;padding: 25px 0 21px;}
#bestbrandSubHead > h2 { background-color: #14299e;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
#bestbrandSubHead > h2 span { background: url(http://image.lotte.com/lotte/mo2015/angular/brandshop/samsung_best_logo.png) no-repeat 0 0; background-size: 95px 33px; width: 95px;height: 33px; top:6px;}
.nav_swipe_wrap >.main_nav{background-color:#031e6f;}
.nav_swipe_wrap >.main_nav >ul >li >a{ color:#fff;}
.md_recomm .titlearea{border-bottom:1px solid #f5f5f5;}
#footer:before{height:0px;}
/* top banner */
.top_banner {position:relative;background: #ebebeb;padding-bottom: 10px;}
.indicator.roll{height:6px;margin:10px auto 5px auto;text-align:center;line-height:6px;font-size:0;}
.indicator.roll li{display:inline-block;overflow:hidden;width:6px;height:6px;margin:0 2px;line-height:6px;font-size:0;text-indent:100%;white-space:nowrap;background-color:#aaa;border-radius:100%}
.indicator.roll li.on{background-color:#1c1c1c}
.indicator.roll li span{line-height:6px;font-size:0;}

/*hot deal*/
.hotdeal_wrap div a{display:block;padding: 0px 10px;}

/*brandstory area*/
.cont_minheight > section.brand_story{margin-top:10px;padding:25px 0 0;}
.brandstory_inwrap {left: 0; transform: translateX(0) translateZ(0); -webkit-transform: translateX(0) translateZ(0);}
.brandstory_inwrap > div.brandstory_menu{overflow: hidden;position: relative;text-align: left;border-bottom:1px solid #f5f5f5}
.brandstory_inwrap > div > ul{white-space: nowrap; height:40px}
.brandstory_inwrap > div.w50 > ul, .brandstory_inwrap > div.w33 > ul{width:100%}
.brandstory_inwrap > div > ul > li{display: inline-block;position: relative;text-align:center}
.brandstory_inwrap > div.w50 > ul > li{width:50%}
.brandstory_inwrap > div.w33 > ul > li{width:33%}
.brandstory_inwrap > div > ul > li > a{display: inline-block; position: relative; margin: 0 15px;line-height:38px; color: #333; font-size: 15px;}
.brandstory_inwrap > div > ul > li > a.on{border-bottom:2px solid #0081c5; color:#0081c5;}
.brandstory_imgbn{width:100%; min-height:250px; background-size:cover;background-repeat: no-repeat;background-position: top;background:#fff}
.brandstory_textbn, .brandstory_product{margin:0 24px;}
.brandstory_textbn{margin-top:20px}
.brandstory_cont .brandstory_textbn p{font-size:14px;margin-top:25px; width:100%;height:18px; line-height:17px;word-break: keep-all; overflow: hidden;}
.brandstory_cont .brandstory_textbn .brandstory_subtit{font-size:23px;height:23px; line-height:23px; margin-top:10px;font-weight:bold;}
.brandstory_cont .brandstory_textbn .brandstory_subtit2{line-height: 23px;height: 23px;font-size: 15px;}
.brandstory_product{ margin-top:16px;position:relative; padding-bottom:20px;border-bottom:1px solid #f5f5f5;}
.brandstory_product a{display: block;position: relative;}
.brandstory_product .storyprod_img{width:145px;}
.brandstory_product .storyprod_cont{position:absolute; bottom:2px; left:155px;}
.brandstory_product .storyprod_cont p{ font-size:14px; font-weight:normal; max-height:38px; line-height:18px; overflow:hidden; word-break:keep-all;}
.brandstory_product .storyprod_cont p.storyprod_price{margin-top:4px;}
.brandstory_product .storyprod_cont p.storyprod_price span{font-weight:normal;font-size:14px}
.brandstory_product .storyprod_cont p.storyprod_price span em{font-weight:bold;font-size:18px}
.brandstory_product .storyprod_cont p.storyprod_price span.org_price{text-decoration: line-through;font-size:10px; color:#828282;}

/*brand story content*/
/*brand story  공통*/
.brandstory_imgbn .story_contents{padding:22px 0}
.brandstory_imgbn .story_contents h3{margin:0px 18px 8px; }
.brandstory_imgbn .story_contents p{font-size:14px;word-break: keep-all;line-height:20px;margin:0px 18px; }
.brandstory_imgbn .story_contents .txt1{font-size:15px;color:#333;margin-bottom:10px;font-weight:bold}
.brandstory_imgbn .story_contents .txt2{font-size:14px;color:#333}
.brandstory_imgbn .story_contents .brandstory_btn{display:block; width:204px;height:42px;margin:0 auto;margin-top:17px; text-align:center; border:1px solid #0181c5;
	 border-radius:20px; font-size:15px;color:#0181c5;box-sizing: border-box;-webkit-box-sizing: border-box;line-height: 40px;}
.brandstory_imgbn .story_contents .img_wrap{margin:17px auto 0; width:88.888%;}
/* youtube */
.brandstory_imgbn .story_contents .youtube_wrap{background-color:#333; position: relative; padding-bottom: 56.25%;}
.brandstory_imgbn .story_contents iframe{position:absolute}

/* img */
.brandstory_imgbn .story_contents .img_wrap a{display:block;}
/*테마추천 */
.cont_minheight > section.thema{margin:0}
.cont_minheight > section > ul{background:#ebebeb}
.promotionSwipe { margin: 0 auto;}
.promotionSwipe .swipeBox > li > div { padding: 0 5px;}

/*md recomm*/
.md_recomm_wrap ul li{float:left;width:50%;border-bottom: 1px solid #f5f5f5;}
.md_recomm_wrap ul li:nth-child(odd){border-right:1px solid #f5f5f5}
.md_recomm_wrap ul li:nth-child(even){margin-right:-1px}
.md_recomm_wrap ul li a{display:block; text-align:left}
.md_recomm_wrap ul li a .image_wrap{width:100%; overflow:hidden; position:relative; padding-top:100%;}
.md_recomm_wrap ul li a .image_wrap img{position:absolute; top:0;padding:5%;}
.md_recomm_wrap .info_wrap{margin:5px 10px 20px; height:65px}
.md_recomm_wrap .info_wrap span{display:block}
.md_recomm_wrap .info_wrap .goods_nm{overflow:hidden; max-height:36px; font-size:14px;color:#333;line-height:18px;}
.md_recomm_wrap .info_wrap .price{padding-top:10px;font-size:18px;color:#333;line-height:22px}
.md_recomm_wrap .info_wrap .price em{font-size:14px;}
.cont_minheight > section.md_recomm{overflow:hidden;padding-bottom:0px;}

/* best review */
.best_review{clear:both;padding:20px 0;}
.review_wrap{position:relative}
.review_wrap > ul > li{height:112px; margin-bottom:10px}
.review_wrap .thumb{position: absolute;left: 8px;overflow: hidden;border:1px solid #f1f1f1}
.review_wrap .thumb img{display: block;width: auto;max-width: 100%;height: 110px;margin: 0 auto;}
.review_wrap .info{ margin-left:130px; position:relative;padding: 20px 10px 0 0;height: 84px;font-size:14px}
.review_wrap .info p{display: block;max-height: 36px;line-height: 18px;overflow: hidden;white-space: normal;}
.review{height:34px;overflow:hidden;color:#aaa}
@media screen and (min-width:640px){
	.review_wrap > ul > li{height:202px}
	.review_wrap .thumb img{height:200px}
	.review_wrap .info{margin-left:225px;padding-top:60px}

}
@media screen and (min-width:870px){
	.review_wrap > ul > li{height:302px}
	.review_wrap .thumb img{height:300px;}
	.review_wrap .info{margin-left:325px;padding-top:120px}

}

/*issue benefit banner*/
.cont_minheight > section.issue_ban ul li{border-bottom:1px solid #ebebeb;}
.cont_minheight > section.issue_ban, .cont_minheight > section.benefit_ban{padding:0px;margin:0px;}
.issue_ban a, .benefit_ban a{display:block; width:100%;}

/* banner */
.bn_pagewrap {position: absolute;bottom: 35px;right: 27px;color:#fff;font-size: 14px;letter-spacing: -1px;border-radius: 10px;padding: 0 10px 0 8px;height: 20px;line-height: 20px;box-sizing:border-box}
.bn_pagewrap .paging .curpage {font-weight: 600;}
.bn_pagewrap .plus {display: none;width: 20px;height: 20px;text-align: center;background: rgba(0,0,0,0.5);border-radius: 10px;position: absolute;top:0; right: 0;}
.bn_pagewrap.all .paging {padding-right: 15px;}
.bn_pagewrap.all .plus {display: inline-block;}
.dim30{background: rgba(0,0,0,.3);}
/*프로모션배너*/
.unit_bn_promo {width:88.8889%;margin:0 auto;position: relative;-webkit-overflow-scrolling:touch}
.unit_bn_promo ul {position: absolute;font-size:0;top:0;}
.unit_bn_promo ul li {position: relative;display:inline-block;box-sizing: border-box;width:100%;border-right:1px solid #eee;background-color:#efefef;}
.unit_bn_promo ul li .imgwrap.cover_img {position: relative;}
.unit_bn_promo ul li .imgwrap img {position: absolute;top: 0;}
.unit_bn_promo.typeB.all {width:100%;padding:0 20px 38px;background:rgba(0,0,0,0.7);position: absolute;z-index: 10;top: 0;}
.unit_bn_promo.all.fixed {position: fixed;z-index: 10000;overflow-y: auto;height: 100vh;/*중요 추가*/-webkit-backface-visibility: hidden;/**/box-sizing:border-box}
.unit_bn_promo.typeB.all>p.tit {color: #fff;font-size: 18px;text-align: center;height: 57px;line-height: 57px;position: relative;}
.unit_bn_promo.typeB.all>p.tit a {position: absolute;top: 0;right: -15px;font-size: 0;display: inline-block;width: 50px;height: 57px;}
.unit_bn_promo.typeB.all>p.tit a:after {display: inline-block;content: "\00d7"; /* This will render the 'X', or '\274c' */font-size: 35px;line-height: 35px;position: absolute;right: 10px;top: 8px;color: #fff;}
.unit_bn_promo.typeB.all ul {position:relative;white-space: initial;/*font-size: initial;*/}
.unit_bn_promo.typeB.all ul li {margin-top: 1px;margin-left: initial;border-right-style: none;}
.unit_bn_promo.typeB.all ul li:first-child {margin-top: initial;}
.unit_bn_promo.typeB {padding-top: 49.7223%;}
.unit_bn_promo.typeB ul li .imgwrap {padding-top: 73.33%;}

/* video player */
.lv_wrap a{background:url('http://image.lotte.com/lotte/mobile/mobile_new/common/movie_play_btn_comm.png') no-repeat 0 0; background-size:307px 53px; width:53px;height:53px; display:block;
position:absolute;top:0;left:50%; text-align:center;margin-left:-27px;}
.lv_wrap{position:relative;height:0;padding-bottom:100%;text-align:center;background:#000}
.lv_wrap video{position:absolute;width:100%;height:100%;top:0;left:0}
.lv_wrap .play_cover,
.lv_wrap .stop_cover{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.3)}
.lv_wrap .click_cover{position:absolute;width:100%;height:100%;top:0;left:0}
.lv_wrap > a{position:absolute;top:50%}
.lv_wrap .btn_text{width:64px;padding-top:58px;text-align:center;font-weight:bold;font-size:13px;color:#fff}
.lv_wrap .btn_goods{left:50%;margin:-24px 0 0 50px;}
/* 재생 버튼 */
.lv_wrap .btn_start{margin:-24px 0 0 -32px;text-indent:-9999px;height:53px;width:64px;left:50%;background-position:-123px 0;}
/* 정지 버튼 */
.lv_wrap .btn_stop{left:50%;margin-top:-24px;margin-left:-100px;background-position:5px 0;}
/* 음소거 버튼 */
.lv_wrap .btn_volume {top:50%;left:50%;background-position:-249px 0;margin-top:-24px;margin-left:36px}
.lv_wrap a.btn_volume.mute{background-position:-186px 0;}
/* 상품보기 버튼 */
.lv_wrap .btn_goods{ background-position: -58px 0;}
/* 전체화면 버튼 */
.lv_wrap .btn_full{ text-indent: -9999px;height: 42px;width: 42px;left:initial; right: 10px;bottom: 10px;top:initial;margin: -42px 0 0 0;padding-top:0;background:url('http://image.lotte.com/lotte/mobile/mobile_new/common/movie_play_btn_full.png') no-repeat 0 0; background-size:42px 42px; width:42px; height:42px}
/* youtube iframe */
.img_wrap .vod_box{position:relative}
.img_wrap .player_wrap{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}
.img_wrap .player_wrap .player{position:absolute;top:0;left:0;width:100%;height:100%;}
.img_wrap .skt_app_desc{z-index:100;position:absolute;bottom:0;left:0;width:100%;padding:6px;line-height:20px;color:#fff;font-size:12px;background-color:rgba(0,0,0,.5);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.img_wrap .skt_app_desc .btn_close{overflow:hidden;position:absolute;top:0;right:0;width:52px;height:52px;white-space:nowrap;text-indent:100%;border:0;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}
.img_wrap .skt_app_desc .btn_close:after{content:"";display:block;position:absolute;top:8px;right:8px;width:14px;height:14px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/main/maintpml_etv_btn_close.png) 0 0 no-repeat;background-size:14px 14px;}
/* customize video */
.img_wrap .lv_wrap{padding-bottom:56.2%}
.brand_story .titlearea{height:45px}

.cont_minheight > section.benefit_ban{margin-top:10px}