@charset "UTF-8";

.app_bnr_wrap{height:50px;}

.sub_header_top_wrap{width:100%;height:48px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.sub_header_top_wrap .inner_wrap{position:relative;width:100%;height:48px;background-color:#719cff;z-index:50;
/* ios bandding 현상 제거 */
/* -ms-transform: translate(0, 0);
-webkit-transform: translate(0, 0);
transform: translate(0, 0); */
-ms-transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
.sub_header_top_wrap .inner_wrap.headerFixed{position:fixed;top:0px;left:0;width:100%;z-index:110;}
.sub_header_top_wrap.header_fixed{margin-bottom:47px;}
.sub_header_top_wrap:after{content:"";display:block;clear:both;}
.sub_header_top_wrap h1.logo{position:absolute;top:9px;left:79px;}
.sub_header_top_wrap h1.logo.hideBack{left:40px;}
.sub_header_top_wrap button{overflow:hidden;border:0;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline-color:transparent;
}
.sub_header_top_wrap .header_srh_wrap .srh_box{position:absolute;top:9px;right:105px;}

/*.sub_header_top_wrap .header_srh_wrap.app .srh_box{padding-right:70px;}*/
/*.sub_header_top_wrap .header_srh_wrap.app_speech_only .srh_box,
.sub_header_top_wrap .header_srh_wrap.app_stylesrh_only .srh_box{padding-right:40px;}*/
.sub_header_top_wrap .header_srh_wrap .srh_box >.btn_srh{display:block;overflow:hidden;position:relative;width:30px;height:30px;text-align:left;color:#aaa;white-space:nowrap;text-indent:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.btn_srh:after{content:"";display:block;position:absolute;top:5px;right:5px;width:19px;height:19px;background:transparent url(http://image.lotte.com/lotte/mo2017/common/header_spr_2017.png) 0 0 no-repeat;background-size:250px 95px;background-position:-80px -60px}/* 2016.12.06 requests */
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area{position:absolute;top:0;right:0;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic,
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh{display:inline-block;position:relative;height:30px;white-space:nowrap;text-indent:100%;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh.after_line:before{content:"";display:block;position:absolute;top:8px;right:35px;width:1px;height:18px;background-color:#e3e3e3;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic{width:34px;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh{right:0;width:36px;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic:after,
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh:after{content:"";display:block;position:absolute;top:0;left:0;background:transparent url(http://image.lotte.com/lotte/mobile/mobile_new/common/header_spr_2016.png) 0 0 no-repeat;background-size:250px 95px;}/* 2016.12.06 requests */
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic:after{display:block;position:absolute;top:6px;left:13px;width:19px;height:28px;background-position:-100px -30px;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh:after{display:block;position:absolute;top:7px;left:9px;width:27px;height:25px;background-position:-135px -30px;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area > .imgsrh_desc{position:absolute;right:0;bottom:-25px;width:130px;height:27px;padding-right:20px;line-height:27px;text-align:center;color:#fff;font-size:13px;letter-spacing:-1px;background-color:rgba(0,0,0,.75);border-radius:3px;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area > .imgsrh_desc i{content:"";display:block;overflow:hidden;position:absolute;top:-5px;right:12px;width:10px;height:5px;background:none;}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area > .imgsrh_desc i:after{content:"";display:block;position:absolute;top:1px;right:1px;width:8px;height:8px;background-color:rgba(0,0,0,.75);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area > .imgsrh_desc button{display:block;overflow:hidden;position:absolute;top:0;right:0;width:27px;height:27px;text-indent:100%;white-space:nowrap;border:none;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline:none;
}
.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area > .imgsrh_desc button:after{content:"";display:block;overflow:hidden;position:absolute;top:50%;right:7px;width:11px;height:11px;margin:-6px 0;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_stylepush.png) 0 0 no-repeat;background-size:11px 11px;}

.sub_header_top_wrap button.btn_main,
.sub_header_top_wrap button.btn_ctg,
.sub_header_top_wrap button.btn_cart,
.sub_header_top_wrap button.btn_prev{display:block;overflow:hidden;position:absolute;text-indent:100%;white-space:nowrap;}
.sub_header_top_wrap button.btn_main{width:105px;height:30px;}
.sub_header_top_wrap button.btn_ctg{top:9px;width:43px;height:30px;left:36px;}
.sub_header_top_wrap button.btn_ctg.hideBack{left:0px;}
.sub_header_top_wrap button.btn_cart{top:9px;width:29px;height:30px;right:67px;}
.sub_header_top_wrap button.btn_prev{top:9px;width:21px;height:30px;left:10px;}
.sub_header_top_wrap button.btn_main:after,
.sub_header_top_wrap button.btn_ctg:after,
.sub_header_top_wrap button.btn_cart:after,
.sub_header_top_wrap button.btn_prev:after{content:"";display:block;position:absolute;background:transparent url(http://image.lotte.com/lotte/mo2018/common/header_spr_2018.png) 0 0 no-repeat;background-size:250px 180px;}/* 2016.12.06 requests */
.sub_header_top_wrap button.btn_main:after{top:9px;left:2px;width:102px;height:12px;background-position:-135px -5px;}
.sub_header_top_wrap button.btn_ctg:after{top:8px;left:10px;width:20px;height:15px;background-position:-5px -30px;}
.sub_header_top_wrap button.btn_cart:after{top:4px;left:2px;width:25px;height:22px;background-position:-35px -30px;}
.sub_header_top_wrap button.btn_cart >i.cnt{position:absolute;top:0px;right:0px;min-width:10px;height:10px;line-height:10px;padding:4px 3px 2px;background-color:#fa7257;color:#fff;font-size:10px;z-index:1;border-radius:100%;text-indent:-1px;font-style:normal;letter-spacing:-1px;text-align:center;}
.sub_header_top_wrap .btn_super{position:absolute;top:0;right:10px;width:38px;color:#fff;font-size:11px;line-height:12px;padding:5px 0}
.sub_header_top_wrap i.reddot{position: absolute;top: 7px;left: 32px; width: 4px;height: 4px;background-color: #fa7257;z-index: 1;border-radius: 100%;}


.sub_header_top_wrap button.btn_prev:after{top:7px;left:0px;width:21px;height:16px;background-position:-110px -60px;}


@media screen and (max-width:359px){
    .sub_header_top_wrap .inner_wrap button.btn_main{width:88px;}
    .sub_header_top_wrap .inner_wrap button.btn_main:after{top:10px;left:2px;width:86px;height:10px;background-position:-150px -130px;}
}

/*@media screen and (min-width:640px) {
	.sub_header_top_wrap{padding:6px 60px 6px 195px;}
	.sub_header_top_wrap button.btn_ctg,
	.sub_header_top_wrap button.btn_cart{top:6px;width:49px;height:37px;}
	.sub_header_top_wrap button.btn_ctg:after{top:10px;left:13px;}
	.sub_header_top_wrap button.btn_cart:after{top:6px;left:12px;}
	.sub_header_top_wrap button.btn_cart >i.cnt{top:2px;right:8px;}
	.sub_header_top_wrap >h1.logo{top:6px;left:85px;}
	.sub_header_top_wrap button.btn_main{width:146px;height:37px;}
	.sub_header_top_wrap button.btn_main:after{top:11px;left:15px;width:119px;height:13px;background-position:-5px -5px;}
	.sub_header_top_wrap .header_srh_wrap.app >.srh_box{padding-right:80px;}
	.sub_header_top_wrap .header_srh_wrap.app_speech_only >.srh_box,
	.sub_header_top_wrap .header_srh_wrap.app_stylesrh_only >.srh_box{padding-right:40px;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.btn_srh{height:35px;line-height:35px;padding-left:30px;text-indent:0}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.btn_srh:before{content:"";display:block;position:absolute;top:10px;left:8px;width:16px;height:16px;background:transparent url(http://image.lotte.com/lotte/mobile/mobile_new/common/header_spr_2016.png) -70px -30px no-repeat;background-size:250px 95px;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.btn_srh:after{display:none;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area{width:80px;}
	.sub_header_top_wrap .header_srh_wrap.app_speech_only >.srh_box >.app_btn_area,
	.sub_header_top_wrap .header_srh_wrap.app_stylesrh_only >.srh_box >.app_btn_area{width:39px;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area:after{content:"";display:block;clear:both;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh.after_line:before{top:50%;right:38px;margin:-9px 0;}

	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic,
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh{display:block;float:left;width:40px;height:35px;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_mic:after{top:3px;left:13px;}
	.sub_header_top_wrap .header_srh_wrap >.srh_box >.app_btn_area >.btn_stylesrh:after{top:5px;left:9px;}
	
	.sub_header_top_wrap i.reddot{top:8px; left: 36px;} 
}*/