<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴</title>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />

	<!-- 기존 css -->
	<link rel="stylesheet" type="text/css" href="common.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/layer/main_popup.css"/>
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/layer/coupon_layer.css"/>
	<!-- 기존 css -->

	<!--<link rel="stylesheet" type="text/css" href="unit_list_01.css"/>-->
	<!--<link rel="stylesheet" type="text/css" href="unit_2017.css">-->
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/main/main_2017.css"><!-- 신규 main css-->
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/brand/brandsearch.css"><!-- 신규 brandsearch css-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- 코딩용 angular js -->

</head>
<body ng-controller="MainCtrl">
	<!-- -->
	<div id="wrapper">
		<!-- main_header -->
		<section id="main_header" class="main_header app_bnr">
			<div class="header_wrap fixed">
				<div class="app_bnr_wrap" style="background-color: #405c9e" app-down-bnr="" ng-if="appDownBnrFlag">
					<a ng-click="appDown();" class="btn_appdown"><img alt="롯데닷컴 앱 다운로드" ng-src="http://image.lotte.com/upload/display/corner/0_55155_47683_30_13010122_5.jpg" src="http://image.lotte.com/upload/display/corner/0_55155_47683_30_13010122_5.jpg"></a>
					<button ng-click="appDownBnrClose();" class="btn_close">앱다운로드 배너 그만보기</button>
				</div>
				<div class="inner_wrap">
					<div class="header_top_wrap">
						<h1 class="logo"><button ng-click="gotoMainHeader()" class="btn_main">LOTTE.COM</button></h1>
						<button ng-click="showSideCtgHeader()" class="btn_ctg">카테고리</button>
						<button ng-click="gotoCart()" class="btn_cart">장바구니<!-- ngIf: cartCount && cartCount > 0 --></button>
					</div>
					<div class="header_srh_wrap web">
						<div class="srh_box">
							<label ng-click="showSrhLayerHeader()" for="keyword" class="btn_srh"></label>
							<!-- ngIf: appObj.isApp -->
						</div>
					</div>
					<div id="gnb" class="nav_swipe_wrap">
						<nav class="main_nav">
							<ul>
								<li class="on"><a href="#">이거어때</a></li>
								<li><a href="#">BIG딜</a></li>
								<li>
									<span class="cate_flag">HOT</span>
									<a href="#">선물포장</a>
								</li>
								<li>
									<span class="cate_flag">HOT</span>
									<a href="#">10%적립</a>
								</li>
								<li><a href="#">백화점</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- main_header -->

		<!--서브헤더-->
		<header id="head_sub" ng-show="subTitle" ng-class="{wine: screenData.isWine &amp;&amp; !screenData.isComm, fixed: subHeaderFixed}">
			<h2 ng-class="{search:searchCntTxt}">
				<span ng-if="specHeadLogoLink(subTitle)=='' &amp;&amp; !isBrandProdList">
					<span class="title" ng-bind="subTitle">브랜드 찾기/추가</span>
				</span>
			</h2>
			<p class="prev "><a ng-click="gotoPrepage()">이전</a></p>
		</header>
		<!--//서브헤더-->

		<!-- container_wrap -->
		<div class="container_wrap">
			<section id="container">
				<div class="cont_wrap tmpl_brand">

					<!-- 퍼블리싱 시작, 작업자: 김기용-->
					<div class="brd_wrap">
						<section class="ctg_list">
							<!--<h3 class="tit">브랜드</h3>-->
							<section class="brdsrh_wrap">
								<form class="brdsrh_frm">
									<fieldset>
										<legend>검색</legend>
										<!--검색 후 상태표시 class: searched-->
										<input id="srhBrdKeyword" name="srhBrdKeyword" type="text" placeholder="브랜드명을 검색하세요" autocomplete="off" autocapitalize="off" autocorrect="off" required>
										<button ng-click="srhBrand()" type="submit" class="btn_srh">검색</button>
									</fieldset>
								</form>

								<div class="unit unit_tabmenu brand_search">
									<ul>
										<li class="menu1 on"><a href="#none"><span>ㄱㄴㄷ</span></a></li>
										<li class="menu2 "><a href="#none"><span>ABC</span></a></li>
									</ul>
								</div>
								<nav class="brdsrh_key_list">
									<ul class="key kor">
										<li><button class="btn_key">ㄱ</button></li>
										<li class="on"><button class="btn_key">ㄴ</button></li>
										<li><button class="btn_key">ㄷ</button></li>
										<li><button class="btn_key">ㄹ</button></li>
										<li><button class="btn_key">ㅁ</button></li>
										<li><button class="btn_key">ㅂ</button></li>
										<li><button class="btn_key">ㅅ</button></li>
										<li><button class="btn_key">ㅇ</button></li>
										<li><button class="btn_key">ㅈ</button></li>
										<li><button class="btn_key">ㅊ</button></li>
										<li><button class="btn_key">ㅋ</button></li>
										<li><button class="btn_key">ㅌ</button></li>
										<li><button class="btn_key">ㅍ</button></li>
										<li><button class="btn_key">ㅎ</button></li>
									</ul>
								</nav>

								<div class="unit unit_tabmenu brand_search">
									<ul>
										<li class="menu1"><a href="#"><span>ㄱㄴㄷ</span></a></li>
										<li class="menu2 on"><a href="#"><span>ABC</span></a></li>
									</ul>
								</div>
								<nav class="brdsrh_key_list">
									<ul class="key eng">
										<li><button class="btn_key">A</button></li>
										<li class="on"><button class="btn_key">B</button></li>
										<li><button class="btn_key">C</button></li>
										<li><button class="btn_key">D</button></li>
										<li><button class="btn_key">E</button></li>
										<li><button class="btn_key">F</button></li>
										<li><button class="btn_key">G</button></li>
										<li><button class="btn_key">H</button></li>
										<li><button class="btn_key">I</button></li>
										<li><button class="btn_key">J</button></li>
										<li><button class="btn_key">K</button></li>
										<li><button class="btn_key">L</button></li>
										<li><button class="btn_key">M</button></li>
										<li><button class="btn_key">N</button></li>
										<li><button class="btn_key">O</button></li>
										<li><button class="btn_key">P</button></li>
										<li><button class="btn_key">Q</button></li>
										<li><button class="btn_key">R</button></li>
										<li><button class="btn_key">S</button></li>
										<li><button class="btn_key">T</button></li>
										<li><button class="btn_key">U</button></li>
										<li><button class="btn_key">V</button></li>
										<li><button class="btn_key">W</button></li>
										<li><button class="btn_key">X</button></li>
										<li><button class="btn_key">Y</button></li>
										<li><button class="btn_key">Z</button></li>
									</ul>
								</nav>
							</section>
							<section class="brdsrh_result_wrap">
								<h4 class="tit">'<b class="select_search_key">ㄱ</b>' 검색결과 총 <b class="searched_cnt">486</b>건</h4>
								<ul class="result_list">
									<li><a><em>9독</em> <span>&nbsp;</span></a></li>
									<li class="on"><a><em>GOLDSHELL</em> <span>&nbsp;</span></a></li>
									<li><a><em>가가밀라노</em> <span>&nbsp;</span></a></li>
									<li><a><em>가고시마</em> <span>&nbsp;</span></a></li>
									<li><a><em>가구거리</em> <span>&nbsp;</span></a></li>
									<li><a><em>가구랜드</em> <span>즐겨찾기</span></a></li>
									<li><a><em>가구레시피</em> <span>즐겨찾기</span></a></li>
									<li><a><em>가구마트</em> <span>즐겨찾기</span></a></li>
									<li><a><em>가구밸리</em> <span>즐겨찾기</span></a></li>
									<li><a><em>가구야</em> <span>즐겨찾기</span></a></li>
									<li><a><em>가구엠디</em> <span>즐겨찾기</span></a></li>
								</ul>
							</section>

							<div class="header_alert_pop">
								<!--브랜드 즐겨찾기-->
								<!--<p class="msg">브랜드 즐겨찾기는 최대 50개까지 가능합니다.</p>-->
								<p class="msg"><span>코치</span>가 브랜드즐겨찾기에 추가되었습니다.</p>

								<!--장바구니 담기-- >
								<p class="msg">장바구니에 담겼습니다.</p>
								<p class="btn"><a>장바구니 바로가기</a></p>
								<!---->
							</div>
						</section>
					</div>

				</div>
			</section>
		</div>
		<!-- //container_wrap -->


		<!-- footer -->
		<footer id="footer">
			<ul class="menu01">
				<li><a class="ng-binding" href="#">마이롯데</a><i></i>	</li>
				<li><a ng-click="pcClick()">PC버전</a><i></i></li>
				<li><a href="#">장바구니</a><i></i></li>
				<li><a href="#">고객센터</a><i></i></li>
				<li><a href="#" ng-click="loginProc()" ng-bind="(loginInfo.isLogin)?'로그아웃':'로그인'" class="ng-binding">로그아웃</a></li>
			</ul>
			<div class="info">
				<ul class="menu02">
					<li><strong>(주)롯데닷컴</strong></li>
					<li><a ng-click="ftcClick()">사업자정보확인</a></li>
					<li><a ng-click="forwardClick()">채무지급보증안내</a></li>
				</ul>
				<p class="add">
					<span class="addFirst">대표이사 : 김형준</span>
					<span class="line">서울시 중구 을지로 158 10층(을지로4가, 삼풍빌딩)</span>
					<span class="line">사업자등록번호 : 101-81-52964 통신판매업신고 : 중구 제00402호</span>
					<span class="line">고객만족센터 : <a href="tel:1577-1110">1577-1110</a>  webmaster@lotte.com</span>
					<span class="line">개인정보보호책임자 : 윤상선</span> <span class="line">청소년보호책임자 : 김찬기</span>
					<span>호스팅 사업자 : (주)롯데닷컴</span>
				</p>
			</div>
			<div class="menu03">
				<ul>
					<li><a href="#">이용약관</a></li>
					<li><a href="#"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#">청소년보호정책</a></li>
				</ul>
			</div>
			<div class="capyright">Copyright © LOTTE.com, Inc. All rights Reserved.</div>
		</footer>
		<!-- //footer -->

		<!-- quick_btn -->
		<div class="quick_btn">
			<div ng-show="visible">
				<a class="btn_back ng-hide" ng-click="gotoPrepageSide()" ng-show="quickBackBtn">뒤로</a><a class="btn_top" ng-click="gotoTop()">위로</a>
			</div>
			<a class="btn_talk" ng-click="gotoTalk()">톡상담</a>
		</div>
		<!-- quick_btn -->
	</div>

	<!-- lotteActionbar -->
	<section id="lotteActionbar" class="actionbar" ng-show="!appObj.isApp &amp;&amp; !actionbarHideFlag">
		<ul class="actionbar_wrap">
			<li class="home on" ng-class="{on:cur_pageid == 1 &amp;&amp; !isShowSideCtg}"><button ng-click="gotoMainFooter()" class="btn_main">홈</button></li>
			<li class="ctg" ng-class="{on: isShowSideCtg}"><button ng-click="showSideCtgFooter()" class="btn_ctg">카테고리</button></li>
			<li class="order" ng-class="{on:cur_pageid == 2}"><button ng-click="gotoOrderLstFooter()" class="btn_order">주문배송</button></li>
			<li class="mylotte" ng-class="{on:cur_pageid == 3}"><button ng-click="gotoMyPageFooter()" class="btn_mylotte">마이롯데</button></li>
		</ul>
	</section>
	<!-- //lotteActionbar -->
</body>
</html>