<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴</title>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />

	<!-- 기존 css -->
	<link rel="stylesheet" type="text/css" href="common.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/layer/main_popup.css"/>
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/layer/coupon_layer.css"/>
	<!-- 기존 css -->

	<!--<link rel="stylesheet" type="text/css" href="unit_list_01.css"/>-->
	<!--<link rel="stylesheet" type="text/css" href="unit_2017.css">-->
	<link rel="stylesheet" type="text/css" href="../../lotte/resources_dev/main/main_2017.css"><!-- 신규 main css-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- 코딩용 angular js -->

</head>
<body ng-controller="MainCtrl">
	<!-- -->
	<div id="wrapper">
		<!-- main_header -->
		<!--<section id="main_header" class="main_header app_bnr">
			<div class="header_wrap fixed">
				<div class="app_bnr_wrap" style="background-color: #405c9e" app-down-bnr="" ng-if="appDownBnrFlag">
					<a ng-click="appDown();" class="btn_appdown"><img alt="롯데닷컴 앱 다운로드" ng-src="http://image.lotte.com/upload/display/corner/0_55155_47683_30_13010122_5.jpg" src="http://image.lotte.com/upload/display/corner/0_55155_47683_30_13010122_5.jpg"></a>
					<button ng-click="appDownBnrClose();" class="btn_close">앱다운로드 배너 그만보기</button>
				</div>
				<div class="inner_wrap">
					<div class="header_top_wrap">
						<h1 class="logo"><button ng-click="gotoMainHeader()" class="btn_main">LOTTE.COM</button></h1>
						<button ng-click="showSideCtgHeader()" class="btn_ctg">카테고리</button>
						<button ng-click="gotoCart()" class="btn_cart">장바구니&lt;!&ndash; ngIf: cartCount && cartCount > 0 &ndash;&gt;</button>
					</div>
					<div class="header_srh_wrap web">
						<div class="srh_box">
							<label ng-click="showSrhLayerHeader()" for="keyword" class="btn_srh ng-binding"></label>
							&lt;!&ndash; ngIf: appObj.isApp &ndash;&gt;
						</div>
					</div>
					<div id="gnb" class="nav_swipe_wrap">
						<nav class="main_nav">
							<ul>
								<li class="on"><a href="#none">이거어때</a></li>
								<li><a href="#none">BIG딜</a></li>
								<li>
									<span class="cate_flag ng-binding ng-scope">HOT</span>
									<a href="#none">선물포장</a>
								</li>
								<li>
									<span class="cate_flag ng-binding ng-scope">HOT</span>
									<a href="#none">10%적립</a>
								</li>
								<li><a href="#none">백화점</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>-->
		<!-- main_header -->

		<!-- container_wrap -->
		<div class="container_wrap">
			<section id="container">
				<div class="cont_wrap tpml_normal">

					<!-- 퍼블리싱 시작, 작업자: 김기용-->
					<div class="moduleCon">


						<div class="gTop_title">
							<p>상품+브랜드 로고형</p>
						</div>
						<div class="unit unit_prod_logo">
							<ul>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="" src="../images/main/u_prodnlogo_03.png"></p>
										<!--브랜드명-->
										<p class="brandlogo"><img src="../images/main/u_prodnlogo_09_2.png" alt="LG전자"></p>
										<!--상품명-->
										<p class="prodname">ALL직수 슬림정수기<br/> 퓨리케어</p>
									</a>
								</li>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="" src="../images/main/u_prodnlogo_05.png"></p>
										<!--브랜드명-->
										<p class="brandlogo"><img src="../images/main/u_prodnlogo_10_2.png" alt="삼성저낮"></p>
										<!--상품명-->
										<p class="prodname">깨끗한 스마트 세탁<br/> 애드워시</p>
									</a>
								</li>
							</ul>
						</div>


						<div class="gTop_title">
							<p>상품 4개형</p>
						</div>
						<div class="unit unit_prod_4">
							<ul>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<!--브랜드명-->
										<p class="brandname">바닐라비</p>
										<!--상품명-->
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<!--가격-->
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
							</ul>
						</div>



						<div class="gTop_title">
							<p>연령별 추천형</p>
						</div>
						<div class="unit unit_bn_svcB age">
							<ul>
								<li class="on">
									<div class="imgwrap"><img src="../images/main/u_svcbnB_02.jpg"></div>
									<div class="tit_wrap">
										<p class="tit">베이비</p><p class="sub_tit">(0~24개월)</p>
									</div>
								</li>
								<li class="">
									<div class="imgwrap"><img src="../images/main/u_svcbnB_03.jpg"></div>
									<div class="tit_wrap">
										<p class="tit">토들러</p><p class="sub_tit">(24개월~8세)</p>
									</div>
								</li>
								<li>
									<div class="imgwrap"><img src="../images/main/u_svcbnB_04.jpg"></div>
									<div class="tit_wrap">
										<p class="tit">주니어</p><p class="sub_tit">(9세~)</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="unit unit_prod_4">
							<ul>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<!--브랜드명-->
										<p class="brandname">바닐라비</p>
										<!--상품명-->
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<!--가격-->
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
							</ul>
						</div>
						<div class="btnMore">
							<span class="btnArea"><a href="#more"><span>더보기</span></a></span>
						</div>
						<div class="gTop_title">
							<span>베스트</span>
							<p>많이 구매한 공기청정기</p>
						</div>
						<div lotte-slider="" class="swipe_wrap" style="overflow-x:scroll;">
							<ul class="prd_unit_type01_line">
								<li>
									<a href="#none">
										<div class="imageCon">
											<img src="http://image.lotte.com/goods/42/67/57/26/3/326576742_1_280.jpg" alt="">
											<span class="rkNum">1</span>
										</div>
										<div class="titleCon">
											<div class="name">[코웨이(렌탈)] 코웨이 듀얼파워 AP-1515D 실버</div>
											<div class="ti"><strong>198,600</strong>원</div>
										</div>
									</a>
								</li><li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/56/96/59/45/3/345599656_1_280.jpg" alt="">
										<span class="rkNum">2</span>
									</div>
									<div class="titleCon">
										<div class="name">[삼성전자] 블스카이 5000 공기청정기 </div>
										<div class="ti"><strong>208,100</strong>원</div>
									</div>
								</a>
							</li><li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/13/19/54/38/3/338541913_1_280.jpg" alt="">
										<span class="rkNum">3</span>
									</div>
									<div class="titleCon">
										<div class="name">[엘지전자(LG전자)] 퓨리케어 360° 공기청정기 </div>
										<div class="ti"><strong>316,000</strong>원</div>
									</div>
								</a>
							</li><li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/05/60/63/59/2/259636005_1_280.jpg" alt="">
										<span class="rkNum">4</span>
									</div>
									<div class="titleCon">
										<div class="name">[다이슨] DP-01 공기청정기</div>
										<div class="ti"><strong>620,150</strong>원</div>
									</div>
								</a>
							</li><li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/42/67/57/26/3/326576742_1_280.jpg" alt="">
										<span class="rkNum">5</span>
									</div>
									<div class="titleCon">
										<div class="name">[코웨이(렌탈)] 코웨이 듀얼파워 AP-1515D 실버</div>
										<div class="ti"><strong>198,600</strong>원</div>
									</div>
								</a>
							</li><li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/56/96/59/45/3/345599656_1_280.jpg" alt="">
										<span class="rkNum">6</span>
									</div>
									<div class="titleCon">
										<div class="name">[삼성전자] 블스카이 5000 공기청정기 </div>
										<div class="ti"><strong>208,100</strong>원</div>
									</div>
								</a>
							</li><li class="bestMore">
								<a href="#bestMore">
									<p>베스트<br>더보기</p>
								</a>
							</li>
							</ul>
						</div>



						<div class="gTop_title">
							<p>3+4개형</p>
						</div>
						<div class="unit unit_bn_svcB">
							<ul>
								<li class="on">
									<div class="imgwrap cover_img"><img src="../images/main/u_svcbnB_02.jpg"></div>
									<div class="tit_wrap"><p class="tit">#시크</p></div>
								</li>
								<li class="">
									<div class="imgwrap cover_img"><img src="../images/main/u_svcbnB_03.jpg"></div>
									<div class="tit_wrap"><p class="tit">#러블리</p></div>
								</li>
								<li>
									<div class="imgwrap cover_img"><img src="../images/main/u_svcbnB_04.jpg"></div>
									<div class="tit_wrap"><p class="tit">#베이직</p></div>
								</li>
							</ul>
						</div>
						<div class="unit unit_prod_4">
							<ul>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<!--브랜드명-->
										<p class="brandname">바닐라비</p>
										<!--상품명-->
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<!--가격-->
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
							</ul>
						</div>




						<div class="gTop_title">
							<p>N+4개형</p>
						</div>
						<div class="unit unit_cate bigdeal">
							<div class="cate">
								<ul>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_03.png" alt=""></span>
											<span class="tit">뷰티/헬스</span>
										</a>
									</li>
									<li class="on">
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">가방/슈즈/ACC</span>
										</a>
									</li>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">패션의류</span>
										</a>
									</li>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">스포츠/취미</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="unit unit_prod_4">
							<ul>
								<li>
									<a href="#none">
										<!--상품이미지-->
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<!--브랜드명-->
										<p class="brandname">바닐라비</p>
										<!--상품명-->
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<!--가격-->
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
								<li>
									<a href="#none">
										<p class="imgwrap"><img alt="[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set" src="http://image.lotte.com/goods/56/98/16/48/3/348169856_3_280.jpg"></p>
										<p class="brandname">바닐라비</p>
										<p class="prodname">[홈쇼핑HOT] 기대 그 이상, 가격또한 대만족! ★ 블라우스/니트/티셔츠/가디건/코트/팬츠/set</p>
										<p class="price">8,720<em>원<em class="plan_prod_limit ng-scope">~</em></em></p>
									</a>
								</li>
							</ul>
						</div>




						<div class="gTop_title">
							<p>5+6개형</p>
						</div>
						<div class="unit unit_cate bigdeal">
							<div class="cate">
								<ul>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_03.png" alt=""></span>
											<span class="tit">뷰티/헬스</span>
										</a>
									</li>
									<li class="on">
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">가방/슈즈/ACC</span>
										</a>
									</li>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">패션의류</span>
										</a>
									</li>
									<li>
										<a href="#none">
											<span class="img_wrap"><img src="../images/main/t_cate_05.png" alt=""></span>
											<span class="tit">스포츠/취미</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<ul class="prd_unit_type01 float_ul">
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/36/44/02/30/3/330024436_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[삼성전자] 버블샷 드럼세탁기 WD1</div>
										<div class="ti"><strong>1,171,000</strong>원</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/06/91/32/08/3/308329106_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[엘지전자] 울트라 HD TV 43UH6210</div>
										<div class="ti"><strong>32,000</strong>원</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/03/01/99/16/2/216990103_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[휴롬][본사직영] 프리미엄 원액기 </div>
										<div class="ti"><strong>301,320</strong>원</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/00/45/66/60/3/360664500_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[미소] 신상품 국내생산 미소 무드보틀</div>
										<div class="ti"><strong>30,800</strong>원</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/74/28/88/52/3/352882874_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[삼성전자] 노트북 5 NT500R3M-K24</div>
										<div class="ti"><strong>818,800</strong>원</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#none">
									<div class="imageCon">
										<img src="http://image.lotte.com/goods/04/88/10/62/3/362108804_1_280.jpg" alt="">
									</div>
									<div class="titleCon">
										<div class="name">[삼성전자] 액티브워시 16kg 일반세탁기</div>
										<div class="ti"><strong>810,450</strong>원</div>
									</div>
								</a>
							</li>
						</ul>
						<div class="btnMore">
							<span class="btnArea"><a href="#more"><span>더보기</span></a></span>
						</div>



					</div>
					<!-- 퍼블리싱 끝-->

				</div>
			</section>
		</div>
		<!-- //container_wrap -->

		<!-- footer -->
		<footer id="footer">
			<ul class="menu01">
				<li><a class="ng-binding" href="#none">마이롯데</a><i></i>	</li>
				<li><a ng-click="pcClick()">PC버전</a><i></i></li>
				<li><a href="#none">장바구니</a><i></i></li>
				<li><a href="#none">고객센터</a><i></i></li>
				<li><a href="#none" ng-click="loginProc()" ng-bind="(loginInfo.isLogin)?'로그아웃':'로그인'" class="ng-binding">로그아웃</a></li>
			</ul>
			<div class="info">
				<ul class="menu02">
					<li><strong>(주)롯데닷컴</strong></li>
					<li><a ng-click="ftcClick()">사업자정보확인</a></li>
					<li><a ng-click="forwardClick()">채무지급보증안내</a></li>
				</ul>
				<p class="add">
					<span class="addFirst">대표이사 : 김형준</span>
					<span class="line">서울시 중구 을지로 158 10층(을지로4가, 삼풍빌딩)</span>
					<span class="line">사업자등록번호 : 101-81-52964 통신판매업신고 : 중구 제00402호</span>
					<span class="line">고객만족센터 : <a href="tel:1577-1110">1577-1110</a>  webmaster@lotte.com</span>
					<span class="line">개인정보보호책임자 : 윤상선</span> <span class="line">청소년보호책임자 : 김찬기</span>
					<span>호스팅 사업자 : (주)롯데닷컴</span>
				</p>
			</div>
			<div class="menu03">
				<ul>
					<li><a href="#none">이용약관</a></li>
					<li><a href="#none"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#none">청소년보호정책</a></li>
				</ul>
			</div>
			<div class="capyright">Copyright © LOTTE.com, Inc. All rights Reserved.</div>
		</footer>
		<!-- //footer -->

		<!-- quick_btn -->
		<div class="quick_btn">
			<div ng-show="visible" class="">
				<a class="btn_back ng-hide" ng-click="gotoPrepageSide()" ng-show="quickBackBtn">뒤로</a><a class="btn_top" ng-click="gotoTop()">위로</a>
			</div>
			<a class="btn_talk" ng-click="gotoTalk()">톡상담</a>
		</div>
		<!-- quick_btn -->
	</div>

	<!-- lotteActionbar -->
	<section id="lotteActionbar" class="actionbar" ng-show="!appObj.isApp &amp;&amp; !actionbarHideFlag">
		<ul class="actionbar_wrap">
			<li class="home on" ng-class="{on:cur_pageid == 1 &amp;&amp; !isShowSideCtg}"><button ng-click="gotoMainFooter()" class="btn_main">홈</button></li>
			<li class="ctg" ng-class="{on: isShowSideCtg}"><button ng-click="showSideCtgFooter()" class="btn_ctg">카테고리</button></li>
			<li class="order" ng-class="{on:cur_pageid == 2}"><button ng-click="gotoOrderLstFooter()" class="btn_order">주문배송</button></li>
			<li class="mylotte" ng-class="{on:cur_pageid == 3}"><button ng-click="gotoMyPageFooter()" class="btn_mylotte">마이롯데</button></li>
		</ul>
	</section>
	<!-- //lotteActionbar -->
</body>
</html>