@charset "UTF-8";
#lotteActionbar a:before,
#lotteActionbar label:before,
.my_lotte .user_mypage p a:after,
.my_lotte .user_point a:before,
.my_lotte .user_link li .bull:after,
.my_lotte .lately .more:before,
.my_lotte .user_alram a:before,
.my_lotte .user_login .login:before,
.side_mylotte i,
.my_lotte .phone .app:before{display:inline-block;color:transparent;background:url('http://image.lotte.com/lotte/mo2015/angular/layout_01_new.png') no-repeat; background-size:400px 400px;margin-bottom:3px;vertical-align:middle;}
#lotteActionbar:before{display:block;content:'';clear:both;}
#lotteActionbar{box-sizing:border-box;-webkit-box-sizing:border-box;position:fixed;bottom:0; width:100%;height:50px;background:#fff;border-top:1px solid #aaa;z-index:9000;
/*transition:all 0.2s ease-in;
-o-transition:all 0.2s ease-in;
-moz-transition:all 0.2s ease-in;
-webkit-transition:all 0.2s ease-in;*/
}
html.search_act #lotteActionbar {bottom:-60px;}
#lotteActionbar ul{background:#fff;}
#lotteActionbar ul:after{display:block;content:'';clear:both;}
#lotteActionbar ul li{float:left;width:17%}
#lotteActionbar ul li a{position:relative;display:block;height:48px;padding:2px 0 0 0;font-size:12px;color:#999;text-align:center;letter-spacing:-0.4px}
#lotteActionbar ul li label{position:relative;display:block;height:48px;padding:2px 0 0 0;font-size:12px;color:#999;text-align:center;letter-spacing:-0.4px}
#lotteActionbar ul li.home{width:16%}
#lotteActionbar ul li.my{width:16%;}
#lotteActionbar a:before{display:block;height:30px;content:'';margin:0 auto}
#lotteActionbar label:before{display:block;height:30px;content:'';margin:0 auto}
#lotteActionbar .home a:before{width:29px;background-position:0 -33px}
#lotteActionbar .category a:before{width:24px;background-position:-35px -33px}
#lotteActionbar .search a:before{width:27px;background-position:-66px -33px}
#lotteActionbar .search input{visibility:hidden; position:absolute; top:0; left:0; width:65px; height:50px; border:0 none; margin:0; padding:0; background-color:transparent; }
#lotteActionbar .search label:before{width:27px;background-position:-66px -33px}
#lotteActionbar .cart a:before{width:30px;background-position:-99px -33px}
#lotteActionbar .order a:before{width:33px;background-position:-135px -33px}
#lotteActionbar .my a:before{width:25px;background-position:-176px -33px}
#lotteActionbar .active a{color:#fff;background-color:#719cff;}
#lotteActionbar .my.active a:before{background-position:-176px -134px !important;}

#lotteActionbar .category.on a{color:#fff;background-color:#719cff;}
#lotteActionbar .category.on a:before{width:24px;background-position:-35px -134px;}
#lotteActionbar .my.on a{color:#fff;background-color:#719cff;}
#lotteActionbar .my.on a:before{background-position:-176px -134px !important;}

#lotteActionbar ul li span{position:absolute;top:2px;left:50%;display:block;width:22px;height:22px;margin-left:7px;background:#719cff;border-radius:100%;color:#fff;line-height:22px;}
