@charset "UTF-8";
#head {position:relative;width:100%;height:45px;background:#fff;z-index:50;}

#head ul li i{display:inline-block;color:transparent;background:url('http://image.lotte.com/lotte/mo2015/angular/layout_04_new.png') no-repeat; background-size:300px 300px;margin-bottom:3px;vertical-align:middle;font-size:0;}
#head .logo a{display:block;width:122px;height:45px;padding:0 5px;}
#head .logo{position:absolute;top:0;left:37px;z-index:1;}
#head .logo i{display:block;overflow:hidden;width:122px;height:45px;text-indent:100%;background:transparent url("http://image.lotte.com/lotte/mo2015/angular/common/logo_lotte_default_20151224.png") 0 0 no-repeat;background-size:122px 45px;}

#head ul:after{display:block;content:'';clear:both;}
#head ul{position:relative;width:100%;height:45px;}
#head ul li.category{position:absolute;top:0;left:0;width:35px; height:33px;}
#head ul li.category a{display:block; height:100%; margin-top:7px; padding:5px; width:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#head ul li.search{position:relative;margin-left:170px;padding:9px 10px 0 0;}
#head ul li.search:after{content:"";display:block;clear:both;}
#head ul li.search.app_android{margin-right:35px;}
#head ul li.category i{width:23px;height:20px;background-position:0 0}
#head ul li.search a{display:block;width:100px;height:27px;padding:0 6px 0 0;background:#e9e9e9;border-radius:14px;text-align:right;line-height:27px;}
#head ul li.search label{position:relative;display:block;float:right;max-width:250px;width:100%;height:27px;padding:0 6px 0 0;background:#e9e9e9;border-radius:14px;text-align:right;line-height:27px;}
#head ul li.search label input{visibility:hidden; position:absolute; top:0; left:0; border:0; width:0px; height:0px; margin:0; padding:0; background-color:transparent; }
#head ul li.search i{width:18px;height:18px;background-position:-149px 0;vertical-align:middle;}

/* 스타일추천 */
#head ul li.style_push{position:absolute;top:0;right:0;}
#head ul li.style_push a{display:block; height:100%; margin-top:7px; padding:5px;box-sizing:border-box;width:100%;}
#head ul li.style_push a i{background-position:-5px -130px;width:26px;height:20px;margin:0 6px 0 0}
#head ul li.style_push .imgsrh_desc{position:absolute;right:7px;bottom:-30px;width:130px;height:27px;padding-right:20px;line-height:27px;text-align:center;color:#fff;font-size:13px;letter-spacing:-1px;background-color:rgba(0,0,0,.75);border-radius:3px;}
#head ul li.style_push .imgsrh_desc i{content:"";display:block;overflow:hidden;position:absolute;top:-5px;right:12px;width:10px;height:5px;background:none;}
#head ul li.style_push .imgsrh_desc i:after{content:"";display:block;position:absolute;top:1px;right:1px;width:8px;height:8px;background-color:rgba(0,0,0,.75);
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
}

#head ul li.style_push .imgsrh_desc button{display:block;overflow:hidden;position:absolute;top:0;right:0;width:27px;height:27px;text-indent:100%;white-space:nowrap;border:none;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline:none;
}
#head ul li.style_push .imgsrh_desc button:after{content:"";display:block;overflow:hidden;position:absolute;top:50%;right:7px;width:11px;height:11px;margin:-6px 0;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_stylepush.png) 0 0 no-repeat;background-size:11px 11px;}
#headerSpace {height:0;}
@media screen and (min-width:640px){
	#head ul li.search a{width:200px;}
	#head ul li.search label{width:100%}
}