@charset "UTF-8";
.side_mylotte{
	display:none;
    position:fixed;
    bottom:-450px;
    right:0;
    width:100%;
    max-width:640px;
    color:#c9cfd8;
    z-index:9000;
}
.side_mylotte.transition {display:block;}
html.mylotte_act .side_mylotte {display:block; bottom:65px;}
html.mylotte_act .side_mylotte.isApp {bottom:14px;}

.my_close{display:block;height:25px;padding-right:15px;text-align:right;cursor:pointer;}
.my_close i{display:inline-block;width:23px;height:23px;background-position:-276px -70px; font-size:0; line-height:0; overflow:hidden; text-indent:999px;}
.my_close span{display:block;height:25px;vertical-align: top;text-align:right}
.my_lotte {width:100%;}
.my_lotte .inner{margin:0 5px;padding:8px 10px;background:#fff;border-radius:15px;}
.my_lotte .inner:after{display:block;content:'';position:absolute;right:30px;bottom:-8px;width:0;height:0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-top:15px solid white;}

.my_lotte .user_info:after{clear:both;content:'';display:block}
.my_lotte .user_info{padding:0 0 7px 0;border-bottom:2px solid #719cff;line-height:30px}
.my_lotte .user_info li{padding:0 5px;}
.my_lotte .user_info .name{float:left;font-size:14px;color:#999999}
.my_lotte .user_info .btn{float:right;}
.my_lotte .user_info .name span{color:#333;}
.my_lotte .user_info a{display:inline-block;padding:0 10px;border-radius:14px;font-size:13px;line-height:30px;height:28px;}
.my_lotte .user_info a.link{border:1px solid #e1e1e1;color:#999999;}
.my_lotte .user_info a.mypage{border:1px solid #719cff;background:#719cff;color:#fff;}

.my_lotte .user_login{margin:15px 0 0 0;color:#999;font-size:14px;line-height:20px;text-align:center;}
.my_lotte .user_login span{font-weight:bold;}
.my_lotte .user_login .login{display:inline-block;margin-top:10px;padding:0 15px;background:#9182ff;border-radius:15px;color:#fff;line-height:30px;}
.my_lotte .user_login .login:before{content:'';display:inline-block;margin:0 5px 1px 0;width:18px;height:25px;background-position:-163px -87px;background-size:350px 350px;vertical-align:middle;}

.my_lotte .user_point{clear:both;height:66px;margin:23px 0 0 0;text-align:center}
.my_lotte .user_point a{margin-top:5px;text-align:left;display:inline-block;position:relative;max-width:100px;padding:8px 0 0 60px;color:#333333;font-size:18px;font-family:Arial;font-weight:bold;vertical-align:middle}
.my_lotte .user_point a:before{width:51px;height:50px;display:block;content:'';position:absolute;top:0;left:0;}
.my_lotte .user_point .point:before{background-position:0 -69px}
.my_lotte .user_point .money:before{background-position:-128px -69px}
.my_lotte .user_point i{display:block;margin:0 0 2px ;}
.my_lotte .user_point .point{padding-right:10px}
.my_lotte .user_point .point i{display:block;width:63px;height:18px;background-position:-57px -70px}
.my_lotte .user_point .money i{display:block;width:65px;height:18px;background-position:-57px -91px}

.my_lotte .user_alram{text-align:center}
.my_lotte .user_alram a{padding:10px; margin:-10px 2px -10px 2px; display:inline-block; color:#999;font-size:15px;letter-spacing:-0.5px}
.my_lotte .user_alram a span{padding-left:5px;color:#333;font-size:16px;font-weight:bold;font-family:Arial;vertical-align:middle;}
.my_lotte .user_alram a.coupon{margin-left:-5px;}
.my_lotte .user_alram a.alram{}
.my_lotte .user_alram a.wish{}
.my_lotte .user_alram a:before{content:'';display:inline-block;padding-right:5px;height:24px;vertical-align:middle;}
.my_lotte .user_alram a.coupon:before{width:25px;background-position:-186px -70px}
.my_lotte .user_alram a.alram:before{width:22px;background-position:-217px -70px}
.my_lotte .user_alram a.wish:before{width:24px;background-position:-245px -70px}

.my_lotte .user_link:after{display:block;content:'';clear:both}
.my_lotte .user_link{clear:both;margin:18px 0 0 0;}
.my_lotte .user_link li{position:relative;width:50%;float:left;font-size:15px;letter-spacing:-0.5px;height:40px}
.my_lotte .user_link li a{display:block;padding:0 15px;background:#f8f8f8;border:1px solid #fff;color:#999;line-height:38px}
.my_lotte .user_link li .right{float:right;font-size:14px;font-weight:bold;color:#666}
.my_lotte .user_link li .bull:after{margin:0 !important;position:absolute;top:14px;right:16px;display:inline-block;content:'';width:10px;height:16px;vertical-align:middle;background-position:-305px -70px}
.my_lotte .user_link li span{padding-left:4px;color:#333;font-size:15px;font-family:Arial;font-weight:bold;}

.my_lotte .lately:after{display:block;content:'';clear:both}
.my_lotte .lately{padding:10px 57px 0 100px;height:57px;position:relative;min-width:120px;overflow:hidden;}
.my_lotte .lately h6{position:absolute;top:8px;left:0px;color:#aaaaaa;font-size:15px;letter-spacing:-0.5px;line-height:55px;font-weight:normal;}
.my_lotte .lately .no{position:absolute;top:10px;left:50%;margin-left:-70px;color:#aaaaaa;font-size:13px;line-height:55px;text-align:center;}
.my_lotte .lately ol{letter-spacing:-4px;display:inline-block;height:57px;overflow:hidden;word-break:keep-all;}
.my_lotte .lately ol li{display:inline-block;width:53px;border:1px solid #e1e1e1;margin:0 5px 5px 0;}
.my_lotte .lately ol li img{width:53px;height:53px}
.my_lotte .lately .more{position:absolute;top:10px;right:0;display:inline-block;width:53px;height:53px;background:#f8f8f8;border:1px solid #e1e1e1;color:#999;font-size:13px;text-align:center;}
.my_lotte .lately .more:before{content:'';display:block;width:15px;height:17px;margin:9px auto 7px;background-position:-339px -69px}

.my_lotte .phone{position:relative;padding:5px 3px 1px 0;margin:10px 0 0;border-top:1px solid #ddd;color:#999;font-size:12px;text-align:right}
.my_lotte .phone span{font-weight:bold;}
.my_lotte .phone a{color:#999;}
.my_lotte .phone .app{position:absolute;top:0;left:0}
.my_lotte .phone .app:before{display:inline-block;content:'';width:20px;height:20px;background-position:-163px 0;background-size:200px 200px;vertical-align:middle;margin:4px 2px 0 0}

@media screen and (min-width:360px){
	.my_lotte .lately ol {white-space:normal;}
}
