<div class="infant_tip_wrap" >
	<div class="usefultip_go" dep-filter-layer>
		<p ng-bind-html="screenData.baby_tip_title"></p>
		<!-- 20170614 버튼 텍스트 없는 경우 노출 안됨 -->
		<a href="#" ng-show="showRegBtn" ng-click="swagWriteGo('m_DC_SpeDisp_Mombaby_Clk_Btn_06')">{{screenData.baby_tip_btn}}</a>
		<!-- //20170614 버튼 텍스트 없는 경우 노출 안됨 -->
	</div>
	
	<div class="sort_area">
		<ul>
			<li><a href="#" ng-click="setSort(1)" ng-class="{on:inFantUi.sort == 1}">최신순</a></li>
			<li><a href="#" ng-click="setSort(2)" ng-class="{on:inFantUi.sort == 2}">추천순</a></li>
			<li><a href="#" ng-click="setSort(3)" ng-class="{on:inFantUi.sort == 3}">댓글많은순</a></li>
		</ul>
	</div>
	
	<section class="useful_tip_wrap">
		<ul class="list_wrap">
			<!-- 20170526 이미지 없이 등록한 꿀팁에 no_image 클래스 추가 -->
			<li ng-repeat="item in screenData.gallery_list" id="swaglist_{{item.bbc_no}}" ng-class="{no_image:item.img_list.items.length < 1}">
			<!-- //20170526 이미지 없이 등록한 꿀팁에 no_image 클래스 추가 -->
				<div class="write_info">
					<span>{{item.reg_dtime}}</span>
					<span>{{item.user_name | hidestr}}</span>
					<div class="btn_wrap">
						{{snsSubtitleChange(item.text)}}
						<span class="sns"><a ng-click="sendTclick('m_DC_SpeDisp_Mombaby_Clk_Shr5571267');showSharePop({prdComment:item.text.substr(0,100),shareImg:item.img_list.items[0].img_url, bbsNo :item.bbs_no})">공유</a></span>
						<span class="modify" ng-if="item.login_id == item.user_name">
							<a ng-click="modifyClick(item,$index)">수정/삭제</a>							
						</span>
					</div>
				</div>
				<div class="txt_area">
					<div class="txt_wrap">
						<div class="dim" ng-click="hideModify(item,$index)"></div>
		                <!-- 수정/삭제 레이어-->	
					</div>	
					<ul ng-if="modifyOpen == $index" class="modify_wrap">
	                   <li class="modify"><a ng-href="{{getswagRewriteUrl(item,$index)}}">수정</a></li>
	                   <li class="delete"><a ng-click="deleteSwag(item, $index)">삭제</a></li>
	                   <li class="close"><a ng-click="hideModify(item,$index)">닫기</a></li>
	                </ul>
	                <div class="cont" ng-class={on:item.open}>
						<a ng-click="contMoreClick(item)" >
							<div class="contentsText" ng-bind-html="item.text" id="swaglist_cont{{$index}}"></div>
						</a>
					</div>
                    <span ng-class={on:item.more} class="btn_more" ng-if="item.big"><a ng-click="contMoreClick(item)" class="more">더보기</a></span>
				</div>
				<div class="slide" ng-controller="lotteNgSwipeCtrl" ng-click="popOption.zoomPopup('mom', $index)">
					<!-- <button class="btn prev" ng-show="swipeIdx > 0" ng-click="beforeSlide()">Preview</button> -->
					<div class="mask">
						<!-- 20170522 꿀팁이미지 없으면 이미지 영역 제거 [ul에 ng-show추가] -->
						<ul class="list" lotte-ng-list-swipe swipe-responsive="true" swipe-responsive640="1" swipe-responsive900="1" swipe-slide-item="true" swipe-list-model="img_list" swipe-id="img_list{{$index+1}}" swipe-max-ratio="0.2"swipe-min-distance="40">
							<!-- 이미지가 하나인경우 -->							
							<li class="one" ng-repeat="items in item.img_list.items" ng-if="item.img_list.items.length==1">
								<span style="background-image:url({{items.img_url}})"></span>
							</li>
							<!-- 이미지가 여러개인 경우 -->
							<li ng-repeat="items in item.img_list.items" ng-if="item.img_list.items.length>1 && !(img_list.length%2==1 && $index==item.img_list.length-1 && screenType > 1)">
								<span style="background-image:url({{items.img_url}})"></span>
							</li>
						</ul>
					</div>
					<!-- <button class="btn next" ng-show="swipeIdx<=(item.img_list.items.length-2)" ng-click="nextSlide()">Next</button> -->
					
					<ol id="ii_{{$parent.$index}}" class="bullet" ng-if="item.img_list.items && item.img_list.items.length > 1" >
						<li v="{{swipeIdx}}"  ng-repeat="item in item.img_list.items" ng-class="{active:$index==swipeIdx}">{{$index}}</li>
					</ol>
				</div>
				<div class="comment_wrap">
					<div class="count_wrap">
						<span id="recomm_{{item.bbc_no}}" class="like" ng-click="recomm_click(item)">{{item.like_count}}</span>
						<span class="reply" ng-click="commentViewClick(item,$index)" ng-class="{on:commentListIndex == $index}">{{item.reply_count}}</span>
					</div>
					
					<div id="commentView_{{item.bbc_no}}" class="commentview">
						<!-- 댓글 -->
						<comment-Module></comment-Module>	
						<!-- //댓글 -->
					</div>
				</div>	
			</li>
		</ul>
	</section>
		
</div>