@charset "UTF-8";

body{background-color:#e3e3e8;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}

.reply_focus {display:none !important;}

.usefultip_go{padding:10px 8px;text-align:center;position:relative}
.usefultip_go:before,.usefultip_go:after{background-image:url(http://image.lotte.com/lotte/mo2015/angular/mall/bg_infant_sub_cate.png);background-size:250px auto;content:'';position:absolute;display:inline-block;}
.usefultip_go:before{width:32px;height:69px;background-position:0 0;top:-16px;right:-6px}
.usefultip_go:after{width:47px;height:47px;background-position:-55px 0;bottom:34px;left:-4px}
.usefultip_go p{margin:18px auto;color:#999;font-size:15px;line-height:19px}
.usefultip_go a{height:32px;margin-top:5px;color:#fff;font-size:14px;font-weight:bold;line-height:32px;background-color:#fcada0;border-radius:4px;position:relative;z-index:1;display:block}

.useful_tip_wrap .list_wrap{padding:0 0;overflow:inherit}
.useful_tip_wrap .list_wrap > li{position:relative;background-color:#fff;padding:14px 13px 11px;border-top:1px solid #d4d4db;border-bottom:1px solid #d4d4db;margin-bottom:10px}
.useful_tip_wrap .list_wrap .write_info{color:#999;font-size:12px;}
.useful_tip_wrap .list_wrap .write_info span + span{margin-left:14px}
.useful_tip_wrap .list_wrap .write_info span.modify {margin-left:0!important;}
.useful_tip_wrap .list_wrap .txt_area{margin-top:6px;}
.useful_tip_wrap .list_wrap .txt_wrap{position:relative}
.useful_tip_wrap .list_wrap .btn_wrap{display:block;position:absolute;top:8px;right:0}
.useful_tip_wrap .list_wrap .btn_wrap span{display:block;float:left;}
.useful_tip_wrap .list_wrap .btn_wrap span > a{margin-top:5px;margin-right:13px;position:relative;font-size:0;text-indent:0;width:14px;height:14px;display:block}
.useful_tip_wrap .list_wrap .btn_wrap span > a:before{position:absolute;right:0;top:0;content:"";display:block;width:14px;height:14px;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/icon_dearpet_common_v2.png) no-repeat -35px -16px;background-size:300px 55px;}
.useful_tip_wrap .list_wrap .btn_wrap span.modify > a{width:20px}
.useful_tip_wrap .list_wrap .btn_wrap span.modify > a:before{right:0;width:26px;background-position:-51px -16px;background-size:300px 55px;}

/* 20170526 꿀팁이미지 없을 경우 추가 클래스 */
.useful_tip_wrap .list_wrap .no_image .slide {display:none;}

/* 20170524 수정버튼레이어 위치 수정 */
.useful_tip_wrap .list_wrap .modify_wrap{position:absolute;top:0;width:170px;height:146px;right:45px;background-color:#fff;border:1px solid #fff;border-radius:4px;z-index:100000}

.useful_tip_wrap .list_wrap .modify_wrap li{height:48px;line-height:48px;text-align:center;display:block;border-bottom:1px solid #e6e6e6}
.useful_tip_wrap .list_wrap .modify_wrap li a{line-height:48px;}
.useful_tip_wrap .list_wrap .modify_wrap li.close{background-color:#f3f3f3;border-bottom:0}
.useful_tip_wrap .btn_more{width:100%;text-align:right;display:block} 
.useful_tip_wrap .btn_more a.more{padding-right:10px;color:#989898;display:inline-block;position:relative;top:0;right:0;}
.useful_tip_wrap .btn_more a.more:after{content:"";display:block;position:absolute;right:0;top:4px;width:5px;height:10px;margin-left:3px;vertical-align:middle;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/icon_dearpet_common_v2.png) no-repeat -56px 0;background-size:300px 55px;}
.useful_tip_wrap.photo_area .list_wrap .txt_wrap p{color:#333}
.useful_tip_wrap.photo_area .prod{width:100%;margin-top:11px;padding-bottom:0;position:relative;display:table}
.useful_tip_wrap.photo_area .prod .txt_wrap{width:auto;height:33px;min-height:26px;padding:0 5px 8px 11px;position:static;top:0;display:table}
.useful_tip_wrap.photo_area .prod .txt_wrap *{font-style:normal}
.useful_tip_wrap.photo_area .prod .txt_wrap .title{height:35px;max-height:34px;margin-bottom:5px;padding-top:17px;font-size:12px;line-height:17px;overflow:hidden;display:block}
.useful_tip_wrap.photo_area .prod .txt_wrap .price{font-size:10px}
.useful_tip_wrap.photo_area .prod .txt_wrap .price strong{font-size:14px;}
.useful_tip_wrap.photo_area .list_wrap .count_wrap{margin:11px 0 0}

.swag_wrap .swag_go{background-color:#e3e3e8;margin-bottom:-5px;padding:0 5px;text-align:center}
.swag_wrap .swag_go a{position:relative;line-height:32px;height:32px;display:block;background-color:#b3b3b3;border:1px solid #b3b3b3;border-radius:3px;color:#fff}
.swag_wrap .swag_go a:before{content:"";display:inline-block;width:13px;height:13px;margin-right:3px;margin-top:-2px;vertical-align:middle;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/icon_dearpet_common_v2.png) no-repeat -16px -12px;background-size:300px 55px;}
.useful_tip_wrap .list_wrap > li .commentview.on{display:block}

/* 스와이프 영역 */
.slide{position:relative;overflow:hidden;padding-top:11px}
.slide .btn{display:none;background: url(http://image.lotte.com/lotte/mo2015/angular/bg_sprite_bullet.png) no-repeat 0 0;-webkit-background-size: 57px 80px;background-size: 57px 80px;}
.slide ul{backface-visibility:hidden;transform:translateX(0px);height:294px;overflow:hidden;}
.slide li{height:294px;overflow:hidden;text-align:center;backface-visibility:hidden; position:relative;}
.slide li.one{position:relative;padding-top:100%;}
.slide li span{height:294px;display:block;background-size:cover;background-repeat:no-repeat;background-position:center center;position:absolute;top:0;left:0;right:0;bottom:0;}
.slide li a{height:294px;display:block;}
.slide li img{width:100%;height:auto}
.slide li a{display:block;width:100%;}
.slide .btn{width:15px;height:25px;position:absolute;top:50%;margin-top:-13px;z-index:9;border:0;font-size:0;cursor:pointer}
.slide .btn:focus {outline:none;}
.slide .btn.hide {visibility:hidden;}
.slide .btn.prev {left:10px;background-position:0 -19px}
.slide .btn.next {right:10px;background-position:-16px -19px}
.slide .bullet{margin-top:5px;text-align:center;height:6px;width:100%;clear:both}
.slide .bullet li{display:inline-block;position:relative;width:6px;height:6px;margin:0 2px;border-radius:100%;-webkit-border-radius:100%;background:#adadad;font-size:0;vertical-align: top;}
.slide .bullet li.active{background:#6bd5d3}
.slide .bullet.blind{display:none}

/*  댓글영역추가 */
.commentArea{background-color:#fff;margin-bottom:10px}
/* 리스트컨텐츠 : 댓글목록 */
/*
.comment_list{display:none;}
.on .comment_list{display:block}
*/
.useful_tip_wrap .list_wrap > li .comment_list ul{padding-top:11px;border:0!important}
.useful_tip_wrap .list_wrap > li .comment_list ul li{display:table;padding-bottom:0px;position:relative;border:0!important}
.useful_tip_wrap .list_wrap > li .comment_list ul li span.id{width:48px;margin-right:10px;display:table-cell;font-weight:bold;overflow:hidden;display:inline-block;}
.useful_tip_wrap .list_wrap > li .comment_list ul li span.cont{display:table-cell;padding-right:18px;color:#666;word-break:break-all}
.useful_tip_wrap .list_wrap > li .comment_list ul li .btn{position:absolute;bottom:0;right:0}
.useful_tip_wrap .list_wrap > li .comment_list ul li .btn a{position:relative;font-size:0;padding:0!important;border:0!important;height:auto!important;line-height:0!important}
.useful_tip_wrap .list_wrap > li .comment_list ul li .btn a:after{display:block;content:"";width:12px;height:12px;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/icon_dearpet_common_v2.png) no-repeat -79px -16px;background-size:300px 55px;}
.useful_tip_wrap .list_wrap > li .commentForm{padding:0!important;background-color:transparent}
.useful_tip_wrap .list_wrap > li .commentForm legend{color:#fff;line-height:0;font-size:0;height:0}
.useful_tip_wrap .list_wrap > li .commentForm .label{font-weight:bold;color:#444;}
.useful_tip_wrap .list_wrap > li .commentForm .reg{position:relative;padding:0 66px 0 0;margin-top:8px}
.useful_tip_wrap .list_wrap > li .commentForm .reg *{vertical-align:middle}
.useful_tip_wrap .list_wrap > li .commentForm span{height:32px;display:block;border:2px solid #e0dfdf;border-radius:2px;box-sizing:border-box}
.useful_tip_wrap .list_wrap > li .commentForm span textarea{width:100%;height:20px;padding:8px 0 0!important;border:0;font-size:12px;color:#333}
.useful_tip_wrap .list_wrap > li .commentForm a.btn{padding:0!important;position:absolute;right:0;bottom:0;width:61px;height:32px;font-size:14px;text-align:center;line-height:32px;background:#6bd5d3;color:#fff;border-radius:2px;border:0!important}

/* 20170524 좋아요 댓글 아이콘 왼쪽정렬로 수정 */
.useful_tip_wrap .count_wrap{margin-top:9px;text-align:left}

.useful_tip_wrap .count_wrap span{
:#333;font-size:13px;font-weight:bold;letter-spacing:-0.5px;position:relative}
.useful_tip_wrap .count_wrap span:after{background-image:url('http://image.lotte.com/lotte/mo2015/angular/mall/icon_infant.png');background-size:250px auto;content:'';position:absolute;top:2px;left:0;display:block;}
.useful_tip_wrap .count_wrap span + span{margin-left:15px}
.useful_tip_wrap .count_wrap .like{padding-left:20px;}
.useful_tip_wrap .count_wrap .like:after{width:16px;height:14px;background-position:0 0;}
.useful_tip_wrap .count_wrap .like.on:after{background-position:0 -20px;background-size:250px auto;}
.useful_tip_wrap .count_wrap .reply{padding-left:18px}
.useful_tip_wrap .count_wrap .reply:after{width:14px;height:14px;background-position:-25px 0}

.list_wrap .on .dim{position:fixed;top:0;left:0px;width:100%;height:100%;background:rgba(0, 0, 0, 0.4);z-index:51;}
.useful_tip_wrap .prod a{position:relative;}
.useful_tip_wrap .prod .imgArea{width:auto;float:left;display:block}
.useful_tip_wrap .prod .imgArea .img_wrap{width:auto;border:1px solid #f2f2f2;display:block}
.useful_tip_wrap .prod .imgArea .img_wrap img{width:85px}
.useful_tip_wrap .img_wrap{padding-top:0;}
.useful_tip_wrap .img_wrap img{position:static;height:auto;}
.useful_tip_wrap .prod .txt_wrap{position:static;width:auto;top:0;}
.useful_tip_wrap.dearpetgram ul li > .img_wrap{padding-top:100%;}
.useful_tip_wrap.dearpetgram ul li > .img_wrap img{position:absolute;height:100%;}

.infant_tip_wrap .keyword_area{max-height:90px;margin-bottom:10px;padding:0 13px;background-color:#fff;box-sizing:border-box;overflow:hidden;position:relative}
.infant_tip_wrap .keyword_area ul{width:100%;padding-bottom:10px;text-align:center;display:block}
.infant_tip_wrap .keyword_area.on{height:auto;max-height:100%}
.infant_tip_wrap .keyword_area ul:after{clear:both;content:'';display:block}
.infant_tip_wrap .keyword_area li{margin:10px 5px 0;display:inline-block}
.infant_tip_wrap .keyword_area li a{height:30px;padding:0 11px;color:#333;font-size:13px;letter-spacing:-0.5px;line-height:28px;border:1px solid #6bd5d3;border-radius:30px;box-sizing:border-box;display:inline-block}
.infant_tip_wrap .keyword_area li a:before{color:#6bd5d3;content:'#'}
.infant_tip_wrap .keyword_area li a.on{color:#fff!important;background-color:#6bd5d3!important}
.infant_tip_wrap .keyword_area li a.on:before{color:#fff!important}
.infant_tip_wrap .keyword_area + a.more{height:38px;margin:-10px 0 10px;padding:0!important;font-size:0;line-height:38px;background-color:#fff;border-top:1px solid #f3f3f3;text-align:center;display:block}
.infant_tip_wrap .keyword_area + a.more span:before{color:#6bd5d3;font-size:13px;content:'펼쳐보기';display:inline-block}
.infant_tip_wrap .keyword_area.on + a.more span:before{content:'닫기'}
.infant_tip_wrap .keyword_area + a.more span:after{width:11px;height:6px;margin-left:6px;background-image:url('http://image.lotte.com/lotte/mo2015/angular/mall/icon_infant.png');background-position:-45px 0;background-size:250px auto;content:'';display:inline-block}
.infant_tip_wrap .keyword_area.on + a.more span:after{transform:rotate(180deg); -webkit-transform:rotate(180deg)}
.infant_tip_wrap .sort_area{padding-top:10px;background-color:#fff}
.infant_tip_wrap .sort_area:after{clear:both;content:'';display:block}
.infant_tip_wrap .sort_area ul{margin-top:-4px;margin-bottom:9px;float:right}
.infant_tip_wrap .sort_area ul:after{clear:both;content:'';display:block}
.infant_tip_wrap .sort_area li{float:left}
.infant_tip_wrap .sort_area li a{padding:0 10px;color:#999;font-size:13px;letter-spacing:-0.5px;position:relative}
.infant_tip_wrap .sort_area li a.on{color:#6bd5d3;font-weight:bold}
.infant_tip_wrap .sort_area li a.on:before{width:3px;height:3px;margin-top:-1.5px;background-color:#6bd5d3;border-radius:50%;content:'';position:absolute;top:50%;left:3px;display:inline-block}

.useful_tip_wrap div.cont a div{line-height:18px; word-wrap:break-word;}

@media screen and (min-width:640px){
	.useful_tip_wrap .list_wrap .btn_wrap span > a{margin-top:10px;}
	.slide{padding-top:0;float:left;width:50%;}
	.useful_tip_wrap li{overflow:hidden;position:relative;}
	.useful_tip_wrap .list_wrap .write_info{width:50%;padding-top:8px;padding-left:17px;box-sizing:border-box;position:absolute;top:0;right:0}
	.useful_tip_wrap .list_wrap .btn_wrap{top:0}
	.useful_tip_wrap .prod,
	.useful_tip_wrap .comment_wrap{width:50%!important;float:left;}
	.useful_tip_wrap .img_wrap{width:50%;float:left;margin-top:0}
	.useful_tip_wrap .prod{position:absolute;bottom:20px;right:0}
	.useful_tip_wrap ul > li > .img_wrap img, .useful_tip_wrap .slide li{height:371px;}
	.useful_tip_wrap .slide .bullet li{height:6px}
	.useful_tip_wrap .txt_area{float:right;width:50%;min-height:218px;}
	.useful_tip_wrap .txt_wrap, 
	.useful_tip_wrap .cont, 
	.useful_tip_wrap .prod .imgArea,
	.useful_tip_wrap .list_wrap .comment_wrap > div{margin-left:17px}
	.useful_tip_wrap div.cont{margin-top:20px}
	.useful_tip_wrap div.cont a{height:140px}
	.useful_tip_wrap div.cont a div {max-height:235px; overflow:hidden;}
	.useful_tip_wrap div.cont.on a div {overflow:auto;}
	.useful_tip_wrap .list_wrap .count_wrap{clear:both;margin-top:0;padding-top:8px}
	
	.useful_tip_wrap .prod a:before{content:"";display:block;border-top:1px solid #eee;padding-top:14px;margin-left:17px;margin-right:17px;}
	
	.useful_tip_wrap .txt_area .txt_wrap{border-bottom:1px solid #eee;padding-bottom:8px;margin-bottom:9px}
	.useful_tip_wrap div.cont{min-height:160px;overflow:hidden}
	.swag_wrap .useful_tip_wrap .comment_wrap > div{position:relative}
	.swag_wrap .useful_tip_wrap .comment_wrap > div:first-child:before{content:"";display:block;border-top:1px solid #eee;padding-top:8px;}
	.commentArea{margin-bottom:0}
	/*.useful_tip_wrap.swag .list_wrap .count_wrap{padding-top:147px} */
	.useful_tip_wrap .list_wrap .on .count_wrap{padding-top:0}
	.useful_tip_wrap.dearpetgram ul li > .img_wrap{padding-top:50%;}
	.useful_tip_wrap.dearpetgram li{padding-left:0;padding-right:0;padding-bottom:0;}
	.useful_tip_wrap.dearpetgram .prod{bottom:60px}
	.useful_tip_wrap.dearpetgram li .box_area{padding:0 13px 20px;overflow:hidden}
	.useful_tip_wrap.dearpetgram .list_wrap .count_wrap{background-color:#fafafa;padding-left:13px;padding-bottom:15px}
	
	/* 20170526 이미지 없이 등록된 꿀팁 넓이 조정 */
	.useful_tip_wrap .list_wrap .no_image .txt_area, .useful_tip_wrap .list_wrap .no_image .write_info, .useful_tip_wrap .list_wrap .no_image .comment_wrap {width:100% !important; float:none !important;}	
	.useful_tip_wrap .no_image .txt_wrap, .useful_tip_wrap .no_image .cont, .useful_tip_wrap .no_image .prod .imgArea, .useful_tip_wrap .list_wrap .no_image .comment_wrap > div {margin-left:0 !important;}	
	.useful_tip_wrap .no_image .txt_area {min-height:0 !important; margin-bottom:20px;}
	.useful_tip_wrap .no_image div.cont {min-height:0 !important;}
}

.list_wrap .cont{max-height:35px;overflow:hidden;}
.list_wrap .cont.on{max-height:100%;overflow:auto;}
.list_wrap .btn_more{display:block;}
.list_wrap .btn_more.on{display:none}

/*popup*/
.gellery-zoomPopup { color:#fff; position:fixed; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,1); z-index:800; }
.gellery-zoomPopup a { color:#fff }
.gellery-zoomPopup figure { position:absolute; width:100%; text-align:center; top:50%; left:50%; -webkit-transform:translate3d(-50%,-50%,0px); -moz-transform:translate3d(-50%,-50%,0px); -ms-transform:translate3d(-50%,-50%,0px); -o-transform:translate3d(-50%,-50%,0px); transform:translate3d(-50%,-50%,0px);}
.gellery-zoomPopup figure img { max-width:100%; max-height:100%; width:auto; height:auto }
.gellery-zoomPopup .close { position:absolute; top:10px; right:10px; background:url("http://image.lotte.com/lotte/mo2015/angular/mall/gallery_icons.png") no-repeat; width:25px; height:26px; background-position:-96px -58px; }
.gellery-zoomPopup .indicator { position: absolute; bottom:10px; left:0; right:0; text-align: center }
.gellery-zoomPopup .indicator .page { display:inline-block; border-radius:14px; background:rgba(0,0,0,.2); padding:5px 10px }
.gellery-zoomPopup .arrow { position:absolute; top:50%; -webkit-transform:translate3d(0,-50%,0px); -moz-transform:translate3d(0,-50%,0px); -ms-transform:translate3d(0,-50%,0px); -o-transform:translate3d(0,-50%,0px); transform:translate3d(0,-50%,0px) }
.gellery-zoomPopup .prev { left:0px; width:15px; height:26px; padding:10px 15px; background-color:rgba(0,0,0,.2) !important }
.gellery-zoomPopup .prev:after { content:"";  position:absolute; background:url("http://image.lotte.com/lotte/mo2015/angular/mall/gallery_icons.png") no-repeat; width:15px; height:26px; background-position:-17px -58px; left:50%; top:50%; -webkit-transform:translate3d(-50%,-50%,0px); -moz-transform:translate3d(-50%,-50%,0px); -ms-transform:translate3d(-50%,-50%,0px); -o-transform:translate3d(-50%,-50%,0px); transform:translate3d(-50%,-50%,0px);   }
.gellery-zoomPopup .next { width:15px; height:26px; right:0px;  padding:10px 15px; background-color:rgba(0,0,0,.2) !important }
.gellery-zoomPopup .next:after { content:""; position:absolute; background:url("http://image.lotte.com/lotte/mo2015/angular/mall/gallery_icons.png") no-repeat; width:15px; height:26px; background-position:-58px -58px; left:50%; top:50%; -webkit-transform:translate3d(-50%,-50%,0px); -moz-transform:translate3d(-50%,-50%,0px); -ms-transform:translate3d(-50%,-50%,0px); -o-transform:translate3d(-50%,-50%,0px); transform:translate3d(-50%,-50%,0px); }

html.no-scroll,body.no-scroll { overflow:hidden; width:100%; height:100%; }