<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴</title>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />

	<!-- 기존 css -->
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/common/lotte.css" />
	<link rel="stylesheet" type="text/css" href="../header_2018.css" /> <!-- 롯데슈퍼관련 헤더 수정 -->
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/layout/sub_header_2017.css" />
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/layout/footer.css" />
	<link rel="stylesheet" type="text/css" href="../actionbar_2018.css" /> <!-- 롯데슈퍼관련 액션바 수정 -->
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/common/lotte_sidectg_2017_1.css" />
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/search/layer_srh_2017.css" />
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/sns/sns.css" />

	<link rel="stylesheet" href="/lotte/resources/r20171017_1/wish_list.min.css"/>
	<link rel="stylesheet" type="text/css" href="wish_2018.css" /> <!-- 위시리스트 카테고리 추가 -->
</head>
<body ng-controller="ProductCtrl">

	<div id="wrapper">

		<section>
			<header class="sub_header_top_wrap" id="lotteHeader">
				<div class="inner_wrap headerFixed">
					<h1 class="logo"><button class="btn_main">LOTTE.COM</button></h1>
					<button class="btn_prev">이전</button>
					<div class="header_srh_wrap web">
						<div class="srh_box">
							<label for="keyword" class="btn_srh"></label>
						</div>
					</div>
					<button class="btn_ctg">카테고리</button>
					<button class="btn_cart">장바구니<i class="cnt">5</i></button>
					<div class="btn_super"><img src="http://image.lotte.com/lotte/mo2018/common/DotcomText.png" alt="" /></div>
				</div>
			</header>
		</section>

		<section>
			<div class="sub_header_wrap">
				<header id="head_sub" class="fixedSubHeader fixedHeader">
					<h2>
						<span>
							<span class="title">위시리스트</span>
						</span>
					</h2>
				</header>
			</div>
		</section>

		<section class="cont_minheight">

			<!-- container -->
			<div id="container">

				<!-- 위시리스트 -->
				<section class="mylotte" id="wishListView">
					<!-- 위시리스트 header -->
					<section class="wish_header">
						<span>전체 00개</span>
						<div class="btn_list">
							<a href="#" name="selectAll" class="btn_style1 check_all">전체선택</a>
							<a href="#" name="deleteSelected" class="btn_style1 check_del">선택삭제</a>
						</div>
					</section>
					<!--// 위시리스트 header -->

					<!-- 20171124 카테고리 UI 추가 -->
					<div class="wish_cate_list">
						<ul>
							<li><a href="#" class="on">전체보기</a></li>
							<li><a href="#">장보기몰</a></li>
							<li><a href="#">화장품</a></li>
							<li><a href="#">잡화/슈즈/명품</a></li>
							<li><a href="#">패션의류</a></li>
							<li><a href="#">스포츠/레저</a></li>
							<li><a href="#">유아동</a></li>
							<li><a href="#">가전/가구</a></li>
							<li><a href="#">생활/식품</a></li>
						</ul>
					</div>
					<!-- //20171124 카테고리 UI 추가 -->

					<!-- 20171124 위시리스트 목록없음 추가 -->
					<div class="noList">
						<p class="msgMall">
							장보기몰 위시리스트에 담긴 상품이 없습니다.<br>
							아래 링트를 통해 장보기몰로 이동할 수 있습니다.
						</p>
						<a href="#" class="btnMall"><em>롯데슈퍼</em> <span>장보기몰</span></a>
					</div>
					<!-- //20171124 위시리스트 목록없음 추가 -->


					<!-- 상품 목록 -->
					<section class="wish_list" id="wish_list">
						<ul class="product_list_01">
							<li>
								<div class="group">
									<div class="chk"><input type="checkbox" title="선택" class="check01" ></div>
									<span class="thumb">
										<a href="#"><img src="/images/lotte2015/temp/img_prd_01.jpg" alt="" /></a>
									</span>
									<span class="cont01">
										<p class="flag">
											<span class="flag depart">롯데백화점</span>
											<span class="flag etv">롯데홈쇼핑</span>
											<span class="flag smart">스마트픽</span>
										</p>
										<a href="#">
											<p class="tl">[쿠기] 여기서만 골라도 여신~ 블라우스/원피스/스커트</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
												<del class="small">39,400원</del>
											</p>
											<p class="coupon">
												<span class="percent">25%</span>
												<span class="tx">쿠폰포함</span>
											</p>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<span class="l_area"><a href="#" class="btn_del">삭제</a></span>
									<span class="r_area">
										<a href="#" class="btn_style2">장바구니</a>
										<a href="#" class="btn_style3">바로주문</a>
									</span>
								</div>
							</li>
							<li>
								<div class="group">
									<div class="chk"><input type="checkbox" title="선택" class="check01" ></div>
									<span class="thumb">
										<a href="#"><img src="/images/lotte2015/temp/img_prd_02.jpg" alt="" /></a>
									</span>
									<span class="cont01">
										<p class="flag">
											<span class="flag depart">롯데백화점</span>
											<span class="flag etv">롯데홈쇼핑</span>
											<span class="flag smart">스마트픽</span>
											<span class="flag free">무료배송</span>
										</p>
										<a href="#">
											<p class="tl">[게스(구두)] 게스슈즈 BEST 부티 4종 택1</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
												<del class="small">39,400원</del>
											</p>
											<p class="coupon">
												<span class="percent">25%</span>
												<span class="tx">쿠폰포함</span>
											</p>
										</div>
										<div class="delivery">
											<span class="l_area"><input type="radio" name="delivery_ck" class="radio01" checked="checked" /> 택배로받기</span>
											<span class="r_area"><input type="radio" name="delivery_ck" class="radio01" /> 스마트픽 찾기</span>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<span class="l_area"><a href="#" class="btn_del">삭제</a></span>
									<span class="r_area">
										<a href="#" class="btn_style2">장바구니</a>
										<a href="#" class="btn_style3">바로주문</a>
									</span>
								</div>
							</li>
							<li>
								<div class="group">
									<div class="chk"><input type="checkbox" title="선택" class="check01" ></div>
									<span class="thumb">
										<a href="#"><img src="/images/lotte2015/temp/img_prd_03.jpg" alt="" /></a>
									</span>
									<span class="cont01">
										<p class="flag">
											<!-- 20171127 플래그 추가 -->
											<span class="flag super">롯데슈퍼</span>
											<span class="flag dlv">당일배송</span>
											<!-- 
											<span class="flag dlv">업체택배</span>
											<span class="flag dlv">당일&middot;정기배송</span>
											-->
											<span class="flag smart">스마트픽</span>
											<!-- //20171127 플래그 추가 -->
										</p>
										<a href="#">
											<p class="tl">[빈폴] 스카이블루 헤릿 미니토드백 여(BE4AA2301Q)</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
												<del class="small">39,400원</del>
											</p>
											<p class="coupon">
												<span class="percent">25%</span>
												<span class="tx">쿠폰포함</span>
											</p>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<span class="l_area"><a href="#" class="btn_del">삭제</a></span>
									<span class="r_area">
										<a href="#" class="btn_style2">장바구니</a>
										<a href="#" class="btn_style3">바로주문</a>
									</span>
								</div>
							</li>
						</ul>
					</section>
					<!-- // 상품 목록 -->
					
					<!-- LOADING -->
					<div class="listLoading">
						<p class="loading half"></p>
					</div>
					<!--// LOADING -->
					
					<!-- 더보기 버튼 -->
					<section class="more_view">
						<div><a href="#"><span>더보기 (<label id="currentCnt">10</label>/<label id="totalCnt">50</label>)</a></span></div>
					</section>
					<!--// 더보기 버튼 -->

				</section>

				<section class="mylotte" id="discontinueListView">
					<!-- 위시리스트 header -->
					<section class="wish_header discontinue">
						<a href="javascript:void(0);" ng-click="toggleSoldoutSection()" ng-class="{btn_close:isOpenSoldoutSection, btn_open:!isOpenSoldoutSection}" class="btn_open">
							<span class="ng-binding">
								품절/판매종료 상품 (2)
							</span>
							<span class="btnArrow ng-binding">열기</span>
						</a>
						<div class="btn_list">
							<a href="javascript:void(0);" ng-click="deleteAllSoldoutProduct()" name="selectAll" class="btn_style1 check_all_del">전체삭제</a>
						</div>
					</section>
					<!--// 위시리스트 header -->

					<!-- 품절/판매종료 상품 -->
					<section class="discontinue_list " id="discontinue_list">
						<ul class="product_list_01">
							<li>
								<div class="group">
									<span class="thumb">
										<a href="#">
											<img src="/images/lotte2015/temp/img_prd_03.jpg" alt="" />
											<em></em><span>품절</span>
										</a>
									</span>
									<span class="cont01">
										<p class="flag">
											<span class="flag depart off">롯데백화점</span>
											<span class="flag etv off">롯데홈쇼핑</span>
											<span class="flag smart off">스마트픽</span>
											<span class="flag free off">무료배송</span>
										</p>
										<a href="#">
											<p class="tl">[빈폴] 스카이블루 헤릿 미니토드백 여(BE4AA2301Q)</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
											</p>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<a href="#" class="wish_del">삭제</a>
									<a href="#" class="btn_style2 bi-nt">재입고알림</a>
								</div>
							</li>
							<li>
								<div class="group">
									<span class="thumb">
										<a href="#">
											<img src="/images/lotte2015/temp/img_prd_03.jpg" alt="" />
											<em></em><span>판매종료</span>
										</a>
									</span>
									<span class="cont01">
										<p class="flag">
											<span class="flag depart off">롯데백화점</span>
											<span class="flag etv off">롯데홈쇼핑</span>
											<span class="flag smart off">스마트픽</span>
										</p>
										<a href="#">
											<p class="tl">[빈폴] 스카이블루 헤릿 미니토드백 여(BE4AA2301Q)</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
											</p>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<a href="#" class="wish_del">삭제</a>
									<a href="#" class="btn_style2 bi-nt">재입고알림</a>
								</div>
							</li>
							<!-- 20171206 품절상품 목록 추가 / 20171227 기획변경 삭제
							<li>
								<div class="group soldOut">
									<span class="thumb">
										<a href="#">
											<img src="/images/lotte2015/temp/img_prd_03.jpg" alt="" />
											<em></em><span>판매종료</span>
										</a>
									</span>
									<span class="cont01">
										<a href="#">
											<p class="tl">[빈폴] 스카이블루 헤릿 미니토드백 여(BE4AA2301Q)</p>
										</a>
										<div class="money_coupon">
											<p class="money">
												<span class="price"><strong>35,460</strong>원</span>
											</p>
										</div>
									</span>
								</div>
								<div class="btn_list">
									<a href="#" class="btn_style2 bi-nt">재입고알림</a>
								</div>
							</li>
							//20171206 품절상품 목록 추가 / 20171227 기획변경 삭제 -->
						</ul>
					</section>
					<!-- // 품절/판매종료 상품 -->
					<!--// 위시리스트 -->
				</section>
			</div>
			<!-- //container -->
		</section>
		<!-- //sub_header_wrap -->

		<!-- footer -->
		<footer id="footer">
			<ul class="menu01">
				<li><a class="ng-binding" href="#">마이롯데</a><i></i>	</li>
				<li><a ng-click="pcClick()">PC버전</a><i></i></li>
				<li><a href="#">장바구니</a><i></i></li>
				<li><a href="#">고객센터</a><i></i></li>
				<li><a href="#" ng-click="loginProc()" ng-bind="(loginInfo.isLogin)?'로그아웃':'로그인'" class="ng-binding">로그아웃</a></li>
			</ul>
			<div class="info">
				<ul class="menu02">
					<li><strong>(주)롯데닷컴</strong></li>
					<li><a ng-click="ftcClick()">사업자정보확인</a></li>
					<li><a ng-click="forwardClick()">채무지급보증안내</a></li>
				</ul>
				<p class="add">
					<span class="addFirst">대표이사 : 김형준</span>
					<span class="line">서울시 중구 을지로 158 10층(을지로4가, 삼풍빌딩)</span>
					<span class="line">사업자등록번호 : 101-81-52964 통신판매업신고 : 중구 제00402호</span>
					<span class="line">고객만족센터 : <a href="tel:1577-1110">1577-1110</a>  webmaster@lotte.com</span>
					<span class="line">개인정보보호책임자 : 윤상선</span> <span class="line">청소년보호책임자 : 김찬기</span>
					<span>호스팅 사업자 : (주)롯데닷컴</span>
				</p>
			</div>
			<div class="menu03">
				<ul>
					<li><a href="#">이용약관</a></li>
					<li><a href="#"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#">청소년보호정책</a></li>
				</ul>
			</div>
			<div class="capyright">Copyright © LOTTE.com, Inc. All rights Reserved.</div>
		</footer>
		<!-- //footer -->

		<!-- quick_btn -->
		<div class="quick_btn">
			<div ng-show="visible" class="">
				<a class="btn_back ng-hide" ng-click="gotoPrepageSide()" ng-show="quickBackBtn">뒤로</a><a class="btn_top" ng-click="gotoTop()">위로</a>
			</div>
			<div class="btn_talk" ng-click="gotoTalk()"><a href="#" class="qbta0"><img src="http://image.lotte.com/lotte/mo2017/common/talkFloatAni.gif"></a></div>
		</div>
		<!-- quick_btn -->
	</div>

	<!-- lotteActionbar -->
	<section id="lotteActionbar" class="actionbar">
		<ul class="actionbar_wrap">
			<li class="ctg"><button class="btn_ctg">카테고리</button></li>
			<li class="order"><button class="btn_order">배송주문</button></li>
			<li class="home on"><button class="btn_main">홈</button></li>
			<li class="mylotte"><button class="btn_mylotte">마이롯데</button></li>
			<li class="recent active"><!-- //최근 본 상품이 있을때 클래스 추가:active -->
				<button class="btn_recent">최근본상품
					<span class="img" style="background-image: url(http://image.lotte.com/goods/56/56/59/51/4/451595656_1_280.jpg);"></span>
				</button>
			</li>
		</ul>
	</section>
	<!-- //lotteActionbar -->
</body>
</html>