<section ng-show="contVisible" class="cont_minheight dearpet_prd_list dearpet_v4" ng-class="{pad:screenType > 1}">
	<section class="pageLoading" ng-show="pageLoading"><p class="loading half"></p></section>
	<section ng-show="!pageLoading">
		<div class="sub_header_wrap">
			<header id="head_sub" sub-header-each ng-show="subTitle" class="fixedSubHeader " ng-class="{fixedHeader: fixedHeader && subHeaderFixed && !appObj.isNativeHeader}">
				<div class='head_sub_inner'>
					<h2><a ng-click="mallMainClick('m_DC_SpeDisp_Dearpet_Clk_logo')"><span>L.Dear Pet</span></a></h2>
					<a class='share' href='#' ng-click="petShare({shareImg:screenData.goodsList[0].img_url})"><span>공유</span></a>
				</div>
			</header>
		</div>
		<!-- 카테고리 -->

		<div class="">
			<pet-mall-sub-ctg></pet-mall-sub-ctg>
		</div>

		<!-- s: unit list area -->
		<div class="unitWrap">
		<!-- //상품리스트 유형 선택 -->
			<div
		        product-container template-type="list"
		        total-count="screenData.goodsTotal"
		        templatetype="templateType"
		        products="screenData.goodsList"
		        more-product-continer="getProductData()"></div>
		</div>
		<!-- e: unit list area -->

	</section>

	<share-pop></share-pop>
</section>
