@charset "UTF-8";

body{background-color:#e3e3e8;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
#wrapper{}
section.prd_lst{background-color:#fff}
.ctg_list{padding-bottom:0}
.sca_list{background-color:#efeef3;border-bottom:0}
.sca_list.sca_list_01{margin-bottom:13px;}
.sca_list .style_tit{margin-bottom:17px;}
.sca_list .recommond_swipe{background-color:#efeff2}
.sca_list .recommond_swipe ul.float_ul{margin-bottom:0;background:#efeff2;overflow:hidden;padding:0 13px;max-height:83px}
.sca_list .recommond_swipe ul.float_ul li{width:50%;border-bottom:1px solid #dedede;font-size:14px;line-height:41px;height:41px;background:#efeff2;}
.sca_list .recommond_swipe ul.float_ul li a{display:block;position:relative;height:40px;overflow:hidden;padding:0 0 0 23px;color:#666;word-wrap:break-word;}
.sca_list .recommond_swipe ul.float_ul li a:after{content:"";display:block;position:absolute;left:0;right:0;top:-1px;bottom:-1px;border-bottom:1px solid #d4d4db;}
.sca_list .recommond_swipe ul.float_ul li span.on{color:#333;font-weight:bold}
.sca_list .indicator{clear:both;background-color:#e3e3e8;text-align:center;font-size:0;margin-bottom:0}
.sca_list .indicator li{width:10px;height:21px;display:inline-block;position:relative;}
.sca_list .indicator li:before{content:"";display:block;width:6px;height:6px;background-color:#afafaf;border-radius:3px;position:absolute;top:5px;left:2px;}
.sca_list .indicator li.on:before{background-color:#ff7559;}
.sca_list .recommond_swipe.on{border-top:1px solid #d5d4dc;}
@media screen and (min-width:640px){
	.sca_list .recommond_swipe ul.float_ul li{width:25%}
	.sca_list .recommond_swipe ul.float_ul{max-height:41px}
}


/** 201704010 likearts **/
.sca_list .indicator { background: #eee }
.flag.depart { background-color: #77675d; border-color: #77675d !important; color:#fff; font-size:10px; padding:3px; }
.flag.smart { width: 22px; font-size: 0; display:inline-block; vertical-align: middle; background-color: transparent; background: url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat; background-position: -46px -39px; background-size: 75px 90px;  }
.sh-unit span.cont01 p.money span.price span:after { content: "원"; position: absolute; top: 3px; right: 0px; font-size: 13px; font-weight: normal }
.money.ntype { position:relative !important }
.money .noItr { color: #fff; background: #ff7b62; padding:2px; display:inline-block; font-size:11px; }
.money .tag {  color: #fb7155; font-size: 11px; margin-right:5px; }
.prd_lst.n_prd_list .thumb, .prd_lst.n_prd_list .cont01 { min-height:125px !important; position: relative  }
.prd_lst.n_prd_list .cont01 p.flag { height:20px }
.prd_lst.n_prd_list .thumb img { height:125px !important;  position: relative }
.prd_lst.n_prd_list .thumb .unit_zoom { position: absolute; font-size:0; bottom: 0px; left:85px; width: 25px;height: 25px; background: url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat; background-position: 0 -70px; background-size: 78px 102px; background-color:#000; opacity:.3 }
.wish_icon.ntype {  background: url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat; font-size:0px; background-size: 95px 114px; position:absolute; right:5px; top:0px; width:23px; height:21px; background-position: -29px -49px }
.wish_icon.ntype.on { background-position: 0px -49px }
.item-click-block { display:block; position: relative; }
.prd_lst.n_prd_list .unit_zoom.likearts {
	position: absolute;
    font-size: 0;
    bottom: 0px;
    left: 85px;
    width: 25px;
    height: 25px;
    background: url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;
    background-position: 0 -70px;
    background-size: 78px 102px;
    background-color: #000;
    opacity: .3;
}