@charset "UTF-8";

body{ background-color:#e3e3e8;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}

/* 스와이프 영역 */
.slide{position:relative;overflow:hidden;padding-top:11px}
.slide .btn{display:none;background: url(http://image.lotte.com/lotte/mo2015/angular/bg_sprite_bullet.png) no-repeat 0 0;-webkit-background-size: 57px 80px;background-size: 57px 80px;}
.slide ul{backface-visibility:hidden;transform:translateX(0px);height:294px;overflow:hidden;}
.slide li{height:294px;overflow:hidden;text-align:center;backface-visibility:hidden;}
.slide li.one{position:relative;padding-top:100%;}
.slide li.one span{height:294px;display:block;background-size:auto 100%;background-repeat:no-repeat;background-position:center center;position:absolute;top:0;left:0;right:0;bottom:0;}
.slide li a{height:294px;display:block;}
.slide li img{width:auto;height:100%}
.slide li a{display:block;width:100%;}
.slide .btn{width:15px;height:25px;position:absolute;top:50%;margin-top:-13px;z-index:9;border:0;font-size:0;cursor:pointer}
.slide .btn:focus {outline:none;}
.slide .btn.hide {visibility:hidden;}
.slide .btn.prev {left:10px;background-position:0 -19px}
.slide .btn.next {right:10px;background-position:-16px -19px}
.slide .bullet{position:absolute;bottom:0;text-align:center;height:25px;/*background-color:#eee;border-top:1px solid #e0e0e0;*/width:100%;clear:both}
.slide .bullet li{display:inline-block;position:relative;top:8px;width:6px;height:6px;margin:0 2px;border-radius:100%;-webkit-border-radius:100%;background:#adadad;font-size:0;vertical-align: top;}
.slide .bullet li.active{ background:#ff7559 }
.slide .bullet.blind{display:none }

.pet_event_items li { border-bottom: 1px solid #e0e0e0; }
.pet_event_items li a { display:block;  overflow:hidden; }
.pet_event_item_footer { padding: 12px 10px; background-color: #fff; margin-top: -10px;position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size:13px; color:#666; }
.pet_event_item_footer p { margin:3px 0 }
.pet_event_item_footer .bnr_nm, .pet_event_item_footer .bnr_note { overflow: hidden; white-space:nowrap;text-align:center;}
.pet_event_item_footer .bnr_nm { font-size:16px; color:#333; font-weight: 600 }

p.old-event { padding:5px 10px; margin-top:10px; color:#999; font-size:14px; font-weight:600 }
.old-event-list  { padding-bottom:20px }
.pet_event_items { background:#eee }
.pet_event_items .old-event-list li:first-child { margin-top:5px !important}

@media screen and (max-width:1024px){
	.pet_event_items li a { display:block; overflow:hidden; height:400px }
}

@media screen and (max-width:768px){
	.pet_event_items li a { display:block; overflow:hidden; height:350px }
}

@media screen and (max-width:440px){
	.pet_event_items li a { display:block; overflow:hidden; height:180px }
}
