@charset "UTF-8";
.specialTopGuide { width: 100%; height:67px;/* height:104px;  */background:#eee; padding:15px 0 10px 0;  }
.specialTopGuide .guideWrapper { float:left; }
.specialTopGuide .guideTitle { float:left; font-size:15px; line-height:18px; margin-top:2px; margin-bottom:10px;color:#666;/*  color:#343434; */ font-weight:bold;letter-spacing: -1px }
.specialTopGuide .iconAtt { float:left; margin-left:22px;  width:20px; height:20px; display:inline-block; margin-right:5px; }
.specialTopGuide .iconAtt img { width:100%; vertical-align: middle; }
.specialTopGuide ul { margin-left:21px; padding-left:10px; clear:both; }
.specialTopGuide ul li { margin-bottom:7px; line-height:16px; font-size:13px; letter-spacing:-1px; list-style:none; background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/img_dot3x3.gif) no-repeat 0 6px; padding-left:10px; color:#666; /* color:#676767; */  }

