@charset "UTF-8";
.el_show{display:none}
body.ellotte .el_show{display:block}
body.ellotte{background:#fff}
body.ellotte #head,body.ellotte #head_sub,body.ellotte  #footer,
body.ellotte .sub_header_wrap,
body.ellotte .sub_header_top_wrap,
body.ellotte .lpoint_member_info_box,
body.ellotte .find_success_title,
body.ellotte .password_change_title,
body.ellotte .password_find_title{display:none}
body.ellotte .easy_login_wrap{background:#fff;padding:0}
body.ellotte .easy_login_wrap .password_find_box{border:none;padding:12px 32px 24px 32px}
body.ellotte .easy_login_wrap .find_success_box .login_go_btn a,
body.ellotte .easy_login_wrap .password_change_box .view_order_btn a,
body.ellotte .easy_login_wrap .password_find_box .view_order_btn a{background:#000}
body.ellotte .easy_login_wrap .password_change_box{border:none;padding:12px 32px 16px 32px}
body.ellotte .easy_login_wrap .find_success_box{border:none;padding:0 32px 16px 32px}
body.ellotte .easy_login_wrap .find_success_box .password_find_btn a{color:#333;border:1px solid #b3b3b3;background:#fff}
body.ellotte .easy_login_wrap .find_success_box .password_find_btn{right:32px}
body.ellotte .easy_login_wrap .find_success_box .find_info_box .id_address{color:#000}
body.ellotte .easy_login_wrap .password_change_box .password_change_info h4,
body.ellotte .easy_login_wrap .password_change_box .password_change_info ul{font-size:11px}
.el_head{height:42px;box-sizing: border-box;border-bottom:1px solid #ededed;padding:12px 0 0 16px;background:#fff}
.el_head img{width:164px;height:14px}
.el_sub_title{text-align:center;background:#fff}
.el_sub_title p.t1{font-size:22px;font-weight:bold;padding:30px 0 21px 0;color:#000}
.el_sub_title p.t2{font-size:14px;color:#666}
.el_foot{background:#fff;padding-top:25px;text-align:center;border-top:1px solid #cdcdcd;color:#999;font-size:12px}
.el_foot .el_foot_menu a{font-size:12px;color:#999}
.el_foot .el_foot_menu a.black{color:#000}
.el_foot .el_comp{padding-top:16px;color:#000;font-size:12px}
#wrapper{display:none}
/*
body.ellotte .easy_login_wrap .password_find_box .order_id_input input,
body.ellotte .easy_login_wrap .password_find_box .order_id_input .phone_input_box .select_box select{border:1px solid #ededed}*/
