<section class="easy_login_wrap">
    <find-head page="2"></find-head>
	<form name="findMemberForm" id="findMemberForm" method="post">
	<input name="ellotte_join" id="ellotte_join" type="hidden" value="Y" ng-if="fromEllotte"/>
	<input name="mbr_no" 			id="mbr_no" 			type="hidden" value="{{mbr_no}}"/>
	<input name="mbr_nm" 			id="mbr_nm" 			type="hidden" value="{{mbr_nm}}"/>
	<input name="email_addr" 		id="email_addr" 		type="hidden" value="{{email_addr}}"/>
	<input name="easgn_sgt_sn" 		id="easgn_sgt_sn" 		type="hidden" value="{{easgn_sgt_sn}}"/>
	<input name="mksh_cert_sn" 		id="mksh_cert_sn" 		type="hidden" value="{{mksh_cert_sn}}"/>
	<input name="cert_exp_dtime" 		id="mksh_cert_sn" 		type="hidden" value="{{cert_exp_dtime}}"/>
	<input name="cert_use_sct_cd" 	id="cert_use_sct_cd" 	type="hidden" value="30"/>	
    <div class="find_success_box">
        <h3 class="find_success_title">비밀번호 찾기를 위해 이메일 인증이 필요합니다.</h3>
        <div class="find_info_box">
             <p class="find_info_txt">{{mask_mbr_nm}}고객님, 안녕하세요.<br/>인증메일이 고객님 이메일로 발송되었습니다.<br/>유효기간 이내에 인증완료 해주세요.</p>
             <dl class="id_address">
			<dt>이메일 아이디 :</dt>
			<dd>{{email_addr | strmask}}</dd>
			</dl>
	              <dl class="id_validity">
				<dt>인증 유효기간 :</dt>
				<dd>{{cert_exp_dtime}}</dd>
			</dl>
		</div>
		<div id="login_go_btn" class="login_go_btn">
        	<a href="#" ng-click="goChkMail()" class="c_btn col01"><span>인증메일 확인하러 가기</span></a>
		</div>	         
        <p class="password_find_txt">인증 메일을 못 받으셨나요?<br/>다시받기를 하시면 메일을 다시 전송드립니다.</p>
        <div class="password_find_btn">
            <a href="#" ng-click="reSendCertifyEmail()"><span>다시받기</span></a>
        </div>       
     </div>
     </form>
    
</section>