<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>햄버거메뉴</title>
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">	
		<link rel="stylesheet" type="text/css" href="http://m.lotte.com/lotte/resources/r20180426_1/common.min.css" />
	<link rel="stylesheet" type="text/css" href="/lotte/resources_dev/push/common.css"/>	
	<link rel="stylesheet" type="text/css" href="/HTML_voice_prj/voice.css" />	
</head>
<body>


<!-- quick_btn -->
<div class="quick_btn open">  <!-- 퀵 버튼 열림 : open -->
	<div ng-show="visible" class="">
		<a class="btn_back ng-hide" ng-click="gotoPrepageSide()" ng-show="quickBackBtn">뒤로</a><a class="btn_top" ng-click="gotoTop()">위로</a>
	</div>
	
	<!-- 20180516 신규생성 -->
	<div class="quick_voice_box">
		<a href="#none" class="btn"></a>
		<div class="quick_box">
			<dl>
				<dt>말로 하는 쇼핑</dt>
				<dd>상품추천에서 결제까지 쉽고 빠르게</dd>
			</dl>
		</div>
		<div class="quick_box">
			<dl>
				<dt>실시간 채팅상담</dt>
				<dd>배송/교환/반품/이벤트 등 상담</dd>
			</dl>
		</div>
	</div>
	<!-- //20180516 신규생성 -->

	<div class="qbt_dim"></div>	
</div>
<!-- quick_btn -->


</body>
</html>