.sts_sub{position:relative}
.sts_sub a{color:#666;font-size:14px;display:block;padding-left:11px;position:relative}
.sts_sub a.stss_head{line-height:35px;height:35px;border-bottom:1px solid #e3e3e3}
.sts_sub .stss_box{background:#f1f0f5; position: relative; z-index: 200 }
.sts_sub .stss_list{
    display:none;
    background:#f1f0f5;  
    position: absolute;
    z-index: 200;
    width: 100%
}
.sts_sub span.icon_arrow{display:inline-block;width:13px;height:13px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/stshop_lib.png) no-repeat 0 5px;background-size:38px 50px}
.sts_sub span.icon_arrow.ml{margin-left:8px}
.sts_sub.on span.icon_arrow{background-position:-24px 5px}
.sts_sub span.icon_arrow.todown{background-position:0px -8px;height:30px}
.sts_sub span.icon_arrow.toup{background-position:-24px -8px;height:30px}
.sts_sub.on .stss_list{display:block}
.sts_sub .stss_top{height:30px;text-align:center}
.sts_sub .stss_foot{height:40px;text-align:center;position:relative}
.sts_sub .stss_foot .stss_close{position:absolute;right:0;top:0;width: 50px;height: 40px;}
.sts_sub.on span.icon_arrow.close{background-position:0px -34px;height:20px;margin-top:8px}
.sts_sub .stss_cont{max-height:228px;overflow-y:auto}
.sts_sub .stss_cont a {height:45px;line-height:45px;border-bottom:1px solid #eae9ee;overflow: hidden;word-break: break-all;text-overflow:ellipsis;white-space:nowrap;padding-right:50px;box-sizing:border-box;-webkit-box-sizing:border-box}
.sts_sub .stss_cont a span{color:#2a5db3;padding-right:8px}
.sts_sub .stss_cont a .stss_day{position:absolute;right:10px;top:2px;font-size:12px;color:#999}