<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴-cart_list</title>
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<script>
	var APP_KEY = "7fa1e44757a94fd89921";
	var SERVER_TIME = new Date();
	</script>
	<!-- JSP 영역 -->
	<!-- 
	<%@ page language="java" contentType="text/html;charset=utf-8"  %>

	<%@include file="/common3/angular_common_include.jsp"%>
	<% if (LOTTE_DEVEL_MODE) { %>
	<%@include file="/angular_common/lotte_common_css.jsp"%>
	<%@include file="/angular_common/lotte_common_js.jsp"%>

		<!-- 이 화면에서 쓰이는 CSS -->

		<!-- 이 화면에서 쓰이는 JS -->

	<!-- 
	<% } else {  %>
		<%@include file="/common3/html_meta_angular.jsp"%>
		<link rel="stylesheet" type="text/css" href="/lotte/resources/<%= pubVersion %>/cart_list.min.css"/>
		<script src="/lotte/resources/<%= pubVersion %>/cart_list.min.js"></script>
		<script src="/lotte/resources/<%= pubVersion %>/cart_list.tpl.js"></script>
	<% } %>
	-->
	<!-- // JSP 영역 -->
	 
	<link rel="stylesheet" type="text/css" href="/lotte/resources/r20180220_1/common.min.css"/>
	<link rel="stylesheet" type="text/css" href="/lotte/resources/r20180220_1/cart_list.min.css"/>
	<script src="/lotte/resources/r20180220_1/common.min.js"></script>
	<script src="/lotte/resources/r20180220_1/cart_list.min.js"></script>	<script src="/lotte/resources/r20180220_1/cart_list.tpl.js"></script>
	 <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '500204110159268');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=500204110159268&ev=PageView&noscript=1"
/></noscript> 	
</head>
<body ng-controller="cartCtrl">
	<div id="wrapper" ng-show="showWrap">
		<lotte-header></lotte-header>
		<lotte-search></lotte-search>
		<sub-header></sub-header>

		<lotte-container></lotte-container>

		<lotte-footer></lotte-footer>
		<lotte-btntop></lotte-btntop>
	</div>

	<lotte-side-category></lotte-side-category>
	<lotte-side-mylotte></lotte-side-mylotte>

	<lotte-comm-footer></lotte-comm-footer>
</body>
</html>