<!doctype html>
<html lang="ko" ng-app="app">
<head>
<title>AngularJS Sample App</title>
<link rel="stylesheet" href="../../css/bootstrap.css"/> 
<script src="../../../lib/angular/angular.js"></script>
<script src="../../common/logger.js"></script>
<script src="app.js"></script> 
</head>
<body ng-controller="appCtrl">
<h3 ng-bind="appTitle"></h3> 
<table> 
	<thead>
	<tr>
		<th>Plate</th> 
		<th>Entrance</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="car in cars">
		<td><span ng-bind="car.plate"></span></td> 
		<td><span ng-bind="car.entrance"></span></td>
	</tr>
</tbody>
</table> 
<input type="text" ng-model="car.plate" placeholder="car plate를 입력하세요" />
<button ng-click="park(car)">클릭!</button>
</body>
</html>