<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴-KT 쇼닥 이벤트</title>
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<script>
	var APP_KEY = "7fa1e44757a94fd89921";
	var SERVER_TIME = new Date();
	</script>
	<!-- JSP 영역 -->
	<!-- 
	<%@ page language="java" contentType="text/html;charset=utf-8"  %>
	
	<%@include file="/common3/angular_common_include.jsp"%>
	<% if (LOTTE_DEVEL_MODE) { %>
	<%@include file="/angular_common/lotte_common_css.jsp"%>
	<%@include file="/angular_common/lotte_common_js.jsp"%>
	
	<!-- 이 화면에서 쓰이는 CSS -->
	
	<!-- 이 화면에서 쓰이는 JS -->
	
	<!-- 
	<% } else {  %>
		<%@include file="/common3/html_meta_angular.jsp"%>
		<link rel="stylesheet" type="text/css" href="/lotte/resources/<%= pubVersion %>/shodoc.min.css"/>
		<script src="/lotte/resources/<%= pubVersion %>/shodoc.min.js"></script>
		<script src="/lotte/resources/<%= pubVersion %>/shodoc.tpl.js"></script>
	<% } %>
	 -->
	<!-- // JSP 영역 -->
	 
	<link rel="stylesheet" type="text/css" href="/lotte/resources/rt20181109_1/common.min.css"/>
	<link rel="stylesheet" type="text/css" href="/lotte/resources/rt20181109_1/shodoc.min.css"/>
	<script src="/lotte/resources/rt20181109_1/common.min.js"></script>
	<script src="/lotte/resources/rt20181109_1/shodoc.min.js"></script>	
	<script src="/lotte/resources/rt20181109_1/shodoc.tpl.js"></script>
</head>
<body ng-controller="shodocCtrl">
	<div id="wrapper" ng-show="showWrap">
		<lotte-header></lotte-header>
		<lotte-search></lotte-search>
		<sub-header></sub-header>


<!-- JSP Include 영역 /-->
<%@ include file="/WEB-INF/view/event/shodoc_for_angular.jsp"%>

<script>
/* Get 파라메타 */
var getParam = function(key){
	var _parammap = {};
	var param_value = "";
	document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
	    function decode(s) {
		return decodeURIComponent(s.split("+").join(" "));
	    }
	    _parammap[decode(arguments[1])] = decode(arguments[2]);
	});
	param_value = _parammap[key];
	if(_parammap[key] == undefined) param_value = "";
	return param_value;
};

/* Get Cookie */
function getCookieValue(cName) {
    cName = cName + '=';
    var cookieData = document.cookie;
    var start = cookieData.indexOf(cName);
    var cValue = '';
    if(start != -1){
         start += cName.length;
         var end = cookieData.indexOf(';', start);
         if(end == -1)end = cookieData.length;
         cValue = cookieData.substring(start, end);
    }
    return unescape(cValue);
}

/* 페이지 이동 (Default Parameter 유지) */
function goUrl(url){
	var goUrl = "";
	if(url.indexOf("?") > -1){
		goUrl = url + "&c="+getParam('c')+"&udid="+getParam('udid')+"&schema="+getParam('schema')+"&v="+getParam('v')+"&cn="+getParam('cn')+"&cdn="+getParam('cdn');
	}else{
		goUrl = url + "?c="+getParam('c')+"&udid="+getParam('udid')+"&schema="+getParam('schema')+"&v="+getParam('v')+"&cn="+getParam('cn')+"&cdn="+getParam('cdn');
	}

	document.location.href = goUrl;
}

/* 상품상세 이동 */
function goProductView(goods_no){
	/* 간편회원 확인*/
	if(getCookieValue('MBRSCTCD') == "pnhZkYs9a5U="){
		alert("간편계정 회원의 경우 구매불가합니다.\nL.POINT 통합회원 가입 후 구매해주세요.");
		return;
	}

	if(getParam('udid') == "" || getParam('schema') == ""){
		alert("본 이벤트 상품은 모바일 앱에서만 구매하실 수 있습니다.\n앱에서 '기특한 빅딜'을 검색하세요!");
		goAppDown('lotte200066lotte');
	}else{
		if(loginChk()){
			location.href = "http://m.lotte.com/product/m/product_view.do?goods_no="+goods_no+"&c="+getParam('c')+"&udid="+getParam('udid')+"&schema="+getParam('schema')+"&v="+getParam('v')+"&cn="+getParam('cn')+"&cdn="+getParam('cdn');
		}else{
			if(confirm('로그인 후 구매하실 수 있습니다.')){
				goLogin();
			}
		}
	}
}

/* 쿠폰 등록 */
function regCoupon(cpnNo){
	if(loginChk()){
		var url = "/event/regCoupon.do?";
		var params = "cpn_issu_no="+cpnNo;
		$.post(url, params, function(data){
			$('#msg').html(data).show();
		});
	}else{ 
		if(confirm('로그인 후 다운로드 받을 수 있습니다.')){
			goLogin();
		}
	}
}

/* 앱 다운로드 */
function goAppDown(referrer){
	if (getParam('udid') == "" || getParam('schema') == "") {
		AppExecReferrer(referrer).appExecute();
	}
}

/* 앱 실행 */
var AppExecReferrer = function (referrer) {
	var isIPHONE = navigator.userAgent.match('iPhone') != null || navigator.userAgent.match('iPod') != null,
		isIPAD = navigator.userAgent.match('iPad') != null,
		isANDROID = navigator.userAgent.match('Android') != null,
		isCHROME = navigator.userAgent.match('Chrome') != null,
		iPhone = {Scheme: "mlotte001://", MarketURL: "http://itunes.apple.com/app/id376622474?mt=8"},
		iPad = {Scheme: "mlotte003://", MarketURL: "http://itunes.apple.com/app/id447799601?mt=8"},
		Android = {Scheme: "mlotte001://", MarketURL: "market://details?id=com.lotte&referrer=" + referrer},
		runUrl = location.href.split("&")[0].replace("c=mlotte", ""),
		APPEXEC = {
			MarketURL : "",
			goMarketFunc : function () {},
			ExecuteFunc : function () {}
		};

	/* URL Parsing */
	if (runUrl.indexOf("?") > -1) {
		runUrl += "&cn=23";
	} else {
		runUrl += "?cn=23";
	}

	var appRunUrl = runUrl.replace(/(http:\/\/|https:\/\/)/g, "").replace(".do?&",".do?"),
		chromeRunUrl = runUrl.replace(".do?&",".do?").replace(/\&/g, "@");

	/* 연결 URL 설정 */
	if (isANDROID) { /* Android */
		if (isCHROME) {
			runUrl = chromeRunUrl;
			APPEXEC.MarketURL = Android.MarketURL + "&url=" + Android.Scheme + "m.lotte.com/app_landing.do?url=" + runUrl;
		} else {
			runUrl = appRunUrl.replace(/\&/g, "@");
			APPEXEC.MarketURL = Android.MarketURL + "&returnUrl=" + Android.Scheme + "m.lotte.com/app_landing.do?url=" + runUrl;
		}

		APPEXEC.ExecuteFunc = function () {
			var iframe = document.createElement('iframe');
			iframe.style.visibility = 'hidden';
			iframe.style.display = "none";
	
			if (!isCHROME)
				iframe.src = Android.Scheme + appRunUrl;
			
			iframe.onload = function () {
				window.location = APPEXEC.MarketURL;
			};

			document.body.appendChild(iframe);
		};
	} else { /* iOS */
		if (isIPHONE) {
			APPEXEC.MarketURL = iPhone.MarketURL;
		} else if (isIPAD) {
			APPEXEC.MarketURL = iPad.MarketURL;
		}

		APPEXEC.ExecuteFunc = function () {
			var scheme = "",
				setTimeVal = 350,
				timeout = null;

			if (isIPHONE) {
				scheme = iPhone.Scheme;
			} else if (isIPAD) {
				scheme = iPad.Scheme;
			}

			if (navigator.userAgent.match("iPhone OS 9_2") != null) { /* iOS 9.2 예외처리 (마켓이동시간 2초 후로 변경) */
				setTimeVal = 2000;
			}

			window.location = scheme + appRunUrl;

			timeout = setTimeout(function () {
				window.location = APPEXEC.MarketURL;
			}, setTimeVal);

			$(window).on("pagehide", function () {
				clearTimeout(timeout);
				timeout = null;

				$(window).off("pagehide");
			});
		};
	}

	APPEXEC.goMarketFunc = function () {
		window.location = APPEXEC.MarketURL;
	};
	
	return {
		goMarket: APPEXEC.goMarketFunc, /* 마켓 이동 */
		appExecute: APPEXEC.ExecuteFunc /* 앱 실행 */
	};
};
</script>
<div id="eventPage">
<div id="good_event_box1"><img alt="데이트 코스 완전 정복 기특한 빅딜 2016.01.18~01.24" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_1.jpg" /></div>
<div id="good_event_box2"><img alt="PM 14:00 그를 만나기 10분 전 취향저격, 앵두같은 입술 준비 완료! 마몽드 크리미 틴트 컬러밤 기특한 빅딜가 : 6,300원" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_2_1.jpg" /> <a href="javascript:goProductView('214135131');"><img alt="구매하기" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_btn_1.jpg" /> </a></div>
<div id="good_event_box3"><img alt="PM 16:00 데이트 코스의 정석 분위기 살리자! 드라이브&amp;영화 그린카  5시간 이용권 + 롯데시네마 커플 영화예매권 기특한 빅딜가 : 8,000원" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_3.jpg" /> <a href="javascript:goProductView('214132065');"><img alt="구매하기" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_btn_1.jpg" /> </a></div>
<div id="good_event_box5"><img alt="미리보는 기특한 빅딜!" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_5_1.jpg" /></div>
<div id="good_event_box6"><img alt="당신의 쇼핑 스폰서, 기특한 쿠폰" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_6.jpg" /> <a href="javascript:regCoupon('87528');"><img alt="구매하기" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_btn_2.jpg" /> </a><img alt="-발급수량: 1ID당 1개 가능 -최대 할인금액: 20,000원 -일부 저마진 상품 적용 불가" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_6_1.jpg" /></div>
<div id="good_event_box7"><a href="javascript:eventSharePos();"><img alt="좋은 건 공유하는 기특한 친구" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_share_btn.jpg" /> </a><img alt="롯데닷컴 APP에서는 쿠폰잔치!" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_7.jpg" /> <a href="javascript:goAppDown('lotte200066lotte');"><img alt="할인 쿠폰을 모아논 절친쿠폰북 롯데닷컴 APP에서 절친쿠폰을 검색하세요!" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_coupon_btn_1.jpg" /> </a><a href="javascript:goAppDown('lotte200067lotte');"><img alt="T롯데닷컴 APP에서는 데이터프리 8%추가할인 쿠폰은 뽀너스! (SKT고객 / 안드로이드 전용)" src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_coupon_btn_2.jpg" /> </a></div>
<div id="good_event_box8"><img alt="꼭! 확인해주세요 - 진행기간: 2015년 1월 18일(월) ~ 31일(일) *데이트 지원 프로젝트: 1월 18일(월) ~ 24일(일) *명절선물 지원 프로젝트: 1월 25일(월) ~ 31일(일) - 간편계정가입 회원의 경우 기특한 빅딜 상품을 구매하실 수 없습니다. 구매를 위해서는 L.POINT 통합회원을 부탁 드립니다. - 기특한 빅딜 상품은 APP 전용 상품으로 각 상품별 판매기간 및 최대 구매 가능 수량이 상이합니다. - 비정상적인 방법으로 구매하신 부정주문은 자동취소 처리 되니 이 점 반드시 유의하시기 바랍니다. - 본 행사는 한정수량으로 진행되며, 재고소진 시 조기종료 될 수 있습니다. 또한, 당사의 사정에 따라 사전 고지 없이 임의 변경 및 종료될 수 있습니다." src="http://image.lotte.com/lotte/mobile/mobile_new/event/good_event_box_8.jpg" /></div>
</div>
<!--/ JSP Include 영역 -->


		<lotte-footer></lotte-footer>
		<lotte-btntop></lotte-btntop>
	</div>

	<lotte-side-category></lotte-side-category>
	<lotte-side-mylotte></lotte-side-mylotte>
	<lotte-footer-actionbar></lotte-footer-actionbar>

	<lotte-comm-footer></lotte-comm-footer>
</body>
</html>