<section id="container">
	<section class="pageLoading" ng-show="pageLoading"><p class="loading half"></p></section>
	<section ng-show="!pageLoading">
		<div class="navi_area">
			<header id="Headtop" sub-header-each>
				<h2><a ng-href="/mall/chanel/chanel_main.do?{{baseParam}}&tclick=m_DC_specialshop_Chanel_LOGO"><span>chanel</span></a></h2>
				<nav class="nav">	
					<ul class="ctg_list_big">
						<li ng-repeat="citem in screenData.cate_list" ng-class="{big_on:screenData.selectCate1==citem.disp_no}" style="width:{{100/screenData.cate_list.length}}%">
							<a href="#" class="btn_ctg_big" ng-click="menuCategory1Click(citem, $index)">{{citem.disp_nm}}</a>
						</li>
					</ul>		
					<ul class="ctg_list_mid" ng-show="screenData.showAllCategory"><!-- <button class="open_btn" ng-click="showAllCategoryClick()">더보기</button> -->
						<li ng-repeat="citem in screenData.cate_list"><a href="#" ng-click="menuCategoryClick(citem, $index)">{{citem.disp_nm}}</a></li>
					</ul>
					<div class="ctg_list_sml" ng-repeat="citem in screenData.cate_list" ng-show="screenData.selectCate1==citem.disp_no">
						<ul> 
							<li ng-repeat="citem2 in citem.sub_cate_list" ng-class="{on:screenData.selectCate2==citem2.disp_no}">
								<a href="#" ng-click="menuCategory2Click(citem2, citem, $index)" ng-class="{off:citem2.sub_cate_list ==null}">{{citem2.disp_nm}}</a>
								<div class="cca" ng-show="screenData.selectCate2==citem2.disp_no" ng-class="{scroll:citem2.sub_cate_list.length > 4}">
									<a href="#" ng-repeat="citem3 in citem2.sub_cate_list" ng-click="menuCategory3Click(citem3, citem2, $index)" class="ng-binding ng-scope"><span>{{citem3.disp_nm}}</span></a>
								</div>	                
							</li>
						</ul>
						<div class="mall_cateLayerbar">
							<a ng-click="hideCate()" class="close">닫기</a>
						</div>
					</div>  
					  
				</nav>
			</header>
			<div class="dim" ng-click="hideCate()"></div>
			<!-- 상단 이미지 코너 스와이프 배너 영역 -->	
		</div>
		<!-- main-slider -->
		<div class="main_slide" ng-controller="lotteNgSwipeCtrl">		
			<!--<button class="btn prev" ng-show="swipeIdx > 0" ng-click="beforeSlide()">Preview</button> -->
			<div class="mask">
				<ul class="list" lotte-ng-list-swipe swipe-autoheight="true" swipe-responsive="true" swipe-responsive640="2" swipe-responsive900="2" swipe-slide-item="true" swipe-list-model="screenData.banner_list" swipe-id="top_banner_list" swipe-max-ratio="0.2" swipe-id="chanel_main" swipe-min-distance="40">
					<li ng-repeat="item in screenData.banner_list" ng-if="!(screenData.banner_list.length%2==1 && $index==screenData.banner_list.length-1 && screenType > 1)">
						<a href="#" ng-click="BannerClick(item.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_A0{{$index + 1}}')">
							<div>
								<img ng-src="{{item.img_url}}" alt="{{item.title}}">
							</div>
							<span class="name" ng-bind-html="item.title"></span>
						</a>
					</li>
				</ul>
			</div>
			<!--<button class="btn next" ng-show="swipeIdx<=(swipeBullet.length-2)" ng-click="nextSlide()">Next</button> -->
			<!-- class active 추가시 활성화 -->
			<ol class="bullet" ng-if="screenData.banner_list && screenData.banner_list.length > 1" ng-class="{blind:screenType>1 && screenData.banner_list.length ==3}">
				<li ng-repeat="item in screenData.banner_list" ng-class="{active:$index==swipeIdx}" ng-hide="screenType>1 && $index%2==1" ng-if="!(screenData.banner_list.length%2==1 && $index==screenData.banner_list.length-1 && screenType > 1)">{{$index}}</li>
			</ol>
		</div>	
		
		<section class="prod_list main_prod_list what_new" ng-if="screenData.whats_new_prod_listView.length > 1">
			<h2 class="title" ng-bind-html="screenData.whats_new_prod_list.title"></h2>
			<ul>
				<li ng-repeat="item in screenData.whats_new_prod_list.prod_list.items" ng-hide="screenData.whats_new_prod_list.prod_list.items.length%2==1 && screenData.whats_new_prod_list.prod_list.items.length-1==$index" ng-if="$index<4">
					<a href="#" ng-click="mallProductClick(item, 'm_DC_specialshop_Chanel_Clk_Prd_A{{$index + 1}}')">
						<div><img ng-src="{{item.img_url}}" alt="{{item.goods_nm_kr}}"></div>
						<span class="logoarea">
							<var class="logo">chanel</var>
						</span>
						<span class="name_en" ng-bind-html="item.goods_nm_en"></span>
						<span class="name_kr" ng-bind-html="item.goods_nm_kr"></span>
						<span class="price"><strong>{{item.price | number}}</strong><em>원</em><var ng-if="item.is_plan_prod" class="plan_prod_limit">~</var></span>
					</a>
				</li>
			</ul>
		</section>
		
		<section class="prod_list main_prod_list best_seller" ng-if="screenData.best_seller_prod_listView.length > 1">
			<h2 class="title" ng-bind-html="screenData.best_seller_prod_list.title"></h2>
			<ul>
				<li ng-repeat="item in screenData.best_seller_prod_list.prod_list.items" ng-hide="screenData.best_seller_prod_list.prod_list.items.length%2==1 && screenData.best_seller_prod_list.prod_list.items.length-1==$index" ng-if="$index<4">
					<a href="#" ng-click="mallProductClick(item, 'm_DC_specialshop_Chanel_Clk_Prd_B{{$index + 1}}')">
						<div><img ng-src="{{item.img_url}}" alt="{{item.goods_nm_kr}}"></div>
						<span class="logoarea">
							<var class="logo">chanel</var>
						</span>
						<span class="name_en" ng-bind-html="item.goods_nm_en"></span>
						<span class="name_kr" ng-bind-html="item.goods_nm_kr"></span>
						<span class="price"><strong>{{item.price | number}}</strong><em>원</em><var ng-if="item.is_plan_prod" class="plan_prod_limit">~</var></span>
					</a>
				</li>
			</ul>
		</section>
		
		<section class="prod_list main_prod_list gift" ng-if="screenData.gift_love_prod_listView.length > 1">
			<h2 class="title" ng-bind-html="screenData.gift_love_prod_list.title"></h2>
			<ul>
				<li ng-repeat="item in screenData.gift_love_prod_list.prod_list.items" ng-hide="screenData.gift_love_prod_list.prod_list.items.length%2==1 && screenData.gift_love_prod_list.prod_list.items.length-1==$index" ng-if="$index<4">
					<a href="#" ng-click="mallProductClick(item, 'm_DC_specialshop_Chanel_Clk_Prd_C{{$index + 1}}')">
						<div><img ng-src="{{item.img_url}}" alt="{{item.goods_nm_kr}}"></div>
						<span class="logoarea">
							<var class="logo">chanel</var>
						</span>
						<span class="name_en" ng-bind-html="item.goods_nm_en"></span>
						<span class="name_kr" ng-bind-html="item.goods_nm_kr"></span>
						<span class="price"><strong>{{item.price | number}}</strong><em>원</em><var ng-if="item.is_plan_prod" class="plan_prod_limit">~</var></span>
					</a>
				</li>
			</ul>
		</section>
		
		<section class="main_banner_list cate_banner" ng-if="screenData.cate_banner.large_bnr.img_url !=null || screenData.cate_banner.list_bnr.length>1">
			<h2 class="title">category</h2>
			<ul class="topBnr" ng-if="screenData.cate_banner.large_bnr.img_url !=null">
				<li>
					<a ng-click="goSubCategory(screenData.cate_banner.large_bnr.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_B01')">
						<div>
							<img ng-src="{{screenData.cate_banner.large_bnr.img_url}}" />
							<span><strong ng-bind-html="screenData.cate_banner.large_bnr.title"></strong></span>
						</div>
					</a>
				</li>
			</ul>
			<ul ng-if="screenData.cate_banner.list_bnr !=null && screenData.cate_banner.list_bnr.length>1">
				<li ng-repeat="item in screenData.cate_banner.list_bnr" ng-if="$index < 2">
					<a ng-click="goSubCategory(item.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_B0{{$index + 2}}')">
						<div>
							<img ng-src="{{item.img_url}}" />
							<span ng-if="item.title"><strong ng-bind-html="item.title"></strong></span>
						</div>
					</a>
				</li>
			</ul>
		</section>
		
		<section class="main_banner_list event_banner" ng-if="screenData.event_banner.top_bnr.img_url !=null || screenData.event_banner.list_bnr.length>1">
			<ul class="topBnr" ng-if="screenData.event_banner.top_bnr.img_url !=null">
				<li>
					<a ng-click="BannerClick(screenData.event_banner.top_bnr.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_C01')">
						<div>
							<img ng-src="{{screenData.event_banner.top_bnr.img_url}}" ng-if="screenData.event_banner.top_bnr.img_url" />
						</div>
					</a>
				</li>
			</ul>
			<ul ng-if="screenData.event_banner.list_bnr !=null && screenData.event_banner.list_bnr.length>1">
				<li ng-repeat="item in screenData.event_banner.list_bnr">
					<a href="#" ng-click="BannerClick(item.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_C0{{$index + 2}}')" ng-if="$index < 2">
						<div><img ng-src="{{item.img_url}}" /></div>
					</a>
				</li>
			</ul>
			<!-- 페이스북 아웃링크 안되는 걸로 해서 빼기로 함 
			<ul class="bottomBnr">
				<li>
					<a ng-click="BannerClick(screenData.event_banner.bottom_bnr.link_url, 'm_DC_specialshop_Chanel_Clk_Ban_4')">
						<div>
							<img ng-src="{{screenData.event_banner.bottom_bnr.img_url}}" />
						</div>
					</a>
				</li>
			</ul>
			-->
		</section>
	</section>
</section>