@charset="utf-8";
.checkPerson .txt19:before,
.checkPerson .buttonWrap ul li span:before {position:absolute; display:block; content:''; background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/check_person.png) no-repeat; background-size:200px;}
.checkPerson {background:#fff; position:relative; border-bottom:1px solid #ddd; color:#888; padding-bottom:20px;}
.checkPerson:after {display:block; border-top:1px solid #ddd; height:5px; background:#eee; content:''; width:100%; clear:both; overflow:hidden; position:absolute; left:0; bottom:-1px;}
.checkPerson .tc {text-align:center;}
.checkPerson .txt19 {padding:25px 0 25px 35px; border-bottom:1px solid #ddd;}
.checkPerson .txt19:before {width:33px; left:6px; top:28px; height:33px; background-position:-3px -3px;}
.checkPerson .txt19 strong {color:#333;}
.checkPerson .txt {padding:25px 0; font-size:10px;}
.checkPerson .wrap {padding:0 10px; margin:0 auto;}
.checkPerson .buttonWrap {text-align:center; width:100%; padding:20px 0; overflow:hidden; border-radius:2px; border:1px solid #ddd;}
.checkPerson .buttonWrap a {display:inline-block; line-height:35px; height:35px; border-radius:2px; padding:0 10px; white-space:nowrap; font-size:14px; background:#6190ff; color:#fff;}
.checkPerson .buttonWrap ul {width:100%;}
.checkPerson .buttonWrap ul li {width:50%; float:left; position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;}
.checkPerson .buttonWrap ul li span {display:block; width:60px; height:100px;}
.checkPerson .buttonWrap ul li span:before {left:50%; margin:20px 0 0 -22px; background-position:-52px -5px; width:45px; height:58px;}
.checkPerson .buttonWrap ul li.ipin span:before {width:88px; height:39px; margin:30px 0 0 -51px; background-position:-102px -5px;}
.checkPerson .buttonWrap ul li:first-child {border-right:1px solid #ddd; margin-left:-1px;}
.checkPerson .txtNoMem {text-align:center; padding:40px 0;}
#mdrsFrm {border:0; background-color:#ddd; display:none; z-index:200; position:absolute; left:0; top:120px; bottom:0; height:600px; width:100%; overflow:auto;}
#mdrsFrm.isweb{top:178px;}
