<div>

	<!--퀵배송 안내-->
	<div ng-if="pageUI.popupQuickInfo">
		<div class="bsPop pop_quick">
			<div class="ptit">퀵 배송 안내</div>
			<div class="pInnder">
				<div class="pTxtBox">
					<ul class="dot_list space">
						<li>· 이용 시간 : 09:00~16:30<br>(롯데백화점 본점 휴무, 공휴일 제외)</li>
						<li>· 가능 지역 : 서울지역</li>
						<li>· 퀵 배송비 : 10만원 미만 주문 시 <span class="blue">10,000원</span><br>10만원 이상 주문 시 <span class="blue">5,000원</span></li>
						<li>· 배송 소요 시간 : 결제 완료 후 4시간 이내<br>(마포구/서대문구/용산구/은평구/종로구/중구 : <br />결제 완료 후 2시간 이내)</li>
						<li>· 교환/반품 : 교환 불가/ 택배로 반품만 가능</li>
					</ul>
				</div>
			</div>
			<a ng-click="popupQuickInfoClose()" class="pClose">닫기</a>
		</div>
	</div>
	<!--퀵배송 주문 가능시간-->
	<div ng-if="pageUI.popupQuickInfo2">
		<div class="bsPop pop_availableTime">
			<div class="ptit">퀵배송 구매 가능시간</div>
			<div class="pInnder">
				<div class="pTxtBox">
					<p class="txtCt">
						<strong>오전 9시부터 오후 4시 30분</strong>에만<br /> 가능합니다.<br>
						단, 공휴일 및 롯데백화점 본점 휴무일, <br />배송마감일에는 퀵 배송 주문이 불가하오니 <br />양해부탁드립니다.
					</p>
				</div>
			</div>
			<a ng-click="popupQuickInfoClose()" class="pClose">닫기</a>
		</div>
	</div>

	<!--스마트픽 안내-->
	<div ng-if="pageUI.popupSmartPickInfo">
		<div class="bsPop pop_smartPick">
			<div class="ptit">스마트픽 안내</div>
			<div class="pInnder">
				<div class="pTxtBox">
					<ul class="dot_list space">
						<!-- 20171123 스마트픽 안내 문구 수정-->
						<li>· <strong>스마트픽 서비스란?</strong><br />온라인에서 주문하고 오프라인 매장으로 방문하여 픽업하는 서비스
							<img class="smp_ntc_img" src="http://image.lotte.com/lotte/mo2017/product/smp_ntc_img.gif" alt="스마트픽 프로세스 이미지">
							<p class="smp_ntc_txt"><span>※</span>교환권은 마이롯데 스마트픽 관리에서 확인 가능합니다.</p>
						</li>
						<!-- // 20171123 스마트픽 안내 문구 수정-->
						<li>· <strong>백화점 픽업</strong><br />원하는 롯데백화점 지점에 방문예정일을 선택하여 픽업 <br />(오후 4시 이전에는 당일픽업도 가능)</li>
						<li>· <strong>내 주변 픽업</strong><br />원하는 매장을 선택 후,주변 가까운 픽업지점에 주문한 상품을 택배로 배송받아 안전하게 픽업</br/>
							<p class="tb_cont"><span>* 픽업가능매장 :</span><span>세븐일레븐(매장, 락커)<br/>/하이마트/롯데슈퍼/롯데리아</span></p>
							(택배 3일이내 토,일 제외)
						</li>
					</ul>
				</div>
			</div>
			<a ng-click="popupSmartpicInfoClose()" class="pClose">닫기</a>
		</div>
	</div>


	<section class="optLayerWrap" ng-class="{on:pageUI.option.selectedBox, option:pageUI.option.selectBox}" id="optionWrap"><!-- 옵션레이어 열림:on, 옵션레이어 선택시 optLayerWrap:option -->
		<div class="lpay" ng-if="pageUI.option.lpayShow && pageUI.data.commonInfo.lpayDispYn && !pageUI.option.selectedBox">
			<span>
				<img src="http://image.lotte.com/lotte/mo2017/product/ic_lpay.png" alt="간편결제는 L.pay">
				<a ng-click="lpayClose()"></a>
			</span>
		</div>
		<!-- 바로주문바 -->
		<div class="optBtnWrap">
			<ul class="optBtn" ng-if="pageUI.data.commonInfo.saleMobileYn && pageUI.data.commonInfo.saleStatCd == '10' && !pageUI.data.commonInfo.rentalYn" ng-class="{isChannel:pageUI.data.commonInfo.chanelYn, isEmpty:pageUI.option.selectedItem[pageUI.option.selectedType].length <= 0 && pageUI.option.selectedBox}">
				<!-- 아이콘 -->
				<!-- 20180517 장바구니 담기 아이콘 제거 <li ng-if="pageUI.data.commonInfo.giftYn && !pageUI.option.selectedBox" class="btnIcon"><a class="ic_cart" ng-click="cartAdd('m_RDC_ProdDetail_Clk_Carttry')">장바구니 아이콘</a></li>-->
				<!-- 20180517 위시리스트 담기로 변경-->
				<li ng-if="!pageUI.option.selectedBox" class="btnIcon"><a class="ic_wish" ng-class="{on:pageUI.wish[pageUI.data.commonInfo.goodsNo],isChannelColor:pageUI.data.commonInfo.chanelYn}" ng-click="wishClick(pageUI.data.commonInfo.goodsNo); logGAEvtPrdView('바로구매바','위시리스트');">위시리스트 아이콘</a></li>
				
				<!-- // 20180517 위시리스트 담기로 변경-->
				<!-- //아이콘 -->
				<!-- 일반 -->
				<li ng-if="(pageUI.data.dlvInfo.gubunCd != '4' && pageUI.option.selectedBox) && pageUI.option.selectedType != 'gift'" >
					<a  ng-if="pageUI.option.selectedType == ''" ng-click="cartAdd('m_RDC_ProdDetail_Clk_Carttry');">장바구니 담기</a>
					<a  ng-if="pageUI.option.selectedType != '' && pageUI.option.selectedType != 'gift'" ng-click="cartAdd('m_RDC_ProdDetail_Clk_Cart')">장바구니 담기</a>
				</li>
				<!-- btnCart 클래스 들어가면 작은 사이즈 고정 -->
				<li>
					<a ng-click="buyItNow()" ng-class="{buyBtn:(pageUI.option.selectedType == 'buy' || pageUI.option.selectedType == 'cart' || pageUI.option.selectedType == 'gift') && pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedBox && !pageUI.data.commonInfo.chanelYn}">
					<!-- 20180524 총 합계 금액 제거	
					<span ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'buy'">총 {{pageUI.option.selectedCnt.buy}}개 | {{pageUI.option.selectedPrice.buy | number}}원 </span>
					<span ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'cart'">총 {{pageUI.option.selectedCnt.cart}}개 | {{pageUI.option.selectedPrice.cart | number}}원 </span>
					-->
					<span ng-if="((pageUI.option.selectedType == '' || !pageUI.option.selectedItem[pageUI.option.selectedType].length) || (pageUI.option.selectedType != 'gift'))&& !pageUI.data.commonInfo.rsvSaleYn && !pageUI.option.selectedBox">구매하기</span>
					<span ng-if="(pageUI.option.selectedType == '' || !pageUI.option.selectedItem[pageUI.option.selectedType].length ) && pageUI.option.selectedType != 'gift' && pageUI.data.commonInfo.rsvSaleYn">예약구매</span>
					<span ng-if="(pageUI.option.selectedType == 'buy' || pageUI.option.selectedItem[pageUI.option.selectedType].length > 0) && !pageUI.data.commonInfo.rsvSaleYn && pageUI.option.selectedBox && pageUI.option.selectedType != 'gift'" >바로구매</span>
					<span ng-if="pageUI.option.selectedType == 'buy' && pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.data.commonInfo.rsvSaleYn">예약구매</span>
					<span ng-if="pageUI.option.selectedType == 'gift' && pageUI.option.selectedItem[pageUI.option.selectedType].length <= 1">선물하기</span>
					</a>
				</li>
				<!-- 20180426 간편결제 -->
				<li ng-if="!loginInfo.isSimple 
							&& pageUI.data.commonInfo.easyLpayYn 
							&& pageUI.option.selectedType == 'buy' 
							&& pageUI.option.radioValue != 'quick' 
							&& pageUI.option.radioValue != 'smartpic' 
							&& !pageUI.data.commonInfo.chanelYn 
							&& pageUI.option.selectedBox
							&& !pageUI.data.commonInfo.runFishInfo">
					<a ng-click="simpleOrderShow(pageUI.showOrderSimple)">L.pay</a>
				</li>
				<!-- //20180426 간편결제 -->
				<!-- 선물하기 --> 
				<!--<li ng-if="pageUI.data.commonInfo.giftYn && (pageUI.option.selectedType != 'buy' && pageUI.option.selectedType != 'cart')" class="btnGift" ng-class="{long:pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'gift'}">
					<a ng-click="buyItGift()">
						<span ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'gift'">총 {{pageUI.option.selectedCnt.gift}}개 | {{pageUI.option.selectedPrice.gift | number}}원 </span>
						선물하기
					</a>
				</li>-->
				<!-- //선물하기 -->
			</ul>
			<!-- 와인상품 주문건에 대한 처리 필요 없으므로 false 처리 -->
			<ul class="optBtn" ng-if="pageUI.data.dlvInfo.gubunCd == '1' && false">
				<!-- 스마트픽 -->
				<li class="btnSmart"><a ng-click="buyItNow('m_RDC_ProdDetail_Clk_smartpick');"><span>스마트 픽</span>예약구매</a></li>
				<!-- //스마트픽 -->
			</ul>
			<ul class="optBtn" ng-if="pageUI.data.commonInfo.rentalYn && pageUI.data.commonInfo.saleStatCd != '20' && pageUI.data.commonInfo.saleStatCd != '30'">
				<li ng-if="!pageUI.option.selectedBox" class="btnIcon"><a class="ic_wish" ng-class="{on:pageUI.wish[pageUI.data.commonInfo.goodsNo],isChannelColor:pageUI.data.commonInfo.chanelYn}" ng-click="wishClick(pageUI.data.commonInfo.goodsNo)">위시리스트 아이콘</a></li>
				<!-- 렌탈상품 -->
				<li><a ng-click="buyItNow('m_RDC_ProdDetail_Clk_Counselor');"  ng-class="{buyBtn: pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedBox && !pageUI.data.commonInfo.chanelYn}">상담신청</a></li>
				<!-- //렌탈상품 -->
			</ul>
			<ul class="optBtn" ng-if="pageUI.data.commonInfo.saleStatCd == '20' && pageUI.data.commonInfo.saleMobileYn">
				<!-- 품절알림 -->
				<li class="btnIcon"><a class="ic_alarm" ng-click="StockRechargeCall(pageUI.data.commonInfo.goodsNo,0,'m_RDC_ProdDetail_Clk_Alarm'); logGAEvtPrdView('바로구매바','재입고알림');">재입고알림 아이콘</a></li>
				<li class="btnSoldout"><a>이 상품은 품절되었습니다.</a></li>
			</ul>
			<ul class="optBtn" ng-if="!pageUI.data.commonInfo.saleMobileYn && pageUI.data.commonInfo">
				<li ng-if="!pageUI.option.selectedBox" class="btnIcon"><a class="ic_wish" ng-class="{on:pageUI.wish[pageUI.data.commonInfo.goodsNo],isChannelColor:pageUI.data.commonInfo.chanelYn,notSale:!pageUI.data.commonInfo.saleMobileYn}" ng-click="wishClick(pageUI.data.commonInfo.goodsNo)">위시리스트 아이콘</a></li>
				<!-- 모바일 주문불가 -->
				<li class="btnSoldout"><a> 모바일 구매 불가상품입니다</a></li>
			</ul>
			<ul class="optBtn" ng-if="pageUI.data.commonInfo.saleStatCd == '30' && pageUI.data.commonInfo.saleMobileYn">
				<!-- 판매종료 -->
				<li class="btnSoldout"><a> 판매종료된 상품입니다 </a></li>
			</ul>
				<!-- //품절알림 & 모바일 주문불가 & 판매종료 -->
			
		</div>
		<!-- //바로주문바 -->

		<!-- 바로주문 옵션 선택창 -->
		<section class="optToggleLayer">
			<div class="optLayer on">
				<div class="dim2"ng-click="closeSelectedBox()">
					<div class="bg">Dim</div>
				</div>
				<!-- 옵션이 쌓이는 곳-->
				<section class="optBox">
					<div class="optBoxHeader">
						<p ng-if="pageUI.data.commonInfo.goodsCmpsCd == '50' && pageUI.data.prdInfo.purQtyLmtYn && pageUI.option.selectedType != 'cart'">
							<sapn ng-if="pageUI.data.prdInfo.minLmtQty > 1">최소 {{pageUI.data.prdInfo.minLmtQty}}개 이상</sapn>
							<sapn ng-if="pageUI.data.prdInfo.minLmtQty == 1">1일 최대 {{pageUI.data.prdInfo.maxLmtQty}}개</sapn>
							구매 가능합니다.
						</p>
						<!-- 장바구니담기 구매정보 -->
						<p ng-if="pageUI.option.data[pageUI.option.goodsNo].prdInfo.goodsCmpsCd == '50' && pageUI.option.data[pageUI.option.goodsNo].prdInfo.purQtyLmtYn && pageUI.option.selectedType == 'cart'">
							<sapn ng-if="pageUI.option.data[pageUI.option.goodsNo].prdInfo.minLmtQty > 1">최소 {{pageUI.option.data[pageUI.option.goodsNo].prdInfo.minLmtQty}}개 이상</sapn>
							<sapn ng-if="pageUI.option.data[pageUI.option.goodsNo].prdInfo.minLmtQty == 1">1일 최대 {{pageUI.option.data[pageUI.option.goodsNo].prdInfo.maxLmtQty}}개</sapn>
							구매 가능합니다.
						</p>
					</div>
					<a ng-click="closeSelectedBox()" class="optLayerBoxClose">닫기</a>
					<div class="ordLayerWrap">
						<div class="optPopup active" ng-click="openSelectBox()" ng-if="(pageUI.option.data[pageUI.option.goodsNo].optSelectList || pageUI.data.commonInfo.goodsCmpsCd == '30') && !(pageUI.option.selectedType == 'cart' && !pageUI.option.data[pageUI.option.goodsNo].optSelectList)">
							<div class="titWrap">
								<p>옵션을 선택해 주세요.</p>
							</div>
						</div>
						<div class="ordPrdList" ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0">
							<ul>
								<li ng-repeat="item in pageUI.option.selectedItem[pageUI.option.selectedType] | orderBy:'-idx'">
									<div class="prdInfo">
										<p class="thumb" ng-if="pageUI.data.commonInfo.goodsCmpsCd == '30'"><img ng-src="{{item.imgUrl}}" alt="" /></p>
										<p class="thumb" ng-if="item.colorImgUrl" ng-class="{isChannelColor:pageUI.data.commonInfo.chanelYn}"><img ng-src="{{item.colorImgUrl}}" alt=""></p>
										<div class="txt">
											<div class="tit"><span ng-if="pageUI.data.commonInfo.goodsCmpsCd == '30' && pageUI.option.selectedType != 'cart'">[선택 {{item.planIdx+1}}] </span>{{item.goodsNm}} {{item.optValue}}</div>
											<!-- 20180209 lg희망일배송 추가-->
											<div class="delivery" ng-if="item.dlvInfo && pageUI.option.deliveryMethod[pageUI.option.selectedType].type == 'ship' && pageUI.option.selectedType != 'gift' && !item.dlvInfoSetDate.gubunCd"><strong>{{item.dlvInfo.dlvDate}}<em>{{item.dlvInfo.dlvYoil}}</em></strong> {{item.dlvInfo.dlvDesc}}</div>
											<div class="delivery lgdlv" ng-if="item.dlvInfoSetDate.gubunCd && pageUI.option.deliveryMethod[pageUI.option.selectedType].type == 'ship' && pageUI.option.selectedType != 'gift'" ng-class="{lg_delivery:item.dlvInfoSetDate.gubunCd == '88'}"><strong>{{item.dlvInfoSetDate.dlvDate}}</strong> {{item.dlvInfoSetDate.dlvDesc}}</div>
											<!-- // 20180209 lg희망일배송 추가 -->
											<div class="delivery" ng-if="item.dlvInfo.quickDispYn && pageUI.option.deliveryMethod[pageUI.option.selectedType].type == 'quick'">{{item.dlvInfo.quickDesc}}</div>
											<div class="delivery" ng-if="pageUI.option.selectedType == 'gift'">선물수락 후 발송예정</div>
											<div class="quantityCnt" ng-if="item.invQty <= 5 && !item.optStkYn"> 품절임박( {{item.invQty}}개)</div>
										</div>
										<a class="prdDel" ng-if="!item.protect" ng-click="removeSelect()">상품 삭제</a>
									</div>
									<div class="prdQuantity">
										<div class="inner">
											<div class="quantityWarp">
												<button class="btnMinus" ng-click="subOrderCnt()"><span>-</span></button>
												<span class="ipt_num"><input type="number" ng-blur="checkStock(item)" ng-model="item.orderCnt" ng-value="1" pattern="[0-9]*" /></span>
												<button class="btnPlus" ng-click="addOrderCnt()"><span>+</span></button>
											</div>
											<div class="price" ng-class={dscntOn:item.itemDscntAmt}><strong>{{(item.price*item.orderCnt) | number}}</strong>원</div>
											<div class="dscnt" ng-if="item.itemDscntAmt">({{item.itemDscntAmt | number}}원 할인)</div>
										</div>
									</div>
									<!-- 입력형 옵션 -->
									<div class="optAddInfo" ng-if="pageUI.option.data[item.goodsNo].inputOptList.items.length > 0">
										<div class="itemOpt" ng-repeat="inputItem in pageUI.option.data[item.goodsNo].inputOptList.items">
											<label for="{{'item_'+item.goodsNo+'_'+item.idx+'_'+$index}}" class="placeholderTxt" ng-if="!item.inputValue[$index].length">{{inputItem.optNm}}</label>
											<input type="text" ng-if="inputItem.valueType != '20'" ng-model="item.inputValue[$index]" id="{{'item_'+item.goodsNo+'_'+item.idx+'_'+$index}}" class="optInput" ng-value="" ng-class="{cal:inputItem.valueType == '20'}" />
											<input type="text" ng-if="inputItem.valueType == '20'" ng-model="item.inputValue[$index]" id="{{'item_'+item.goodsNo+'_'+item.idx+'_'+$index}}" class="optInput" ng-value="" ng-class="{cal:inputItem.valueType == '20'}" />
											<a class="btnCal" ng-if="inputItem.valueType == '20'" ng-click="showDatePicker(item, $index)"><span>달력</span></a>
										</div>
									</div>
									<!-- //입력형 옵션 -->
								</li>
							</ul>
						</div>
					</div>
					<!-- 20180524 상품 총합 금액 노출 -->
					<div class="total_price" ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0">
						<span class="total_price_title">총 금액</span>
						<span class="total_price_money" ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'buy'"><em>{{pageUI.option.selectedPrice.buy | number}}</em>원 </span>
						<span class="total_price_money" ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'cart'"><em>{{pageUI.option.selectedPrice.cart | number}}</em>원 </span>
						<span class="total_price_money" ng-if="pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 && pageUI.option.selectedType == 'gift'"><em>{{pageUI.option.selectedPrice.gift | number}}</em>원 </span>
					</div>
					<!-- // 20180524 상품 총합 금액 노출 -->
					<section ng-if="pageUI.option.deliveryMethod[pageUI.option.selectedType].showMethodBox 
									&& pageUI.option.selectedItem[pageUI.option.selectedType].length > 0 
									&& (pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.quick 
									|| pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.smartpic 
									|| pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.giftYn 
									|| pageUI.data.commonInfo.goodsCmpsCd == '30')">
						<ul class="deliSelectWarp">
							<li>
								<input type="radio" ng-click="checkSubDeilvery(pageUI.option.radioValue); logGAEvtPrdView('바로구매바','택배배송선택');" ng-model="pageUI.option.radioValue" value="ship" ng-checked = "pageUI.option.radioValue == 'ship' && pageUI.option.selectedType != 'gift'" ng-disabled="!pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.ship"  class="radio01" id="rdNm01" />
								<label for="rdNm01">택배</label>
							</li>
							<li>
								<input type="radio" ng-click="checkSubDeilvery(pageUI.option.radioValue); logGAEvtPrdView('바로구매바','퀵배송선택');" ng-model="pageUI.option.radioValue" value="quick" ng-checked = "pageUI.option.radioValue == 'quick'" ng-disabled="!pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.quick"  class="radio01" id="rdNm02" />
								<label for="rdNm02">퀵 배송</label>
							</li>
							<li>
								<input type="radio" ng-click="checkSubDeilvery(pageUI.option.radioValue); logGAEvtPrdView('바로구매바','스마트픽선택');" ng-model="pageUI.option.radioValue" value="smartpic" ng-checked = "pageUI.option.radioValue == 'smartpic'" ng-disabled="!pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.smartpic"  class="radio01" id="rdNm03" />
								<label for="rdNm03">스마트픽</label>
								<!-- 20180524 할인금액 비노출
								<span class="smpDiscount" ng-if="pageUI.option.data[pageUI.option.goodsNo].prdInfo.smpDscntPrc && pageUI.data.commonInfo.goodsCmpsCd != '30'">({{pageUI.option.data[pageUI.option.goodsNo].prdInfo.smpDscntPrc | number}}원 할인)</span>
								-->
							</li>
							<li>
								<input type="radio" ng-click="checkSubDeilvery(pageUI.option.radioValue); logGAEvtPrdView('바로구매바','선물선택');" value="gift" ng-model="pageUI.option.radioValue" ng-checked = "pageUI.option.radioValue == 'gift'" ng-disabled="!pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.ship || pageUI.option.selectedItem[pageUI.option.selectedType].length > 1 || !pageUI.option.deliveryMethod[pageUI.option.selectedType].onOff.giftYn" class="radio01" id="rdNm04" />
								<label for="rdNm04">선물</label>
							</li>
						</ul>
					</section>
				</section>
				<!-- //옵션이 쌓이는 곳-->
				<!-- 옵션 레이어 -->
				<section class="optLayerBox">
					<div class="optLayerHeader">
						<span class="optTitle">옵션선택</span>
						<span class="soldOutCk" ng-click="showSoldOutClick('m_RDC_ProdDetail_Clk_Btn04');logGAEvtPrdView('바로구매바','품절상품보기');">
							<input id="soCk" type="checkbox" ng-model="pageUI.option.showSoldout" ng-true-value="true" ng-false-value="false" /> <label for="soCk">품절 상품도 보기</label>
						</span>
						<div class="optSearchWrap">
							<input type="search" ng-model="pageUI.option.searchKey" placeholder="찾고싶은 옵션명을 입력해주세요" />
							<a class="btn_srh">검색</a>
						</div>
					</div>
					<a ng-click="closeSelectBox()" class="optLayerBoxClose">닫기</a>

					<div class="optPopupWrap" id="optPopupWrap">
						<!-- 기획전 상품선택 -->
						<div class="optPopup" ng-if="pageUI.data.commonInfo.goodsCmpsCd == '30' && pageUI.option.selectedType != 'cart'" ng-class="{on:pageUI.option.selectStep == 0, active:pageUI.option.selectStep > 0}">
							<div class="titWrap" ng-click="changeStep(0)">
								<p ng-if="pageUI.option.selectStep > 0">상품 <span ng-if="pageUI.option.selectedType != 'cart'">[선택 {{getPlanIdx(pageUI.option.goodsNo)+1}}] <span class="searchHighLight" ng-bind-html="replaceKeywordText(pageUI.option.data[pageUI.option.goodsNo].prdInfo.goodsNm)"></span></span></p>
								<p ng-if="pageUI.option.selectStep == 0">상품 선택</p>
							</div>
							<div class="prdOptList">
								<ul>
									<li ng-repeat="item in pageUI.data.planPrdInfo.prdList.items"
										ng-class="{soldout: item.soldOutYn, pkgNo:item.delevery,giftNo:pageUI.option.selectedType == 'gift' && !item.giftYn}"
										ng-if="((pageUI.option.showSoldout && item.soldOutYn) || !item.soldOutYn) && optionSearchKeyword('prd')">
										<div ng-click="selectPlanProduct()">
											<p class="maxOrder" ng-if="item.purQtyLmtYn">
												<sapn ng-if="item.minLmtQty > 1">최소 {{item.minLmtQty}}개 이상</sapn>
												<sapn ng-if="item.minLmtQty == 1">1일 최대 {{item.maxLmtQty}}개</sapn>
												구매 가능합니다.
											</p>
											<div class="optItem">
												<p class="thumb"><img ng-src="{{item.imgUrl}}" alt="" /></p>
												<div class="opt">
													<p class="name">[선택 {{item.idx+1}}] {{item.goodsNm}}</p>
													<a class="restockAlram" ng-if="item.soldOutYn" ng-click="StockRechargeCall(item.goodsNo,0, 'm_RDC_ProdDetail_Clk_Alarm')">재입고알림</a>
													<p class="price"><strong>{{item.price | number}}</strong>원</p>
												</div>
											</div>
										</div>
									</li>
									<li ng-if="optionEmptySearchKeyword('prd')"><div class="optItem"><div><div class="title"><span>검색어에 해당하는 옵션이 없습니다.</span></div><div class="state"></div></div></div></li>
								</ul>
							</div>
						</div>
						<!-- // 기획전 상품선택 -->
						<div class="optPopup" ng-class="{on:pageUI.option.selectStep == $index+1, active: pageUI.option.selectStep > $index}"
							ng-repeat="item in pageUI.option.data[pageUI.option.goodsNo].optSelectList.items" ng-if="pageUI.option.selectStep != 0">
							<div class="titWrap" ng-click="changeStep($index+1)">
								<p ng-if="pageUI.option.selectStep > $index+1">{{item.optNm}} <span>{{pageUI.option.data[pageUI.option.goodsNo].optSelectList.items[$index].itemList.items[pageUI.option.selectOption[$index]].optValue}}</span></p>
								<p ng-if="pageUI.option.selectStep <= $index+1">{{item.optNm}} 선택</p>
							</div>
							<div class="optList">
								<ul>
									<li ng-repeat="list in item.itemList.items" ng-class="{soldout:list.soldout}" ng-if="((pageUI.option.showSoldout && list.soldout) || !list.soldout) && optionSearchKeyword('item')">
										<div class="optItem" ng-click="selectOption($parent.$parent.$index, list)">
											<p class="thumb" ng-if="list.colorImgUrl" ng-class="{isChannelColor:pageUI.data.commonInfo.chanelYn}"><img ng-src="{{list.colorImgUrl}}" alt=""></p>
											<div class="opt" >
												<div class="title">
													<!-- span class="choice">선택1)</span-->
													<span class="searchHighLight" ng-bind-html="replaceKeywordText(list.optValue)"></span>
												</div>
												<div class="state">
													<span class="delivery" ng-if="(list.dtl.quickDispYn || list.dtl.smpDispYn) && pageUI.option.selectedType != 'gift'"><span ng-if="list.dtl.quick">퀵배송</span><span ng-if="list.dtl.quick && list.dtl.smpDispYn"> | </span><span ng-if="list.dtl.smpDispYn">스마트픽</span></span>
													<div class="restockAlram" ng-if="list.soldout && list.dtl.optValue"><a ng-click="StockRechargeCall(pageUI.option.goodsNo, list.dtl.itemNo, 'm_RDC_ProdDetail_Clk_Alarm')">재입고알림</a></div>
													<span ng-if="list.dtl.invQty <= 5 && !list.soldout" class="quantityCnt">품절임박 ({{list.dtl.invQty}}개) </span>
													<span ng-if="list.soldout" class="quantityCnt">품절</span>
												</div>
											</div>
										</div>
									</li>
									<li ng-if="optionEmptySearchKeyword('item')"><div class="optItem"><div><div class="title"><span>검색어에 해당하는 옵션이 없습니다.</span></div><div class="state"></div></div></div></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- //옵션 레이어 -->
			</div>

		</section>
		<!-- //바로주문 옵션 선택창 -->
		<!-- 20180426 간편주문 iframe -->
		<section id="simpleOrder_layer" ng-if="pageUI.data.commonInfo.easyLpayYn" ng-class="{on:pageUI.showOrderSimple}">
			<div class="iframe_wrap">
				<iframe id="simpleOrder_form" scrolling="yes" frameborder="0" name="simpleOder" ></iframe>
			</div>
		</section>
		<!-- // 20180426 간편주문 iframe -->
		<!-- datepicker -->
		<section id="dtPicker" date-picker  ng-if="pageUI.showDatePicker">
			<span class="close" ng-click="closeDatePicker()">닫기</span>
			<div class="head">
				<span class="prev" ng-click="datePrev()">Prev</span>
				<span class="next" ng-click="dateNext()">Next</span>
				<h5>
				   <strong>{{calendar.year}}</strong> 년
				   <strong>{{calendar.month}}</strong> 월
				</h5>
			</div>
			<section class="calendar">
				<div class="week">SUN</div>
				<div class="week">MON</div>
				<div class="week">TUE</div>
				<div class="week">WED</div>
				<div class="week">THU</div>
				<div class="week">FRI</div>
				<div class="week">SAT</div>
				<div ng-repeat="item in calendar.date" ng-click="selectDate()"><span ng-class="{off:item.isOld, today:item.isToday}"><strong class="">{{item.d}}</strong></span></div>
			</section>
		</section>
		<!-- //datepicker-->
	</section>

	<!-- (:^:) 표시가 있는 항목은 단품옵션이 여러개일 경우 해당 단품옵션의 정보를 :^: 구분자로 붙여 전달 -->
	<!-- 일반/기획전 상품 주문 -->
	<form  id="frm_send" name="frm_send" method="post" action="" target="{{pageUI.targetFrame}}">
		<!-- 기획전형상품 -->

		<!-- 상품번호 (:^:) -->
		<input type="hidden" name="goods_no" ng-value="pageUI.option.orderSendInfo.goods_no"/>
		<!-- 단품번호 (:^:) -->
		<input type="hidden" name="item_no" ng-value="pageUI.option.orderSendInfo.item_no"/>
		<!-- 1:일반주문 만 진행 --><!-- 상품구성코드 : (10: 패키지상품, 20: 맞춤형상품, 30: 선택형상품 - 묶음형, 40: 추가구성형상품, 50: 일반상품 - 일반형) (:^:) ***** -->
		<input type="hidden" name="goods_cmps_cd" ng-value="pageUI.option.orderSendInfo.goods_cmps_cd"/>
		<!-- 입력형 상품 옵션 정보 (;;;;;) -->
		<input type="hidden" name="goods_choc_desc" ng-value="pageUI.option.orderSendInfo.goods_choc_desc"/>
		<!-- 주문수량 (:^:) ***** -->
		<input type="hidden" name="ord_qty" ng-value="pageUI.option.orderSendInfo.ord_qty"/>
		<!-- 유입전시번호 (curDispNo) -> 상품의 대분류 (:^:) ***** -->
		<input type="hidden" name="infw_disp_no"  ng-value="pageUI.option.orderSendInfo.infw_disp_no"/>
		<!-- 유입전시번호구분코드 (curDispSctCd) (:^:) ***** -->
		<input type="hidden" name="infw_disp_no_sct_cd"  ng-value="pageUI.option.orderSendInfo.infw_disp_no_sct_cd"/>
		<!-- 마스터 상품여부 Y/N (:^:) ***** -->
		<input type="hidden" name="master_goods_yn"  ng-value="pageUI.option.orderSendInfo.master_goods_yn"/>
		<!-- 장바구니 일련번호 (:^:) -->
		<input type="hidden" name="cart_sn"  ng-value="pageUI.option.orderSendInfo.cart_sn"/>
		<!-- 상품구성수량 (:^:) -->
		<input type="hidden" name="cmps_qty"  ng-value="pageUI.option.orderSendInfo.cmps_qty"/>
		<!-- 대표전시번호 -> 상품의 세분류 (:^:) ***** -->
		<input type="hidden" name="mast_disp_no" ng-value="pageUI.option.orderSendInfo.mast_disp_no"/>
		<!-- 매장전달메모유형코드 (:^:) -->
		<input type="hidden" name="shop_memo_tp_cd"  ng-value="pageUI.option.orderSendInfo.shop_memo_tp_cd"/>
		<!-- 매장전달메모설명 (:^:) -->
		<input type="hidden" name="shop_memo_cont"  ng-value="pageUI.option.orderSendInfo.shop_memo_cont"/>
		<!-- 스마트픽방문매장번호 (:^:) -->
		<input type="hidden" name="smpVstShopNo"  ng-value="pageUI.option.orderSendInfo.smp_vst_shop_no"/>
		<!-- 스마트픽방문예정일시 (:^:) -->
		<input type="hidden" name="smartpickdate"  ng-value=""/>
		<!-- 코너번호 (:^:) -->
		<input type="hidden" name="conr_no"  ng-value="pageUI.option.orderSendInfo.conr_no"/>
		<!-- 마스터상품번호 (:^:) ***** -->
		<input type="hidden" name="std_goods_no"  ng-value="pageUI.option.orderSendInfo.std_goods_no"/>
		<!-- 스마트픽 픽업 유형 (10: 매장, 20: 데스크, 30: 락커) (:^:) -->
		<input type="hidden" name="smp_tp_cd"  ng-value="pageUI.option.orderSendInfo.smp_tp_cd"/>
		<!-- 스마트픽 인도장소 일련번호 (:^:) -->
		<input type="hidden" name="smp_deli_loc_sn"  ng-value="pageUI.option.orderSendInfo.smp_deli_loc_sn"/>

		<!-- 일반상품 -->
		<!-- curDispNo -->
		<input type="hidden" name="cartcatcode" ng-value="pageUI.reqParam.curDispNo" />
		<!-- 장바구니 타입 (GOODS: 일반상품, ONECPN: 쿠폰상품) -->
		<input type="hidden" name="carttype" ng-value="pageUI.option.orderSendInfo.common.cartType" />
		<!-- ????? N으로 고정되어 있음 -->
		<input type="hidden" name="cartuseyn" value="N" />
		<!-- ????? 1로 고정되어 있음 -->
		<input type="hidden" name="dir_delv_yn" value="1" />
		<!-- 매장번호 -->
		<input type="hidden" name="dispno" ng-value="pageUI.reqParam.curDispNo" />


		<!-- 선택된 상품의 값인지 확인필요!!!!! -->
		<!-- 상품명 -->
		<input type="hidden" name="goodsnm" ng-value="pageUI.option.orderSendInfo.common.goodsNm" />
		<!-- 상품구별코드 (MD상품군) -->
		<input type="hidden" name="goods_sort_cd" ng-value="pageUI.option.orderSendInfo.common.mdGsgrNo" />
		<!-- ????? -->

		<!-- 선택된 상품의 값인지 확인필요!!!!! -->
		<input type="hidden" name="goodsdtlcd" ng-value=""  />
		<!-- 최대 구매 수량 -->
		<input type="hidden" name="lmt_cnt_max" ng-value="pageUI.option.orderSendInfo.common.maxLmtQty" />
		<!-- 최소 구매 수량 -->
		<input type="hidden" name="lmt_cnt_min" ng-value="pageUI.option.orderSendInfo.common.minLmtQty" />


		<!-- 백화점 코드 -->
		<input type="hidden" name="myshop" ng-value="" />
		<!-- 주문 타입 : ORD_TP_NOCART로 고정됨 -->
		<input type="hidden" name="ordertype" value="ORD_TP_NOCART" />
		<!-- 면세상품여부 -->
		<input type="hidden" name="tdfSctCd" ng-value="pageUI.option.orderSendInfo.common.tdfSctCd" />
		<!-- 스마트픽 픽업장소 -->
		<input type="hidden" name="smpVstShopNm"  ng-value="" />
		<!-- 스마트픽 픽업시간 -->
		<input type="hidden" name="smartpicktime" ng-value="" />
		<!-- 위시담기 여부 -->
		<input type="hidden" name="wishlistyn" ng-value="pageUI.option.orderSendInfo.common.saveWishYn ? 'Y':'N'"/>
		<!-- 옵션정보... 상품상세에서는 없는 값으로 고정 -->
		<input type="hidden" name="opt_name1" ng-value="" />
		<input type="hidden" name="opt_name2" ng-value="" />
		<input type="hidden" name="opt_name3" ng-value="" />
		<input type="hidden" name="opt_name4" ng-value="" />
		<input type="hidden" name="opt_name5" ng-value="" />
		<input type="hidden" name="opt_value1" ng-value="" />
		<input type="hidden" name="opt_value2" ng-value="" />
		<input type="hidden" name="opt_value3" ng-value="" />
		<input type="hidden" name="opt_value4" ng-value="" />
		<input type="hidden" name="opt_value5" ng-value="" />
		<!-- 대표상품이미지URL -->
		<input type="hidden" name="imgUrl0" ng-value="pageUI.option.orderSendInfo.common.imgUrl">
		<!-- 대표상품이미지URL -->
		<input type="hidden" name="imgUrl" ng-value="pageUI.option.orderSendInfo.common.imgUrl">
		<!-- 제조사 -->
		<input type="hidden" name="mfcpNm" ng-value="pageUI.option.orderSendInfo.common.mfcpNm ? pageUI.option.orderSendInfo.common.mfcpNm:''">
		<!-- 브랜드명 -->
		<input type="hidden" name="brndNm" ng-value="pageUI.option.orderSendInfo.common.brndNm">
		<!-- -->
		<input type="hidden" name="deliverydate" ng-value="" />
		<!-- 스마트픽여부 Y/N -->
		<input type="hidden" name="smartOrd" ng-value="pageUI.option.orderSendInfo.smartOrd"/>
		<!-- ????? -->
		<input type="hidden" name="gift_goods_no" ng-value="pageUI.option.orderSendInfo.gift_goods_no"/>
		<!-- ?????-->
		<input type="hidden" name="girtGoodsChoice" ng-value="pageUI.option.orderSendInfo.girtGoodsChoice"/>
		<input type="hidden" name="smp_prod_yn" ng-value="pageUI.option.orderSendInfo.smp_prod_yn" />
		<input type="hidden" name="smp_entr_no" ng-value="pageUI.option.orderSendInfo.smp_entr_no" />
		<!-- 스마트픽 매장번호 -->
		<input type="hidden" name="smp_shop_no" ng-value="pageUI.option.orderSendInfo.smp_shop_no" />
		<!-- 뒤로가기 URL -->
		<input type="hidden" name="back_url" ng-value="pageUI.option.orderSendInfo.back_url" />
		<input ng-if="pageUI.option.selectedType != 'gift'" type="hidden" name="cartSctCd"  value="20"/>
		<input ng-if="pageUI.option.selectedType == 'gift'" type="hidden" name="cartSctCd"  value="40"/>
		<input type="hidden" name="qs_yn" ng-value="pageUI.option.orderSendInfo.qs_yn" />
		<input type="hidden" name="simpleYN" ng-value="simpleYN" />
	</form>

	<!-- 스마트픽 예약주문인 경우 -->
	<form id="frm_smart_send" name="frm_smart_send" method="post" action="">
		<!-- 상품번호 (:^:) -->
		<input type="hidden" name="goods_no" ng-value="pageUI.option.orderSendInfo.goods_no"/>
		<!-- 단품번호 (:^:) -->
		<input type="hidden" name="item_no" ng-value="pageUI.option.orderSendInfo.item_no"/>
		<!-- 1:일반주문 만 진행 --><!-- 상품구성코드 : (10: 패키지상품, 20: 맞춤형상품, 30: 선택형상품 - 묶음형, 40: 추가구성형상품, 50: 일반상품 - 일반형) (:^:) ***** -->
		<input type="hidden" name="goods_cmps_cd" ng-value="pageUI.option.orderSendInfo.goods_cmps_cd"/>
		<!-- 입력형 상품 옵션 정보 (:^:) -->
		<input type="hidden" name="goods_choc_desc"ng-value="pageUI.option.orderSendInfo.goods_choc_desc"/>
		<!-- 주문수량 (:^:) ***** -->
		<input type="hidden" name="ord_qty" ng-value="pageUI.option.orderSendInfo.ord_qty"/>
		<!-- 유입전시번호 (curDispNo) -> 상품의 대분류 (:^:) ***** -->
		<input type="hidden" name="infw_disp_no" ng-value="pageUI.option.orderSendInfo.infw_disp_no"/>
		<!-- 유입전시번호구분코드 (curDispSctCd) (:^:) ***** -->
		<input type="hidden" name="infw_disp_no_sct_cd" ng-value="pageUI.option.orderSendInfo.infw_disp_no_sct_cd"/>
		<!-- 마스터 상품여부 Y/N (:^:) ***** -->
		<input type="hidden" name="master_goods_yn" ng-value="pageUI.option.orderSendInfo.master_goods_yn"/>
		<!-- 장바구니 일련번호 (:^:) -->
		<input type="hidden" name="cart_sn" ng-value="pageUI.option.orderSendInfo.cart_sn"/>
		<!-- 장바구니 번호 (:^:) -->
		<input type="hidden" name="cart_no"/>
		<!-- 상품구성수량 (:^:) -->
		<input type="hidden" name="cmps_qty"/ ng-value="pageUI.option.orderSendInfo.cmps_qty">
		<!-- 대표전시번호 -> 상품의 세분류 (:^:) ***** -->
		<input type="hidden" name="mast_disp_no" ng-value="pageUI.option.orderSendInfo.mast_disp_no"/>
		<!-- 스마트픽여부 Y/N -->
		<input type="hidden" name="smartOrd" ng-value="pageUI.option.orderSendInfo.smartOrd"/>
		<input type="hidden" name="smp_prod_yn" ng-value="pageUI.option.orderSendInfo.smp_prod_yn"/>
		<!-- 스마트픽방문매장번호 (:^:) -->
		<input type="hidden" name="smp_vst_shop_no" ng-value="pageUI.option.orderSendInfo.smp_vst_shop_no"/>
		<!-- 스마트픽방문예정일시 (:^:) -->
		<input type="hidden" name="smp_vst_rsv_dtime" ng-value="pageUI.option.orderSendInfo.smartpickdate"/>
		<!-- 스마트픽 픽업 유형 (10: 매장, 20: 데스크, 30: 락커) (:^:) -->
		<input type="hidden" name="smp_tp_cd" ng-value="pageUI.option.orderSendInfo.smp_tp_cd"/>
		<!-- 스마트픽 인도장소 일련번호 (:^:) -->
		<input type="hidden" name="smp_deli_loc_sn" ng-value="pageUI.option.orderSendInfo.smp_deli_loc_sn"/>
		<input type="hidden" name="smp_entr_no" ng-value="pageUI.option.orderSendInfo.smp_entr_no" />
		<!-- 스마트픽 매장번호 -->
		<input type="hidden" name="smp_shop_no" ng-value="pageUI.option.orderSendInfo.smp_shop_no" />
		<!-- 뒤로가기 URL -->
		<input type="hidden" name="back_url" ng-value="pageUI.option.orderSendInfo.back_url"/>
		<!-- 매장전달메모유형코드 (:^:) -->
		<input type="hidden" name="shop_memo_tp_cd"  ng-value="pageUI.option.orderSendInfo.shop_memo_tp_cd"/>
		<!-- 매장전달메모설명 (:^:) -->
		<input type="hidden" name="shop_memo_cont"  ng-value="pageUI.option.orderSendInfo.shop_memo_cont"/>

		<!--이쿠폰상품체크-->
		<input type="hidden" name="is_ecoupon"  ng-value="pageUI.option.orderSendInfo.is_ecoupon"/>

		<!--크로스픽-->
		<input type="hidden" name="crspk_store" ng-value="pageUI.option.orderSendInfo.crspk_store" />
		<input type="hidden" name="crspk_yn" ng-value="pageUI.option.orderSendInfo.crspk_yn" />
		<input type="hidden" name="crspk_psb_yn" ng-value="pageUI.option.orderSendInfo.crspk_psb_yn"/>
		<input type="hidden" name="crspk_corp_cd" ng-value="pageUI.option.orderSendInfo.crspk_corp_cd" />
		<input type="hidden" name="crspk_corp_str_sct_cd"  ng-value="pageUI.option.orderSendInfo.crspk_corp_str_sct_cd" />
		<input type="hidden" name="crspk_str_no"  ng-value="pageUI.option.orderSendInfo.crspk_str_no" />
		<input type="hidden" name="smp_only_yn" ng-value="pageUI.option.orderSendInfo.smp_only_yn"/>
		<!--선물하기-->
		<input ng-if="pageUI.option.selectedType != 'gift'" type="hidden" name="cartSctCd" value="20"/>
		<input ng-if="pageUI.option.selectedType == 'gift'" type="hidden" name="cartSctCd" value="40"/>
		<input type="hidden" name="qs_yn" ng-value="pageUI.option.orderSendInfo.qs_yn" />
	</form>

	<!-- 렌탈상품용 -->
	<form id="frm_rent_send" name="frm_rent_send" method="post" action="">
		<!-- 상품번호 (:^:) -->
		<input type="hidden" name="goods_no" ng-value="pageUI.option.orderSendInfo.goods_no"/>
		<!-- 단품번호 (:^:) -->
		<input type="hidden" name="item_no" ng-value="pageUI.option.orderSendInfo.item_no"/>
		<input type="hidden" name="entr_no" ng-value="pageUI.option.orderSendInfo.entr_no" />
		<!-- 주문수량 (:^:) ***** -->
		<input type="hidden" name="ord_qty" ng-value="pageUI.option.orderSendInfo.ord_qty"/>
		<input type="hidden" name="pImg"  ng-value="pageUI.option.orderSendInfo.pImg">
		<input type="hidden" name="pTitle"  ng-value="pageUI.option.orderSendInfo.pTitle">
		<input type="hidden" name="pPrice"  ng-value="pageUI.option.orderSendInfo.pPrice">
		<!-- 입력형 상품 옵션 정보 (:^:) -->
		<input type="hidden" name="goods_choc_desc"  ng-value="pageUI.option.orderSendInfo.goods_choc_desc"/>
		<input type="hidden" name="cartSctCd"  value="20"/>
	</form>
	
	<!-- 간편주문서 주문완료후 주문배송조회 이동 -->
	<form ng-if="!loginInfo.isSimple && pageUI.data.commonInfo.easyLpayYn" id="frm_purchase" name="frm_purchase" method="post" action="">
		<input type="hidden" name="grockle_yn" value="N">
  		<input type="hidden" name="grockle_mbr_no" value="">
		<input type="hidden" name="orderNo" ng-value="orderNo" />
	</form>
</div>
