<div> <!--product module: product-bottom [상품상세] 하단 배너 영역-->
	<section class="bestfrend_coupon" ng-if="pageUI.loadData.product_bottom_banner.imgUrl">
		<!-- 태블릿 용으로 아래 background-color에 해당 배너 색깔과 동일한 칼라값 지정해주세요 -->
		<a ng-click="linkClick(pageUI.loadData.product_bottom_banner.linkUrl, 'm_RDC_ProdDetail_Clik_Bfban');logGAEvtPrdView('절친쿠폰북', pageUI.loadData.product_bottom_banner.imgAlt);"><img ng-src="{{pageUI.loadData.product_bottom_banner.imgUrl}}" alt="{{pageUI.loadData.product_bottom_banner.imgAlt}}" /></a>
	</section>
</div>