@charset "utf-8";

.topbanner{position:relative;}
.topbanner .go_faq img{position:absolute;bottom:12.5%;left:50%;margin-left:-14%;width:28%;height:auto}

.event_list.ing_event .info{background-color:#f4f4f4;overflow:hidden;padding:8px 18px 12px}


/* 체험단후기 신청 버튼 */
.event_list.end_event .ex_btn_wrap{margin-top:17px;border-top:1px solid #e6e6e6;padding:0}
.event_list.end_event .ex_btn_wrap > span{line-height:45px;height:45px;position:relative;}
.event_list.end_event .ex_btn_wrap > span var{display:inline-block;margin-right:3px;position:relative;vertical-align:middle;width:16px;height:16px;background:#fa7257;border-radius:100%;font-style:normal;color:#fff;font-size: 11px;}
.event_list.end_event .ex_btn_wrap > span var:before{content:'N';position:absolute;left:0;height:16px;width:16px;top:-15px}
.event_list.end_event .ex_btn_wrap > span > span *{vertical-align:middle}
.event_list.end_event .ex_btn_wrap > span > span{display:block;border:0;margin-right:0;border-right:1px solid #e6e6e6}
.event_list.end_event .ex_btn_wrap > span:last-child span{border-right:0}

.event_list.end_event .txt_wrap{position:relative}
.event_list.end_event .txt_wrap .ex_info_list{position:absolute;bottom:2px}

.ing_event .ex_info_wrap{padding:0 0 0}
.ing_event .ex_info_wrap .img_area{padding:17px 54px 0}
.ing_event .ex_info_wrap .title{margin:12px 51px 17px;padding-bottom:0;font-size:15px;font-weight:bold;display:-webkit-box;height:42px;line-height:23px;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;overflow:hidden}
.ing_event .ex_info_list{margin:0 18px -7px;padding:6px 18px 13px;background-color:#f1f1f1}

.end_event .ex_info_wrap{padding:0 0 0 18px}
.end_event .ex_info_list li{padding:3px 0 0 9px}