@charset "UTF-8";

.event_info{background-color:#fff}
.event_info h3{font-size:24px;color:#809c40;text-align:center;line-height:68px;height:68px;margin-bottom:-10px;font-weight:normal}

.event_list > li{border-top:0}
.event_list .ex_info_list{padding-left:10px;border-top:1px solid #eee;padding-top:6px;margin-top:11px;margin-bottom:7px}
.event_list .ex_info_list li:before{width:2px;height:2px;background:#999;}
.event_list .ex_info_list li{padding-bottom:3px;}

.winner_info{background-color:#fff;padding:0 9px 16px;margin-bottom:20px}
.winner_info h3{font-size:14px;}
.winner_list {margin-top:5px;border:1px solid #ededed;border-bottom:0;/*padding-bottom:10px*/}
.winner_list table{}
.winner_list tr th, .winner_list tr td{text-align:center;padding-top:7px;padding-bottom:11px;}
.winner_list tr th{color:#888}
.winner_list tr th.name span{display:block;position:relative;width:100%;}
.winner_list tr th.name span:after{content: "";display:block;position:absolute;bottom:2px;right:0;width:1px;height:9px;background-color:#e0e0e0}

.winner_list thead tr{background-color:#fafafa;}
.winner_list tbody tr{border-bottom:1px solid #ededed;}

.winner_notice{margin-top:13px;border-top:1px solid #dcdcdc;background-color:#fff;padding:14px 9px 35px;font-size:12px}
.winner_notice li{position:relative;padding:3px 9px 6px;line-height:17px}
.winner_notice li:before {display:block;width:2px;height:2px;background:#c9c8c8;content:'';position:absolute;left:0;top:10px}

.ex_info_wrap .img_area .img_wrap img{border:0}
.event_list.end_event .img_area{left:9px}
.winner_wrap .event_list.end_event .ex_info_wrap{padding:0 9px}
.winner_wrap .event_list.end_event .txt_wrap{padding-left:116px;min-height:52px}