<section id="lotteActionbar" class="actionbar" ng-show="!appObj.isApp">
    <ul>
        <li class="home"><a ng-click="gotoMainFooter()">홈</a></li>
        <li class="category"><a ng-click="showSideCtgFooter()">카테고리</a></li>
        <li class="search"><a ng-click="showSrhLayorFooter()" href="#">검색</a></li>
        <li class="cart"><a ng-href="{{myLotteLinkObj.cateLstUrl}}">장바구니<span>10</span></a></li>
        <li class="order"><a  ng-href="{{myLotteLinkObj.ordLstUrl}}">주문배송</a></li>
        <li class="my"><a ng-click="openSideMylotte()">MY</a></li>
    </ul>
</section>