@charset "utf-8";

/* 스마트페이 */
.smartpay {background:#eee;padding-top:6px;}
.smartpay .info {}
.smartpay .desc {margin:20px 10% 0;color:#666;font-size:12px;padding-bottom:20px;}
/*.smartpay .desc ul {list-style-type:none;list-style-image: url(/images/lotte2015/mylotte/bullet_square.png);}*/
.smartpay .desc ul {margin-top: 10px;}
.smartpay .desc ul li {background: url("http://image.lotte.com/lotte/mo2015/angular/mylotte/bullet_square.png") no-repeat 0px 7px;}
/*.smartpay .desc ul li:before{ content:"■"; font-size:2pt; }*/
.smartpay .desc li {color:#999;font-size:11px;padding-left:7px;/*list-style-type:square;list-style-position:inside;*/}

.smartpay .btns {margin:0 8%;}
.smartpay .btns img {width:50%;}

.pay_clause {position: fixed;right: 0;width: 100%;max-width: 640px;color: #c9cfd8;z-index: 900;display: block;top:30px;height:70%;}
.pay_clause .inner {margin: 0 5px;padding: 10px 0px;background: #fff;border-radius: 15px;}
.pay_clause .inner h3 {color:#333;text-align:center;/*font-size:16px;*/margin-bottom:10px;}
.pay_clause .inner .desc {height:300px;}
.pay_clause .inner .close {font-size:13px;text-align:center;color:#333;border-top:1px solid #e6e6e6;padding-top:8px;}
/***/


/* 결제 팝업 */
#ANSIM_LAYER {overflow:hidden;position:fixed;top:50%;left:50%;width:330px;margin-left:-165px;margin-top:-235px;background-color:#fff;
    /* Galaxy S4 Android 4.2 오류 방지 */
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
#ANSIM_LAYER header{padding:10px 10px 7px;text-align:center;background:#f6f6f6;}
#ANSIM_LAYER header .tit{font-weight:bold;font-size:17px;line-height:23px;letter-spacing:-0.7px}
#ANSIM_LAYER .branch_wrap{border-bottom:1px solid #e6e6e6;-webkit-overflow-scrolling:touch;-webkit-transition:-webkit-transform 0;transition:transform 0;overflow-y:auto;height:333px;}
#ANSIM_LAYER .branch_wrap p{padding-bottom:22px;font-size:14px;line-height:19px;text-align:center}
#ANSIM_LAYER .branch_wrap {padding: 5px;padding-bottom:2px;}
#ANSIM_LAYER .btn_wrap .btn_close{-moz-box-apperance:none;-webkit-appearance:none;appearance:none;display:block;width:100%;padding:9px;text-align:center;color:#333;font-size:13px;border:none;background-color:#fff}
