@charset "UTF-8";

/* 롯데슈퍼 랜딩 배너영역 추가 */
.ldBanner { display: table; width: 100%; }
.ldBanner .anchor { display: table-cell; vertical-align: middle; position: relative; padding:22px 35px 22px 85px ; box-sizing: border-box; word-break: keep-all; line-height: 20px; background-color: #f1fff5 }
.ldBanner .anchor:before, .ldBanner .anchor:after {display: block; content: ""; position: absolute; top: 50%;}
.ldBanner .anchor:before { left: 16px; width: 55px; height: 55px; margin-top: -27.5px; background: url(../images/ico_super.png) no-repeat left top; background-size: 100%; }
.ldBanner .anchor:after { right: 22px; width: 9px; height: 17px; margin-top: -8.5px; background: url(../images/bul_arr.png) no-repeat left top; background-size: 100%;}
.ldBanner .anchor span { font-size: 16px; font-weight: bold; color: #333; }
.ldBanner .anchor .ftType1 { font-size: 14px; font-weight: normal; }
.ldBanner .anchor .ftType2 { color: #40ac46; }

@media screen and (min-width: 640px){
	.ldBanner .anchor { height: 193px;}
}