.add_order_pop {
    bottom: 0;
    position: fixed;
    overflow-y:scroll;
    top: 0%;
    left: 0;
    right: 0;
    display: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch;
    -webkit-box-sizing: border-box;
    z-index: 1000002;}
.add_order_pop .s_box02 .img_box:before{content: "";position: absolute;top: 16px;right: 8px;width: 12px;height: 8px;display: inline-block;background-image: url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png);background-position: -2px -77px;background-size: 155px 202px;}
.add_order_pop.delivery_change {background: #fff;height: 100%;}
.add_order_pop.delivery_change .cont {height: 100%;}
.pop_wrap {height: 100%;}
.add_order_pop.bg{position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 1000002;}
.pop_wrap .pop_top {
    background: #749eff;
    text-align: center;
    height: 45px;
    line-height: 44px;
    position: relative;
}
.add_order_pop.order_simple_wrap {
    padding: 0;
}
.box_Lpay_agree_check {margin-top:9px;margin-bottom:1px}
.box_Lpay_agree_check a.title {display:block;position:relative;padding:0 9px;height:30px;line-height:30px;font-size:13px;color:#333;border:1px solid #dfdfdf;border-radius:5px;background:#f3f3f3}
.box_Lpay_agree_check a.title:after {display:block;content:"";position:absolute;width:17px;height:19px;right:6px;top:50%;margin-top:-10px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/input_new.png) no-repeat 0 -70px;background-size:105px 330px;}
.box_Lpay_agree_check div.txt {display:none;padding:19px 0;text-align:center;line-height:17px;font-size:13px;background:#fff}
.box_Lpay_agree_check div.txt .tit01 {font-weight:bold;color:#285ace;font-size:17px;padding-bottom:9px}
.box_Lpay_agree_check div.txt .info01 {color:#666;padding-bottom:7px}
.box_Lpay_agree_check div.txt .info02 {display:inline-block;padding:2px 8px;color:#888;background:url(http://image.lotte.com/lotte/mobile/mobile_new/order/bul_list.gif) no-repeat 0 6px;background-size:3px 3px} /* 20150828 수정 */
.box_Lpay_agree_check div.txt a.btn {display:block;width:243px;height:35px;margin:16px auto 0;line-height:31px;font-size:13px;font-weight:bold;color:#285ace;border:solid 1px #285ace;border-radius:5px; box-sizing: border-box; -webkit-box-sizing: border-box}
.box_Lpay_agree_check.open a.title {background-position:-16px -70px;border-bottom:none;border-bottom-right-radius:0;border-bottom-left-radius:0}
.box_Lpay_agree_check.open a.title:after {background-position:-16px -70px}
.box_Lpay_agree_check.open div.txt {display:block;border:1px solid #dfdfdf;border-top:none;border-bottom-right-radius:5px;border-bottom-left-radius:5px}

/* 팝업 */
.order_simple_wrap.pop{background: #fff;padding: 0;}
.pop_wrap .pop_top{background: #749eff;text-align: center;height: 45px;line-height: 44px;position: relative;}
.pop_wrap .pop_top p{color: #fff;font-size: 18px;}
.pop_wrap .pop_top .pop_top_close{display: block;position: absolute;right:0px;top:0px;z-index: 10000;width: 52px;}
.pop_wrap .pop_top .pop_top_close img{width: 17.5px;height: 17px;margin-top: 14px;}
.pop_middle{background: #fff;padding: 15px;}
.Lpay-help .hiddenContent{display: none;}
.Lpay-help.on .hiddenContent{display: block;}
.Lpay-help.on .rcArrow:after{background-position: -15px -68px;}
.pop_wrap .order_section_bottom {margin-top: 15px;border-top: 1px solid #d1d1d1;}
.sel_cont_new{margin-bottom: 5px;}
.dd_last_margin .sel_cont_new{margin-bottom: 0px;}
.home_list .home_li{border-bottom: 1px solid #e0e0e0;padding: 20px 13px 20px 13px;position: relative;}
.home_list .home_li .detail_address{color: #888;margin-bottom: 5px;margin-left: 28px;margin-right: 14%;}
.home_list .btn_position{position: absolute;right:13px;top:20px;}
.home_list .home_li.modify .btn_position{top:32px;}
.home_list .btn_position.one{padding-top: 16px;}
.home_list .btn_position.one2{padding-top: 29px;}
/*.home_list .btn_position.two{padding-top: 8px;}*/
.home_list .btn_position.two .lpoint_btn{display: block;margin-bottom: 5px;float:none;}
.home_li .use_nexttime{margin-left: 27px;}
.home_li.modify .use_nexttime{display: none;}
.home_li .combo .color1{color: #fa7258;font-weight: bold;}
.home_li .combo .ls2{letter-spacing: -1px;font-weight: bold;}
.home_li address-content{background: #f9f9f9;display: none;}
.home_li.modify address-content{display: block;}
.home_list .home_li.modify .btn_position.two .lpoint_btn.mfy{display: none;}
.home_li address-content .order_simple_pop04_1{text-align: center;padding:15px 0;}
.div_btn_cont.type2{padding:20px 0;}
.oder_simple_pop01_3 {text-align: center;}
.oder_simple_pop01_3 .frp{margin: 3% 30px 0;}
.pop_middle2 .order_simple_pop01_21{overflow: hidden;margin-top: 13px;}
.pop_middle2 .order_simple_pop01_21 .order_simple_pop01_a{float: left;width: 75%;box-sizing:border-box;height: 37px;color: #333;-webkit-border-radius: 0px;-webkit-appearance:none!important;}
.pop_middle2 .order_simple_pop01_21 .order_simple_pop01_a:focus{outline: none !important;border:1px solid #6894f7;}
.pop_middle2 .order_simple_pop01_21 .btn_areaC{float: right;width: 25%;z-index: 0;}
.pop_middle2 .order_simple_pop01_21 .btn_areaC .btn_style3{position: static;display: block;border-radius: 0;width: 100%;padding: 0;line-height: 36px;}
.pop_middle2 .order_simple_pop03{border-top: 1px solid #e0e0e0;}
.pop_middle2 .order_simple_pop03_1{padding: 8px 0;border-bottom: 1px solid #ddd;overflow: hidden;}
.pop_middle2 .order_simple_pop03 .s_text{margin:1px 15px 0 0;}
.pop_middle2 .order_simple_pop03 .s_box02{width: 100px;}
.pop_middle2 .road_name_choice {padding: 0 15px;}
.pop_middle2 .road_name_choice li{border-bottom: 1px solid #eeeeee;padding: 15px 0;position: relative;color: #666;}
.pop_middle2 .road_name_choice li:last-child{border-bottom: none;}
.pop_middle2 .road_name_choice li .lpoint_btn{position: absolute;right:0;top:8px;}
.pop_middle2 .order_simple_pop03_3{background: #f3f3f3;}
.pop_middle2 .order_simple_pop03_3 a{display: block;height: 35px;}
.pop_middle2 .order_simple_pop03_3 a p{padding: 0;height: 35px;line-height: 35px;}
.pop_middle2 .address_detail_choice{padding: 15px;}
.pop_middle2 .address_detail_choice .add_list{overflow: hidden;}
.pop_middle2 .address_detail_choice .add_list li{float: left;width: 33%;margin-right: 0.5%;margin-bottom: 5px;}
.pop_middle2 .address_detail_choice .add_list li:nth-child(3){margin-right: 0%;}
.pop_middle2 .address_detail_choice .add_list li:nth-child(6){margin-right: 0%;}
.input_texttype{width: 100%;padding: 0 5px;border: 1px solid #ccc;color: #888;font-size: 12px;display: inline-block;background: #fff;height: 31px;box-sizing: border-box;line-height: 31px;vertical-align: middle;border-radius: 5px;}
.pop_middle .pay-step {display: none;}
.pop_middle .pay-step.on {display: block;}
.pay-step .input-radio{overflow: hidden;text-align: center;display:flex;display:-webkit-flex;width:auto;box-pack:justify;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-justify-content:space-between;}
.pay-step .input-radio .combo{margin:0 1% 1% 0;}
.order_section  .order_product_content.off{display: none;}
.tab-cont .tab1{display: none;}
.tab-cont .tab1.active{display: block;}
.tab-cont .tab2{display: none;}
.tab-cont .tab2.active{display: block;}

/* 20170412 start 팝업2 - 배송지 수정 페이지 */
#order dl{padding:36px 0 15px}
.order_simple_pop {margin-left:5%;background: #f9f9f9;padding: 0;width: 94%;margin-left: 3%;height: 340px;padding:0}
.order_simple_pop .s_title {position:relative;display:inline-block;float:left;width: 25%;height:38px;line-height:28px;padding: 17px 0 0 0;font-size:14px;color:#888;box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_simple_pop .s_title p {font-size:11px}
.order_simple_pop .s_title {height:auto;line-height:normal;}
.order_simple_pop .twoline .s_title { height:35px; line-height:17px}
.order_simple_pop .s_title .safe_num{display:inline-block;width:20px; height:20px; cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) no-repeat 0 -90px;background-size:155px 202px; text-indent:-5000px; font-size:0; line-height:0;vertical-align: middle;margin-left: 5px;margin-top:-2px;}/* 20150530   */
.order_simple_pop .s_text a{float:right;}
.order_simple_pop .s_text{position:relative;display:inline-block;width:70%;padding:11px 0 0;font-size:14px;color:#333;border-bottom:0 none;}
.order_simple_pop .s_text.gift {padding-top:10px;}
.order_simple_pop .s_box02{border:0}
.order_simple_pop .flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox; box-pack: justify; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; display: -webkit-flex;display: flex; justify-content:space-between;-webkit-justify-content:space-between }
.order_simple_pop .flex .s_box02{height: 34px;border:none;}
.order_simple_pop .s_text .flex{margin-right:0; padding-left:0;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; box-pack: justify; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content:space-between;-webkit-justify-content:space-between}
.order_simple_pop .s_text .long_txt{display:inline-block;height:auto; line-height: normal}
.btn_typeA{display:inline-block;width:auto;padding: 0 0;margin:0;height: 34px;line-height:30px;background:#f3f3f3;border:1px solid #ccc;border-radius: 3px;font-size:13px;text-align:center;vertical-align:middle;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box;min-width: 50px;margin: 0 13%;}
.bd_dot{padding-bottom:8px !important; border-bottom: 1px solid #ddd}
.order_simple_pop dd {margin-bottom:5px;font-size:14px;color:#888;}
.order_simple_pop dd.twoline {padding:0}
.order_simple_pop dd .total_dc{margin:0 -12px 0; padding:0 12px 0 !important; background:#f4f4f4;  color:#333}
.order_simple_pop .txtarea2{margin-bottom: 0}/
.order_simple_pop .txtarea2 .s_box02{border:0;}
#order input.txt01 {width:100%;margin-bottom: -11px;border: 1px solid #ccc;border-radius:3px;vertical-align:middle;padding: 0 10px;height: 35px;line-height:normal;background-image:none;box-sizing:border-box;-webkit-box-sizing:border-box;font-size: 13px;text-align:left;-webkit-appearance:none;font-family: '나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#333;}
#order .apply_lpoint .right_area input.txt01 {text-align: right;}
#order input[type=button].txt01 {background: #f3f3f3;padding: 0;font-size: 12px;line-height: 35px;letter-spacing: -1px;color: #666;text-align: center;}
#order input.txt01:disabled {border:1px solid #ccc !important;background:#fff !important;}

/* 팝업2 - 배송지 수정 페이지 주소 찾기 */
.box_addr_search{display:inline-block;width:37%; height:30px; line-height:28px; padding: 0 7px 0 10px;margin-bottom: 5px;border: 1px solid #ccc;border-radius: 2px; vertical-align:top; box-sizing:border-box;-webkit-box-sizing:border-box}
.tit_addr_search{position:relative; margin-bottom:5px}
.tit_addr_search span{display:inline-block;height: auto;padding: 0;line-height: inherit;}
.tit_addr_search .addr_view{display: block;position:absolute; top:3px; right:0;padding: 4px 3px;width: 11px;height: 11px;cursor: pointer;background: url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) no-repeat 0 -70px;background-size: 155px 202px;text-indent: -5000px;font-size: 0;line-height: 0;overflow: hidden}
.tit_addr_search.show .addr_view{background-position: -16px -70px}
.addr_boxline{clear:both; padding:9px 0 0; margin-bottom:5px; border-bottom:1px solid #cfcfcf}
.wrap_addr_detail{clear:both; position:relative}
.tab_addr_detail li a.tab_tit{display:inline-block; position:absolute; left:0; top:0; width:50%; height:36px; line-height:36px; background: #f3f3f3; border-bottom:1px solid #dfdfdf; -webkit-box-sizing:border-box; color:#7c7c7c; font-size:15px; text-align:center}
.tab_addr_detail li:nth-child(2) a.tab_tit{left:50%}
.tab_addr_detail li.on a.tab_tit{font-size:15px; background: #fff; color:#333; border:1px solid #dfdfdf; border-bottom:0 none;box-sizing:border-box;-webkit-box-sizing:border-box}
.tab_addr_detail li .tab_txt{padding:52px 0 0}
.tab_addr_detail .tab_txt ul{margin-top:0; border-bottom: 0 none}
.tab_addr_detail .tab_txt ul li{position:relative; float:none; width:auto; padding:10px 60px 10px 0; border-top:1px solid #dedede; color:#333;font-size:13px;}
.tab_addr_detail .tab_txt ul li span{display:block; width:70px}
.tab_addr_detail .tab_txt ul li span.addr_btn{position:absolute;top:50%;margin-top:-15px;right:0; width:auto}
.tab_addr_detail .tab_txt ul .none_search{float:none; width:auto; padding:10px 0; text-align: center}
.tab_addr_detail li .tab_txt .srch_input>div {display:table-cell;width:80%;}
.tab_addr_detail li .tab_txt .srch_input>div input.txt01 {width:100% !important;}
#order dl dd.txtarea .pdt0 {margin:0 25%}
.order_simple_pop input #txt_addr1_1 {margin:1% 0}
.order_simple_pop dl.order_simple_pup {padding: 0 3% 0;}
.order_simple_pop .pdt0 {padding:0}
.s_box02 select {display:inline-block;width:100%;height: 35px;line-height:normal;margin:0;font-size: 13px;color:#333;padding:0 28px 0 10px;border:solid 1px #ccc;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box;background-image: -webkit-linear-gradient(#fff, #fff);background-image: linear-gradient(#fff, #fff);background:#fff;border-radius: 3px;}/* 20150608 */
.s_box02 select[disabled]{background-color:#eee;color:#bcbcbc}
.oder_simple_pop01_1 {border-bottom:1px solid #ddd;vertical-align:middle;text-align: center;padding: 3% 0;}
#order01 {background:#fff}
.srh_box01{position:relative;border:1px solid #6591f5;background-color:#fff;width:70%;margin: 2.9% 0 0 0;float:left;}
.srh_box01 input {-webkit-appearance:textfield;height: 35px;border: none;color: #c1c1c1;}
.btn_srh01 {display:block;position:relative;width:100%;height:35px;line-height:35px;padding-left:10px;text-align:left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box;color:#898989}
#order01 .btn_style01 {height:35px;display:inline-block;color:#ffffff;font-size:14px;border:solid 1px #719cff;padding:0 20px;line-height:33px;text-align:center;background-color:#719cff;margin-top:2.8%;}
#order01 .srh_box00 {padding:0 5%}
.order_simple_pop01_2 p {color:#666;font-weight:bold;margin: 4% 5%;}
.order_simple_pop01_2 span {margin: 0 5%;display: inline-block;line-height: 153%;color: #888;}
#order01 .frp{margin: 3% auto 0;}
.order_simple_pop02_1 p {color:#666;font-weight:bold;margin: 4% 8% 1%;position:relative;}
.order_simple_pop02_1 p:before {content:"";width: 3px;height: 3px;background: #c1c1c1;position:absolute;top:8px;left: -8px;}
.order_simple_pop02_1 span {margin: 0 8%;display: inline-block;width: 70%;line-height: 153%;color: #888;}
.order_simple_pop02_2 p {color:#666;font-weight:bold;margin: 4% 8% 1%;position:relative}
.order_simple_pop02_2 p:before {content:"";width: 3px;height: 3px;background: #c1c1c1;position:absolute;top:8px;left: -8px;}
.order_simple_pop02_2 span {margin: 0 8%;display: inline-block;width: 70%;line-height: 153%;color: #888;}
.order_simple_pop03_1 {border-bottom:2px solid #ddd;padding: 4% 0;}
.order_simple_pop03_1 p {color:#6892f6;font-size:24px;width: 100%;margin: 0 5%;}
.order_simple_pop03_1 em {color:#6892f6;font-size:17px}
.s_box02 select {display:inline-block;height: 35px;line-height:normal;margin:0;font-size: 13px;color:#333;padding:0 28px 0 10px;border:solid 1px #ccc;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box;background-image: -webkit-linear-gradient(#fff, #fff);background-image: linear-gradient(#fff, #fff);background:#fff;border-radius: 3px;}/* 20150608 */
.s_box02 select[disabled]{background-color:#eee;color:#bcbcbc}
.flex .combo{width: 100%;}
#order01 input.radio01[type="radio"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) no-repeat -54px 0;background-size:155px 202px;width:22px;height:22px;appearance:none;-webkit-appearance:none; vertical-align: middle}
#order01 input.radio01[type="radio"]:checked {background-position:-78px 0; outline:0;}
#order01 input.radio01[type="radio"]:disabled {background-position:-78px -47px}
#ordSearchDeliPop input.radio01[type="radio"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) no-repeat -54px 0;background-size:155px 202px;width:22px;height:22px;appearance:none;-webkit-appearance:none; vertical-align: middle}
#ordSearchDeliPop input.radio01[type="radio"]:checked {background-position:-78px 0; outline:0;}
#ordSearchDeliPop input.radio01[type="radio"]:disabled {background-position:-78px -47px}
.flex .combo:first-child {margin-right: 32px;}
.s_box02 {position:relative}
.s_box02 .img_box:before{content: "";position: absolute;top: 6px;right: 14px;width: 12px;height: 8px;display: inline-block;background-image: url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png);background-position: -2px -77px;background-size: 155px 202px;}
.s_title {}
.order_simple_pop03_1 p span {font-size:17px}
.order_simple_pop03_2 ul li span.stl_y {width:50px;height: 18px;border:1px solid #ddd;border-radius:11px;text-align:center;color:#d1d1d1;margin: 3% 2%;display: inline-block;}
.order_simple_pop03_3 {border:1px solid #d1d1d1;background:#f9f9f9;width: 96%;height: 35px;margin-;margin: 2% 2%;}
.order_simple_pop03_3 p {text-align:center;padding: 8px;}
.order_simple_pop04 .s_text  {height:50px;margin-top: 5%;}
.order_simple_pop04 .s_text.mt_3  {margin-top: 3%;}
.order_simple_pop04.new2 .lpoint_btn {margin-right: 3%;}
.order_simple_pop04 input.txt01{font-weight:bold;margin-left: 3%;margin-bottom:-11px;border:1px solid #ccc;border-radius:3px;vertical-align:middle;padding:0 10px;height:35px;line-height:normal;background-image:none;box-sizing:border-box;-webkit-box-sizing:border-box;font-size:13px;text-align:left;-webkit-appearance:none;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#333;}
.order_simple_pop04 .btn_style3 {height:40px;display:inline-block;color:#ffffff;font-size:14px;border:solid 1px #719cff;padding:0 24px;line-height:38px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#719cff;border-radius:20px}
.order_simple_pop04_1 {text-align:center}
.order_simple_pop04_1.mb_10 {margin-bottom: 10px;}
.order_simple_pop04_1.pb_50 {padding-bottom: 50px;}
.order_simple_pop04 p {font-weight:bold;padding:3% 3%}
.order_simple_pop04 .fs_normal {font-weight: normal;padding-bottom: 0;}
.order_simple_pop04 span {display: block;vertical-align: middle;margin:2% 0;line-height: 20px;}
.order_simple_pop04 span.stl_y {width:44px;height: 18px;border:1px solid #ddd;border-radius:11px;text-align:center;color:#d1d1d1;margin:2% 1%;display: block;float: left;line-height: 18px;}
.order_simple_pop04 table {font-size:12px;margin-left:3%;width:94%;border: 1px solid #e0e0e0;}
.order_simple_pop04 table td {padding:1% 1%}
.order_simple_pop04 table td.cetr_1 {text-align:center}
.order_simple_pop03 .s_text {float:right;}
.order_simple_pop03_2 span.txt_rit {float:right;margin-top: 10px;display: inline-block;width: 52px;height:21px;line-height:21px;}
.order_simple_pop01_21 .btn_style3 {position: absolute;top: 0;left: 80%;height:37px;display:inline-block;color:#ffffff;font-size:14px;border:solid 1px #719cff;padding: 0 18px;line-height:38px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#719cff;}
.order_simple_pop01_21 {margin: 0px 3%;text-align: left;position: relative;}
.order_simple_pop01_a {width: 76%;height: 35px;border: 1px solid #6894f7;color: #c1c1c1;padding: 0 3%;}


@media all and (width:320px){
	.order_simple_pop04 table span {font-size:11px}
	.order_simple_pop03_2 span {font-size:11px}
	.order_simple_pop01_a {width: 72%;}
	.order_simple_pop01_21 .btn_style3 {left: 78%;}
}
@media all and (min-width:412px){
.order_simple_pop01_a {width: 76%;}
.order_simple_pop01_21 .btn_style3 {left:82%}
}

@media all and (min-width:480px){
#order01 .order_simple_pop03_2 span.txt_rit {height:38px;line-height:38px}
.card_list .card_items_list li{height: 80px;}
/*.card_list .card_items_list li img{height: 80px;}*/
}

@media all and (min-width:640px){
#order01 .order_simple_pop03_2 span.txt_rit{height:36px;line-height:36px;width: 60px;}
.order_simple_pop01_a {width: 83%;}
.order_simple_pop01_21 .btn_style3 {left: 89%;}
.order_simple_wrap .box_section .user_data span{width: auto;overflow:visible;}
}

 @media all and (min-width:568px){
	.order_simple_pop01_a {width: 83%;}
	.order_simple_pop01_21 .btn_style3 {left: 89%;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(1) a{width: 121px;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(2) a{width: 94px;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(3) a{width: 90px;float: right;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(1){width: auto;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(2){width: auto;}
  .order_simple_wrap .box_section .right_cont_area .cont_detail_list2 li:nth-child(3){width: auto;}
  .order_simple_wrap .box_section .user_data span{width: 170px;}
  .order_simple_wrap .box_section .user_data address{width: 285px;}
}

@media all and (width 667px){
#order01 .order_simple_pop03_1 {padding:2% 0}
	.order_simple_pop01_a {width:84%}
	.order_simple_pop01_21 .btn_style3 {left:90%}
}

@media all and (min-width:677px){
.order_simple_pop03_2 ul li span.stl_y{margin: 2% 3%;}
	.order_simple_pop01_a {width:84%}
	.order_simple_pop01_21 .btn_style3 {left:90%}
  .card_list .card_items_list li{height: 110px;}
  /*.card_list .card_items_list li img{height: 110px;}*/
}
@media all and (width:568px){
.order_simple_pop01_a {width:81%}
.order_simple_pop01_21 .btn_style3 {left:87%}
}

@media all and (max-width:320px){
#order01 .order_simple_pop03_2 span.txt_rit{height:15px;line-height:15px;width:43px;}
.order_simple_pop03_2 ul li span.stl_y {margin:3% 1%}
}

@media all and (min-width:1024px){
#order01 .order_simple_pop03_2 span.txt_rit{height:36px;line-height:36px;width:75px;}
#order01 .order_simple_pop03_1 {padding:2% 0}
#order01 .order_simple_pop04 table td {padding:0 1%}
#order01 .order_simple_pop04 p {padding:1% 3%}
#order01 .order_simple_pop04 .s_text {margin-top:3%}
.order_simple_pop01_a {width:87%}
.order_simple_pop01_21 .btn_style3 {left:93%}
}

@media all and (width:1366px){
#order01 .order_simple_pop03_1 {padding:1% 0}
.order_simple_pop03_2 ul li span.stl_y {margin:1% 1%}
#order01 .order_simple_pop04 table td {padding:0 1%}
#order01 .order_simple_pop04 p {padding:1% 3%}
#order01 .order_simple_pop04 .s_text {margin-top:3%}
#order01 .order_simple_pop02_1 p {margin:2% 4% 0%}
#order01 .order_simple_pop02_2 p {margin:2% 4% 0%}
#order01 .order_simple_pop02_1 span {margin:0 4%;}
#order01 .order_simple_pop02_2 span {margin:0 4%;}
#order01 .order_simple_pop01_2 p {margin:1% 4%}
#order01 .order_simple_pop01_2 span {margin:1% 4%}
}

.order_simple_pop03_2 ul li {height:48px}
