@charset="utf-8";
/*매장위치 지도보기*/
#mapContainer {position:relative !important;width:100% !important;;height:100% !important;z-index:5002 !important;}
#mapContainer > div:nth-child(2) > div.noprint:nth-child(2) {left:0 !important; display: none !important;}
#shop_location {position: fixed; left:0; top: 0;width: 100%;height: 100%;z-index:5001;}
#shop_location .cover {width: 100%;height: 100%;background-color:rgba(0,0,0,0.3);}
#smartpick.map {width:100%;position: absolute;top:0;margin-top:0;height:100%;}
#smartpick.map #head_sub { z-index:1;}
#smartpick.map .map_head { position:relative;z-index:1;width:100%;padding:15px;background:#fff;border-bottom:1px solid #7d7d7d;box-sizing:border-box;-webkit-box-sizing:border-box;/*padding-top:10px;*/}
#smartpick.map .map_head dl { line-height:23px;margin-top:10px;}
#smartpick.map .map_head dl:after { clear:both;display:block;content:"";}
#smartpick.map .map_head dt { clear:both;float:left;width:30%;font-size:12px;color:#666;}
#smartpick.map .map_head dd { float:left;width:70%;font-size:12px;color:#666;}
#smartpick.map .map_head>div { clear:both;/*margin-top:5px;*/}
#smartpick.map .map_head>.s_box04,
#smartpick.map .map_head>.s_box04 select { width:100%;}
#smartpick.map .map_head>.s_box04.region select { width:32%;}
#smartpick.map .map_head>.s_box04.region {margin-bottom:10px;
	display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;box-pack:justify;
	-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-justify-content:space-between;
	width:100%;position:relative;}
#smartpick.map .map_head .srch_sel { margin-right:-5px;}
#smartpick.map .map_head .srch_sel .s_box04 { float:left;width:33.3%;padding-right:5px;box-sizing:border-box;-webkit-box-sizing:border-box}
#smartpick.map .map_head .srch_sel .s_box04 select { width:100%;}
#smartpick.map .map_head .srch_sel .s_box04 .img_box { margin-right:5px;}
#smartpick.map .map_area { position:relative;height:100%;margin-top:-40px;padding-top:40px;background:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
#smartpick.map .empty { display:table;width:100%;height:100%;margin-top:-40px;padding-top:40px;box-sizing:border-box;-webkit-box-sizing:border-box}
#smartpick.map .empty div { display:table-cell;vertical-align:middle;}
#smartpick.map .empty p { padding-top:95px;text-align:center;font-size:12px;line-height:1.4;color:#888;background: url("http://image.lotte.com/lotte/mo2015/angular/ico_empty.gif") no-repeat center 0;background-size:80px 80px;box-sizing:border-box;-webkit-box-sizing:border-box}
#smartpick.map #head_sub h2{/*text-align:left;*/padding:0 80px 0 44px;font-weight:bold;height: 44px;font-size: 16px;line-height: 44px;border:none;text-shadow:none;color:#fff;position:relative;box-sizing:border-box;-webkit-box-sizing: border-box}
#smartpick.map select{width: 100%;
	height: 30px;
	padding: 0 35px 0 6px;
	/*margin-right: 2%;*/
	vertical-align: top;
	background: #fff url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bull_01.png) right center no-repeat;
	background-size: 23px 9px;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	color: #888;
	font-size: 12px;
	border: 1px solid #ccc;
}
#smartpick.map div.empty {width:80%; height:120px; position:absolute; left:10%; top:35%; margin:-80px 0 0 0;color:#666;}
#smartpick.map div.empty i {display:block; margin:0 auto; background:url(http://image.lotte.com/lotte/mo2015/angular/custcenter/ico_empty.gif) no-repeat; width:100px; height:100px; background-size:100px;margin-bottom: 20px;}
