@charset "utf-8";

/* datepicker */
#datepicker {width:100%;border-top:1px solid #ddd; left:0;bottom:0;z-index:5000; height:313px; position:fixed; background:#fff;}
#datepicker.isApp {padding-bottom:51px;}
#datepicker .close {position:absolute; top:0; right:0; width:60px; height:44px;}
#datepicker .close:after {content:'';position:absolute;top:15px;right:10px; display:block;width:12px;height:12px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat 0 0;background-size:12px;text-indent:-9999px}
#datepicker .box{border:1px solid #999;background:#fff}
#datepicker .head{position:relative;width:47%;height:44px;margin:0 auto;text-align:center;font-weight:bold;font-size:17px;line-height:44px}
#datepicker .head span{position:absolute;width:30px;height:30px;top:50%;margin-top:-15px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/arr_calendar.png) no-repeat 0 0;background-size:9px;text-indent:-9999px}
#datepicker .head span.prev {left:0;}
#datepicker .head span.next {right:0;background-position:100% 100%}
#datepicker .head h5 {text-align:center;}
#datepicker .calendar {width:98%; padding-left:2%; margin:0 auto; height:280px; clear:both;}
#datepicker .calendar div.week {background:#eee; height:29px; line-height:29px; font-size:10px;}
#datepicker .calendar div {width:14%; float:left; height:40px; line-height:40px; text-align:center;}
#datepicker .calendar div span {display:block; width:40px; height:40px; line-height:40px; margin:5px auto; border-radius:100%;}
#datepicker .calendar div span.today {background-color:#3766d4; color:#fff;}
#datepicker .calendar div span.on {background-color:#333; color:#fff;}
#datepicker .calendar div:nth-child(7n) {color:blue;}
#datepicker .calendar div:nth-child(7n + 1) {color:red;}