@charset "UTF-8";

/* 상품 영역 */
.prod_list_wrap{clear:both;margin:8px}
.prod_list_wrap ul:after{content:"";display:block;clear:both}
.prod_list_wrap ul li{width:100%;margin-bottom:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box}
.prod_list_wrap ul li a{display:block;border:1px solid #dcdcdc;}
.prod_list_wrap ul li .area{overflow:hidden;display:block;position:relative;width:100%;height:0;padding-bottom:100%;}
.prod_list_wrap ul li .area .img_wrap{position:absolute;top:0;bottom:0;width:100%}
.prod_list_wrap ul li a .banner_nm{display:block;padding:8px 11px 10px;overflow:hidden;max-height:36px;background-color:#ddf5f9;line-height:18px;font-size:13px;color:#333;text-align:center;}
.prod_list_wrap ul li .bottom{position:relative;}
.prod_list_wrap ul li .bottom:after{content:"";display:block;height:14px;width:14px;position:absolute;background-color:#ddf5f9;top:-7px;left:50%;margin-left:-7px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}

@media screen and (min-width:640px) {
	.prod_list_wrap ul li{width:50%;float:left}
	.prod_list_wrap ul li a .banner_nm{height:36px;}
}





