@charset "utf-8";

/*유닛*/
span.seper_area {display: block;width: 100%;height: 5px;background-color: #eee;border-top: 1px solid #d0d0d0;border-bottom: 1px solid #d0d0d0;}

.list_more {margin:10px 10px;border:1px solid #ddd;border-radius:2px;background:#efefef;color:#333;line-height:34px;text-align:center}
.list_more a:before{margin:0 5px 1px 0;background:url(http://image.lotte.com/lotte/mo2015/angular/custcenter/custcenter.png) no-repeat;background-size:200px 200px;display:inline-block;vertical-align:middle;width:12px;height:12px;content:'';background-position: -152px -27px;}
.list_more a:before{}
.list_more span{font-size:11px;}

.stipul {background-color: #eee;padding: 7px 10px;}

ul.bullet li {position:relative;padding:3px 7px;line-height:15px;font-size:11px;color:#999999;vertical-align:top;background-size:2px 2px;-webkit-background-size:2px 2px;box-sizing:border-box;-webkit-box-sizing:border-box}
ul.bullet li:before {content:'';display:block; width:2px; height:2px; background:#ccc; position:absolute; left:0; top:11px; } /*리스트 앞 불릿*/

li.on span.indicator {background: #588bff;display: block;width: 80%;height: 1px;position: relative;top:-15px;margin: 0px 10%;}

input.check01[type="checkbox"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/input.png) no-repeat 0 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none;vertical-align: middle;}
input.check01[type="checkbox"]:checked {background-position:-25px 0}
input.check01[type="checkbox"]:disabled {background-position:-55px -25px}
input.radio01[type="radio"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/input.png) no-repeat -54px 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none}
input.radio01[type="radio"]:checked {background-position:-79px 0}
input.radio01[type="radio"]:disabled {background-position:-80px -25px}

input[type="checkbox"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/input.png) no-repeat 0 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none;vertical-align: middle;}
input[type="checkbox"]:checked {background-position:-25px 0}
input[type="checkbox"]:disabled {background-position:-55px -25px}
input[type="radio"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/input.png) no-repeat -54px 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none}
input[type="radio"]:checked {background-position:-79px 0}
input[type="radio"]:disabled {background-position:-80px -25px}

select{width:100%;height:39px;padding-left:6px;padding-right:25px;border:1px solid #e5e5e5;border-radius:2px;background:#fff url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow.png) no-repeat 100%;background-size:20px;font-size:13px;color:#333;-webkit-appearance:none}

.more_view_top{clear:both;overflow:hidden;position:relative;margin:10px;border:solid 1px #ddd;background:#efefef;text-align:center;border-radius:3px;}
.more_view_top a{display:block;font-size:14px;padding:14px;color:#666}
.more_view_top a{display:block;font-size:14px;padding:14px;color:#666}
.more_view_top i{width:15px;position:relative}
.more_view_top div.btn_more{margin-right:90px;border-left:0}
.more_view_top div.btn_more a:after,
.more_view_top div.btn_top_wrap a:after{content:"";display:inline-block;margin-left:5px;width:12px;height:8px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/cscenter/cs_icon.png) no-repeat 0 0;background-size:50px 100px}
.more_view_top div.btn_more a:after{background-position:0 -25px}
.more_view_top div.btn_top_wrap{position:absolute;top:0;right:0;width:90px;border-left:1px solid #ddd;}
.more_view_top a{display:block;font-size:14px;padding:14px;color:#666}
.more_view_top strong{font-weight:bold}

/* quantity */
.quantity{position:relative;display:inline-block;padding:0 28px;border:1px solid #ddd;border-radius:2px;background:#fff;text-align:center;overflow:hidden}
.quantity button{position:absolute;width:28px;height:28px;top:0;border:none;background:#f3f3f3;font-size:16px;color:#888}
.quantity .btnMinus{left:0;border-radius:2px 0 0 2px}
.quantity .btnPlus{right:0;border-radius:0 2px 2px 0}
.quantity input{width:55px;border:1px solid #ddd;border-width:0 1px;line-height:28px;text-align:center;-webkit-appearance:none}
.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button{-webkit-appearance:none;}
.quantity .ipt_num input {border-radius:0;-webkit-border-radius:0;
border-top-right-radius:0;
border-top-left-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;}


textarea {width:100%;height:58px;border:1px solid #dcdcdc;padding:6px;box-sizing:border-box;-webkit-box-sizing:border-box;resize:vertical;border-radius:2px;}

/*확인버튼*/
.smartBtn{padding:5px 0 20px}
.smartBtn a{border-color:#749eff;background:#749eff;font-weight:bold;font-size:16px;line-height:25px;color:#fff;
    display:block;margin:0 10px;padding:10px 0;text-align:center;border-radius:2px}



/*버튼*/
.c_btn {width: 37%;
    height: 40px;
    border: 1px solid #719cff;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 20px;
    margin: 0 2px;
}
.c_btn span {
    line-height: 36px;
    text-shadow: none;
    font-weight: normal;
    padding: 0;
    font-size: 14px;
}


/*div.btn_top, div.btn_back {display:none;}*/

/*연락처 물음표*/
.safe_num {display:inline-block;width:14px;height:14px;margin-left:5px;background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) 0 -125px no-repeat;background-size:300px;text-indent:-9999px;vertical-align:middle;}
.safe_num.on {background-position:-14px -125px;}




#wrapper {background-color:#eee;}
#head_sub .btn {position:absolute;top:8px;right:8px}
#order {background-color:#fff;}
#order ul.tab_mypage {padding:0px 0px; border-bottom: 1px solid #d0d0d0;height: 36px;}
#order ul.tab_mypage li {float: left;width:33.3%; height:36px; line-height:36px; text-align:center;vertical-align:middle;background:#eee;}
#order ul.tab_mypage li a {display:block;height:34px;/*border-bottom:solid 1px #8f8f8f;*/ font-size:14px;}
/*#order ul.tab_mypage li.on a {border-bottom:none;border-left:solid 1px #8f8f8f;border-right:solid 1px #8f8f8f;border-top:solid 1px #8f8f8f;}*/
#order ul.tab_mypage li a span {display:block;width:100%;height:100%;color:#7c7c7c;}
#order ul.tab_mypage li.on a span {color:#3874ec;/*background:#fff;*/}
#order .order_list {clear:both;}
#order .order_unit { position:relative;}
#order .order_unit.unit_top { box-sizing:border-box;-webkit-box-sizing:border-box}
#order .order_unit h3 { height:36px;line-height:36px;background:#;box-sizing:border-box;-webkit-box-sizing:border-box}
#order .order_unit h3.two_line{height:35px;line-height:35px;font-size:13px;font-weight:normal;border-bottom: 1px solid #eee;margin: 0 10px;}
#order .order_unit h3.two_line .order_no{display:block;}
#order .order_unit .order_goods { min-height:88px;overflow:hidden}
#order .order_unit .cont01 { padding-bottom:0 !important;box-sizing:border-box;-webkit-box-sizing:border-box}
#order .order_unit .order_goods .tl {display:block;}
#order .order_unit .order_goods .option {font-size:11px;color:#ff7b62;}
.order_goods {overflow:hidden;position:relative;padding:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_goods span.thumb {border:1px solid #e2e4e8;float:left;width:30%;width:85px;height:85px;max-width:150px;box-sizing:content-box;-webkit-box-sizing:content-box;}
.order_goods span.thumb img {box-sizing:border-box;-webkit-box-sizing:border-box}
.order_goods span.cont01 {display:block;margin-left:98px;font-size:13px;} /*padding:0 8px*/
/*#order .order_goods span.cont01 .icon {margin:0 0 6px}*/
.order_goods .tl {display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;-webkit-box-orient:vertical;line-height:150%; margin-bottom: 5px;margin-top: 3px;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_goods .money {margin-top:2px;}/*margin-top:2px*/
.order_goods .money .price span {font-size:13px;font-weight:bold;}
.order_goods .order_step{display:block;clear:both;padding-top:7px;border-top: 1px solid #eee;position: relative;top: 10px;}
.order_goods .order_step .step {float:left;}
.order_goods .money .price {color:#285ace;}
#order .step { color:#333;}
/*#order .order_goods .order_step .step{float:left;width:30%;max-width:150px;padding-right:9px;background:transparent url(http://image.lotte.com/lotte/mobile/mobile_new/order/order_step_arrow.png) right top no-repeat;background-size:9px 50px;box-sizing:border-box;-webkit-box-sizing:border-box}*/

/*#order .order_goods .order_step .step > span{display:block;padding:3px 0 5px 0;text-align:center;border-width:1px 0 1px 1px;border-style:solid;border-color:#e2e4e8;background-color:#f1f1f1}*/
.order_goods .order_step .step > span {display:block;text-align:center;}
.order_goods .order_step .step > span > i {display:none;}
/*#order .order_goods .order_step .step > span > i{display:block;overflow:hidden;width:80px;height:9px;margin:5px auto 0 auto;text-indent:-9999px;background:transparent url(http://image.lotte.com/lotte/mobile/mobile_new/order/order_step_progress.png) center 0 no-repeat;background-size:80px 90px}*/
/*#order .order_goods .order_step .step > span > i.step_5_0{background-position:0 0}*/
/*#order .order_goods .order_step .step_detail{margin:0 0 0 30%;padding:3px;color:#656565;line-height:130%;border-top:1px solid #e2e4e8}*/
.order_goods .order_step .step_detail {color:#999;left: 7px;position: relative;}
.order_goods .goods_btn_wrap{display:block;clear:both;margin:10px -3px 0 -3px}
.order_goods .goods_btn_wrap:after{content:"";display:block;clear:both}
.order_layer{display:none;position:relative;margin:-10px 0 10px 0;padding-top:15px}
#order .order_layer .bar{position:absolute;text-align:center;top:8px;width:100%;height:8px;z-index:1;background:url("http://image.lotte.com/lotte/mobile/mobile_new/order/ico_layer.gif") no-repeat center top;background-size:13px 8px;-webkit-background-size:13px 8px}
#order .order_layer .ly_inner{padding:9px 8px;border:1px solid #d6e6f7;background-color:#e4f1ff}
#order .order_layer .ly_inner .ly_cont dl.opt_wrap dt{clear:both;float:left;width:100px;padding:12px 0 0 8px;color:#666;font-size:12px}
#order .order_layer .ly_inner .ly_cont dl.opt_wrap dd{overflow:hidden;margin-bottom:3px;padding:12px 0 0 0;line-height:150%}
#order .order_layer .ly_inner .ly_cont dl.opt_wrap dd .s_box02{width:100%;margin-top:-7px;box-sizing:border-box;-webkit-box-sizing:border-box}