@charset "utf-8";

/*공통*/

/* No Data */
.order_none .btn {display:none;}
.order_none .box {text-align: center;background-color: #eee;color: #bbb;font-size: 15px;height: 180px;}
.order_none .box .txt {position: relative;top: 42%;}



#head_sub {position:relative;height:44px}
#head_sub .prev{top:0;left:0;position:absolute}
/*#head_sub .prev a{font-size:0;display:block;height:36px;width:30px;padding:0;color:#fff;position:relative;box-sizing:border-box;-webkit-box-sizing: border-box}*/
#head_sub .prev a{font-size:0;
    display:block;
    height:44px;
    width:44px;
    padding:0;
    position:relative;
    box-sizing:border-box;
    -webkit-box-sizing: border-box
}

/*#head_sub .prev a:before{background:url("http://image.lotte.com/lotte/mo2015/angular/head2015_set.png") no-repeat 0 -44px;background-size:183px 88px;width:30px;height:44px;top:0px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing: border-box;content:""}*/
#head_sub .prev a:before{
    background:url(http://image.lotte.com/ellotte/mo2015/angular/common/btn_back_w.png) no-repeat center left;
    background-size:19px 14px;
    width:30px;
    height:44px;
    top:0px;
    left:13px;
    border:none;
    position:absolute;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    content:""
}

#head_sub.ps_head {position:relative;z-index:4;width: 100%}

/*#head_sub.ps_head h2{background-color:#719cff;height: 44px;padding-left:44px;font-size: 16px;line-height: 44px;border:none;text-shadow:none;color:#fff;text-align:center;position:relative;font-weight:normal;box-sizing:border-box;-webkit-box-sizing: border-box}*/



/*#head_sub.ps_head h2 span {text-align:left;display:block;width: auto;white-space:nowrap;-webkit-line-clamp:1;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis}*/
#head_sub.ps_head .prev{top:0;left:0;position:absolute}
/*#head_sub.ps_head .prev a{width:44px;height:44px;font-size:0px}*/

/*#head_sub.ps_head .prev a:before{background:url("http://image.lotte.com/lotte/mo2015/angular/head2015_set.png") no-repeat 0 -44px;background-size:183px 88px;width:30px;height:44px;top:0px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing: border-box;content:""}*/




.s_box02 {border:1px solid #ddd;border-radius:3px;position:relative;height:40px;}
.s_box02 select {height:38px;margin:0;font-size:13px;color:#000;padding:0 20px 0 5px;border:0;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;}
select{border-radius:3px;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
#order .order_layer .ly_inner .ly_cont dl.opt_wrap dd .s_box02 select{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box}
.s_box02 .img_box {right:0;top:0;position:absolute;pointer-events:none}
.s_box02 .img_box i {margin:5px 8px 0 0}
#order .order_layer .ly_inner .ly_btn_wrap{margin:15px -3px 0 -3px}
#order .order_layer .ly_inner .ly_btn_wrap > span{display:block;float:left;width:50%;padding:0 3px;-webkit-box-sizing:border-box}
#order .order_layer .ly_inner .ly_btn_wrap > span > a{width:100%}
.c_btn {display:inline-block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.c_btn.col05 {border-radius:3px;background:#929292}
.c_btn span {display:block;text-align:center;font-size:15px;color:#fff;font-weight:bold;padding:12px 5px;height:42px;box-sizing:border-box;-webkit-box-sizing:border-box}
.x_btn {display:inline-block;position:relative;color:#888;font-size:13px;border-style:none;background:none;}
    /*.x_btn {display:inline-block;position:relative;border-radius:2px;vertical-align:middle;text-align:center;color:#000;font-size:13px;padding:0 20px 0 10px;height:28px;line-height:26px;border:solid 1px #ddd;background:#f3f3f3;box-sizing:border-box;-webkit-box-sizing:border-box;border-style:none;}*/
#order .order_unit .order_detail{position:absolute;top:4px;right:8px}
.x_btn:after {content:"";position:absolute;right:3px;background:url(http://image.lotte.com/lotte/mo2015/angular/layout.png) no-repeat;background-size:300px 300px;display:inline-block;width:6px;height:10px;-webkit-transform:rotate(0deg);background-position: -242px -53px;}
#order .order_unit { position:relative;}
#order .order_unit:after { clear:both;display:block;content:"";}


.stipul {margin-top:0px;margin-bottom:0px;padding-top:0px; position:relative;top:-5px;}
