@charset "UTF-8";
/* 20161031 배송조회 팝업 */
.delivery_detail > div{margin-top:7px;padding:12px 10px 20px;border-bottom:1px solid #dcdcdc;background:#fff}
.delivery_detail .progress_tbl_wrap{padding-bottom:32px;border-bottom:none}
.delivery_detail h3{font-size:14px;line-height:32px}
.delivery_detail .deli_tbl th{width:33%;padding:13px 10px 12px;border:1px solid #ededed;background:#fafafa;font-weight:normal;font-size:12px;line-height:15px;letter-spacing:-.7px;color:#999}
.delivery_detail .info_tbl_wrap th{text-align:left}
.delivery_detail .deli_tbl td{padding:13px 10px 12px;border:1px solid #ededed;font-size:13px;line-height:15px;letter-spacing:-.7px}
.delivery_detail .progress_tbl_wrap td{padding-top:4px;padding-bottom:4px;text-align:center}
.delivery_detail .progress_tbl_wrap td:first-child{font-size:12px}
.delivery_detail td.state{color:#5085ee}
.delivery_detail .progress_tbl_wrap .error_tbl td{padding-top:50px;padding-bottom:62px;font-size:13px;line-height:20px}
.delivery_detail .progress_tbl_wrap{padding-bottom:32px;border-bottom:none}
.delivery_detail h3{font-size:14px;line-height:32px}
.delivery_detail .deli_tbl th{width:33%;padding:13px 10px 12px;border:1px solid #ededed;background:#fafafa;font-weight:normal;font-size:12px;line-height:15px;letter-spacing:-.7px;color:#999}
.delivery_detail .info_tbl_wrap th{text-align:left}
.delivery_detail .deli_tbl td{padding:13px 10px 12px;border:1px solid #ededed;font-size:13px;line-height:15px;letter-spacing:-.7px}
.delivery_detail .progress_tbl_wrap td{padding-top:4px;padding-bottom:4px;text-align:center}
.delivery_detail .progress_tbl_wrap td:first-child{font-size:12px}
.delivery_detail td.state{color:#5085ee}
.delivery_detail .progress_tbl_wrap .error_tbl td{padding-top:50px;padding-bottom:62px;font-size:13px;line-height:20px}
li.order_unit .order_goods .order_step.order_cancle .step_detail.resize{width: calc(100% - 154px)}
li.order_unit .order_goods .order_step.order_gift .step_detail.resize{width: calc(100% - 166px)}
.stat_line:first-child td{font-weight:bold}
.line2limit{width:100%;max-height:30px;word-break:break-all;word-wrap:break-word;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2}
.delivery_detail .info_tbl_wrap a{display:inline-block;line-height:23px;padding:0 5px 0 0;border:solid 1px #ddd;font-size:12px;color:#333;font-weight:bold}
.delivery_detail .pop_tit_sub{padding:0 0 11px 0;font-size:14px}
.delivery_detail .pop_tit_sub b{color:#5085ee}
.delivery_detail a i{display:inline-block;width:22px;height:22px;background:url('http://image.lotte.com/lotte/mo2017/common/smart_ph_icon.png') no-repeat top center;background-size:22px auto;vertical-align:top}
.delivery_detail a i.hp{background-position:bottom center}