@charset "UTF-8";

/* 스타일 추천 리스트 */
.style_push_list{margin-top:16px;position:relative;}
.style_push_list ol{width:100%;}
.style_push_list ol li.camera_img_list .camera_img_box{position:relative;background:#fff;overflow:hidden;border-width:0 1px 1px 0;border-style:solid;border-color:#d0d0d0;padding:10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.style_push_list ol li.camera_img_list .camera_img_box .img_wrap{overflow:hidden;position:relative;padding-bottom:100%;}
.style_push_list ol li.camera_img_list .camera_img_box .img_wrap >img{position:absolute;top:50%;margin:-50% 0 ;}

/* 사용자 등록 이미지 */
.style_push_list ol li.camera_img_list .camera_img_box .caemera_img_txt{position:relative;bottom:0;left:0;right:0;background:#719bff;color:#fff;text-align:center;height:107px;max-height:107px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.style_push_list ol li.camera_img_list .camera_img_box .caemera_img_txt:after{content:"";display:block;width:10px;height:10px;background:#719bff;position:absolute;left:50%;top:-4px;margin-left:-5px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);}
.style_push_list ol li.camera_img_list .camera_img_box .caemera_img_txt span{display:block;}
.style_push_list ol li.camera_img_list .camera_img_box .caemera_img_txt .title{font-size:15px;line-height:20px;font-weight:bold;padding:14px 0 5px;}
.style_push_list ol li.camera_img_list .camera_img_box .caemera_img_txt .sub_title{font-size:14px;line-height:18px;}

/*.style_push_list ol li:nth-child(2n+1){clear:both;}*/

@media screen and (min-width:640px) {
	/*
	.style_push_list ol li:nth-child(2n+1){clear:none;}
	.style_push_list ol li:nth-child(3n+1){clear:both;}
	*/
}
@media screen and (min-width:900px) {
	/*
	.style_push_list ol li:nth-child(3n+1){clear:none;}
	.style_push_list ol li:nth-child(4n+1){clear:both;}
	*/
}

.style_push_wrap .empty_product{text-align:center;padding:30px;font-size:16px;line-height:30px;}

/* 처음으로 돌아가기 */
.style_push_wrap .btn_style_research{background:rgb(0,0,0);opacity:0.75;filter:alpha(opacity=75);position:fixed;bottom:57px;left:50%;margin-left:-73px;display:block;padding:0 23px;height:37px;line-height:37px;color:#fff;text-align:center;z-index:5;border-radius:3px;appearance:none;-webkit-appearance:none;border:0;font-size:14px;outline:none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.style_push_wrap .btn_style_research:after{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_research.png) no-repeat 0 0;background-size:16px 14px;width:16px;height:14px;display:inline-block;vertical-align:middle;content:"";margin-left:5px;position:relative;top:-2px;}