@charset "UTF-8";
a,li,form {-webkit-tap-highlight-color:transparent;}
/* common */
* {margin:0;padding:0;}
body {background:#eee;}
html, body {width:100%;height:100%;left:0;font-size:13px;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color: #333;-webkit-text-size-adjust: none;box-sizing: border-box;-webkit-box-sizing: border-box}
input,button,select{font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
fieldset,img {border:0 none;box-sizing:border-box;-webkit-box-sizing:border-box}
ol, ul {list-style:none;margin:0;padding:0}
table {width:100%;border-collapse:collapse;border-spacing:0;border:0 none}
hr {display:none}
a {text-decoration:none;color:#333}
img{width: 100%;height:auto;vertical-align: top}
em{font-style: normal}
caption {text-indent:-9999em;color:transparent;height:0}
i{display:inline-block}
slelct{font-size:12px;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color: #333;}
.blind{overflow:hidden;position:absolute;top:-10000px;visibility:hidden;font-size:0;height:0}
html.dimmedOpen {overflow:hidden;height:100%}

span.flag,p.flag span,.titBrandShop {height:17px !important;line-height:19px !important;}
span.flag.tag {height:15px !important;line-height:17px !important;}
.flag.smart {height:19px !important;}

.side_cate.transition {}
.side_mylotte.transition {}
.categorySet.transition dl > dd {}
#container {
	position:relative;
	width:100%; clear:both;
	min-height:550px;
}
/*layout*/
#wrapper{width:100%; clear:both;overflow:hidden;}
html.dimmedOpen #wrapper,
#wrapper.overflowy_hidden{overflow:hidden;height:100%;}
.cont_minheight{min-height:550px;position:relative;}

@media (max-height:600px){
	.cont_minheight,
	#container {min-height:300px;}
}
/* pop Guide*/
.ptit{text-align:center;font-size:18px;font-weight:bold;line-height:57px;color:#fff;background-color:#98add9;}
.ptXtbox{background-color:#fff;padding:20px;line-height:18px;font-size:14px;letter-spacing:-1px;}
.ptXtbox.tp0{padding:0 20px 15px;}
.ptXtbox .stit{margin-top:15px;font-weight:bold;}
.ptXtbox .stit:first-child, .ptXtbox ul:first-child{margin-top:0;}
.ptXtbox ul{margin-top:10px;}
.ptXtbox ul.dot_list li{padding-left:8px;text-indent:-8px;}
.ptXtbox ul li{margin-top:2px;}
.ptXtbox ul li:first-child{margin-top:0;}
.ptXtbox .blue{color:#7291cf;}
.ptXtbox ul.space li{margin-top:15px;}
.ptXtbox ul.space li:first-child{margin-top:0;}
.ptXtbox .ul_btn{margin:4px 0 0 5px;}
.ptXtbox .txtCt{text-align:center;}
.ptXtbox .thumb{margin-top:15px;text-align:center;}
.ptXtbox .thumb span{display:inline-block;width:110px;height:110px;background-repeat:no-repeat;background-position:center center;background-size:auto 100%;;}
.ptXtbox .thumb img{width:110px;height:110px;}

.btnMore{display:table;width:100%;height:42px;table-layout:fixed;margin-bottom:10px;margin-top:-1px;border-top:1px solid #f1f1f1;border-bottom:1px solid #e9e9e9;}
.btnMore .btnArea{display:table-cell;text-align:center;}
.btnMore .btnArea a{display:block;border-left:1px solid #f1f1f1;background-color:#fff;}
.btnMore .btnArea:first-child a{border-left:none;}
.btnMore .btnArea a span{position:relative;display:inline-block;padding-right:12px;line-height:42px;font-size:14px;font-weight:bold;color:#6d8ccf;}
.btnMore .btnArea a span:after{content:"";position:absolute;width:7px;height:7px;top:50%;right:0;margin-top:-4px;text-align:right;line-height:0;font-size:0;font-weight:normal;border-width: 1px 1px 0 0;border-style:solid;border-color:#7291cf;
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)}

.btn_sty1{width:100%;height:32px;display:inline-block;text-align:center;font-size:13px;line-height:30px;/*line-height:32px;*/color:#7291cf;border:1px solid #7291cf;background-color:#fff;border-radius:2px;box-sizing:border-box;font-weight: bold;}
.btn_sty2{height:32px;display:inline-block;text-align:center;padding:0 8px;font-size:13px;line-height:30px;/*line-height:32px;*/color:#7291cf;border:1px solid #7291cf;background-color:#fff;border-radius:2px;box-sizing:border-box;font-weight: bold;}
.btn_sty3{height:32px;display:inline-block;text-align:center;padding:0 10px;font-size:13px;line-height:30px;/*line-height:32px;*/color:#fff;background-color:#7291cf;border-radius:2px;box-sizing:border-box;}
.btn_sty4{height:26px;display:inline-block;text-align:center;padding:0 8px;font-size:13px;line-height:26px;line-height:26px;color:#333;border:1px solid #ddd;background-color:#fff;border-radius:2px;box-sizing:border-box;}

/*20171129 스마트픽 추가*/
.smp_ntc_txt {color: #979797;font-size: 13px;position: relative;margin-left: 12px; text-indent: 0;}
.smp_ntc_txt span {position: absolute; left: -12px;}

/*20180309 lg 희망일 배송 추가*/
.pFirst{color:#7291cf}

/* 문화소득공제 */
.idneCont {padding:20px 19px;background:#fff}
.idneCont p{font-size:14px;color:#333}
.idneCont ul {margin-top:12px}
.idneCont ul li{padding-left:7px;position:relative}
.idneCont ul li:before{content:'';position:absolute;top:8px;left:0;width:2px;height:2px;display:block;background:#333}
.idneCont ul li span{font-size:13px;color:#666;display:block;padding:4px 0 12px}

/* 무이자혜택 안내 */
.scrollWrap {overflow-y:auto;max-height:320px;-webkit-overflow-scrolling:touch;}

/* 스마트픽 가능지점 안내 */
.smpList {}
.ptXtbox .smpList li {margin-top:15px;}
.ptXtbox .smpList li:first-child {margin-top:0;}
.ptXtbox .smpList li:after {content:"";display:block;clear:both;}
.smpList .tit {position:relative;float:left;width:40%;padding-left:4px;box-sizing:border-box;font-size:14px;color:#333;}
.smpList .tit:before {content:"";position:absolute;top:7px;left:0;width:2px;height:2px;background:#333;}
.smpList .txt {float:right;width:60%;font-size:14px;color:#aaa;}
.smpList .txt.type2 {color:#333;}
#smartPick .info {margin-top:15px;font-size:12px;color:#aaa;}
