<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
	<meta charset="utf-8">
	<title>롯데닷컴</title>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />

	<!-- 기존 css & js -->
	<!-- <script src="/lotte/resources_dev/common/common_load_2017.js"></script> -->
	<link rel="stylesheet" type="text/css" href="common.min.css">
<!--	<link rel="stylesheet" type="text/css" href="product_view.min.css">-->
	<!-- //기존 css & js -->
	<!-- 신규 css -->
	<link rel="stylesheet" type="text/css" href="product_k.css">
<!--	<link rel="stylesheet" type="text/css" href="product_p.css">-->
	<!-- //신규 css -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- 코딩용 angular js -->

</head>
<body ng-controller="ProductCtrl">

	<div id="wrapper">

		<section>
			<header class="sub_header_top_wrap" id="lotteHeader">
				<div class="inner_wrap headerFixed">
					<button class="btn_prev">이전</button>
					<h2>상품 필수표기정보 안내</h2>
				</div>
			</header>
		</section>

		<section class="cont_minheight">

			<!-- container -->
			<div id="container">
				<!-- 퍼블리싱 시작-->

				<!--상품 상세 서브 page 기본 wrapper(한번만 사용할 것): prod_detail_page_wrap-->
				<div class="prod_detail_page_wrap p_essen_info">

					<div class="detail_base_wrap">
						<table class="info_table">
							<tr><td>모델번호</td><td>12345678</td></tr>
							<tr><td>상품코드</td><td>987654321</td></tr>
							<tr><td>원산지</td><td>한국</td></tr>
							<tr><td>주문제작여부</td><td>주문제작상품</td></tr>
							<tr><td>선물서비스</td><td>무료선물포장+선물메시지</td></tr>
							<tr><td>제조사/원산지</td><td>(주)아모레퍼시픽/한국</td></tr>
							<tr><td>원재료명 및 함량</td><td>주원료(100.0%)</td></tr>
							<tr><td>소재</td><td>면 100%</td></tr>
							<tr><td>색상</td><td>블랙, 블루, 브라운</td></tr>
							<tr><td>패턴여부</td><td>없음</td></tr>
							<tr><td>세탁방법</td><td>세탁기</td></tr>
							<tr><td>A/S 책임자 및 전화번호</td><td><em>※A/S 책임자와 전화번호</em>의 정보미흡,
								통화지연 등 서비스 불만이 있을 경우,
								롯데닷컴 고객센터(1577-1110)로
								연락 주시기 바랍니다.</td></tr>
						</table>

					<div class="certi_info">
						<p class="info_tit">제품 안전 인증 정보</p>
						<p class="info_desc"><span class="mark"></span>본 상품은 국가통합인증 (KC마크) 대상 품목으로
							아래의 국가통합인증 (KC마크) 을(를) 필하였습니다.
							<br>안전 인증번호 : <var>HU07425-902</var>
						</p>
						</div>
					</div>

				</div>
				
				
				<!-- 퍼블리싱 끝-->
			</div>
			<!-- //container -->

		</section>
		<!-- //sub_header_wrap -->

		<!-- footer -->
		<footer id="footer">
			<ul class="menu01">
				<li><a class="ng-binding" href="#">마이롯데</a><i></i>	</li>
				<li><a ng-click="pcClick()">PC버전</a><i></i></li>
				<li><a href="#">장바구니</a><i></i></li>
				<li><a href="#">고객센터</a><i></i></li>
				<li><a href="#" ng-click="loginProc()" ng-bind="(loginInfo.isLogin)?'로그아웃':'로그인'" class="ng-binding">로그아웃</a></li>
			</ul>
			<div class="info">
				<ul class="menu02">
					<li><strong>(주)롯데닷컴</strong></li>
					<li><a ng-click="ftcClick()">사업자정보확인</a></li>
					<li><a ng-click="forwardClick()">채무지급보증안내</a></li>
				</ul>
				<p class="add">
					<span class="addFirst">대표이사 : 김형준</span>
					<span class="line">서울시 중구 을지로 158 10층(을지로4가, 삼풍빌딩)</span>
					<span class="line">사업자등록번호 : 101-81-52964 통신판매업신고 : 중구 제00402호</span>
					<span class="line">고객만족센터 : <a href="tel:1577-1110">1577-1110</a>  webmaster@lotte.com</span>
					<span class="line">개인정보보호책임자 : 윤상선</span> <span class="line">청소년보호책임자 : 김찬기</span>
					<span>호스팅 사업자 : (주)롯데닷컴</span>
				</p>
			</div>
			<div class="menu03">
				<ul>
					<li><a href="#">이용약관</a></li>
					<li><a href="#"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#">청소년보호정책</a></li>
				</ul>
			</div>
			<div class="capyright">Copyright © LOTTE.com, Inc. All rights Reserved.</div>
		</footer>
		<!-- //footer -->

		<!-- quick_btn -->
		<div class="quick_btn">
			<div ng-show="visible" class="">
				<a class="btn_back ng-hide" ng-click="gotoPrepageSide()" ng-show="quickBackBtn">뒤로</a><a class="btn_top" ng-click="gotoTop()">위로</a>
			</div>
			<a class="btn_talk" ng-click="gotoTalk()">톡상담</a>
		</div>
		<!-- quick_btn -->
	</div>

	<!-- lotteActionbar -->
	<section id="lotteActionbar" class="actionbar" ng-show="!appObj.isApp &amp;&amp; !actionbarHideFlag">
		<ul class="actionbar_wrap">
			<li class="home on" ng-class="{on:cur_pageid == 1 &amp;&amp; !isShowSideCtg}"><button ng-click="gotoMainFooter()" class="btn_main">홈</button></li>
			<li class="ctg" ng-class="{on: isShowSideCtg}"><button ng-click="showSideCtgFooter()" class="btn_ctg">카테고리</button></li>
			<li class="order" ng-class="{on:cur_pageid == 2}"><button ng-click="gotoOrderLstFooter()" class="btn_order">주문배송</button></li>
			<li class="mylotte" ng-class="{on:cur_pageid == 3}"><button ng-click="gotoMyPageFooter()" class="btn_mylotte">마이롯데</button></li>
		</ul>
	</section>
	<!-- //lotteActionbar -->
</body>
</html>