@charset "UTF-8";

.sub_header_top_wrap h2{text-align:center;line-height:48px;font-size:19px;font-weight:normal;color:#fff;}
.detailPrdInfoWrap{margin-bottom:10px;background-color:#fff;}

/* input */
input.radio01[type="radio"]{cursor:pointer;margin-left:5px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) no-repeat -54px 0;background-size:155px 202px;width:22px;height:22px;vertical-align: middle}
input.radio01[type="radio"]:checked{background-position:-78px 0; outline:0;}
input.radio01[type="radio"]:disabled{background-position:-78px -49px}
input.radio01[type="radio"]:disabled + label{color:#ccc}

/* prd_title */
.prd_title{position:relative;padding:15px 0;background-color:#fff;}
.prd_title p{height:25px;padding:0 15px;font-size:16px;line-height:25px;word-break:break-all;white-space:normal;overflow:hidden;}
.prd_title p .cnt{color:#7291cf;}
.prd_title .btn_bs{position:absolute;top:0;right:8px;height:55px;}
.prd_title .btn_bs span{font-size:13px;color:#7291cf;line-height:55px;padding-right:33px;}
.prd_title .btn_bs span:after {content:'';position: absolute;top: 50%;right:4px;width:25px;height:25px;margin-top: -12px;display:inline-block;background: url(http://image.lotte.com/lotte/mo2017/main/ic_elem_brand.png) -50px -50px no-repeat;background-size: 200px auto;}
.prd_title .btn_bs.on span:after {background-position-x: -75px;}
.prd_title .prdCnt{position:absolute;top:0;right:15px;height:55px;line-height:55px;}
.prd_title_line{background-color:#fff;}
.prd_title_line p{height:25px;margin:0 15px;padding:15px 0;font-size:16px;line-height:25px;word-break:break-all;white-space:normal;overflow:hidden;border-bottom:1px solid #f1f1f1;}

/* btnMore */
.btnMore{display:table;width:100%;height:42px;table-layout:fixed;margin-bottom:10px;margin-top:-1px;border-top:1px solid #f1f1f1;border-bottom:1px solid #e9e9e9;}
.btnMore .btnArea{display:table-cell;text-align:center;}
.btnMore .btnArea a{display:block;border-left:1px solid #f1f1f1;background-color:#fff;}
.btnMore .btnArea:first-child a{border-left:none;}
.btnMore .btnArea a span{position:relative;display:inline-block;padding-right:12px;line-height:42px;font-size:14px;font-weight:bold;color:#6d8ccf;}
.btnMore .btnArea a span:after{content:"";position:absolute;width:7px;height:7px;top:50%;right:0;margin-top:-4px;text-align:right;line-height:0;font-size:0;font-weight:normal;border-width: 1px 1px 0 0;border-style:solid;border-color:#7291cf;
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg)}

.btn_sty1{width:100%;height:32px;display:inline-block;text-align:center;font-size:13px;line-height:32px;color:#7291cf;border:1px solid #7291cf;background-color:#fff;border-radius:4px;box-sizing:border-box;}
.btn_sty2{height:32px;display:inline-block;text-align:center;padding:0 8px;font-size:13px;line-height:32px;color:#7291cf;border:1px solid #7291cf;background-color:#fff;border-radius:4px;box-sizing:border-box;}
.btn_sty3{height:32px;display:inline-block;text-align:center;padding:0 10px;font-size:13px;line-height:32px;color:#fff;background-color:#7291cf;border-radius:4px;box-sizing:border-box;}
.btn_sty4{height:26px;display:inline-block;text-align:center;padding:0 8px;font-size:13px;line-height:26px;color:#333;border:1px solid #ddd;background-color:#fff;border-radius:4px;box-sizing:border-box;}

/* pop Guide*/
.bsPop{position:fixed;width:80%;top:50%;left:10%;background-color:#fff;z-index:130;border-radius:3px}
.bsPop .ptit{text-align:center;font-size:18px;font-weight:bold;line-height:57px;color:#fff;background-color:#98add9;border-radius:3px 3px 0 0}
.bsPop .pClose{display:block;width:100%;text-align:center;line-height:42px;font-size:14px;border-top:1px solid #e9e9e9;}
.bsPop .pInnder .pTxtBox{padding:20px;line-height:18px;font-size:14px;letter-spacing:-1px;}
.bsPop .pInnder .pTxtBox.tp0{padding:0 20px 15px;}
.bsPop .pInnder .mtit{text-align:center;line-height:57px;font-size:18px;font-weight:bold;border-top:1px solid #f1f1f1;}
.bsPop .pInnder .mtit:first-child{border-top:none;}
.bsPop .pInnder .mtit strong{color:#7291cf;}
.bsPop .pInnder .pTxtBox .stit{margin-top:15px;font-weight:bold;}
.bsPop .pInnder .pTxtBox .stit:first-child, .bsPop .pInnder .pTxtBox ul:first-child{margin-top:0;}
.bsPop .pInnder .pTxtBox ul{margin-top:10px;}
.bsPop .pInnder .pTxtBox ul.dot_list li{padding-left:8px;text-indent:-8px;}
.bsPop .pInnder .pTxtBox ul li{margin-top:2px;}
.bsPop .pInnder .pTxtBox ul li:first-child{margin-top:0;}
.bsPop .pInnder .pTxtBox .blue{color:#7291cf;}
.bsPop .pInnder .pTxtBox ul.space li{margin-top:15px;}
.bsPop .pInnder .pTxtBox ul.space li:first-child{margin-top:0;}
.bsPop .pInnder .pTxtBox .ul_btn{margin:4px 0 0 5px;}
.bsPop .pInnder .pTxtBox .txtCt{text-align:center;}
.bsPop .pInnder .pTxtBox .thumb{margin-top:15px;text-align:center;}
.bsPop .pInnder .pTxtBox .thumb span{display:inline-block;width:110px;height:110px;background-repeat:no-repeat;background-position:center center;background-size:auto 100%;;}
@media (min-height: 450px) { 
	.bsPop .pInnder{max-height:310px;overflow:auto;} 
	.bsPop{margin-top:-205px;}
}
@media (min-height: 550px) { 
	.bsPop .pInnder{max-height:inherit;} 
	.pop_gift{margin-top:-277px;}
	.pop_todayArrive{margin-top:-217px;}
	.pop_quick{margin-top:-171px;}
	.pop_availableTime{margin-top:-106px;}
	.pop_pointGuide{margin-top:-211px;}
}


/* glr_list */
.glr_list{margin-top:-1px;overflow:hidden;background-color:#fff;}
.glr_list:after {content:''; clear:both; display:block; height:0;visibility:hidden;}
.glr_list ul{display: table;width: 100%;margin-top:14px;padding:0 4.5px;box-sizing:border-box;border-bottom: 1px solid #e9e9e9;background-color: #fff;}
.glr_list ul.margin{margin-top:0;}
.glr_list ul li{width:33.33%;padding:0 3.5px 25px;float: left;box-sizing: border-box;}
.glr_list ul li a{display:block;}
.glr_list ul li .imageCon{position:relative;margin:0 auto;padding-top:100%;box-sizing: border-box;overflow:hidden;}
.glr_list ul li .imageCon img{position: absolute;top: 0;left: 0;width: 100%;}
.glr_list ul li .titleCon{padding:8px 5px 0;color:#333;}
.glr_list ul li .titleCon .name{height:35px;font-size:14px;line-height:18px;letter-spacing:-1px;overflow:hidden;white-space:normal;word-break:break-all;}
.glr_list ul li .titleCon .ti{height:21px;margin-top:3px;font-size:14px;letter-spacing:-1px;line-height:21px;overflow:hidden;}
.glr_list ul li .titleCon .ti strong{font-size:18px;margin-right:2px;}

/* 베스트 상품 (즐겨찾기)  */
.unit_prod_4 {border-bottom: 1px solid #e9e9e9;background:#fff;}	
.unit_prod_4:after {content: "";display: block;height: 0;clear: both;}
.unit_prod_4 ul {border-top: 1px solid #f1f1f1;}
.unit_prod_4 ul:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.unit_prod_4 li {display: block;box-sizing: border-box;width: 50%;float: left;position: relative;}
.unit_prod_4 li a {display: block;/*padding: 10px 12px 18px;*/padding: 8px 8px 25px;}
.unit_prod_4 li a .imgwrap {padding-top: 100%;position: relative;overflow: hidden;}
.unit_prod_4 li a .imgwrap img {position: absolute;top:0;}
.unit_prod_4 li .brandname, .unit_prod_4 li .prodname {padding:0 5px;font-size: 14px;color: #333;overflow: hidden;height: 40px;line-height: 20px;}
.unit_prod_4 li .brandname {font-weight: 400;margin-top: 5px;}
.unit_prod_4 li .prodname {margin-top:10px;}
.unit_prod_4 li .price {margin-top:3px;;padding:0 5px;font-size: 18px;color: #333;font-weight: 700;}
.unit_prod_4 li .price em {font-size: 14px;font-weight: 400;margin-left: 1px;}
.unit_prod_4 li:nth-child(2n):before {content: "";display: block;background-color: #f4f4f4;position: absolute;top: 0;left: 0;bottom: 0;width: 1px;}
.unit_prod_4 li:nth-child(3), .unit_prod_4 li:nth-child(4) {border-top: 1px solid #f4f4f4;}
.unit_prod_4 li a .soldout {width: 100%;overflow: hidden;text-indent: 100%;white-space: nowrap;z-index: 3;height: 100%;position: absolute;left: 0;top: 0;background: url(http://image.lotte.com/lotte/mo2017/main/prod_soldout.png) center center no-repeat rgba(255,255,255,.9);background-size:contain}

/* unit_prod_customer */
.bg_white{background-color:#fff;margin-bottom:10px;}
.unit_prod_customer{position:relative;min-width:100%;padding:0 15px;box-sizing:border-box;white-space:nowrap;border-bottom: 1px solid #e9e9e9;}
.unit_prod_customer li{width:145px;display:inline-block;padding:0 7px 0 0;vertical-align:top;}
.unit_prod_customer li .thumb{width:143px;height:143px;border:1px solid #f1f1f1;}
.unit_prod_customer li .info{height:150px;margin-top:8px;padding:0 5px;color:#333;box-sizing:border-box;}
.unit_prod_customer li .info .name{height:36px;font-size:14px;line-height:18px;letter-spacing:-1px;overflow:hidden;white-space:normal;word-break:break-all;}
.unit_prod_customer li .info .price{margin-top:4px;font-size:14px;letter-spacing:-1px;}
.unit_prod_customer li .info .price strong{font-size:18px;margin-right:2px;}
.unit_prod_customer li .info .score_wrap{margin-top:8px;}
.unit_prod_customer li .info .score_wrap *{vertical-align:middle;}
.unit_prod_customer li .info .score_wrap .starScoreWrap{position:relative;display:inline-block;width:75px;height:15px;margin-right:0;background:url(../images/product/ic_unit_score_3x.png) no-repeat 0 0;background-size:75px 15px;}
.unit_prod_customer li .info .score_wrap .starScoreWrap .starScoreCnt {display:block;height:15px;background:url(../images/product/ic_unit_score_3x_on.png) no-repeat 0 0;background-size:75px 15px;}
.unit_prod_customer li .info .score_wrap .review{line-height:15px;color:#7291cf;font-size:13px;}
.unit_prod_customer li .info .btnArea{margin-top:11px;}

.prod_max_height{position:relative;overflow:hidden;max-height:4000px;}
.btn_prodMore{width:100%;position:absolute;bottom:0;left:0;padding:15px;box-sizing:border-box;z-index:10}
.btn_prodMore a{width:100%;height:42px;display:block;text-align:center;border:1px solid #7291cf;background:rgba(255,255,255,.9);border-radius:4px;box-sizing:border-box;}
.btn_prodMore a span{position:relative;display:inline-block;padding-right:15px;font-size:14px;font-weight:bold;line-height:42px;color:#7291cf;}
.btn_prodMore a span:after{content:"";position:absolute;width:9px;height:6px;top:50%;right:0;margin-top:-3px;text-align:right;background:url(../images/product/bul_prodMore.png) no-repeat 0 0;background-size:9px 6px;}

.pt_rbtn{position:absolute;top:11px;right:15px;}
.qna_area{background-color:#fff;}
.qna_area ul li{padding:20px 15px;line-height:18px;border-top:1px solid #f1f1f1;}
.qna_area ul li:first-child{padding-top:0;border-top:none;}
.qna_area ul li:first-child .customerInfo{padding-top:20px;border-top:1px solid #f1f1f1;}
.qna_area ul li .customerInfo{color:#aaaaaa;}
.qna_area ul li .question, .qna_area ul li .answer{position:relative;word-break: break-all;margin-top:4px;}
.qna_area ul li .answer{color:#aaaaaa;}
.qna_area ul li .qna_more{color:#7291cf;background-color:#fff}
.qna_area ul li .qtLongTxt, .qna_area ul li .asLongTxt{display:none;}
/* 바로주문레이어 */
.optLayerWrap{position:fixed;width:100%;bottom:0;left:0;z-index:102}
.optLayerWrap .lpay{position:absolute;top:-45px;left:0;width:100%;height:45px;text-align:center;background:rgba(255,255,255,.6);}
.optLayerWrap .lpay img{width:165px;height:45px;}
/* 버튼 영역 */
.optBtnWrap{position:relative;z-index:30;min-height:42px}
.optBtnWrap .optBtn{display:table;table-layout:fixed;width:100%;margin:0 auto}
.optBtnWrap .optBtn li{display:table-cell;vertical-align:top;}
.optBtnWrap .optBtn li.btnIcon{width:47px}
.optBtnWrap .optBtn li a{display:block;height:42px;line-height:42px;text-align:center;font-size:15px;font-weight:bold;color:#fff;border-left:1px solid #fff;background:#4c7bd9;}
.optBtnWrap .optBtn li:first-child a{border-left:none;}
.optBtnWrap .optBtn li.disabled a, .optBtnWrap .optBtn li a.disabled{background-color:#999999 !important;}
.optBtnWrap .optBtn li.btnIcon a{background:#4c7bd9 url(../images/product/btnOrderIcon.png) no-repeat 0 0;background-size:159px 80px;text-indent:-9999px}	
.optBtnWrap .optBtn li.btnIcon a.ic_alarm{background-position:-50px 0;background-color:#999999;}
.optBtnWrap .optBtn li.btnCart{width:111px;}
.optBtnWrap .optBtn li.btnGift{width:82px;}
.optBtnWrap .optBtn li.btnGift a{background:#e68a97;}
.optBtnWrap .optBtn li.btnGift.long{width:auto;}
.optBtnWrap .optBtn li.btnSmart a span{display:inline-block;width:159px;height:42px;margin-right:2px;background:url(../images/product/btnOrderIcon.png) no-repeat 0 -38px;background-size:159px 80px;text-indent:-9999px}
.optBtnWrap .optBtn li.btnSoldout a{background:#999999;}
/* 샤넬 */
.cont_minheight.chanelProductWarp .optBtnWrap .optBtn li a{background-color:#0f0f0f}

/* 바로주문레이어 */
.optLayerWrap .dim{position:fixed;top:0;left:0;background:rgba(0,0,0,.5); z-index:1;width:100%;height:100%}
.optLayerWrap .dim2{width:100%;height:100%;position:relative;z-index:1;bottom:0;font-size:0}
.optLayerWrap .dim2 .bg{width:100%;height:100%;z-index:1;background:rgba(0,0,0,.5);padding-bottom:150%}
.btnOptClose{position:absolute;width:25px; z-index:10; height:25px;bottom:0;right:5px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_white.png) no-repeat 50%;background-size:15px;text-indent:-9999px}
.optLayerWrap .optToggleLayer{display:none;}
.optLayerWrap.on .optToggleLayer{display:block;}
.optLayerWrap .optToggleLayer .optLayer{position:absolute;width:100%;bottom:42px;left:0;border-top:1px solid #d7d7d7;z-index:100}
.optLayerWrap.option .optToggleLayer .optLayer.on{bottom:0;}
.optLayerWrap.option .optBox  {display:none;}						
.optLayerWrap.option .optLayerBox {display:block; position:relative; z-index:50;}
/* 바로주문레이어 옵션 레이어 */
.optLayerWrap .optLayerBox{display:none;padding-bottom:12px;background-color:#fff;}
.optLayerBox .optLayerBoxClose, .optBox .optLayerBoxClose{position:absolute;right:12px;top:0;display:block;padding:0 3px;line-height:44px;}
.optLayerBox .optLayerHeader{padding:0 12px;line-height:44px;}
.optLayerBox .optLayerHeader .optTitle{margin-right:10px;font-size:14px;font-weight:bold;}
.optLayerBox .optLayerHeader .soldOutCk input[type='checkbox'] {width:19px;height: 18px;vertical-align: middle;border: none;background: transparent url(http://image.lotte.com/lotte/mo2017/main/ic_elem_all.png) -250px 0 no-repeat;background-size: 500px auto;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;}
.optLayerBox .optLayerHeader .soldOutCk input[type='checkbox']:checked {background-position: -275px 0;}
.optLayerBox .optLayerHeader .optSearchWrap{position:relative}
.optLayerBox .optLayerHeader .optSearchWrap input[type='search']{width:100%;height:46px;padding-left:10px;border:none;color:#333;font-size:13px;line-height:35px;background-color:#f1f1f1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline-color:transparent;}
.optLayerBox .optLayerHeader .optSearchWrap input[type='search'],
.optLayerBox .optLayerHeader .optSearchWrap input[type='search']::-webkit-search-decoration,
.optLayerBox .optLayerHeader .optSearchWrap input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none !important}
.optLayerBox .optLayerHeader .optSearchWrap .btn_srh{position:absolute;top:0;right:0;width:46px;height:46px;text-indent:-9999px;overflow:hidden;background:#f1f1f1 url(../images/product/ic_elem_prod2.png) no-repeat 0 -25px;background-size:200px 100px;}
.optLayerBox .optPopupWrap{margin-top:12px;max-height:440px;overflow-y:auto;-webkit-overflow-scrolling: touch;}
.optLayerBox .optPopup .optList{display:none;}
.optLayerBox .optPopup .optList ul{border:1px solid #ddd;margin-top:-1px;}
.optLayerBox .optPopup .optList ul li{position:relative;padding:10px;border-top:1px solid #f1f1f1;}
.optLayerBox .optPopup .optList ul li:first-child{border-top:none !important;}
.optLayerBox .optPopup .optList ul li .optItem{display:table;width:100%;box-sizing:border-box}
.optLayerBox .optPopup .optList ul li .thumb{float:left;position:relative;width:42px;height:42px;margin-right:10px;}
.optLayerBox .optPopup .optList ul li .opt{line-height:16px;overflow:hidden;width:100%;height:42px;display:table-cell;vertical-align:middle;}
.optLayerBox .optPopup .optList ul li .opt .title{overflow:hidden;word-break:break-all;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;max-height:32px;}
.optLayerBox .optPopup .optList ul li .opt .title .choice{color:#aaa;}
.optLayerBox .optPopup .optList ul li .opt .state{position:relative;}
.optLayerBox .optPopup .optList ul li .opt .state .restockAlram, .optLayerBox .optPopup .optList ul li .opt .state .delivery{float:left;}
.optLayerBox .optPopup .optList ul li .opt .state .quantityCnt{float:right;margin-top:5px;color:#f27c3d;}
.optLayerBox .optPopup .optList ul li .opt .state .delivery{color:#aaa;margin-top:5px;}
.optLayerBox .optPopup .optList ul li .opt .state .restockAlram a{margin-top:1px;}
.optLayerBox .optPopup .optList ul li .opt .state .restockAlram a{height:25px;display:inline-block;text-align:center;padding:0 7px;font-size:12px;line-height:25px;color:#333;border:1px solid #aaa;background-color:#f1f1f1;border-radius:4px;box-sizing:border-box;}
.optLayerBox .optPopup .optList ul li.soldout{border-top:1px solid #fff;background-color:#f1f1f1;}
.optLayerBox .optPopup .optList ul li.soldout .opt{color:#aaa;}
.optLayerBox .optPopup .optList ul li.soldout .opt .state .quantityCnt{color:#aaa;}
.optLayerBox .optPopup .optList ul li.soldout .thumb:after{content:"품절";position:absolute;top:0;left:0;width:100%;height:100%;display:block;text-align:center;line-height:42px;color:#fff;background:rgba(0,0,0,.5);}

.optLayerBox .optPopup .prdOptList{display:none;}
.optLayerBox .optPopup.on .prdOptList{display:block;}
.optLayerBox .optPopup.on .prdOptList ul{border:1px solid #7291cf;}
.optLayerBox .optPopup .prdOptList ul{border:1px solid #ddd;margin-top:-1px;}
.optLayerBox .optPopup .prdOptList ul li{position:relative;width:100%;padding:15px;border-top:1px solid #f1f1f1;box-sizing:border-box}
.optLayerBox .optPopup .prdOptList ul li:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.optLayerBox .optPopup .prdOptList ul li:first-child{border-top:none;}
.optLayerBox .optPopup .prdOptList ul li .maxOrder{margin-bottom:10px;color:#aaa;}
.optLayerBox .optPopup .prdOptList ul li .optItem{position:relative;}
.optLayerBox .optPopup .prdOptList ul li .thumb{position:absolute;top:0;left:0;width:55px;height:55px;}
.optLayerBox .optPopup .prdOptList ul li .opt{position:relative;height:61px;margin-left:65px;line-height:16px;}
.optLayerBox .optPopup .prdOptList ul li .opt .name{height:32px;overflow:hidden;word-break:break-all;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;max-height:32px;}
.optLayerBox .optPopup .prdOptList ul li .opt .delivery{position:absolute;bottom:0;left:0;}
.optLayerBox .optPopup .prdOptList ul li .opt .price{position:absolute;bottom:0;right:0;font-size:14px;}
.optLayerBox .optPopup .prdOptList ul li .opt .price strong{font-size:18px;}
.optLayerBox .optPopup .prdOptList ul li .opt .restockAlram{position:absolute;bottom:-4px;left:0;height:25px;display:inline-block;text-align:center;padding:0 7px;font-size:12px;line-height:25px;color:#333;border:1px solid #aaa;background-color:#f1f1f1;border-radius:4px;box-sizing:border-box;}
.optLayerBox .optPopup .prdOptList ul li.soldout, .optLayerBox .optPopup .prdOptList ul li.pkgNo{border-top:1px solid #fff;background-color:#f1f1f1;}
.optLayerBox .optPopup .prdOptList ul li.soldout .opt, .optLayerBox .optPopup .prdOptList ul li.pkgNo .opt{color:#aaa;}
.optLayerBox .optPopup .prdOptList ul li.soldout .thumb:after{content:"품절";position:absolute;top:0;left:0;width:100%;height:100%;display:block;text-align:center;line-height:55px;color:#fff;background:rgba(0,0,0,.5);}
.optLayerBox .optPopup .prdOptList ul li.pkgNo .thumb:after{content:"포장불가";position:absolute;top:0;left:0;width:100%;height:100%;display:block;text-align:center;line-height:14x;padding:13px 10px 0;color:#fff;background:rgba(0,0,0,.5);box-sizing:border-box;}

/* 옵션 select박스 */
.optPopup{position:relative;padding:0 12px 12px;}
.optPopup .titWrap{position:relative;padding:10px 0 10px 10px;border:1px solid #ddd;box-sizing:border-box;}
.optPopup .titWrap p{margin-right:45px;line-height:24px;color:#aaa;font-weight:bold;border-right:1px solid #f1f1f1;}
.optPopup .titWrap:after{content: '';position:absolute;top:19px;right:16px;width:0;height:0;border-top-width:7px !important;border-bottom-width:7px !important;border-left-width:6px !important;border-right-width:6px !important;border-top-color: #999999 !important;border-bottom-color: #999999 !important;display: inline-block;margin-left: 7px;border-left: solid transparent;border-right: solid transparent;border-top: solid;}
.optPopup.on .titWrap:after{display:none;}
.optPopup.on .titWrap:before{content: '';position:absolute;top:19px;right:16px;width:0;height:0;border-top-width:7px !important;border-bottom-width:7px !important;border-left-width:6px !important;border-right-width:6px !important;border-top-color: #7291cf !important;border-bottom-color: #7291cf !important;display: inline-block;margin-left: 7px;border-left: solid transparent;border-right: solid transparent;border-bottom: solid;}
.optPopup.active .titWrap:after{border-top-color: #7291cf !important;border-bottom-color: #7291cf !important;}
.optPopup.on .titWrap, .optPopup.on .optList ul, .optBox .optPopup.active .titWrap{border:1px solid #7291cf;}
.optPopup.on .optList{display:block}
.optPopup.on .titWrap p, .optPopup.active .titWrap p{color:#333;}
.optPopup .titWrap p.on{color:#333;}
.optAddInfo{padding:0 12px 12px;}
.optAddInfo .itemOpt{position:relative;margin-top:8px;}
.optAddInfo .itemOpt:first-child{margin-top:0;}
.optAddInfo .optInput{width:100%;height:46px;padding:10px;border:1px solid #f1f1f1;background-color:#f1f1f1;font-size:14px;line-height:33px;-webkit-appearance:none;box-sizing:border-box;}
.optAddInfo .btnCal{position:absolute;width:17px;height:18px;top:50%;right:14px;margin-top:-9px;background:url(http://image.lotte.com/lotte/mo2015/angular/detail/ic_calendar.png) no-repeat 0 0;background-size:17px 18px;text-indent:-9999px}

/* 바로주문레이어 옵션 쌓이는 부분 */
.optBox{position:relative;background-color:#fff;}
.optBox .optBoxHeader{padding:0 12px;height:44px;line-height:44px;color:#aaa;}
.optBox .ordLayerWrap{position:relative;}
.optBox .ordPrdList{padding:0 0 2px 0;/*background-color:#f1f1f1;*/max-height:262px;overflow-y:auto;}
.optBox .ordPrdList ul{}
.optBox .ordPrdList ul li{margin:0 12px 10px;border:1px solid #333;background-color:#fff;}
.optBox .ordPrdList ul li .prdInfo{position:relative;display:table;width:100%;padding:20px 15px 15px;min-height:55px;border-bottom:1px solid #f1f1f1;box-sizing:border-box;}
.optBox .ordPrdList ul li .prdInfo:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.optBox .ordPrdList ul li .prdInfo .thumb{display:table-cell;position:relative;width:55px;height:55px;padding-right:12px}
.optBox .ordPrdList ul li .prdInfo .txt{display:table-cell;}
.optBox .ordPrdList ul li .prdInfo .txt .tit{padding-right:40px;line-height:17px;font-size:14px;word-break:break-all;word-wrap:break-word;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;max-height:34px;}
.optBox .ordPrdList ul li .prdInfo .txt .delivery{margin-top:9px;}
.optBox .ordPrdList ul li .prdInfo .txt .quantityCnt{margin-top:4px;color:#f27c3d}
.optBox .ordPrdList ul li .prdInfo .prdDel{position:absolute;top:0;right:0;width:32px;height:32px;background:#fff url(../images/product/ic_elem_prod2.png) no-repeat -50px -25px;background-size:200px 100px;text-indent:-9999px}
.optBox .ordPrdList ul li .prdQuantity{padding:15px;}
.optBox .ordPrdList ul li .prdQuantity .inner{position:relative;height:35px;}
.optBox .ordPrdList ul li .prdQuantity .inner .price{position:absolute;top:0px;right:0;font-size:14px;line-height:35px;}
.optBox .ordPrdList ul li .prdQuantity .inner .price strong{font-size:18px;font-weight:bold;}
.optBox .ordPrdList ul li .prdQuantity .inner .delivery{position:absolute;bottom:-2px;right:0;color:#aaa;}

/* quantity */
.quantityWarp{position:relative;display:inline-block;padding:0 33px;border:1px solid #ddd;border-radius:4px;background:#fff;text-align:center;overflow:hidden}
.quantityWarp button{position:absolute;width:33px;height:33px;top:0;border:none;background:#f3f3f3;font-size:16px;color:#888}
.quantityWarp .btnMinus{left:0;border-radius:2px 0 0 2px}
.quantityWarp .btnPlus{right:0;border-radius:0 2px 2px 0}
.quantityWarp input{width:60px;border:1px solid #ddd;border-width:0 1px;font-size:14px;line-height:33px;text-align:center;-webkit-appearance:none}
.quantityWarp input::-webkit-inner-spin-button,
.quantityWarp input::-webkit-outer-spin-button{-webkit-appearance:none;}

.deliSelectWarp{width:100%;text-align:center;padding:15px 0;overflow:hidden;background:#f1f1f1}
.deliSelectWarp li{display:inline-block;position:relative;margin-left:25px;font-size:13px;}
.deliSelectWarp li .smpDiscount{position:absolute;width:100%;bottom:-10px;display:block;color:#719cff}
.deliSelectWarp li:first-child{background:none;margin-left:0;}
.deliSelectWarp li a{display:block;line-height:20px;letter-spacing:-0.7px}
.deliSelectWarp li.on a{color:#3874ec}
.deliSelectWarp li a .icon{display:inline-block;width:23px;height:20px;margin-right:4px;background:url(http://image.lotte.com/lotte/mo2015/angular/detail/ic_deliSmart.png) no-repeat 0 0;background-size:23px;vertical-align:top}
.deliSelectWarp li.btnSmartpick a .icon{background-position:0 -20px}
.deliSelectWarp li.on a .icon{background-position:0 -40px}
.deliSelectWarp li.btnSmartpick.on a .icon{background-position:0 -60px}

/* dtPicker */ 
#dtPicker {width:100%;border-top:1px solid #ddd; left:0;bottom:0;z-index:5000; height:357px/*460px*/; position:fixed; background:#fff;}
#dtPicker.isApp {padding-bottom:51px;}
#dtPicker .close {position:absolute;top:0;right:0;display:block;line-height:50px;padding:0 15px;}
#dtPicker .box{border:1px solid #999;background:#fff}
#dtPicker .head{position:relative;width:47%;height:50px;margin:0 auto;text-align:center;font-weight:bold;font-size:21px;line-height:50px}
#dtPicker .head span{position:absolute;width:30px;height:30px;top:50%;margin-top:-15px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/arr_calendar.png) no-repeat 0 0;background-size:9px;text-indent:-9999px}
#dtPicker .head span.prev {left:0;}
#dtPicker .head span.next {right:0;background-position:100% 100%}
#dtPicker .head h5 {text-align:center;font-weight:normal;}
#dtPicker .calendar {width:100%; margin:0 auto; height:280px; clear:both;}
#dtPicker .calendar div.week {background:#f1f1f1; height:32px; line-height:32px; font-size:12px;color:#aaa;}
#dtPicker .calendar div {width:14.28%; float:left; height:45px; line-height:45px; text-align:center;}
#dtPicker .calendar div span {display:block; width:45px; height:45px; line-height:45px; margin:0 auto; border-radius:100%;}
#dtPicker .calendar div span strong{font-weight:normal;font-size:16px;}
#dtPicker .calendar div span.today strong{font-weight:bold;}
#dtPicker .calendar div span.today {background-color:#85A8F2; color:#fff;}
#dtPicker .calendar div span.off {color:#ddd;}
#dtPicker .calendar div span.on {background-color:#333; color:#fff;}
/*결함처리*/
#dtPicker .calendar div span.past {background-color:#fff;color:#ccc;}

.header_alert_pop{display:none !important;}
