@charset="utf-8";

#container a{cursor:pointer;}
.formwrap{position:relative;}
.formwrap select{display:inline-block;width:100%;height:30px;line-height:normal;margin:0;font-size:13px;color:#333;padding:0 28px 0 10px;border:solid 1px #ccc;
	outline:none;-webkit-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;
	background-image:-webkit-linear-gradient(#fff, #fff);background-image:linear-gradient(#fff, #fff);background-color:#fff;}
.formwrap select[disabled]{background-color:#eee;color:#bcbcbc}
.formwrap.select:after{content:"";position:absolute;top:12px;right:8px;width:12px;height:7px;display:inline-block;pointer-events:none;
	background-image:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png);background-position:-2px -77px;background-size:155px 202px;}
.formwrap input{width:100%;margin-bottom:0;border:1px solid #ccc;border-radius:2px;vertical-align:middle;padding:0 10px;height:30px;line-height:normal;
	background-image:none;box-sizing:border-box;font-size:13px;text-align:left;-webkit-appearance:none;
	font-family: '나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#333}
.formwrap input:disabled{border:1px solid #ccc !important;background:#fff !important;}


.present_check{padding:20px 10px;min-height:550px;background-color:#fff;}
.present_check .notice li{color:#888;font-size:13px;margin-top:8px;padding-left:7px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/order/bul_list.gif) no-repeat 0 10px;background-size:3px 3px;}
.present_check .notice li:first-child{margin-top:0;}

.present_check .forms{margin-top:14px;}
.present_check .phone > div{display:block;position:relative;width:34%;height:40px;padding-left:8px;float:left;box-sizing:border-box;}
.present_check .phone > div:first-child{width:32%;padding-left:0;}
.present_check .phone:after{content:"";display:block;height:0;clear:both;}
.present_check .password input{text-align:center;}
.present_check .button{text-align:center;margin-top:15px;}
.present_check .button button{display:inline-block;width:123px;height:40px;border:none;border-radius:20px;background-color:#719cff;font-size:14px;color:#fff;}
/*
.present_check .forms select{display:inline-block;width:100%;height:30px;line-height:normal;margin:0;font-size:13px;color:#333;padding:0 28px 0 10px;border:solid 1px #ccc;
	outline:none;-webkit-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;
	background-image:-webkit-linear-gradient(#fff, #fff);background-image:linear-gradient(#fff, #fff);background-color:#fff;}
.present_check .forms select[disabled]{background-color:#eee;color:#bcbcbc}
.present_check .forms .phone > div{display:block;position:relative;width:34%;height:40px;padding-left:8px;float:left;box-sizing:border-box;}
.present_check .forms .phone > div:first-child{width:32%;padding-left:0;}
.present_check .forms .img_box{right:0;top:0;position:absolute;pointer-events:none;}
.present_check .forms .img_box:before{content:"";position:absolute;top:12px;right:8px;width:12px;height:7px;display:inline-block;
	background-image:url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png);background-position:-2px -77px;background-size:155px 202px;}
.present_check .forms .phone:after{content:"";display:block;height:0;clear:both;}
.present_check .forms input.txt01{width:100%;margin-bottom:0;border:1px solid #ccc;border-radius:2px;vertical-align:middle;padding:0 10px;height:30px;line-height:normal;
	background-image:none;box-sizing:border-box;font-size:13px;text-align:left;-webkit-appearance:none;
	font-family: '나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#333}
.present_check .forms input.txt01:disabled{border:1px solid #ccc !important;background:#fff !important;}
.present_check .forms .password input.txt01[type=number]{text-align:center;}
.present_check .forms .button{text-align:center;margin-top:15px;}
.present_check .forms .button button{display:inline-block;width:123px;height:40px;border:none;border-radius:20px;background-color:#719cff;font-size:14px;color:#fff;}
*/


.present_list .main_tab{height:39px;border-bottom:1px solid #d0d0d0;padding:0 10px;}
.present_list .main_tab a{display:block;width:50%;height:40px;line-height:40px;text-align:center;font-size:14px;color:#666;float:left;position:relative;}
.present_list .main_tab a.on{color:#3874ec}
.present_list .main_tab a.on:after{content:"";position:absolute;left:0;bottom:0;right:0;height:1px;background-color:#3874ec;}

.present_list .list_wrap{}
.present_list .list_wrap .list_count{height:45px;line-height:45px;color:#333;font-size:13px;margin:0 10px;}
.present_list .list_wrap .list_count em{color:#719cff;}
.present_list .list_wrap .list_count a{display:inline-block;width:24%;text-align:center}
.present_list .list_wrap .list_count a.on{color:#3874ec;font-weight:bold}
.present_list .list_wrap .list_count.sort{border-bottom:1px solid #dcdcdc;margin:0}
.present_list .list_wrap li{padding:10px;background-color:#fff;}
.present_list .list_wrap li ~ li{margin-top:8px;}
.present_list .list_wrap .order_no{height:22px;line-height:22px;font-family:Verdana;font-size:14px;letter-spacing:-1px;}
.present_list .list_wrap .order_no a:after{content:"";display:inline-block;width:7px;height:11px;vertical-align:middle;margin-left:4px;
	background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/present_list.png) no-repeat -13px 0;background-size:100px auto;}
.present_list .list_wrap .list_item{border:1px solid #eee;box-sizing:border-box;padding:0 10px;}
.present_list .list_wrap .item_head{padding:12px 0;padding-left:60px;position:relative;font-size:13px;color:#666;}
.present_list .list_wrap .item_head .deli_stat{font-weight:bold;color:#719cff;margin-right:4px;position:absolute;top:12px;left:0;}
.present_list .list_wrap .item_head .deli_no{font-family:Verdana;margin-left:4px;}
.present_list .list_wrap .item_head a{display:block;position:absolute;top:7px;right:0;height:26px;line-height:26px;padding:0 6px;background-color:#719cff;border-radius:3px;
	font-size:12px;color:#fff;letter-spacing:-1px;}
.present_list .list_wrap .item_body{padding:20px 0;position:relative;cursor:pointer;}
.present_list .list_wrap .item_head ~ .item_body{border-top:1px solid #e4e4e4;}
.present_list .list_wrap .item_body .img{position:absolute;left:0;top:20px;width:87px;}
.present_list .list_wrap .item_body .img img{width:100%;}
.present_list .list_wrap .item_body .txt{padding-left:102px;font-size:13px;min-height:87px;}
.present_list .list_wrap .item_body .sender{color:#333;padding-left:17px;position:relative;}
.present_list .list_wrap .item_body .sender:before{content:"From.";margin-right:4px;}
.present_list .list_wrap .item_body .sender:after{content:"";display:block;width:13px;height:13px;position:absolute;left:0;top:50%;transform:translate(0, -6px);-webkit-transform:translate(0, -6px);
	background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/present_list.png) no-repeat 0 0;background-size:100px auto;}
.present_list .list_wrap .item_body .flags{margin-top:5px;}
.present_list .list_wrap .item_body .prd_name{color:#2c2c2c;}
.present_list .list_wrap .item_body .prd_name span{margin-right:4px;}
.present_list .list_wrap .item_body .prd_opt{font-size:11px;color:#ff7b62;margin-top:6px;}
.present_list .list_wrap .item_body .prd_opt span ~ span:before{content:", ";}
.present_list .list_wrap .item_body .prd_cancel{font-size:11px;color:#ff7b62;margin-top:4px;}
.present_list .list_wrap .item_body .prd_cancel:before{content:"*";display:inline-block;margin-right:2px;-webkit-transform:translate(0, 2px);transform:translate(0, 2px);}
.present_list .list_wrap .item_body .price{font-size:12px;margin-top:4px;}
.present_list .list_wrap .item_body .price em{font-weight:bold;color:#3874ec;}
.present_list .list_wrap .item_foot{height:50px;padding-top:10px;text-align:right;box-sizing:border-box;border-top:1px solid #e4e4e4;}
.present_list .list_wrap .item_foot a{display:inline-block;height:30px;line-height:30px;width:90px;text-align:center;font-size:12px;letter-spacing:-1px;border-radius:3px;box-sizing:border-box;}
.present_list .list_wrap .item_foot a.comment{background-color:#c398f0;color:#fff;}
.present_list .list_wrap .item_foot a.coupon{background-color:#ebebeb;color:#666;border:1px solid #e1e1e1;}
.present_list .list_wrap .search_gift{display:block;margin:10px;height:40px;line-height:40px;text-align:center;font-size:15px;font-weight:bold;color:#fff;background-color:#719bff;border-radius:3px;}

.present_list .list_wrap.send_list .item_body .sender:before{content:"To.";}
.present_list .list_wrap .nosendgift{text-align:center;}
.present_list .list_wrap .nosendgift .txt1{font-size:20px;padding-top:105px;letter-spacing:-1px;position:relative;}
.present_list .list_wrap .nosendgift .txt1 em{color:#3874ec;}
.present_list .list_wrap .nosendgift .txt1:before{content:"";display:block;width:36px;height:52px;position:absolute;top:35px;left:50%;transform:translate(-18px, 0);-webkit-transform:translate(-18px, 0);
	background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/present_list.png) no-repeat -64px 0;background-size:100px auto;}
.present_list .list_wrap .nosendgift .txt2{font-size:12px;color:#888;margin-top:10px;}
.present_list .list_wrap .nosendgift .shoplink{display:inline-block;margin-top:30px;width:125px;height:40px;line-height:40px;border-radius:20px;background-color:#719cff;font-size:14px;color:#fff;letter-spacing:-1px;}


.flag.depart{display:inline-block;padding:0 4px;height:19px;background-color:#77675d;border-color:#77675d !important;color:#fff;font-size:10px;line-height:19px;text-align:center;margin-bottom:3px;}
.flag.etv{display:inline-block;padding:0 4px;height:19px;background-color:#e00001;color:#fff;font-size:10px;line-height:19px;text-align:center;}
.flag.smart{display:inline-block;width:22px;height:19px;font-size:0;vertical-align:middle;margin-bottom:3px;
	background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat -46px -39px;background-size:75px 90px;}


.ajax_loading{overflow:hidden;position:fixed;top:0;left:0;width:100%;height:100%;text-indent:100%;white-space:nowrap;background-color:rgba(255,255,255,0.01);z-index:1000;
	-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}

/* 2016.10.24 팝업 css*/
.commonPop .box .popBox h2 {padding:12px 0;border:0;background:#f6f6f6;text-align:center;font-size:17px;color:#333;border-radius:15px 15px 0 0;font-weight:normal;}
.commonPop .box .popBox>a {position:absolute;top:16px;right:13px;}
.commonPop .box .popBox>a .foot {width:12px;height:12px;background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) -75px -75px no-repeat;background-size:300px;text-indent:-9999px;}

.commonPop.rejectionPop {width: 100%;height: 100%;position: fixed;top: 0;z-index: 1000;}
.commonPop.rejectionPop .bg {width: 100%;height: 100%;background: #000;opacity: .6}
.commonPop.rejectionPop .box {width: 100%;position: absolute;top: 26%;margin: 0;height:auto}
.commonPop.rejectionPop .box .popBox {width: 288px;background: #fff;margin: 0 auto;border-radius: 10px;overflow: hidden;position:relative}
.commonPop.rejectionPop .box .popBox .cont {padding: 25px 16px 22px;text-align: center;}
.commonPop.rejectionPop .box .popBox .cont p {font-size:14px;letter-spacing:-0.4px ;color:#333333}
.commonPop.rejectionPop .box .popBox .foot {width: 28%;height: 30px;text-align: center;line-height:30px;font-size: 12px;margin:0 auto;border-radius: 25px ;border:1px solid #719cff;margin-bottom: 5.2%;}
.commonPop.rejectionPop .box .popBox .foot a{color: #467eff;display:block;height:100%}

.commonPop.send_notification {width: 100%;height: 100%;position: fixed;top: 0;z-index:1000}
.commonPop.send_notification .bg {width: 100%;height: 100%;background: #000;opacity: .6}
.commonPop.send_notification .box {width: 100%;position: absolute;top: 26%;margin: 0;height:auto}
.commonPop.send_notification .box .popBox {width: 288px;background: #fff;margin: 0 auto;border-radius: 10px;overflow: hidden;position:relative}
.commonPop.send_notification .box .popBox .cont {padding: 25px 18px 18px;text-align: center;}
.commonPop.send_notification .box .popBox .cont p { font-size: 14px;letter-spacing: -0.4px;color: #333333;padding-bottom: 22px;border-bottom: 1px solid #dddddd;}
.commonPop.send_notification .box .popBox .cont ul{padding-top:18px;font-size:12px;letter-spacing:-0.7px;text-align:left}
.commonPop.send_notification .box .popBox .cont ul li{padding-left:6px; background:url(http://image.lotte.com/lotte/mobile/mobile_new/order/bul_list.gif) no-repeat 0 7px;background-size: 3px 3px}
.commonPop.send_notification .box .popBox .foot {font-size: 14px;margin:0 auto;;text-align:center;}
.commonPop.send_notification .box .popBox .foot ul li{width: 28%;height: 30px;line-height: 28px;margin-bottom: 5.2%;border-radius: 25px ;border:1px solid #719cff;display: inline-block}
.commonPop.send_notification .box .popBox .foot a{color: #467eff;display:block;height:100%}
.commonPop.send_notification .box .popBox .foot ul li:last-child{background:#719cff;color:#ffffff }
.commonPop.send_notification .box .popBox .foot ul li:last-child a{color:#ffffff }
.commonPop .box .btnClose{position:absolute;top:0;right:0;width:15px;height:15px;background:#000;background:url(http://image.lotte.com/lotte/mobile/mobile_new/order/reject_popBtn.png) no-repeat;background-size:15px 15px;text-indent:-9999px;font-size:0}
.present_list .list_wrap .item_head a.refuse{border:1px solid #ddd;border-radius:0;background:#fff;color:#888}
/*반품교환 프로세스*/
.present_list .list_wrap .item_foot a.gray{background-color:#ebebeb;color:#666;border:1px solid #e1e1e1}
.present_list .list_wrap .item_foot a.gray.on{color:#4b7fed;background:#fff}
.change_order_box{background:#f7f7f7;color:#999;padding:20px 8px 13px 18px;border:1px solid #e4e4e4;border-top:0}
.change_order_box .mtable{display:table;width:100%}
.change_order_box .mg6{margin-top:6px}
.change_order_box .mtable .mcell{display:table-cell;height:28px;vertical-align:middle;position:relative}
.change_order_box .mtable .mcell.left{width:76px;font-size:12px}
.change_order_box .info_title{font-size:11px;margin-top:12px}
.change_order_box .info_title img{width:12px}
.change_order_box .info_list li{font-size:11px;padding:7px 10px 0px 13px;line-height:15px;background:none;position:relative}
.present_list .list_wrap .change_order_box li{margin:0}
.change_order_box .info_msg{font-size:12px;color:#333;padding-bottom:4px}
.change_order_box .btn_group{text-align:center;margin-top:14px}
.change_order_box .btn_group a{width:82px; height:30px; display:inline-block;font-size:12px;text-align:center;line-height:30px;border:1px solid #719cff;color:#719cff;border-radius:15px}
.change_order_box .btn_group a.ok_btn{background:#719cff;color:#fff;margin-left:4px}
.change_order_box select {display:inline-block;width:100%; height:30px; line-height:normal; margin:0;font-size: 13px; color:#333;padding:0 28px 0 10px;border:solid 1px #ccc;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;box-sizing:border-box; -webkit-box-sizing:border-box; background-image: -webkit-linear-gradient(#fff, #fff); background-image: linear-gradient(#fff, #fff); background:#fff}
.change_order_box .sarow:before{content:"";background-image: url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png); background-position: -2px -77px;background-size: 155px 202px;width: 12px;height: 7px;position: absolute;top: 13px;right: 8px; display: inline-block}
.change_order_box .info_list li:before{background:#939393;width:2px;height:2px;display:block;content:"";position:absolute;top:12px;left:6px}
.present_list .list_wrap .item_head{padding-left:80px}
.present_list .list_wrap .item_head.rbtn{padding-right: 65px;word-break: break-all;}