@charset "UTF-8";
/*20171117 약관동의 수정*/
.assent_all_wrap .nth1{padding:0 10px; margin-bottom:7px !important;}
.assent_all_wrap .nth_wrap.nth_wrap_top{margin-bottom:14px;font-size:13px;}
.assent_all_wrap .nth_wrap.nth_wrap_btm p{margin-bottom: 13px;font-size:13px;}
.assent_all_wrap .nth2{padding:0px 5px 0px 35px;color:#888;}
.assent_all_wrap .nth_wrap.nth_wrap_btm p.last_list{margin-bottom:0px;}
.assent_all_wrap .nth2.nth_spacing{letter-spacing: -0.145em;}
.assent_all_wrap .nth2 a{display:inline-block; font-size:12px; height:auto;text-indent: 0; width:auto;position: unset; line-height:17px;color:#ccc; padding:0px 4px 0px 1px; border:1px solid #ccc;letter-spacing: -0.145em;margin-left:5px;}
.check_layer02 .check {letter-spacing:-1px}

/*20171117 약관동의 팝업 CSS*/
.assent_pop_wrap{position:fixed; width:300px; height:300px;top:50%; left:50%;z-index:9999;background-color:#fff;margin:-145px 0 0 -150px;overflow:hidden;border-radius:10px;}
.assent_pop_wrap > h3{font-size:16px; font-weight:bold;color:#666; text-align:center; height:51px; line-height:51px; background-color:#f6f6f6;}
.assent_pop_wrap > ul {padding:15px 16px 5px;height:50px;}
.assent_pop_wrap > ul:after{clear:both;content:"";display:block;}
.assent_pop_wrap > ul li{float:left;position:relative;}
.assent_pop_wrap > ul li span{display:block; width:88px; height:40px;color:#888; font-size:12px;letter-spacing:-2px; padding-top:6px;border:1px solid #e0e0e0;border-left:0px;letter-spacing:-1px;text-align:center;}
.assent_pop_wrap > ul li span.tab_first{border-left:1px solid #e0e0e0;}
.assent_pop_wrap #clauseHolder{width:268px;height:138px;overflow:hidden; overflow-y:scroll;overflow-x:scroll;margin:0 auto;}
.assent_pop_close{display:block;border-top:1px solid #e6e6e6; height:39px; text-align:center; font-weight:bold; color:#333;background-color:#fff;line-height: 39px;}
.assent_pop_wrap ul li.on span{background-color:#e0e0e0;}

#popup_result .check_layer .check{position:relative;}
#popup_result .check_layer .check input[type=checkbox]{position:relative;}
#popup_result .check_layer label, #popup_result .check_layer .check input[type=checkbox]{z-index:2;}
#popup_result .check_layer #order_confirm_div{border-top:1px solid #e6e6e6; padding:12px 0 12px;}
#popup_result .check_layer .check span{width:100%; display:block; z-index:1; height:30px; position:absolute; lefT:0; top:0; height:100%; text-indent:-5000px; font-size:0; line-height:0; overflow:hidden}
#popup_result .check_layer .check span:after {content:'';display:block; position:absolute; top:0; right:0; padding:4px 3px; width:11px; height:11px; background:url(http://image.lotte.com/ellotte/mo2015/angular/order/input_order.png) no-repeat 0 -70px;background-size:155px 202px;}

/* 안내문구 내용 정리*/
.assent_pop_wrap #clauseHolder{font-size:12px;}
.assent_pop_wrap #clauseHolder p{margin-bottom:10px;}
.assent_pop_wrap #clauseHolder h4{font-size:13px;margin-bottom:5px;}
.assent_pop_wrap #clauseHolder h5{font-size:12px;margin:10px 0 5px;}
.assent_pop_wrap #clauseHolder h6{font-size:12px; font-weight:normal;}
.assent_pop_wrap #clauseHolder div{margin:10px 0 5px;}
.assent_pop_wrap #clauseHolder div ul li{margin-bottom:5px;}
.assent_pop_wrap #clauseHolder div ul li b{color:red;}
.assent_pop_wrap #clauseHolder div > ul , .assent_pop_wrap #clauseHolder section > ul{margin-top:5px;}
/* // 20171117 약관동의 팝업 CSS*/