@charset "UTF-8";
.coupon_layer_s {
position: fixed;
top: -1000px;
left: 10%;
right: 10%;
min-width: 270px;
z-index: 1000000;
border: solid 2px #323b4a;
margin: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.coupon_layer_s .check {
  height: 45px;
  padding-left: 14px;
  overflow: hidden;
  background: #323b4a;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .today {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  padding-top: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .today input[type="checkbox"] {
  cursor: pointer;
  border: solid 2px #191e26;
  background: #2b3341;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  margin-right: 2px;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .today label {
  display: inline-block;
  padding-top: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .close {
  float: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .close a {
  color: #fff;
  display: inline-block;
  padding: 13px 14px;
  height: 46px;
  font-size: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coupon_layer_s .check .close a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 14px;
  background: url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat -37px -220px;
  background-size: 125px 300px;
}

.app_down {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.app_down .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .6;
}
.app_down .btn_wrap {
  position: absolute;
  left: 0;
  top: 65%;
  z-index: 2;
  text-align: center;
  width: 100%;
}
.app_down .appdown {
  width: 96%;
  margin-bottom: 5px;
}
.app_down .layerclose {
  /* width: 76px; */
  width: 23%;
}