<section class="blankCd{{moduleData.blankCd}}">
	<div class="moduleCon">
		<div class="pinterest_list">
			<ul class="pl">
				<li class="long_prd">
					<a ng-click="logGAEvtModuleEach('01', moduleData.prdList.items[0].goodsNo);mainProductClick(moduleData.prdList.items[0].goodsNo, moduleData.tclick + '_Clk_Prd01')">
						<div class="thumb" ng-style="{'background-image':'url({{moduleData.prdList.items[0].imgUrl}})' }"></div>
						<div class="info">
							<p class="tit oneline">{{moduleData.prdList.items[0].goodsNm}}</p>
							<p class="price"><span>{{moduleData.prdList.items[0].price | number}}</span>원<em ng-if="moduleData.prdList.items[0].isPlanPrd">~</em></p>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="logGAEvtModuleEach('03', moduleData.prdList.items[2].goodsNo);mainProductClick(moduleData.prdList.items[2].goodsNo, moduleData.tclick + '_Clk_Prd03')">
						<div class="thumb" ng-style="{'background-image':'url({{moduleData.prdList.items[2].imgUrl}})' }"></div>
						<div class="info">
							<p class="tit oneline">{{moduleData.prdList.items[2].goodsNm}}</p>
							<p class="price"><span>{{moduleData.prdList.items[2].price | number}}</span>원<em ng-if="moduleData.prdList.items[2].isPlanPrd">~</em></p>
						</div>
					</a>
				</li>
			</ul>
			<ul class="pr">
				<li>
					<a ng-click="logGAEvtModuleEach('02', moduleData.prdList.items[1].goodsNo);mainProductClick(moduleData.prdList.items[1].goodsNo, moduleData.tclick + '_Clk_Prd02')">
						<div class="thumb" ng-style="{'background-image':'url({{moduleData.prdList.items[1].imgUrl}})' }"></div>
						<div class="info">
							<p class="tit oneline">{{moduleData.prdList.items[1].goodsNm}}</p>
							<p class="price"><span>{{moduleData.prdList.items[1].price | number}}</span>원<em ng-if="moduleData.prdList.items[1].isPlanPrd">~</em></p>
						</div>
					</a>
				</li>
				<li class="long_prd">
					<a ng-click="logGAEvtModuleEach('04', moduleData.prdList.items[3].goodsNo);mainProductClick(moduleData.prdList.items[3].goodsNo, moduleData.tclick + '_Clk_Prd04')">
						<div class="thumb" ng-style="{'background-image':'url({{moduleData.prdList.items[3].imgUrl}})' }"></div>
						<div class="info">
							<p class="tit oneline">{{moduleData.prdList.items[3].goodsNm}}</p>
							<p class="price"><span>{{moduleData.prdList.items[3].price | number}}</span>원<em ng-if="moduleData.prdList.items[3].isPlanPrd">~</em></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>