<section class="surprise_wrap blankCd{{moduleData.blankCd}}">
	<!--M2037	프로모션배너 서프라이즈형-->
	<div class="moduleCon n201811" ng-if="moduleData.items.length == 5">
		<div class="prd_unit_type02_main">
			<a ng-click="logGAEvtModuleEach('01', moduleData.items[0].topTxt + ' ' + moduleData.items[0].btmTxt);mainBannerClick(moduleData.items[0].linkUrl, moduleData.items[0].isOutLink, moduleData.tclick + '_Clk_Ban01')">
				<div class="thumb">
					<img ng-src="{{moduleData.items[0].imgUrl}}" alt="">
				</div>
				<div class="info2">
					<span class="title_a">{{moduleData.items[0].topTxt}}</span>
					<span class="title_b">{{moduleData.items[0].btmTxt}}</span>
				</div>
			</a>
		</div> 
		<div class="unit_box">
		    <div class="unit_table">
		        <div class="unit_cell a">
					<a ng-click="logGAEvtModuleEach('02', moduleData.items[1].topTxt + ' ' + moduleData.items[1].btmTxt);mainBannerClick(moduleData.items[1].linkUrl, moduleData.items[1].isOutLink, moduleData.tclick + '_Clk_Ban02')">
						<div class="thumb">
						    <img ng-src="{{moduleData.items[1].imgUrl}}">
						</div>
						<div class="info3">
                            <span class="title_a">{{moduleData.items[1].topTxt}}</span>
                            <span class="title_b">{{moduleData.items[1].btmTxt}}</span>
						</div>
					</a>		            
		        </div>
		        <div class="unit_cell b">
					<a ng-click="logGAEvtModuleEach('03', moduleData.items[2].topTxt + ' ' + moduleData.items[2].btmTxt);mainBannerClick(moduleData.items[2].linkUrl, moduleData.items[2].isOutLink, moduleData.tclick + '_Clk_Ban03')">
						<div class="thumb">
						    <img ng-src="{{moduleData.items[2].imgUrl}}">
						</div>
						<div class="info3">
                            <span class="title_a">{{moduleData.items[2].topTxt}}</span>
                            <span class="title_b">{{moduleData.items[2].btmTxt}}</span>
						</div>
					</a>
		        </div>
		    </div>
		    <div class="unit_table sec">
		        <div class="unit_cell a">
					<a ng-click="logGAEvtModuleEach('04', moduleData.items[3].topTxt + ' ' + moduleData.items[3].btmTxt);mainBannerClick(moduleData.items[3].linkUrl, moduleData.items[3].isOutLink, moduleData.tclick + '_Clk_Ban04')">
						<div class="thumb">
						    <img ng-src="{{moduleData.items[3].imgUrl}}">
						</div>
						<div class="info3">
                            <span class="title_a">{{moduleData.items[3].topTxt}}</span>
                            <span class="title_b">{{moduleData.items[3].btmTxt}}</span>
						</div>
					</a>		            
		        </div>
		        <div class="unit_cell b">
					<a ng-click="logGAEvtModuleEach('05', moduleData.items[4].topTxt + ' ' + moduleData.items[4].btmTxt);mainBannerClick(moduleData.items[4].linkUrl, moduleData.items[4].isOutLink, moduleData.tclick + '_Clk_Ban05')">
						<div class="thumb">
						    <img ng-src="{{moduleData.items[4].imgUrl}}">
						</div>
						<div class="info3">
                            <span class="title_a">{{moduleData.items[4].topTxt}}</span>
                            <span class="title_b">{{moduleData.items[4].btmTxt}}</span>
						</div>
					</a>
		        </div>
		    </div>		
		</div>
	</div>
</section>