<section class="blankCd{{moduleData.blankCd}}">
	<!--M43	최근 본 상품 갤러리형-->
	<div class="moduleCon" ng-if="prdData.prdList.items.length >= 6">
		<div class="gTop_title">
			<b><p><em ng-if="loginInfo.isLogin"><strong>{{loginInfo.name}}님</strong>이</em> {{prdData.txt}}</p></b>
		</div>
		<div class="glr_list">
			<ul>
				<li>
					<a ng-click="logGAEvtModuleEach('01', prdData.prdList.items[0].goodsNo);mainProductClick(prdData.prdList.items[0].goodsNo, moduleData.tclick + '_Clk_Prd01')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[0].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[0].price | number}}</span>원<em ng-if="prdData.prdList.items[0].isPlanPrd">~</em></p>
					</a>
				</li>
				<li>
					<a ng-click="logGAEvtModuleEach('02', prdData.prdList.items[1].goodsNo);mainProductClick(prdData.prdList.items[1].goodsNo, moduleData.tclick + '_Clk_Prd02')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[1].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[1].price | number}}</span>원<em ng-if="prdData.prdList.items[1].isPlanPrd">~</em></p>
					</a>
				</li>
				<li>
					<a ng-click="logGAEvtModuleEach('03', prdData.prdList.items[2].goodsNo);mainProductClick(prdData.prdList.items[2].goodsNo, moduleData.tclick + '_Clk_Prd03')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[2].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[2].price | number}}</span>원<em ng-if="prdData.prdList.items[2].isPlanPrd">~</em></p>
					</a>
				</li>
				<li class="clear"></li>
				<li>
					<a ng-click="logGAEvtModuleEach('04', prdData.prdList.items[3].goodsNo);mainProductClick(prdData.prdList.items[3].goodsNo, moduleData.tclick + '_Clk_Prd04')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[3].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[3].price | number}}</span>원<em ng-if="prdData.prdList.items[3].isPlanPrd">~</em></p>
					</a>
				</li>
				<li>
					<a ng-click="logGAEvtModuleEach('05', prdData.prdList.items[4].goodsNo);mainProductClick(prdData.prdList.items[4].goodsNo, moduleData.tclick + '_Clk_Prd05')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[4].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[4].price | number}}</span>원<em ng-if="prdData.prdList.items[4].isPlanPrd">~</em></p>
					</a>
				</li>
				<li>
					<a ng-click="logGAEvtModuleEach('06', prdData.prdList.items[5].goodsNo);mainProductClick(prdData.prdList.items[5].goodsNo, moduleData.tclick + '_Clk_Prd06')">
						<div class="thumb">
						<img ng-src="{{prdData.prdList.items[5].imgUrl}}" alt="" />
						</div>
						<p class="info"><span>{{prdData.prdList.items[5].price | number}}</span>원<em ng-if="prdData.prdList.items[5].isPlanPrd">~</em></p>
					</a>
				</li>
			</ul>
		</div>
		<div class="btnMore">
			<span class="btnArea"><a ng-click="logGAEvtModuleEach('더보기', '더보기');moreClick(prdData.moreLinkUrl, moduleData.tclick + '_Clk_more')"><span>더보기</span></a></span>
		</div>
	</div>
</section>