<section class="blankCd{{moduleData.blankCd}}">
	<div class="moduleCon n201811 btcolor">
	<!--M2083 프로모션배너 C형..-->
		<div class="unit unit_bn_promo typeC store1">
			<ul class="fclear">
				<li class="shop2" ng-click="logGAEvtModuleEach(moduleData);mainBannerClick(moduleData.linkUrl, moduleData.isOutLink,'')" ng-if="moduleData.linkUrl">
					<p class="imgwrap cover_img"><img ng-src="{{moduleData.imgUrl}}"></p>
				</li>
				<li class="shop2" ng-if="!moduleData.linkUrl">
					<p class="imgwrap cover_img"><img ng-src="{{moduleData.imgUrl}}"></p>
				</li>
			</ul>
		</div>
	</div>
</section>