<section class="blankCd{{moduleData.blankCd}}">
	<!--M2081 인기카테고리..-->
	<div class="moduleCon" ng-if="moduleData.items.length > 4" ng-class="{n201811:moduleData.items.length == 7}">
		<div class="unit unit_cate_pop">
			<ul class="fclear">
				<li ng-repeat="item in moduleData.items | limitTo: 7" ng-class="{p12:$index > 3}">
					<a ng-click="logGAEvtModuleEach($index + 1, item.txt);categoryClick(item.linkUrl, '')">
						<p class="imgwrap"><img ng-src="{{item.imgUrl}}"></p>
						<p class="ttl">{{item.txt | cutStrLen : 6}}</p>
					</a>
				</li>
				<li ng-class="{p12:moduleData.items.length == 7}">
					<a ng-click="logGAEvtModuleEach(8, '전체보기');showSideCtgHeader(moduleData.tclick+'_Clk_Btn06')">
						<p class="more"></p>
						<p class="ttl">전체보기</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>