@charset="utf-8";

/*배송정보입력*/
.gtable{display:table;width:100%}
.gcell{display:table-cell}
input.check01[type="checkbox"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/input.png) no-repeat 0 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none}
input.check01[type="checkbox"]:checked {background-position:-25px 0}
input.check01[type="checkbox"]:disabled {background-position:-55px -25px}
div.tar_name,
select.gift{width:100%;height:30px;border-radius:3px;border:1px solid #ccc;padding:0 9px;box-sizing: border-box;-webkit-appearance: none;
                                        background:url(http://image.lotte.com/lotte/mo2015/angular/detail/cross_select.png) no-repeat right;background-size:25px 28px}    
.myAddrTab .gcell{text-align: center;width:50%;font-size:15px;background:#f3f3f3;border-bottom:1px solid #dfdfdf;height:36px;line-height:35px;box-sizing: border-box;-webkit-box-sizing: border-box}
.myAddrTab .gcell:first-child{border-right:1px solid #dfdfdf}
.myAddrTab .gcell.on{background: #fff;color: #719cff;border-bottom:0 none;}
.stepBody.inputData{padding:15px 10px 0 10px}
.stepBody.inputData .gtable.mb20{padding-bottom:20px}
.stepBody.inputData .gtable.mb10{padding-bottom:10px}
.stepBody.inputData.type2{padding:10px 10px 0 15px}
.stepBody.inputData.type2 .gtable{padding-bottom:10px}
.stepBody.inputData.type2 p{padding-bottom:15px}
.stepBody.inputData .gtable .ta{width:74px; vertical-align: middle}
.stepBody.inputData .gtable .ta2{width:112px}
.stepBody.inputData .mb8{margin-bottom:8px}    
.stepBody.inputData .telW{width:34%;padding-left: 8px}
input{height:28px;border:1px solid #ddd;border-radius:3px;width:100%;padding:0 10px;box-sizing: border-box}
.stepBody.inputData .searchAddr{position:relative;padding-right:96px;padding-bottom:8px}
.stepBody.inputData .searchAddr a{display:block;width:84px;height:27px;line-height:26px;color:#666;font-size:13px;background:#f3f3f3;text-align:center;position:absolute;right:0;top:0;border-radius:3px;border:1px solid #ccc}
.addressTab{width:100%;padding-top:2px}
.addressTab .gcell{width:50%;text-align:center;font-size:14px;color:#7c7c7c;height:36px;line-height:35px;background:#f3f3f3;border-bottom:1px solid #dfdfdf}
.addressTab .gcell.t1{border-right:1px solid #dfdfdf}
.addressTab .gcell.on{border-top:1px solid #dfdfdf;background:#fff;color:#333;border-bottom:1px solid #fff}
.addressTab .gcell.t1.on{border-left:1px solid #dfdfdf}
.addressTab .gcell.t2.on{border-right:1px solid #dfdfdf}
.tab_txt .gcell.c2{width:60px;padding-left:10px}
a.btnType{display:block;width:100%;height:27px;line-height:26px;color:#666;font-size:13px;background:#f3f3f3;text-align:center;border-radius:3px;border:1px solid #ccc}
.tab_txt{margin-bottom:20px }
.tab_txt ul li{display:table;width:100%;padding:5px 0;border-top: 1px solid #dedede;color: #333;font-size: 13px;box-sizing: border-box}
.tab_txt .txt_addr1{color:#333;margin-bottom:10px;font-size:14px}
.tab_txt.s3j {font-size:14px;color:#333}
.tab_txt.s3j .addr_title{padding-top:10px}
.tab_txt.s3j .change_roadNameAddr{padding: 7px 12px;border: 1px solid #efefef;font-size: 13px;letter-spacing: -1px}
.tab_txt.s3j .addr_choice{padding-bottom:15px}
.stepBody.inputData .tab_txt.key .gtable{padding-bottom:10px}
.stepBody.inputData .tab_txt.key .gtable.s50 .gcell{width:50%}
.stepBody.inputData .tab_txt.key .gtable.s50 .gcell:first-child{padding-right:5px}
.stepBody.inputData .tab_txt.key .gtable.s50 .gcell:last-child{padding-left:5px}
.gcell.tn{vertical-align:top;padding-right:10px;line-height:26px}
.addr_list_layer{width:100%;height:100%;position:fixed;top:0;left:0;z-index:9999}
.addr_list_layer .bg{background:#000;opacity:0.7;width:100%;height:100%}
.addr_list_layer .cont{position:absolute;bottom:0;width:100%;height:303px;background:#fff}
.addr_list_layer .cont .tit{height: 34px;line-height: 34px;background: #f2f2f2;text-align: center;font-size: 14px;color: #333;border: 1px solid #ccc;border-bottom: 0 none}
.addr_list_layer .cont .list{height:218px;overflow-y:scroll}
.addr_list_layer .cont .list li{border-bottom: 1px solid #ddd}
.addr_list_layer .cont .list li .gcell{vertical-align:middle}
.addr_list_layer .cont .list li .gcell.tl1{width:30px;padding:0 10px;box-sizing: border-box}
.addr_list_layer .cont .list li .gcell.tl2{padding:9px;box-sizing: border-box}
.addr_list_layer .cont .list li .gcell.tl2 p{font-size:14px;color:#888}
.addr_list_layer .cont .list li .gcell.tl2 p.stit{margin-bottom:5px;color:#333}
.addr_list_layer .cont .list li .gcell.tl3{width:70px;padding:0 10px;box-sizing: border-box}
.addr_list_layer .cont .list li .gcell.tl3 a:first-child{margin-bottom:5px}
.addr_list_layer .optionBtn{background:#f7f7f7}
.addr_list_layer .optionBtn .gcell{width:50%}
.addr_list_layer .optionBtn .gcell a{height:40px;line-height:40px;text-align:center;font-size:15px;color:#fff;display:block;background:#6190ff;border-radius:2px}
.addr_list_layer .optionBtn .gcell:first-child{padding:5px 3px 5px 5px}
.addr_list_layer .optionBtn .gcell:first-child a{background:#929292}
.addr_list_layer .optionBtn .gcell:last-child{padding:5px 5px 5px 2px}
input.radio01[type="radio"]{cursor: pointer;background: url(http://image.lotte.com/lotte/mobile/mobile_new/common/input_new.png) -54px 0 no-repeat;background-size: 105px 330px; width: 22px;height: 22px;vertical-align: middle}
input.radio01[type="radio"]:checked {background-position: -77px 0;}
.addCheckBox{padding-top:10px;position:relative}
.addCheckBox input.check01[type="checkbox"]{border-radius:0;width:12px;height:21px;border:0}
.addCheckBox label{position: absolute;top: 12px;padding-left: 5px}

.safe_num {display: inline-block;width: 20px;height: 20px;cursor: pointer;background: url(http://image.lotte.com/lotte/mo2015/angular/order/input_order.png) 0 -90px no-repeat;background-size: 155px 202px;text-indent: -5000px;font-size: 0;line-height: 0;vertical-align: middle;margin-left: 0px;margin-top: -2px;}
#ansimPop .ansim_cont {padding: 25px 15px 10px;background: #fff}
#ansimPop .ansim_cont li {padding: 0 0 15px 10px;background: url(http://image.lotte.com/lotte/mobile/mobile_new/order/bul_blue_nemo.gif) 0 8px no-repeat;background-size: 3px 3px;font-size: 13px;color: #666}
#ansimPop .ansim_cont li strong {color: #000;font-weight: 400}
#ansimPop {display:none; position:fixed; z-index:9000; left:0; width:80%; top:50%; margin-top:-120px; margin-left:10%}
#dimCover{display:none;left: 0;position: fixed;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5)}

/*20180130 주소관련 추가 */
.user_addrdata{position:relative}
.user_addrdata.tline{border-top:1px solid #dcdcdc}
.user_addrdata.tline .utable .ucell.rs span.arrow{top:26%}
.user_addrdata .utable{display:table;width:100%;padding:16px 13px;box-sizing: border-box;position:relative}
.user_addrdata .utable.number{padding:9px 13px;border-top:1px solid #ddd}
.user_addrdata .utable .ucell{display:table-cell;font-size:14px;color:#333}
.user_addrdata .utable .ucell.ls{width:71px;letter-spacing: -1px}
.user_addrdata .utable .ucell.rs p b{padding-bottom:8px;display: block}
.user_addrdata .utable .ucell.rs{padding-right:65px}
.user_addrdata.tline .utable .ucell.rs{padding-right:10px}
.user_addrdata .utable .ucell.rs span.arrow{width:52px;height:24px;display:block;position:absolute;top:39%;right:13px;border:1px solid #ccc;font-size:12px;line-height:22px;padding-left:8px;box-sizing:border-box}
.user_addrdata .utable .ucell.rs span.arrow:after{content: '';display: block;position: absolute;right: 8px;top: 50%;background: url(http://image.lotte.com/lotte/mo2015/angular/order/order_bullet_right2.png) no-repeat;
width: 6.5px;height: 10.5px;-webkit-background-size: 6.5px;background-size: 6.5px;margin-top: -5.25px;}
.user_addrdata .utable .ucell.rs .s_box02{width:75px;margin-right:9px}
.user_addrdata .utable .ucell.rs .total{font-size:13px;color:#888}
.user_addrdata p.nodata{padding:16px 13px;height:63px;box-sizing: border-box;font-size:15px;color:#333}
.user_addrdata p.nodata:after{content: '';display: block;position: absolute;right:15px;top:0;background: url(http://image.lotte.com/lotte/mo2015/angular/order/no_addr_arrow.png) no-repeat;
width: 15px;height:63px;-webkit-background-size:15px 63px;background-size:15px 63px}
.notiInfo {padding:13px 22px;font-size:13px;color:#888;background:#f6f6f6;position:relative}
.notiInfo:before{content:'';width:6px;height:1px;background:#888;position:absolute;top:20px;left:13px}
#ordSearchDeliPop{display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10000;background:#fff}
#ordSearchDeliPop iframe{width:100%;height:100%;border:0}
.hideDiv{display:inline-block;height:1px;width:1px;overflow:hidden;float:right}
.hideDiv input{border: 0px;}