@charset "UTF-8";

#head_sub .prev a{display:none}
.cardArea{background:#ffe5e1;padding:10px}
.cardArea .cardPaper{border-radius:10px;overflow:hidden;background:#fff;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)}
.cardArea .cardPaper .message{border-top:2px dotted #e9e9e9;padding:0 16px}
.cardArea .cardPaper .message p.t1{color:#4e4e4e;font-size:14px;line-height:35px;margin:10px 0;background: url(http://image.lotte.com/lotte/mo2015/angular/detail/giftCheck_messagebg.png) repeat;background-size:8px 35px}
.cardArea .cardPaper .message p.t2{color:#333;font-size:14px;text-align:right;margin-bottom:21px}
.cardArea .infoArea{background:#eee;padding:5px}
ul.topInfo li{margin:12px;font-size:13px;color:#777;position:relative}
ul.topInfo li:before{display:block;position:absolute;top:8px;left:-6px;width:2px;height:2px;background:#999;content:''}
ul.topInfo li b{color:#333}
.loginClick{color:#719cff;display: inline-block;border-bottom: 1px solid #719cff}
.infoArea{background:#eee;padding:5px}
.infoArea .stepBox{border:1px solid #dfdfdf;background:#fff;margin-bottom:4px}
.infoArea .stepBox .stepHead{font-size:12px;color:#888;border-top:0px solid #dfdfdf;border-bottom:1px solid #dfdfdf;min-height:58px;padding:13px 10px 11px 57px;box-sizing: border-box;position:relative}
.infoArea .stepBox .stepHead b{color:#333;font-size:16px;display:block;margin-bottom:4px}
.infoArea .stepBox .stepHead b.toppd{padding-top:9px}
.infoArea .stepBox .stepHead .stepIcon{position:absolute;top:17px;left:10px;width:41px;height:37px;background: url(http://image.lotte.com/lotte/mo2015/angular/detail/giftOrder_icon3.png) no-repeat;background-size:41px 127px}
.infoArea .stepBox .stepHead .stepIcon.t2{background-position:0 -43px}
.infoArea .stepBox .stepHead .stepIcon.t3{background-position:0 -87px}
.gtable.goodInfo{margin:10px 5px}
.gtable.goodInfo .title{color:#2c2c2c;font-size:13px;padding-bottom:10px;padding-right: 10px}
.gtable.goodInfo .option{color:#ff7b62;font-size:11px}
.gtable.goodInfo a{display:block;margin:10px 0 5px 0;color:#467eff;font-size:11px;border:1px solid #467eff;width:65px;height:19px;line-height:18px;text-align:center;border-radius:10px} 
.gtable .gcell.cell1{width:97px}
.infoArea .stepBox .goodImg{width:87px;height:87px;border:1px solid #eee}
.gflag{padding-bottom:7px}
.gflag span{font-size:10px;text-align:center;padding:4px;color:#fff}
.gflag .dept{background:#77675d}
.gflag .free{background:#fff;color:#a4a4a4;border:1px solid #a4a4a4}
.gflag .etv{background-color:#e00001}
.gflag .smart{display:inline-block;width:22px;height:12px;font-size:0;vertical-align:middle;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) -46px -39px no-repeat;background-size:75px 90px;}

.changeOpt{padding:0 5px}
.changeOpt .gtable{padding-top:13px}
.changeOpt .gtable.optname{border-top:1px solid #eee}
.changeOpt .gtable .gcell{color:#2c2c2c;font-size:14px}
.changeOpt .gtable .gcell.cell1{padding-left:6px;color:#888}
.pop-footer_ {margin:20px 0 15px 0;text-align: center}
.pop-footer_ a{display:inline-block;color:#719cff;border:1px solid #719cff;border-radius:20px;width:80px;height:28px;line-height:27px;text-align:center}
.pop-footer_ a.ok_7e{background:#719cff;color:#fff;margin-left:5px }
.stepBox.agreeInfo{padding:7px 9px 9px 9px;border-radius:3px}
.stepBox.agreeInfo .headTitle{color:#333;height:20px;font-size:13px;position:relative}
.stepBox.agreeInfo .headTitle:after{width:6px;height:6px;content:"";position:absolute;right:2px;top:5px;border-top:2px solid #888;border-left:2px solid #888;transform:rotate(225deg);-webkit-transform:rotate(225deg)}
.stepBox.agreeInfo .headTitle.on:after{transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.stepBox.agreeInfo .headTitle label{position: absolute;top:2px;left:25px;font-weight:bold}
.stepBox.agreeInfo .gtable{border:1px solid #ededed;margin-top:10px;}
.stepBox.agreeInfo .gcell p{font-size:12px;color:#333;padding:10px;box-sizing: border-box;position:relative}
.stepBox.agreeInfo .gcell p.top{color:#888;text-align:center;height:28px;line-height:27px; background:#fafafa;padding:0}
.stepBox.agreeInfo .gcell p.top.line:after{width:1px;height:8px;content:"";position:absolute;right:0px;top:10px;background:#e0e0e0}
.stepBox.agreeInfo .ac_more{position:absolute;right:0;width:50px;height:40px;top:0}
.gBtn{padding:5px 0;text-align:center}
.gBtn a{font-size:16px;font-weight:bold;display:block;height:39px;line-height:38px;border:1px solid #749eff;color:#749eff;background:#fff;border-radius:3px}
.gBtn .no{width:33%;padding-right:7px}
.gBtn .yes a{background:#749eff;color:#fff}
.footInfo{background:#f5f6f7;border:1px solid #d1d4d9;padding:8px 4px}
.footInfo .topInfo li{margin:4px 12px}

.layerPop{position:fixed; width:100%; top:0; left:0; background:#fff; z-index:600;height:100%;padding:50px 0;box-sizing: border-box}
.layerPop #head_sub {position:fixed; left:0; top:0;}
.layerPop #head_sub h2{background:#f3f3f3;border-bottom:1px solid #d0d0d0;color:#333;text-align:left;padding-left:10px;}
.layerPop #head_sub .close a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat;background-size:12px 12px;}
.layerPop .cont{width:100%;height:100%;overflow-y:auto}
.refuseLayer {width: 100%;height: 100%;position: fixed;top: 0;z-index: 1000}
.refuseLayer .bg{width: 100%;height: 100%;background: #000;opacity: 0.6}
.refuseLayer .box{width:100%;position:absolute;top:30%}
.refuseLayer .box .popBox{width:285px;margin:0 auto;background:#fff;color:#333;border-radius:10px;overflow:hidden}
.refuseLayer .box .popBox .head_title{background:#f6f6f6;height:40px;width:100%;line-height:39px;font-size:17px;text-align: center;font-weight: bold;position:relative}
.refuseLayer .box .popBox .head_title:after{display:block;position:absolute;content: '';top:16px;right:12px;width:12px;height:12px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat;background-size:12px 12px;}
.refuseLayer .box .popBox .head_title span.close{position:absolute;right:0;width:80px;height:40px;top:0;z-index:100}
.refuseLayer .box .popBox .cont {padding:20px;font-size:13px}
.refuseLayer .box .popBox .cont select{margin:15px 0 20px 0}
.refuseLayer .box .popBox .cont a{display:block;width:125px;height:42px;text-align:center;margin: 0 auto;font-size:14px;color:#5386fa;line-height: 41px;border:1px solid #5386fa;border-radius:40px}
/*선물확인완료*/
.secondPage .topbox{text-align:center;background:#eee;padding-top:20px}
.secondPage .topbox img{width:36px}
.secondPage .topbox p{font-size:20px;color:#333;padding:19px 0 30px 0}
.secondPage .topbox p span{color:#3874ec}
.secondPage .topbox .subbtn{padding-bottom:20px}
.secondPage .topbox .subbtn a{width:122px; height:40px;color:#fff;border:1px solid #719cff;border-radius:20px;display:inline-block;background:#719cff;line-height: 39px}
.secondPage .topbox .subbtn a.tb1{color:#719cff;background:#eee;margin-right:5px}
.secondPage .g_listbox {background:#fff;border-top:1px solid #d4d4db;border-bottom:1px solid #d4d4db}
.secondPage .g_listbox .mTop_title{padding:20px 0;text-align: center;position:relative}
.secondPage .g_listbox .mTop_title .small{font-size:13px;color:#666}
.secondPage .g_listbox .mTop_title .big{font-size:20px;color:#333;font-weight:bold}
.secondPage .g_listbox .mTop_title .sideBtn{position:absolute;right:13px;bottom:20px;font-size:12px;color:#666}
.secondPage .g_listbox .mTop_title .sideBtn:after{content: "";display: inline-block;width: 5px;height: 8px;margin-left: 3px;vertical-align: middle;background: url(http://image.lotte.com/lotte/mo2015/angular/main/department2_common.png) 0 -30px no-repeat;background-size: 140px auto;}
.secondPage .g_listbox .itemList{padding:0 6px}
.secondPage .g_listbox .itemList li{padding: 0 7px 18px 7px;width:33%;display:inline-block;box-sizing: border-box;vertical-align: top}
.secondPage .g_listbox .itemList li .imageCon{width:100%;padding-bottom:100%;border:1px solid #e7e7e7;position:relative}
.secondPage .g_listbox .itemList li .imageCon img{width:100%;height:100%;position:absolute;top:0}
.secondPage .g_listbox .itemList li .infoCon{height:60px;padding-top:8px;box-sizing: border-box;color:#333;font-size:12px}
.secondPage .g_listbox .itemList li .infoCon .title{height:32px;line-height:16px;overflow:hidden}
.secondPage .g_listbox .itemList li .infoCon .price span{font-size:10px}
/*앱다운*/
.app_bnr_wrap {position: fixed;height: 55px;background-color: #05bdc9;bottom:50px;z-index:500;width:100%}
.app_bnr_wrap>.btn_appdown {display: block;overflow: hidden;text-align: center;height: 55px}
.app_bnr_wrap>.btn_appdown img {width: auto;max-height: 55px;vertical-align: middle}
.app_bnr_wrap>.btn_close {position: absolute;overflow: hidden;top: 0;right: 0;width: 36px;height: 55px;border: 0;background: 0 0;text-indent: 100%;white-space: nowrap;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline-color: transparent}
.app_bnr_wrap>.btn_close:after {content: "";display: block;position: absolute;top: 50%;right: 10px;width: 16px;height: 15px;margin: -8px 0;background: url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_appdownbnr.png) no-repeat;background-size: 16px 15px}
/*상품기술서 깨짐 방지*/
.detailLayout{position:relative;}
.detailLayout img {max-width:100% !important;height:auto !important;width:auto !important}
.detailLayout table, .detailLayou tr, .detailLayou tbody, .detailLayou tfoot, .detailLayou thead,
.detailLayout *{/*margin-left: 0 !important;margin-right: 0 !important;*/word-break: break-all;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.detailLayout  p, .detailLayout  table, .detailLayout  tr, .detailLayout  tbody, .detailLayout tfoot, .detailLayout  thead, .detailLayout  div, .detailLayout  address, .detailLayout  dl, .detailLayout  filedset, .detailLayout  h1, .detailLayout  h2, .detailLayout  h3, .detailLayout  h4, .detailLayout  h5, .detailLayout  h6, .detailLayout  hr, .detailLayout  ol, .detailLayout  pre, .detailLayout  ul, .detailLayout  dd, .detailLayout  dt{max-width: 100% !important;height: auto !important;width:auto !important}
.detailLayout table td, .detailLayout tr td, .detailLayout tbody td, .detailLayout tfoot td, .detailLayout thead td {text-align: left;height: auto !important}