

/*.brieflyPop{position:fixed;display:-webkit-flex;display:flex;width:150px;height:150px;top:50%;left:50%;margin-top:-75px;margin-left:-75px;border-radius:50%;background:rgba(0,0,0,.6);font-size:13px;line-height:18px;letter-spacing:-0.7px;text-align:center;color:#fff;-webkit-align-items:center;align-items:center}*/

/*.popup_mem_edit {position: fixed;max-width: 640px;color: #c9cfd8;z-index: 900;padding:0px 10px;}*/

.centerPop {position:fixed;z-index: 900;top: 50%;left: 50%;width: 280px;margin: -140px -140px;}
.centerPop .inner {padding: 0px 0px;background: #fff;border-radius: 4px;text-align:center;}
.centerPop .inner h3 {padding:20px 0;font-size:17px;}
.centerPop .inner .relogin {display:inline-block;padding:0px 30px;border-radius:2px;font-size:14px;line-height:40px;border:1px solid #719cff;background:#719cff;color:#fff;margin:20px 0;}
.centerPop .inner .close {font-size:13px;}
