@charset "utf-8";
.clear:after {content:" "; display:block;clear:both;overflow:hidden;}

.updatePoster {position:fixed;top:0;left:0;width:100%;height:100%;z-index:8000;}
.posterWrap {position:relative;width:100%;height:100%;text-align:center;}
.poster {position:relative;height:57%;width:100%;background:#8db0ff;box-sizing:border-box;-webkit-box-sizing:border-box;}
.poster>div {position:absolute;bottom:0;left:0;width:100%;}
.poster img {display:inline-block;width:53%;max-width:348px;margin:0 auto;}
.posterDown {position:absolute;bottom:0;left:0;width:100%;height:43%;padding-bottom:50px;background:#fff;text-align:center;font-size:15px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.posterDown>div {padding-top:5%;font-size:16px;color:#333;}
.posterDown>div img {display:inline-block;width:80%;max-width:572px;margin:0 auto;}
.posterDown .downText p {font-size:25px;}
.btnArea {text-align:center;}
.btnArea a.btn {display:inline-block;height:28px;padding:0 20px;color:#467eff;font-size:14px;line-height:30px;border:1px solid #719cff;border-radius:15px;-webkit-border-radius:15px;}
