.good_3_line{display:table;width:100%}
.good_3_line img.product{width:90px; height:90px}
.good_3_line li {height:160px;display:block;float:left;width:33.3%;padding:10px 0 0px 0;text-align:center}
.good_3_line li span{margin:5px auto 0 auto}
.good_3_line span.title{width:105px;height:28px; overflow:hidden; text-overflow:ellipsis;-webkit-line-clamp: 2; -webkit-box-orient: vertical;display: -webkit-box; word-wrap:break-word}
.good_3_line li span b{text-decoration:line-through}
.good_3_line li span.price1{color:#494949; font-weight:bold}
.good_3_line li span.price2{color:#FF0000;font-weight:bold}

.good_2_line li {padding: 10px 0 0;display: block;float: left;height: 228px;text-align:center;width:50%}
.good_2_line li a > span{display: block;font-size: 15px}
.good_2_line li a {display: block;margin: 0 auto;width: 137px}
.good_2_line img.product {height: 137px;width: 137px;margin-bottom: 10px; }
.good_2_line span.title { font-size: 15px; height: 31px; line-height: 16px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;}
.good_2_line li span.price1 {color: #3874ec;font-size: 15px;font-weight:bold;line-height:16px;}
.good_2_line .psailIcon {background-color: #F64B00;border-radius: 17px 17px 17px 17px;color:#FFFFFF;font-size:8pt;height:35px;left:0;line-height:35px;position: relative;text-align:center;top: -190px;width: 35px;}
.good_2_line .psailIcon span {font-size: 12pt;font-weight: bold;}
.good_2_line {display: table;width: 100%}