@charset 'utf-8';
.event_info_layer{position:fixed;top:10%;left:0;border:solid 2px #3463c0;display:none;margin:0 10px;box-sizing:border-box;-webkit-box-sizing:border-box;z-index:1000002}
.event_info_layer.info_complete_layer{top:10%}
.event_info_layer .cont{background-color:#ffffff;padding:20px}
.event_info_layer .cont .title_layer{border-bottom:1px solid #d4d4d4;margin-bottom:18px}
.event_info_layer .cont .event_info_txt{font-size:11px;font-weight:bold;letter-spacing:-0.5px;padding:0 0 18px 14px}
.event_info_layer .cont .event_info_list{padding:0 0 10px 14px}
.event_info_layer .cont .event_info_list li{background:url(http://image.lotte.com/lotte/mobile/popup/popup_event_info_dot.png) no-repeat left 4px;background-size:2px 2px;font-size:10px;letter-spacing:-0.5px;padding:0 0 3px 5px}
.event_info_layer .cont .event_info_query{font-size:10px;letter-spacing:-0.5px;padding:0 0 19px 19px}
.event_info_layer .cont .event_complete_list{padding:0 0 25px 14px}
.event_info_layer .cont .event_complete_list li{background:url(http://image.lotte.com/lotte/mobile/popup/popup_event_info_dot.png) no-repeat left 4px;background-size:2px 2px;font-size:11px;letter-spacing:-0.5px;padding:0 0 10px 5px;font-weight:bold}
.event_info_layer .cont .event_info_btn{overflow:hidden;width:253px;margin:0 auto}
.event_info_layer .cont .event_info_btn li{float:left}
.event_info_layer .cont .event_info_btn li:first-child{margin-right:5px}
.event_info_layer .cont .event_info_btn li img{width:124px;height:34px}
.event_info_layer .check {height:32px;overflow:hidden;background:#3463c0;box-sizing:border-box;-webkit-box-sizing:border-box}
.event_info_layer .check .close {float:right;box-sizing:border-box;-webkit-box-sizing:border-box}
.event_info_layer .check .close a {color:#fff;display:inline-block;padding:8px 15px;height:34px;font-size:14px;box-sizing:border-box;-webkit-box-sizing:border-box}
.info_agree_layer.bg {position:fixed;top:0px; display:block;width: 100%;height:100%;opacity:0.6;margin:0px;border:0px;background: #000;box-sizing:border-box;-webkit-box-sizing:border-box;z-index:1000002}
.info_complete_layer.bg {position:fixed;top:0px; display:block;width: 100%;height:100%;opacity:0.6;margin:0px;border:0px;background: #000;box-sizing:border-box;-webkit-box-sizing:border-box;z-index:1000002}
@media all and (orientation:landscape){
	.event_info_layer{position:absolute;margin: 0;top:0;right:20%;left:20%;}
	.event_info_layer.info_complete_layer {top:0}
}
.good_3_line{display:table;width:100%}
.good_3_line img.product{width:90px; height:90px}
.good_3_line li {height:160px;display:block;float:left;width:33.3%;padding:10px 0 0px 0;text-align:center}
.good_3_line li span{margin:5px auto 0 auto}
.good_3_line span.title{width:105px;height:28px; overflow:hidden; text-overflow:ellipsis;-webkit-line-clamp: 2; -webkit-box-orient: vertical;display: -webkit-box; word-wrap:break-word}
.good_3_line li span b{text-decoration:line-through}
.good_3_line li span.price1{color:#494949; font-weight:bold}
.good_3_line li span.price2{color:#FF0000;font-weight:bold}

.good_2_line li {padding: 10px 0 0;display: block;float: left;height: 228px;text-align:center;width:50%}
.good_2_line li a > span{display: block;font-size: 15px}
.good_2_line li a {display: block;margin: 0 auto;width: 137px}
.good_2_line img.product {height: 137px;width: 137px;margin-bottom: 10px; }
.good_2_line span.title { font-size: 15px; height: 31px; line-height: 16px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;}
.good_2_line li span.price1 {color: #f64b00;font-size: 15px;font-weight:bold;line-height:16px;}
.good_2_line .psailIcon {background-color: #F64B00;border-radius: 17px 17px 17px 17px;color:#FFFFFF;font-size:8pt;height:35px;left:0;line-height:35px;position: relative;text-align:center;top: -190px;width: 35px;}
.good_2_line .psailIcon span {font-size: 12pt;font-weight: bold;}
.good_2_line {display: table;width: 100%}