@charset 'utf-8';
.sevt{width:100%;background:#eff6fa;box-sizing:border-box}        
.sevt img{width:100%}
.sevt .topSMenu .mcell{width:50%}
.sevt .rdiv{position:relative}
.sevt .adiv{position:absolute;width:100%;box-sizing:border-box}    
.sevt .stampA .tab{position:absolute;width:100%;top:29%}
.sevt .stampA .tab5{background:url("http://image.lotte.com/lotte/mobile/event/stamp5_tab5.png");background-size:100% auto}
.sevt .stampA .tab5.week2{background-position:0 23.6%}
.sevt .stampA .tab5.week3{background-position:0 47.15%}
.sevt .stampA .tab5.week4{background-position:0 70.5%}
.sevt .stampA .tab5.week5{background-position:0 94%}
.sevt .stampA .tab6{background:url("http://image.lotte.com/lotte/mobile/event/stamp5_tab6.png");background-size:100% auto}
.sevt .stampA .tab6.week2{background-position:0 19%}
.sevt .stampA .tab6.week3{background-position:0 39%}
.sevt .stampA .tab6.week4{background-position:0 58%}
.sevt .stampA .tab6.week5{background-position:0 77%}
.sevt .stampA .tab6.week6{background-position:0 97%}    
.sevt .stampA .tab .mtable{position:absolute;top:0;width:90%; left:50%; margin-left:-45%;}
.sevt .stampA .tab .mtable .mcell{width:20%; float:left; text-align:center} 
.sevt .stampA .tab.tab6 .mtable .mcell{width:16.6%}     
.sevt .stampA .tab.tab5 .mtable .mcell:nth-child(6){display:none}
.sevt .stampMap{padding:0 2%;top:43%}
.sevt .stampMap:after{content:"";display:block;clear:both;}
.sevt .stampMap >li{float:left;}
.sevt .stampMap >li:nth-child(1),
.sevt .stampMap >li:nth-child(2),
.sevt .stampMap >li:nth-child(3){width:33.3%;}
.sevt .stampMap >li:nth-child(1) .stimg,
.sevt .stampMap >li:nth-child(2) .stimg,
.sevt .stampMap >li:nth-child(3) .stimg{width:60%}
.sevt .stampMap >li:nth-child(4),
.sevt .stampMap >li:nth-child(5),
.sevt .stampMap >li:nth-child(6),
.sevt .stampMap >li:nth-child(7){width:25%;margin-top:13%}
.sevt .stampMap >li:nth-child(4) .stimg,
.sevt .stampMap >li:nth-child(5) .stimg,
.sevt .stampMap >li:nth-child(6) .stimg,
.sevt .stampMap >li:nth-child(7) .stimg{width:80%}

.sevt .stampMap .stamp .stimg{margin:0 auto;background:url("http://image.lotte.com/lotte/mobile/event/stamp5_stamp.png");background-size:100% auto} 
.sevt .stampMap .stamp.step2:last-child .stimg{margin-left:5%}    
.sevt .stampMap .stamp .stimg .dayinfo{position:absolute;bottom:8%;width:90%;text-align:center;color:white;font-size:10px} 
.sevt .stampMap .stamp .stimg.ok{background-position:0 14%}
.sevt .stampMap .stamp .stimg.ani{background-position:0 84%}
.sevt .stampMap .stamp .stimg.hide{background-position:0 28%}
.sevt .stampMap .stamp .stimg.hide .dayinfo{display:none}    
.sevt .stampMap .stamp.weekend .stimg{background-position:0 42.5%}    
.sevt .stampMap .stamp.weekend .stimg.ani{background-position:0 98.5%}    
.sevt .stampMap .stamp.weekend .stimg.ok{background-position:0 56%}    
.sevt .stampMap .stamp.weekend .stimg.hide{background-position:0 70.5%}    
.sevt .myNumber {position:absolute;top:4%;right:10%;width:28%}
.sevt .myNumber span{color:#fff203;font-weight:bold;display:inline-block;width:22%;text-align:center}
  
@media (min-width:340px) {
    .sevt .myNumber span{font-size:12px}
}
@media (min-width:480px) {
    .sevt .myNumber span{font-size:18px;width:23%}
    .sevt .stampMap .stamp .stimg .dayinfo {font-size:16px}
}
@media (min-width:640px) {
    .sevt .myNumber span{font-size:24px;width:23%}
    .sevt .stampMap .stamp .stimg .dayinfo {font-size:24px}
}
/*20140623 수치값 수정*/
.sevt .mycpn .sbtn0519-1{position: absolute;top: 87%;width: 29%;left: 13%}    
.sevt .mycpn .sbtn0519-2{position: absolute;top: 87%;width: 29%;left: 57%}    

.sevt .mycpn .sbtn0519-3{position: absolute;top: 90%;width: 27%;left: 15%}
.sevt .mycpn .sbtn0519-4{position: absolute;top: 61%;width: 32%;left: 53%}  
.sevt .mycpn .stamp_layer{position: absolute;top:45%;width: 60%;left: 20%;display:none}
.sevt .mycpn .stamp_layer .cont{position:absolute;top:16%;width:90%;height:63%;background:url('http://image.lotte.com/lotte/mobile/event/stamp5_layer_msg_0701.png');background-size:400% auto;left:10%}    
.sevt .mycpn .stamp_layer .cont.typea{background-position:-100% 0}
.sevt .mycpn .stamp_layer .cont.typeb{background-position:-200% 0}
.sevt .mycpn .stamp_layer .cont.typec{background-position:-300% 0}    

.sevt .noti{margin-top:10px;}
/*20161010 개선*/
.sevt.type2{width:100%;background:#43c2be;box-sizing:border-box}        
.sevt.type2 .stamp_layer{position:fixed;top:45%;width: 60%;left: 20%;display:none}
.sevt.type2 .stamp_layer .cont{position:absolute;top:16%;width:90%;height:63%;background:url('http://image.lotte.com/lotte/mobile/event/stamp5_layer_msg_0701.png');background-size:400% auto;left:10%}    
.sevt.type2 .stamp_layer .cont.typea{background-position:-100% 0}
.sevt.type2 .stamp_layer .cont.typeb{background-position:-200% 0}
.sevt.type2 .stamp_layer .cont.typec{background-position:-300% 0}   
.sevt.type2 .attend_info_layer{position:absolute;top:94px;width:100%;height:300%;text-align: center}
.sevt.type2 .attend_info_layer .bg{width:100%;height:100%;background:#000;opacity:0.6}
.sevt.type2 .attend_info_layer img{width:80%;position:absolute;top:2%;left:10%}
.sevt.type2 .ebox{width:100%;box-sizing:border-box;position:relative;text-align:center}  
.sevt.type2 .ebox.attend img{width:57%}
.sevt.type2 .ebox .cur_month{width:13%;padding-top:13%;background:#28abad;color:#fff;position:absolute;top:10px;right:10px;border-radius:50%}
.sevt.type2 .ebox .cur_month span{position:absolute;top:32%;width:100%;right:0;text-align:center}
.sevt.type2 .ebox .calendar{position:relative;width:100%;padding:5% 6% 0 8%;box-sizing: border-box;background: url(http://image.lotte.com/lotte/mobile/event/2016/da_event_201610_3_2.png);background-size:100%;}
.sevt.type2 .ebox .calendar ul{display:table;width:100%}
.sevt.type2 .ebox .calendar ul li{display:table-cell;width:14%;padding-top:14%;vertical-align: middle;text-align:center;position: relative}
.sevt.type2 .ebox .calendar ul li span{display:none;width:85%;height:85%;border-radius:50%;background:#f4f4f4;font-size:13px;color:#bbb;position: absolute;top:0}
.sevt.type2 .ebox .calendar ul li.on span{display:block}
.sevt.type2 .ebox .calendar ul li.after span{color:#444}
.sevt.type2 .ebox .calendar ul li.after.sun span{color:#ee583a}
.sevt.type2 .ebox .calendar ul li.after.sat span{color:#2e6bdc}
.sevt.type2 .ebox .calendar ul li.today.check span{border:none}
.sevt.type2 .ebox .calendar ul li.today span{color:#de1067;font-weight:bold;border:1px solid #de1067;font-size:15px}
.sevt.type2 .ebox .calendar ul li.check span{background: url(http://image.lotte.com/lotte/mobile/event/2016/da_event_201610_num.png) no-repeat;background-size:100%;font-size:0}
.sevt.type2 .ebox .stampfoot{margin-top:-1px}
.sevt.type2 .ebox .myPoint{position: absolute;width:100%}
.sevt.type2 .ebox .myPoint b.txt{color:#fff;padding-right:5px}
.sevt.type2 .ebox .myPoint b.point{color:#FFFC00}
.sevt.type2 .ebox .changeBtn{position: absolute;width: 50%;height: 50%;bottom: 0;right: 0;font-size: 0}
.sevt.type2 .f14{font-size:14px}
.sevt.type2 .f15{font-size:15px}
.sevt.type2 .f16{font-size:16px}
.sevt.type2 .f25{font-size:25px}
@media (min-width:480px) {
    .sevt.type2 .f14{font-size:18px}
    .sevt.type2 .f15{font-size:20px}
    .sevt.type2 .f16{font-size:22px}
    .sevt.type2 .f25{font-size:30px}
    .sevt.type2 .ebox .calendar ul li span{font-size:16px}
    .sevt.type2 .ebox .calendar ul li.today span{font-size:20px}
    .sevt.type2 .ebox .calendar ul li.check span{font-size:0px}
}
@media (min-width:640px) {    
    .sevt.type2 .f14{font-size:28px;top:34% !important}
    .sevt.type2 .f15{font-size:30px}
    .sevt.type2 .f16{font-size:32px}
    .sevt.type2 .f25{font-size:50px}    
    .sevt.type2 .ebox .calendar ul li span{font-size:26px}
    .sevt.type2 .ebox .calendar ul li.today span{font-size:30px}
    .sevt.type2 .ebox .calendar ul li.check span{font-size:0px} 
}
@media (min-width:1000px) {
    .sevt.type2 .f14{font-size:36px}
    .sevt.type2 .f15{font-size:40px}
    .sevt.type2 .f16{font-size:44px}
    .sevt.type2 .f25{font-size:60px}    
    .sevt.type2 .ebox .calendar ul li span{font-size:34px}
    .sevt.type2 .ebox .calendar ul li.today span{font-size:40px}
    .sevt.type2 .ebox .calendar ul li.check span{font-size:0px}
}
/*20161103*/
.ebox .tabButton {display: block;width: 50%;height: 100%;position: absolute;top: 0;left: 50%;font-size: 0}