	#planshop_detail {width:100%;}
	.hide_txt{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:0px;line-height:0;clip:rect(1px 1px 1px 1px)}
	#mz_event .mz_btn01 {padding:0 15px;background:#00b4cd;}
	#mz_event .mz_btn02 {position:relative;padding:13px 15px 20px;background:#00b4cd;text-align:right;}
	#mz_event .mz_btn02 a {display:inline-block;width:110px;}
	#mz_event .mz_btn02 .mz_ly {position:fixed;top:50%;left:50%;width:300px;height:420px;margin:-210px 0 0 -150px;-webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);-moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);}
	#mz_event .mz_btn02 .mz_ly .close {position:absolute;top:0;right:0;width:44px;}