@charset "UTF-8";

.page_talk .cont_minheight { min-height:440px; }

/* 톡상담 공통 말풍선 */
.page_talk .quick_btn .btn_talk{display:none;}

/* 인트로 */
/* .talk_intro { background-color:#c3def3; }
.talk_intro .inner { width:320px; height:510px; margin:0 auto; background:url(http://image.lotte.com/lotte/mobile/talk/intro_visual.png) #c3def3 center 30px no-repeat; background-size:225px 225px; }
.talk_intro .talk_intro_btn { position:relative; top:230px; text-align:center; } 
.talk_intro .talk_intro_btn a { display:block; }
.talk_intro .talk_intro_btn img { width:290px; height:118px; }
.talk_intro .talk_intro_btn .btn_talk_type_recommand { margin-top:5px; } */
/*뒤로가기 감춤*/
/* @media screen and (min-width:760px){
	#head_sub .prev{display:none}
} */

body{background-color:#f8f8f8;}
.talk_wrap{margin:40px 35px 25px 35px;}
.talk_wrap a{display:block;}
.talk_wrap a + a{margin-top:8px;}
.talk_wrap a:last-child{margin-top:4px;}
