/* comm-unit-deal01 */
.comm-unit-deal01{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position:relative;border:1px solid #d2d2d2;/*background-color:#fff;*/
}
.comm-unit-deal01:after{content:"";display:block;clear:both}
.comm-unit-deal01 .prd_img{border-bottom:1px solid #ddd;}
.comm-unit-deal01 .prd_img a{display:block;}
.comm-unit-deal01 .prd_img a .img_wrap{position:relative;text-align:center;}
.comm-unit-deal01 .prd_img a .img_wrap img{max-height:144px;width:auto;}
.comm-unit-deal01 .prd_img .mall_flag{position:absolute;top:0;left:0;}
.comm-unit-deal01 .prd_img .mall_flag span{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display:block;height:18px;line-height:18px;margin-right:3px;padding:0 3px;font-weight:bold;border:none;
}
.comm-unit-deal01 .prd_img .mall_flag .dept{color:#fff;background-color:#77675d}
.comm-unit-deal01 .prd_img .mall_flag .tvhome{color:#fff;background-color:#e00001}
.comm-unit-deal01 .prd_info_wrap .info{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display:block;position:relative;height:80px;padding:0 10px 0 0;
}
.comm-unit-deal01 .prd_info_wrap .info .prd_info{padding:10px 0 0 10px;}
.comm-unit-deal01 .prd_info_wrap .info .prd_name{overflow:hidden;height:15px;line-height:15px;color:#333;font-size:14px;letter-spacing:-1px;word-wrap:break-all;text-overflow:ellipsis;white-space:nowrap}
.comm-unit-deal01 .prd_info_wrap .info .prd_price{color:#275acd;font-size:19px;font-weight:bold;margin-top:3px;}
.comm-unit-deal01 .prd_info_wrap .info .prd_price .unit{font-size:14px;}

.comm-unit-deal01 .prd_info_wrap .info .prd_coupon{float:left;position:relative;margin:8px 8px 0 8px;padding:5px 12px 5px 0;color:#333;font-size:10px;vertical-align:text-top}
.comm-unit-deal01 .prd_info_wrap .info .prd_coupon.coupon_y{padding:0 12px 10px 0;}
.comm-unit-deal01 .prd_info_wrap .info .prd_coupon .num{display:block;min-width:35px;text-align:center;font-size:30px;line-height:30px;letter-spacing:-1px}
.comm-unit-deal01 .prd_info_wrap .info .prd_coupon .unit{position:absolute;top:8px;right:0;font-size:12px;}
.comm-unit-deal01 .prd_info_wrap .info .prd_coupon.coupon_y .unit{top:3px;}
.comm-unit-deal01 .prd_info_wrap .info .prd_coupon .coupon_yn{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position:absolute;bottom:0;width:100%;padding-right:5px;color:#bbb;font-size:9px;text-align:center;}

.comm-unit-deal01 .prd_info_wrap .info .prd_flag:after{content:"";display:block;clear:both}
.comm-unit-deal01 .prd_info_wrap .info .prd_flag{position:absolute;left:10px;bottom:5px;}
.comm-unit-deal01 .prd_info_wrap .info .prd_flag li{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
float:left;height:18px;line-height:16px;margin-right:3px;padding:0 3px;border:1px solid #bbb;background-color:#fff;color:#888;font-size:12px;letter-spacing:-1px;
}
.comm-unit-deal01 .sale_cnt{position:absolute;bottom:8px;right:10px;color:#888;font-size:12px;letter-spacing:-1px}

.comm-unit-deal01 .md_tip:before{content:"";display:block;position:absolute;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon_md_tip.png) 0 0 no-repeat;background-size:36px 21px;width:36px;height:21px;top:-2px;left:0;}
.comm-unit-deal01 .md_tip{position:relative;margin:8px 10px;border-radius:14px;background-color:#e3ebfe;}
.comm-unit-deal01 .md_tip span{display:block;overflow:hidden;height:28px;line-height:28px;font-size:14px;padding:0 15px 0 40px;}