/* comm-unit-type01 */
.comm-unit-type01{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position:relative;height:152px;padding:10px 10px 10px 150px;border:1px solid #d3d3d3;background-color:#fff;
}
.comm-unit-type01:after{content:"";display:block;clear:both}
.comm-unit-type01 .prd_img{position:absolute;top:10px;left:10px;width:130px;height:130px}
.comm-unit-type01 .prd_img a img{width:130px;height:130px}
.comm-unit-type01 .prd_info .info{display:block;position:relative;height:110px;margin-bottom:5px;border-bottom:1px solid #eaeaea}
.comm-unit-type01 .prd_info .info .prd_flag{overflow:hidden;height:18px;margin:0 -5px 5px 0}
.comm-unit-type01 .prd_info .info .prd_flag:after{content:"";display:block;clear:both}
.comm-unit-type01 .prd_info .info .prd_flag li{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
float:left;height:18px;line-height:16px;margin-right:3px;padding:0 3px;border:1px solid #bbb;background-color:#fff;color:#888;font-size:11px;letter-spacing:-1px;
}
.comm-unit-type01 .prd_info .info .prd_flag li.dept{color:#fff;font-weight:bold;line-height:18px;border:none;background-color:#77675d}
.comm-unit-type01 .prd_info .info .prd_flag li.tvhome{color:#fff;font-weight:bold;line-height:18px;border:none;background-color:#e00001}
.comm-unit-type01 .prd_info .info .prd_flag li:last-child{margin-right:0}
.comm-unit-type01 .prd_info .info .prd_name{display:-webkit-box;overflow:hidden;height:44px;line-height:22px;color:#2c2c2c;font-size:14px;margin-bottom:5px;letter-spacing:-1px;
-webkit-box-orient:vertical;
-webkit-line-clamp:2;
text-overflow:ellipsis;
word-wrap:break-all;
}
.comm-unit-type01 .prd_info .info.noflag .prd_name{height:66px;
-webkit-line-clamp:3;
}
.comm-unit-type01 .prd_info .info .prd_price{position:absolute;left:0;bottom:5px}
.comm-unit-type01 .prd_info .info .prd_price .before{color:#888;font-size:11px;text-decoration:line-through}
.comm-unit-type01 .prd_info .info .prd_price .after{color:#2e57b7;font-size:12px;font-weight:bold}
.comm-unit-type01 .prd_info .info .prd_price .after .num{font-size:19px;font-weight:bold}
.comm-unit-type01 .prd_info .info .prd_price .after.plan_type_unit:after{content:"~";}
.comm-unit-type01 .prd_info .info .prd_coupon{position:absolute;right:0;bottom:5px;text-align:right}
.comm-unit-type01 .prd_info .info .prd_coupon .coupon_yn{display:block;padding-right:4px;color:#888;font-size:9px;letter-spacing:-1px}
.comm-unit-type01 .prd_info .info .prd_coupon .num{color:#2c2c2c;font-size:18px;font-weight:bold}
.comm-unit-type01 .prd_info .info .prd_coupon .unit{font-size:13px}
.comm-unit-type01 .prd_review{float:left;}
.comm-unit-type01 .prd_review a{color:#888;font-size:12px}
.comm-unit-type01 .prd_review a .num{font-weight:bold}
.comm-unit-type01 .btn_wish{display:block;position:absolute;right:0px;bottom:0px}
.comm-unit-type01 .btn_wish a{display:block;position:relative;overflow:hidden;width:45px;height:29px;text-indent:100%;white-space:nowrap;}
.comm-unit-type01 .btn_wish a:after{content:"";display:block;position:absolute;bottom:7px;right:9px;width:19px;height:16px;background:#fff url(http://image.lotte.com/lotte/mobile/unit/communit_type01_btnwish.png) 0 0 no-repeat;background-size:19px 37px}
.comm-unit-type01 .btn_wish.on a:after{background-position:0 -21px}