<div class="comm-unit-type01">
    <!-- 상품이미지 -->
    <div class="prd_img">
        <a href="#" ng-click="clickUnit()"><img lotte-unit01-img-src="{{item.imgUrl}}" alt="{{item.goodsNm}}" /><!-- 19세, 이미지 없음 처리 lotte-unit01-img-src 280 size --></a>
    </div>

    <!-- 상품 정보 -->
    <div class="prd_info">
        <a href="#" class="info" ng-class="{noflag : !item.isDept && !item.isTvhome && (!item.flag || item.flag.length == 0)}" ng-click="clickUnit()">
            <ul class="prd_flag" ng-if="item.isDept || item.isTvhome || (item.flag && item.flag.length > 0)">
                <li ng-if="item.isDept" class="dept">롯데백화점</li>
                <li ng-if="item.isTvhome && !item.isDept" class="tvhome">롯데홈쇼핑</li>
                <li ng-repeat="flag in item.flag" class="etc">{{flag}}</li>
            </ul>
            <div class="prd_name">
                <span class="brd_name">{{item.brandNm}}</span>
                <span class="name">{{item.goodsNm}}</span>
            </div>
            <div class="prd_price">
                <p class="before" ng-if="item.price1 && item.price1 > 0 && item.price1 > item.price2"><span class="num">{{item.price1 | number}}</span>원</p>
                <p class="after" ng-class="{plan_type_unit : item.goodsCmpsCd == '30'}" ng-if="item.price2"><span class="num">{{item.price2 | number}}</span>원</p>
            </div>
            <div class="prd_coupon" ng-if="item.saleRate && item.saleRate != 0">
                <span class="coupon_yn" ng-if="item.useCpn == 'coupon'">쿠폰포함</span>
                <span class="num">{{item.saleRate}}</span><span class="unit">%</span>
            </div>
        </a>
    </div>

    <!-- 상품평 -->
    <div class="prd_review"><a href="#" ng-click="clickComment()">상품평 <span class="num">({{item.reviewCnt | number}})</span></a></div>

    <!-- 위시버튼 -->
    <div class="btn_wish" ng-class="{on:addWishFlag}"><a href="#" ng-click="addWish()">위시리스트 담기</a></div>
</div>