.unit_type ul li a:before,
.prod_list_swipe .btn_prev,
.prod_list_swipe .btn_next,
.unit_zoom,
.flag.smart,
.wish_icon{
	background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;background-size:95px 114px;
}
.unit_zoom{/* 유닛 상품 크게보기 */
	display:block;width:35px;height:35px;
	background-color:#000;opacity: 0.3;filter: alpha(opacity=30);
	position:absolute;bottom:5px;left:110px;
	background-position:0 -84px;background-size:105px 126px;font-size:0; z-index:2;
}
/*.unit_zoomImage {width:280px; height:280px; background:#fff; position:fixed; left:50%; top:50%; margin:-140px 0 0 -140px;z-index: 9000;}*/
.unit_zoomImage {background:#fff;position:fixed;left:50%;top:50%;z-index:9000;width:80%;max-width:550px;
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.unit_zoomImage img {width:100%; height:100%;}
.unit_zoomImage .btn_close {position:absolute; right:0; top:-21px; background: url(http://image.lotte.com/lotte/mo2015/angular/side_cate.png) no-repeat; width: 17px; height: 17px; background-position: -117px 0; background-size: 300px 300px;}
html.unitZoom_act .unit_zoomImage {display:block;}

p.flag {/*height:20px;*/}
.flag.depart{/* 롯데백화점 플래그 */
	display:inline-block;
	padding:0 4px;height:19px;
	background-color:#8c7169;
	border-color:#8c7169 !important;
	color:#fff;font-size:10px;line-height:19px;text-align:center;
	margin-bottom:3px;
}
.flag.etv{/* 롯데홈쇼핑 플래그 */
	display:inline-block;
	padding:0 4px;height:19px;
	background-color:#e00001;
	color:#fff;font-size:10px;line-height:19px;text-align:center;
	margin-bottom:3px;
}
.flag.himart{/* 하이마트 플래그 */
	display:inline-block;
	padding:0 4px;height:19px;
	background-color:#ed1c24;/*20180912 변경*/
	color:#fff;font-size:10px;line-height:19px;text-align:center;
	margin-bottom:3px;
}
.flag.depart.super{background-color:#559b57;}
.flag.off {background-color:#aaa;}
.flag.smart{/* 스마트픽 플래그 */
	display:inline-block;
	width:22px;height:19px;
	font-size:0;vertical-align:middle;
	background-color:transparent;
	background-position:-46px -39px;background-size:75px 90px;
	margin-bottom:3px;
}
.flag.free{/* 무료배송 플래그 */
	display:inline-block;
	padding:0 5px;height:19px;
	background-color:#fff;
	border:1px solid #ddd;
	color:#a4a4a4;
	font-size:10px;line-height:19px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:3px;
	margin-bottom:3px;
}
.wish_icon{/* 위시리스트 */
	display:inline-block;
	width:23px;height:21px;
	font-size:0;
	background-position:-29px -49px;
}
.wish_icon.on{background-position:0 -49px;}

/* 유닛 리스트형 소팅 UI */
.unit_type{padding:10px 10px 5px 10px;text-align:right;}
.unit_type ul{display:inline-block;border:1px solid #bbbbbb}
.unit_type ul li{float:left;border-left:1px solid #bbbbbb;line-height:25px;}
.unit_type ul li:first-child{border-left:0}
.unit_type ul li a{display:block;box-sizing:border-box;-webkit-box-sizing:border-box;padding-top:6px;background-color:#f8f8f8;font-size:0;text-align:center;width:26px;height:26px;line-height:26px;}
.unit_type ul li a.on{background-color:#bbbbbb;}
.unit_type ul li a:before{display:block;margin:0 auto;content:'';height:18px;}
.unit_type ul li.r1 a:before{width:18px;background-position:0 0;background-size:75px;}
.unit_type ul li.r2 a:before{width:15px;background-position:-23px 0;background-size:75px;}
.unit_type ul li.r3 a:before{width:18px;background-position:-42px 0;background-size:75px;}
.unit_type ul li.r1 a.on:before{background-position:0 -20px}
.unit_type ul li.r2 a.on:before{background-position:-23px -20px}
.unit_type ul li.r3 a.on:before{background-position:-42px -20px}

.prod_list_swipe .btn_next,
.prod_list_swipe .btn_next {z-index:5;} 

.unit_deal_01 .soldout,
.unit_list_01 .soldout,
.unit_list_02 .soldout,
.unit_list_03 .soldout {width:100%; overflow:hidden; text-indent:-999px; z-index:3; height:100%; position:absolute; left:0; top:0; background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/txt_soldout01.png) no-repeat center center rgba(0,0,0,0.5);}

/*.unit_deal_01 .thumb .flag{position:absolute;top:0;left:5px;}*/

.unit_list_01 .soldout {background-size:200px;}
.unit_list_02 .soldout {background-size:150px;}
.unit_list_03 .soldout {background-size:250px;}

span.bestNum {
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: absolute;
    left:0; top:0;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: 27px;
}

/* 해시태그 */
.hash_list{border-width:0 1px 1px;border-style:solid;border-color:#d0d0d0;background:#fff;width:100%;height:38px;padding:0 2px 0 10px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;}
.hash_list .hash_notice_txt{position:relative;height:27px;line-height:16px;background:#000;opacity:0.75;filter: alpha(opacity=75);padding:5px 8px;position:absolute;top:-24px;left:6px;color:#fff;font-size:13px;display:block;z-index:2;border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.hash_list .hash_notice_txt:after{background:#000;display:block;width:5px;height:5px;content:"";position:absolute;bottom:-3px;left:13px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.hash_list .hash_notice_txt span{color:#719bff;}
.hash_list .hash_notice_txt em{float:right;width:11px;height:11px;margin-left:6px;position:relative;top:2px;font-size:0;line-height:0;display:block;}
.hash_list .hash_notice_txt em:after,.hash_list .hash_notice_txt em:before{content:"";position:absolute;top:0;left:6px;background:#fff;display:block;width:1px;height:14px;}
.hash_list .hash_notice_txt em:after{
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.hash_list .hash_notice_txt em:before{
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.hash_list ul{overflow:hidden;height:38px;}
.hash_list ul li{float:left;padding:9px 8px 9px 0;}
.hash_list ul li a{height:20px;line-height:20px;display:block;background:#f5f5f5;color:#999;font-size:12px;padding:0 5px;}

/* 연관검색어 */
.list_reated_keyword{position:relative;border-width:1px;border-style:solid;border-color:#dcdcdc;background:#fff;margin-top:5px;padding:13px 13px 10px;}
.list_reated_keyword h4{font-size:14px;margin-bottom:10px;overflow:hidden;height:20px;}
.list_reated_keyword > ul{overflow:hidden;max-height:133px;}
.list_reated_keyword > ul > li{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display:block;float:left;width:50%;height:24px;line-height:24px;margin:0 0 3px 0;padding:0 10px;}
.list_reated_keyword > ul > li a{display:block;position:relative;overflow:hidden;height:24px;padding-left:5px;line-height:24px;word-break:break-all;font-size:13px;color:#666;}
.list_reated_keyword > ul > li a:before{content:"";display:block;position:absolute;top:50%;left:0;width:2px;height:2px;margin:-1px 0;background-color:#666;}

/* 인스턴트 팝업 */
.brieflyPop{z-index:1000;position:fixed;display:none;width:150px;height:150px;top:50%;left:50%;margin-top:-75px;margin-left:-75px;border-radius:50%;-webkit-border-radius:50%;font-size:13px;line-height:18px;letter-spacing:-0.7px;text-align:center;color:#fff;-webkit-align-items:center;align-items:center}
.brieflyPop .popCntWrap {display:table;width:150px;height:150px;border-radius:50%;-webkit-border-radius:50%;background:rgba(0,0,0,.6);}
.brieflyPop .popCnt{width:100%;display:table-cell;vertical-align:middle;text-align:center;}
.brieflyPop .popImg{width:47px;height:40px;margin:0 auto 6px;background:url(http://image.lotte.com/ellotte/mo2015/angular/detail/imgBrieflyPop.png) no-repeat 0 0;background-size:200px}
.brieflyPop.imgZoomPop .popImg {margin-top:27px;}
.brieflyPop.cartPop .popImg{background-position:-50px 0; margin-top:27px;}
.brieflyPop.wishPop .popImg{background-position:-100px 0; margin-top:27px;}
.brieflyPop.alarmPop .popImg{background-position:-150px 0; margin-top:2px;}
.brieflyPop.optionPop .popImg{height:50px;background-position:0 -50px; margin-top:12px;}
.brieflyPop .popCnt > span{display:block}
.brieflyPop .popCnt > span + .popTxt{line-height:15px}
.brieflyPop p{margin-top:5px;font-size:10px;line-height:13px;color:#ccc}

/* 성별/연령대별 문구 노출 */
.find_much_box{background-color:#fff;border-width:0 1px 0;border-style:solid;border-color:#dcdcdc;position:relative;padding-bottom:8px;height:32px;}
.find_much_box:after{content:"";display:block;width:11px;height:11px;position:absolute;background-color:#eef3ff;bottom:2px;left:10px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.find_much_box.arrow_off:after{display:none;}
.find_much_box .find_much_txt{;display:block;background:#eef3ff;font-size:13px;height:32px;line-height:32px;padding-left:10px;color:#666;font-weight:600;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.find_much_box.arrow_off .find_much_txt{display:none}
.find_much_box .find_much_txt .age,
.find_much_box .find_much_txt .gender{color:#3874ec;}

/* 줌 스와이프 */
.unit_zoomImage.zoomSwipe .mask{position:relative;overflow:hidden}
.unit_zoomImage .swipeImg li{float:left;width:0}
.unit_zoomImage .swipeImg.noImg li{width:100%}
.unit_zoomImage .swipeArr a{position:absolute;width:50px;height:100px;top:50%;left:10px;margin-top:-50px;opacity:.6;font-size:0}
.unit_zoomImage .swipeArr .arrNext{right:10px;left:auto}
.unit_zoomImage .swipeArr a:after{content:'';position:absolute;width:16px;height:26px;top:50%;left:0;margin-top:-13px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat -30px -60px;background-size:75px}
.unit_zoomImage .swipeArr .arrNext:after{right:0;left:auto;background-position:-51px -60px}
.unit_zoomImage .swipeNum{position:absolute;width:100%;bottom:-30px;text-align:center}
.unit_zoomImage .swipeNum .numWrap{display:inline-block;height:20px;padding:0 10px;border-radius:10px;background:rgba(0,0,0,.3);line-height:22px;color:#fff}
.unit_zoomImage .swipeNum .currentNum{padding-right:2px}
.unit_zoomImage .swipeNum .totalNum{padding-left:2px}

/* 별점 */
.user_feedback .score .starScoreWrap{position:relative;display:inline-block;width:60px;height:10px;margin-right:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_unit_score_2x.png) 0 0 no-repeat; background-size:60px 10px; padding:0 !important;}
.user_feedback .score .starScoreWrap .starScoreCnt{display:block;height:10px;padding:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_unit_score_2x_on.png) 0 0 no-repeat; background-size:60px 10px}
.user_feedback .score .review { display:inline-block !important; }

/*201804 광고솔루션*/
/*이미지 .ad_icon{position:absolute;top:0;font-size:0px;color:#fff;display:block;width:25px;height:17px;line-height:17px;text-align:center;background:url(http://image.lotte.com/lotte/mo2018/common/ad_icon_2018.png);background-size:25px 17px;z-index:2}*/
.ad_icon{position:absolute;top:0;font-size:11px;color:#fff;display:block;width:25px;height:17px;line-height:17px;text-align:center;background:url(http://image.lotte.com/lotte/mo2018/common/ad_icon_bg.png);background-size:25px 17px;z-index:2}

/*텐텐매장 */
.tt_flag{position:absolute;left:6px;bottom:6px;width:70px;height:19px}
.tt_flag.img{width:80px;height:21px}
.tt_flag.swipe{width:100px;height:26px;left:10px;bottom:10px}
.tt_flag.banner{width:100px;height:26px;left:12px;bottom:12px}
.unit_list_03 .thumb .tt_flag.swipe img{width:100%;height: auto;position: relative;z-index:1}
.prd_item .thumb .tt_flag img{width:100%;max-width:auto;height:auto}
