@charset="utf-8";

/* 상품리스트 : 이미지형 */
.prod_simple_01{background-color:#ffffff;border-top:1px solid #d0d0d0;}
.prod_simple_01:after{clear:both;display:block;content:'';}
.prod_simple_01 li{width:50%;border-bottom:1px solid #d0d0d0;float:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.prod_simple_01 li:nth-child(odd){border-right:1px solid #d0d0d0}

/* 무료배송 플래그 */
.flag.tag{
	display:inline-block;
	padding:0 5px;
	border:1px solid #a4a4a4;background-color:#fff;
	color:#a4a4a4;font-size:11px;line-height:17px;
}
.unit_list_02 .unit_zoom{bottom:0;right:0}

/* 공통 유닛 표준 : 일반상품 : 이미지형 */
.unit_list_02{position:relative;padding-top:10px;}
.unit_list_02 > a{display:block;}
.unit_list_02 .thumb{
	width:150px;height:150px;margin:0 auto;
	position:relative;
}
.unit_list_02 .thumb p.flag{position:absolute;top:0;left:0}
.unit_list_02 .info{
	width:150px;margin:0 auto;
	position:relative;
	padding:8px 0;
}
.unit_list_02 .info .tit{
	display:block;
	height:36px;
	margin:0 0 10px;
	color:#333;font-size:14px;line-height:18px;
	overflow:hidden;text-overflow:ellipsis;
	display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;
}
.unit_list_02 .info .pr_box{height:20px;}
.unit_list_02 .info .pr_box .price{display:block;color:#3874ec;letter-spacing:-0.8px;}
.unit_list_02 .info .pr_box .price em{font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.unit_list_02 .info .pr_box .price2{display:block;color:#bbbbbb;font-size:12px;text-decoration:line-through;letter-spacing:-0.8px;}


.unit_list_02 .info .coupon{
	position:absolute;bottom:15px;right:5px;
	color:#333;font-size:14px;
}
.unit_list_02 .info .coupon em.no{font-size:19px;}
.unit_list_02 .info .coupon em.po{margin:0 0 0 2px;}
.unit_list_02 .info .coupon span{display:block;color:#bbb;font-size:10px;}

.unit_list_02 .info2{
	width:150px;margin:0 auto;
	position:relative;z-index:5;
	padding:0 5px;
	height:30px;
	line-height:28px;
}
.unit_list_02 .info2 .review{color:#888;font-size:11px;font-weight:bold;}
.unit_list_02 .info2 .review em{font-weight:normal;}
.unit_list_02 .info2 .wish_icon{position:absolute;top:3px;right:5px}