@charset "UTF-8";
.prod_search_container{margin:5px;}
.prod_search_container.prd_srh_cnt_lst{margin:0;}
.prod_search_container.prd_srh_cnt_img{background-color:#fff;margin:0;padding:5px;}
.prod_search_container.prd_srh_cnt6{margin-left:7px;}
.prod_search_container:after{content:"";display:block;height:4px;}
.prod_search_container.prd_srh_cnt_lst:after{height:6px;}

.prod_search_container .unit_box{position:relative;}

.unitWrap .prod_search_container.prd_srh_cnt_lst:before{content:"";display:block;height:3px;} 
.unitWrap ~ .unitWrap .prod_search_container.prd_srh_cnt_lst:before{height:6px;}

.prod_search_container  span.flag, .prod_search_container  p.flag span{height:19px !important;line-height:19px !important;}

/* search image top6 */
.prod_search_06{position:relative;padding-top:133.32%;}

.prod_search_06 > li{position:absolute;}
.prod_search_06 > li > div{position:relative;padding-top:100%;}
.prod_search_06 .unit_search_06{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;}

.prod_search_06 li.big{width:66.66%;height:50%;}
.prod_search_06 li.small{width:33.33%;height:25%;}
.prod_search_06 li.list0{top:0;left:0;-webkit-transform:translate(-2px, 0);transform:translate(-2px, 0);}
.prod_search_06 li.list1{top:0;right:0;}
.prod_search_06 li.list2{top:25%;right:0;}
.prod_search_06 li.list3{top:50%;left:0;-webkit-transform:translate(-2px, 4px);transform:translate(-2px, 4px);}
.prod_search_06 li.list4{top:50%;right:0;-webkit-transform:translate(0, 4px);transform:translate(0, 4px);}
.prod_search_06 li.list5{top:75%;right:0;-webkit-transform:translate(0, 4px);transform:translate(0, 4px);}
.prod_search_06 li.list0 .unit_search_06{}
.prod_search_06 li.list1 .unit_search_06{left:2px;bottom:2px;}
.prod_search_06 li.list2 .unit_search_06{left:2px;top:2px;}
.prod_search_06 li.list3 .unit_search_06{}
.prod_search_06 li.list4 .unit_search_06{left:2px;bottom:2px;}
.prod_search_06 li.list5 .unit_search_06{left:2px;top:2px;}

.prod_search_06 a{display:block;height:100%;}
.prod_search_06 .thumb{height:100%;background-position:50% 50%;background-size:100% auto;background-repeat:no-repeat;background-color:#fff;}
/* .prod_search_06 .thumb img{width:100%;opacity:0;} */
.prod_search_06 .thumb > .flag{position:absolute;top:0;left:0;}
.prod_search_06 .info{position:absolute;left:0;bottom:0;right:0;}
.prod_search_06 .info .pr_box{height:30px;line-height:30px;background-color:rgba(0,0,0,0.3);padding-left:10px;font-size:14px;color:#fff;}
.prod_search_06 .info .pr_box .price{font-size:10px;}
.prod_search_06 .info .pr_box .price em{font-size:14px;}
.prod_search_06 .favor{display:block;width:42px;height:40px;position:absolute;top:0;right:11px;text-align:center;color:#fff;padding-top:6px;
	background:url(http://image.lotte.com/lotte/mo2015/angular/search/search_2017_02.png) no-repeat 0 -140px;background-size:100px auto;}

.prod_search_container .unit_list_02 .unit_box a{display:block;height:100%;}
.prod_search_container .unit_list_02 .thumb{height:100%;background-position:50% 50%;background-size:100% auto;background-repeat:no-repeat;}
/* .prod_search_container .unit_list_02 .thumb img{opacity:0;} */

/* search list */
.prod_list_01.prod_search_list > li{padding:0;background-color:#eee;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.prod_list_01.prod_search_list > li ~ li{margin-top:6px;}
.prod_list_01.prod_search_list > li > div{border:none;}
.prod_search_list .unit_list_01{border:none;}
.prod_search_container .unit_box.left_box{position:absolute;left:0;top:0;width:145px;height:145px;}
.prod_search_container .unit_box.right_box{position:relative;height:145px;}
.prod_search_list .unit_list_01_v2 .thumb{top:0;left:0;width:145px;height:145px;background-position:50% 50%;background-size:100% auto;background-repeat:no-repeat;}
/* .prod_search_list .unit_list_01_v2 .thumb img{opacity:0;} */
.prod_search_list .unit_list_01_v2 .info{margin-left:155px;padding-top:10px;padding-right:10px;}
.prod_search_list .unit_list_01_v2 .info2{position:absolute;left:155px;bottom:8px;right:10px;margin:0;padding:0;height:auto;}
.prod_search_list .unit_list_01_v2 .info .pr_box{position:relative;left:auto;bottom:auto;overflow:hidden;}
.prod_search_list .unit_list_01_v2 .info2 .info_dsc{display:block;line-height:18px;height:18px;overflow:hidden;}
.prod_search_list .hash_list{border:none;border-top:1px solid #f0f0f0;height:40px;}
.prod_search_list .hash_list.empty_hash{display:none;}
.prod_search_list .review_list{border-top:1px solid #f0f0f0;background:#fff}
.prod_search_list .review_list ul{padding:5px 0;}
.prod_search_list .review_list .review_ul li{display:block;}
.prod_search_list .review_list .review_ul li a{position:relative;display:block;overflow:hidden;height:24px;padding-left:50px;margin-left:7px;margin-right:7px;line-height:24px;
	font-size:12px;color:#666;white-space:nowrap;text-overflow:ellipsis;border-radius:2px;}/* 20170523 */
.prod_search_list .review_list .review_ul li a.highlight{background-color:#e5e5e5;}
.prod_search_list .review_list .review_ul li a:before{content:"상품평";display:block;width:40px;height:16px;line-height:16px;border:1px solid #c9d7f5;border-radius:8px;
	position:absolute;top:3px;left:0;font-size:11px;text-align:center;color:#7391cf}/* 20170523 */
.prod_search_list .review_list .hash_ul{overflow:hidden;height:38px;margin:0 7px;}
.prod_search_list .review_list .hash_ul li{float:left;padding:9px 8px 9px 0;}
.prod_search_list .review_list .hash_ul li a{height:20px;line-height:20px;display:block;background:#f5f5f5;color:#999;font-size:12px;padding:0 5px;}
.prod_search_list .review_list.empty_review .review_ul{display:none;}
.prod_search_list .review_list.hash_only .review_ul{display:none;}
@media screen and (min-width:640px) and (max-width:899px){
    /* .prod_list_01.prod_search_list > li:nth-child(2){margin-top:0 !important;} */
    .prod_search_list .hash_list.empty_hash{display:block;}
    .prod_search_list .review_list.empty_review{display:block;}
    .prod_search_list .review_list{display:none}
    .prod_search_list .review_list.show_hash{height:48px;}
}
@media screen and (min-width:900px){
	.prod_list_01.prod_search_list > li{width:50%;}
    /* .prod_list_01.prod_search_list > li:nth-child(2){margin-top:0 !important;} */
    .prod_search_list .hash_list.empty_hash{display:block;}
    .prod_search_list .review_list.empty_review{display:block;}
    .prod_search_list .review_list{display:none}
    .prod_search_list .review_list.show_hash{height:48px;}
}

/* search image */
.prod_list_02.prod_search_img{border:none;}
.prod_list_02.prod_search_img:before{content:"";display:block;height:0;border-bottom:1px solid #f0f0f0;}
.prod_list_02.prod_search_img:after{content:"";display:block;height:0;border-bottom:1px solid #f0f0f0;-webkit-transform:translate(0, -1px);transform:translate(0, -1px);}
.prod_list_02.prod_search_img > li:before{content:"";display:block;height:6px;}
.prod_list_02.prod_search_img > li:after{content:"";display:block;height:5px;border-bottom:1px solid #f0f0f0;}
.prod_search_img .unit_list_02:after{content:none;}
.prod_search_img .unit_list_02{border-right:none;padding:0 3px;}
.prod_search_img .unit_list_02 .info .pr_box{overflow:hidden;}

.prod_search_container .wish_wrap{position:absolute;bottom:0;right:0;z-index:5;}
.prod_search_container .wish_btn{position:relative;width:30px;height:30px;background-color:rgba(0,0,0,0.4);text-indent:-1000px;overflow:hidden;}
.prod_search_container .wish_btn:after{content:"";display:block;width:20px;height:17px;position:absolute;left:6px;top:7px;
	background:url(http://image.lotte.com/lotte/mo2015/angular/search/search_2017_02.png) no-repeat -35px -85px;background-size:100px auto;}
.prod_search_container .wish_btn.on:after{background-position:-55px -85px;}

.prod_search_container .sex_age{display:block;position:absolute;left:0;right:30px;bottom:0;height:30px;line-height:30px;color:#fff;font-size:12px;z-index:5;box-sizing:border-box;padding-left:10px;}
.prod_search_container .sex_age.sexf{background-color:rgba(240,138,199,0.85);}
.prod_search_container .sex_age.sexm{background-color:rgba(113,156,588,0.85);}
.prod_search_container .sex_age span{display:inline;}

.prod_search_img .unit_list_02 .info2{height:40px;line-height:20px;}
.prod_search_img .unit_list_02 .info .tit{margin-bottom:2px;}
.prod_search_container .user_feedback .score .starScoreWrap{width:55px;background:url(http://image.lotte.com/lotte/mo2015/angular/search/search_2017_02.png) no-repeat 0 -115px;background-size:100px auto;}
.prod_search_container .user_feedback .score .starScoreWrap .starScoreCnt{width:55px;background:url(http://image.lotte.com/lotte/mo2015/angular/search/search_2017_02.png) no-repeat 0 -125px;background-size:100px auto;}
.prod_search_img .unit_list_02 .hash_list{height:34px;}
.prod_search_img .hash_list ul{height:34px;}
.prod_search_img .hash_list ul li{padding:7px 8px 7px 0;}

.prod_search_container .unit_list_01_v2 .info2 .info_dsc .noItr{color:#fb7155;background:none;padding:0;}

.enlargeFont .unit_list_01_v2 .info p.flag{height:20px;}
.enlargeFont p.flag span.flag{font-size:13px;}
.enlargeFont span.flag, .enlargeFont p.flag span{height:20px !important;line-height:21px !important;}
.enlargeFont .unit_search_06 p.flag span.flag{font-size:10px;}
.enlargeFont .unit_search_06 span.flag, .enlargeFont .unit_search_06 p.flag span{height:19px !important;line-height:19px !important;}
.enlargeFont .unit_list_01 .info .tit{font-size:18px;line-height:22px;height:44px;}
.enlargeFont .prod_search_container .sex_age{font-size:14px;}
.enlargeFont .hash_list ul li a{font-size:15px;}
.enlargeFont .unit_deal_01 .info .prod .tit{font-size:18px;line-height:22px;height:22px;}
.enlargeFont .unit_list_02 .info .tit{font-size:18px;line-height:22px;height:44px;}
/* 20180514 무료 배송 플래그 추가 */
.prod_search_img .unit_list_02 .info2 .info_dsc{height: 18px;position: relative;overflow:hidden;bottom:0}
.prod_search_img .unit_list_02 .info2 .info_dsc span{display:inline-block;color: #f27c3d;font-size: 12px;margin-right: 7px;}
.prod_search_img .unit_list_02 .info2 .info_dsc span:nth-child(3){display:none;}
.search2017.prod_search_container span.tenten{display:block;width:80px;height:21px;position:absolute;left:6px;bottom:6px;background:url(http://image.lotte.com/lotte/mo2018/search/ic_tenten.png) no-repeat 0 0;background-size:80px 21px;text-indent:-999999px}
.search2017.prod_search_container span.tenten ~ .sex_age{display:none;}
.prod_search_container.prd_srh_curationBlist div.wish_wrap{ top: 10px;right: -8px;}