@charset "utf-8";

.order_complete {background-color:#fff;}

/* btn */
.btn_style1 {height:24px;display:inline-block;color:#888888;font-size:12px;border:solid 1px #dddddd;padding:0 9px;line-height:22px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#ffffff}
.btn_style2 {height:40px;display:inline-block;color:#719cff;font-size:14px;border:solid 1px #719cff;padding:0 24px;line-height:38px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fffffff;border-radius:20px}
.btn_style3 {height:40px;display:inline-block;color:#ffffff;font-size:14px;border:solid 1px #719cff;padding:0 24px;line-height:38px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#719cff;border-radius:20px}
.bi-sp:before{content:"";display:inline-block;width:15px;height:13px;margin-right:3px;border:none;background:url('http://image.lotte.com/lotte/mo2015/angular/order/order_complete.png') no-repeat -50px 0; background-size:300px 300px;vertical-align:middle;margin-top:-2px;}

/* 주문완료 */
.tx_order_complete{background-color:#eeeeee}
.tx_order_complete .txt {text-align:center;padding:22px 0;line-height:22px;font-size:20px;font-weight:normal}
.tx_order_complete .txt span {color:#3874ec}
.tx_order_complete .status_smartPick {position:relative;padding:10px;}
.tx_order_complete .status_smartPick p {font-size:12px;color:#666666;line-height:16px;margin-bottom:17px}
.tx_order_complete .status_smartPick a{position:absolute;bottom:10px;right:10px;white-space:nowrap;}

/* table */
table .left{text-align:left;} 
table .right, table .money{text-align:right;} 
table .center{text-align:center;}
.tbl_style00 {padding:10px;border-top:1px solid #dcdcdc;}
.tbl_style00 table {}
.tbl_style00 table tr th {text-align:left;font-weight:normal;color:#999999;vertical-align:top;letter-spacing:-0.8px;}
.tbl_style00 table tr th, .tbl_style00 table tr td {padding:2px 0;}
.tbl_style00 table tr td {line-height:18px;}
.tbl_style00 table tr td span{color:#3874ec}
.tbl_style01 {padding:0 10px;border-top:1px solid #dcdcdc;}
.tbl_style01 table {}
.tbl_style01 table tr th, .tbl_style01 table tr td {padding:13px 7px;border-bottom:1px solid #dcdcdc}
.tbl_style01 table tr th {text-align:left;font-weight:normal;color:#888;}
.tbl_style01 table tr td span {font-size:14px;font-weight:bold;}
.tbl_style01 table tr .tot_money {color:#3874ec}
.tbl_style01 table tr td .tot_money {font-size:17px;font-weight:normal;}
.tbl_style01 table tr td .tot_money span {font-size:22px}
.btn_areaC {text-align:center;margin:15px 0}

.order_complete .order_banner{/*border-top:1px solid #dcdcdc;padding-bottom:5px;*/background-color:#eee;}
.order_complete .order_header {padding:14px 10px;line-height:14px;font-size:14px;font-weight:bold;border-top:1px solid #dcdcdc;background-color:#eee}
.order_complete .product_list_02 {position:relative;top:0px;background-color:#fff;overflow:hidden;}
.order_complete .product_list_02 span.cont01 {display:block;position:relative;min-height:110px;margin-left:126px;padding-right:20px;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_complete .product_list_02 {box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_complete .product_list_02 > li {overflow:hidden;border:1px solid #dcdcdc;border-top:none;line-height:normal;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff}
.order_complete .product_list_02 > li:after {content:"";display:block;clear:both;height:0;visibility:hidden;}
.order_complete .product_list_02 > li:first-child {border-top:1px solid #dcdcdc}
.order_complete .product_list_02 > li .group{padding:10px;}
.order_complete .product_list_02 > li .group span.cont01 {min-height:86px;margin-left:96px;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_complete .product_list_02 > li .group span.thumb {float:left;margin:0 10px -3px 0;position:relative;}
.order_complete .product_list_02 > li .group span.thumb img {width:86px;height:86px;border:1px solid #e2e4e8;box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_complete .product_list_02 > li .group .tl {padding:0;margin-bottom:10px;font-size:13px;color:#2c2c2c;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap: break-word;-webkit-box-orient:vertical;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_complete .product_list_02 > li .group .color_size {max-height:26px;color:#ff7b62;font-size:12px;line-height:13px;overflow:hidden}
.order_complete .product_list_02 > li .group .btn_list {position:absolute;width:100%;bottom:0;left:0;white-space:nowrap;overflow:hidden}
.order_complete .product_list_02 > li .group .btn_list a {position:relative;margin-right:8px;padding-left:18px;font-size:12px;line-height:13px;color:#aaaaaa}
.order_complete .product_list_02 > li .group .btn_list .message:before {content:"";display:inline-block;position:absolute;top:2px;left:0;width:14px;height:10px;margin-right:5px;border:none;background: url('http://image.lotte.com/lotte/mo2015/angular/order/order_complete.png') no-repeat 0 0;background-size:300px 300px;-webkit-background-size:300px 300px;}
.order_complete .product_list_02 > li .group .btn_list .packing:before {content:"";display:inline-block;position:absolute;top:0;left:0;width:13px;height:13px;margin-right:5px;border:none;background: url('http://image.lotte.com/lotte/mo2015/angular/order/order_complete.png') no-repeat -25px 0;background-size:300px 300px;-webkit-background-size:300px 300px;}

.order_complete .order_info{padding:5px 10px;background-color:#eeeeee}
.order_complete .order_info ul li {padding:5px 7px;line-height:15px;position:relative;font-size:11px;color:#999999;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_complete .order_info ul li:before {content:'';display:block; width:2px; height:2px; background:#ccc; position:absolute; left:0; top:11px; }


/*결함관리*/
.order_none {padding:100px 0;background:#fff;font-size:15px;}
.order_none .box {padding:10px 20px;text-align:center;}
.order_none .box .txt p {margin-bottom:50px;}
.order_none .box .btn a {border: none;font-size: 14px;padding: 7px 10px;background-color: #719cff;border-radius: 20px;}
.order_none .box .btn a span {background:none;}
/*20151025*/
.tbl_style00 td .btn_style1 {height:auto;padding:3px 7px;line-height:17px; lette-spacing:-1px; white-space:nowrap;}
.tbl_style00 td .btn_style1:before {margin-top:0;}

/* 주문완료 페이지 뒤로가기 버튼 감춤 */
#head_sub .prev >a,
.quick_btn .btn_back{display:none !important;}

/* 20160119 명절안내 문구 추가 */
.tx_order_complete .holiday_txt{padding-bottom:10px;font-weight:bold;font-size:13px;line-height:17px;color:#CD3800;text-align:center}
.tx_order_complete .holiday_txt p{margin-top:5px}

/* 20160223 추가 */
.cart_keep{margin-top:-1px;border-top:1px solid #e3e3e3;background-color:#eee}
.cart_keep p{background-color:#fff;overflow:hidden;border-top:1px solid #d5d5d5;padding:11px 15px 11px 10px;margin-top:6px}
.cart_keep p span.txt{display:block;line-height:16px;float:left;width:65%;}
.cart_keep p span.btn{display:block;float:right;width:35%;text-align:right;margin-top:6px;}

#cover, #cartKeepPop.ansimPop{position:fixed;left:0;display:none}
#cover{top:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:110}
#cartKeepPop.ansimPop{z-index:9000;width:90%;top:40%;margin-top:-120px;;left:5%;border-radius:20px;background:#eee}
#cartKeepPop.ansimPop header#head_sub{background-color:#f6f6f6;border-radius:15px 15px 0 0;border-bottom:0;border-top:0}
#cartKeepPop.ansimPop header#head_sub h2{height:46px;line-height:43px;font-size:17px;color:#333}
#cartKeepPop.ansimPop .txt{border-bottom:1px solid #dcdcdc;padding-left:40px;padding-top:7px;line-height:18px;padding-bottom:9px;color:#888;background:url(http://image.lotte.com/lotte/mo2015/angular/order/k_keep_layer_txticon.png) no-repeat 21px 11px;background-size:13px 13px}    
#cartKeepPop.ansimPop .order_number{line-height:35px;padding-left:17px;background:#fff}
#cartKeepPop.ansimPop p.btn_area a{margin-top:6px;display:block;font-weight:bold;width:100%;height:46px;font-size:16px;line-height:46px;text-align:center;color:#fff;border-radius:0 0 15px 15px;background-color:#749eff;text-shadow:none;border:none;box-sizing:border-box;-webkit-box-sizing:border-box}
#cartKeepPop.ansimPop p.close a{display:block;position:absolute;top:-20px;right:13px;text-indent:-999px;font-size:0;line-height:0;background:url(http://image.lotte.com/lotte/mo2015/angular/order/btn_close.png) no-repeat 0 0;background-size:15px 15px;width:15px;height:15px}
 
#cartKeepPop.ansimPop .order_list{overflow:auto;height:223px;background:#fff}
#cartKeepPop.ansimPop .order_list .product_list_02{border-bottom:1px solid #dcdcdc}
#cartKeepPop.ansimPop .order_list .product_list_02 > li{position:relative;border:0;border-top:1px solid #eee;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li:first-child{border-top:1px solid #eee}
#cartKeepPop.ansimPop .order_list .product_list_02 > li{height:76px;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .box{display:none;z-index:1111;position:absolute;top:0;left:0;width:100%;height:76px;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .box span{display:block;width:100%;height:76px;background:#000;opacity:0.4;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .box var{display:block;position:absolute;top:20px;margin-left:-15px;left:50%;width:35px;height:35px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/k_keep_layer_icon.png) no-repeat center 0;background-size:35px 35px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .option{position:absolute;left:0;bottom:-3px;width:100%;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .option span{display:block;color:#ff7b62;font-size:12px;margin:0;height:18px;white-space:nowrap;overflow:hidden;word-break:break-all;text-overflow:ellipsis}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .group{padding:7px 17px 10px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .group .thumb{padding-top:3px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .group .thumb img{width:54px;height:54px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .group .tl{margin-bottom:4px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li .group span.cont01{min-height:54px;margin-left:66px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li.on{border-top:0;}
#cartKeepPop.ansimPop .order_list .product_list_02 > li.on .group{margin-top:1px;border-bottom:1px solid #eee;padding:7px 17px 9px}
#cartKeepPop.ansimPop .order_list .product_list_02 > li.on .box{display:block;border-bottom:1px solid #8f8f8f;}

/* 0304 구매사은 메세지 추가 */
.OrderMessage{margin:15px 12px 17px;}
.OrderMessage a{position:relative;display:block;width:100%;border-radius:4px;background:#8cafff;padding-top:8px;padding-bottom:10px;}
.OrderMessage a:before{content:"";width:10px;height:16px;position:absolute;top:38%;right:12px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/k_order_message_layer_var02.png) right center no-repeat;background-size:10px 16px}
.OrderMessage a span:first-child{display:block;width:300px;position:relative;margin:0 auto;}
.OrderMessage a span:first-child:before{content:"";display:block;width:24px;height:8px;position:absolute;top:-13px;right:65px;background-size:24px 8px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/k_order_message_layer_var01.png) 0 0 no-repeat}
.OrderMessage a span:last-child{display:block;color:#fff;font-size:15px;line-height:22px;margin-left:14px;margin-right:32px;font-weight:normal;}
.OrderMessage a span:last-child b{color:#fffd77;font-weight:normal;}

/* 20160513 선물하기 문구 추가 */
.gift_txt{padding:20px 0 18px;font-size:16px;line-height:21px;text-align:center}
.gift_txt:before{content:'';display:block;width:31px;height:52px;margin:0 auto 14px auto;background:url(http://image.lotte.com/lotte/mo2015/angular/order/ic_gift_order.png) no-repeat 0 0;background-size:31px}
.gift_txt p{margin-bottom:3px;font-size:20px;line-height:29px}
.gift_txt p span{color:#3874ec}

/* 20160603 선물주문서 주문완료 문구 추가 */
.gift_order_txt{padding:25px;font-size:16px;line-height:23px;text-align:center}
.gift_order_txt:before{content:'';display:block;width:89px;height:45px;margin:0 auto 13px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/ic_gift_order2.png) no-repeat 0 0;background-size:150px}
.gift_order_txt p{margin-top:3px;font-size:20px}
.gift_order_txt p span{color:#3874ec}
.gift_order_txt.type2:before{width:54px;background-position:100% 0}

/* 20160628 주문완료 추천상품 */
.order_recom_wrap{padding-bottom:16px;border:1px solid #d7d7d7;border-width:1px 0;background:#fff}
.order_recom_wrap h3{padding-top:7px;padding-left:10px;font-size:13px;line-height:31px}
.order_recom_wrap .mask{position:relative;height:175px;overflow:hidden}
#order_recom,
#order_recom ul{float:left}
#order_recom li{float:left;width:33.3%;height:155px}
#order_recom li a{display:block;width:96px;margin:0 auto;font-size:12px;line-height:16px}
#order_recom li .imgWrap img{height:96px}
#order_recom li .sPrdTit{display:block;height:32px;margin-top:4px;word-wrap:break-word;overflow:hidden}
#order_recom li .sPrice{display:block;margin-top:4px}
#order_recom li .sPrice strong{font-size:14px}
.order_recom_wrap .indicator{position:absolute;width:100%;height:6px;bottom:0;left:0;text-align:center}
.order_recom_wrap .indicator span{display:inline-block;width:6px;height:6px;margin:0 3px;border-radius:50%;background:#ccc;font-size:0;vertical-align:top}
.order_recom_wrap .indicator span.on{background:#333}

/* 2016.08.12 배송메시지*/
.order_complete .product_list_02 > li .emsgd{ margin: 0 9px 9px;padding-bottom: 9px;background: #f7f7f7;letter-spacing: -0.7px;}
.order_complete .product_list_02 > li .emsgd>div{overflow: hidden;padding:9px 0 0 9px;line-height:16px}
.order_complete .product_list_02 > li .emsgd div.arrived_today span strong{padding-left:0} 
.order_complete .product_list_02 > li .emsgd div strong.l_block{display: inline-block;width:45px;height:17px;text-align:center;background:#fe7a63;font-size:10px;color:#fff;line-height:17px}
.order_complete .product_list_02 > li .emsgd div p{padding-left: 48px;font-size: 12px}
.order_complete .product_list_02 > li .emsgd div span{vertical-align: middle;padding-left:5px; font-size:12px;white-space:nowrap;padding-top:1px}
.order_complete .product_list_02 > li .emsgd div span strong{color:#fe7c62;padding:0 2px}

/* 2016.12.20 선물서비스 대량주문 관련 */
.gift_bulk_order_txt{padding:25px 0;font-size: 16px;line-height: 21px;text-align:center;height:128px}
.gift_bulk_order_txt:before{content:'';display:block;width:89px;height:45px;margin:0 auto 12px;background:url(http://image.lotte.com/lotte/mo2015/angular/order/ic_gift_order2.png) no-repeat 0 0;background-size:150px}
.gift_bulk_order_txt p span{color:#3874ec;font-size: 20px;margin-bottom:3px;line-height: 29px;display:block}

/*20180529 런닝피쉬*/
.order_complete .product_list_02 > li .dlv_dsc{border-top:1px solid #f2f2f2;height:43px;line-height:43px;margin: 0 10px}
.order_complete .product_list_02 > li .dlv_dsc span{display: inline-block;font-size:13px;color:#333}
.order_complete .product_list_02 > li .dlv_dsc .dlv_tit{color:#888;width:64px}

/* 20180725 무통장입금 서울보증보험안내문구추가 */
.order_complete .order_Untouched {padding:5px 10px;background-color:#eeeeee}
.order_complete .order_Untouched p {font-weight:bold;padding:5px 20px;line-height:15px;position:relative;font-size:11px;color:#999999;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_complete .order_Untouched p.msg_lstnotis:before {content:'';display:block; width:2px; height:2px; background:#ccc; position:absolute; left:0; top:11px; }
.order_complete .order_Untouched p.msg_lstnotis {font-weight:normal;padding:5px 7px} 
.order_complete .order_Untouched span {display:block;font-weight:normal}