@charset "utf-8";

/* 랭킹존 - 실시간BEST */
.ranking_zone .tab {overflow:hidden;display:table;width:100%;margin-bottom:10px}
.ranking_zone .tab li {display:table-cell;border-bottom:solid 1px #bdbdbd;border-left:solid 1px #bdbdbd;height:37px;background:#dbdee0;text-align:center;width:25%;box-sizing:border-box;-webkit-box-sizing:border-box}
.ranking_zone .tab li:first-child {border-left:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.ranking_zone .tab li.on {border-bottom:none;border-right:none;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.ranking_zone .tab li a {display:block;height:34px;padding-top:12px;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}
.ranking_zone .tab li.on a {color:#193475}
.ranking_zone .sub-tab {display:none}

/* 랭킹존 - 판매BEST */
.sell_nav {overflow:hidden;position:relative;border-bottom:1px solid #bdbdbd;background:#dbdee0;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_nav div {overflow-x:scroll;margin:0 33px}
.sell_nav ul {width:640px}
.sell_nav li {float:left;font-size:12px;display:inline-block;height:35px;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_nav li a {display:inline-block;padding:11px 12px 0;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_nav li.on {background:#fff}
.sell_nav li.on a {color:#193475}
.sell_nav span {position:absolute;top:0px;width:33px;height:35px;cursor:pointer;text-indent:-9999em;color:transparent}
.sell_nav span:before {content:"";position:absolute;top:13px;width:6px;height:11px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon02.png) no-repeat;background-size:50px 100px;}
.sell_nav span.lft {left:0}
.sell_nav span.lft:before {left:13px;background-position:-44px -26px }
.sell_nav span.rgt {right:0}
.sell_nav span.rgt:before {right:13px;background-position:-44px -40px}
.sell_header {background:#f5f6f7;border-bottom:solid 1px #dde1e7;padding:8px;font-size:0;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_header .wid {width:100%;padding-right:52px;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_header .s_box01 {width:100%;float:left}
.sell_header .s_box03 {width:44px;float:right}
.sell_txt {padding:15px 0 0 18px;font-size:11px;color:#555;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.sell_txt:before {content:"";font-size:9px;position:absolute;top:20px;left:11px;border-left:solid 3px #9fa5b5;height:3px;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 랭킹존 - 핫이슈 */
.hot_issus_header {border-bottom:solid 1px #dde1e7;padding:8px;font-size:0;overflow:hidden;height:45px;box-sizing:border-box;-webkit-box-sizing:border-box}
.hot_issus_header .txt {float:left;color:#000;font-size:13px;font-weight:bold;padding:6px 0 0 5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.hot_issus_header .s_box03 {width:44px;float:right}

/* 이거어때?랭킹 */
.this_ranking .event_banner {overflow:hidden}
.this_ranking .save {margin:25px 0 0;text-align:center}
.this_ranking .save span {margin:0 2px}
.this_ranking .save .this {color:#444}
.this_ranking .save .this:before {content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat 0 -72px;background-size:125px 300px;width:67px;height:26px;display:inline-block;vertical-align:middle}
.this_ranking .save .clover {}
.this_ranking .save .clover:before {content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat -101px -24px;background-size:125px 300px;width:15px;height:14px;display:inline-block;vertical-align:middle}
.this_ranking .save .clover em {color:#325f09}
.this_ranking .sns {margin:8px 0 25px;text-align:center;overflow:hidden;font-size:0}
.this_ranking .sns a {margin:0 3px}
.this_ranking .day_nav {overflow:hidden;position:relative;border-top:solid 1px #0a5ad5;border-bottom:solid 1px #bdbdbd;background:#dbdee0;box-sizing:border-box;-webkit-box-sizing:border-box}
.this_ranking .day_nav div {overflow:hidden;margin:0 44px}
.this_ranking .day_nav ul {position:relative;}
.this_ranking .day_nav li {float:left;font-size:12px;color:#444a64;font-weight:bold;display:inline-block;height:35px;box-sizing:border-box;-webkit-box-sizing:border-box}
.this_ranking .day_nav li em {font-size:13px;font-weight:bold}
.this_ranking .day_nav li.on {background:#fff;color:#193475}
.this_ranking .day_nav span {position:absolute;top:0;cursor:pointer;width:44px;height:100%;display:inline-block;color:#8895a6;padding:10px 17px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.this_ranking .day_nav span.lft {left:0px}
.this_ranking .day_nav span.lft:before {content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon02.png) no-repeat 0 -19px;background-size:50px 100px;width:10px;height:12px;display:inline-block}
.this_ranking .day_nav span.rgt {right:0px}
.this_ranking .day_nav span.rgt:after {content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon02.png) no-repeat -6px -19px;background-size:50px 100px;width:10px;height:12px;display:inline-block}
.this_ranking .product_list02 li {min-height:250px;}

/* 쇼핑매거진 */
.shopping_magazine {padding:8px;padding-bottom:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.shopping_magazine ul li {padding-top:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.shopping_magazine ul li:first-child {padding-top:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.shopping_magazine_view {}
.shopping_magazine_view .roll_banner01 {overflow:hidden;position:relative;background:#fff;padding-bottom:5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.shopping_magazine_view .roll_banner01 .photo {position:relative;left:0}
.shopping_magazine_view .roll_banner01 .photo li {position:relative;display:none;float:left}

/* 메인카테고리 */
.main_category {padding:8px 0px 12px}
.main_category .roll_banner01 {overflow:hidden;position:relative;background:#fff;padding-bottom:5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner01 .photo {position:relative;left:0}
.main_category .roll_banner01 .photo li {position:relative;display:none;float:left;padding:0 8px 13px;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner01 .photo li img {border:solid 1px #d3d3d3}
.main_category .roll_banner01 .page ul {position:relative;margin:0 auto}
.main_category .roll_banner01 .page li {display:inline-block;padding:0 3px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner01 .page li span {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon.png) no-repeat -110px -82px;background-size:125px 400px;width:6px;height:6px;text-indent:-9999em;color:transparent;display:block}
.main_category .roll_banner01 .page li span.on {background-position:-96px -82px}
.main_category .roll_banner02 {overflow:hidden;position:relative;background:#fff;padding-bottom:20px;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner02 .set {display:table;width:100%}
.main_category .roll_banner02 .set li {display:table-cell;width:50%}
.main_category .roll_banner02 .set li > div {position:relative;width:148px;margin:0 auto}
.main_category .roll_banner02 .set li img {border:solid 1px #e3e3e3;width:148px;height:148px;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner02 .set li .tl {font-size:13px;display:block;line-height:21px;height:42px;margin:4px 0;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box}
.main_category .roll_banner02 .set li .money {font-size:15px;display:block;color:#ff4800}
.main_category .roll_banner02 .set li .money em {font-size:18px;font-weight:bold}
.main_category .roll_banner02 .photo {position:relative;left:0}
.main_category .roll_banner02 .photo > li {position:relative;/*display:none;*/ float:left}
.main_category .roll_banner02 .page {position:absolute;bottom:0;left:0;width:100%;text-align:center;}
.main_category .roll_banner02 .page span {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon.png) no-repeat -110px -82px;background-size:125px 400px;width:6px;height:6px;text-indent:-9999em;color:transparent;display:inline-block;margin:0 2px;}
.main_category .roll_banner02 .page span.swiper-active-switch {background-position:-96px -82px}
.category_menu10-1 .all {font-size:14px;color:#000;border-top:solid 1px #e1e1e1;border-bottom:solid 1px #e1e1e1;height:37px;padding:9px 0 0 15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu01 > li {}
.category_menu10-1 .smenu01 > li > div {position:relative;background:#f3f3f3;border-bottom:solid 1px #e1e1e1;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu01 > li > div > a {display:block;padding:9px 40px 9px 15px;min-height:36px;line-height:140%;color:#555;font-size:14px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu01 > li > div > a:after {content:"";position:absolute;top:50%;right:18px;width:9px;height:6px;margin-top:-3px;background-position:-64px -170px}
.category_menu10-1 .smenu01 > li > div > a.on:after {background-position:-50px -170px}
.category_menu10-1 .smenu02 > li {}
.category_menu10-1 .smenu02 > li > div {position:relative;background:#e1e1e1;border-bottom:solid 1px #d3d3d3;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu02 > li > div > a {display:block;padding:9px 40px 0px 35px;min-height:36px;line-height:140%;color:#555;font-size:14px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu02 > li > div > a:before {content:"";position:absolute;top:50%;left:23px;margin-top:-6px;width:6px;height:6px;border-left:solid 1px #7d7d7d;border-bottom:solid 1px #7d7d7d;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu10-1 .smenu02 > li > div > a:after {content:"";position:absolute;top:50%;right:19px;width:7px;height:11px;margin-top:-6px;background-position:-90px -150px}

/* 롯데백화점 카테고리 */
.category_menu20-1 .smenu01 > li .smenu02 { display:none;}
.category_menu20-1 .smenu01 > li.on .smenu02 { display:block;}
.category_menu20-1 .smenu01 > li > div {position:relative;background:#fff;border-bottom:solid 1px #e1e1e;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu20-1 .smenu01 > li > div > a {display:block;padding:9px 40px 0px 15px;min-height:35px;line-height:140%;color:#000;font-size:14px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu20-1 .smenu02 {}
.category_menu20-1 .smenu02 > li > div {position:relative;background:#e1e1e1;border-bottom:solid 1px #d3d3d3;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu20-1 .smenu02 > li > div > a {display:block;padding:9px 40px 0px 35px;min-height:36px;line-height:140%;color:#555;font-size:14px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu20-1 .smenu02 > li > div > a:before {content:"";position:absolute;top:50%;left:23px;margin-top:-6px;width:6px;height:6px;border-left:solid 1px #7d7d7d;border-bottom:solid 1px #7d7d7d;box-sizing:border-box;-webkit-box-sizing:border-box}
.category_menu20-1 .smenu02 > li > div > a:after {content:"";position:absolute;top:50%;right:15px;width:7px;height:11px;margin-top:-6px;background-position:-67px -150px}

/* 이메일쇼핑 */
.email_shopping .list li {overflow:hidden;border-bottom:solid 1px #d9dbde;padding:10px 8px 12px 13px;box-sizing:border-box;-webkit-box-sizing:border-box} 
.email_shopping .list li .cont {padding-right:80px;position:relative;height:77px}
.email_shopping .list li .txt {font-size:14px;color:#000;font-weight:bold;line-height:130%;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;-webkit-box-orient:vertical}
.email_shopping .list li .day {position:absolute;bottom:0px;left:0px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_shopping .list li .day span {padding-left:19px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon02.png) no-repeat -35px -7px;background-size:50px 100px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_shopping .list li .cont02 {padding-right:13px;position:relative;height:77px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_shopping .list li .photo {float:right}
.email_shopping .list li .photo img {width:60px;height:60px}
.email_shopping .list li .photo .money {display:block;padding-top:3px;text-align:center;font-size:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_shopping .list li .photo .money em {font-size:12px}
.email_shopping_view {padding-bottom:0;box-sizing:border-box;-webkit-box-sizing:border-box}
#email_receive {position:fixed;bottom:0;left:0;width:100%;display:none;}
.email_receive {width:100%;padding-bottom:30px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/category/email_receive_bg.png);background-size:2px 2px;box-shadow:0px 11px 1px -10px #535f6e inset;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_receive dl {background:url(http://image.lotte.com/lotte/mobile/mobile_new/category/email_receive.png) no-repeat 0 0;background-size:320px 145px;width:320px;height:145px;margin:0 auto;box-shadow:0px 11px 1px -10px #535f6e inset}
.email_receive dd {padding-left:86px;line-height:160%;letter-spacing:-0.02em;font-size:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_receive .txt01 {color:#000;padding-top:50px;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_receive .txt02 {color:#666}
.email_receive .txt {padding:11px 0 20px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/category/email_receive_txt.png) no-repeat center 0;background-size:189px 15px;text-indent:-9999em;color:transparent;height:15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.email_receive .btn01 {width:285px;margin:0 auto;font-size:0}
.email_receive .btn01 a {width:140px}
.email_receive .btn01 a:first-child {margin-right:4px}

/* brand_best */
.brand_best {background:#f5f6f7;border-bottom:solid 1px #dde1e7;padding:8px;font-size:0;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .wid {width:100%;padding-right:142px;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .b_box01 {width:100%;float:left}
.brand_best .s_box01 {width:90px;padding-right:8px;float:right;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .s_box03 {width:44px;float:right}
.brand_best .b_box01 .b_list01 {overflow:hidden;position:absolute;z-index:100;left:0;width:100%;padding:0 8px;display:none;margin-top:-1px;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .b_box01 .b_list01 div {background-color:#fff;border:solid 1px #0a5ad5;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .b_box01 .b_list01 li {border-top:solid 1px #dde1e7;box-sizing:border-box;-webkit-box-sizing:border-box}
.brand_best .b_box01 .b_list01 li a {display:block;height:34px;padding:8px 0 0 7px;font-size:14px;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 베스트 브랜드몰*/
#product_list > .none_list{background:url(http://image.lotte.com/lotte/mobile/mobile_new/category/bg_none_search_list.png) no-repeat 0 0;font-size:15px;color:#252525;width:266px;height:62px;background-size:266px auto;margin:33px auto;overflow:hidden;text-align:center;padding-top:24px}

