@charset "utf-8";

header {}
/* main header */
#head_main {position:relative;height:35px;border-bottom:solid 1px #193a86;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_main .wrap {width:100%;overflow:hidden;padding:0 8px;background-color:#285ace;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_main ul {position:relative;height:34px;width:100%}
#head_main ul:after {display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;content:'';}
#head_main li {float:left;}
#head_main li a {padding:2px 12px 0;display:-webkit-box;display:-moz-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;min-height:34px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;border-box;color:#fff;font-size:14px;letter-spacing:-0.09em;text-shadow:1px 1px #0849ad, -1px 1px #0849ad, 1px 0px #0849ad, 0px 1px #0849ad, 0px -1px #0849ad, -1px 0px #0849ad, -1px -1px #0849ad, 1px -1px #0849ad;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_main li a.on {background:#0d2a73;text-shadow:1px 1px #0b225d, -1px 1px #0b225d, 1px 0px #0b225d, 0px 1px #0b225d, 0px -1px #0b225d, -1px 0px #0b225d, -1px -1px #0b225d, 1px -1px #0b225d;}

/* sub header */
#head_sub {position:relative;height:44px}
#head_sub h2{text-align:left;padding:0 80px 0 44px;background-color:#719cff;height: 44px;font-size: 16px;line-height: 44px;border:none;text-shadow:none;color:#fff;position:relative;font-weight:normal;box-sizing:border-box;-webkit-box-sizing: border-box}
#head_sub h2 span {display:block;white-space:nowrap;-webkit-line-clamp:1;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis}
#head_sub h2 a {color:#fff;position:relative}
#head_sub h2 a:after {content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat -30px -61px;background-size:130px 100px;position:absolute;top:-2px;right:-22px;border:solid 12px transparent;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_sub h2 a.on:after {content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat -90px -90px;background-size:130px 100px;position:absolute;top:-2px;right:-22px;border:solid 12px transparent;box-sizing:border-box;-webkit-box-sizing:border-box}
/*#head_sub h2 span {display:block;margin:0 auto;width:60%;white-space:nowrap;-webkit-line-clamp:1;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis;font-size:16px} 탐색리뉴얼반영_김낙운_20141229 */
#head_sub h2 em {font-size:14px;font-weight:normal}
#head_sub h2.sms {padding-left:60px;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_sub h2.sms:before {content:"";position:absolute;top:9px;left:50%;width:67px;height:26px;margin-left:-104px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat 0 -72px;background-size:125px 300px}
#head_sub .prev{top:0;left:0;position:absolute}
#head_sub .prev a{font-size:0;display:block;height:36px;width:30px;padding:0;color:#fff;position:relative;box-sizing:border-box;-webkit-box-sizing: border-box}
#head_sub .prev a:before{background:url("http://image.lotte.com/lotte/mo2015/angular/head2015_set.png") no-repeat 0 -44px;background-size:183px 88px;width:30px;height:44px;top:0px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing: border-box;content:""}
#head_sub .this {position:absolute;top:9px;right:5px}
#head_sub .this a {color:#fff;font-size:15px;background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat 0 -76px;background-size:130px 100px;width:71px;height:24px;text-indent:-9999em;color:transparent;display:block}
#head_sub .btn {position:absolute;top:8px;right:8px}
#head_sub .btn a {display:block;text-indent:-9999em;color:transparent;background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat;background-size:130px 100px }
#head_sub .btn a.col01 {background-position:-85px 0;width:45px;height:23px}
#head_sub .btn a.col02 {background-position:-76px -51px;width:54px;height:25px}
#head_sub .close {position:absolute;top:0;right:0}
#head_sub .close a {text-indent:-9999em;color:transparent;display:block;padding:14px 8px 12px 20px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_sub .close a:before {content:"";position:absolute;top:14px;right:8px;background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat -50px -51px;background-size:130px 100px;width:15px;height:13px;display:inline-block}

/* layer POPUP title 위치 */
#cardLayerPopup #head_sub h2{padding-left:10px;}

/* smart windows header */
#head_samrt {border-bottom:solid 1px #1c2028;position:relative}
#head_samrt h2 {background-color:#262a32;padding:5px 0 5px 48px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_samrt h2:before {content:"";position:absolute;top:5px;left:8px;width:29px;height:30px;display:inline-block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat 0 -220px;background-size:125px 300px;}
#head_samrt h2 .stl {display:block;color:#a7abb4;font-size:9px;font-weight:normal}
#head_samrt h2 .tl {display:block;color:#fff;font-size:16px}
#head_samrt .close {position:absolute;top:0;right:0}
#head_samrt .close a {text-indent:-9999em;color:transparent;display:block;padding:14px 8px 12px 20px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_samrt .close a:before {content:"";position:absolute;top:14px;right:8px;background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat -50px -51px;background-size:130px 100px;width:13px;height:13px;display:inline-block}

/* 롯데백화점 header */
#head_department {position:relative}
#head_department h2 {border-bottom:solid 1px #5b4e36;background-color:#8a7c62;text-align:center;color:#fff;font-size:17px;height:40px;padding:10px 0;font-weight:normal;text-shadow:1px 1px #776a54, -1px 1px #776a54, 1px 0px #776a54, 0px 1px #776a54, 0px -1px #776a54, -1px 0px #776a54, -1px -1px #776a54, 1px -1px #776a54;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_department .prev {position:absolute;top:11px;left:10px}
#head_department .prev a {color:#fff;font-size:15px;padding-left:16px;height:18px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_department .prev a:before {content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat 0 -59px;background-size:130px 100px;position:absolute;top:-1px;left:-8px;border:solid 10px transparent;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 유아동관 header */
#head_child {position:relative}
#head_child h2 {border-bottom:solid 1px #70a400;background-color:#89c014;text-align:center;color:#fff;font-size:17px;height:40px;padding:10px 0;font-weight:normal;text-shadow:1px 1px #6f9c10, -1px 1px #6f9c10, 1px 0px #6f9c10, 0px 1px #6f9c10, 0px -1px #6f9c10, -1px 0px #6f9c10, -1px -1px #6f9c10, 1px -1px #6f9c10;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_child .prev {position:absolute;top:11px;left:10px}
#head_child .prev a {color:#fff;font-size:15px;padding-left:16px;height:18px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#head_child .prev a:before {content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/layout_as.png) no-repeat 0 -59px;background-size:130px 100px;position:absolute;top:-1px;left:-8px;border:solid 10px transparent;box-sizing:border-box;-webkit-box-sizing:border-box}

/* footer */
#footer {position:relative;padding-bottom:46px;text-align:left;height:auto;overflow:hidden;background:#f1f1f1}
#footer .banner {width:100%}
#footer .banner a { display:block;width:100%}
#footer .banner img {width:100%}
#footer .menu01 {overflow:hidden;background:#999;height:40px}
#footer .menu01 li {float:left;width:20%;text-align:center;position:relative}
#footer .menu01 li:first-child {background:none}
#footer .menu01 li a {color:#fff;font-size:12px;display:block;position:relative;padding:0;line-height: 40px;}
#footer .info {padding:10px;color:#666;background:#f1f1f1;}
#footer .info .menu02 li {display:inline-block;padding:0;line-height:13px;}
#footer .info .menu02 li a {color:#333;font-size:11px;padding:0 5px;display:inline-block;}
#footer .info .menu02 li strong {color:#333;font-size:11px;padding:0 10px 0 0;}
#footer .info .menu02 li:before{content:'';width:1px;height:10px;margin-bottom:1px;background:#d5d5d5;display:inline-block;vertical-align:middle;}
#footer .info .menu02 li:first-child:before{width:0;}
#footer .info p {padding:10px 0px 0 0;color:#666;font-size:11px;line-height:18px;}
#footer .info p.add span{display:inline-block;white-space:nowrap}
#footer .menu03 {background:#f1f1f1;padding-left:10px;text-align:center;}
#footer .menu03 li {display:inline-block}
#footer .menu03 li a {color:#333;font-size:11px;padding:0 5px;display:inline-block;cursor:pointer}
#footer .menu03 li:before{content:'';width:1px;height:10px;margin-bottom:1px;background:#d5d5d5;display:inline-block;vertical-align:middle;}
#footer .menu03 li:first-child:before{width:0;}
#footer .capyright {padding:10px 0 25px 15px;background:#f1f1f1;color:#666;font-size:11px;text-align:center;}
#footer .bookmarListkLayer {display: none;}
#storage_layer {display:none;position:absolute;z-index:999;width:100%;height:100%;}
#storage_frame {display:none;border:none;background:#fff;width:100%;height:100%;}
#footer .smartpick {position:absolute;bottom:110px;right:0px;width:auto;background-color:transparent}
#footer .smartpick a {display:inline-block;width:93px;height:62px;text-indent:-9999em;color:transparent;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/footer_banner02.png) no-repeat;background-size:93px 62px}

/* 더보기 */
.more_view {overflow:hidden;clear:both;padding:10px 8px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.more_view div {border:solid 1px #ddd;background:#efefef;text-align:center;border-radius:3px;}
.more_view a {display:block;font-size:14px;padding:14px;color:#333;box-sizing:border-box;-webkit-box-sizing:border-box}
.more_view strong {font-weight:bold}
.more_view i {width:15px;position:relative}
.more_view i:before, .more_view i:after{content:'';height:2px;width:10px;display:block;background:#9a9da0;position:absolute;top:-6px;left:0px}
.more_view i:after {height:10px;width:2px;top:-10px;left:4px }

/* list more (더보기/맨위로) 20140424 추가 */
.more_view_top{clear:both;overflow:hidden;position:relative;margin:10px;border:solid 1px #ddd;background:#efefef;text-align:center;border-radius:3px;}
.more_view_top:after{content:"";display:block;clear:both}
.more_view_top div.btn_more{margin-right:90px;border-left:0}
.more_view_top div.btn_top_wrap{position:absolute;top:0;right:0;width:90px;border-left:1px solid #ddd;}
.more_view_top div.btn_more a:after,
.more_view_top div.btn_top_wrap a:after{content:"";display:inline-block;margin-left:5px;width:12px;height:8px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/cscenter/cs_icon.png) no-repeat 0 0;background-size:50px 100px}
.more_view_top div.btn_more a:after{background-position:0 -25px}
.more_view_top a{display:block;font-size:14px;padding:14px;color:#666}
.more_view_top strong{font-weight:bold}
.more_view_top i{width:15px;position:relative}
.more_view_top i:before,
.more_view_top i:after{content:'';height:2px;width:10px;display:block;background:#9a9da0;position:absolute;top:-6px;left:0px}
.more_view_top i:after{height:10px;width:2px;top:-10px;left:4px}

/*========================================================== 이후는 3월 닷컴 모바일 전시리뉴얼 =========================================*/
/*20150205 new header : 
#head.ps_head .mylotte a:before{background-position: -76px -6px;width: 28px;left: 3px;height:30px}
/*20150212 new sub header : 기획전용, 메인공용*/
#head_sub.ps_head {position:relative;z-index:4;width: 100%}
#head_sub.ps_head.fix {position:fixed;top:0;opacity:0.9;z-index:51}
/* ## TFT : LOOK&FEEL : 2015-06-25 : start  */
/* #head_sub.ps_head h2{background-color:#2b3b55;height: 44px;font-size: 16px;line-height: 44px;border:none;text-shadow:none;color:#fff;text-align:center;position:relative;font-weight:normal;box-sizing:border-box;-webkit-box-sizing: border-box} */
#head_sub.ps_head h2{background-color:#719cff;height: 44px;padding-left:44px;font-size: 16px;line-height: 44px;border:none;text-shadow:none;color:#fff;text-align:center;position:relative;font-weight:normal;box-sizing:border-box;-webkit-box-sizing: border-box}
/* ## TFT : LOOK&FEEL : 2015-06-25 : end  */

#head_sub.ps_head .prev{top:0;left:0;position:absolute}
#head_sub.ps_head .prev a{width:44px;height:44px;font-size:0px}
/* ## TFT : LOOK&FEEL : 2015-06-25 : start  */
/* #head_sub.ps_head .prev a:before{background:url("http://image.lotte.com/lotte/mobile/mobile_new/common/head2015_set.png") no-repeat 0 -44px;background-size:183px 88px;width:30px;height:44px;top:0px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing: border-box;content:""} */
#head_sub.ps_head .prev a:before{background:url("http://image.lotte.com/lotte/mo2015/angular/head2015_set.png") no-repeat 0 -44px;background-size:183px 88px;width:30px;height:44px;top:0px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing: border-box;content:""}
/* ## TFT : LOOK&FEEL : 2015-06-25 : end  */
#head_sub.ps_head h2 span {text-align:left;display:block;width: auto;white-space:nowrap;-webkit-line-clamp:1;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis}
#head_sub.ps_head .iconR{width:88px;height:44px;position:absolute;right:0px;top:-13px;text-align:right}
#head_sub.ps_head .iconR a{display:inline-block;font-size:0;background:url("http://image.lotte.com/lotte/mobile/mobile_new/common/head2015_set2.png") no-repeat -36px -44px;background-size:183px 88px;width:40px;height:44px}
#head_sub.ps_head .iconR a.bookmark{background-position:-75px -44px;width:37px}
/* 20150611 이거어때 개선 */
#head_sub.ps_head .this {top:13px;right: 0px}
#head_sub.ps_head .this a {position:relative;font-size:12px;color:#fff;text-indent:0;background:none;width:auto;height:19px;line-height:19px;display:block;padding-right:13px;padding-left:18px;vertical-align:middle}
#head_sub.ps_head .this a:before {position:absolute;left:0;top:0;content:"";display:block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/head2015_icon_sns.png) no-repeat 0 0;background-size:14px 19px;width:14px;height:19px}

 


/*=================================== 이하 2015 메인 홈 리뉴얼 버전 ========================================================*/


/*20150508 TV쇼핑 팝업*/
.commonPop{width:100%;height:100%;position:fixed;top:0;z-index:1000}   
.commonPop .bg{width:100%;height:100%;background:#000;opacity:0.8}
.commonPop .box{width:100%;position:absolute;top:10%}   
.commonPop .box .popBox{width:288px;background:white;margin:0 auto;border-radius:10px}   
.commonPop .box .popBox .cont{padding:25px 16px 22px 16px}
.commonPop .box .popBox .foot{width:100%;height:45px;color:#999;text-align:center;line-height:45px;border-top:1px solid #E3E3E3;font-size:14px}   
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop .box{top:3%}
    .commonPop .box .popBox{width:250px}
    .commonPop .box .popBox .cont{padding:20px 12px 15px 12px}
    .commonPop .box .popBox .foot{height:40px;line-height:40px}
}

/*  20150507 추가 :  깜짝알림 전용 쿠폰 개발  */
.commonPop .box.surprise_alarm_coupon .popBox .cont {padding:18px 16px 21px;text-align:center}
.commonPop .box.surprise_alarm_coupon .popBox .cont .coupon img {max-width:255px}
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period {padding-top:11px;font-size:12px;color:#e87352}
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period dt,
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period dd{display:inline-block}
.commonPop .box.surprise_alarm_coupon .popBox .cont p.info{padding:5px 0 15px;font-size:11px;color:#999}
.commonPop .box.surprise_alarm_coupon .popBox .cont a.down_btn {display:block;height:58px;background:#e87352;color:#fff;font-size:18px;vertical-align:middle;line-height:58px;border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop .box.surprise_alarm_coupon .popBox .cont a.down_btn:after {content:"";display:inline-block;width:18px;height:15px;margin:0 0 -1px 9px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/icon_surprise_alarm_coupon_down.png) no-repeat 0 0;background-size:18px 15px}
.commonPop .box.surprise_alarm_coupon .popBox .check {height:45px;border-top:solid 1px #e3e3e3;font-size:14px;overflow:hidden}
.commonPop .box.surprise_alarm_coupon .popBox .check span.today,
.commonPop .box.surprise_alarm_coupon .popBox .check span.close {display:block;float:left;width:50%;height:100%;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop .box.surprise_alarm_coupon .popBox .check span.close {border-left:solid 1px #e3e3e3}
.commonPop .box.surprise_alarm_coupon .popBox .check span a {display:block;width:100%;height:100%;color:#999;vertical-align:middle;line-height:45px}
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop .box.surprise_alarm_coupon {top:0}
}
/*20150603 MD팁*/
.mdTip{background:white;height:27px;padding:7px 11px;position:relative}
.mdTip .txtBox{color:#333;text-align:left;line-height:28px;height:26px;width:100%;font-size:14px;background:#e3ebff;border-radius:15px;padding:0 14px;overflow: hidden;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;box-sizing:border-box}
/* 제거 .mdTip:before{content:"";width:37px;height:22px;background:url("http://image.lotte.com/lotte/mobile/mobile_new/main/mdtip_icon.png") no-repeat;background-size:36px auto;position:absolute;top:5px;left:11px}*/

/*20150609 대형행사 전면 팝업*/
.commonPop .box .popBottom{color:#ddd;padding:0 17%;font-size:15px;position:relative}
.commonPop .box .popBottom a{color:#ddd}
.commonPop .box .popBottom input{border:1px solid #fff;-webkit-appearance: none;width:18px;height:18px;margin-top:-4px}
.commonPop .box .popBottom input:checked{background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/popup_bottom.png) no-repeat 2px 4px;background-size:30px auto}
.commonPop .box .popBottom .close{position:absolute;right:17%}
.commonPop .box .popBottom .close:before{content:'';width:15px;height:15px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/popup_bottom.png) no-repeat -15px 0;background-size:30px auto;position:absolute;top:3px;left:-18px}
.commonPop.pop0522 .box{top:0;overflow-y:scroll;height:100%}
.commonPop.pop0522 .box .popBox{background:none;width:100%;padding-top:10%}          
.commonPop.pop0522 .box .popBox .cont{padding:0}
.commonPop.pop0522 .box .popBox .foot{border:0}
.commonPop.pop0522 .cont a{display: block;width: 100%;box-sizing: border-box;text-align: center}
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop.pop0522{position:absolute}  
    .commonPop.pop0522 .box{top:0;margin-top:0}
    .commonPop.pop0522 .box .popBox{width:60%}    
}

/*20150601 팝업 : 회색풋터*/
.commonPop.greyFooter .box .popBox{border:solid 2px #E8E8E7;border-radius:0}
.commonPop.greyFooter .box .popBox .cont{padding:0}
.commonPop.greyFooter .box .popBottom{height:45px;padding-left:14px;overflow:hidden;background:#e8e8e7;box-sizing:border-box;-webkit-box-sizing:border-box;color:#454545;line-height:45px}
.commonPop.greyFooter .box .popBottom input{border:1px solid #737373}
.commonPop.greyFooter .box .popBottom input:checked{background: url(http://image.lotte.com/lotte/mobile/mobile_new/common/input.png) no-repeat 0 0;background-size: 100px 300px;background-position: -25px 0}
.commonPop.greyFooter .box .popBottom .close:before{background:none}
.commonPop.greyFooter .box .popBottom .close{right:0;padding:0 14px;border-left: solid 1px #FFF;box-shadow: 1px 0px 0px 2px #D3D3D3}
.commonPop.greyFooter .box .popBottom a{color:#454545}


/*20150508 TV쇼핑 팝업*/
.commonPop{width:100%;height:100%;position:fixed;top:0;z-index:1000}   
.commonPop .bg{width:100%;height:100%;background:#000;opacity:0.8}
.commonPop .box{width:100%;position:absolute;top:10%}   
.commonPop .box .popBox{width:288px;background:white;margin:0 auto;border-radius:10px}   
.commonPop .box .popBox .cont{padding:25px 16px 22px 16px}
.commonPop .box .popBox .foot{width:100%;height:45px;color:#999;text-align:center;line-height:45px;border-top:1px solid #E3E3E3;font-size:14px}   
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop .box{top:3%}
    .commonPop .box .popBox{width:250px}
    .commonPop .box .popBox .cont{padding:20px 12px 15px 12px}
    .commonPop .box .popBox .foot{height:40px;line-height:40px}
}

/*  20150507 추가 :  깜짝알림 전용 쿠폰 개발  */
.commonPop .box.surprise_alarm_coupon .popBox .cont {padding:18px 16px 21px;text-align:center}
.commonPop .box.surprise_alarm_coupon .popBox .cont .coupon img {max-width:255px}
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period {padding-top:11px;font-size:12px;color:#e87352}
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period dt,
.commonPop .box.surprise_alarm_coupon .popBox .cont dl.period dd{display:inline-block}
.commonPop .box.surprise_alarm_coupon .popBox .cont p.info{padding:5px 0 15px;font-size:11px;color:#999}
.commonPop .box.surprise_alarm_coupon .popBox .cont a.down_btn {display:block;height:58px;background:#e87352;color:#fff;font-size:18px;vertical-align:middle;line-height:58px;border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop .box.surprise_alarm_coupon .popBox .cont a.down_btn:after {content:"";display:inline-block;width:18px;height:15px;margin:0 0 -1px 9px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/icon_surprise_alarm_coupon_down.png) no-repeat 0 0;background-size:18px 15px}
.commonPop .box.surprise_alarm_coupon .popBox .check {height:45px;border-top:solid 1px #e3e3e3;font-size:14px;overflow:hidden}
.commonPop .box.surprise_alarm_coupon .popBox .check span.today,
.commonPop .box.surprise_alarm_coupon .popBox .check span.close {display:block;float:left;width:50%;height:100%;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop .box.surprise_alarm_coupon .popBox .check span.close {border-left:solid 1px #e3e3e3}
.commonPop .box.surprise_alarm_coupon .popBox .check span a {display:block;width:100%;height:100%;color:#999;vertical-align:middle;line-height:45px}
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop .box.surprise_alarm_coupon {top:0}
}
/*20150603 MD팁*/
.mdTip{background:white;height:27px;padding:7px 11px;position:relative}
.mdTip .txtBox{color:#333;text-align:left;line-height:28px;height:26px;width:100%;font-size:14px;background:#e3ebff;border-radius:15px;padding:0 14px;overflow: hidden;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;box-sizing:border-box}
/* 제거 .mdTip:before{content:"";width:37px;height:22px;background:url("http://image.lotte.com/lotte/mobile/mobile_new/main/mdtip_icon.png") no-repeat;background-size:36px auto;position:absolute;top:5px;left:11px}*/

/*20150609 대형행사 전면 팝업*/
.commonPop .box .popBottom{color:#ddd;padding:0 17%;font-size:15px;position:relative}
.commonPop .box .popBottom a{color:#ddd}
.commonPop .box .popBottom input{border:1px solid #fff;-webkit-appearance: none;width:18px;height:18px;margin-top:-4px}
.commonPop .box .popBottom input:checked{background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/popup_bottom.png) no-repeat 2px 4px;background-size:30px auto}
.commonPop .box .popBottom .close{position:absolute;right:17%}
.commonPop .box .popBottom .close:before{content:'';width:15px;height:15px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/popup_bottom.png) no-repeat -15px 0;background-size:30px auto;position:absolute;top:3px;left:-18px}
.commonPop.pop0522 .box{top:0;overflow-y:scroll;height:100%}
.commonPop.pop0522 .box .popBox{background:none;width:100%;padding-top:10%}          
.commonPop.pop0522 .box .popBox .cont{padding:0}
.commonPop.pop0522 .box .popBox .foot{border:0}
.commonPop.pop0522 .cont a{display: block;width: 100%;box-sizing: border-box;text-align: center}
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop.pop0522{position:absolute}  
    .commonPop.pop0522 .box{top:0;margin-top:0}
    .commonPop.pop0522 .box .popBox{width:60%}    
}

/*20150601 팝업 : 회색풋터*/
.commonPop.greyFooter .box .popBox{border:solid 2px #E8E8E7;border-radius:0}
.commonPop.greyFooter .box .popBox .cont{padding:0}
.commonPop.greyFooter .box .popBottom{height:45px;padding-left:14px;overflow:hidden;background:#e8e8e7;box-sizing:border-box;-webkit-box-sizing:border-box;color:#454545;line-height:45px}
.commonPop.greyFooter .box .popBottom input{border:1px solid #737373}
.commonPop.greyFooter .box .popBottom input:checked{background: url(http://image.lotte.com/lotte/mobile/mobile_new/common/input.png) no-repeat 0 0;background-size: 100px 300px;background-position: -25px 0}
.commonPop.greyFooter .box .popBottom .close:before{background:none}
.commonPop.greyFooter .box .popBottom .close{right:0;padding:0 14px;border-left: solid 1px #FFF;box-shadow: 1px 0px 0px 2px #D3D3D3}
.commonPop.greyFooter .box .popBottom a{color:#454545}

/*20150605 TV쇼핑 팝업 : 그만보기 추가 */
.commonPop .box .popBox .foot.twoButton{line-height:47px;overflow:hidden}
.commonPop .foot.twoButton a{color:#999; display:inline-block;width:48%}
.commonPop .foot.twoButton a:first-child{border-right: 1px solid #E3E3E3;letter-spacing: -1px}


/* 20150529 추가 : 상품평 공유 레이어  */
/*20150609 상품평 공유 레이어 수정 */
.commonPop.review_sns_layer {display:none;z-index:5000} /* 20150624 수정 */
.commonPop.review_sns_layer .popBox .cont{padding:25px 16px 0}
.commonPop.review_sns_layer .popBox .title {padding-bottom:21px}
.commonPop.review_sns_layer .popBox ul.sns {overflow:hidden;margin:0 -4px}
.commonPop.review_sns_layer .popBox ul.sns li {float:left;width:25%;margin-bottom:19px;font-size:11px;text-align:center;letter-spacing:-0.025em;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop.review_sns_layer .popBox ul.sns li a {display:block;color:#666}

/* 20150611 이거어때 개선 : 상품공유 레이어 */
.commonPop.product_sns_layer {display:none}
.commonPop.product_sns_layer .popBox .cont{padding:25px 16px 0}
.commonPop.product_sns_layer .popBox .title {padding-bottom:21px}
.commonPop.product_sns_layer .popBox ul.sns {overflow:hidden;margin:0 -4px}
.commonPop.product_sns_layer .popBox ul.sns li {float:left;width:25%;margin-bottom:19px;font-size:11px;text-align:center;letter-spacing:-0.025em;box-sizing:border-box;-webkit-box-sizing:border-box}
.commonPop.product_sns_layer .popBox ul.sns li a {display:block;color:#666}
/* 20150624 수정 */
.commonPop.product_sns_layer .popBox ul.sns li a:before {content:"";display:block;background:url(http://image.lotte.com/lotte/mo2015/angular/review_sns_info_icon01.png) no-repeat 0 0;background-size:506px 50px;width:50px;height:50px;margin:0 auto 7px}
.commonPop.product_sns_layer .popBox ul.sns li.kakao a:before {background-position:0 0}
.commonPop.product_sns_layer .popBox ul.sns li.facebook a:before {background-position:-56px 0}
.commonPop.product_sns_layer .popBox ul.sns li.sms a:before {width:51px;background-position:-112px 0}
.commonPop.product_sns_layer .popBox ul.sns li.kas a:before {width:51px;background-position:-168px 0}
.commonPop.product_sns_layer .popBox ul.sns li.insta a:before {background-position:-225px 0}
.commonPop.product_sns_layer .popBox ul.sns li.twitter a:before {background-position:-281px 0}
.commonPop.product_sns_layer .popBox ul.sns li.google a:before {width:51px;background-position:-337px 0}
.commonPop.product_sns_layer .popBox ul.sns li.mail a:before {background-position:-394px 0}
.commonPop.product_sns_layer .popBox ul.sns li.other a:before {background-position:-450px 0}
.commonPop.product_sns_layer .popBox .other_app {padding-bottom:12px}
@media all and (orientation:landscape){/*가로모드*/    
    .commonPop.product_sns_layer{position:absolute}  
    .commonPop.product_sns_layer .box{top:0}
    .commonPop.product_sns_layer .box .popBox{width:60%}    
}


/*201500601 TFT : header, side_mylotte, actionbar */
#head {position:relative;width:100%;height:45px;background:#fff;overflow:hidden}
#head i{display:inline-block;color:transparent;background:url('http://image.lotte.com/lotte/mo2015/angular/layout_01.png') no-repeat; background-size:300px 300px;margin-bottom:3px;vertical-align:middle;font-size:0;}

#head .logo{position:absolute;top:5px;left:37px; z-index:1;}
#head .logo a{display:block;padding:10px 5px 9px;}
#head .logo i{display:block;width:112px;height:14px;background-position:-30px -3px;}

#head ul:after{display:block;content:'';clear:both;}
#head ul{width:100%;height:45px;}
#head ul li.category{float:left; width:35px; height:33px;}
#head ul li.category a{display:block; height:100%; margin-top:5px; padding:5px; box-sizing:border-box; width:100%;}
#head ul li.search{float:right;padding:9px 10px 0 0;}
#head ul li.category i{width:23px;height:20px;background-position:0 0}
#head ul li.search a{ position:relative; display:block;width:100px;height:27px;padding:0 6px 0 0;background:#e9e9e9;border-radius:14px;text-align:right;line-height:27px;}
#head ul li.search label{display:block;width:100px;height:27px;padding:0 6px 0 0;background:#e9e9e9;border-radius:14px;text-align:right;line-height:27px;}
#head ul li.search label input{background-color:transparent; border:0; width:0; height:0; margin:0; padding:0}
#head ul li.search i{ position:absolute; display:block; top:50%; right:6px; margin-top:-9px; width:18px;height:18px;background-position:-149px 0;}
@media screen and (min-width:640px){
    #head ul li.search a{width:200px;}
    #head ul li.search label{width:200px}
}
#lotteActionbar a:before,
.my_lotte .user_mypage p a:after,
.my_lotte .user_point a:before,
.my_lotte .user_link li .bull:after,
.my_lotte .lately .more:before,
.my_lotte .user_alram a:before,
.my_lotte .user_login .login:before,
.side_mylotte i,
.my_lotte .phone .app:before{display:inline-block;color:transparent;background:url('http://image.lotte.com/lotte/mo2015/angular/layout_01.png') no-repeat; background-size:400px 400px;margin-bottom:3px;vertical-align:middle;}

/* mylotte_main_*_v*.css & layout_*_v*.css 두군데 수정해야함  (복붙)   start*/
#lotteActionbar{position:fixed;bottom:0; width:100%;height:50px;background:#fff;border-top:1px solid #aaa;z-index:999;
/*transition:all 0.2s ease-out;
-webkit-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;*/
}
html.search_act #lotteActionbar,
html.search_act .category_filter_wrap {display:none;} /*검색일경우 액션바/하단 소팅레이어 숨김*/
#lotteActionbar ul:after{display:block;content:'';clear:both;}
#lotteActionbar ul li{float:left;width:17%}
#lotteActionbar ul li a{position:relative;display:block;height:48px;padding:2px 0 0 0;font-size:12px;color:#999;text-align:center;letter-spacing:-0.4px}
#lotteActionbar ul li.home{width:16%}
#lotteActionbar ul li.my{width:16%;}
#lotteActionbar a:before{display:block;height:30px;content:'';margin:0 auto}
#lotteActionbar .home a:before{width:29px;background-position:0 -33px}
#lotteActionbar .category a:before{width:24px;background-position:-35px -33px}
#lotteActionbar .search a:before{width:27px;background-position:-66px -33px}
#lotteActionbar .cart a:before{width:30px;background-position:-99px -33px}
#lotteActionbar .order a:before{width:33px;background-position:-135px -33px}
#lotteActionbar .my a:before{width:25px;background-position:-176px -33px}
#lotteActionbar .active a{color:#fff;background:#719cff;}
#lotteActionbar .my.active a:before{background-position:-176px -134px !important;}
html.category_act #lotteActionbar .category a{color:#fff;background-color:#719cff;}
html.category_act #lotteActionbar .category a:before{width:24px;background-position:-35px -134px;} /*이미지 수정필요*/
html.mylotte_act #lotteActionbar .my a{color:#fff;background-color:#719cff;}
html.mylotte_act #lotteActionbar .my a:before{background-position:-176px -134px !important;}
#lotteActionbar ul li span{position:absolute;top:2px;left:50%;display:block;width:22px;height:22px;margin-left:7px;background:#719cff;border-radius:100%;color:#fff;line-height:22px;}
.side_mylotte{
	display:none;
    position:fixed;
    bottom:-450px;
    right:0;
    width:100%;
    max-width:640px;
    color:#c9cfd8;
    z-index:800;
    visibility:hidden;
/*transition:all 0.2s ease-out;
-webkit-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;*/
}
.side_mylotte.transition {display:block;}
html.mylotte_act .side_mylotte {visibility:visible; display:block; bottom:65px;}
html.mylotte_act .side_mylotte.isApp {bottom:14px;}
/* mylotte_main_*_v*.css & layout_*_v*.css 두군데 수정해야함  (복붙) end*/

.my_close{display:block;height:25px;padding-right:15px;text-align:right;cursor:pointer;}
.my_close i{display:inline-block;width:23px;height:23px;background-position:-276px -70px; font-size:0; line-height:0; overflow:hidden; text-indent:999px;}
.my_close span{display:block;height:25px;vertical-align: top;text-align:right}
.my_lotte {width:100%;}
.my_lotte .inner{margin:0 5px;padding:8px 10px;background:#fff;border-radius:15px;}
.my_lotte .inner:after{display:block;content:'';position:absolute;right:30px;bottom:-8px;width:0;height:0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-top:15px solid white;}

.my_lotte .user_info:after{clear:both;content:'';display:block}
.my_lotte .user_info{padding:0 0 7px 0;border-bottom:2px solid #719cff;line-height:30px}
.my_lotte .user_info li{padding:0 5px;}
.my_lotte .user_info .name{float:left;font-size:14px;color:#999999}
.my_lotte .user_info .btn{float:right;}
.my_lotte .user_info .name span{color:#333;}
.my_lotte .user_info a{display:inline-block;padding:0 10px;border-radius:14px;font-size:13px;line-height:28px;}
.my_lotte .user_info a.link{border:1px solid #e1e1e1;color:#999999;}
.my_lotte .user_info a.mypage{border:1px solid #719cff;background:#719cff;color:#fff;}

.my_lotte .user_login{margin:15px 0 0 0;color:#999;font-size:14px;line-height:20px;text-align:center;}
.my_lotte .user_login span{font-weight:bold;}
.my_lotte .user_login .login{display:inline-block;margin-top:10px;padding:0 15px;background:#9182ff;border-radius:15px;color:#fff;line-height:30px;}
.my_lotte .user_login .login:before{content:'';display:inline-block;margin:0 5px 1px 0;width:18px;height:25px;background-position:-163px -87px;background-size:350px 350px;vertical-align:middle;}

.my_lotte .user_point{clear:both;height:66px;margin:23px 0 0 0;text-align:center}
.my_lotte .user_point a{text-align:left;display:inline-block;position:relative;max-width:100px;padding:8px 0 0 60px;color:#333333;font-size:18px;font-family:Arial;font-weight:bold;vertical-align:middle}
.my_lotte .user_point a:before{width:51px;height:50px;display:block;content:'';position:absolute;top:0;left:0;}
.my_lotte .user_point .point:before{background-position:0 -69px}
.my_lotte .user_point .money:before{background-position:-128px -69px}
.my_lotte .user_point i{display:block;margin:0 0 2px ;}
.my_lotte .user_point .point{padding-right:30px}
.my_lotte .user_point .point i{display:block;width:63px;height:15px;background-position:-57px -69px}
.my_lotte .user_point .money i{display:block;width:65px;height:18px;background-position:-57px -91px}

.my_lotte .user_alram{text-align:center}
.my_lotte .user_alram a{display:inline-block;color:#999;font-size:15px;letter-spacing:-0.5px}
.my_lotte .user_alram a span{padding:0 0 0 5px;color:#333;font-size:16px;font-weight:bold;font-family:Arial;vertical-align:middle;}
.my_lotte .user_alram a.coupon{padding:0 0 0 0}
.my_lotte .user_alram a.alram{padding:0 0 0 30px}
.my_lotte .user_alram a.wish{padding:0 0 0 30px}
.my_lotte .user_alram a:before{content:'';display:inline-block;padding-right:5px;height:24px;vertical-align:middle;}
.my_lotte .user_alram a.coupon:before{width:25px;background-position:-186px -70px}
.my_lotte .user_alram a.alram:before{width:22px;background-position:-217px -70px}
.my_lotte .user_alram a.wish:before{width:24px;background-position:-245px -70px}

.my_lotte .user_link:after{display:block;content:'';clear:both}
.my_lotte .user_link{clear:both;margin:18px 0 0 0;}
.my_lotte .user_link li{width:50%;float:left;font-size:15px;letter-spacing:-0.5px;height:40px}
.my_lotte .user_link li a{display:block;padding:0 15px;background:#f8f8f8;border:1px solid #fff;color:#999;line-height:38px}
.my_lotte .user_link li .right{float:right;font-size:14px;font-weight:bold;color:#666}
.my_lotte .user_link li .bull:after{display:inline-block;float:right;margin-top:13px;content:'';width:10px;height:16px;vertical-align:middle;background-position:-305px -70px}
.my_lotte .user_link li span{padding-left:4px;color:#333;font-size:15px;font-family:Arial;font-weight:bold;}

.my_lotte .lately:after{display:block;content:'';clear:both}
.my_lotte .lately{padding:10px 57px 0 90px;height:57px;position:relative;min-width:120px;overflow:hidden;}
.my_lotte .lately h6{position:absolute;top:12px;left:10px;color:#aaaaaa;font-size:15px;letter-spacing:-0.5px;line-height:55px;font-weight:normal;}
.my_lotte .lately .no{position:absolute;top:12px;left:100px;color:#aaaaaa;font-size:13px;line-height:55px;text-align:center;}
.my_lotte .lately ol{letter-spacing:-4px;display:inline-block;height:57px;overflow:hidden;word-break:keep-all}
.my_lotte .lately ol li{display:inline-block;width:53px;border:1px solid #e1e1e1;margin:0 5px 5px 0;}
.my_lotte .lately ol li img{width:53px;height:53px;}
.my_lotte .lately .more{position:absolute;top:10px;right:0;display:inline-block;width:53px;height:53px;background:#f8f8f8;border:1px solid #e1e1e1;color:#999;font-size:11px;text-align:center;}
.my_lotte .lately .more:before{content:'';display:block;width:15px;height:17px;margin:9px auto 7px;background-position:-339px -69px}

.my_lotte .phone{position:relative;padding:5px 3px 1px 0;margin:10px 0 0;border-top:1px solid #ddd;color:#999;font-size:12px;text-align:right}
.my_lotte .phone span{font-weight:bold;}
.my_lotte .phone a{color:#999;}
.my_lotte .phone .app{position:absolute;top:0;left:0}
.my_lotte .phone .app:before{display:inline-block;content:'';width:20px;height:20px;background-position:-163px 0;background-size:200px 200px;vertical-align:middle;margin:4px 2px 0 0}



