@charset "utf-8";
#paperCoupon {width:360px; display:none; position:fixed; background:#fff; left:50% !important; z-index:101; top:50% !important; margin:-200px 0 0 -180px;}
html.paperCoupon_act #paperCoupon {display:block !important;}
@media screen and (min-width:768px) {
	/*임시*/
	.dealMoreCon{display:none;}
	.commonPop.pop0522{display:none;}
	/*공통*/
	html, body{font-size:14px}
	#head.ps_head .search a{width:200px}
	.side_cate .categorySet{background-image:none}
	.side_cate.sub .categorySet .iconset{width:1170px;}
	.side_cate .categorySet .iconset a{width:16%;margin:4px 13px !important}
	.brandIconSet .iconset a{width:16%;margin:0 14px 12px 14px !important}
	.brandList{padding-bottom:0}
	.brandList .shoplist:after{clear:both}
	.brandList .shoplist a{float:left;width:50%}
	.side_cate nav.tab.brandTab, .side_cate nav.tabSub, .category_brand_find .language_select_list{width:auto;}
	.side_cate nav.tabSub.kor, .side_cate nav.tabSub.eng{height:170px}
	.side_cate .searchList ul{overflow:hidden}
	/*.side_cate .searchList ul li{float:left;width:45%;margin:0 18px} 깨짐 브랜드에서*/
	.side_cate .searchList ul li:last-child{border-bottom:1px solid #EBEBEB}
	.category_brand_find .language_select_list > li .language_select{width:50%;margin:0 !important}
	.category_brand_find .language_select_list > li > ul{width:auto}
	.category_brand_find .language_select_list > li .language_select{width:50%}
	.category_brand_find .language_select_list > li:nth-child(1) .language_select{left:0;margin-left:0}
	.category_brand_find .language_select_list > li:nth-child(2) .language_select{right:0;margin-right:0}
	.category_brand_find .brand_list{overflow:hidden;padding-bottom:10px}
	.category_brand_find .brand_list li{float:left;width:48%;margin:0 1%;}
	.category_brand_find .brand_list li:last-child{border-bottom:1px solid #EBEBEB}
	.cateogry_mall_list > ul:after{clear:both;}
	.cateogry_mall_list > ul > li{clear:none;float:left;width:49%;margin:0.5%}
	#cover_blank img.mylotte{margin-top:50% !important;}
	#main_mylotte .my_quick .btn_menu li a.open{padding-top:50px}
	/* 20150708 수정 S */
	/* 20150708 수정 E */
	.commonPop .box{top:50%;margin-top:-25%}
	.commonPop.product_sns_layer .box{top:144px;margin:0 auto;}
	.commonPop.product_sns_layer .box .popBox{width:288px;}
	.commonPop.greyFooter .box .popBox{width:500px}

	/* login */
	#wrapper section.login{width:70%;margin:5% auto}

	/*이벤트*/
	.main_event{padding:0}
	.main_event .event_banner{display:block;text-align:center;background:#BCE9FF}
	.main_event .event_banner img{width:70%}
	.main_event .event_staticMenu{max-width:600px;margin:0 auto}
	.event_bannerList2{overflow:hidden;width:100%}
	.main_event .event_bannerList2 a{float:left; width:49%;margin:0.5%;box-sizing:border-box}
	.main_event .event_bannerList2 a .b_image{min-height:164px}

	/*기획전*/
	.main_brand.toDept a.brand_banner{display:block;text-align:center;background:#BCE9FF}
	.main_brand.toDept a.brand_banner img{width:70%}
	.main_brand.toDept a.productCell:after{clear:both}	
	.main_brand.toDept a.productCell{width:49%;padding:0.5%;margin:0.5%;box-sizing:border-box}
	.main_brand.toDept a.productCell:nth-child(odd){float:left}
	.main_brand.toDept a.productCell:nth-child(even){float:right}
	.main_brand.toDept .productCell .thumb img{height:172px}

	/* Deal 공통 */
	ul.deal_productList:after{clear:both}
	ul.deal_productList li{float:left;width:49%;margin:0.5%;box-sizing:border-box}
	ul.deal_productList li.unitTypeC, .etv2_productList li.unitTypeC{padding:41px 0 0 0;}
	ul.deal_productList li .thumb{min-height:175px}
	ul.deal_productList li .thumb > img {height:176px}
	li.unitTypeC a.normal img{min-width:175px}
	.mdTip{position:absolute;top:0;width:96%;padding:7px 2%}

	/*BIG Deal*/
	ul.deal_productList li.unitTypeC.sky{background:#fff;margin:0.5%}
	ul.deal_productList li.unitTypeD{display:none}

	/*TV 쇼핑*/
	.etop_banner a{display:block;text-align:center}
	.etop_banner a img{width:70%}
	.main_etv2 ul.etv2_productList li, .main_etv2 ul.etv2_productList li.unitTypeC{width:49%;margin:0.5%;box-sizing:border-box}
	.main_etv2 ul.etv2_productList li.unitTypeA{float:none;width:99%}
	.main_etv2 ul.etv2_productList li.unitTypeB{display:none}
	.main_etv2 ul.etv2_productList li:nth-child(odd) {float:left}
	.main_etv2 ul.etv2_productList li:nth-child(even) {float:right}

	/*랭킹존*/
	.main_lank .lank_banner{display:block;text-align:center;background:#BCE9FF}
	.main_lank .lank_banner img{width:70%}
	.main_lank .lank_list li{float:left;width:49%;margin:0.5%;box-sizing:border-box}
	.lank_keyword .default, .lank_keyword .listhead{margin:0 6px}
	.lank_keyword ul.klist{margin:0 5px 10px 5px}
	.main_lank .lank_list ul.klist li{float:none;width:100%}
	.lank_keyword{clear:both}

	/*mylotte*/
	#order .cart_list .option_layer, #order .smart_pick .option_layer{margin:5px 8px 0 32px}
	#order .smart_pick.group .option_layer{margin:5px 0 0 0}
	#ansimPop{width:50%;margin-left:25%}

	/* product_detail */
	#productDetailView{text-align:center}

	/* storyshop */
	.sts_list a{display:inline-block;float:left;width:48%;margin:0.5%}
	.sts_noti{clear:both}

	/*cscenter*/
	#cscenter .card_type{width:60%}
	#cscenter .order_section .tbl_order_list .point_list input.txt01{width:250px}
	#cscenter .order_goods .cont01 .btn_list.half_btn > span{width:48%;margin:0.5%}

	/*footer*/
	.customer .index li{width:33.33%}
	.customer .index li:nth-child(even){border-bottom:1px solid #c6c9cc;border-right:1px solid #c6c9cc}
	.easy_login_wrap, .view_order_wrap{padding:15px 10%}
	.customer .tbl_w td.goods_layer{padding-left:25%}

	/*mylotte*/
	.pushList{overflow:hidden}
	.pushList a{display:inline-block;width:48%;margin:0.5%}
	.pushList a:nth-child(odd){float:left}
	.pushList a:nth-child(even){float:right}
	.event_win .img {width:50%;margin:0 auto}
	#event.benefit section{margin:25px 15% 0 15%;}
	.layer_popup{width:50%;left:25%;top:25%}
	#smart_pick .coupon_info .sp_img{margin:10px 30%;}
	#order.wine .tips > a{display:inline-block}

	/*order*/
	#order .step .roll_banner{margin:0 30%}
	#smartpay .wrap_onclick li{width:19%;margin:0 1% 1% 0}

	/*search*/
	.deal_prdlst >.deal_swipe_wrap >ul >li{width:30%;padding:1.5%;}
	.comm-unit-deal01 .prd_img a .img_wrap img{width:100%}
	.prdlst >ul{overflow:hidden}
	.prdlst >ul >li{width:50%}
	.prdlst >ul >li:nth-child(odd){float:left}
	.prdlst >ul >li:nth-child(even){float:right}

}

@media screen and (min-width:1024px) {
	.side_cate .categorySet .iconset a{width:12%;margin:4px 10px !important}
	.side_cate nav.tabSub.kor, .side_cate nav.tabSub.eng{height:120px}	
	.brandIconSet .iconset a{width:11%;margin:0 6px 12px 6px !important}
	li.unitTypeC a.normal img{min-width:234px}
	.main_event .event_banner img, .main_brand.toDept a.brand_banner img, .etop_banner a img, .main_lank .lank_banner img{width:50%}
	.main_brand .brand_bann{background:none}
	.main_brand.toDept .productCell .btnImg{width:20px}
	li.unitTypeC a.normal .soldoutp .txt img{padding-top:10%;}
	.layer_popup{width:40%;left:30%;top:30%}
	ul.deal_productList li .thumb > img {height:234px;}	
	.main_brand.toDept .productCell .thumb img{height:229px}
} 
