@charset "utf-8";

#cscenter{min-height:650px;}
.b_box01.search .b_list01 dl {padding:9px 8px 0px;box-sizing:border-box;-webkit-box-sizing:border-box}
.b_box01.search .b_list01 > div > p {border-top:none;box-sizing:border-box;-webkit-box-sizing:border-box}

.search_h {position:relative;overflow:hidden;margin:10px 8px;}
.search_h.app_srch {padding-right:52px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_h .search_bar {position:relative;height:40px;border:1px solid #0a5ad5;padding:0 44px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}/*padding:0 75px 0 0*/
.search_h .search_bar.resrch {padding-left:85px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_h .search_bar input {/*width:100%;*/}
.search_h input[type="text"] {border:none;padding:10px;height:38px;font-size:14px;color:#000;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_h input[type="search"] {border:none;padding:10px;height:38px;font-size:14px;color:#000;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%}
.search_h .btn_srch {overflow: hidden;position:absolute;top:0;right:0;width:43px;height:38px;text-indent:-9999px;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png') no-repeat 0 0;background-size: 90px 65px;-webkit-background-size: 90px 65px;}
.search_h .btn_del_srch {overflow: hidden;position:absolute;top:10px;right:50px;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png') no-repeat -35px -45px;background-size: 90px 65px;-webkit-background-size: 90px 65px;width:17px;height:17px;text-indent:-9999px;}
.search_h .voice_srch {overflow: hidden;position:absolute;top:0;right:0;background: url("http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png") no-repeat -45px 0;background-size: 90px 65px;-webkit-background-size: 90px 65px;width:44px;height:40px;text-indent:-9999px;}
.search_h .resrch_box {position:absolute;width:70px;top:9px;left:10px;color:#888;font-size:11px;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_bar.gif') no-repeat right 0;background-size: 1px 19px;-webkit-background-size: 1px 19px;}
.search_h .resrch_box input.check01[type="checkbox"] {vertical-align:top}
.search_h .resrch_box label {display:inline-block;padding-top:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab {overflow:hidden;}
.search_tab li:last-child {border-left:1px solid #d2d4d5;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab li {float:left;display:inline;width:50%;padding:9px 0 8px 0;text-align:center;border-top:3px solid #bdbdbd;border-bottom:1px solid #d2d4d5;color:#555;background-color:#dbdee0;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab li a {color:#555;}
.search_tab li.on {border-top:3px solid #0a5ad5;border-bottom:none;background-color:#fff;color:#0a5ad5;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab li.on a {color:#0a5ad5;}
.search_c.layer_srch {display:none;}
.search_c {clear:both;overflow:hidden;position:relative;}
.search_c.bnn {margin:10px;padding-right:0;padding-right:112px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_01 {width:100%;}
.search_c .list_01.lately li {padding-left:8px;box-sizing:border-box;-webkit-box-sizing:border-box} 
.search_c .list_01 li {position:relative;height:40px;line-height:40px;border-bottom:1px solid #e7e7e7;vertical-align:middle;font-size:15px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_01 li:last-child {border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_01 li a {color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;padding-right:40px;display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_01 li strong {display:inline-block;font-size:13px;color:#888;width:30px;text-align:center;}
.search_c .list_01 .rank span {position:absolute;right:26px;top:16px;width:9px;height:9px;text-indent:-9999px;}
.search_c .list_01 .rank {font-size:11px;padding-right:7px;position:absolute;top:0;right:0;box-sizing:border-box;-webkit-box-sizing:border-box}/*float:right*/
.search_c .list_01 .rank.up {color:#e00001}
.search_c .list_01 .rank.up span {color:#e00001;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png') no-repeat -25px -40px;background-size: 90px 65px;-webkit-background-size: 90px 65px;}
.search_c .list_01 .rank.down {color:#295dd8}
.search_c .list_01 .rank.down span {color:#e00001;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png') no-repeat 0 -40px;background-size: 90px 65px;-webkit-background-size: 90px 65px;}
.search_c .list_01 .rank.down a {color:#e00001;}
.search_c .list_01 .rank.new {color:#e00001;font-size:10px;font-weight:bold;}
.search_c .list_01 .rank.new a {color:#e00001;}
.search_c .list_01 .rank.equal span {width:10px;height:3px;right:15px;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png') no-repeat -10px -40px;background-size: 90px 65px;-webkit-background-size: 90px 65px;}
.search_c .list_01.lately .none {height:190px;text-align:center;padding-top:76px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_02 {border-top:1px solid #acaeb2;padding:0 10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_02 li {position:relative;height:40px;line-height:40px;border-bottom:1px solid #e7e7e7;vertical-align:middle;font-size:15px;color:#000;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_02 li:last-child {border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .list_02 li a {height:40px;padding-left:10px;vertical-align:middle;display:block;box-sizing:border-box;-webkit-box-sizing:border-box }
.search_c .list_02 .point {color:#0a5ad5;}
.search_c .list_02 span.rank {position:absolute;top:0;right:13px;font-size:13px;color:#888888;font-weight:normal;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .banner {position:absolute;top:0;right:0;width:100px}
.search_c .banner a {padding-bottom:10px;display:block;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .banner img {width:94px;height:190px}
.search_f {clear:both;height:40px;padding:11px 8px 0;font-size: 15px;font-weight:bold;border-top:1px solid #acaeb2;border-bottom:1px solid #acaeb2;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;background:#f5f6f7}
.search_f .srch_close {position:absolute;top:0;right:15px;padding:12px 15px;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/btn_close.png') no-repeat right center;background-size: 9px 10px;-webkit-background-size: 9px 10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c.srch_list {}/*margin:0 8px;*/
.search_c.srch_list .txt {padding:18px 8px;text-align:center;font-size:16px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c.srch_list .txt em {color:#0a5ad5;font-weight:bold;}
.search_c.srch_list .srch_box {border:1px solid #acaeb2;padding:0 12px;margin:0 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c.srch_list h3 {height:48px;line-height:48px;padding-left:25px;border-bottom:2px solid #000;background: url('http://image.lotte.com/lotte/mobile/mobile_new/search/ico_view.gif') no-repeat 0 15px;background-size: 18px 18px;-webkit-background-size: 18px 18px;font-size:15px;font-weight:normal;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c.srch_list h3 span {color:#666;font-size:13px;}
.search_c .plan_list {margin:5px 4px;}
.search_c .plan_list li {float:left;width:50%;padding:5px 4px;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .plan_list li:last-child {padding-bottom:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_c .plan_list img {width:100%;}


.tab_category { display:none;}
.tab_brand { display:none;}
.tab_recom { display:none;}
.tab_detail { display:none;}
.tab_category.on { display:block;}
.tab_brand.on { display:block;}
.tab_recom.on { display:block;}
.tab_detail.on { display:block;}

.search_tab_menu {position:fixed;left:0;bottom:0;width:100%;z-index:3000;background:#323b4a}
.search_tab_menu .menu_list {display:table;width:100%;z-index:1000;}
.search_tab_menu .tab_sub {bottom:45px;width:100%;}
.search_tab_menu .menu_list li {display:table-cell;border-left:solid 1px #1c2129;width:21%;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_menu .menu_list li a {background:#323b4a;border-left:solid 1px #434955;border-top:solid 1px #1c2129;font-size:13px;color:#dde3ea;font-weight:bold;text-align:center;display:block;height:45px;padding-top:14px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_menu .menu_list li a.on {color:#fff;background:#0a5ad5;border-left:solid 1px #0a5ad5;border-top:solid 1px #0a5ad5;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_menu .menu_list li a.on:before {content:"";position:absolute;top:-6px;left:50%;margin-left:-5px;width:0;height:0;border:solid 6px transparent;border-top-width:0;border-bottom-width:6px;border-bottom-color:#0a5ad5;display:block;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_menu .menu_list li.home {border-left:none;width:16%;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_menu .menu_list li.home a {text-indent:-9999em;color:transparent;position:relative}
.search_tab_menu .menu_list li.home a:before {content:"";position:absolute;top:13px;left:50%;margin-left:-10px;width:21px;height:18px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/ico_search.png) no-repeat -55px -45px;background-size:90px 65px}
.search_tab_cont {position:fixed;bottom:0;width:100%;z-index:3000;padding-bottom:45px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .range_list {overflow:hidden;border-top:solid 2px #0a5ad5;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .range_list li {border-bottom:solid 1px #dde1e7;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .range_list li a {font-size:14px;color:#000;height:40px;display:block;padding-top:12px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .range_list li a.on {background:#0a5ad5;color:#fff}
.search_tab_cont .range_list li a:hover {background:#0a5ad5;color:#fff}
.search_tab_cont .tab_category {position:relative;width:100%;overflow-x:hidden;overflow-y:scroll;height:312px;border-top:2px solid #0a5ad5;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_1 {position:relative;overflow:hidden;height:599px;background:#fff}
.search_tab_cont .depth_1 li, .search_menu .depth_1 a {position:relative;}
.search_tab_cont .depth_1 > li {border-top:1px solid #dde1e7;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_1 > li > a {display:block;min-height:40px;padding:11px 15px 10px 20px;font-size:14px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont h4 {min-height:25px;padding:5px 15px 5px 20px;background-color:#f3f3f3;color:#666;border-top:1px solid #e1e1e1;font-weight:normal;border-top:1px solid #cacaca;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont h4:first-child {border-top:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_2 > li > a {display:block;min-height:40px;padding:11px 15px 10px 31px;background-color:#dfe2e4;color:#555;font-size:14px;border-top:1px solid #d3d3d3;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_2 > li:first-child > a {border-top:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_3 a {display:block;min-height:40px;padding:11px 15px 10px 40px;background-color:#c9ced0;color:#555;font-size:14px;border-top:1px solid #b6bbbd;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_4 > li {display:block;min-height:41px;padding:10px 80px 10px 47px;border-top:1px solid #a9adaf;background-color:#b6bbbd;color:#555;font-size:14px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_4 > li:after {content:'';height:6px;width:6px;display:block;border:1px solid #7d7d7d;border-right-width:0;border-top-width:0;position:absolute;top:13px;left:35px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .goods_view {position:absolute;top:7px;right:13px;letter-spacing:-1px;}
.search_tab_cont .goods_view a {position:relative;display:block;width:60px;min-height:24px;line-height:23px;text-align:center;padding:1px 6px 0 0;border:1px solid #7d7d7d;z-index:10;border-radius:3px;font-size:11px;color:#666;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_btn.png) no-repeat 47px center  ;background-size:5px 7px;-webkit-background-size:5px 7px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .depth_1 h4, .search_menu .depth_2, .search_menu .depth_3, .search_menu .depth_4 {display:none;}
.search_tab_cont .depth_1 li.on h4, .search_menu .depth_1 li.on > .depth_2, .search_menu .depth_2 li.on > .depth_3, .search_menu .depth_3 li.on > .depth_4 {display:block;}
.search_tab_cont .depth_1 > li > a:before {content:"";position:absolute;top:18px;left:8px;width:8px;height:2px;background:#7d7d7d}
.search_tab_cont .depth_1 > li > a:after {content:"";position:absolute;top:15px;left:11px;width:2px;height:8px;background:#7d7d7d}
.search_tab_cont .depth_1 > li.on > a:after {content:"";position:absolute;top:15px;left:11px;width:2px;height:8px;background:transparent}
.search_tab_cont .depth_2 > li > a:before {content:"";position:absolute;top:18px;left:20px;width:8px;height:2px;background:#7d7d7d}
.search_tab_cont .depth_2 > li > a:after {content:"";position:absolute;top:15px;left:23px;width:2px;height:8px;background:#7d7d7d}
.search_tab_cont .depth_2 > li.on > a:after {content:"";position:absolute;top:15px;left:23px;width:2px;height:8px;background:transparent}
.search_tab_cont .depth_3 > li > a:before {content:"";position:absolute;top:18px;left:28px;width:8px;height:2px;background:#7d7d7d}
.search_tab_cont .depth_3 > li > a:after {content:"";position:absolute;top:15px;left:31px;width:2px;height:8px;background:#7d7d7d}
.search_tab_cont .depth_3 > li.on > a:after {content:"";position:absolute;top:15px;left:31px;width:2px;height:8px;background:transparent}
.search_tab_cont .brand {width:100%;border-top:2px solid #0a5ad5;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .tab_menu {overflow:hidden;display:table;width:100%}
.search_tab_cont .brand .tab_menu li {display:table-cell;width:50%;border-left:solid 1px #cacdce;border-bottom:solid 1px #cacdce;height:40px;text-align:center;background:#e1e1e1;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .tab_menu li:first-child {border-left:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .tab_menu li a {display:block;padding-top:11px;color:#555;font-size:13px;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .tab_menu li.on {background:#fff;border-bottom:solid 1px transparent;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .tab_menu li.on a {color:#0a5ad5}
.search_tab_cont .brand .list {display:none}
.search_tab_cont .brand .list ul {height:212px;overflow-y:scroll}
.search_tab_cont .brand .list li {height:42px;border-bottom:solid 1px #dde1e7;padding:11px 0 0 13px;position:relative;font-size:14px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .list .btn01 {text-align:center;padding:14px 8px 15px;font-size:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .brand .list .btn01 a {width:25%;margin:0 4px}
.search_tab_cont .brand .list li input.check01[type="checkbox"] {vertical-align:top}
.search_tab_cont .brand .list li label {display:inline-block;padding-top:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search {border-top:2px solid #0a5ad5;background:#fff;padding:0 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search th {color:#666;text-align:left;vertical-align:top;padding:17px 0 0 12px;width:90px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search th span {color:#888}
.search_tab_cont .detail_search td {border-bottom:solid 1px #b6bbbd;padding:10px 0;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search td span.wrap {width:40%;display:inline-block}
.search_tab_cont .detail_search td span.wrap:nth-child(2) {padding-left:11px;width:50%;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search td span.wrap:nth-child(3) {padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search td.one input {width:40%}
.search_tab_cont .detail_search td.two {position:relative;padding:15px 0;box-sizing:border-box;-webkit-box-sizing:border-box} 
.search_tab_cont .detail_search td.two label {position:absolute;top:10px;left:22px}
.search_tab_cont .detail_search .btn01 {text-align:center;padding:15px 0;font-size:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.search_tab_cont .detail_search .btn01 a {width:25%;margin:0 4px}
.search_tab_cont .detail_search td span.wrap input.check01[type="checkbox"] {vertical-align:top}
.search_tab_cont .detail_search td span.wrap label {display:inline-block;padding-top:2px;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 20141110 */
.coupon_layer {position:fixed;top:0;left:10%;right:10%;min-width:270px;z-index:1000000;border:solid 2px #323b4a;display:none;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
@media all and (orientation:landscape){
    .coupon_layer{left:30%;right:30%}
}
.coupon_layer .cont{background:#fff}
.coupon_layer .check {height:45px;padding-left:14px;overflow:hidden;background: #000;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .today {color:#fff;font-size:15px;display:inline-block;padding-top:12px;box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .today input[type="checkbox"] {cursor:pointer;border: solid 1px #d1d1d1; background: #fff;width:20px;height:20px;appearance:none;-webkit-appearance:none;margin-right:2px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .today input[type="checkbox"]:checked {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/input.png) no-repeat 0 0;background-size:100px 300px;background-position:-25px 0}
.coupon_layer .check .today label {display:inline-block;padding-top:1px;box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .close {float:right;box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .close a {color:#fff;display:inline-block;padding:13px 14px;height:46px;font-size:15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.coupon_layer .check .close a:before {  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 11px;
  background: url(http://image.lotte.com/lotte/mo2015/angular/side_cate.png) no-repeat -223px 0;
  background-size: 300px 300px;
  margin:0 5px 2px 0; }
/*20140625 선택영역히든처리*/
body * {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

/* 네이버광고유입전면팝업 */
.naver_layer{position:fixed;left:0;top:0;width:100%;height:100%;z-index:3;text-align:center;display:none}
.naver_layer .bg{position:absolute;width:100%;height:100%;left:0;top:0;background:#000;opacity:.6}
.naver_layer .appdown{/*width:313px;*/width:96%;margin-bottom:5px}
.naver_layer .layerclose{/*width:76px;*/width:23%}
.naver_layer .btn_wrap{position:absolute;left:0;top:65%;z-index:2;text-align:center;width:100%}

/* 20150513 추가 */
.category_mall_filter2.smpSerch .smpSerchBor {overflow:hidden;border-top:1px #c8b29d solid;margin-top:8px;height:100%;}
.category_mall_filter2.smpSerch .smpSerchBor:after{clear:both}
.category_mall_filter2.smpSerch .mall_checkbox label{padding:0 7px 0 0;}
.category_mall_filter2.smpSerch .mall_checkbox input{margin-right:7px;}
.category_mall_filter2.smpSerch .mall_checkbox .smpick_branch{display:inline-block;margin-top:-5px;}
.category_mall_filter2.smpSerch .mall_checkbox .smpick_branch .btn_smpick{color:#939393;background-color:#ddd;}

button.btn_smpick{-moz-box-apperance:none;-webkit-appearance:none;appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;width:100%;height:100%;line-height:14px;border:1px solid #9c775b;padding:6px 20px 6px 5px;color:#333;font-size:12px;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;background:url(http://image.lotte.com/ellotte/images/search/selectbox_arrow_01_down.png) right 5px center no-repeat #fff;background-size:11px 7px;white-space:nowrap;text-overflow:ellipsis;text-align:left}
button.btn_smpick:disabled{opacity:.3}

.ly_smpick{position:fixed;top:0;width:100%;height:100%;z-index:1000}
.ly_smpick .cover{width:100%;height:100%;background-color:#000;opacity:.3}
.ly_smpick .smpick_lst{overflow:hidden;position:absolute;top:50%;left:50%;width:280px;height:310px;margin:-155px -140px;background-color:#fff;border-radius:10px}
.ly_smpick .smpick_lst header{padding:10px 10px 20px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#8d6647;height:auto;position:initial;}
.ly_smpick .smpick_lst header span{display:block;overflow:hidden;width:229px;height:42px;margin:0 auto;background:url(http://image.lotte.com/ellotte/mobile/smartpick/ly_smpick_branch_tit.png) no-repeat;background-size:229px 42px;text-indent:100%;white-space:nowrap}
.ly_smpick .smpick_lst .branch_wrap{overflow-y:scroll;height:190px;border:1px solid #ddd;-webkit-overflow-scrolling:touch}
.ly_smpick .smpick_lst .branch_wrap ul li{border-bottom:1px solid #f2f2f2}
.ly_smpick .smpick_lst .branch_wrap ul li label{display:block;position:relative;padding:0 20px;font-size:15px;color:#333;line-height:43px}
.ly_smpick .smpick_lst .branch_wrap ul li input[type=radio]{-moz-box-apperance:none;-webkit-appearance:none;appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;top:50%;right:20px;width:20px;height:20px;margin:-10px 0;background:url(http://image.lotte.com/ellotte/mobile/common/input.png) -54px 0 no-repeat;background-size:100px 300px}
.ly_smpick .smpick_lst .branch_wrap ul li input[type=radio]:checked{background-position:-79px 0px}.ly_smpick .smpick_lst .btn_wrap .btn_close{-moz-box-apperance:none;-webkit-appearance:none;appearance:none;display:block;width:100%;padding:15px;text-align:center;color:#888;font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;border:none;background-color:#fff}

.category_mall_filter2{position:absolute;width:100%;top:93px;z-index:1;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);box-shadow:0 1px 2px 0 rgba(0,0,0,.3);overflow:hidden;background:#fff;}
.category_mall_filter2 .total_count{padding-left:13px;line-height:36px;font-size:12px;color:#252525;float:left}
.category_mall_filter2 .mall_checkbox{float:right;min-width:180px;padding:9px 13px 6px 0}
.category_mall_filter2 .mall_checkbox label{padding:0 0 0 7px;font-size:12px;color:#939393;position:relative;top:1px}

#searchResultForm .srh_recent {z-index:2;}