@charset "utf-8"; 
/** ##$$##_css_NEW_000 /common3/css/smp_common2013_v2.css gjbang  */

html,body{height:100%;margin:0px;padding:0px}
body{-webkit-text-size-adjust:none;background:#fff;font-size:12px;font-family:"돋움",Dotum,Arial,Helvetica,sans-serif;color:#878787;margin:0px;padding:0px}
div,p,ul,li,table,th,td,textarea,input,span,form,h1,h2,h3,h4,h5,h6,dt,dl,dd {margin:0px;padding:0px;font-size:12px}
ul,ol,dl,dd,dt,li{list-style-type:none;margin:0;padding:0px}
select{font-size:12px;padding:2px}
select.wd95{width:95px}
fieldset{border:0;margin:0px;padding:0px}
legend{margin:0px;padding:0px;font-size:0px;height:0px;line-height:0px}
caption{position:absolute;visibility:hidden;width:0px; height:0px;overflow:hidden;font-size:0px;margin:0px;padding:0px;line-height:0px}
img{border:0;vertical-align:top}
optgroup{font-style:normal;font-size:0px;height:0px;line-height:0px}
input[type="text"]{font-size:15px;color:#313131}
input[type="password"]{font-size:15px;color:#313131}
textarea {font-size:15px;color:#313131}
a{color:#878787;text-decoration:none} 
a:hover{color:#878787;text-decoration:none}
#wrap{width:100%;min-height:100%;margin:0px auto;position:relative}
.cb{clear: both;font-size:0px;line-height:0px;height:0px}
/* 입력폼 */
.input_01 {height:15px;border:0px;padding:2px 0px 0px 4px;vertical-align:middle}
.input_02 {height:15px;border:1px solid #C7C7C7;padding:2px 0px 0px 4px;vertical-align:middle}
.radio_01 {height:12px;border:0px;width:12px;margin:0px 4px 2px 0px;vertical-align:middle}
.radio_02 { vertical-align:middle;color:##5A5B5D;margin-top:1px}
.radio_order { vertical-align:middle;color:##5A5B5D;margin-top:-2px}
.checkbox_01 {height:20px;width:20px;vertical-align:middle;border:1px solid #2d2d2b;background:#ffffff;margin:2px} /* 트위터 2010.05.27 수정 */
.checkbox_02 {height:20px;width:20px;vertical-align:middle;border:1px solid #e5e5e5;background:#ffffff} /*서브페이지 로그인  2010.05.27 수정 */
.checkbox_03 {height:20px;width:20px;vertical-align:middle;border:1px solid #7294e8;background:#ffffff} /*위시리스트 로그인 2010.05.27 수정 */
.checkbox_04 {height:20px;width:20px;vertical-align:middle;border:1px solid #c5cad7;background:#ffffff}

/* 페이징 - 이전*/
.page_skip {text-align:center;word-spacing:1px;height:30px;margin-top:12px}
.page_skip span {color:#333333}
.page_skip a {color:#333333;font-weight:bold}
.page_skip img {vertical-align:middle}
.page_skip .skip01 {margin-right:33px}
.page_skip .skip02 {margin-left:33px}

/* 페이징 */
.paging {text-align:center;margin:12px auto;display:table; width:300px;border:0px solid #000}
.paging span {vertical-align:middle;border:0px solid #000;display:inline-block}
.paging .num_pre a {font-size:16px;font-weight:bold; color:#878787}
.paging a {padding:0 10px 0 10px;font-size:16px;font-weight:bold; color:#878787}
.paging .num_now a {font-size:16px;font-weight:bold; color:#1f46a7}

/* 페이징 정보 */
.paging_info {background:#f3f3f3;border:1px solid #efefef;width:85%; min-width:300px; line-height:19px;font-size:11px;color:#7f7f7f; text-align:center;margin:0 auto 10px auto}

section#paging {text-align:center;margin-bottom:35px}
section#paging span.num {display:inline-block;padding:10px 4px 0}
section#paging span.num a {display:inline-block;width:40px;height:20px;padding-top:2px;border-right:1px solid #E0E0E0;text-align:center;font-size:16px;font-weight:bold}
section#paging span.num a:last-child {border-right:0}
section#paging span.num a.now {color:#002D95}
/* 메뉴보일때 배경 딤드처리 */
#wrap_dimBg{ width:100%;height:100%;background:#000; opacity:0.6;filter:alpha(opacity=60);position:absolute;top:0px;left:0px;z-index:300}
/* 알림 박스 공통 */
.notice_box {background:url(http://image.lotte.com/lotte/mobile/common/bg_box.png) no-repeat right top ;width:272px;height:191px;padding-top:10px;margin:23px auto 0}
.notice_box_s {background:url(http://image.lotte.com/lotte/mobile/common/bg_box_s.png) no-repeat right top ;width:271px;height:191px;padding-top:10px;margin:23px auto 0}
.ac {text-align: center}
/* 팝업 BG */
#wrap_popBg{width:100%;height:100%; background:url(http://image.lotte.com/lotte/mobile/popup/bg_popup.png) repeat ;position:absolute;top:0px;left:0px;z-index:400}
/* HEADER */
header section.top a.searchBtn,
header section.top a.searchBtn span,
header section.top a.button,
header section.subTitle a.prevPage{background-image:url(http://image.lotte.com/lotte/mobile/common/header_v3_sp.png); background-repeat:no-repeat}
header section.top{padding-top:13px;height:40px;background-color:#fff;border-bottom:1px solid #001B59}
/*2013개선*/
header section.top{background-color:#3963c5}
/*header img{width:100%}*/
header section.top a.ci{float:left;width:105px;height:12px;margin:8px 0 0 10px}
header section.top .searchFormArea{float:right;width:61%;margin-right:10px;height:36px;text-align:right}
#searchForm:after{content:"";display:block;clear:both}
header .searchFormArea .fl{float:right}
header section.top .searchFormArea a.fl img{width:37px;height:27px}

/*2013개선*/header .searchFormArea span.keyword_box{width:62%;float:right;;height:21px;padding:4px 0 0 5px;border:1px solid #224cb0; background-color:white}
header .searchFormArea span.keyword_box img{float:left;margin-right:5px}
header .searchFormArea .keyword_box input.keyword{border:0;width:70%}
header .searchFormArea span.keyword_box input{float:left;position:relative;top:3px}
header section.top a.button{float:right;width:56px;height:30px;text-indent:-9999px;background-position:-140px -80px}
header section.top a.mylotte{float:right;width:46px;height:28px;padding:0px 0 0 0;text-align:center}

/* SEARCH */
header section.top .searchFormArea{position:relative;float:none;width:auto;margin:0 56px 0 117px;padding:0 0 0 15px}
header section.top a.mylotte{display:block;position:absolute;right:-56px}
/*20131209 right 수정*/
header .searchFormArea .fl{display:none;position:absolute;right:-56px}
header .searchFormArea span.keyword_box{display:block;width:100%}

/*2013개선*/header .searchFormArea span.keyword_box img{position:absolute;right:0px;top:6px;z-index:100;width:16px}
header .searchFormArea .keyword_box input.keyword{top:-4px;width:100%;height:25px;float:none;font-size: 15px}/*20130403*/
header .searchFormArea .keyword_box .text_wrap{display:block;position:relative;z-index:10;margin:0 15px 0 0}

header section.subTitle{position:relative;z-index:1;height:42px;background-color:#3f3f3f}
header section.subTitle a.prevPage2{position:absolute;left:0;top:0;display:block;width:60px;height:42px;text-indent:-9999px;background:url('http://image.lotte.com/lotte/mobile/smartpick/common/btn_before2014.png') no-repeat center center;background-size:14px 24px;}
header section.subTitle h2{line-height:42px;overflow:hidden;padding:0px;margin:0px 70px 0 65px;text-align:center;font-size:16px;font-weight:bold;color:#FFFFFF;white-space:nowrap;text-overflow: ellipsis}
header section.subTitle h2 span.color_green{color:#95dad5;font-size:16px;}
header section.suTitle a.prevPage{position:absolute;left:6px;top:7px;display:block;width:56px;height:30px;text-indent:-9999px;background-position:-120px -40px}
header section.subTitle a.topEdit2013{position:absolute;left:6px;top:7px;display:block;width:48px;height:26px;text-indent:-9999px;background:url('http://image.lotte.com/lotte/mobile/common/icon_edit2013.png') no-repeat 0 0;background-size:48px 26px}
header section.subTitle a.topClose2013{position:absolute;right:6px;top:7px;display:block;width:48px;height:26px;text-indent:-9999px;background:url('http://image.lotte.com/lotte/mobile/common/icon_close2013.png') no-repeat 0 0;background-size:48px 26px}
.smp_container section.smp_location { text-align:center; background-color:#09837d !important; padding:10px 0; }
.smp_container section.smp_location.mb05{margin-bottom:5px;}
header section.subTitle div.left { position:absolute; top:9px; left:20px; }
header section.subTitle div.center { position:relative; width:auto; margin:0 130px; text-align:center; padding-top:10px }
header section.subTitle div.right {position:absolute; top:5px; right:20px; margin-top:-4px;}
header section.subTitle div.center span { display:inline-block; font-size:20px; font-weight:bold; line-height:20px; color:#fff; overflow:hidden; white-space:nowrap; text-overflow;ellipsis; width;160px;}
header section.subTitle div.left a.home {display:none; }
header section.subTitle div.left a.prev {display:block;width:14px;height:22px;text-indent:-9999px;background:url('http://image.lotte.com/lotte/mobile/smartpick/common/btn_before2013.png') no-repeat 0 0; }

body.main header section.subTitle{display:none}
header .search_list{position:relative;z-index:30}
header .search_list:after{content:"";display:block;clear:both}
header #searchview{position:static;background:#fff;width:100%}
header .search_listv li{width:100%;border-bottom:1px solid #dbdbdb}
header .search_listv li a:after{content:"";display:block;clear:both}
header .search_listv li a{display:block;padding:14px 20px 14px 20px;font-size:14px;color:#666}
header .search_listv li span.search_t{float:left}
header .search_listv li span.search_d{float:right}
header .searching{position:absolute;top:30%;left:45%;text-align:center}
header .searching img{width:100%}
header .search_listv .point {font-size:14px; color:#4B83FF}

/* FOOTER */
footer{border-top:1px solid #ABABAB;background-color:#F7F7F7;clear:both;margin:0px auto;text-align:center;width:100%;height:183px;bottom:0;overflow:hidden;position:absolute}
footer .util{clear:both;border-bottom:1px solid #D7D7D7;background-color:#fff}
footer .util nav{display:table;width:310px;height:33px;padding:0 5px;margin:0 auto}
footer .util nav a{display:table-cell;vertical-align:middle;color:#888;letter-spacing:-1px}
footer .link{height:34px}
/*20120903 수정*/
footer .link nav{position:relative;width:320px;height:23px;padding-top:10px;margin:0 auto;text-align:center}
footer .link nav a{float:left;text-align:center;font-size:11px;color:#666;letter-spacing:-2px;padding:0 0 0 0px;background:url('http://image.lotte.com/lotte/mobile/common/footer_line2.png') no-repeat right 1px}			
footer .link nav a:nth-of-type(4){background:url('http://image.lotte.com/lotte/mobile/common/footer_line2.png') no-repeat right 1px}
footer .link nav a:nth-of-type(1){width:41px}
footer .link nav a:nth-of-type(2){width:41px}
footer .link nav a:nth-of-type(3){width:99px}
footer .link nav a:nth-of-type(4){width:69px}
footer .link nav a:nth-of-type(5){width:69px;background:none}
footer .address{clear:both;width:295px;padding:10px 7px 0 7px;margin:0 auto}
footer .address p{font-size:11px;line-height:16px;color:#888;letter-spacing:-1.4px;text-align:left;height:78px;overflow:hidden}
footer .address p strong.c1{color:#2046a7}
footer .address p strong.c2{color:#393939}
footer .foot_nav ul{height:36px;width:100%;background:url('http://image.lotte.com/lotte/mobile/common/footer_nav_bg.png') repeat-x 0 0}
footer .foot_nav ul:after{content:"";display:block;clear:both}
/*20120903 추가 및 수정*/
.onPhone{display:none}
footer .foot_nav li.loginMenu a {color:white;background-image:-webkit-gradient(linear, 0% 0%, 0% 78%, from(#ACBDCD), to(#88A0B7), color-stop(.5,#9DB1C4))}
.loginMenu a span{color:white}
footer .foot_nav li {margin-top:3px;width:12.4%;float:left;text-align:center;border-right:1px solid #d0d0d0}
footer .foot_nav li.last {border-right:0}
footer .foot_nav li a {margin-top:2px;display:block;padding:8px 0 8px 0;color:#494949}
footer .foot_nav li:nth-of-type(7) a{padding:0px 0 2px 0}

/*컨텐츠보호안내 표시*/
footer .copy_right{font-size:11px; color:#999999}
footer .spot{color:#393939}
/* CONTAINER */
#container{position:relative}

/* 여백 */
.mg_top2 {margin-top:2px}
.mg_top3 {margin-top:3px}
.mg_top5 {margin-top:5px}
.mg_top7 {margin-top:7px}
.mg_top10 {margin-top:10px}
.mg_top15 {margin-top:15px}
.mg_top20 {margin-top:20px}
.mg_top22 {margin-top:22px}
.mg_bot1 {margin-bottom:1px}
.mg_bot3 {margin-bottom:3px}
.mg_bot10 {margin-bottom:10px}
.mg_bot30 {margin-bottom:30px}
.mg_left_2 {margin-left:-2px}
.mg_left2 {margin-left:2px}
.mg_left5 {margin-left:5px}
.mg_left7 {margin-left:7px}
.mg_left8 {margin-left:8px}
.mg_left10 {margin-left:10px}
.mg_left12 {margin-left:12px}
.mg_left14 {margin-left:14px}
.mg_left16 {margin-left:16px}
.mg_left20 {margin-left:20px}
.mg_left24 {margin-left:24px}
.mg_left30 {margin-left:30px}
.mg_left48 {margin-left:48px}
.mg_right5 {margin-right:5px}
.mg_right8 {margin-right:8px}
.mg_right10 {margin-right:10px}
.mg_right12 {margin-right:12px}
.mg_right15 {margin-right:15px}
.mg_right22 {margin-right:22px}
.mg_right30 {margin-right:30px}
.mg_right40 {margin-right:40px}
.pd_top9 {padding-top:9px}
.pd_top4 {padding-top:4px}
.pd_bot5 {padding-bottom:5px}
.pd_bot7 {padding-bottom:7px}
.pd_bot10 {padding-bottom:10px}
.pd_left4 {padding-left:4px}
.pd_left5 {padding-left:5px}
.pd_left8 {padding-left:8px}
.pd_left10 {padding-left:10px}
.pd_left12 {padding-left:12px}
.pd_left20 {padding-left:20px}
.pd_left113 {padding-left:113px}

/*폰트color*/
.fc313131 {color:#313131}
.fc454545 {color:#454545}
.fcff0101 {color:#ff0101}
.fc696969 {color:#696969}
.fc1e1e1e {color:#1e1e1e}
.fcfc7d00 {color: #fc7d00}
.fc1f46a7 {color:#1f46a7}
.fc5d5d5d {color:#5d5d5d}
.fc252525 {color:#252525}
.fc3569d8 {color:#3569d8}
.fc878787 {color:#878787}
.fc333    {color:#333; font-weight:bold}

/*폰트size*/
.fs11 {font-size:11px}
.fs13 {font-size:13px}
.fw_bold {font-weight:bold}
.llh20 {line-height:20px}
.llh30 {line-height:30px}
.llh50 {line-height:50px}
.t_deco_line {text-decoration:line-through}

/* alert_box */
.alert_box {margin:23px auto;width:276px;background:url(http://image.lotte.com/lotte/mobile/common/box_bg.gif) repeat-y left top}
.alert_box .top {background:url(http://image.lotte.com/lotte/mobile/common/box_top.gif) no-repeat left top;height:9px}
.alert_box .bg {padding-bottom:15px;background:url(http://image.lotte.com/lotte/mobile/common/box_bot.gif) no-repeat  left bottom;border:0px solid #000}

@media all and (max-width:683px) {
	#container #t_nav li {width:25%}
	/*20120903 추가 및 수정 */
	.onPhone{display:block}
	footer .foot_nav li{width:19.7%}
	.ontablet{display:none}
}

/*체크박스 수정 2012.07.05*/
.checkbox_n015 {-webkit-transform: scale(1.5,1.5); vertical-align:middle;border:1px solid #7294e8;background:#ffffff}

/*검색 개선 2012.07.09*/
header section.no_bdr{border-bottom:none}
.search_tab{overflow:hidden}
.search_tab ul{width:100%;overflow:hidden}
.search_tab ul li{float:left;width:33.35%;height:32px!important;font-size:11px;text-align:center; padding:0px !important;background-size:auto 32px;background:url("http://image.lotte.com/lotte/mobile/common/bg_li_right.gif") no-repeat right top, url("http://image.lotte.com/lotte/mobile/common/bg_li_left.gif") no-repeat left top; line-height:14px !important}
.search_tab ul li.sele{width:33.46%;background-size:auto 32px;background:url("http://image.lotte.com/lotte/mobile/common/bg_lisele_right.gif") no-repeat right top, url("http://image.lotte.com/lotte/mobile/common/bg_lisele_left.gif") no-repeat left top}
.search_tab ul li img{width:100%}
.search_tab ul li a{color:#7b808a;font-weight:bold;font-size:12px;display:block;padding-top:10px}
.search_tab ul li.sele a{color:#313131}
.search_list_now{display:none}
.search_list_today{display:none}
.search_list_record ul li{height:42px;padding:0 20px;border-bottom:1px solid #e2e2e2;line-height:42px}
.search_list_record ul li a p{color:#666; font-weight:bold;letter-spacing:0.05em;font-size:14px}
.search_list_now ol li{height:42px;padding:0 20px;border-bottom:1px solid #e2e2e2;line-height:40px;overflow:hidden}
.search_list_now ol li span.list_wrap_text{width:70%;float:left}
.search_list_now ol li span.list_wrap_count{width:30%;float:right}
.search_list_now ol li span.search_list_num img{width:16px;height:16px;padding-top:14px}
.search_list_now ol li span.search_list_arrow{float:left;width:20%}
.search_list_now ol li span.search_list_arrow img{width:12px;height:10px;padding-top:16px}
.search_list_now ol li strong{font-size:12px;color:#666;line-height:44px;padding-left:5px;letter-spacing:0.05em}
.search_list_today ol li span.search_list_count{width:80%;height:42px; overflow:hidden;float:left;font-size:10px;vertical-align:center}
.search_list_today ol li{height:42px;padding:0 20px;border-bottom:1px solid #e2e2e2;line-height:40px;overflow:hidden}
.search_list_today ol li span.list_wrap_text{width:70%;float:left}
.search_list_today ol li span.list_wrap_count{width:30%;float:right}
.search_list_today ol li span.search_list_num img{width:16px;height:16px;padding-top:14px}
.search_list_today ol li span.search_list_arrow{float:left;width:20%}
.search_list_today ol li span.search_list_arrow img{width:12px;height:10px;padding-top:16px}
.search_list_today ol li strong{font-size:12px;color:#666;line-height:44px;padding-left:5px;letter-spacing:0.05em}
.search_list_today ol li span.search_list_count{width:80%;height:42px; overflow:hidden;float:left;font-size:12px;vertical-align:center}
.desc_search_list_now{width:100%; height:65px;border-top:2px solid #818181;border-bottom:2px solid #b5b3b3;background:#eee;text-align:center}
.desc_search_list_now p img{width:320px}
.desc_search_list_today{width:100%; height:65px;border-top:2px solid #818181;border-bottom:2px solid #b5b3b3;background:#eee;text-align:center}
.desc_search_list_today p img{width:320px}

/*헤더 검색영역 개선  2012.07.10 */
header section.no_bdr{border-bottom:none}
.search_tab{overflow:hidden}
.search_tab ul{width:100%;overflow:hidden}
.search_tab ul li{float:left;width:33.35%;height:32px!important;font-size:11px;text-align:center; padding:0px !important;background-size:auto 32px;background:url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_off_2.png') no-repeat left 0,
	url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_off_3.png') no-repeat right 0,
	url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_off_1.png') repeat-x 0 0;ine-height:14px !important}
.search_tab ul li.sele{width:33.46%;background-size:auto 32px;background:url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_on_2.png') no-repeat left 0,
	url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_on_2.png') no-repeat right 0,
	url('http://image.lotte.com/lotte/mobile/sub/search_app_tab_bg_on_1.png') repeat-x 0 0}
.search_tab ul li img{width:100%}
.search_tab ul li a{color:#7b808a;font-weight:bold;font-size:12px;display:block;padding-top:10px}
.search_tab ul li.sele a{color:#313131}
.search_list_now{display:none}
.search_list_today{display:none}
.search_list_record ul li{height:42px;padding:0 20px;border-bottom:1px solid #e2e2e2;line-height:42px}

/*추천검색어*/
header #schview{position:static;background:#fff;width:100%}
#schview .sch_listv li{width:100%;border-bottom:1px solid #a4a6b6; padding:0;height:42px; text-align:left;}
#schview .sch_listv li a:after{content:"";display:block;clear:both}
#schview .sch_listv li a{display:block;padding:0px 20px 0px 20px;font-size:14px;color:#666; font-weight:bold;}
#schview .sch_listv li span.sch_t{float:left;width:70%}
#schview .sch_listv li span.sch_d{width:25%;float:right; text-align:right;}
#schview .sch_listv .point {font-size:14px; color:#09837d}

/*헤더 검색영역 개선 끝*/
/* 20111108 숨길 테이블 */
#container .thisIsInvisible{display:none !important}

header .delview{width:100%;position:absolute;bottom:-30px;background:white;z-index:500}
header .delview .centerAlign{width:135px;margin:0 auto 0 auto}
/*Button UI*/
.buttonUI_Atype{width:130px;padding:8px 12px;border:1px solid #b7bdcd;font-weight:bold;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;color:#606889;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.01, #ffffff),color-stop(0.77, #eff2fa));background-image:-moz-linear-gradient(center top,#ffffff,#eff2fa)}

/*즐겨찾기 팝업*/
div.bookmarListkLayer{display:none;position: absolute;top: 0px;left: 0px;min-width:320px;min-height:100%;z-index: 100;width:100%;background-color:#fff;}
div.bookmarListkLayer iframe{width:100%;height:100%;border:0;margin:0}
div#sideMeniu{position:absolute;top:600px;right:5px;z-index:99}
div#sideMeniu img{width:49px}

/*20130403 빠른메뉴*/
header section.top .searchFormArea {margin: 0 65px 0 117px}
header section.top a.mylotte{right:-50px}
header section.top a.mylotte img{width:55px}
div#QMenu{position:absolute;top:48px;z-index:301;width:100%;display:none}
div#QMenu div.QMenuBox{width:300px;background-color:white;float:right;margin-right:10px;border:1px solid black}
div#QMenu div.QMenuBox .ptop {height:35px; background:#3963c5;color:white;font:normal 16px/16px dotum;line-height:35px;padding-left:16px}
div#QMenu div.QMenuBox .ptop div.topClose{float:right;width:41px;color:#454545;background-color:#d2d0d0;font-size:12px;text-align:center;line-height:23px;margin:6px;border:1px solid #22469b;border-radius:3px}
div#QMenu div.QMenuBox .pfoot {height:35px; background:#f0f0f0;padding:1px;margin-top:10px}
div#QMenu div.QMenuBox .pfoot div.footClose{width:41px;color:white;background-color:#656565;font-size:12px;text-align:center;line-height:23px;margin:6px auto;border:1px solid #737373;border-radius:3px}
/*20130403 수정*/
div#QMenu ul{margin:0px;border-bottom:1px solid #b8b8b8;background-color:#f7f7f7}
div#QMenu ul li{width:25%;float:left}
div#QMenu ul:after {content:'';display:block;clear:both}
div#QMenu ul li a{display:block;height:57px;border-right:1px solid #b8b8b8;text-align:center}
div#QMenu ul li img{width:40px; height:40px}
div#QMenu ul.QMevnca{margin:0 10px 5px 10px;border:1px solid #b8b8b8}
div#QMenu ul.QMevnca li img{width:50px; height:40px}
div#QMenu ul li:nth-child(8n+0) a {border-right:0} 
div#QMenu ul li a span {display:block;font:normal 11px/11px dotum; color:#666666;letter-spacing:-0.7px}	
div#QMenu ul li:nth-child(n+5) a{border-top:1px solid #b8b8b8}
div#QMenu ul li:nth-of-type(4) a {border-right:0}
div#QMenu ul.QMbrandStore{border-top:1px solid #e5e5e5;border-bottom:0px;margin:11px 10px 7px 10px;background-color:white;padding-top:5px}
div#QMenu ul.QMbrandStore li{border:0px}
div#QMenu ul.QMbrandStore li a{border:0px;height:69px}
div#QMenu ul.QMbrandStore li img{width:44px;height:44px;margin:6px}
div#QMenu ul.QMbrandStore li:nth-child(1) img{width:69px;height:69px;margin:0px}
div#QMenu div.QMline{border-top:1px solid #b8b8b8}
div#QMenu h3{padding:5px 10px 3px 10px;color:#333333;font:normal 12px/12px dotum}
div#QMenu div.bgLine{background-image:url("http://image.lotte.com/lotte/mobile/common/qm_icon_bg_0403.png");background-repeat:repeat;width:100%;height:10px}

.delview .right_btn{float:right;margin-right:10px}
.delview .left_btn{float:left;margin-left:10px}
/*20130403 조검검색창*/
div#SeMenu{position:absolute;top:10px;z-index:301;width:100%;display:none}
div#SeMenu div.QMenuBox{width:300px;background-color:white;float:right;margin-right:10px;border:1px solid black}
div#SeMenu div.QMenuBox .ptop {height:35px; background:#3963c5;color:white;font:normal 16px/16px dotum;line-height:35px;padding-left:16px}
div#SeMenu div.QMenuBox .ptop div.topClose{float:right;width:41px;color:#454545;background-color:#d2d0d0;font-size:12px;text-align:center;line-height:23px;margin:6px;border:1px solid #22469b;border-radius:3px}
div#SeMenu div.QMenuBox .pfoot {height:35px; background:#f0f0f0;padding:1px;margin-top:10px}
div#SeMenu div.QMenuBox .pfoot div.footClose{float:left;width:41px;color:white;background-color:#656565;font-size:12px;text-align:center;line-height:23px;margin:6px auto;border:1px solid #737373;border-radius:3px;margin-left:70px}
div#SeMenu div.QMenuBox .pfoot div.footClose.search{width:121px;background-color:#3f6cd9;margin-left:10px;border:1px solid #6b7ca3}
div#SeMenu h3{float:left;padding-right:10px;color:#333333;font:bold 14px dotum}
div#SeMenu div.QMenuBox div.checkOption{padding:15px 0px 10px 10px;font-size:14px;letter-spacing:-1px}
div#SeMenu div.QMenuBox div.textInput{padding:0 10px;height:40px}
div#SeMenu div.QMenuBox div.textInput div.textBox{width:90px;height:27px;float:left;margin-right:5px}
div#SeMenu div.QMenuBox div.textInput div.textBox input{width:90px;height:27px;line-height: 27px;text-align:right;border:1px solid #a2a4a2;font-size:14px}
div#SeMenu div.QMenuBox input#tx{line-height: 22px;text-align:right;width:70px;height:22px;font-size:14px;position:absolute;top:81px;right:170px;display:none}
div#SeMenu div.QMenuBox div.textInput div.centertext{float:left;height:27px;line-height:27px;margin:0px}
div#SeMenu div.QMenuBox div.textInput div.textBox.on{border:1px solid #5F5F5F}

/*20130510 이거어때 공통으로 뺌 - 20130729 수정*/
section.subTitle a.thisWdyt{width:80px; height:27px; background:url("http://image.lotte.com/lotte/mobile/btn/thisWdyt_0307.png") 0 0 no-repeat; display:inline-block; position:absolute; right:5px; top:7px;background-size:80px 27px; text-indent: -9999px; line-height: 1000px}
section.subTitle a.shareLzine{width:80px; height:27px; background:url("http://image.lotte.com/lotte/mobile/btn/thisShare_0313.png") 0 0 no-repeat; display:inline-block; position:absolute; right:5px; top:7px;background-size:80px 27px; text-indent: -9999px; line-height: 1000px}
div#snsPop{position:absolute;top:100px;z-index:303;width:100%}
div#snsPop div.snsPopBox{width:287px; height:298px;border:1px solid black;margin:0 auto; background:white}
div#snsPop div.snsPopBox .ptop {height:31px; background:#3963c5}
div#snsPop div.snsPopBox .ptop div.topTitle{float:left;margin:6px 0 0 10px;width:157px}
div#snsPop div.snsPopBox .ptop div.topClose{float:right;margin:4px 2px 0 0;width:24px; background-position:-102px 0px}
.ppimg{width:110px; height:21px; background:url('http://image.lotte.com/lotte/mobile/sub/couponDownload_popbtn_0228_btn.png') no-repeat left top;background-size: 125px 93px;text-indent:-9999px}
.snsimg{width:157px; height:21px; background:url('http://image.lotte.com/lotte/mobile/sub/sns_icon_0729.png') no-repeat left top;background-size: 130px 343px;text-indent:-9999px}
div#snsPop div.snsPopBox .info{margin-top:2px}
div#snsPop div.snsPopBox .info div{width:100%;height:52px;border-bottom:1px solid #e5e5e5}
div#snsPop div.snsPopBox .info a:last-child div{border-bottom:1px solid #b2b2b2}
div#snsPop div.snsPopBox .info div.snsimg.iconA{background-position:23px -26px}
div#snsPop div.snsPopBox .info div.snsimg.iconB{background-position:23px -79px}
div#snsPop div.snsPopBox .info div.snsimg.iconC{background-position:23px -134px}
div#snsPop div.snsPopBox .info div.snsimg.iconD{background-position:23px -188px}
div#snsPop div.snsPopBox .info div.snsimg.iconE{background-position:23px -242px}
div#snsPop div.snsPopBox div.snsimg.iconF{width:280px;height:50px; background-position:95px -295px}
/*20130729 문자발송하기 팝업*/
div#smsPop{position:absolute;top:0px;z-index:303;width:100%}
div#smsPop div.smsPopBox{width:100%; height:480px;background:white}
div#smsPop div.smsPopBox div.smstop.bg1{background:#4866d6;text-align:center}
div#smsPop div.smsPopBox div.smstop.bg2{background:#eaeefa;text-align:center}
div#smsPop div.smsPopBox div.smstop img{width:320px}
div#smsPop div.smsPopBox div.smsth{height:25px;color:#4866d6;font-size:16px;margin:15px 0 0 23px}
div#smsPop div.smsPopBox div.smsth .nemo{width:3px;height:3px;background:#4866d6;margin:7px 5px 0 0;float:left}
div#smsPop div.smsPopBox div.smsinput{padding:0 32px}
div#smsPop div.smsPopBox div.smsinput p{margin-top:8px}
div#smsPop div.smsPopBox div.smsinput input{height:23px;border:1px solid #999999;width:100%}
div#smsPop div.smsPopBox div.smsdata{margin:0 32px;border:1px solid #999999;padding:7px;height:114px;word-break:break-all;overflow:hidden}
div#smsPop div.smsPopBox div.smsfoot{text-align:center;border-top:3px solid #4574d6;padding-top:18px;margin-top:25px}
div#smsPop div.smsPopBox div.smsfoot img{height:52px;width:auto}
/*20130625 checkbox & radio input*/
div.dvcheck{background-image:url("http://image.lotte.com/lotte/mobile/btn/input_img1_0715.png");background-repeat:no-repeat;background-size:18px 18px;height:18px;padding-left:20px;line-height:18px}
div.dvcheck.checked{background-image:url("http://image.lotte.com/lotte/mobile/btn/input_img2_0715.png");background-repeat:no-repeat;background-size:18px 18px;height:18px;padding-left:20px;line-height:18px}
div.dvradio{background-image:url("http://image.lotte.com/lotte/mobile/btn/input_img3.png");background-repeat:no-repeat;background-size:18px 18px;height:18px;padding-left:20px;line-height:18px;float:left;margin-right:10px;margin-top:5px}
div.dvradio.checked{background-image:url("http://image.lotte.com/lotte/mobile/btn/input_img4.png");background-repeat:no-repeat;background-size:18px 18px;height:18px;padding-left:20px;line-height:18px;float:left;margin-right:10px}
div.dvcheck input{display:none}
div.dvradio input{display:none}
/*20130805 태블릿헤더*/
header section.subTitle.pad .toHome{width:30px;height:19px;display:block;position:absolute;margin:10px;color:#fefefe;background-image:url("http://image.lotte.com/lotte/mobile/common/btn_home_bg_0806.png");background-size:30px 24px;text-align:center;padding-top:5px}
header section.subTitle.pad a.prevPage2{left:50px;top:10px}
/*201308 PAD 버전 헤더 */
.topPad { position:relative; height:91px; background-color:#3963c5; }
.topPad h1 { position:absolute; left:0; top:40px; width:224px; text-align:center; }
.topPad h1 img{width:186px}
.topPad .searchFormAreaPad{ position:relative; width:auto; margin:0 331px 0 225px; top:20px; }
.topPad .searchFormAreaPad span.keyword_box{ display:block; width:100%; height:54px; border:solid 2px #224cb0; border-right:0; background:#fff; } 
.topPad .searchFormAreaPad span.keyword_box .icon_search {width:26px;height:26px;position:absolute; left:15px; top:15px; z-index:100; }
.topPad .searchFormAreaPad .keyword_box input.keyword{ width:100%; height:54px; padding:0 10px; font-size:25px; border:0; }
.topPad .searchFormAreaPad .btn_search {position:absolute; top:0; right:-51px; border:solid 2px #224cb0; border-left:0; }
.topPad .searchFormAreaPad .btn_search img{width:51px}
.topPad .header_banner { position:absolute; right:0; top:0; }
.topPad .header_banner img{width:251px}
/*20130816 복수 배송지 추가*/
.order_product_list dl dt span.delivery_info{font-size:14px}
.order_product_list dl dt span.delivery_check{float:right; padding-right: 10px}
.order_product_list dt.district{font-weight:bold; color: #4667d6; background-color: #dfe8f6;font-size:12px}
div.order_product_list a.send_commodity{background:url("http://image.lotte.com/lotte/mobile/common/btn_sendopen_0816.png"); background-size: 124px 28px; width: 124px; height: 28px; display: block; float: left}
div.order_product_list a.on{background-image:url("http://image.lotte.com/lotte/mobile/common/btn_sendclose_0816.png"); background-size: 124px 28px; width: 124px; height: 28px; display: block; float: left}
div.order_product_list div.cart_list_order_select{display:none;background-color:#E9E9E9;padding-top: 1px}
div.order_product_list div.on{display:block; background: #e9e9e9; margin:0 0px 17px;padding:1px 0px}
div.cart_list_order_select div.cart_product div.thumb {left: 16px;position:absolute;top: 5px}
div.d_charge_bottom{background: #cecece; height: 14px; padding: 5px 10px}
div.d_charge_bottom .d_charge{float: right;font-size:12px;font-weight:bold}
div.cart_list_order_select div.cart_list_order{background-color: #E9E9E9; padding: 10px 0 0 0;}
div.cart_list_order_select div.cart_list_order div.cart_product div.thumb {left: 15px;position: absolute;top: 0}
div.cart_list_order_select div.cart_list_order div.cart_product div.info {padding: 0 5px 0 93px}
.cart_list_order_select{margin:10px; 0}
/*주문배송조회 상세*/
div.order_sum{padding:7px 20px 7px 0;background:#e9e9e9;margin:0 10px;text-align: right}
div.order_sum span.order_price{color:#454545}
div.order_sum span.amount{color:#e75900}
/*주문취소*/
div.cancle_box_cell textarea{border: 1px solid #cbcbcb;border-radius: 3px}
/* iOS7 화면 깨짐 대응 (주문취소) */
.border_box{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
/*20131001 더보기 (PAD)*/
.viewPageMore {position:relative; border-top:1px solid #dddddd; margin-left:1px; margin-bottom:20px; text-align:center; height:60px; background:url(http://image.lotte.com/lotte/mobile/sub/bg_add_line02.png) 0 bottom repeat-x #f2f2f2;  }
.viewPageMore a img.ibtn_1{width:230px;margin-top:20px}
.viewPageMore .script a {display:block; width:100%; }
.viewPageMore .txt2 {position:absolute; width:200px;text-align:left; font-size:12px;margin:38px 0 0 20px; margin-top:22px; color:#333;}
.viewPageMore .script {position:absolute; top:20px; left:50%; margin-left:-62px;}
.viewPageMore .script  span {display:inline-block; margin-left: 7px; padding-left:9px; background:url(http://image.lotte.com/lotte/mobile/sub/bg_add_line.png) left 0 repeat-y; color:#333; font-weight:bold; font-size:16px;  }
.load_img {position:absolute; top:0; left:0; width:100%; height:60px; background-color:#fff; padding-top:20px;}

/*20131007 주문배송,장바구니용 공통 테이블형식*/
.btn_p01{width:46px;height:30px;line-height:30px;text-align:center;background:#aaaaaa;color:white;border-radius:3px}
.btn_p02{width:46px;height:30px;line-height:30px;text-align:center;background:#999999;color:white;border-radius:3px}
.btn_p03{width:106px;height:40px;line-height:40px;text-align:center;background:#3963c5;color:white;font-size:14px}
.btn_p04{width:106px;height:40px;line-height:40px;text-align:center;background:#999999;color:white;font-size:14px}
.btn_p05{width:106px;height:40px;line-height:40px;text-align:center;background:#aaaaaa;color:white;font-size:14px}
.p_table{margin:0 20px}
.p1002_table{margin:0 20px;padding:0 10px;border-radius:3px;background:#ffffff;padding-bottom:10px;border-bottom:1px solid #c5c5c5}
.p1002_table div{word-break:break-all;color:#666666}
.p1002_table .p_top{word-break:break-all;padding:20px 66px 20px 10px;font-size:20px;line-height:20px;color:#333333;border-bottom:1px solid #c5c5c5;font-weight:bold}
.p1002_table .p_top .sideBtn{position:absolute;right:40px;color:white;margin-top: -24px}
.p1002_table .p_top.selectTop{padding-left:40px;color:#3963c5}
.p1002_table .p_top.selectTop input{position:absolute;margin-left:-30px}
.p1002_table .p_2cell{border-bottom:1px solid #eee;display:table;width:100%;box-sizing: border-box}
.p1002_table .p_2cell div{display:table-cell;padding:13px 10px 13px 40px;font-size:15px;line-height:17px}
.p1002_table .p_2cell:last-child{border-bottom:0px}
.p1002_table .p_2cell div.ld{width:110px;font-weight:bold}
.p1002_table .p_2cell div.rd{width:auto;padding-left:0px}
.p1002_table .p_2cell div.rd div.btn_p02{width: 170px;display: block;padding: 0px;color: white;line-height: 30px}
.p1002_table .p_2cell.edit div{padding-top:5px;padding-bottom:5px}
.p1002_table .p_2cell.product div.ld{width:165px;font-weight:bold}
.p1002_table .p_2cell.product div.ld img{width:140px;height:140px}
.p1002_table .p_2cell.product div.rd{width:auto;padding-left:0px}
.p1002_table .p_2cell div.rd div{display:block;padding:0px;margin-bottom:8px}
.p1002_table .p_2cell.product div.rd div.opt{font-size:12px;margin-bottom:5px}
.p1002_table div.optnum{display:block;text-align:right;padding-right:10px;line-height:30px;float: right;margin-top: -40px}
.p1002_table div.price{height:50px;line-height:30px;font-size:15px;text-align:right;padding-right:10px}
.p1002_table div.price span{color:#fc7c00;font-size:15px}
.p1002_table .p_2cell label{margin:0 24px 0 7px }
.p1002_table select.borderForm{background: #FFFFFF url('http://image.lotte.com/lotte/mobile/sub/select_bg_1004.png') no-repeat right top;-webkit-appearance: none;padding:0px 36px 0 7px}
.p1002_table .borderForm{width:100%; height: 30px;padding:7px;border: 1px solid #aaaaaa;border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;font-size: 15px;color: #999999;box-sizing: border-box}
.p_4cell{border-bottom:1px solid #3963c5;display:table;width:100%;box-sizing: border-box;background:white}
.p_4cell div{display:table-cell;padding:13px 15px;width:25%;text-align:center;border-right:1px solid #f2f2f2}
.p_4cell div a{color:#666666;font-size:15px;font-weight:bold}
.p_4cell div.on{background:#3963c5;border-right:0px}
.p_4cell div.on a{color:white}
.p_4cell div:last-child{border-right:0px}
.p1002_table.borderInfo{border:1px solid #aaaaaa;padding-bottom:0px}
.p1002_table.borderInfo .p_4cell{border-bottom:1px solid #c5c5c5}
.p1002_table.borderInfo .p_4cell div{font-size:15px;vertical-align:middle}
.p1002_table.borderInfo .p_4cell .ad{width:25%}
.p1002_table.borderInfo .p_4cell .bd{width:20%}
.p1002_table.borderInfo .p_4cell .cd{width:20%}
.p1002_table.borderInfo .p_4cell .dd{width:auto;text-align:right}
.p_2cell p.rbtn{line-height:20px}
.p1002_table.oneCell{padding-top:23px;padding-bottom:23px;text-align:center}
.p1002_table.oneCell2{padding-top:40px;padding-bottom:40px;text-align:center}
.p1002_table.oneCell label{font-size:15px;line-height:15px;margin:0 30px 0 7px}
.p1002_table .p_4cell.usepoint .ad{width:33%;font-size: 15px}
.p1002_table .p_4cell.usepoint .bd{width:33%;text-align:right;font-size: 15px}
.p1002_table .p_4cell.usepoint .bd span{font-size:16px;color:#3963c5}
.p1002_table .p_4cell.usepoint .dd{width:auto;text-align:left;font-size: 15px}
.p1002_table .p_4cell.usepoint{border-bottom: 1px solid #C5C5C5}
.p1002_table .p_4cell.usepoint .cbox{margin-right:10px}
.redPrice{float:right;font-size:15px;color:red}
.order3_top{border-bottom: 1px solid silver;height:75px;color:#666;text-align:center;font-size:20px;font-weight:bold;margin:55px 20px 15px 20px}
.blue1007{color:#3963c5;font-weight:bold;font-size:15px}
.p1002_table .p_1cell{margin:15px 40px;font-size:15px;line-height:17px}

/*201310 new header*/
header.new1025 section.top{padding-top:7px;height:36px}
header.new1025 .searchFormArea span.keyword_box{height:24px}
header.new1025 .searchFormArea .keyword_box input.keyword{height:28px} 
/*20131209 size 수정*/
header.new1025 section.top .searchFormArea a.fl img{width: 59px;height: 30px}
header.new1025 section.top a.mylotte img{width: 54px;}



/*20131105 new main lnb*/
.mainLM { position:absolute; z-index:200; }
.closeBtnLayer{z-index:190;display:none;background:#000;opacity:0.3;filter:alpha(opacity=30);position:absolute;width:100%;height:100%; left:260px; top:0px;}
.spsp.lnb .mtable .mcell,
.closeBtnLayer a{}
.spsp.evt .mtable .mcell{border-bottom:0px}
.spsp.lnb .mtable .mcell img{width:25px;height:25px}
.topLnb{background:url("http://image.lotte.com/lotte/mobile/mobilemain/lnb_top2.png") no-repeat; background-size:270px 134px; width:270px; height:134px; }
.topLnb.login{background:url("http://image.lotte.com/lotte/mobile/mobilemain/lnb_top.png") no-repeat;background-size:270px 134px;width:270px;height:134px}
.topLnb.web{background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_topWeb3.png') no-repeat;background-size:270px 170px;width:270px;height:170px}
.topLnb.login.web{background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_top3.png') no-repeat;background-size:270px 170px;width:270px;height:170px}
.topLnb a{display:block;width:33%;height:60px;float:left;text-indent:-9999px}
.topLnb a:nth-child(1){width:45%;height:50px}
.topLnb a:nth-child(2){width:40%;float:right;height:50px}
.topLnb a.w34 { width:34%; }
.mlnb{ background:#fff; width:270px; }
#leftMainMenu { background:#fff; width:270px; }
/* SMARTPICK MENU : gjbang */
.topLnb div.name2 { position:absolute; top:18px; left:77px; color:#95dad5; font-size:11px; letter-spacing:-1px;}
.topLnb div.name { position:absolute; top:18px; left:97px; color:#95dad5; font-size:11px; }
.topLnb div.name span { color:#fff; font-size:11px;  }
.mlnb ul:after { content:""; display:block; clear:both; }
.mlnb ul { *zoom:1;  padding-bottom:150px;}
.mlnb div.smp_tab { width:270px; height:40px; background-color:#a9aaba; }
.mlnb div.smp_tab li { float:left; width:33%; text-align:center;}
.mlnb div.smp_tab li:nth-child(2) {width:34%; }
.mlnb div.smp_tab li a { display:block; height:30px; padding:10px 0 0 0; color:#333333; font-size:15px; font-weight:bold; }
.mlnb div.smp_tab li.line { background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_bar.png') no-repeat left top; background-size:1px 40px; }
.mlnb div.smp_tab li.on1 { background-color:#fff; border-radius:0 10px 0 0; }
.mlnb div.smp_tab li.on2 { background-color:#fff; border-radius:10px 10px 0 0 ; }
.mlnb div.smp_tab li.on3 { background-color:#fff; border-radius:10px 0 0 0 ; }
.mlnb div.smp_tab li.on1 a, .mlnb div.smp_tab li.on2 a { display:block; color:#09837d; font-weight:bold; }
.mlnb div.smp_hdepart li a.one {  display:block; padding:10px 0 8px 15px; color:#222; font-weight:bold; font-size:15px; border-bottom:1px solid #c9c9c9; background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_bg_08.png') no-repeat 240px 10px; background-size:9px 16px; }
.mlnb div.smp_hcate ul li a.one { display:block; padding:10px 0 8px 15px; color:#222; font-weight:bold; font-size:15px; border-bottom:1px solid #c9c9c9; background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_bg_06.png') no-repeat 240px 13px; background-size:16px 9px; }
.mlnb div.smp_hcate ul li.selected a.one { background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_bg_07.png') no-repeat 240px 13px; background-size:16px 9px; }
.mlnb div.smp_hcate ul li { position:relative; }
.mlnb div.smp_hcate ul li ol li { position:static; }
.mlnb div.smp_hcate ul li a.recom { display:inline-block; width:60px; height:16px; padding-top:3px; border:1px solid #a9aaba; background:#fff; border-radius:4px; position:absolute; top:7px; right:35px; font-size:11px; text-align:center; letter-spacing:-1px; color:#7a7a7a; }
.mlnb div.smp_hcate ul li ol { background-color:#efeff3; }
.mlnb div.smp_hcate ul li ol li.selected { background-color:#dedfe5; }
.mlnb div.smp_hcate ul li ol li.selected a { color:#09837d; background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_03_on.png") no-repeat 26px 10px; background-size:6px 7px; }
.mlnb div.smp_hcate ul li ol li a { display:block; padding:8px 0 8px 36px; color:#7f8293; font-weight:bold; font-size:13px; background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_03.png") no-repeat 26px 10px;background-size:6px 7px;}
.mlnb div.smp_hbran div.his { position:relative; padding:18px 0 15px 30px; text-align:center; }
.mlnb div.smp_hbran div.his a { position:absolute; top:10px; left:10px; display:block; font-size:11px; letter-spacing:-1px; border-radius:3px; border:1px solid #a9aaba; padding:5px 10px 5px 15px; background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_08.png") no-repeat 5px 6px;background-size:8px 11px; }
.mlnb div.smp_hbran div.his span { color:#282f6e; font-weight:bold; }
.mlnb div.smp_hbran div.tab { height:40px; background-color:#dedfe4; padding:0 15px; }
.mlnb div.smp_hbran div.tab li { float:left; width:50%; text-align:center; padding-top:10px; }
.mlnb div.smp_hbran div.tab li a { display:block; margin:0 auto; height:20px; padding:10px 0 0 0; color:#333333; font-size:13px; }
.mlnb div.smp_hbran div.tab li.selected a { background-color:#fff;border-radius:3px 3px 0 0; color:#09837d; }
.mlnb div.smp_hbran div.list {}
.mlnb div.smp_hbran div.list li a { display:block; border-bottom:1px solid #d5d6df; padding:10px 0 10px 10px; }
.mlnb div.smp_hbran div.list li.selected a { color:#09837d; }

.tab_menu { width:270px; height:40px; background:#29626f; }
.tab_menu a.pick {display:block; height:30px; padding:10px 0 0 0; text-align:center;}
.tab_menu a.pick span { font-size:16px; color:#fff; background:url('http://image.lotte.com/lotte/mobile/smartpick/common/20140623_lnb.png') no-repeat right; background-size:10px 16px; padding:0 22px 0 0; }
@media all and (min-width:684px){
    /* SMARTPICK MENU */
    #leftMainMenu { background:#fff; width:540px; }
    .topLnb.web{ background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_topWeb3.png') no-repeat;background-size:540px 342px;width:540px;height:342px}
    .topLnb.login.web{background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_top3.png') no-repeat;background-size:540px 342px;width:540px;height:342px}
    .topLnb a{height:120px;}
    .topLnb a:nth-child(1){height:100px}
    .topLnb a:nth-child(2){height:100px}
    .topLnb div.name2 { top:36px; left:160px; color:#95dad5; font-size:20px; font-weight:bold; letter-spacing:-1px; }
    .topLnb div.name { top:38px; left:180px; color:#95dad5; font-size:20px; font-weight:bold; }
    .topLnb div.name span { font-size:24px; }
    
    .mlnb {width:540px; }
    .mlnb div.smp_tab { width:540px; height:85px; }
    .mlnb div.smp_tab li.line { background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_bar.png') no-repeat left top; background-size:1px 85px; }
    .mlnb div.smp_tab li.on1 { border-radius:0 20px 0 0; }
    .mlnb div.smp_tab li.on2 { border-radius:20px 20px 0 0 ; }
    .mlnb div.smp_tab li.on3 { background:#fff; border-radius:20px 0 0 0 ; }
    .mlnb div.smp_tab li a { height:55px; padding:30px 0 0 0; font-size:20px; }
    .mlnb div.smp_hdepart ul li a.one { padding:27px 0 27px 30px; font-size:24px; background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_bg_08.png') no-repeat 490px 27px; background-size:19px 33px; }
    .mlnb div.smp_hcate ul li a.one { padding:27px 0 27px 30px; font-size:24px; background:url('http://image.lotte.com/lotte/mobile/smartpick/common/201405_lnb_bg_06.png') no-repeat 480px 31px; background-size:33px 19px; }
    .mlnb div.smp_hcate ul li.selected a.one { background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_07.png") no-repeat 480px 31px; background-size:33px 19px; }
    .mlnb div.smp_hcate ul li a.recom { display:inline-block; width:100px; height:25px; padding-top:9px; border:1px solid #a9aaba; background:#fff; border-radius:10px; position:absolute; top:23px; right:70px; font-size:14px; text-align:center; letter-spacing:0px; color:#7a7a7a; }
    .mlnb div.smp_hcate ul li ol li a { padding:19px 0 19px 73px; font-size:20px; background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_03.png") no-repeat 53px 20px;background-size:11px 11px; }
    .mlnb div.smp_hcate ul li ol li.selected a { background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_03_on.png") no-repeat 53px 20px;background-size:11px 11px; }
    .mlnb div.smp_hbran div.his { padding:18px 0 18px 30px; }
    .mlnb div.smp_hbran div.his a { display:block; left:30px; padding:11px 14px 12px 28px; font-size:18px; font-weight:bold; background:url("http://image.lotte.com/lotte/mobile/smartpick/common/lnb_bg_08.png") no-repeat 10px 11px;background-size:13px 21px; }
    .mlnb div.smp_hbran div.his span { font-size:24px; }
    .mlnb div.smp_hbran div.tab { height:80px; }
    .mlnb div.smp_hbran div.tab li { padding-top:15px; }
    .mlnb div.smp_hbran div.tab li a { height:45px; padding:20px 0 0 0; font-size:20px; font-weight:bold; }
    .mlnb div.smp_hbran div.tab li.selected   a { border-radius:12px 12px 0 0; }
    .mlnb div.smp_hbran div.list li a  { padding:20px 0 15px 29px; font-size:20px; font-weight:bold; }
    .tab_menu { width:540px; height:80px;  background-size:540px 80px; }
    .tab_menu a.pick {display:block; height:58px; padding:22px 0 0 0; text-align:center;}
	.tab_menu a.pick span { font-size:28px; background-size:16px 26px; padding:0 26px 0 0; }  
}
/* SMARTPICK MENU : gjbang */


/*20131105 원앤원헤더 */
header.new1025 section.subTitle.ono{background:white;border-bottom:1px solid #cecece}
header.new1025 section.subTitle.ono h2{color:#666}
header.new1025 section.subTitle.ono a.prevPage2{position:absolute;left:6px;top:7px;display:block;width:56px;height:26px;text-indent:-9999px;background:url('http://image.lotte.com/lotte/mobile/sub/btn_before20131104.png') no-repeat 0 0;background-size:56px 26px}
/*20131105 테이블공통*/
.ctable{display:table;box-sizing:border-box;width:100%}
.ctable .cell{display:table-cell;word-break:break-all;width:auto}
.mtable{display:table;width:100%;box-sizing:border-box}
.mcell{display:table-cell;width:auto}

/* 20131126 검색레이어수정 */
.search_list.new1126{position:absolute;top:51px;left:0px;width:100%;}
@media all and (max-width:684px){
    /* 검색레이어수정  */
    .search_list.new1126 { top:37px; }
}

/*	20131209	*/
.search_list.new1126 .search_list_record{margin-right:95px; background:white;border:1px solid #a4a6b6}
.search_list.new1126 .search_list_record ul li{line-height:30px;height:30px; padding: 0px 10px; text-align:left; } 
.search_list.new1126 .search_list_record ul li:last-child{border-bottom:0}
header .search_list.new1126 .delview:after{clear:both;display:block;content:"";}
header .search_list.new1126 .delview{position:relative;bottom:0;background:#f0f0f0;border-top:1px solid #bababa}
header .search_list.new1126 .delview div{/*float:none;*/display:inline-block;margin:0;height:30px;line-height:30px;text-align:center}
header .search_list.new1126 .delview div a{color:#444}
header .search_list.new1126 .delview div.left_btn{width:70%;border-right:1px solid #bababa}
header .search_list.new1126 .delview div.right_btn{width:26%}
header .search_list.new1126 .delview div.center_btn{width:100%; }
.search_list.new1126 .search_list_record ul li a{overflow: hidden;display: block; height: 30px;}
.search_list.new1126 #schview .sch_listv li a{padding: 0px 10px}
.search_list.new1126 #schview .sch_listv li {height:30px} 
.search_list.new1126 #schview .sch_listv li:last-child {border-bottom:0px}
@media all and (max-width:684px){
    .search_list.new1126 .search_list_record { margin-right:70px; }
}

/* 20140204 매장위치 pop */
.shop_location{position:absolute;width:320px;opacity:1;z-index:999;background-color:#4574d6}
.shop_location h3 img{width:60px;height:17px;margin:10px 10px 10px 25px;}
.shop_location .shop_cont {margin:4px 4px 6px 4px;background-color:#fff}
.shop_location .shop_cont.pt20{padding-top:20px;}
.shop_location .shop_cont .shop_tit{margin:0 0 10px 20px;color:#454545;}
.shop_location .shop_cont .areaBox{margin:0 0 10px 20px;}
.shop_location .shop_cont .areaBox select{width:90px;}
.shop_location .shop_cont .shop_select{margin:0 0 25px 20px;}
.shop_location .shop_cont .shop_select select{width:280px;}
.shop_location .shop_cont .map img{width:100%;}
.shop_location .shop_cont .no_map{position:relative;width:100%;height:350px;}
.shop_location .shop_cont .no_map p{position:absolute;top:30%;width:280px;padding:10px;color:#454545;line-height:16px;text-align:center;word-break:break-all;}
.shop_location .shop_cont .btn a.close{position:absolute;right:20px;top:10px;display:block;}
.shop_location .shop_cont .btn a.close img{width:18px;height:18px;}

header.isLeft{width:75.9%;margin-left:24.1%;}
header.listPad{width:75.9%;margin-left:24.1%;}

/* 스마트픽 페이지에서만 사용되는 검색쪽 관련 CSS */
.smp_search02 #searchNav a { border:none; }
.smp_search02 .search_tab_1109.new1108 nav.selectA a:nth-child(1) { color:#09837d; font-weight:bold; }
.smp_search02 .search_tab_1109.new1108 nav.selectA a:nth-child(1) span { color:#09837d; }
.smp_search02 .search_tab_1109.new1108 nav.selectA a span { color:#494949; }
.smp_search02 .search_tab_1109.new1108 nav.selectB a:nth-child(2) { color:#09837d; font-weight:bold; }
.smp_search02 .search_tab_1109.new1108 nav.selectB a:nth-child(2) span { color:#09837d; }
.smp_search02 .search_tab_1109.new1108 nav.selectB a span { color:#494949; }
.smp_search02 .search_tab_1109.new1108 nav.selectC a:nth-child(3) { color:#09837d; font-weight:bold; }
.smp_search02 .search_tab_1109.new1108 nav.selectC a:nth-child(3) span { color:#09837d; }
.smp_search02 .search_tab_1109.new1108 nav.selectC a span { color:#494949; }
.smp_search02 .search_tab_1109.new1108 nav.selectD a:nth-child(4) { color:#09837d; font-weight:bold; }
.smp_search02 .search_tab_1109.new1108 nav.selectD a:nth-child(4) span { color:#09837d; }
.smp_search02 .search_tab_1109.new1108 nav.selectD a span { color:#494949; }
	
.smp_search02 .mtable.sort1107.search .mcell.on { border-bottom:3px solid #09837d; background-image:none; }
.smp_search02 .mtable.sort1107 .mcell.on a p { color:#09837d; }

.smp_search02 #noResult_page #noResult_title span { color:#09837d; }
.smp_search02 .popSearch h2{ background-color:#75a19e; }

.smp_search02 #category_page .cl_title a { color:#09837d; }
.smp_search02 #category_page .cl_count { color:#09837d; }

.smp_search02 #dept_page .dp_title a { color:#09837d; }
.smp_search02 #dept_page .dp_count { color:#09837d; }

.smp_search02 #brand_page .bl_title a { color:#09837d; }
.smp_search02 #brand_page .bl_count { color:#09837d; }

.smp_search02 .viewHotMore { background-image:none; background-color:#a9aaba; }


/*20140217-2 알림 팝업*/
.popBox{position: absolute;top: 100px;z-index: 303;width: 100%}
.popBox div.popRect{width:287px; height:200px;border:1px solid black;margin:0 auto; background:white}
.popBox .ptop {height:31px; background:#3963c5}
.popBox .ptop div.topTitle{float:left;margin:6px 0 0 10px;width:157px;color: white;font-weight: bold;font-size: 16px}
.popBox .ptop div.topClose{float:right;margin:4px 2px 0 0;width:24px; background-position:-102px 0px}
.popBox div.snsimg.iconF{width:280px;height:50px; background-position:95px -295px}
.popBox .info{padding:15px}

/* 검색 결과 리스트 형 일대 아이콘 */
section#product_list div.product a.info div.icons { height:16px !important; }
.smp_btn01_t {clear:both;overflow:hidden;width:100%;display:table}
.smp_btn01_t div {display:table-cell}
.smp_btn01_t .c_btn span {padding:12px 5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.smp_btn01_t div:nth-child(1) {width:30%;padding-right:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.smp_btn01_t div:nth-child(2) {width:30%;padding-right:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.smp_btn01_t div:nth-child(3) {width:40%}
.smp_btn01_t div a {width:100%}
.smp_btn02_t { display:inline-block; }
.smp_btn02_t .c_btn span { padding:11px 10px; }
.c_btn {display:inline-block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.c_btn span {display:block;text-align:center;font-size:14px;color:#fff;font-weight:bold;padding:12px 5px;height:42px;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 스마트픽 구매 */
.c_btn.col01		{ border:solid 1px #099186 !important; border-bottom-color:#06665f !important; background:linear-gradient(-81deg, #1fa197 50%, #13958b 50%) !important;background:-webkit-linear-gradient(-81deg, #1fa197 50%, #13958b 50%) !important; }
.c_btn.col01 span	{ text-shadow:0px -1px 0px #16726b !important; }
.c_btn.col02		{ border:solid 1px #1bb8ac !important; border-bottom-color:#08887e !important; background:linear-gradient(-81deg, #32ccc0 50%, #21bdb1 50%) !important; background:-webkit-linear-gradient(-81deg, #32ccc0 50%, #21bdb1 50%) !important; }
.c_btn.col02 span	{ text-shadow:0px -1px 0px #239188 !important; }

/* 회색 */
.c_btn.col05		{ border:solid 1px #8895a6;border-bottom-color:#626c78;background:linear-gradient(-81deg, #919dad 50%, #8895a6 50%);background:-webkit-linear-gradient(-81deg, #919dad 50%, #8895a6 50%)}
.c_btn.col05 span	{ text-shadow:0px -1px 0px #717b87}

.product_view03 .menu { border-top:solid 3px #29626f !important; }
.product_view03 .menu li { border-left:solid 1px #88c0bd !important; border-bottom:solid 1px #88c0bd !important; background:#bde5e2 !important; color:#676767 !important; }
.product_view03 .menu li.on { background:#fff !important; border-bottom:1px solid #fff !important; }
.product_view03 .menu li.on a { color:#29616f !important; }

.footer_smp .menu03 {text-align:center;font-size:0;}
.footer_smp .menu03 {overflow:hidden;margin-left:-4px}
.footer_smp .menu03 li {display:inline-block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/layout.png) no-repeat -129px -89px;background-size:130px 100px}
.footer_smp .menu03 li:first-child {background:none}
.footer_smp .menu03 li a {color:#9d9d9d;font-size:10px;letter-spacing:-1px;padding:0 4px 0 6px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_smp .menu03 li a.blue {color:#000000;}
.footer_smp .menu03 li a strong {color:#0a5ad5}