/*---재정의----*/
#feSrhLayer{height:100%;padding-top:10px;box-sizing: border-box}
#feSrhLayer form{height:100%;position:relative}
#feSrhLayer section.srh_layer{height:100%;position:relative;overflow:hidden}
#feSrhLayer section.srh_layer .srh_auto li a{color:#333;font-size:15px;padding-left:8px}
#feSrhLayer section.srh_layer .srh_auto li a.kword:after{position:absolute;width:15px;height:15px;content:'';right:10px;top:15px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/nsh_search_0914.png) no-repeat 0px -48px;background-size:25px 60px}
#feSrhLayer section.srh_layer .srh_auto li a.categoryWord{padding-left:33px}
#feSrhLayer section.srh_layer .srh_auto li a.categoryWord:before{position:absolute;width:15px;height:15px;content:'';left:17px;top:15px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/nsh_search_0914.png) no-repeat -16px -53px;background-size:25px 60px}
#feSrhLayer section.srh_layer .srh_auto li a strong{color:#588bff}
#feSrhLayer section.srh_layer .srh_auto{overflow-y: auto;padding:0 10px 87px 10px;height:100%;max-height: 100%;box-sizing: border-box}
#feSrhLayer section.srh_layer .srh_bar{background:#e9e9e9;height: 30px;padding: 5px 0;    position: absolute;bottom: 0;width: 100%}
#feSrhLayer section.srh_layer .srh_bar button.del {margin-left: 17px;font-size: 13px;color: #333;border: 0;background: none}    
#feSrhLayer section.srh_layer .srh_bar button.close{margin-right:19px;font-size: 13px;color: #333;border: 0;background: none}        
#feSrhLayer section.srh_layer .srh_recent li a.del{background:none}
#feSrhLayer section.srh_layer .srh_recent li a.del:before{position:absolute;width:15px;height:15px;content:'';right:10px;top:15px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/nsh_search_0914.png) no-repeat 0px -29px;background-size:25px 60px}
#cover.nsh{background:white;pointer-events: none}
#feSrhLayer section.srh_layer .srh_recent{overflow-y:auto;height:100%;max-height:100%}
#feSrhLayer section.srh_layer .srh_recent li{padding-left:13px;font-size:14px;height:42px;line-height:42px}
#feSrhLayer section.srh_layer .srh_wrap{border-radius:5px;border:1px solid #588bff;margin-top:0}
#feSrhLayer section.srh_layer .srh_wrap .srh_ipt a.btn_del{background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/nsh_btn_del_search.png) no-repeat center center;background-size: 20px 20px}
/*new*/
.nsh_tab{padding:0 10px;font-size:0;width:100%;box-sizing: border-box}
.nsh_tab_a{display:inline-block;position:relative;border-bottom:1px solid #dcdcdc;font-size:14px;color:#666;text-align:center;width:33.3%;padding:19px 0 10px 0}
.nsh_tab_a.on{border-bottom:1px solid #588bff;color:#5386fa}
.nsh_tab_a:nth-child(2):after,
.nsh_tab_a:nth-child(3):after{content:"new";display:inline-block;position:relative;top:-5px;left:3px;margin-right:-20px;color:#db291d;font-size:10px;font-style:italic;}

.nsh_cont{padding:0 10px 134px 10px;box-sizing: border-box;height:100%}
.nsh_mask{width:100%;height:205px;overflow:hidden;height:100%}
.nsh_cont ul{font-size:0;width:300%;display:block;height: 100%;position: relative}
.nsh_cont li.nsh_li{box-sizing: border-box;width: 33.3%;display:block;float:left;height:100%}
.nsh_cont li.nsh_li ol li{border-bottom:1px solid #e9e9e9;height:42px;line-height:42px;color:#333;font-size:14px;padding-left:35px;position:relative}    
.nsh_cont li.nsh_li ol li.nsh_date{border: 0;padding-left: 10px;color: #ccc;line-height: 30px}
.nsh_cont li.nsh_li ol li span.pre{position:absolute;left:10px}
.nsh_cont li.nsh_li ol li span.lank{position:absolute;right:15px;top:0;display:block;width:47px;text-align:right;height:30px;overflow:hidden}
.nsh_cont li.nsh_li ol li span.lank:before{position:absolute;width:8px;height:15px;content:'';left:0;top:20px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/search/nsh_search_0914.png) no-repeat 100px 0;background-size:25px 60px}
.nsh_cont li.nsh_li ol li span.lank.up:before{background-position:0 0px}
.nsh_cont li.nsh_li ol li span.lank.down:before{background-position:0 -15px}
.nsh_cont .nsh_list{overflow-y:auto;position: relative;-webkit-overflow-scrolling:touch;height:100%;max-height:100%}
/*20150930*/
#feSrhLayer section.srh_layer .srh_auto li a.kword{width:80%}
#feSrhLayer section.srh_layer .srh_auto li .arrowkey{width:15%;position: absolute;height: 40px;right: 0px;top: 0}
.barInfo{font-size:13px;display:none;position:absolute;top:0;left:17px;line-height:40px}
.barInfo img{width:17px;margin-top:14px}
.nsh_list a{display:block}