@charset "utf-8";

/* 상세페이지 2015-07-08 jaeho s */
/* 공통 */
.product_slide .btn {display:inline-block;background:url('http://image.lotte.com/lotte/mo2015/angular/main_1.png') no-repeat;background-size:150px 150px;color:transparent;font-size:0;}

/* 픽업팝업 */
.pickup_map {width:320px; position:fixed; left:50%; top:50%; margin:-160px 0 0 -160px; z-index:1000;}
.pickup_map .header {position:relative;}
.pickup_map .header h2 {border-bottom:solid 1px #193a86;background-color:#0a5ad5;text-align:center;position:relative;color:#fff;font-size:16px;height:40px;padding:11px 0;text-shadow:1px 1px #0849ad, -1px 1px #0849ad, 1px 0px #0849ad, 0px 1px #0849ad, 0px -1px #0849ad, -1px 0px #0849ad, -1px -1px #0849ad, 1px -1px #0849ad;box-sizing:border-box;-webkit-box-sizing:border-box}
.pickup_map dl {padding:10px 15px 10px 20px !important;overflow:hidden;border:0 !important;}
.pickup_map dl.pad {padding-top:0 !important;}
.pickup_map dl dt {font-size:11px;color:#606060;letter-spacing:-1px;float:left;padding:0;height:auto !important;width:30%;}
.pickup_map dl dd {font-size:11px;color:#161616;letter-spacing:-1px;height:auto !important;padding-top:0 !important;}
.pickup_map .close {position:absolute;top:0;right:0;letter-spacing:-1px;}
.pickup_map .close {text-indent:-9999em;color:transparent;display:block;padding:14px 8px 12px 20px;box-sizing:border-box;-webkit-box-sizing:border-box}
.pickup_map .close:before {content:"";position:absolute;top:14px;right:8px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/layout.png) no-repeat -50px -51px;background-size:130px 100px;width:13px;height:13px;display:inline-block}
.pickup_map .map_img {margin-bottom:0;}
.pickup_map .map_img p {padding:15px 0 10px 20px;font-weight:bold;display:block !important;margin-top:0;color:#161616;}
.pickup_map .map_img img {width:100%}
/* 상품대표이미지 */
.product_img {width:100%; overflow:hidden; position:relative; clear:both;}
.product_img .btn_brand {position:absolute;bottom:0;left:8px}
.product_img .btn_brand a {display:inline-block; color:#666; border:solid 1px #bdbdbd; padding:1px 8px 4px 20px;font-size:12px;font-weight:bold position:relative;box-sizing:border-box;-webkit-box-sizing:border-box; letter-spacing: -1px;}
.product_img .btn_brand a:before {content:"";position:absolute;top:5px;left:5px;width:17px;height:17px;background:url(http://image.lotte.com/lotte/mo2015/angular/icon02.png) no-repeat -12px -35px;background-size:50px 100px;}
.product_img .btn_zoom {position:absolute;bottom:0; width:23px;height:23px; left:50%; margin-left:50px; z-index:2;}
.product_img .btn_zoom a {display:block;margin:0 auto;position:relative;background:url(http://image.lotte.com/lotte/mo2015/angular/product_view.png) no-repeat -80px -45px;background-size:125px 300px;width:23px;height:23px;text-indent:-9999em;color:transparent}
.product_slide{overflow:hidden; position:relative; padding:20px 0 30px 0; width:430px; margin:0 auto;}
.product_slide .mask{height:100%; overflow:hidden}
.product_slide .mask .list li{width:100%; float:left}
.product_slide .mask .list li img{width:100%;}
.product_slide .btn{width:18px;height:27px; display:none; position:absolute;top:50%;z-index:10;border:0;font-size:0;opacity:0.6;cursor:pointer}
.product_slide .btn.hide {visibility:hidden;}
.product_slide .btn.prev {left:10px;background-position:0 -81px}
.product_slide .btn.next {right:10px;background-position:-21px -81px}
.product_slide .bullet{width:100px; text-align:center; z-index:1; position:absolute; left:50%; bottom:7px; margin:0 0 0 -50px;}
.product_slide .bullet li{display:inline-block;width:4px;height:4px;margin:0 2px;border-radius:100%;background:#b7b7b7;font-size:0}
.product_slide .bullet li.active{background:#3c599e;}
/* 상품정보 */
.product_info {padding:20px 8px 30px; overflow:hidden; clear:both;}
.product_info h3 {font-size:15px; padding-bottom:5px; color:#000;}
.product_info .division {padding:15px 0; overflow:hidden; clear:both;}
.product_info .division span img {width:auto;height:16px}
.product_info .division a {background:url(http://image.lotte.com/lotte/mo2015/angular/product_view.png) no-repeat 0 0;background-size:125px 300px;width:103px;height:18px;display:block;text-indent:-9999em;color:transparent;float:right}

.product_info .price01 dt.col03 {padding:8px 0 2px 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_info .price01 dt.col03 span {color:#e75900;position:relative;padding-right:18px;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_info .price01 dd .case04 {font-size:12px;color:#e75900}
.product_info .price01 a.x_btn02 {display:inline-block;padding:0 5px;height:21px;line-height:21px;border:solid 1px #bdbdbd;vertical-align:middle;text-align:center;background:#fff;color:#666}
.product_info .price01 .money_info_layer {position:absolute;display:none;top:50%;left:50%;border:solid 3px #285ace;background:#fff;padding:15px 0;text-align:center;line-height:150%;color:#000;font-size:12px;width:220px;margin-left:-110px;z-index:2;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_info .price01 .money_info_layer p {position:relative}
.product_info .price01 .money_info_layer span {display:block;color:#285ace;font-size:14px;font-weight:bold;padding-bottom:5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_info .price01 .money_info_layer .close {display:block;position:absolute;top:-7px;right:8px;width:11px;height:11px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick.png) no-repeat -70px 0;background-size:230px 165px;text-indent:-9999em;color:transparent}




/* 이거어때 */
p.sns_title {width:100%; overflow:hidden; clear:both; text-align:center; margin:25px 0 8px 0;}
p.sns_title img {width:322px}
ul.sns_link {margin:6px 0 0; text-align:center;overflow:hidden;font-size:0}
ul.sns_link li {width:40px;height:40px; margin:0 5px; display:inline-block;text-indent:-9999em; font-size:0; background-size:405px 40px; background-image:url(http://image.lotte.com/lotte/mo2015/angular/review_sns_info_icon01.png);}
ul.sns_link li.kakao {background-position:0 0;}
ul.sns_link li.facebook {background-position:-45px 0;}
ul.sns_link li.sms {background-position:-90px 0;}
ul.sns_link li.kas {background-position:-135px 0;}
ul.sns_link li.twitter {background-position:-225px 0;}
/* 상품버튼(위시리스트,장바구니,바로주문) */
.product_btn {width:100%; oveflow:hidden; display:table; clear:both; text-align:center;}
.product_btn div {display:table-cell;}
.product_btn div a {font-weight:bold; color:#fff; display:block; background:#6190ff; border-radius:3px; width:100%}
.product_btn div a span {display:inline-block; padding:12px 5px; text-shadow:0 1px 0 #1f7ac7;}
.product_btn .wish {width:30%; padding-right:4px;}
.product_btn .cart {width:30%; padding-right:4px;}
.product_btn .buy {width:40%}
.product_btn .buy a {background:#285ace;}




/* 2015-07-08 jaeho e */