<section ng-show="contVisible" class="cont_minheight">
	<product-sub-header></product-sub-header>

	<!--상품 상세 서브 page 기본 wrapper(한번만 사용할 것): prod_detail_page_wrap-->
	<div class="prod_detail_page_wrap p_comment_detail">
		<div class="img_swipe_wrap" ng-if="pageUI.loadData.photoItems && pageUI.loadData.photoItems.length">
			<div class="prd_top_imgwrap" roll-swipe-banner getcontrol="getReviewSwipeControl" rolling="true" one-no-swipe="true" width320="1" width640="1" width900="1" interval="300000" endfnc="swipeReviewEnd" info="pageUI.loadData.photoItems">
				<ul class="swipeBox">
					<!-- 이미지 스와이프 -->
					<li ng-repeat="item in pageUI.loadData.photoItems track by $index">
						<!-- 이미지 -->
						<div class="thumb" ng-if="item.critTpCd == 'P'">
							<img ng-pinch-zoom ng-src="{{item.imgUrl}}" alt="상품이미지" err-src="550"/>
						</div>
						<!-- 동영상 -->
						<div ng-if="item.critTpCd == 'V'" lotte-video class="lv_wrap" lv-src="{{item.videoUrl | trusted}}" lv-poster="{{item.imgMain}}">
							<video id="videoReview" playsinline="true" webkit-playsinline="true">
								<source type="video/mp4">
							</video>
							<div ng-show="movMode==0" class="play_cover"></div>
							<div ng-show="movMode==1" class="stop_cover"></div>
							<div ng-show="movMode!=0" ng-click="clickCover()" class="click_cover"></div>
							<a ng-show="movMode==0" ng-click="playVideo();sendGA('play')" class="btn_start">비디오 재생</a>
							<a ng-show="movMode==1" ng-click="muteVideo()" ng-class="{mute:mute}" class="btn_volume btn_text btns">{{mute?'음소거해제':'음소거'}}</a>
							<a ng-show="movMode==1" ng-click="stopVideo()" class="btn_stop btn_text btns">일시정지</a>
							<a ng-show="movMode==1" ng-if="!rScope.appObj.isApp" ng-click="fullVideo()" class="btn_full btn_text btns">전체화면보기</a>
						</div>
					</li>
				</ul>
				<!--이미지 스와이프 좌우버튼, 플레이버튼-->
				<div class="btn_wrap" ng-if="pageUI.loadData.photoItems.length != 1 && pageUI.loadData.photoItems.length > 0">
					<span class="prev_btn" ng-click="swipeBeforeReview()"></span>
					<span class="next_btn" ng-click="swipeNextReview()"></span>
				</div>
				<!--페이징-->
				<div class="page_wrap" ng-if="pageUI.loadData.photoItems.length > 1">
					<p class="page"><span class="cur_page">{{sb_review_index}}</span>/<span class="all">{{pageUI.loadData.photoItems.length}}</span></p>
				</div>
			</div>
		</div>

		<div class="detail_wrap">
			<ul class="cmt_list">
				<li ng-repeat="item in pageUI.loadData.photoItems track by $index" ng-if="sb_review_index - 1 == $index">
					<!-- 상품평 : 작성자 -->
					<a ng-click="goReviewerHome(item)" class="cmt_writer">
						<span class="image" ng-style="{'background': 'url(' + ( item.reviewerImgUrl ? item.reviewerImgUrl : dummyUrl ) + ') center center / cover no-repeat'}"></span>
						<img ng-src="{{item.reviewerImgUrl}}" on-error-src2 cur-index="{{$index + 1}}" style="display:none" />
						<em ng-if="item.gdasTpNm && item.gdasTpNm.indexOf('선물') >= 0">{{item.reviewerNickname}}님의 {{item.gdasTpNm}}상품평</em>
						<em ng-if="!item.gdasTpNm || item.gdasTpNm.indexOf('선물') < 0">{{item.reviewerNickname}}</em>
						<span class="div_line_v_s" ng-if="item.wrtrTpNm">{{item.wrtrTpNm}}</span>
						<span ng-if="item.catReviewerFlag" class="flag category">{{item.catReviewerFlag}}</span>
						<span ng-if="item.reviewerFlag" class="flag top100">TOP{{item.reviewerFlag}}</span>
					</a>
						<div class="item_top">
							<!-- 상품평리스트 : 별점 -->
							<span class="starScoreWrap"><span class="starScoreCnt" style="width:{{item.critPnt|starScorePolicy:100}}%"></span></span>
							
							<!-- 상품평리스트 : 등록일 -->
							<span class="date">{{item.regDate}}</span>
						</div>
						
						<!-- 상품평 : 사진, 동영상 썸네일 -->
						<div class="review_photo_wrap">
							<!-- <div class="img_area" ng-class="{play_btn:item.videoUrl}" ng-if="(item.critTpCd == 'P' || item.critTpCd == 'V') && item.imgMain">
								<span class="img_wrap">
									<span class="image" ng-style="{'background': 'url(' + item.imgMain + ') center center / cover no-repeat'}"></span>
									<span class="count">{{item.total}}</span>
								</span>
							</div> -->
							<div ng-if="item.reviewList" class="each_review">
								<table summary="상품평">
									<caption>상품평</caption>
									<tbody>
										<tr ng-repeat="obj in item.reviewList">
											<th>{{obj.gdas_item_nm}}</th>
											<td>{{obj.gdas_choc_item_nm}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<!-- 상품평 : 내용 -->
						<div class="cmtShortTxt">
							<p class="cmt_cont" ng-if="item.critCont">{{item.critCont}}</p>
						</div>
						
						<a class="btn_detail" ng-click="productCommentDetailOne(item.gdasNo)">상세보기</a>
				</li>
			</ul>
		</div>
	</div>

	<!--공통 로딩커버-->
	<div class="loading_cover" ng-if="jsonLoading">
		<div class="loading"></div>
	</div>
</section>