@charset "UTF-8";

.clause_wrap{font-size:13px;color:#333;line-height:1.5em;letter-spacing:-0.01em;}
.clause_wrap:after{content:"";display:block;height:10px;}
.clause_wrap section ~ section{margin-top:20px;}
.clause_wrap h5{font-size:16px;font-weight:bold;}
.clause_wrap h5 + div{margin-top:3px;}

.clause_wrap table{margin-top:15px;}
.clause_wrap td, th{border:1px solid #666;padding:10px;}
.clause_wrap th{text-align:center;background-color:#efefef;}
.clause_wrap td{vertical-align:top;}
.clause_wrap td.vam{vertical-align:middle;}
.clause_wrap .d1 > li + li{margin-top:15px;}

.clause_wrap.pi_use section,
.clause_wrap.pi_consign section{width:900px;}
.clause_wrap.pi_use td, th{width:300px;}
.clause_wrap.pi_use b{color:red;font-weight:bold;}

.clause_wrap .consign1{width:900px;}
.clause_wrap .consign1 td:nth-child(1),
.clause_wrap .consign1 th:nth-child(1){width:150px;}
.clause_wrap .consign1 td:nth-child(2),
.clause_wrap .consign1 th:nth-child(2){width:500px;}
.clause_wrap .consign1 td:nth-child(3),
.clause_wrap .consign1 th:nth-child(3){width:150px;}
.clause_wrap .consign1 td:nth-child(4),
.clause_wrap .consign1 th:nth-child(4){width:100px;}

.clause_wrap .consign2 table{width:600px;}
.clause_wrap .consign2 td:nth-child(1),
.clause_wrap .consign2 th:nth-child(1){width:200px;}
.clause_wrap .consign2 td:nth-child(2),
.clause_wrap .consign2 th:nth-child(2){width:200px;}
.clause_wrap .consign2 td:nth-child(3),
.clause_wrap .consign2 th:nth-child(3){width:200px;}

/* 20180102 안내문구 내용 정리 추가*/
.clause_wrap.pi_consign section, .clause_wrap.pi_use section{width:100%;}
.clause_wrap{font-size:12px;letter-spacing:-0.05em;}
#clauseHolder p{margin-bottom:10px;}
#clauseHolder h4{font-size:13px;margin:10px 0;}
#clauseHolder h5{font-size:12px;margin:10px 0 5px;}
#clauseHolder h6{font-size:12px; font-weight:normal;}
#clauseHolder div{margin:10px 0 5px;}
#clauseHolder div ul li{margin-bottom:5px;}
#clauseHolder div ul li b{color:red;}
#clauseHolder div > ul , #clauseHolder section > ul{margin-top:5px;}
/* // 20180102 안내문구 내용 정리 추가 */