@charset "UTF-8";
section.longchamp_contents {background:#fff}
section.longchamp_contents .longchamp_contsWrap {/* width:100%;height:100%; overflow-y:auto;-webkit-overflow-scrolling:touch;*/}

.longchamp_contsWrap iframe {width:1px; min-width:100%; *width:100%;}
