@charset "utf-8";

body #head_sub {background-color:#4c4c4c; border-bottom:0;border-top-style:none; height:46px;}
body #head_sub .this{display:none;}
body #head_sub h2 {color:#fff; height:46px; line-height:46px;}
body #head_sub .prev a:before {background-image:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_white_w.png)}
/*//////////////////////////////////////////*/
/*///////////////   전문관,전문몰    ///////////////*/
/*//////////////////////////////////////////*/
button:focus {outline:none;}
.tenbyten_warp .sub_cate .menu li{width:25%;}
#container {position:relative;min-height:450px;background-color:#e7e7e7;}

/* Main banner slide */
.main_slide{overflow:hidden;position:relative;background:#e9e9e9;}
.main_slide .mask{height:100%;overflow:hidden;}
.main_slide .mask .list{white-space:nowrap;}
.main_slide .mask .list li{width:100%;display:inline-block;}
.main_slide .mask .list li a{display:block;}
.main_slide .mask .list li img{width:100%;}
.main_slide .btn{width:15px;height:25px;position:absolute;top:50%;margin-top:-14px;z-index:9;border:0;font-size:0;cursor:pointer;background:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
	-webkit-background-size:175px 125px;
	background-size:175px 125px;
}
.main_slide .btn.hide {visibility:hidden;}
.main_slide .btn.prev {left:10px;background-position:0 0;}
.main_slide .btn.next {right:10px;background-position:-25px 0;}
.main_slide .bullet{text-align:center;border-top:1px solid #d0d0d0;}
.main_slide .bullet li{display:inline-block;position:relative;top:5px;width:6px;height:6px;border-radius:100%;background:#b7b7b7;font-size:0;vertical-align:top;}
.main_slide .bullet li.active{background:#3c599e;}
.main_slide .thumb{background:#fff;padding:12px 17px;margin:0 auto;min-height:110px;text-align:center;}
.main_slide .thumb a{width:30%;display:inline-block;}
.main_slide .thumb a img{border-radius:100%;}

.unit_list_m {padding-bottom:8px;}
.unit_list_m .tit_banner{height:34px;line-height:34px;padding-left:12px;font-size:15px;font-weight:bold;color:#000000};

/*//////////////////////////////////////////*/
/*///////////////   도서    ///////////////*/
/*//////////////////////////////////////////*/

/*sprite*/
.best_seller li.rank01 .flag,
.book_slide .slide li .flag span{background:url(http://image.lotte.com/lotte/mo2015/angular/common/images/lotte2015/bg_sprite_book.png) no-repeat 0 0;
	-webkit-background-size:66px 34px;
	background-size:66px 34px;}

/*///////////////   book_wrap   ///////////////*/
.book_wrap #head_sub.ps_head h2{
	background-color:#4c4c4c;
}
.book_wrap #container {position:relative;min-height:450px;background-color:#e7e7e7;}

.book_wrap .box_cate .big_cate{display:block;}
.book_wrap .box_cate .big_cate ul{ overflow:hidden;}
.book_wrap .box_cate .big_cate li{ float:left;width:25%;}
.book_wrap .box_cate .big_cate li a{display:block;padding:0;text-align:center;}

/*/////////////// book_slide   ///////////////*/
.book_slide{position:relative;}
.book_slide .slide{position:relative;height:190px;padding-top:12px;background-color:#ecedf8;}
.book_slide .slide ul{  white-space:nowrap;font-size:0;}
.book_slide .slide li{position:relative;display:inline-block;width:50%;text-align:center;}
.book_slide .slide li a{position:relative;display:block;width:100%;border:0; text-align:center;}
.book_slide .slide li .flag{position:absolute;top:0;right:18%; }
.book_slide .slide li .flag span{display:none;width:40px;height:17px;color:#fff;background:rgba(0,0,0,0.6);text-align:center;font-size:13px;}
.book_slide .slide li:nth-child(odd) .flag .n_new{display:block;}
.book_slide .slide li:nth-child(even) .flag .n_best{display:block;}
.book_slide .slide li .img {display:inline-block; padding-left:5px; border:1px solid #58595a; background:url(http://image.lotte.com/lotte/mo2015/angular/mall/bg_book_left.png) repeat-y 0 0;font-size:13px;
-webkit-background-size:11px;
background-size:11px;}
.book_slide .slide li img{width:96px;height:139px}
.book_slide .slide li .name{font-size:13px;color:#333333;white-space:normal;width:150px;display:block;margin:3px auto 0 auto;line-height:18px;height:36px; overflow:hidden;letter-spacing:-1px;}
.book_slide .bullet{ height:21px;border-top:1px solid #d0d0d0;background-color:#e7e7e7;text-align:center;}
.book_slide .bullet li{display:inline-block;position:relative;top:5px;width:6px;height:6px;margin:0 2px;border-radius:100%;background:#b7b7b7;font-size:0;vertical-align:top;}
.book_slide .bullet li.active{background:#3c599e;}
.book_slide .btn{position:absolute;top:40%;z-index:9;border:0;font-size:0;cursor:pointer}
.book_slide .btn button{width:15px;height:25px;font-size:0;text-indent:-999em;color:transparent;background:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
	-webkit-background-size:175px 125px;
	background-size:175px 125px;
}
.book_slide .btn.prev{left:5px;}
.book_slide .btn.prev button{background-position:0 0}
.book_slide .btn.next {right:5px;}
.book_slide .btn.next button{background-position:-25px 0}

/*/////////////// book_list   ///////////////*/
.book_list{position:relative;padding:10px 10px 10px 4px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background-color:#fff;margin-top:5px;}
.book_list .title{height:21px;line-height:21px;padding-left:6px;margin-bottom:7px;font-size:14px;letter-spacing:-1px;color:#000000;font-weight:bold;}
.book_list ul{overflow:hidden;}
.book_list li{float:left;width:25%;text-align:center;padding-left:6px;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
.book_list li a{ display:inline-block;text-align:left;}
.book_list li .img{margin-bottom:6px;border:1px solid #dddddd;height:100px;overflow:hidden;}
.book_list li img{width:100%;min-width:69px;}
.book_list li .tit{height:36px;line-height:18px;letter-spacing:-1px;color:#666666;margin-bottom:6px;overflow:hidden;}
.book_list li .tit span{line-height:18px;color:#588bff}
.book_list li .price{padding-bottom:5px;font-size:15px; font-weight:bold;color:#285ace;}
.book_list li .price span{font-size:12px; font-weight:normal;}

/*///////////////   best_seller   ///////////////*/
.best_seller{ position:relative;padding:10px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background-color:#fff;margin-top:5px;}
.best_seller .title{ height:21px;line-height:21px;padding-left:2px;margin-bottom:7px;font-size:14px;letter-spacing:-1px;color:#000000;font-weight:bold;}
.best_seller ol{position:relative;padding:0 0 10px 145px;}
.best_seller li:nth-child(2) a{padding-top:0;}
.best_seller li a{display:block;padding:6px 0 7px;}
.best_seller li dl{ overflow:hidden;}
.best_seller li dt{float:left;width:30px;font-weight:bold;color:#000000}
.best_seller li dd{float:left;color:#666666;letter-spacing:-1px;width:calc(100% - 30px);height:17px;overflow:hidden;}
.best_seller li.rank01{ position:absolute;top:0;left:0;width:100px;height:230px;padding:15px;margin-top:0;background-color:#ecedf8;}
.best_seller li.rank01 dt{ line-height:33px;}
.best_seller li.rank01 dd{color:#000;font-weight:bold;width:100%;}
.best_seller li.rank01 .img{position:relative;padding-left:5px;border:1px solid #58595a;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/bg_book_left.png) repeat-y 0 0;
	-webkit-background-size:11px;
background-size:11px ;}
.best_seller li.rank01 .flag{position:absolute;top:0;right:0;width:26px;height:34px;}
.best_seller li.rank01 img{border-left:1px solid #58595a}
.best_seller li.rank01 dd {height:51px;line-height:17px;}
@media screen and (min-width:480px){
	.book_list li .img {height:152px;}
}
@media screen and (min-width:640px){
	.book_list li .img {height:208px;}
}
@media screen and (min-width:900px){
	.book_list li .img {height:280px;}
}