<div class="mix_prod_list_wrap">
	<ul ng-if="winWidth >= 640" class="prod_list_mix top_banner_wrap">
		<li ng-repeat="item in banners track by $index" 
			ng-if="(winWidth >= 640 && winWidth < 900 && ($index < banners.length - 1 || $index % 2 == 1)) ||
				(winWidth >= 900 && 
					(
						$index < banners.length - 2 ||
						($index == banners.length - 2 && $index % 3  > 0) ||
						($index == banners.length - 1 && $index % 3 == 2)
					)
				)"
			class="banner">
			<!-- 배너형 -->
			<div class="bnr_wrap">
				<a ng-click="bannerClick(item)">
					<img lotte-lazy-src="{{item.img_url}}" alt="{{item.banner_nm}}"/>
				</a>
			</div>
		</li>
	</ul>
	<ol class="prod_list_mix prod_list_mixdeal">
		<li ng-repeat="item in products track by $index" ng-if="winWidth < 640 || (winWidth >= 640 && item.isProduct)" ng-class="{prod: item.isProduct, banner: item.isBanner, swipe: item.isSwipe}"><!--{{item}}-->
			<!-- 딜상품형 -->
			<div class="unit_mixdeal_01" ng-if="item.isProduct">
				<a ng-click="productDealClick(item)">
					<!-- 품절 -->
					<div class="soldout" ng-show="item.sold_out">SOLD OUT</div>

					<!-- MD Talk -->
					<div class="md_talk_wrap">
						<p ng-class="{md_talk:item.copy_nm}" class="md_talk_copy"><span> {{item.copy_nm}} </span></p>
					</div>

					<!-- 상품 이미지 : 대표이미지 불러오는 경우 class='thumb normal' 코너이미지 불러오는 경우 clas='thumb' -->
					<div class="thumb" ng-class="{normal:item.default_img}">
						<!-- 명절 플레그 -->
						<span ng-if="(
										mainTemplateType == '5537338' ||
										mainTemplateType == '5532649' ||
										mainTemplateType == '5532659' ||
										mainTemplateType == '5532658' ||
										mainTemplateType == '5532663'
									 ) && item.goods_nm.indexOf('[설]') > -1"
							  class="holiday_flag">명절상품</span>
						<span ng-if="holidayFlag == true && item.pIdx < 5" class="holiday_rank holiday_rank_0{{item.pIdx + 1}}">{{item.pIdx + 1}}</span>

						<img lotte-lazy-src="{{getProductImage2(item)}}" alt="{{item.goods_nm}}"/>

						<div class="prod_flag_wrap">
							<span class="flag depart" ng-if="item.is_dept">롯데백화점</span>
							<span class="flag etv" ng-if="item.is_tvhome && !item.is_dept">롯데홈쇼핑</span>
							<!--<span class="flag tag" ng-show="item.dlv_fee_tp=='Y'||item.isdlex_free">무료배송</span>-->
							<span class="flag smart" ng-show="item.smartpick_yn=='Y'||item.issmart_pick">스마트픽</span>
						</div>
					</div>

					<!-- 상품 정보 -->
					<div class="info" ng-class="{true:item.useCpn == 'coupon'}">
						<div class="prod">
							<!-- 할인율 : 할인율 표시 (기획전형 상품이 아니고 할인율이 0이 아니면서 있을 경우) -->
							<p ng-if="!item.plan_prod_yn && item.sale_rate && item.sale_rate != 0" class="sale_rate_wrap">
								<span class="sale_rate">{{item.sale_rate}}</span>
								<span class="sale_limit">%</span>
								<em class="sale_desc">쿠폰포함</em>
							</p>

							<!-- 상품명 -->
							<span class="tit" ng-bind-html="item.goods_nm|titleToHtml"></span>

							<!-- 상품가격 -->
							<p class="price"><span>{{item.price2|number}}</span>원<em ng-if="item.plan_prod_yn" class="plan_prod_limit">~</em></p>
						</div>

						<!-- 구매 개수 및 입력형 Flag -->
						<div class="sale_wrap">
							<span class="no" ng-show="item.sale_cnt > 0"><em>{{item.sale_cnt|number}}</em>개 구매 중</span>
							<span ng-if="item.flag && item.flag.length > 0" class="flag_tag" ng-repeat="flag in item.flag">{{flag}}</span>
						</div>
					</div>
				</a>
			</div>
			<!-- 배너형 -->
			<div ng-if="item.isBanner" class="bnr_wrap" ng-class="{rewardevent:item.banner_nm == 'rewardevent'}">
				<a ng-click="bannerClick(item)">
					<img lotte-lazy-src="{{item.img_url}}" alt="{{item.banner_nm}}"/>
				</a>
			</div>
			<!-- 배너 스와이프형 -->
			<div ng-if="item.isSwipe && item.items && item.items.length > 0" ng-controller="lotteNgSwipeCtrl" class="deal_swipe_wrap">
					<div class="swipe_wrap">
						<ul lotte-ng-list-swipe 
							swipe-id="{{'MixDealSwipe_' + $index}}" 
							swipe-list-model="item.items" 
							swipe-responsive="true" 
							swipe-responsive320="1" 
							swipe-responsive640="2" 
							swipe-responsive900="2" 
							swipe-slide-item="true" 
							swipe-max-ratio="0.2" 
							swipe-min-distance="40">
							<li ng-repeat="bnrItem in item.items"><a ng-click="bannerClick(bnrItem)"><img lotte-lazy-src="{{bnrItem.img_url}}" alt="{{bnrItem.banner_nm}}" /></a></li>
						</ul>
						<button class="btn_prev" ng-show="swipeIdx != 0" ng-click="beforeSlide()">이전</button>
						<button class="btn_next" ng-show="swipeIdx != item.items.length - 1" ng-click="nextSlide()">다음</button>
					</div>
					<ul class="indicator">
						<li ng-repeat="indicator in item.items" ng-class="{on: swipeIdx == $index}"><span>{{$index}}</span></li>
					</ul>
			</div>
		</li>
	</ol>
</div>