@charset "UTF-8";
/* 이미지 배너 리스트형 (닷컴메인 - 기획전, 트랜드 사용) */
.bnr_lst_type01{margin-bottom:10px;}
.bnr_lst_type01 >li{margin:5px 0 0 0}
.bnr_lst_type01 >li a{display:block;position:relative;border-width:1px 0;border-style:solid;border-color:#dcdcdc;background:#fff}
.bnr_lst_type01 >li a .thum{position:relative;min-height:110px;}
.bnr_lst_type01 >li a .tit{margin:0 10px;height:30px;line-height:30px;color:#2c2c2c;font-size:14px;}
.bnr_lst_type01 >li a .flag{position:absolute;top:0;left:0;}
.bnr_lst_type01 >li a .flag span{display:inline-block}
.bnr_lst_type01 >li a .flag .dept,
.bnr_lst_type01 >li a .flag .tvhome{height:17px;padding:0 5px;color:#fff;font-size:10px;line-height:17px}
.bnr_lst_type01 >li a .flag .dept{background-color:#77675d}
.bnr_lst_type01 >li a .flag .tvhome{background-color:#e00001}

@media screen and (min-width:640px) {
	.bnr_lst_type01:after{content:"";display:block;clear:both;}
	.bnr_lst_type01 >li{float:left;width:50%;padding:0 3px;border:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.bnr_lst_type01 >li:nth-child(odd){clear:both;}
	.bnr_lst_type01 >li >a{border:1px solid #dcdcdc;}
}
@media screen and (min-width:900px) {
	.bnr_lst_type01 >li{width:33.3%;}
	.bnr_lst_type01 >li:nth-child(odd){clear:none;}
	.bnr_lst_type01 >li:nth-child(3n+1){clear:both;}
}

/* 상품, 배너, 스와이프 배너 혼합형 (닷컴 - 메인 빅딜, 카테고리딜 사용) */
.prod_list_mix:after{clear:both;display:block;content:'';}
.prod_list_mix >li{margin-bottom:7px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.prod_list_mix >li.prod >.unit_mixdeal_01{position:relative;min-height:216px;background-color:#fff;border-width:1px 0;border-style:solid;border-color:#dcdcdc;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a{display:block;padding-top:5px;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .md_talk_copy{display:none;height:27px;margin:0 5px 5px 5px;padding:0 10px;line-height: 27px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .md_talk{display:block;margin:0 5px 5px 5px;padding:0 10px;height:27px;border-radius:14px;background-color:#eef3ff;color:#333;font-size:14px;line-height:27px;text-align:center;overflow:hidden;word-break:break-all;white-space:nowrap;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .md_talk span {display:block;width:100%;overflow:hidden;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb{position:relative;overflow:hidden;min-height:150px;text-align:center;border-bottom:1px solid #dddddd;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >img{max-width:100%;width:auto;max-height:170px}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >.prod_flag_wrap{position:absolute;top:0;left:5px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >.prod_flag_wrap >.flag{display:inline-block;margin-bottom:0;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >.prod_flag_wrap >.flag.dept{padding:0 4px;height:17px;color:#fff;font-size:#fff;text-align:center;background-color:#77675d}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >.prod_flag_wrap >.flag.etv{padding:0 4px;height:17px;color:#fff;font-size:#fff;text-align:center;background-color:#e00001}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb >.prod_flag_wrap >.flag.smart{width:22px;height:19px;font-size:0;vertical-align:middle;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) -46px -39px no-repeat;background-size:75px 90px;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info{position:relative;height:50px;padding:5px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info.true{padding-left:60px}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .coupon{position:absolute;top:5px;left:5px;width:45px;color:#333;font-size:12px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .coupon em.no{font-size:30px;letter-spacing:-3px;vertical-align:top;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .coupon em.po{margin:0 0 0 3px;vertical-align:-3px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .coupon span{display:block;color:#bbb;font-size:10px;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .sale_rate_wrap{display:block;float:left;position:relative;float:left;width:50px;margin:-3px 5px 0 0;text-align:center;white-space:nowrap}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .sale_rate_wrap .sale_rate{display:inline;color:#333;font-size:30px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .sale_rate_wrap .sale_limit{display:inline-block;font-size:10px;vertical-align:13px;margin-left:-3px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .sale_rate_wrap .sale_desc{clear:both;display:block;margin:-3px 2px 0 0;font-size:10px;line-height:18px;color:#bbb;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .price{color:#3874ec;letter-spacing:-0.5px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .price span{font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .price .plan_prod_limit{font-size:13px;font-weight:normal;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .prod .tit{display:block;margin:3px 0 3px 0;color:#333;font-size:14px;line-height:20px;overflow:hidden;height:20px;white-space:normal;}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .sale_wrap{position:absolute;height:21px;line-height:21px;color:#888;font-size:12px;bottom:6px;right:7px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .sale_wrap .no >em{font-weight:bold}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .sale_wrap .flag_tag{display:inline-block;padding:0 5px;border:1px solid #ff7b62;border-radius:10px;color:#ff7b62;font-size:11px;line-height:19px;}
.prod_list_mix >li.prod >.unit_mixdeal_01 >a .info .sale_wrap .btn_tv{display:inline-block;background-color:#db291d;color:#fff;height:21px;padding:0 5px;line-height:21px;text-align:center;font-size:11px;border-radius:9px}

.prod_list_mix >li.prod >.unit_mixdeal_01 >a .soldout{width:100%; overflow:hidden; text-indent:100%;white-space:nowrap;z-index:3; height:100%; position:absolute; left:0; top:0; background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/txt_soldout01.png) no-repeat center center rgba(0,0,0,0.5);}

/* 딜 배너 */
.prod_list_mix >li.banner >.bnr_wrap >a{display:block;}
.prod_list_mix >li.banner >.bnr_wrap{border-width:1px 0;border-style:solid;border-color:#dcdcdc;}

/* 딜 배너 스와이프 */
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap{overflow:hidden;position:relative;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap > ul{height:auto !important;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap > ul >li:first-child{position:relative !important;left:0;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap > ul >li{top:0;position:absolute;left:100%;} 
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap > ul >li >a{display:block;border-width:1px;border-style:solid;border-color:#dcdcdc;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_prev,
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_next{overflow:hidden;position:absolute;top:50%;width:38px;height:47px;margin:-24px 0;border:none;text-indent:100%;white-space:nowrap;outline:none;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_prev:after,
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_next:after{content:"";display:block;position:absolute;top:50%;left:50%;width:15px;height:25px;margin:-12px -7px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_template_20151024-v1.png) 0 0 no-repeat;background-size:200px 200px;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_prev{left:0;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_next{right:0;}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_prev:after{background-position:-5px -20px}
.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap .btn_next:after{background-position:-25px -20px}
.prod_list_mix >li.swipe .deal_swipe_wrap .indicator{height:6px;margin-top:5px;text-align:center;line-height:6px;font-size:0;}
.prod_list_mix >li.swipe .deal_swipe_wrap .indicator >li{display:inline-block;overflow:hidden;width:6px;height:6px;margin:0 2px;line-height:6px;font-size:0;text-indent:100%;white-space:nowrap;background-color:#b7b7b7;border-radius:100%}
.prod_list_mix >li.swipe .deal_swipe_wrap .indicator >li.on{background-color:#333}
.prod_list_mix >li.swipe .deal_swipe_wrap .indicator >li >span{line-height:6px;font-size:0;}

/* 닷컴 - 메인 딜 템플릿 - Responsive */
@media screen and (min-width:640px) {

	.prod_list_mix >li.prod{float:left;width:50%;padding:0 5px;}
	.prod_list_mix >li.prod >.unit_mixdeal_01{border:1px solid #dcdcdc;}
	.prod_list_mix >li.prod:nth-child(odd){clear:both;}
	.prod_list_mix >li.prod >.unit_mixdeal_01 >a .md_talk_copy{display:block;}
	.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb{min-height:145px;}

	.prod_list_mix >li.banner{float:left;width:50%;padding:0 5px;}
	.prod_list_mix >li.banner >.bnr_wrap{border:1px solid #dcdcdc;}
	.prod_list_mix >li.swipe{float:left;width:50%;padding:0 5px;}
	.prod_list_mix >li.swipe .deal_swipe_wrap .swipe_wrap > ul >li >a{border:1px solid #dcdcdc;}
	.top_banner_wrap >li:nth-child(odd){clear:both;}
}

@media screen and (min-width:900px) {
	.prod_list_mix >li.prod,
	.prod_list_mix >li.banner,
	.prod_list_mix >li.swipe{width:33.3%;}
	.prod_list_mix >li.prod >.unit_mixdeal_01 >a .thumb{min-height:135px;}
	.prod_list_mix >li.prod:nth-child(odd),
	.top_banner_wrap >li:nth-child(odd){clear:none;}
	.prod_list_mix >li.prod:nth-child(3n+1),
	.top_banner_wrap >li:nth-child(3n+1){clear:both;}
}

/* 닷컴 - 메인 빅딜 */
.prod_list_mixdeal >li:first-child{padding-top:5px;}
.template_ctgdeal .prod_list_mixdeal >li:first-child{padding-top:0;} /* 카테고리딜은 예외 */
.bigdeal .prod_list_mixdeal >li:nth-child(1),
.bigdeal .prod_list_mixdeal >li:nth-child(2),
.bigdeal .prod_list_mixdeal >li:nth-child(3),
.bigdeal .prod_list_mixdeal >li:nth-child(4){/*background-color:#B3CAF3;*/margin-bottom:0;padding-bottom:7px;}

@media screen and (min-width:640px) {
	.bigdeal .prod_list_mixdeal >li:nth-child(1),
	.bigdeal .prod_list_mixdeal >li:nth-child(2),
	.bigdeal .prod_list_mixdeal >li:nth-child(3),
	.bigdeal .prod_list_mixdeal >li:nth-child(4){background-color:transparent;margin-bottom:7px;padding-bottom:0;}
	.prod_list_mixdeal >li:first-child{padding-top:0;}
}

/* 닷컴 - 메인 TV쇼핑 */
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov{padding-top:0;}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov >.vod_box{position:relative;}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov >.vod_box .player_wrap{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov >.vod_box .player_wrap .player{position:absolute;top:0;left:0;width:100%;height:100%;}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov >.vod_box .skt_app_desc{position:absolute;bottom:0;left:0;width:100%;padding:6px;line-height:20px;color:#fff;font-size:12px;background-color:rgba(0,0,0,.5);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >.vod_box .skt_app_desc .btn_close{overflow:hidden;position:absolute;top:0;right:0;width:52px;height:52px;white-space:nowrap;text-indent:100%;border:0;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}
.prod_list_mixetv >li.prod >.unit_mixdeal_01 >.vod_box .skt_app_desc .btn_close:after{content:"";display:block;position:absolute;top:8px;right:8px;width:14px;height:14px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/main/maintpml_etv_btn_close.png) 0 0 no-repeat;background-size:14px 14px;}

.prod_list_mixetv >li.tvsch >.tvsch_wrap{position:relative;border-width:1px 0;border-style:solid;border-color:#dcdcdc;background-color:#fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a{display:block}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time{position:relative;display:block;height:35px;padding:0;line-height:35px;color:#333;font-size:13px;background-color:#fafafa;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time:after{content:"";display:block;clear:both;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .onair{float:left;position:relative;width:60%;letter-spacing:-1px;text-align:center;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .onair >span{display:inline-block;position:relative;padding-left:25px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .onair >span:before{content:"";display:block;position:absolute;top:7px;left:0;width:18px;height:20px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_tpml_etv_20151027-1.png) -5px -5px no-repeat;background-size:50px 50px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .onair:after{content:"";display:block;position:absolute;top:10px;right:0;width:1px;height:14px;background-color:#ddd;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .btn_tv1{float:right;position:relative;width:40%;text-align:center;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .btn_tv1 >span{display:inline-block;position:relative;padding-left:20px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time .btn_tv1 >span:before{content:"";display:block;position:absolute;top:9px;left:0;width:15px;height:17px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_tpml_etv_20151027-1.png) -30px -5px no-repeat;background-size:50px 50px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap{position:relative;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap:after{content:"";display:block;clear:both;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .thumb{float:left;width:120px;height:120px}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .thumb >img{width:100%;height:100%;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod{position:relative;height:120px;padding:15px 10px 10px 135px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod .tit{overflow:hidden;max-height:40px;font-size:13px;line-height:20px;
display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod >.price{position:absolute;bottom:10px;left:135px;color:#3874ec;font-size:13px;letter-spacing:-0.5px}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod >.price >span{color:#3874ec;font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .btn_wrap{position:absolute;bottom:10px;right:7px;}
.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .btn_wrap .btn_tv{display:inline-block;background-color:#db291d;color:#fff;height:21px;line-height:21px;padding:0 5px;text-align:center;font-size:11px;border-radius:9px}

@media screen and (min-width:640px) {
	.prod_list_mixetv >li.prod >.unit_mixdeal_01 >a.prd_mov >.vod_box .player_wrap{padding-bottom:61.5%;}
	.prod_list_mixetv >li.tvsch{float:left;width:50%;padding:0 3px;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap{border:1px solid #dcdcdc;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.time{padding:0 10px;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .thumb{overflow:hidden;position:relative;float:none;width:100%;height:0;max-width:100%;padding-bottom:49%;border-bottom:1px solid #ddd;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .thumb >img{position:absolute;width:auto;left:50%;margin:0 -25%;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod{position:relative;height:50px;padding:5px;height:60px;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod >.tit{display:block;overflow:hidden;margin:3px 0;line-height:20px;color:#000;font-size:14px;white-space:nowrap;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .prod >.price{position:relative;bottom:inherit;left:inherit;}
	.prod_list_mixetv >li.tvsch:nth-child(odd){clear:both;}
}

@media screen and (min-width:900px) {
	.prod_list_mixetv >li.tvsch{width:33.3%}
	.prod_list_mixetv >li.tvsch:nth-child(odd){clear:none;}
	.prod_list_mixetv >li.tvsch:nth-child(3n+1){clear:both;}
	.prod_list_mixetv >li.tvsch >.tvsch_wrap >a.prd_wrap .thumb{padding-bottom:49%}
}

/* 닷컴 - 메인 랭킹존 */
@media screen and (min-width:640px) {
	.rank_wrap >.rank_keyword{margin-bottom:7px;}
}

/* 닷컴 - 메인 맞춤추천 */
.prod_list_recommend{position:relative;}
.prod_list_recommend:after{content:"";display:block;clear:both;}
.prod_list_recommend >li{top:0;padding-bottom:5px;}
.prod_list_recommend >li >.unit_list_recommend{position:relative;border-width:1px 0;border-style:solid;border-color:#d0d0d0;background-color:#fff;}
.prod_list_recommend >li >.unit_list_recommend >a{display:block;}
.prod_list_recommend >li >.unit_list_recommend >a >.soldout{width:100%; overflow:hidden; text-indent:100%;white-space:nowrap;z-index:3; height:100%; position:absolute; left:0; top:0; background:url(http://image.lotte.com/lotte/mobile/mobile_new/main/txt_soldout01.png) no-repeat center center rgba(0,0,0,0.5);}
.prod_list_recommend >li >.unit_list_recommend >a >.thumb{overflow:hidden;position:absolute;top:0;left:0;width:150px;height:150px;}
.prod_list_recommend >li >.unit_list_recommend >a >.thumb >img{display:block;width:auto;max-height:100%;height:100%;margin:0 auto;}
.prod_list_recommend >li >.unit_list_recommend >a >.info{position:relative;height:104px;margin-left:150px;padding:8px 5px 8px 10px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.flag_wrap >.flag{display:inline-block;height:17px;line-height:19px;padding:0 5px;font-size:10px;text-align:center;border-radius:0}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.flag_wrap >.flag.dept{color:#fff;background-color:#77675d;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.flag_wrap >.flag.etv{color:#fff;background-color:#e00001;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.flag_wrap >.flag.tag{color:#a4a4a4;border:1px solid #a4a4a4;background-color:#fff}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.flag_wrap >.flag.smart{display:inline-block;overflow:hidden;width: 17px;height:19px;vertical-align:middle;text-indent:100%;white-space:nowrap;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) -46px -39px no-repeat;background-size:75px 90px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.tit{display:block;overflow:hidden;height:36px;margin:3px 0;line-height:18px;color:#333;font-size:14px;
white-space:normal;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
word-wrap:break-word;
}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.pr_box{position:absolute;bottom:7px;left:10px;height:42px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.pr_box .price{display:block;color:#3874ec;letter-spacing:-0.5px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.pr_box .price em{font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.pr_box .price2{display:block;color:#bbbbbb;font-size:12px;text-decoration:line-through;letter-spacing:-0.5px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.coupon{position:absolute;bottom:10px;right:5px;width:60px;height:39px;color:#333;font-size:14px;text-align:center;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.coupon em.no{font-size:19px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.coupon em.po{margin:0 0 0 2px;}
.prod_list_recommend >li >.unit_list_recommend >a >.info >.coupon span {display:block;color:#bbb;font-size:10px;margin:1px 0 0 0;}
.prod_list_recommend >li >.unit_list_recommend >.info2{position:relative;height:30px;line-height:28px;margin:0 0 0 150px;padding:0 10px;background-color:#fff}
.prod_list_recommend >li >.unit_list_recommend >.info2 >.review{color:#888;font-size:11px;font-weight:normal;}
.prod_list_recommend >li >.unit_list_recommend >.info2 >.review em{font-weight:normal;}
.prod_list_recommend >li >.unit_list_recommend >.info2 >.wish_icon{position:absolute;top:5px;right:5px;width:23px;height:21px;font-size:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;background-position:-29px -49px;background-size:95px 114px;}
.prod_list_recommend >li >.unit_list_recommend >.info2 >.wish_icon.on{background-position:0 -49px;}

@media screen and (min-width:640px) {
	.prod_list_recommend >li{width:50%;padding:0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.prod_list_recommend >li >.unit_list_recommend{border:1px solid #d0d0d0;}
}
@media screen and (min-width:900px) {
	.prod_list_recommend >li{width:33.3%}
}

/* 닷컴 - 메인 맞춤추천 BEST10 */
.prod_list_best10{display:block}
.prod_list_best10:after{clear:both;display:block;content:'';}
.prod_list_best10 >li{display:block;width:50%;float:left;border:0;border-width:0 1px 1px 0;border-style:solid;border-color:#d0d0d0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}
.prod_list_best10 >li:nth-child(even){border-right:1px solid #fff;}
.prod_list_best10 >li:nth-child(odd){clear:both;}
.prod_list_best10 >li >.unit_list_best10{position:relative;background-color:#fff}
.prod_list_best10 >li >.unit_list_best10 >a{display:block;padding:10px}
.prod_list_best10 >li >.unit_list_best10 >a >.idx{display:block;position:absolute;top:0;left:0;width:25px;height:25px;line-height:25px;text-align:center;color:#fff;background:rgba(0,0,0,.4);z-index:1;}
.prod_list_best10 >li >.unit_list_best10 >a >.thumb{overflow:hidden;position:relative;width:100%;margin:0 auto;}
.prod_list_best10 >li >.unit_list_best10 >a >.thumb:before{content:'';display:block;padding-top:100%;}
.prod_list_best10 >li >.unit_list_best10 >a >.thumb >img {position:absolute;top:0;left:0}
.prod_list_best10 >li >.unit_list_best10 >a >.info{overflow:hidden;position:relative;height:88px;padding-top:8px;}
.prod_list_best10 >li >.unit_list_best10 >a >.info >.tit{display:block;height:36px;margin:0 0 10px;color:#333;font-size:14px;line-height:18px;overflow:hidden;
white-space:normal;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
word-wrap:break-word;
}
.prod_list_best10 >li >.unit_list_best10 >a >.info >.pr_box{height:42px;}
.prod_list_best10 >li >.unit_list_best10 >a >.info >.pr_box .price{display:block;color:#3874ec;letter-spacing:-0.8px;}
.prod_list_best10 >li >.unit_list_best10 >a >.info >.pr_box .price em{font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.prod_list_best10 >li >.unit_list_best10 >a >.info >.pr_box .price2{display:block;color:#bbbbbb;font-size:12px;text-decoration:line-through;letter-spacing:-0.8px;}
.prod_list_best10 >li >.unit_list_best10 >a >.info2{position:relative;z-index:5;height:30px;line-height:28px;}

@media screen and (min-width:640px) {
	.prod_list_best10 >li{width:33.3%;}
	.prod_list_best10 >li:nth-child(even){border-right:1px solid #d0d0d0;}
	.prod_list_best10 >li:nth-child(3n){border-right:1px solid #fff;}
	.prod_list_best10 >li:nth-child(odd){clear:none;}
	.prod_list_best10 >li:nth-child(3n+1){clear:both;}
}
@media screen and (min-width:900px) {
	.prod_list_best10 >li{width:25%;}
	.prod_list_best10 >li:nth-child(3n){border-right:1px solid #d0d0d0;}
	.prod_list_best10 >li:nth-child(4n){border-right:1px solid #d0d0d0;}
	.prod_list_best10 >li:nth-child(3n+1){clear:none;}
	.prod_list_best10 >li:nth-child(4n+1){clear:none;}
}

/* 명절 플래그 */
.holiday_flag,
.holiday_rank{background:url(http://image.lotte.com/lotte/mo2015/angular/mall/holiday/spr_holiday_template_20160104.png) no-repeat 0 -215px;background-size:250px 340px;display:block;font-size:0;line-height:0;z-index:1;text-indent:100%;overflow:hidden;position:absolute;}
.holiday_flag{width:62px;height:60px;top:21px;left:3px;}
.holiday_rank{width:49px;height:56px;top:0;right:28px;}
.holiday_rank.holiday_rank_01{background-position:0 -280px;}
.holiday_rank.holiday_rank_02{background-position:-50px -280px;}
.holiday_rank.holiday_rank_03{background-position:-100px -280px;}
.holiday_rank.holiday_rank_04{background-position:-150px -280px;}
.holiday_rank.holiday_rank_05{background-position:-200px -280px;}

/* 빅딜매장 엘포인트백 플래그 */
.lpointBack_flag{overflow:hidden;position:absolute;top:21px;left:6px;width:48px;height:51px;background:url(http://image.lotte.com/lotte/mo2015/angular/mall/lpoint_back.png) no-repeat 0 0;background-size:48px 51px;display:block;font-size:0;line-height:0;z-index:1;text-indent:100%}