<ol class="prod_list_02">
	<li id="prodimg_{{$index}}" ng-repeat="item in products track by $index" ng-class="{cate:item.cateflag, ncate:products[$index + 1].cateflag || $index == products.length - 1}">
        <div ng-if="!item.cateflag">
            <!-- 일반상품 : 이미지형 -->
            <!-- 성별/연령대 문구 노출 -->
            <div ng-class="{arrow_off : item.find_age == null && item.find_gender == null}" ng-show="srhKeyword" class="find_much_box">
                <span ng-if="item.find_age != null && item.find_gender != null" class="find_much_txt"><span class="age">{{item.find_age}}대</span> <span ng-if="item.find_gender == 'M'" class="gender">남성</span><span ng-if="item.find_gender == 'F'" class="gender">여성</span>이 많이 찾아요</span>
            </div>
            <!-- //성별/연령벌 상품추천 -->
            <div class="unit_list_02">
                <span class="unit_zoom" ng-click="zoomImageSwipeClick(item)">크게보기</span>
                <a ng-href="{{getProductInfoUrl(item, 'normal', ($index+1))}}" onclick="return false;" ng-click="productInfoClick(item)">
                    <div class="soldout" ng-show="item.sold_out">SOLD OUT</div>
                    <div class="thumb">
                        <span class="icon_ranking" ng-if="templateType=='imagerank'">{{$index+1}}</span>
                        <img ng-src="{{getProductImage(item)}}" alt="{{item.goods_nm}}" err-src />
                        <p class="flag">
                            <span class="flag depart" ng-show="item.flag=='D'||item.is_dept">롯데백화점</span>
                            <span class="flag etv" ng-if="item.is_tvhome && !item.is_dept">롯데홈쇼핑</span>
                            <span class="flag tag" ng-show="item.dlv_fee_tp=='Y'||item.isdlex_free">무료배송</span>
                            <span class="flag smart" ng-show="item.smartpick_yn=='Y'||item.issmart_pick">스마트픽</span>
                        </p>
                            <!--텐텐 플래그 20180510 --> 
                            <div class="tt_flag img" ng-if="item.tenten_url">
                                <img ng-src="{{item.tenten_url}}">
                            </div>                    
                                                         
                        
                    </div>
                    <div class="info">
                        <span class="tit"><span ng-show="item.brnd_nm">[<span ng-bind-html="item.brnd_nm|titleToHtml"></span>]</span> <span ng-bind-html="item.goods_nm|titleToHtml"></span></span>
                        <p class="pr_box">
                            <span class="price"><em>{{item.discounted_price|number}}</em>원<span ng-show="item.is_sale_promotion">~</span></span>
                            <span class="price2" ng-show="item.original_price!=item.discounted_price && item.original_price !=0 && !item.is_sale_promotion">
                                <em>{{item.original_price|number}}</em>원
                            </span>
                        </p>
                        <!-- ng-show="item.has_coupon" -->
                        <!--<p class="coupon" ng-show="!item.is_sale_promotion"><span ng-show="item.original_price&&item.sale_rate!='0'&&item.original_price!=item.discounted_price"><em class="no">{{item.sale_rate}}</em><em class="po">%</em></span><span ng-show="item.has_coupon">쿠폰포함</span></p>-->
                    </div>
                </a>

                <!-- 해시태그 -->
                <div ng-if="srhKeyword" class="hash_list">
                    <ul>
                        <li ng-if="hash != ''" ng-repeat="hash in item.hash_list track by $index"><a ng-click="goSearch(hash, 'M_SEARCH_hash_box')">#{{hash}}</a></li>
                    </ul>
                </div>
                <!-- //해시태그 -->
                <div class="info2">
                    <!-- 별점/상품평 -->
                    <div class="user_feedback">
                        <span class="review" ng-if="item.review_count > 0 && item.avg_gdas_stfd_val <= 0" ng-click="productReviewClick(item)">상품평 <em>({{item.review_count|number}})</em></span>
                        <span class="score" ng-if="item.review_count > 0 && item.avg_gdas_stfd_val > 0" ng-click="productReviewClick(item)">
                            <span class="starScoreWrap"><span class="starScoreCnt" style="width:{{ ((item.avg_gdas_stfd_val*2)|ceil)*10 }}%"></span></span>
                            <span class="review"><em>({{item.review_count|number}})</em></span>
                        </span>
                    </div>
                    <!-- //별점/상품평 -->
                    <span class="wish_icon" ng-class="{on:item.has_wish}" ng-click="addWishClick($index,item)">위시리스트</span>
                </div>
            </div>
            <!-- //일반상품 : 이미지형 -->
        </div>  
        <div class="prod_null">
            lotte.com
        </div>        
        <div class="prod_null" style="right:-200%">
            lotte.com
        </div>        
        <div class="prod_null" style="right:-300%">
            lotte.com
        </div>        
        <div ng-if="item.cateflag" class="cate_cell" id="scv_{{item.id}}">
            <b>{{item.divObjNm}}</b><span>({{item.count}})</span>
        </div>
	</li>
</ol>

