.share_this .save img{min-width:305px;width:80%}
.sns_icon01:before, 
.sns_icon02:before, 
.sns_icon03:before,
.sns_icon04:before,
.sns_icon05:before,
.sns_icon06:before,
.sns_icon07:before,
.sns_icon08:before{
    content:"";
    display:block;
    width:40px;
    height:40px;
    margin:0 auto;
    background:url(http://image.lotte.com/lotte/mo2015/angular/review_sns_info_icon01.png) no-repeat 0 0;
    background-size:405px 40px;    
    text-indent:-9999em;
    color:transparent;margin:0 5px;
} 
.sns_icon01:before {background-position:0 0;} /* 카카오톡 */
.sns_icon02:before {background-position:-45px 0;} /* 페이스북 */
.sns_icon03:before {background-position:-90px 0;} /* 문자 */
.sns_icon04:before {background-position:-135px 0;} /* 카카오스토리 */
.sns_icon05:before {background-position:-180px 0;} /* 인스타그램 */
.sns_icon06:before {background-position:-225px 0;} /* 트위터 */
.sns_icon07:before {width:41px;background-position:-270px 0;} /* 구글플러스 */
.sns_icon08:before {width:41px;background-position:-315px 0;} /* 이메일 */