@charset "UTF-8";
/*20151029 수정 */
.mycart_news_layer {display:none; position:fixed; height:40px; bottom:60px; right:10px; z-index:7000; width:250px; border-radius:20px; -webkit-border-radius:20px; background:rgba(0,0,0,0.75); color:#fff; overflow:hidden;}
.mycart_news_layer.app {}
.mycart_news_layer a {color:#fff;}
.mycart_news_layer .section {height:40px; width:250px;}
.mycart_news_layer .section p {width:190px; margin:5px 0 0 17px; overflow:hidden; height:30px; line-height:15px; font-size:12px;}
.mycart_news_layer a.btn {display:block; overflow:hidden; text-indent:-999px; background:url(http://image.lotte.com/ellotte/mo2015/angular/layout_01.png) no-repeat; background-position:-276px -70px; position:absolute;right:10px;top:8px; width:23px; height:23px; background-size:400px 400px;}