.best_header_wrap{height:84px;}
.best_header_wrap.best_header_sub{height:44px;}

/* nav menu */
.nav_swipe_wrap{left:0;height:40px;transform:translateX(0) translateZ(0);-webkit-transform:translateX(0) translateZ(0);}
.nav_swipe_wrap >.main_nav{overflow:hidden;position:relative;text-align:center;background-color:#fff;}
.nav_swipe_wrap >.main_nav >ul{white-space:nowrap;}
.nav_swipe_wrap >.main_nav >ul:after{content:"";display:block;clear:both;}
.nav_swipe_wrap >.main_nav >ul >li{display:inline-block;position:relative;}
.nav_swipe_wrap >.main_nav >ul >li >a{display:inline-block;position:relative;padding:0 15px;line-height:40px;color:#333;font-size:14px;}

.nav_swipe_wrap >.main_nav >ul >li .cate_flag{display:block;position:absolute;top:2px;left:0;width:100%;height:10px;line-height:10px;text-align:center;color:red;font-size:8px;font-weight:700;}
.nav_swipe_wrap >.main_nav >ul >li.on >a{color:#5386fa;font-weight:bold;}

.clearfix:after {display:block;visibility:hidden;clear:both;height:0;content:'.';line-height:0;}

/* sub head */
#bestbrandSubHead{position:relative; width:100%; overflow:hidden;}
#bestbrandSubHead > h2{background-color:#fff;padding:0; box-sizing:border-box;-webkit-box-sizing:border-box;}
#bestbrandSubHead > h2 span {background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/gucci_header_v2.png) no-repeat 0 2px;background-size:90px 210px;color:#fff;position:relative;width:84px;height:15px;display:block;text-indent:-9999em;margin:0 auto}
#bestbrandSubHead > .prev{top:0;left:0;position:absolute}
#bestbrandSubHead > .prev > a{font-size:0;display:block;height:44px;width:44px;padding:0;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#bestbrandSubHead > .prev > a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/bestbrand_header.png) no-repeat 0 0;background-size:50px 130px;width:19px;height:44px;top:2px;left:13px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing:border-box;content:""}
#bestbrandSubHead > .prev.black > a:before{background-position:-28px 0}
#bestbrandSubHead > h2 > a{display:block;position: relative;height:44px}
#bestbrandSubHead > h2 > a img.logo { position: absolute;top: 6px;width: auto;height: 33px;left: 0;right: 0;margin-left: auto;margin-right: auto;}  
#bestbrandSubHead > h2 > a .bgleft{position: absolute; top: 50%; left: 0; transform: translate(0, -50%); width: auto; height: 44px; }
#bestbrandSubHead > h2 > a .bgright{position: absolute; top: 50%; right: 0; transform: translate(0, -50%); width: auto; height: 44px; }
#bestbrandSubHead .share {position:absolute;top:13px;right: 0px}
#bestbrandSubHead .share a {position:relative;font-size:10px;color:#fff;background:none;width:auto;height:19px;line-height:20px;display:block;padding-left:18px;padding-right:13px;vertical-align:middle}
#bestbrandSubHead .share.black a {color:#333}
#bestbrandSubHead .share a:before {position:absolute;left:0;top:0;content:"";display:block;background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/bestbrand_header.png) no-repeat 0 -57px;background-size:50px 130px;width:15px;height:16px}
#bestbrandSubHead .share.black a:before {background-position:-28px -57px}