@charset "utf-8";

/*sprite 공통*/
.brand_wrap #head_sub .prev:after,
.brand_wrap.p_sub #head_sub h2 span:after{background: url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0; 
	-webkit-background-size: 175px 125px;
	background-size: 175px 125px;}

/*brand Shop 기타*/
.brand_wrap #head_sub{padding: 0; background-color: #fff;  border-top: 1px solid #f0f0f0; border-bottom: 1px solid #d0d0d0; text-align: center;}
.brand_wrap #head_sub h2{ padding: 0 40px; width: auto;display: inline-block; position: relative; color: #333333; box-sizing: border-box;}
/*.brand_wrap #head_sub h2:after{ content: ''; position: absolute; top: 0; right: 0; width: 20px; height: 20px; background-color: red;}*/
.brand_wrap #head_sub .sns{display: none;}
.brand_wrap #head_sub .prev{position: absolute; top: 0; left: 10px; background: none;}

.brand_wrap #container {position: relative;min-height: 450px;background-color: #eeeeee;}


/* brand_cate */
.brand_cate{position: relative; margin:5px 5px 0 5px; border:1px solid #d0d0d0;overflow: hidden;}
.brand_cate .brand_name{height: 60px; line-height: 60px; border-bottom: 1px solid #b9b9b9; color: #000; font-size: 21px; text-align: center; font-weight: bold; letter-spacing: -1px; background-color: #fff;}
.brand_cate ul{overflow: hidden; margin-bottom: -1px; margin-top:-1px; margin-right:-1px;background:#fff}
.brand_cate li{float: left; width: 50%; border-bottom: 1px solid #ddd; }
.brand_cate li a{display: block; height: 36px; line-height: 36px; padding-left: 11px;  font-size: 13px; letter-spacing: -1px; border-right:1px solid #ddd}
.brand_cate li.on a{color:#5386fa; font-weight:bold}
.brand_cate li span{ font-size: 12px;  color: #bcbcbc;}

/*banner_slide*/
.banner_slide{ position:relative; overflow: hidden; padding-bottom:10px}
.banner_slide .slide{overflow:hidden; width:100%; margin-bottom:5px}
.banner_slide ul.swiper{width:100%;}
.banner_slide ul.swiper li{width:100%; float:left;}
.banner_slide ul.swiper li:first-child{margin-left: 0;}
.banner_slide ul.swiper li img{width:94%; display:inline-block;}

/*brand_list*/
.brand_list{overflow: hidden; border-top: 1px solid #d0d0d0; background-color: #fff;}
.brand_list li{float: left; width: 50%; border-bottom: 1px solid #d0d0d0; 
}
.brand_list li a{ display: block; position: relative;  padding: 10px 10px 8px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.brand_list li:nth-child(odd) a{border-right: 1px solid #d0d0d0;}
.brand_list li:nth-child(even) a{border-left: 1px solid #fff;}
.brand_list li span{display: block;}
.brand_list li .img{margin-bottom: 11px;}
.brand_list li .tit{margin-bottom: 6px; color: #333333;  line-height: 18px; letter-spacing: -1px; 	overflow: hidden; text-overflow: ellipsis; word-wrap:break-word;
display: -webkit-box;
-webkit-line-clamp: 2; 
-webkit-box-orient: vertical;	
}
.brand_list li .price{ font-size: 18px; color: #285ace; line-height: 20px;font-weight: bold; }
.brand_list li .price em{ font-size: 11px; vertical-align: middle; font-weight: normal;}

/*sub_cate*/
.brand_wrap .sub_cate .menu li:nth-child(1){ width: 34%;}
.brand_wrap .sub_cate .menu li:nth-child(2),
.brand_wrap .sub_cate .menu li:nth-child(3){ width: 33%;}
.sub_cate .menu li.selected a{color:#285ace}
.sub_cate .menu li.selected:last-child a:after{background-position:-25px -25px}
.brand_wrap .sub_cate .menu li.up a:after{background-position:-125px -25px}
.brand_wrap .sub_cate .menu li.up.on a:after,
.brand_wrap .sub_cate .menu li.up.selected a:after{background-position:-100px -25px}
.brand_wrap .sub_cate .menu li.down a:after{background-position:-75px -25px}
.brand_wrap .sub_cate .menu li.down.on a:after,
.brand_wrap .sub_cate .menu li.down.selected a:after{background-position:-50px -25px}

.brand_wrap .category ul{ background-color: #fafafa;}
.brand_wrap .category .sort_cate{ overflow: hidden; padding: 10px 0 7px;}
.brand_wrap .category .sort_cate p{ float:left; margin: 0 7px }
.brand_wrap .category li:first-child{ width: 100%}

/* renewal 20170323 */
.mBoxCon{background:#fff;margin-top:5px;padding:17px 0 19px 0;position:relative;border-top:1px solid #d4d4db;border-bottom:1px solid #d4d4db}
.mBoxCon.first{margin-top:0}
.mBoxCon div{box-sizing:border-box;}
.mBoxCon .new_arrival{position:relative;min-height:220px}
.banner_slide .recommond_swipe{min-height:auto}
.recommond_swipe{min-height:188px}
.mBoxCon a{display:block}    
.mBoxCon .mTop_title{text-align:center;padding-top:20px;position:relative;backface-visibility:hidden;}
.mBoxCon .mTop_title .sideBtn{position:absolute;right:13px;bottom:4px; font-size: 12px;color: #666;bottom:0}
.mBoxCon .elli2{width:100%;white-space:normal;word-break:break-all;overflow:hidden}
.mBoxCon .ellih18{height:18px;line-height:19px}
.mBoxCon .ellih16{height:16px;line-height:17px}
.mBoxCon .ellih21{height:21px;line-height:21px}
.mBoxCon .ellih36{height:36px;line-height:17px}
.recommond_wrap .mBoxCon{overflow:hidden;}
.recommond_wrap .recommond_swipe .prd_type13{padding:3px 6px 7px;box-sizing: border-box}
.recommond_wrap .recommond_swipe .prd_type13 li{width:33.3%;padding:0 7px}
.recommond_wrap .recommond_swipe .prd_type13 li .imageCon{padding-top:100%;border:1px solid #f4f4f4;margin-top:7px;background:url(http://image.lotte.com/lotte/mo2017/category/unit_default_01.png) no-repeat;background-size:100%;}
.recommond_wrap .recommond_swipe .prd_type13 li .imageCon img{height:100%}
.recommond_wrap .recommond_swipe .prd_type13 li .titleCon{color:#333;padding-top:8px}
.recommond_wrap .recommond_swipe .prd_type13 li .titleCon .name{font-size:12px}
.recommond_wrap .recommond_swipe .prd_type13 li .titleCon .t1{font-size:10px}
.recommond_wrap .recommond_swipe .prd_type13 li .titleCon .t1 b{font-size:14px}
.pad .mBoxCon.recommond_wrap .recommond_swipe .prd_type13 li{width:16.6%;}
.recommond_wrap .recommond_swipe >li{width:100% !important;}/* 20170131 테블릿 제거 */
.recommond_wrap .recommond_swipe >li{position:absolute;left:100%;}
.recommond_wrap .recommond_swipe >li:nth-child(1){left:0;}

.float_ul{display:table;width:100%}
.float_ul li{float:left;width:100%;box-sizing: border-box}
.imageCon{margin:0 auto;position:relative;overflow:hidden}
.imageCon img{position:absolute;top:0;left:0;width:100%}   
.imageCon .dim{width:100%;height:100%;background:#000;opacity:0.05;z-index:2;position:absolute;top:0}

.recommond_wrap .indicator{background:#fff;border-top:none;height:12px;text-align:center;font-size:0;}
.recommond_wrap .indicator li{width:10px;height:20px;display:inline-block;position:relative;}
.recommond_wrap .indicator li:before{content:"";display:block;width:6px;height:6px;background-color:#8c8c8c;border-radius:3px;position:absolute;top:5px;left:2px;}
.recommond_wrap .indicator li.on:before{background-color:#426bc8;}

#container .result_wrap.categoryWrap .listWrap{padding:0}
.result_wrap.categoryWrap .srh_terms_wrap{border-bottom:none}
.new_arrival .title{margin-left:14px;font-size:15px}
.result_wrap.categoryWrap{margin-top:5px; border-top: 1px solid #d4d4db;}

#head_sub h2 span a:after{background:none}
.slide_one{overflow:hidden; width:100%; margin-bottom:15px}
.mBoxCon .slide_one a{width:60%;margin:0 auto}