 @charset 'utf-8';

#write_box .camera::before,
.cs_ico::before,
.cs_ico::after,
.cs_my section::before,
.cs_lotte::before,
.order_pop .close::after,
.order_pop .guide span::before,
.order_pop .product .select_mask::before,
.cs_lotte section::before {position:absolute; overflow:hidden; content:''; display:block; background-image:url('http://image.lotte.com/lotte/mo2015/angular/custcenter/question.png'); background-repeat:no-repeat; background-size:300px 300px;}
#custcenter {width:100%; padding:30px 0 100px 0; overflow:hidden; background-color:#f2f2f2;}
#custcenter .btn_continue {height:45px; border-radius:2px; line-height:45px; margin:20px 13px; background:#888; color:#fff; text-align:center; clear:both; font-size:16px;}
#custcenter .btn_continue a {color:#999;}
#write_box {width:100%; padding:9px 0; background:#dcdcdc; position:fixed; bottom:50px; left:0; z-index:50;}
#write_box .camera {padding:0 0; z-index:3; width:28px height:25px; position:absolute; left:0; top:0;}
#write_box .camera::before {width:28px; height:25px; position:absolute; left:5px; top:0; background-position:-114px -158px;}
#write_box .camera input[type='file'] {position:absolute; left:5px; width:28px; height:25px; opacity:0; top:5px;}
#write_box .input_wrap {padding:0 165px 0 50px; position:relative;}
#write_box .input_wrap textarea.textarea {left:50px; top:0; height:64px; padding:8px 80px 8px 10px; background:#fff; border:0; outline:0; line-height:16px; width:100%; border-radius:3px;}
#write_box .input_wrap.noca {padding-left:10px;} 
#write_box .input_wrap .byte {height:16px; position:absolute; padding:8px 0; right:95px; top:0; background:#fff; line-height:16px; text-align:right; width:60px; font-size:11px; color:#999;}
#write_box button {border:0; border-radius:5px; padding:0; outline:0; width:54px; height:32px; line-height:32px; position:absolute; right:9px; font-size:13px; top:9px; background-color:#719cff; text-align:center; color:#fff;}
input.hide {visibility:hidden; position:absolute; left:-1000px;}
.flist {width:100%; clear:both; line-height:16px; }
.flist dl {font-size:14px; border-bottom:1px solid #f2f2f2; position:relative;}
.flist dl dt {padding:19px 13px 19px 23px;}
.flist dl dt.cs_ico::before {left:13px; top:24px; width:8px; height:8px; background-position:-159px 0;} 
.flist dl dt.cs_ico::after {right:13px; top:22px; width:12px; height:8px; background-position:0 0;}
.flist dl dd {background:#f1f1f1; display:none; padding:10px 40px;}
.flist dl dd p {padding:10px 0;}
.flist dl dd table {margin:10px 0;}
.flist dl dd table th,
.flist dl dd table td {padding:5px;}
.flist dl.on dt {color:#285ace;}
.flist dl.on dt::after {background-position:0 -8px;}
.flist dl.on dd {display:block;}
.cs_lotte {padding:15px 26px 0 26px; margin:0 0 30px 0; color:#333; position:relative; clear:both;}
.cs_lotte::before {left:26px; top:5px; width:67px; height:9px; background-position:-136px -86px;}
.cs_lotte section {display:inline-block; position:relative; margin-top:5px; padding:15px; border-radius:0 9px 9px 9px; background-color:#fff;}
.cs_lotte section strong {color:#285ace; font-weight:normal;}
.cs_lotte section::before {left:-12px; top:0; width:14px; height:9px; background-position:0 -118px;}
.cs_lotte .button {padding-top:8px;}
.cs_lotte .button span {display:inline-block; width:100px; color:#999; border-radius:14px; text-align:center; height:28px; line-height:28px; border:1px solid #dddddd;}
.cs_lotte .button span.on {color:#467eff; border-color:#467eff;}
.cs_lotte .date {position:absolute; left:0; bottom:-18px; font-size:12px; color:#999;}
.cs_lotte .status {position:absolute; right:0; bottom:-18px; font-size:11px;padding-top:3px;}
.cs_lotte dl {width:100%; padding-top:10px; text-align:left; clear:both; overflow:hidden;}
.cs_lotte dl dt {width:70px; height:70px; float:left;}
.cs_lotte dl dt img {width:54px; height:54px; border:1px solid #ddd;}
.cs_lotte dl dd {width:250px; height:70px; float:left;}
.cs_lotte dl dd p.pname {line-height:16px;}
.cs_lotte dl dd p.presult {margin-top:5px; overflow:hidden;}
 
.cs_my {padding:15px 26px 0 26px; text-align:right; margin:0 0 30px 0; padding-top:15px; color:#333; position:relative;}
.cs_my section {display:inline-block; position:relative; margin-top:5px; padding:15px; border-radius:9px 0 9px 9px; background-color:#b8ccf8;#custcenter .btn_continue }
.cs_my section strong {color:#285ace; font-weight:normal;}
.cs_my section::before {right:-12px; top:-2px; width:14px; height:10px; background-position:0 -132px;}
.cs_my .date {position:absolute; right:0; bottom:-18px; font-size:12px; color:#999;}
.cs_my ul {width:100%; clear:both; padding:10px; text-align:left;}
.cs_my ul li {display:inline-block; width:60px;}
.cs_my ul li img {width:54px; height:54px; border:1px solid #ddd;}
.cs_my .select_mask {display:none;} 
.cs_my dl {width:100%; padding-top:10px; text-align:left; clear:both; overflow:hidden;}
.cs_my dl dt {width:70px; height:70px; float:left;}
.cs_my dl dt img {width:54px; height:54px; border:1px solid #ddd;}
.cs_my dl dd {width:150px; height:70px; float:left;}
.cs_my dl dd p.pname {height:32px; overflow:hidden; line-height:16px;}
.cs_my dl dd p.presult {height:16px; margin-top:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cs_my p.order_num {font-size:15px; padding:10px 0; border-bottom:1px solid #e3ebfc; text-align:left;}

.order_pop {width:80%; height:80%; left:10%; top:3%; border-radius:16px; overflow:hidden; display:none; position:fixed; z-index:1100; line-height:16px;}
.order_pop.dimmedOpen {display:block;}
.order_pop .wrap {background:#fff; height:100%; border-radius:16px; overflow:hidden; position:relative;}
.order_pop .close {height:35px; position:relative; display:block;}
.order_pop .close::after {width:18px; height:17px; right:23px; top:13px; background-position:-171px 0;}
.order_pop h3 {height:47px; background-color:#f6f6f6; line-height:45px; font-size:17px; color:#333; text-align:center;}
.order_pop .list_no {text-align:center;  color:#333;}
.order_pop .list_no div {width:100px; height:120px; position:absolute; left:50%; top:50%; margin:-80px 0 0 -50px;}
.order_pop .list_no div i {display:block; margin:0 auto; background:url(http://image.lotte.com/lotte/mo2015/angular/custcenter/ico_empty.gif) no-repeat; width:100px; height:100px; background-size:100px;}


.order_pop .list_wrap {width:100%; height:100%; clear:both; overflow:hidden; border-radius:0 0 16px 16px; color:#333; background-color:#f1f1f1;}


.order_pop .scroll {overflow:auto; border-radius:0 0 16px 16px; height:100%;}
.order_pop .scroll::after {content:''; display:block; height:175px;}

.order_pop .list_img {padding:20px; overflow:hidden;} 
.order_pop .list_img img {display:block; width:100%; border:1px solid #eee;}
.order_pop .guide {line-height:45px; height:45px; text-align:center; font-size:12px;}
.order_pop .guide span {display:inline-block; position:relative;}
.order_pop .guide span::before {width:22px; height:23px; left:-30px; top:13px; background-position:-135px -44px;}
.order_pop .order_num {height:35px; background-color:#fff; line-height:35px; padding:0 13px; clear:both; border-top:1px solid #ddd; border-bottom:1px solid #eee;}
.order_pop section.list {margin-bottom:10px; background-color:#fff;}
.order_pop dl {width:100%; padding-top:10px; position:relative; overflow:hidden; text-align:left; clear:both; border-bottom:1px solid #eee;}
.order_pop dl dt {width:70px; height:70px; margin-left:13px;}
.order_pop dl dt img {width:54px; height:54px; border:1px solid #ddd;}
.order_pop dl dd {width:200px; height:70px; position:absolute; left:80px; top:10px;}
.order_pop dl dd p.pname {height:32px; overflow:hidden; line-height:16px;}
.order_pop dl dd p.presult {height:16px; margin-top:5px; color:#285ace; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.order_pop section.list dl:last-child {border-bottom:1px solid #ddd;}
.order_pop .btn_end {background-color:#719cff; height:45px; line-height:45px; position:absolute; left:0; bottom:0; width:100%; text-align:center; color:#fff;}
.order_pop .product {position:relative;}
.order_pop .product.on .select_mask {display:block;}
.order_pop .product .select_mask {display:none; background-color:rgba(0,0,0,0.4);  width:100%; height:100%; position:absolute; z-index:2;}
.order_pop .product .select_mask::before {background-position:-113px -117px; width:38px; height:37px; left:50%; top:50%; margin:-19px 0 0 -19px;}

html.order_pop_act .order_pop {display:block;}

@media (max-height: 400px) {
	.order_pop .list_no div {padding:50px 0;}
	.order_pop .list_no div ::before {display:none;}
}