@charset "utf-8";
#container {min-height:200px;}
.prod_inquiry div.list {margin-bottom:0px;position:relative;background:#fff;}
.prod_inquiry ol.qna li{border-bottom:1px solid #eee}
.prod_inquiry ol.qna li a {position:relative;padding:13px;display:block;}
.prod_inquiry ol.qna li .thumb {position:absolute;top:13px;left:13px;width:56px;height:56px;}
.prod_inquiry ol.qna li .thumb img {border:1px solid #ddd;}
.prod_inquiry ol.qna li .title {padding:2px 75px 0 70px}
.prod_inquiry ol.qna li .title .name{display:block;height:18px;color:#333;font-size:14px;line-height:18px;}
.prod_inquiry ol.qna li .title .txt{display:block;height:18px;color:#666;font-size:14px;line-height:18px;}
.prod_inquiry ol.qna li .title .date{display:block;height:20px;color:#c3c3c3;font-size:12px;line-height:20px;}
.prod_inquiry ol.qna li .title .new {display:inline-block;width:17px;height:17px;margin:0 2px 0 0;text-indent:-9999px;vertical-align:bottom;background:url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) -75px -100px no-repeat;background-size:300px;}

.prod_inquiry ol.qna li .state{position:absolute;top:28px;right:13px;}
.prod_inquiry ol.qna li .state span{display:block;width:70px;border-radius:14px;text-align:center;font-size:12px;line-height:28px;}
.prod_inquiry ol.qna li .state .a01{border:1px solid #bbb;color:#bbb}
.prod_inquiry ol.qna li .state .a02{border:1px solid #719cff;color:#467eff}

.prod_inquiry .custcenter_info {text-align:center; background:#fafafa; border-bottom:1px solid #dcdcdc;}
.prod_inquiry .custcenter_info img {max-width:480px;}

.list_more {margin:10px 10px;border:1px solid #ddd;border-radius:3px;background:#efefef;color:#333;line-height:34px;text-align:center}
.list_more a:before{display: inline-block;vertical-align: middle;width:12px;height:12px;content:'';background:url(http://image.lotte.com/lotte/mo2015/angular/custcenter/custcenter.png) -152px -27px no-repeat;background-size: 200px 200px;margin:0 5px 1px 0;}
.list_more strong, .list_more span {font-size:13px;}