@charset "UTF-8";
html,body{font-family: '나눔바른고딕',NanumBarunGothic,'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
#footer:before{display:none;}

#burberry_faq_wrap{min-height:400px; background-color:#fff}
#burberry_faq_wrap .cs_tab_wrap{background-color:#fff;padding-top:15px}
#burberry_faq_wrap .cs_tab_wrap ul{overflow:hidden;width:100%;height:48px;}
#burberry_faq_wrap .cs_tab_wrap ul li{float:left;width:50%}
#burberry_faq_wrap .cs_tab_wrap ul li a{display:block; text-align:center; font-size:15px;color:#666; height: 46px;line-height: 48px;background-color:#f7f7f7;border:1px solid #efefef; border-bottom:1px solid #171717}
#burberry_faq_wrap .cs_tab_wrap ul li a.on{background-color:#fff;border:1px solid #171717; border-bottom:1px solid #fff;color:#171717;font-weight:bold}
#burberry_faq_wrap .cs_cont_wrap{background-color:#fff;padding:15px 10px}
#burberry_faq_wrap .cs_cont_wrap > div{border:1px solid #efefef}
#burberry_faq_wrap .cs_cont_wrap .faqList{border-top:0px}
#burberry_faq_wrap .cs_cont_wrap .faqList dl{border-top:1px solid #efefef}
#burberry_faq_wrap .cs_cont_wrap .faqList dl dt{padding:13px 30px 13px 30px;font-size:13px; box-sizing:border-box;width:100%;line-height:18px; letter-spacing:-1px; overflow:hidden;position:relative;color:#171717}
#burberry_faq_wrap .cs_cont_wrap .faqList dl dt span{position:absolute; left:5px; top:14px; width:24px; text-align:center;}
#burberry_faq_wrap .cs_cont_wrap .faqList dl dt:after{content:"";display:block; width:22px;height:10px;background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/burberry_iconGroup.png) no-repeat; background-size: 155px 150px;position:absolute; right:0;background-position: 0px -40px;top:35%}
#burberry_faq_wrap .cs_cont_wrap .faqList dl.on dt:after{background-position: 0px -55px}
#burberry_faq_wrap .cs_cont_wrap .faqList dl dd{padding:10px 20px;background-color:#f7f7f7; border-top:1px solid #efefef;font-size:12px; color:#888}
#burberry_faq_wrap .cs_cont_wrap .exChangeList{padding:15px}
#burberry_faq_wrap .cs_cont_wrap .exChangeList h3{margin:10px 0;font-size:14px;color:#666}
#burberry_faq_wrap .cs_cont_wrap .exChangeList div{color:#666;font-size:13px;}