/* 20170425 맘&베이비 
.main_slide .indicator {	text-align: center }
.main_slide .indicator li { display: inline-block; position: relative; top: 8px; width: 6px; height: 6px; margin: 0 2px; border-radius: 100%; -webkit-border-radius: 100%; background: #adadad; font-size: 0; vertical-align: top; -webkit-box-sizing: border-box; text-align: center;}

.main_slide .indicator li.on { background: #5386fa; }

.main_slide .swipeBox li img { width:100%; }
.main_slide .swipeBox li { float:left; }
.main_slide .swipeBox.isOne li { float:none }
.bnnBlock {  }
.clear { zoom:1 }
.clear:after { content:""; display:block; clear:both; }
.kids_tester { width:100% }
.bnnBlock .prod_list_swipe { padding:0; }

@media screen and ( min-width: 640px ) 
{
    .bnnBlock > div { width:50%; float:left; overflow:hidden;}
    .bestList { clear:none }
    .bnnBlock .swipeBox li { padding: 0 }
    .kids_tester li { padding: 0 }
    .bnnBlock li>a { padding:0 3px; display:block }
}
*/

#head_sub h2 span span{color:#000;}