/* header location */
/* #head_sub.cateDepth2 {-webkit-transform: none;transform: none;} */
body #head_sub.cateDepth2 .titLocation{position:absolute;top:100%;left:0;right:0;margin-top:1px;padding:0 10px;border-bottom:1px solid #bbb;
	background:#fff;font-weight:normal;font-size:15px;line-height:42px;height:42px;letter-spacing:-0.7px;color:#666;text-align:left;
	z-index:5;display:none}
body #head_sub.cateDepth2 .titLocation.on {display:block;}
body #head_sub.cateDepth2 .btn_sel.on ~ .titLocation{display:block}
body #head_sub.cateDepth2 .titLocation a {font-size:13px;padding-left:25px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/bg_location.png) no-repeat 8px;background-size:7px}
body #head_sub.cateDepth2 .titLocation a.ddca{color:#ccc}
body #head_sub.cateDepth2 .titLocation .headTagspan a:first-child{padding-left:0; background:none;}
body #head_sub.cateDepth2 .titLocation a:after{background:none}

body .sub_header_wrap{display:none}
body #head_sub.cateDepth2{display:block;z-index:50;}
.srh_terms_wrap{z-index:1}

.result_wrap.categoryWrap.unitType_cate_prod_image .listWrap .planshop_list_wrap{margin-top:10px;}
.result_wrap.categoryWrap .listWrap .planshop_list_wrap + .unitWrap{margin-top:10px;}
.result_wrap.categoryWrap .listWrap .unitWrap:after{content:"";display:block;height:0;clear:both;}