<section ng-show="contVisible" class="cont_minheight">
	<div class="event_small_banner">
		<ul>
			<li ng-click="cpLinks('1'); cpGA(!couponZoneTab?'2':'1', '혜택아이콘', '01')">
				<div class="img_wrap"></div><p>출석체크</p>
			</li>
			<li ng-click="cpLinks('2'); cpGA(!couponZoneTab?'2':'1', '혜택아이콘', '02')">
				<div class="img_wrap"></div><p>쿠폰존</p>
			</li>
			<li ng-click="cpLinks('3'); cpGA(!couponZoneTab?'2':'1', '혜택아이콘', '03')">
				<div class="img_wrap"></div><p>구매사은</p>
			</li>
			<li ng-click="cpLinks('4'); cpGA(!couponZoneTab?'2':'1', '혜택아이콘', '04')">
				<div class="img_wrap"></div><p>응모/당첨</p>
			</li>
		</ul>
	</div>

	<div class="login_head" ng-if="!loginInfo.isLogin">
	    <p class="txt16">로그인 후 나의 혜택을 확인하세요!</p>		    
        <a href="#" ng-click="goLogin()" class="login_btn"><span class="lib loginicon"></span>로그인</a>
	</div>

	<nav class="cmt_nav" ng-if="loginInfo.isLogin">
        <ul>
            <li id="noWriteTab" class="on" ng-click="changeTab('first'); cpGA('2', '받을 수 있는 쿠폰')">
            	<a href="#">받을 수 있는 쿠폰 ({{couponYnCnt}})</a>
            	<span class="indicator"></span>
            </li>
            <li class="indi verti"><span></span></li>
            <li id="writeTab" ng-click="changeTab('second'); cpGA('1', '내가 받은 쿠폰')">
            	<a href="#">내가 받은 쿠폰 ({{pointTabNum}})</a>
            	<span class="indicator"></span>
            </li>
        </ul>
    </nav>

	<section class="zone">
		<!--쿠폰존
	    couponKind : plusSale 추가할인, sale 할인, save 적립, support 쇼핑지원권, freeDlv 무료배송권      
	    --> <!-- 배포시 원복 103240-->
		<div class="event_large_banner" ng-repeat="(cIndex, coupon) in goodBenefit.attributes.couponList.items" ng-if="(loginInfo.isLogin && loginInfo.gradeCd == '60' && coupon.cpn_key == '103240') || (!loginInfo.isLogin && coupon.cpn_key == '103240')">

			<ul>
				<li ng-repeat="(aIndex, item) in coupon.cpn_list.items track by aIndex" ng-class="{off:coupon.cpn_down_yn == 'Y'}" ng-show="aIndex < 1">
					<div class="lib type1" ng-if="item.couponKind == 'save' && item.unitName=='만점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type2" ng-if="item.couponKind == 'sale' && item.unitName=='만점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type3" ng-if="item.couponKind == 'save' && item.unitName=='천점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type4" ng-if="item.couponKind == 'sale' && item.unitName=='천점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type5" ng-if="item.couponKind == 'save' && item.unitName=='천원'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type6" ng-if="item.couponKind == 'sale' && item.unitName=='천원'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type7" ng-if="item.couponKind == 'save' && item.unitName=='%'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type8" ng-if="item.couponKind == 'sale' && item.unitName=='%'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type9" ng-if="item.couponKind == 'plusSave'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
                    <div class="lib type10" ng-if="item.couponKind == 'plusSale'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>             
                    <div class="lib type11" ng-if="item.couponKind == 'freeDlv'"><span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>   
                    <a href="#" ng-if="coupon.cpn_down_yn == 'N'" ng-click="getCoupon('103240'); cpGA('2', '첫구매 혜택 배너')">쿠폰받기<span class="down_icon"></span></a>
                    <a class="btn_down off" ng-if="coupon.cpn_down_yn == 'Y'" ng-click="noti_msg(1)">쿠폰 발급 완료</a>   
				</li> 
				<span class="lib pop ar2" ng-click="pop_open(4, coupon); cpGA('2', coupon.promNm, '쿠폰 안내')"></span>
			</ul>
		</div>

	    <div class="openBox cpn_zone big" ng-if="!shutDownTime">
	        <div class="b_detail" ng-repeat="(cIndex, coupon) in goodBenefit.attributes.couponList.items" ng-init="thispage2[cIndex] = 5" ng-if="coupon.cpn_key != '103240'">
	            <div class="down_con">
	                <div class="down_grade">{{coupon.promNm}} <b>{{coupon.cpn_down_all}}</b>장<span class="lib pop ar2" ng-click="pop_open(4, coupon); cpGA('2', coupon.promNm, '쿠폰 안내')"></span></div> 
	                <div class="btn_down" ng-if="coupon.cpn_down_yn == 'N' && (coupon.mbrGradeCd == '99' || goodBenefit.mbrGradeCd == coupon.mbrGradeCd)" ng-click="getCoupon(coupon.cpn_key); cpGA('2', coupon.promNm, '쿠폰 모두 받기')">쿠폰다운받기 <span class="lib down"></span></div>
	                <div class="btn_down" ng-if="coupon.cpn_down_yn == 'N' && (coupon.mbrGradeCd != '99' && goodBenefit.mbrGradeCd != coupon.mbrGradeCd)" ng-click="noti_msg(2); cpGA('2', coupon.promNm, '쿠폰 모두 받기')">쿠폰다운받기 <span class="lib down"></span></div>
	                <div class="btn_down off" ng-if="coupon.cpn_down_yn == 'Y'" ng-click="noti_msg(1); cpGA('2', coupon.promNm, '쿠폰 발급 완료')">쿠폰 발급 완료</div>   
	                
	                <div class='mtable gc_box' ng-repeat="(aIndex, item) in coupon.cpn_list.items track by aIndex" ng-show="aIndex < thispage2[cIndex]">
	                    <div class='mcell' ng-class="{off:coupon.cpn_down_yn == 'Y'}">                        
	                        <!--쿠폰종류-->
	                        <div class="lib type1" ng-if="item.couponKind == 'save' && item.unitName=='만점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type2" ng-if="item.couponKind == 'sale' && item.unitName=='만점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type3" ng-if="item.couponKind == 'save' && item.unitName=='천점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type4" ng-if="item.couponKind == 'sale' && item.unitName=='천점'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type5" ng-if="item.couponKind == 'save' && item.unitName=='천원'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type6" ng-if="item.couponKind == 'sale' && item.unitName=='천원'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type7" ng-if="item.couponKind == 'save' && item.unitName=='%'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type8" ng-if="item.couponKind == 'sale' && item.unitName=='%'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type9" ng-if="item.couponKind == 'plusSave'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                        <div class="lib type10" ng-if="item.couponKind == 'plusSale'">{{item.fvrValStr}}<span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>             
	                        <div class="lib type11" ng-if="item.couponKind == 'freeDlv'"><span class="lib mult" ng-if="item.duplicate_cnt > 1">{{item.duplicate_cnt}}</span></div>                            
	                    </div>
	                    <div class='mcell'>
	                        <span ng-if="item.aplyLmtAmt > 0">{{item.useCondition}}<br></span>
	                        <span ng-if="item.maxFvrVal != '0원' && item.maxFvrVal != '한도금액 없음'">최대 {{item.maxFvrVal}} 할인<p class="mgt5"></p></span>
	                    	<p class="color6">~{{item.avalEndDtime | dayinfo}}</p>
	                    </div>
	                </div>

	                <!-- 더보기 버튼 -->
					<section class="more_view" ng-if="coupon.cpn_list.items.length > 5" ng-hide="thispage2[cIndex] > 5">
						<div><a href="#" ng-click="thispage2[cIndex] = coupon.cpn_list.items.length; cpGA('2', coupon.promNm, '쿠폰 더보기')"><span><strong>쿠폰 더보기</strong> (<label id="currentCnt">{{cpstartCount[cIndex]}}</label>/<label id="totalCnt">{{coupon.cpn_down_all}}장</label>)</a></span></div>
					</section>
					<!--// 더보기 버튼 --> 
	                <div class="cz_best_link" ng-if="coupon.evt_mkt_url_addr != ''">
	                	<a href="#" ng-click="cpGA('2', coupon.promNm, '추천상품 보러가기');cpbestlink(coupon.evt_mkt_url_addr);">추천상품 보러가기<span class="cz_best_link_icon"></span></a>
	                </div>               
	            </div>                
	        </div>
	        <div class="cz_bot_banner">
	        	<a href="#" ng-click="cpLinks2()">롯데닷컴 멤버십 혜택받기</a>
	        </div>
	        <div class="b_foot">
	            <p class="fh">참고하세요!</p>
	            <ul class="buy_ul color6">
	                <li>쿠폰은 로그인 후 다운로드 가능</li>
					<li>쿠폰적용제외: 상품권 티켓, 명품화장품 및 일부 저마진 상품</li>
					<li>다운로드 받은 쿠폰은 마이롯데에서 확인 가능</li>
					<li>유효기간이 종료된 쿠폰은 반품/환불/취소 시 재발급 불가</li>
					<li>쿠폰행사는 당사 사정에 의하여 사전고지없이 변경/취소될 수 있습니다. </li>
	            </ul>
	        </div>       
	    </div> 
	</section>

	<!--가이드팝업-->
    <div class="pop_zone" ng-if="gpop_type > 0">
        <div class="pop_bg"></div> 
        <div class="align_box">
           <div class="pop_box" ng-if="gpop_type == 1">
                <div class="pop_head">슈퍼패스란?</div>
                <div class="pop_detail">
                   <p>
                    플래티넘 조건 충족시,<br>
                    플래티넘 또는 플래티넘+로 일일 자동 승급.<br>
                    다음 반기까지 최대 11개월 혜택 유지.                       
                   </p>
                   <p class="mgt10">
                    발송완료 기준 15일전까지의 구매실적을 바탕<br>으로 적용.   
                   </p>
                   <div class="squar mgt10 col77f13">1월 10일까지 100만원+6회를 달성한 플래티넘<br>고객의 경우, 1월25일경 플래티넘+로 자동 승급</div>                    
                    <p class="mgt10">
                        슈퍼패스 승급후<br>
                        취소/반품 등으로 실적이 미달 될 경우,<br>
                        상/하반기 등급 정리일에 등급이 하향 조정될 수<br>
                        있습니다.
                    </p>
                    <div class="squar mgt10 col77f13">
                        상반기 12월18일~6월16일(정리일 7월2일)<br>
                        하반기 6월17일~12월17일(정리일 1월2일)
                    </div>
                </div>
                <div class="pop_close" ng-click="pop_close()">닫기</div>               
           </div>
           <div class="pop_box" ng-if="gpop_type == 2">
                <div class="pop_head">임직원 혜택 안내</div>
                <div class="pop_detail">
                   <p>
                    혜택1:<br>
                    상품 구매시 최대 15%의 할인 혜택을 드립니다.
                   </p>
                   <div class="squar mgt10 col77f13">단, 임직원 할인시 타 할인 수단 적용 불가</div>                    
                   <p class="mgt15">
                    혜택2:<br>
                    임직원 전용 특가매장 운영시 상품 구매 혜택을 드립니다.
                   </p>
                   <div class="squar mgt10 col77f13">예) 임직원 명절 매장 등</div>                    
                </div>
                <div class="pop_close" ng-click="pop_close()">닫기</div>               
           </div>
           <div class="pop_box" ng-if="gpop_type == 3">
                <div class="pop_head">쿠폰 사용 안내</div>
                <div class="pop_detail">
                   <div class="squar">
                   ID당 매 월 1회 발급 가능하며,<br>
                   다운로드 받은 쿠폰은 [MY LOTTE]에서<br>
                   확인하실 수 있습니다.
                   </div>                    
                   <div class="squar mgt15">
                   본 쿠폰은 반품/환불/취소시,<br>
                   유효기간 종료시에는 재발급 되지 않습니다.
                   </div>                    
                   <div class="squar mgt15">
                   플래티넘+ 전상품 무료배송 서비스와 등급별<br>
                   무료배송권은 국내배송에 한하여 적용됩니다.
                   </div>                    
                   <div class="squar mgt15">
                   상품쿠폰은 일부 상품에 적용이<br>
                   제한될 수 있습니다.
                   </div>                    
                   <div class="squar mgt15">
                   회원혜택은 당사의 사정에 따라<br>
                   변경될 수 있습니다.
                   </div>                                       
                </div>
                <div class="pop_close" ng-click="pop_close()">닫기</div>               
           </div>
           <div class="pop_box" ng-if="gpop_type == 4">
                <div class="pop_head">{{gpop_item.promNm}}</div>
                <div class="pop_detail" ng-bind-html="gpop_item.mbl_cpn_cont"></div>
                <div class="pop_close" ng-click="pop_close()">닫기</div>               
           </div>           
        </div>
        
    </div>
</section>