@charset "utf-8";

.option_list_layer {padding:0 8px;width:100%;border:solid 1px #1c2129;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice {display:none;clear:both}/*position:relative*/
.option_choice dl {padding:9px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice dt {clear:both;float:left;width:30%;padding:0 5px 0 8px;color:#666;font-size:11px;height:34px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice dt label {display:table-cell;vertical-align:middle;height:34px;padding-top:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice dd {overflow:hidden;text-align:right;padding:5px 0 0 0;height:34px;box-sizing:border-box;-webkit-box-sizing:border-box}

.option_choice dd .s_box02 {width:100%;background-image: linear-gradient(#fff, #f4f4f4)}
.option_choice dd .s_box02:after{background:none;width:0px;height:0px}
.option_choice dd .s_box01 {width:100%;text-align:left}
.option_choice dd .s_box01 .tl {background-image:linear-gradient(#fff, #fff);background-image:-webkit-linear-gradient(#fff, #fff)}
.option_choice dd .s_box01 .tl.on {background-image:-webkit-linear-gradient(#6f7989, #7c8595);color:#fff}
.option_choice dd .s_box01 .tl.on a {color:#fff}
.option_choice dd .s_box02 select {width:100%;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/ico_select.png) no-repeat right center;background-size: 18px 6px}

.option_choice dd select.ono_selectBoxOn {border: solid 1px #606978;color:#fff;background-image:linear-gradient(#fff, #f4f4f4);background-image:-webkit-linear-gradient(#5d6778, #5d6778)}
.option_choice dd select.ono_selectBoxOn option {color:#000}
.option_choice dd input.txt01 {width:100%;background-image:linear-gradient(#fff 0%, #fff 100%);background-image:-webkit-linear-gradient(#fff 0%, #fff 100%)}
.option_choice .num_input .num01 {position:relative; width:44px}
.option_choice .num_input .num02 {position:relative; width:88px}
.option_choice .num_input .num03 {position:relative; width:122px}
.option_choice .num_input .num01 .d_btn {left:0}
.option_choice .num_input .num02 .d_btn {left:44px}
.option_choice .num_input .num03 .d_btn {left:88px}
.option_choice .num_input02 {position:relative}
.option_choice .num_input a.d_btn {position:absolute;width:40px;z-index:1}
.option_choice .num_input .s_box01 {padding:0 0 0 132px;width:100%;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice .num_input .s_box02 {padding:0 0 0 132px;box-sizing:border-box;-webkit-box-sizing:border-box}/*z-index:-1*/
.option_choice .num_input a.g_btn {position:absolute;right:0;top:5px;width:50px}
.option_choice .num_input .t_box {padding:0 54px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice .num_input02 .t_box {padding:0 54px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_choice .num_input02 a.g_btn {position:absolute;right:0;top:5px;width:50px}
.option_list_layer .option_choice dd {overflow:hidden;text-align:right}
.option_list_layer .option_choice .num_input a.g_btn {position:absolute;right:0px;top:5px;width:50px;background-image:linear-gradient(#fff, #fff);background-image:-webkit-linear-gradient(#fff, #fff)}
.option_smartpic {display:none;clear:both;position:relative;border-top:solid 1px #dce4eb;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dl {padding:9px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dt {clear:both;float:left;width:30%;color:#666;font-size:11px}
.option_smartpic dd {overflow:hidden;color:#000}
.option_smartpic dt.shop {padding-left:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dd.shop span {display:block;padding-top:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dt.visit {padding:16px 0 0 11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dd.visit {padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dd.visit .s_box02 {width:100%;margin-bottom:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dd.visit select {width:100%}
.option_smartpic dd.visit a {width:100%;margin-bottom:5px}
.option_smartpic dd.visit a.x_btn:nth-child(2):after {left:50%;margin-left:44px}
.option_smartpic dd.visit a.x_btn:nth-child(3):after {left:50%;margin-left:49px}
.option_smartpic dt.period {padding:10px 0 0 11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_smartpic dd.period {padding-top:8px;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 20140728 수정 --*/
.option_choice dt{height:41px;padding-top:5px}
.option_choice dd{height:41px}
.option_choice dd .s_box02 select{height:36px}
.option_choice .num_input:after{content:"";display:block;clear:both}
.option_choice .num_input a.d_btn{height:36px;line-height:36px;padding:0}
.option_choice dd .s_box01 .tl{height:36px;padding:0}
.option_choice dd .s_box01 .tl a{display:block;height:36px;line-height:36px;padding:0 22px 0 7px}
.option_choice dd .s_box01 .tl a:before{top:50%;right:6px;margin:-3px 0}
.option_choice .num_input button,.option_choice .num_input span.ipt_num{float:left}
.option_choice .num_input button{width:36px;height:32px;background:#f7f7f7;border:1px solid #ccc;font-size:20px;color:#848484;vertical-align:middle}
.option_choice .num_input span.ipt_num{display:block;box-sizing:border-box;width:67px;height:32px;padding:0 10px;border-width:1px 0;border-style:solid;border-color:#ccc;background-color:#fff}
.option_choice .num_input .ipt_num input[type='number']{display:block;width:100%;height:100%;border:none;text-align:center;vertical-align:middle;appearance:none;-webkit-appearance:none}
/*-- 20140728 수정 */

.detail_option_layer {position:fixed;bottom:-217px;left:0;width:100%;background:#323b4a;z-index:4}
.detail_option_layer .option_list {display:none}
.detail_option_layer .option_list_layer {padding:0;border:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .layer_head { background:#323b4a;position:relative;z-index:2}
.detail_option_layer .layer_head span {background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/tab_bar.png) no-repeat 0 0;background-size:97px 65px;width:97px;height:29px;display:inline-block;position:absolute;top:-28px;left:50%;margin-left:-43px;text-indent:-9999em;color:transparent}
.detail_option_layer .layer_head span.on {background-position:0 -35px}
.detail_option_layer .layer_head a {background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/tab_bar.png) no-repeat 0 0;background-size:97px 65px;width:97px;height:29px;display:inline-block;position:absolute;top:-28px;left:50%;margin-left:-43px;text-indent:-9999em;color:transparent}
.detail_option_layer .layer_head a.on {background-position:0 -35px}
.detail_option_layer .option_choice {background:#323b4a;padding:0 8px;border-top:solid 1px #1c2129;border-bottom:solid 1px #252d3b;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_choice dt {color:#fff}
.detail_option_layer .num_input {position:inherit}
.detail_option_layer .num_input .num {position:relative}
.detail_option_layer .num_input .num a.d_btn {top:0}
.detail_option_layer .btn01 {background:#323b4a;padding:8px;border-top-color:#3d4758;overflow:hidden;width:100%;display:table;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn01 div {display:table-cell;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn01 div:nth-child(1) {width:30%;padding-right:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn01 div:nth-child(2) {width:30%;padding-right:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn01 div:nth-child(3) {width:40%}
.detail_option_layer .btn01 div a {width:100%}
.detail_option_layer .btn01 .c_btn span {padding:12px 5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn01 div .c_btn.col02 {box-shadow:0px 0px 1px 1px #282f3b;background:linear-gradient(-81deg, #3fa6fd 50%, #289cff 50%);background:-webkit-linear-gradient(-81deg, #3fa6fd 50%, #289cff 50%)}
.detail_option_layer .btn01 div .c_btn.col01 {box-shadow:0px 0px 1px 1px #282f3b;background:linear-gradient(-81deg, #0054ff 50%, #004deb 50%);background:-webkit-linear-gradient(-81deg, #0054ff 50%, #004deb 50%)}
.detail_option_layer .btn02 {background:#323b4a;padding:8px;margin-top:-16px;overflow:hidden;width:100%;display:table;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn02 div {display:table-cell;width:100%;padding-top:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn02 div a {width:100%}
.detail_option_layer .btn02 div .c_btn.col04 {box-shadow:0px 0px 1px 1px #282f3b;border:solid 1px #0a7d78;border-top-color:#0a837e;border-bottom-color:#064f4c;background:linear-gradient(-81deg, #15817d 50%, #0e7975 50%);background:-webkit-linear-gradient(-81deg, #15817d 50%, #0e7975 50%);box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .btn02 div .c_btn.col04 span {border:solid 1px #198985;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .end {border:solid 1px #e3e7ec;background:#f5f6f7;font-size:14px;text-align:center;line-height:140%;padding:10px;box-sizing:border-box;-webkit-box-sizing:border-box;margin:8px}
.detail_option_layer .end span {color:#e92324}
.detail_option_layer .option_smartpic {display:none;clear:both;position:relative;background:#323b4a;border-top:solid 1px #3d4758;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dl {padding:9px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dt {clear:both;float:left;width:30%;color:#fff;font-size:11px}
.detail_option_layer .option_smartpic dd {overflow:hidden;color:#fff}
.detail_option_layer .option_smartpic dt.shop {padding-left:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dd.shop span {display:block;padding-top:4px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dt.visit {padding:16px 0 0 11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dd.visit {padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dd.visit .s_box02 {width:100%;padding-bottom:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dd.visit select {width:100%}
.detail_option_layer .option_smartpic dd.visit a {width:100%;margin-bottom:5px}
.detail_option_layer .option_smartpic dt.period {padding:10px 0 0 11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_smartpic dd.period {padding-top:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.detail_option_layer .option_choice .num_input .d_btn:nth-child(1) {left:0;background-image:linear-gradient(#fff, #fff);background-image:-webkit-linear-gradient(#fff, #fff)}
.detail_option_layer .option_choice .num_input .d_btn:nth-child(2) {left:44px;background-image:linear-gradient(#fff, #fff);background-image:-webkit-linear-gradient(#fff, #fff)}
.detail_option_layer .option_choice .num_input .d_btn:nth-child(3) {left:88px;background-image:linear-gradient(#fff, #fff);background-image:-webkit-linear-gradient(#fff, #fff)}
.detail_option_layer .option_choice .num_input .d_btn.on {background-image:linear-gradient(#6f7989, #7c8595);background-image:-webkit-linear-gradient(#6f7989, #7c8595)}

.option_select_layer {position:absolute;bottom:-365px;left:0;width:100%;padding:0 8px;border:solid 1px #1c2129;background:#323b4a;z-index:5;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}

.option_select_layer .layer_head { background:#323b4a;position:relative}
.option_select_layer .layer_head span {background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/tab_bar.png) no-repeat 0 -35px;background-size:97px 65px;width:97px;height:29px;display:inline-block;position:absolute;top:-28px;left:50%;margin-left:-43px}
.option_select_layer .option_select h5 {color:#fff;font-size:13px;height:35px;padding:10px 0 0 11px;font-weight:normal;box-sizing:border-box;-webkit-box-sizing:border-box}
.option_select_layer .option_select ul {background:#fff;height:240px;overflow-y:scroll;-webkit-overflow-scrolling:touch }
.option_select_layer .option_select li {border-bottom:solid 1px #d3d3d3}
.option_select_layer .option_select li a {display:block;height:40px;padding:12px 11px 0;color:#000;font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 20150421 수정 : 바로주문 고정바 개선_뒤로 가기 버튼 개발 */
.new.detail_option_layer {position:fixed;bottom:-100%;left:0;width:100%}
.detail_option_layer_btn {position:fixed;bottom:0;left:0;display:table;width:100%;height:50px;line-height:50px;text-align:center;font-size:14px;font-weight:bold;vertical-align:middle;z-index:5}
.detail_option_layer_btn a {display:table-cell}
.detail_option_layer_btn a.wish_btn {width:55px;background:#719cff url(http://image.lotte.com/lotte/mobile/mobile_new/product/btn_detail_option_layer_wish.png) no-repeat 50% 50%;background-size:21px 20px;text-indent:-999999px;overflow:hidden;border-right:solid 1px #83a9ff} 
.detail_option_layer_btn a.cart_btn {width:55px;background:#719cff url(http://image.lotte.com/lotte/mobile/mobile_new/product/btn_detail_option_layer_cart.png) no-repeat 50% 50%;background-size:21px 21px;text-indent:-999999px;overflow:hidden} 
.detail_option_layer_btn a.order_btn {color:#fff;font-weight:bold;background:#4772ff;vertical-align:middle}
.detail_option_layer_btn a.order_btn span{position:relative;font-size:18px}
.detail_option_layer_btn a.order_btn span:after{content:"";width:8px;height:12px;position:absolute;right:-13px;top:50%;margin-top:-6px;display:block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/btn_detail_option_layer_order.png) no-repeat 0 0;background-size:8px 12px} 
.detail_option_layer_btn p {background:#ddd;color:#333;font-size:16px}
.detail_option_layer_btn p span {color:#4772ff} 

.new.detail_option_layer .layer_head {background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/btn_detail_option_layer_close_line.png) repeat-x 0 0;background-size:1px 1px;height:1px} /* 20150707 수정 */
.new.detail_option_layer .layer_head a {display:block;top:-21px;margin-left:-33px;width:66px;height:22px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/btn_detail_option_layer_close.png) no-repeat 0 0;background-size:66px 22px;text-indent:-999999px;overflow:hidden} /* 20150707 수정 */
.new.detail_option_layer .option_choice {background:#ececec;padding:17px 14px 0;border:none}
.new.detail_option_layer .option_list_layer {background:#ececec;padding-bottom:50px}
.new.detail_option_layer .option_list_layer dl {padding:0;overflow:hidden}
.new.detail_option_layer .option_list_layer dt {padding:0;clear:both;float:left;width:26%;color:#666;font-size:11px;height:50px;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:40px}
.new.detail_option_layer .option_list_layer dt label {height:40px;padding:0}
.new.detail_option_layer .option_list_layer dd {padding:0;height:50px;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_choice .ship_method {padding-top:13px}
.new.detail_option_layer .option_choice .ship_method label {color:#333}
.new.detail_option_layer .option_list_layer .s_box02 {width:100%;background:none}
.new.detail_option_layer .option_list_layer .s_box02:after{background:none;width:0px;height:0px}
.new.detail_option_layer .option_list_layer .s_box02 select {color:#333;width:100%;height:40px;border:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#fff url(http://image.lotte.com/lotte/mobile/mobile_new/common/ico_select.png) no-repeat right center;background-size: 18px 6px;border-radius:3px}
.new.detail_option_layer .option_list_layer .s_box02 select option:not(:checked) {color:#888}
.new.detail_option_layer .option_list_layer select.ono_selectBoxOn {border:solid 1px #606978;color:#fff;background-image:linear-gradient(#fff, #f4f4f4);background-image:-webkit-linear-gradient(#5d6778, #5d6778)}
.new.detail_option_layer .option_list_layer select.ono_selectBoxOn option {color:#000}
.new.detail_option_layer .option_list_layer input.txt01 {width:100%;background-image:linear-gradient(#fff 0%, #fff 100%);background-image:-webkit-linear-gradient(#fff 0%, #fff 100%)}
.new.detail_option_layer .option_list_layer .num_input .num01 {position:relative; width:44px}
.new.detail_option_layer .option_list_layer .num_input .num02 {position:relative; width:88px}
.new.detail_option_layer .option_list_layer .num_input .num03 {position:relative; width:122px}
.new.detail_option_layer .option_list_layer .num_input .num01 .d_btn {left:0}
.new.detail_option_layer .option_list_layer .num_input .num02 .d_btn {left:44px}
.new.detail_option_layer .option_list_layer .num_input .num03 .d_btn {left:88px}
.new.detail_option_layer .option_list_layer .num_input02 {position:relative}
.new.detail_option_layer .option_list_layer .num_input a.d_btn {position:absolute;width:40px;z-index:1}
.new.detail_option_layer .option_list_layer .num_input .s_box01 {padding:0 0 0 132px;width:100%;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_list_layer .num_input .s_box02 {padding:0 0 0 132px;box-sizing:border-box;-webkit-box-sizing:border-box}/*z-index:-1*/
.new.detail_option_layer .option_list_layer .num_input a.g_btn {position:absolute;right:0;top:5px;width:50px}
.new.detail_option_layer .option_list_layer .num_input .t_box {padding:0 54px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_list_layer .num_input02 .t_box {padding:0 54px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_list_layer .num_input02 a.g_btn {position:absolute;right:0;top:5px;width:50px}
.new.detail_option_layer .option_list_layer .num_input button,
.new.detail_option_layer .option_list_layer .num_input span.ipt_num{float:left}
.new.detail_option_layer .option_list_layer .num_input button{width:42px;height:40px;background:#f3f3f3;border:1px solid #ddd;font-size:20px;color:#888;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_list_layer .num_input button.btnMinus{border-top-left-radius:3px;border-bottom-left-radius:3px}
.new.detail_option_layer .option_list_layer .num_input button.btnPlus{border-top-right-radius:3px;border-bottom-right-radius:3px}
.new.detail_option_layer .option_list_layer .num_input span.ipt_num{display:block;width:62px;height:40px;padding:0 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background-color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_list_layer .num_input .ipt_num input[type='number']{display:block;width:100%;height:100%;border:none;text-align:center;vertical-align:middle;appearance:none;-webkit-appearance:none}
.new.detail_option_layer .option_list_layer dd .s_box01 .tl{height:40px;border:none;background:none}
.new.detail_option_layer .option_list_layer dd .s_box01 .tl a{display:block;height:40px;padding:0 22px 0 7px;color:#888;border:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#fff;border-radius:3px}
.new.detail_option_layer .option_list_layer dd .s_box01 .tl a.select_on {color:#333}
.new.detail_option_layer .option_list_layer dd .s_box01 .tl a:before{right:11px;width:9px;height:6px;background-size:9px 6px;background-image: url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_select_off.png)}
/* 20150706 수정
.new.detail_option_layer .option_list_layer dd .s_box01 .tl a.select_on:before{background-image: url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_select_on.png)}
*/
.new.detail_option_layer .option_list_layer input.radio01[type="radio"] {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_radio_off.png ) no-repeat 0 0;background-size:20px 20px}
.new.detail_option_layer .option_list_layer input.radio01[type="radio"]:checked{background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_radio_on.png ) no-repeat 0 0;background-size:20px 20px}
.new.detail_option_layer .option_select_layer {padding:0;border:none;background:none}
.new.detail_option_layer .option_select_layer .option_select {padding:17px;background:#ececec}
.new.detail_option_layer .option_select_layer .option_select h5 {color:#222;font-weight:bold;padding:0 0 0 8px;height:25px;margin-top:-5px}
.new.detail_option_layer .option_select_layer .option_select ul {border-radius:3px;border:solid 1px #719cff;height:190px;overflow-y:auto} /*20150707 수정 */
.new.detail_option_layer .option_select_layer .option_select ul li {border-bottom:solid 1px #ddd}
.new.detail_option_layer .option_select_layer .option_select ul li a {color:#333;height:38px;line-height:38px;padding:0 11px;vertical-align:middle} /*20150701 수정 */
.new.detail_option_layer.pdpage .pd_optionList_wrap{overflow-y:scroll;-webkit-overflow-scrolling:touch} /*20150701 수정 */
.new.detail_option_layer.pdpage .selectedProduct{overflow-y:visible;max-height:none;margin-top:10px;border:none}
.new.detail_option_layer.pdpage .pd_opt_wrap {margin-top:0}
.new.detail_option_layer .pd_selectBox {margin-bottom:0}
.new.detail_option_layer.pdpage .pd_select {height:40px;color:#333;border:solid 1px #ddd;background:#fff;border-radius:3px;margin-bottom:10px}
.new.detail_option_layer.pdpage .pd_select span {height:32px;line-height:32px;color:#888;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_select_off.png) no-repeat right center;background-size:9px 6px}
.new.detail_option_layer.pdpage .pd_select span.select_on {color:#333} /*20150702 수정*/
.new.detail_option_layer.pdpage .pd_selectBox.on .pd_select {border:solid 1px #719cff;border-bottom:solid 1px #ddd;margin:0;border-bottom-left-radius:0;border-bottom-right-radius:0} /*20150706 수정 */
.new.detail_option_layer.pdpage .pd_selectBox.on .pd_select span {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_select_on.png) no-repeat right center;background-size:9px 6px} /*20150701 추가 */
.new.detail_option_layer.pdpage .option_choice .pdpage_con {margin:0;padding:0}
.new.detail_option_layer.pdpage .pd_option{border:solid 1px #719cff;border-top:none;border-bottom-left-radius:3px;border-bottom-right-radius:3px} /*20150706 수정 */
.new.detail_option_layer .pd_option ul li{border-bottom:solid 1px #ddd;color:#333}
.new.detail_option_layer .pd_option ul li:last-child{border-bottom:none}
.new.detail_option_layer .pd_option ul li.out p {color:#ddd}
.new.detail_option_layer .selectedProduct ul li {margin-bottom:8px;background:none;border:solid 1px #ccc;border-radius:3px}
.new.detail_option_layer .selectedProduct ul li p {color:#333;right:29px}
.new.detail_option_layer .pd_option ul li span.price {color:#333}
.new.detail_option_layer .selectedProduct ul li .numBox button.btnDel {width:25px;height:25px;bottom:4px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/icon_0423_del.png) no-repeat 0 0;background-size:25px 25px;border:none} /*20150701 수정 */
.new.detail_option_layer .selectedProduct ul li .numBox button {width:30px;height:30px;border:1px solid #ddd;font-size:20px;color:#888;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .selectedProduct ul li .numBox button.btnMinus{border-top-left-radius:3px;border-bottom-left-radius:3px}
.new.detail_option_layer .selectedProduct ul li .numBox button.btnPlus{border-top-right-radius:3px;border-bottom-right-radius:3px}
.new.detail_option_layer .selectedProduct ul li .numBox span.ipt_num{display:block;width:65px;height:30px;padding:0 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background-color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_choice .totalPrice {display:block;padding:10px 2px;text-align:right;font-size:12px;background:#ececec;height:44px;border-top:solid 1px #ddd;margin-top:7px;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_choice .pd_opt_wrap .totalPrice{display:block;padding:10px 2px;text-align:right;font-size:12px;background:#ececec;height:44px;border-top:solid 1px #ddd;margin-top:17px;box-sizing:border-box;-webkit-box-sizing:border-box}
.new.detail_option_layer .option_choice .mtable.totalPrice.on,
.new.detail_option_layer .option_choice .pd_opt_wrap .mtable.totalPrice.on{display:block}
.new.detail_option_layer .option_choice .mtable.totalPrice span,
.new.detail_option_layer .option_choice .pd_opt_wrap .mtable.totalPrice span{font-size:14px;line-height:18px;color:#333;font-weight:bold}
.new.detail_option_layer .option_choice .mtable.totalPrice span.label,
.new.detail_option_layer .option_choice .pd_opt_wrap .mtable.totalPrice span.label{float:left}
.new.detail_option_layer .option_choice .mtable.totalPrice span.price,
.new.detail_option_layer .option_choice .pd_opt_wrap .mtable.totalPrice span.price{font-size:18px;font-weight:bold}/* 20150706 수정 */
.new.detail_option_layer .option_choice .mtable.totalPrice span.unit,
.new.detail_option_layer .option_choice .pd_opt_wrap .mtable.totalPrice span.unit{font-size:14px;vertical-align:1px} /* 20150706 수정 */

@media all and (orientation:landscape){
	.new.detail_option_layer .option_choice {overflow-y:auto;-webkit-overflow-scrolling:touch;max-height:220px} /* 20150707 수정 */
	.new.detail_option_layer .option_select_layer .option_select ul {height:160px}
	.new.detail_option_layer.pdpage .pd_optionList_wrap {overflow-y:inherit} /* 20150707 추가 */
}

.burberry.detail_option_layer_btn a.wish_btn {background:#fff url(http://image.lotte.com/lotte/mo2015/angular/detail/btn_detail_option_layer_wish_v2.png) no-repeat 50% 50%;background-size:23px 20px;text-indent:-999999px;overflow:hidden;border-right:1px solid #fff;border-bottom:1px solid #d3d3d3;border-top:1px solid #d3d3d3}
.burberry.detail_option_layer_btn a.cart_btn {background:#d4d4d4 url(http://image.lotte.com/lotte/mo2015/angular/detail/btn_detail_option_layer_cart_v2.png) no-repeat 50% 50%;background-size:25px 22px;text-indent:-999999px;overflow:hidden}
.burberry.detail_option_layer_btn a.order_btn {background:#0f0f0f}
.burberry.detail_option_layer_btn p span {color:#a59a69}
.burberry.new.detail_option_layer .option_list_layer input.radio01[type="radio"] {background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_gucciradio_off.png ) no-repeat 0 0;background-size:20px 20px}
.burberry.new.detail_option_layer .option_list_layer input.radio01[type="radio"]:checked{background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/new_order_icon_gucciradio_on.png ) no-repeat 0 0;background-size:20px 20px}
.burberry.new.detail_option_layer .option_select_layer .option_select ul {border: solid 1px #a59967} /* 20150706 추가 */

.swiper-slide img {height:auto; width:300px}

/* 20150513 추가 */
.smp_counsel_info {padding-top:6px}
.option_choice .smpht {height:60px}
.smp_counsel_info2 {color:#fff;padding-top:6px;letter-spacing:-1px}
.option_smartpic .smp_info_txt {color:#858585;padding-bottom:3px}

/*20160126 버버리 바로주문바 */
.detail_option_layer_btn{background:#f7f7f7;box-sizing: border-box;height: 46px;line-height: 46px}
.burberry.detail_option_layer_btn a{border-radius:2px}
.burberry.detail_option_layer_btn a.blank{width:5px;font-size:0}
.detail_option_layer_btn a.wish_btn{width:44px}
.burberry.detail_option_layer_btn a.cart_btn{background-image:none;text-indent:0;color:#0f0f0f;width:128px;font-size:15px}
.burberry.detail_option_layer_btn a.order_btn span{font-size:15px}
.burberry.detail_option_layer_btn a.order_btn span:after{background: none}
.burberry.detail_option_layer_btn a.cart_btn.half{width:auto}

/* 버버리 공식 스토어 배너추가 */
.burberry_con .burberry_title {overflow:hidden;max-width:100%;font-size:17px;color:#47494f;text-overflow:ellipsis;white-space:nowrap;line-height:42px;text-align:center;border-bottom:1px solid #d4d4d4;background:#fff;font-weight:700}

/*20171023 버버리 청구할인 */
#prom_msg_layer.quick_tooltip{top:444px}
#prom_msg_layer.quick_tooltip .tt_box{width:176px;color:#333;font-size:11px}
#prom_msg_layer.quick_tooltip .tt_box .tt_t1{font-weight: bold;font-size:14px}
#prom_msg_layer.quick_tooltip .tt_box .tt_t2{font-size:12px;color:#0f0f0f;padding-top:13px }
#prom_msg_layer.quick_tooltip .tt_box ul li{margin-top:1px}
#prom_msg_layer.quick_tooltip .tt_box .prom_list li{position: relative;letter-spacing: -0.5px}
#prom_msg_layer.quick_tooltip .tt_box .prom_list li:before{content: '';display: block;width: 1px;height: 1px;background: #000;position: absolute;left: -2px;top: 8px}
#prom_msg_layer.quick_tooltip .tt_box .lmt_info{position:relative;margin-top:1px}
#prom_msg_layer.quick_tooltip .tt_box .lmt_info:before{content: '';display: block;width: 1px;height: 1px;background: #000;position: absolute;left: -2px;top: 8px}
.quick_tooltip{position:absolute;top:488px;width:100%;display:none;z-index:5;left:0}
.quick_tooltip .tt_box{width:276px;border:1px solid #0f0f0f;position:relative;margin:0 auto;padding:20px;box-sizing:border-box;background:#fff}
.quick_tooltip .tt_box .tt_close{display:block;position:absolute;right:0;top:0;width:29px;height:31px}
.quick_tooltip .tt_box .tt_t1{color:#333;font-size:14px;font-weight:bold}
.quick_tooltip .tt_box .tt_t2{color:#333;font-size:13px;padding:14px 0 7px 0;font-weight:bold}
.quick_tooltip .tt_box .tt_ul{color:#666;font-size:12px}
.quick_tooltip .tt_box .tt_ul li{padding-left:3px;position:relative}
.quick_tooltip .tt_box .tt_ul li:before{width:1px;height:1px;content:'';background:#666;position:absolute;left:-2px;top:8px}
.quick_tooltip .tt_box a.tt_link{text-align:center;display:block;font-size:13px;border:1px solid #999;color:#666;padding:0 5px;line-height:17px;height:18px;margin-top:6px;width:135px;letter-spacing:-1px}
.quick_tooltip .tt_box a.tt_link img{width:11px;margin-top:1px}
.btn_detail{position: absolute;display: inline-block;top: 13px;left: 90px;border: 1px solid #dad7d6;padding: 4px 5px;line-height: 12px;background: #fff}
.prom_wrap{position:relative}
.prom_wrap > ul >li > div{letter-spacing: -0.5px}
.prom_sale{color:#888}
strong.prom_prc{color:#333}