@charset "UTF-8";

.boxSize{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.dotcomStaffBoard {width:100%; clear:both; background:#fff; border-bottom:1px solid #ddd;}
#mbbs img{width:100%}
#mbbs .topMenu{padding:10px 10px 5px 10px}
#mbbs .topMenu select.mbbs_select{width:100%}
#mbbs .formBox{position:relative;background:#3963c5;margin:10px;height:53px;padding:10px 80px 10px 10px}
#mbbs .bbs_text{width:100%;min-height:53px;border:1px solid #666666;-webkit-border-radius:5px;font-size:13px;padding:5px;box-sizing:border-box; -webkit-box-sizing:border-box; vertical-align:middle}
#mbbs .bbs_text2{width:95%;min-height:53px;border:1px solid #757575;font-size:13px;padding:5px;margin-top:5px;vertical-align:middle}
#mbbs #bbs_ok{position:absolute;color:#3963c5;width:52px;height:54px;top:11px;right:20px;vertical-align:middle;border-radius:2px;border:0px;background:#ddd;font-size:13px;line-height:54px;text-align:center;cursor:pointer}
#mbbs .bbsList{border-top:3px solid #666666;margin:0 10px 0 10px;color:#454545}
#mbbs .bbsList .bbsDetail {padding-top:10px; border-bottom:1px solid #ddd}
#mbbs .bbsList .bbsDetail .ba{float:left;width:55px;text-align:center;border-right:1px solid #ddd}
#mbbs .bbsList .bbsDetail .bb{padding-left:65px;word-break:break-all;padding-bottom:10px}
#mbbs .bbsList .bbsDetail .bb div:nth-child(1){font-size:13px;line-height:15px;margin-bottom:8px}
#mbbs .bbsList .bbsDetail .bb div:nth-child(2){color:#757575}
#mbbs .bbsList .bbsDetail .bb img.recomm{width:63px;float:right;margin-top:-4px}
#mbbs .bbsList .bbsDetail .bb img.del{width:13px;margin-top:0px}
#mbbs .bbsList .bbsDetail .subbbs{padding:10px 10px 10px 65px;color:#2452bf;word-break:break-all}
#mbbs .bbsList .bbsDetail .subbbs.write{padding:10px;color:#757575}
#mbbs .bbsList .bbsDetail .subbbs:last-child{border-bottom:0px}
#mbbs .bbsList .bbsDetail .subbbs img.rep{width:17px;margin-top:-4px}
#mbbs .bbsList .bbsDetail .subbbs img.del{width:13px;margin-top:0px}
#mbbs .bbsList .bbsDetail .subbbs div.writer{color:#757575;padding:8px 0 0 17px}

#mbbs .bbsList .bbsDetail .dept_name{margin-right:6px;}
#paging {text-align:center;}
#paging .now {font-weight:bold;}
#paging span {display:inline-block; padding:3px; margin:0 2px;}
.btn_more {width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; padding:10px;}
.btn_more p {width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; border:1px solid #ddd; background:#eee; text-align:center; height:40px; line-height:40px;}
.btn_more p span {padding:2px 0 0 0; margin:0;}


#mbbs .bbsList .btn_wrap{margin:3px 0;text-align:right;}
#mbbs .bbsList .btn_wrap button{padding:5px 10px;color:#fff;font-size:12px;border:1px solid #ddd;background-color:#fff;border-radius:3px;
outline:none;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}
#mbbs .bbsList .btn_wrap button.btn_cancel{color:#cc0000;}
#mbbs .bbsList .btn_wrap button.btn_del{color:#cc0000;}
#mbbs .bbsList .btn_wrap button.btn_reg{color:#3366cc;}
#mbbs .bbsList button.btn_del_inline{padding:3px 5px;font-size:11px;border:1px solid #ddd;color:#cc0000;background-color:#fff;border-radius:3px;
outline:none;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}