<div class="share_this">
	<h5 ><i></i>친구에게 공유하기</h5>
	<dl class="sms">
	    <dt>휴대폰번호</dt>
	    <dd>
	        <input type="tel" name="sms_phoneNo" id="sms_phoneNo" ng-model="sms_phoneNo" ng-maxlength="11" class="txt01" placeholder="휴대폰번호 숫자만 입력해 주세요." numeric-only autofocus>
	        <span>예) 01012345678</span>
	    </dd>
	    <dt>발송내용</dt>
	    <dd class="txt" id="sms_msg">
	        <p ng-bind-html="smsTxt"></p>
	    </dd>
	</dl>
	<div class="btn01">
	    <!-- <div> -->
	        <a href="" ng-click="hideSharePop()" class="c_btn col05">
	            <span>취소</span>
	        </a>
	    <!-- </div>
	    <div> -->
	        <a href="" ng-click="sendShareSMS()" class="c_btn col01">
	            <span>문자전송</span>
	        </a>
	    <!-- </div> -->
    </div>
</div>