@charset "utf-8";

/* 고객센터 */
.customer .info_txt{position:relative;height:44px;line-height:44px;padding-left:34px;font-size:12px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .info_txt:after{content:'';display:block;position:absolute;left:8px;top:11px;width:21px;height:21px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/ico_cs_1.png) no-repeat 0 -80px;background-size:150px 105px;-webkit-background-size:150px 105px}
.customer .index ul{font-size:14px;color:#000;text-align:center;border-top:1px solid #c6c9cc;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .index li{position:relative;float:left;width:50%;height:110px;border-bottom:1px solid #c6c9cc;border-right:1px solid #c6c9cc;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .index li:nth-child(even){border-right:none}
.customer .index li a{display:block;width:100%;height:100%;padding-top:72px;box-sizing:border-box;-webkit-box-sizing:border-box}
/*20140814 고객센터아이콘변경*/
.customer .index li a:after{content:'';display:block;width:47px;height:37px;position:absolute;left:50%;margin-left:-23px;top:25px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/ico_cs_0814.png) no-repeat 0 0;background-size:150px 105px;-webkit-background-size:150px 105px}
.customer .index li:nth-child(2) a:after{background-position:-100px 0}
.customer .index li:nth-child(3) a:after{background-position:-50px 0}
.customer .index li:nth-child(4) a:after{background-position:-100px -40px}
.customer .index li:nth-child(5) a:after{background-position:0 -40px}
.customer .index li:nth-child(6) a:after{background-position:-50px -40px}

.customer .del_info{position:relative;clear:both;height:101px;color:#666;font-size:12px;text-align:center;line-height:150%;background:#f5f6f7}
.customer .del_info span{display:block;padding:14px 0 10px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .del_info strong{display:inline-block;font-size:12px;font-weight:bold;border:solid 1px #666;position:relative;height:30px;padding:6px 11px 0 28px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .del_info strong:before{content:'';position:absolute;left:50%;top:4px;margin-left:-58px;display:block;width:12px;height:14px;margin-top:3px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/ico_cs_1.png) no-repeat -25px -80px;background-size:150px 105px;-webkit-background-size:150px 105px}
.customer .del_info a{display:block}
.customer .notice{position:relative;height:44px;line-height:44px;border-top:1px solid #c6c9cc;font-size:12px;color:#666;margin-bottom:-25px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .notice span{position:absolute;left:0;top:0;width:44px;text-align:center;color:#333;font-weight:bold}
.customer .notice .tit{padding:0 70px 0 44px;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .notice a.all_view{position:absolute;top:0;right:8px;z-index:1;padding-right:8px;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .notice a.all_view:before{position:absolute;display:block;right:0;top:19px;content:'';height:4px;width:4px;border:1px solid #666;border-left-width:0;border-top-width:0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg)}
.customer .tbl_c{padding:10px 8px;border-bottom:1px solid #939393;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w{width:100%}
.customer .tbl_w th{text-align:left;padding:13px 7px;font-weight:normal;vertical-align:top;color:#666;font-size:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w td{position:relative;padding:6px 0;line-height:1.4;border-bottom:1px solid #d1d4d9;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w td.goods_layer{padding:0;border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w td.goods_layer .goods_box{border:1px solid #c6c9cc;padding:10px;padding-bottom:0;background-color:#f5f6f7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w td.goods_layer .goods_box .order_num{height:20px;border-bottom:1px solid #d1d4d9;font-size:11px;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w td.goods_layer .goods_box li{position:relative;margin-bottom:10px}
.customer .tbl_w td.goods_layer .goods_box li:first-child{margin-top:10px}
.customer .order_goods span.thumb{float:left}
.customer .order_goods span.thumb img{width:70px;height:70px;border:1px solid #e2e4e8;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .order_goods span.cont01{display:block;min-height:70px;margin-left:80px}
.customer .order_goods .tl{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;-webkit-box-orient:vertical}
.customer .order_goods .option{margin-top:10px;color:#0a5ad5}
.customer .goods_list{border-bottom:1px solid #dde1e7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .goods_list ul{padding:0 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .goods_list li{position:relative;margin-bottom:10px}
.customer .goods_list .order_num{height:36px;line-height:36px;margin-bottom:15px;padding-left:8px;border-top:1px solid #bdbdbd;font-weight:bold;background-color:#e2e7f0;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .goods_list .order_num:first-child{border-top:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .goods_list .chk{float:left;margin:0 5px 0 0}
.customer .goods_list .order_goods span.cont01{margin-left:105px}
.customer .tbl_w tr:last-child td{border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .tbl_w .s_box02{width:100%}
.customer .tbl_w .s_box02 select{width:100%}
.customer .tbl_w td .s_box02:last-child{margin-top:4px}
.customer .tbl_w .txt01{width:100%}
.customer .tbl_w textarea.area01{height:105px;margin-bottom:-3px}
.customer .tbl_w td .a_btn.col02{font-size:12px;width:80px}
.customer .tbl_w .inquiry input.check01{}
.customer .tbl_w .inquiry label{position:relative;text-indent:-9999em;color:transparent}
.customer .tbl_w .inquiry label:after{content:"주문내역과 관계없음";display:inline-block;position:absolute;top:2px;left:0;text-indent:0;color:#000}
.customer .tbl_w .tel_num{clear:both}
.customer .tbl_w .tel_num:last-child{margin-top:4px}
.customer .tbl_w .tel_num .s_box02{width:76px}
.customer .tbl_w .tel_num .txt01{width:72px}
.customer .tbl_w .check_area{margin-top:4px}
.customer .tbl_w .email{margin-top:4px}
.customer .tbl_w .check_area input.check01[type="checkbox"]{vertical-align:top}
.customer .tbl_w .check_area label{display:inline-block;padding-top:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .btn_area{padding:20px 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .btn_area a{width:49%}
.customer .btn_area .col01{float:right}
.customer .info_list{margin:0 8px}
.customer .info_list li{position:relative;padding-left:12px;line-height:16px;color:#555;font-size:11px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .info_list li:after{content:'';height:3px;width:3px;display:block;background:#9fa5b5;position:absolute;top:5px;left:4px}
.customer .info_list.mt20{margin-top:20px}
.customer .qna_list{border-top:1px solid #dde1e7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list li{position:relative;padding:15px 8px;border-bottom:1px solid #dde1e7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list li a:before{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/mylotte.png) no-repeat 0 -60px;background-size:90px 95px;-webkit-background-size:90px 95px;width:15px;height:9px;position:absolute;top:50%;margin-top:-4px;right:14px}
.customer .qna_list li.on a:before{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/mylotte.png) no-repeat -20px -60px;background-size:90px 95px;-webkit-background-size:90px 95px;width:15px;height:9px;position:absolute;top:50%;margin-top:-4px;right:14px}
.customer .qna_list .no_message{position:relative;padding:12px 8px;border-bottom:1px solid #e7e7e7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .no_message p{padding:2px 0 2px 25px;line-height:1.5;background:url(http://image.lotte.com/lotte/mobile/mobile_new/order/ico_tips2.png) no-repeat 0 0;background-size:21px 21px;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list a.title{display:block;position:relative}
.customer .qna_list .title span.off{display:inline-block;width:50px;height:16px;margin-right:5px;line-height:16px;border:1px solid #0a5ad5;color:#0a5ad5;font-size:10px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .title span.on{display:inline-block;width:50px;height:16px;margin-right:5px;line-height:16px;border:1px solid #0a5ad5;font-size:10px;text-align:center;color:#fff;background-color:#0a5ad5;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .title span.num{display:inline-block;width:24px;color:#888;text-align:center}
.customer .qna_list .q_cont .date{color:#888}
.customer .qna_list .a_cont{display:none;clear:both;margin-top:15px;border:1px solid #c6c9cc;padding:0 12px;line-height:150%;background-color:#f5f6f7;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .a_cont .q{position:relative;padding:15px 22px;color:#555;border-bottom:1px solid #d1d4d9;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .a_cont .q:before{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/mylotte.png) no-repeat -20px -75px;background-size:90px 95px;-webkit-background-size:90px 95px;width:17px;height:17px;position:absolute;top:17px;left:2px}
.customer .qna_list .a_cont .a{position:relative;padding:15px 22px;color:#0a5ad5}
.customer .qna_list .a_cont .a:before{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/mylotte.png) no-repeat 0 -75px;background-size:90px 95px;-webkit-background-size:90px 95px;width:17px;height:17px;position:absolute;top:17px;left:2px}
.customer .qna_list .a_cont .a .date{margin-top:3px}
.customer .qna_list .goods_c .order_num{height:30px;line-height:30px;border-bottom:1px solid #d1d4d9;font-size:11px;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .goods_c li{padding:15px 2px 0 2px;border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .qna_list .goods_c li:last-child{padding:15px 2px;border-bottom:1px solid #d1d4d9;box-sizing:border-box;-webkit-box-sizing:border-box}
.customer .notice_c .title{font-weight:bold}
.customer .notice_c .a_cont{padding:12px;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 로그인 */
.login{}
.login .menu{overflow:hidden;display:table;width:100%}
.login .menu li{display:table-cell;border-bottom:solid 1px #d3d4d6;border-left:solid 1px #d3d4d6;background:#dbdee0;text-align:center;width:33%;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .menu li:first-child{border-left:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .menu li.on{border-bottom:none;border-right:none;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .menu li a{display:block;height:36px;padding-top:12px;color:#555;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .menu li.on a{color:#0a5ad5}
.login .sub-tab{display:none}
.login .member{padding:10px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .member .keyboard{overflow:hidden;padding:10px 30px;text-align:right;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .member .keyboard a{color:#6f6f71;font-weight:bold;position:relative;padding-right:17px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .member .keyboard a.on:after{content:"";border:solid 2px #666;border-right:none;border-bottom:none;width:8px;height:8px;display:inline-block;-webkit-transform:rotate(-135deg);position:absolute;top:50%;margin-top:-8px;right:0px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .member .keyboard a:after{content:"";border:solid 2px #666;border-right:none;border-bottom:none;width:8px;height:8px;display:inline-block;-webkit-transform:rotate(45deg);position:absolute;top:50%;margin-top:-2px;right:0px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .member .keyboard_layer{background:#dbdee0;padding:6px 15px;display:none;box-sizing:border-box;-webkit-box-sizing:border-box}
/* 2014110 추가 S (2014년 11월 10일 수정) */
.login .member .adult_txt{padding:10px 30px}
.login .member .adult_txt span{color:#ba1d3a}
/* 2014110 추가 E (2014년 11월 10일 수정) */
.login .easy_login_input{padding:0 30px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .easy_login_input li{padding-bottom:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .easy_login_input span{display:inline-block;width:49%}
.login .easy_login_input input[type="text"]{width:100%;font-size:16px;font-weight:bold}
.login .easy_login_input input[type="password"]{width:100%;font-size:16px;font-weight:bold}
.login .easy_login_input input{vertical-align:top}
.login .easy_login_input label{display:inline-block;padding-top:3px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .login_btn01{padding:0 30px 20px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .login_btn01 a{width:100%}
.login .login_btn02{background:#f5f6f7;padding:20px 30px;margin-bottom:-25px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .login_btn02 .txt{display:block;text-align:center;line-height:150%}
.login .login_btn02 div{width:100%;display:table;text-align:center;padding-top:15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .login_btn02 .btn01{display:table-cell;width:33%}
.login .login_btn02 .btn02{display:table-cell;width:34%}
.login .login_btn02 .btn03{display:table-cell;width:33%}
.login .login_btn02 div span{padding-top:33px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .login_btn02 div a{color:#888;font-size:11px}
.login .login_btn02 div a:before{content:"";position:absolute;display:inline-block;top:0;left:50%;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon.png) no-repeat;background-size:125px 400px}
.login .login_btn02 div .btn01 a:before{width:29px;height:29px;background-position:0 -355px;margin-left:-15px}
.login .login_btn02 div .btn02 a:before{width:26px;height:28px;background-position:-38px -355px;margin-left:-13px}
.login .login_btn02 div .btn03 a:before{width:27px;height:26px;background-position:-74px -355px;margin-left:-13px}
.login_pop{position:absolute;border:solid 1px #0a5ad5;background:#fff;margin:0 8px;padding:21px 23px 15px;text-align:center;display:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop .tl{display:block;font-size:14px;color:#0a5ad5;font-weight:bold}
.login_pop .txt{display:block;font-size:10px;line-height:150%;padding:13px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop dl{border:solid 1px #d1d4d9;background:#f5f6f7;padding:10px 10px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop dd{line-height:150%;font-size:10px;color:#666;position:relative;padding:5px 0 5px 10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop dd:before{content:"";border-left:solid 3px #9fa5b5;width:3px;height:3px;position:absolute;top:11px;left:0px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop .btn{padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login_pop .btn a{width:80px}
.login .non_buy{text-align:center;padding:20px 30px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .non_buy .txt{line-height:150%;display:block}
.login .non_buy .btn{padding-top:15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .non_buy .btn a{width:100%}
.login .non_login{padding:20px 30px;display:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .non_login .txt{line-height:150%;text-align:center;display:block}
.login .non_login .txt em{color:#0a5ad5}
.login .non_login .input{display:block;padding-top:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .non_login .input input[type="text"]{width:100%}
.login .non_login .input input[type="email"]{width:100%}
.login .non_login .btn{padding-top:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .non_login .btn a{width:100%}
.login .btn_member{background:#f5f6f7;padding:20px 30px;margin-bottom:-25px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .btn_member .txt{display:block;text-align:center;line-height:150%;color:#010101}
.login .btn_member .txt em{color:#0a5ad5}
.login .btn_member .btn{width:100%;display:table;text-align:center;padding-top:15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.login .btn_member .btn a{width:100%}

/* 로그인 간편 회원가입 개편_김낙운_20150603 */
/* 간편 회원가입 공통 */
.easy_login_wrap input{outline:none;background-image:none} /* 인풋 이미지 삭제_김낙운_20150623 */
.easy_login_wrap fieldset{border:none}
.easy_login_wrap fieldset legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}
.easy_login_wrap input:focus{border:solid 1px #5783ea !important}
.easy_login_wrap .easy_login_input{box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;padding:0 12px}
.easy_login_wrap .easy_login_input li{padding-bottom:14px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_input li:last-child{overflow:hidden}
.easy_login_wrap .easy_login_input input[type="text"]{width:100%;font-size:13px}
.easy_login_wrap .easy_login_input input[type="password"]{width:100%;font-size:13px}
.easy_login_wrap .easy_login_input input{vertical-align:top;border-radius:2px;height:40px;padding-left:10px;color:#333;-webkit-appearance:none;border-color:#ccc;background-image:none}

/* 로그인 */
.easy_login_wrap{background:#e9e9e9;padding:5px;margin-bottom:-25px}
.easy_login_wrap .menu{overflow:hidden;display:table;width:100%}
.easy_login_wrap .menu li{display:table-cell;border-width:0 0 1px 0;border-style:solid;border-color:#d3d3d3;background:#e9e9e9;text-align:center;width:33%;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .menu li:first-child{box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .menu li.on{border-width:1px 1px 0 1px;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .menu li a{display:block;height:33px;padding-top:8px;color:#555;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box;font-size:15px}
.easy_login_wrap .menu li.on a{color:#0a5ad5}
.easy_login_wrap .easy_login_box{padding:0 4px 16px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3}
.easy_login_wrap .easy_login_box .sub-tab{display:none}
.easy_login_wrap .easy_login_box .sub-tab .keyboard{overflow:hidden;text-align:right;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top;padding-top:2px}
.easy_login_wrap .easy_login_box .sub-tab .keyboard a{color:#2d5ecf;font-size:11px;position:relative;padding-right:13px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .keyboard a.on{color:#888}
.easy_login_wrap .easy_login_box .sub-tab .keyboard a.on:after{content:"";border:solid 1px #666;border-right:none;border-bottom:none;width:6px;height:6px;display:inline-block;-webkit-transform:rotate(-135deg);position:absolute;top:70%;margin-top:-8px;right:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .keyboard a:after{content:"";border:solid 1px #2d5ecf;border-right:none;border-bottom:none;width:6px;height:6px;display:inline-block;-webkit-transform:rotate(45deg);position:absolute;top:50%;margin-top:-2px;right:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .keyboard_layer{display:none;box-sizing:border-box;-webkit-box-sizing:border-box;padding-bottom:14px}
.easy_login_wrap .easy_login_box .sub-tab .info_txt{padding:16px 0 10px 12px;font-size:12px;line-height:16px;color:#888;letter-spacing:-0.07em;text-align:center}
.easy_login_wrap .easy_login_box .sub-tab .adult_txt{background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/icon_login.png) no-repeat 4px -124px;background-size:35px 180px;padding:26px 0 28px 37px;margin:0 12px;letter-spacing:-0.07em;border-bottom:2px solid #eee;color:#888}
.easy_login_wrap .easy_login_box .sub-tab .adult_txt span{color:#333;font-weight:bold}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input span{float:left;overflow:hidden;margin-left:19px}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input span:first-child{margin:0}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input span:last-child{float:right;margin:0}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input input[type="checkbox"]{background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/icon_login_check_box.png) no-repeat 0 0;background-size:50px 25px;width:20px;height:20px}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input input[type="checkbox"]:checked {background-position:-25px 0}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input span input{float:left}
.easy_login_wrap .easy_login_box .sub-tab .easy_login_input label{float:left;padding:2px 0 0 5px;box-sizing:border-box;-webkit-box-sizing:border-box;font-size:13px;letter-spacing:-0.07em;color:#888}
.easy_login_wrap .easy_login_box .sub-tab .login_btn01{padding:0 12px 14px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_btn01 a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .easy_login_box .sub-tab .login_btn01 a span{font-size:16px;height:47px;padding:14px 0}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02{padding:0 12px;margin-bottom:-16px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 .txt{display:block;text-align:center;line-height:150%}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 div{width:100%;display:table;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 .btn01{display:table-cell;width:33%}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 .btn02{display:table-cell;width:34%}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 .btn03{display:table-cell;width:33%}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 div span{position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_btn02 div a{color:#888;font-size:11px}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list{overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;text-align:center}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li{display:inline-block;overflow:hidden;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li a{font-size:13px;color:#888;float:left;padding-right:4px;margin-left:8px;letter-spacing:-0.1em}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li:first-child a{margin:0}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li:last-child a{padding:0}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li.none_member a{font-weight:bold;color:#333}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li i{float:left}
.easy_login_wrap .easy_login_box .sub-tab .login_btn_list li i:after{content:"";border-left:solid 1px #eee;position:absolute;top:2px;left:0px;width:0px;height:11px;display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list{overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;display:table;padding-top:35px}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list li{width:50%;display:table-cell;overflow:hidden;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list li a{background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/icon_login.png) no-repeat;background-size:35px 180px;font-size:13px;color:#888;font-weight:bold;padding:9px 0 0 38px;margin-left:6px;display:inline-block;height:24px;letter-spacing:-0.07em}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list li:last-child{text-align:right}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list li:first-child a{margin-left:30px;color:#4787e8;position:relative}
.easy_login_wrap .easy_login_box .sub-tab .login_affiliates_list li:last-child a{background-position:0 -75px;color:#1ec800;margin:0 30px 0 0}

/* 비회원 주문조회 */
.view_order_wrap{background:#e9e9e9;padding:5px;margin-bottom:-25px;display:none}
.view_order_wrap fieldset{border:none}
.view_order_wrap fieldset legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}
.view_order_wrap .view_order_box{padding:25px 16px 20px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.view_order_wrap .view_order_box .view_order_title{padding-bottom:25px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;line-height:17px}
.view_order_wrap .view_order_box .view_order_input{box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;margin-bottom:5px}
.view_order_wrap .view_order_box .view_order_input li{padding-bottom:9px;box-sizing:border-box;-webkit-box-sizing:border-box}
.view_order_wrap .view_order_box .view_order_input input[type="text"]{width:100%;font-size:12px}
.view_order_wrap .view_order_box .view_order_input input{vertical-align:top;border-radius:2px;height:37px;border-color:#ccc;padding-left:10px;color:#333;-webkit-appearance:none;background-image:none} /* 인풋 이미지 삭제_김낙운_20150624 */
.view_order_wrap .view_order_box .view_order_btn{padding:0 0 15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.view_order_wrap .view_order_box .view_order_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.view_order_wrap .view_order_box .view_order_btn a span{font-size:16px;height:46px;padding:14px 0}
.view_order_wrap .view_order_box .join_txt{font-size:11px;color:#888;letter-spacing:-0.07em;line-height:15px}
.view_order_wrap .view_order_box .join_btn{position:absolute;bottom:20px;right:16px;box-sizing:border-box;-webkit-box-sizing:border-box}
.view_order_wrap .view_order_box .join_btn a{width:100%;background:#f3f3f3;border:1px solid #ccc;border-radius:2px;display:block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.view_order_wrap .view_order_box .join_btn a span{font-size:13px;height:30px;width:66px;padding:7px 0;display:block;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 계정 찾기 */
.easy_login_wrap .id_find_box{padding:26px 13px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.easy_login_wrap .id_find_box .id_find_title{padding-bottom:26px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;border-bottom:2px solid #eee;margin-bottom:16px;line-height:17px}
.easy_login_wrap .id_find_box dl{width:100%;display:table;margin-bottom:9px}
.easy_login_wrap .id_find_box dl dt{width:64px;display:table-cell;vertical-align:middle}
.easy_login_wrap .id_find_box dl dt label{padding:0 0 0 6px;color:#888}
.easy_login_wrap .id_find_box dl dd{display:table-cell}
.easy_login_wrap .id_find_box dl dd input[type="text"]{width:100%;font-size:12px}
.easy_login_wrap .id_find_box dl dd input{vertical-align:top;border-radius:2px;height:37px;border-color:#ccc;padding-left:10px;color:#333;-webkit-appearance:none;font-size:12px}
.easy_login_wrap .id_find_box dl dd .phone_input_box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;box-pack:justify;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-justify-content:space-between;width:100%;position:relative}
.easy_login_wrap .id_find_box dl dd .phone_input_box .select_box{display:inline-block;width:32%;position:relative}
.easy_login_wrap .id_find_box dl dd .phone_input_box .select_box select{border:1px solid #ccc;border-radius:2px;padding-left:10px;background:#fff;-webkit-appearance:none;width:100%;height:37px}
.easy_login_wrap .id_find_box dl dd .phone_input_box .select_box:after{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/input_new.png) no-repeat 0 -70px;background-size:105px 330px;position:absolute;top:8px;right:6px;width:18px;height:20px;pointer-events:none}
.easy_login_wrap .id_find_box dl dd .phone_input_box input{display:inline-block;width:31%}
.easy_login_wrap .id_find_box .certificate_number_input{margin-bottom:10px}
.easy_login_wrap .id_find_box .certificate_number_input dt{width:93px}
.easy_login_wrap .id_find_box .certificate_number_input dt a{width:87px;background:#f3f3f3;border:1px solid #ccc;border-radius:2px;display:block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;float:right}
.easy_login_wrap .id_find_box .certificate_number_input dt a span{font-size:12px;height:35px;padding:10px 0;display:block;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:-0.05em;color:#666}
.easy_login_wrap .id_find_box .certificate_number_input dd input{width:100%}
.easy_login_wrap .id_find_box .view_order_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .id_find_box .view_order_btn a span{font-size:16px;height:47px;padding:14px 0}
.easy_login_wrap .id_find_box .lpoint_member_info_box{padding-top:24px;border-top:2px solid #eee;margin-top:15px}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_info_txt{font-size:11px;color:#acacac;letter-spacing:-0.07em;text-align:center;font-weight:normal;line-height:16px}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list{overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;text-align:center;margin-top:14px}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li{display:inline-block;overflow:hidden;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li a{font-size:13px;color:#888;float:left;padding-right:6px;margin-left:10px;letter-spacing:-0.1em}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li:first-child a{margin:0}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li:last-child a{padding:0}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li i{float:left}
.easy_login_wrap .id_find_box .lpoint_member_info_box .lpoint_member_btn_list li i:after{content:"";border-left:solid 1px #eee;position:absolute;top:2px;left:0px;width:0px;height:11px;display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 계정 찾기 성공 */
.easy_login_wrap .find_success_box{padding:26px 13px 20px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.easy_login_wrap .find_success_box .find_success_title{padding-bottom:26px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;line-height:17px}
.easy_login_wrap .find_success_box .find_info_box{background-color:#f3f3f3;padding:26px 0;text-align:center;margin-bottom:20px}
.easy_login_wrap .find_success_box .find_info_box .find_info_txt{color:#888;letter-spacing:-0.05em;margin-bottom:14px;line-height:16px}
.easy_login_wrap .find_success_box .find_info_box .id_address{color:#285ace;letter-spacing:0.01em;font-family:Myriad Pro;margin-bottom:5px}
.easy_login_wrap .find_success_box .find_info_box .id_address:last-child{margin:0}
.easy_login_wrap .find_success_box .find_info_box .id_validity{color:#888;;font-size:9px;letter-spacing:0.01em;font-family:Myriad Pro;margin-bottom:5px}
.easy_login_wrap .find_success_box .find_info_box dl.id_address {margin-bottom:14px}
.easy_login_wrap .find_success_box .find_info_box dl.id_validity {margin:0}
.easy_login_wrap .find_success_box .find_info_box dl dt, .easy_login_wrap .find_success_box .find_info_box dl dd {display:inline}
.easy_login_wrap .find_success_box .login_go_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .find_success_box .login_go_btn a span{font-size:16px;height:47px;padding:14px 0}
.easy_login_wrap .find_success_box .password_find_txt{margin-top:20px;font-size:11px;color:#888;letter-spacing:-0.07em;line-height:15px}
.easy_login_wrap .find_success_box .password_find_btn{position:absolute;bottom:19px;right:13px}
.easy_login_wrap .find_success_box .password_find_btn a{width:91px;background:#f3f3f3;border:1px solid #ccc;border-radius:2px;display:block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;float:right}
.easy_login_wrap .find_success_box .password_find_btn a span{font-size:13px;height:30px;padding:7px 0;display:block;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:-0.05em;color:#666}

/* 계정 찾기 실패 */
.easy_login_wrap .id_find_box .find_fail_txt{font-size:12px;color:#888;letter-spacing:-0.07em;text-align:center;font-weight:normal;margin-bottom:10px;line-height:16px}

/* 롯데닷컴 회원 비밀번호 찾기 */
.easy_login_wrap .password_find_box{padding:26px 13px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.easy_login_wrap .password_find_box .password_find_title{padding-bottom:26px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;border-bottom:2px solid #eee;margin-bottom:16px;line-height:17px}
.easy_login_wrap .password_find_box .order_id_input{box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden}
.easy_login_wrap .password_find_box .order_id_input li{padding-bottom:9px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .password_find_box .order_id_input li:last-child{padding-bottom:10px}
.easy_login_wrap .password_find_box .order_id_input input[type="text"]{width:100%;font-size:12px}
.easy_login_wrap .password_find_box .order_id_input input{vertical-align:top;border-radius:2px;height:37px;border-color:#ccc;padding-left:10px;color:#333;-webkit-appearance:none}
.easy_login_wrap .password_find_box .order_id_input .phone_input_box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;box-pack:justify;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-justify-content:space-between;width:100%;position:relative}
.easy_login_wrap .password_find_box .order_id_input .phone_input_box .select_box{display:inline-block;width:32%;position:relative}
.easy_login_wrap .password_find_box .order_id_input .phone_input_box .select_box select{border:1px solid #ccc;border-radius:2px;padding-left:10px;background:#fff;-webkit-appearance:none;width:100%;height:37px}
.easy_login_wrap .password_find_box .order_id_input .phone_input_box .select_box:after{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/input_new.png) no-repeat 0 -70px;background-size:105px 330px;position:absolute;top:8px;right:6px;width:18px;height:20px;pointer-events:none}
.easy_login_wrap .password_find_box .order_id_input .phone_input_box input{display:inline-block;width:31%}
.easy_login_wrap .password_find_box .order_contact_input{margin-bottom:10px}
.easy_login_wrap .password_find_box .view_order_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .password_find_box .view_order_btn a span{font-size:16px;height:47px;padding:14px 0}
.easy_login_wrap .password_find_box .lpoint_member_info_box{padding-top:24px;border-top:2px solid #eee;margin-top:15px}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_info_txt{font-size:11px;color:#acacac;letter-spacing:-0.07em;text-align:center;font-weight:normal;line-height:15px}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list{overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;text-align:center;margin-top:14px}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li{display:inline-block;overflow:hidden;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li a{font-size:13px;color:#888;float:left;padding-right:6px;margin-left:10px;letter-spacing:-0.075em}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li:first-child a{margin:0}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li:last-child a{padding:0}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li i{float:left}
.easy_login_wrap .password_find_box .lpoint_member_info_box .lpoint_member_btn_list li i:after{content:"";border-left:solid 1px #eee;position:absolute;top:2px;left:0px;width:0px;height:11px;display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box}

/* 롯데닷컴 회원 비밀번호 변경 */
.easy_login_wrap .password_change_box{padding:26px 13px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.easy_login_wrap .password_change_box .password_change_title{padding-bottom:26px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;border-bottom:2px solid #eee;margin-bottom:16px;line-height:17px}
.easy_login_wrap .password_change_box .order_id_input{box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden}
.easy_login_wrap .password_change_box .order_id_input li{padding-bottom:9px;box-sizing:border-box;-webkit-box-sizing:border-box}
.easy_login_wrap .password_change_box .order_id_input li:last-child{padding-bottom:10px}
.easy_login_wrap .password_change_box .order_id_input input[type="password"]{width:100%;font-size:12px}
.easy_login_wrap .password_change_box .order_id_input input{vertical-align:top;border-radius:2px;height:37px;border-color:#ccc;padding-left:10px;color:#333;-webkit-appearance:none}
.easy_login_wrap .password_change_box .password_change_info {padding:14px;background:#f3f3f3;margin-bottom:14px}
.easy_login_wrap .password_change_box .password_change_info h4 {color:#333;font-size:10px;font-weight:normal;letter-spacing:-0.07em}
.easy_login_wrap .password_change_box .password_change_info ul {padding-top:3px;color:#888;font-size:10px;letter-spacing:-0.07em;}
.easy_login_wrap .password_change_box .password_change_info ul li {padding:6px 0 6px 6px;line-height:13px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/bul_password_change_info.png ) no-repeat 0 11px;background-size:2px 2px}
.easy_login_wrap .password_change_box .password_change_info ul li:last-child {padding-bottom:0}
.easy_login_wrap .password_change_box .view_order_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .password_change_box .view_order_btn a span{font-size:16px;height:47px;padding:14px 0}

/* 로그인 실패 */
.easy_login_wrap .login_fail_box{padding:26px 13px 20px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#d3d3d3;position:relative}
.easy_login_wrap .login_fail_box .login_fail_title{padding-bottom:26px;font-size:14px;color:#333;letter-spacing:-0.07em;text-align:center;font-weight:normal;line-height:17px}
.easy_login_wrap .login_fail_box .login_fail_info_box{background-color:#f3f3f3;padding:26px 0;text-align:center;margin-bottom:20px}
.easy_login_wrap .login_fail_box .login_fail_info_box .login_fail_txt01{color:#666;letter-spacing:-0.05em;margin-bottom:14px;line-height:14px}
.easy_login_wrap .login_fail_box .login_fail_info_box .login_fail_txt02{font-size:10px;color:#999;letter-spacing:-0.05em;line-height:13px}
.easy_login_wrap .login_fail_box .login_go_btn a{width:100%;background:none #285ace;border:none;border-radius:2px}
.easy_login_wrap .login_fail_box .login_go_btn a span{font-size:16px;height:47px;padding:14px 0}
/* //로그인 간편 회원가입 개편_김낙운_20150603 */

/* footer - 회사소개 */
.footer_info .tl{text-align:center;padding-top:26px;height:100px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .tl .logo{display:block;background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/logo.gif) no-repeat center 0;background-size:195px 21px;height:21px;text-indent:-9999em}
.footer_info .tl .txt{display:block;color:#666;line-height:130%;font-weight:bold;padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .tl .txt em{color:#0a5ad5}
.footer_info .info{padding:0 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .info table{border-top:solid 2px #7d7d7d;border-bottom:solid 2px #7d7d7d;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .info th{ font-weight:normal;line-height:130% ;vertical-align:top;text-align:left;padding:10px 0 0 10px;color:#666;width:85px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .info td{border-top:solid 1px #d3d3d3;line-height:130%;vertical-align:top;padding:9px 0;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .info td:nth-child(1){border-top:none}
.footer_info .txt{padding:13px 8px 15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .txt dd{line-height:130%;font-size:11px;color:#555;position:relative;padding:5px 0 0 10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .txt dd:before{content:"";border-left:solid 3px #9fa5b5;position:absolute;display:inline-block;top:11px;left:2px;width:3px;height:3px}
.footer_info .btn{padding:0 4px;overflow:hidden}
.footer_info .btn div{width:50%;padding:0 4px;float:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_info .btn div a{width:100%}

/* footer - 이용약관 */
.footer_terms{padding:20px 8px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms p{font-size:11px}
.footer_terms .title_01{color:#000;font-weight:bold}
.footer_terms .title_02{color:#000;font-weight:bold;padding-top:30px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .title_03{color:#000;font-weight:bold;padding:30px 0 0 17px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .title_03:before{content:"";display:inline-block;position:absolute;top:35px;left:9px;width:3px;height:3px;border-left:solid 3px #9fa5b5;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02{padding-top:5px;line-height:150%;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_03{padding-top:40px;line-height:150%;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_04{padding:5px 0 15px;line-height:150%;color:#666;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span{display:block;margin-bottom:10px;line-height:150%;font-size:11px}
.footer_terms .text_02 span.tab_01{padding-left:5px;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span.tab_02{padding-left:23px;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span.tab_03{padding-left:33px;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span.tab_04{padding-left:22px;margin:0;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span.tab_04:before{content:"";display:inline-block;position:absolute;top:6px;left:14px;width:3px;height:3px;border-left:solid 3px #9fa5b5;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .text_02 span.tab_05{padding-left:14px;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .tb_01{font-size:11px}
.footer_terms .tb_01 th{border:solid 1px #ced0d4;background:#e2e4e8;color:#000;height:35px;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .tb_01 td{border:solid 1px #ced0d4;padding:6px 10px;line-height:150%;box-sizing:border-box;-webkit-box-sizing:border-box}
.footer_terms .tb_01 td.ac{text-align:center}

/* 20150108 추가 */
/* 롯데닷컴 상거래 이용약관 */
.footer_agreement{padding:25px 10px 0 10px}
.footer_agreement h3{color:#000;padding:0 0 10px;font-size:12px}
.footer_agreement .agreement_big_list{}
.footer_agreement .agreement_big_list p{}
.footer_agreement .agreement_big_list li{color:#6a6a6a;font-size:12px;padding:0}
.footer_agreement .agreement_big_list li li{border-bottom:none;padding:0 0 13px 0;line-height:15px}
.footer_agreement .agreement_big_list strong{display:block;padding-top:13px}
.footer_agreement .agreement_big_list .ftn{font-weight:normal}
.footer_agreement .agreement_big_list span{display:block}
.footer_agreement .agreement_big_list a{text-decoration:underline;color:#6a6a6a;font-weight:bold}
.footer_agreement .agreement_big_list .pdb{padding-bottom:0}
.footer_agreement .agreement_big_list .pdb13{padding-bottom:13px !important}
.footer_agreement .agreement_big_list .pdt{padding-top:0}

.footer_agreement .agreement_big_list table{width:100%;margin-bottom:13px}
.footer_agreement .agreement_big_list table th{background:#eee;color:#666;padding:9px 0;border:1px #bbb solid;text-align:center}
.footer_agreement .agreement_big_list table td{color:#666;padding:9px 9px 9px 8px;border:1px #bbb solid;line-height:16px}
.footer_agreement .agreement_big_list table a{color:#666;font-weight:normal}

.footer_agreement .agreement_big_list .agreement_small_list{padding-top:3px}
.footer_agreement .agreement_big_list .agreement_small_list li{padding:0 0 0 8px}
.footer_agreement .agreement_big_list .agreement_style li{padding-bottom:0}

#PopupLogoArea{width:100%;border-bottom:2px solid #555555}
#PopupLogoArea:after{content:'';display:block;clear:both;height:0}
#PopupLogoArea .logo{display:block;float:left;margin:15px 0 12px 15px}

#PopupTitleArea{padding:15px 0 5px 15px} 
#PopupTitleArea .title{display:block}

/* 동의서내용 */
.agreeDoc{margin:0 15px;text-align:left}
.agreeDoc p{margin:0 0 10px;color:#777;font-size:12px;line-height:18px}
.agreeDoc h1{color:#000;margin:15px 0 10px;font-size:12px}
.agreeDoc h2{color:#666;margin:5px 0px;font-size:12px}
.agreeDoc div{margin-bottom:20px}
.agreeDoc ul li{padding-left:15px;margin:0 0 5px;list-style-type:none}
.agreeDoc li p{text-indent:0;padding-left:0;margin:5px 0px 0px 0px}
.agreeDoc li ul{margin:5px 0}
.agreeDoc li li{margin-bottom:0px}
.agreeDoc ol{padding-left:0}
.agreeDoc ol li{padding-left:15px;margin:0 0 5px;list-style-type:none;color:#777;font-size:12px}
.agreeDoc ol li ol{margin:0 0 10px 0}
.agreeDoc ul li ul{margin:0 0 10px 0}
.agreeDoc table{width:100%;border-collapse:collapse}
.agreeDoc table th{border:1px solid #ccc;padding:3px;background:#eee;text-align:center}
.agreeDoc table td{border:1px solid #ccc;padding:3px}
.agreeDate{text-align:right;margin:10px 15px}
.buttonArea{text-align:center;margin:15px 0}

/* 개인정보 취급방침 */
.footer_privacy{padding:0 10px}
.footer_privacy h3{color:#000;padding:0 0 10px;font-size:12px}

.footer_privacy .privacy_top_box{font-size:12px;background:#f2f2f2;padding:18px 10px 0 10px;margin-top:25px}
.footer_privacy .privacy_top_box p{color:#393939;padding:0 0 15px 0}
.footer_privacy .privacy_top_box strong{background:url(http://image.lotte.com/lotte/images/service/txt_blt.gif) no-repeat left 6px;padding:0 0 15px 5px}

.footer_privacy .privacy_tit_term{background:none;padding:13px 0 0 0 !important;font-size:12px;color:#393939}
.footer_privacy .privacy_term{font-size:12px;color:#393939;padding:15px 0 0 0}
.footer_privacy .privacy_term dt{background:url(http://image.lotte.com/lotte/images/service/txt_blt.gif) no-repeat left 6px;padding:0 0 5px 9px;font-weight:bold}
.footer_privacy .privacy_term dd{padding:0 0 13px 0}

.footer_privacy .privacy_big_list li{color:#6a6a6a;font-size:12px;padding:13px 0 0 0;line-height:16px}
.footer_privacy .privacy_big_list .interval li{padding-bottom:0}
.footer_privacy .privacy_big_list .pdb13{padding-bottom:13px}
.footer_privacy .privacy_big_list .disinl{display:inline !important}
.footer_privacy .privacy_big_list .pdr{padding-right:0}
.footer_privacy .privacy_big_list li li{border-bottom:none;padding:0;line-height:15px}
.footer_privacy .privacy_big_list strong{display:block;font-weight:bold;padding-top:13px}
.footer_privacy .privacy_big_list .fwn{font-weight:normal}
.footer_privacy .privacy_big_list span{display:block}
.footer_privacy .privacy_big_list a{text-decoration:underline;color:#393939}
.footer_privacy .privacy_big_list .pdb{padding-bottom:0}
.footer_privacy .privacy_big_list .pdt{padding-top:0}

.footer_privacy .privacy_big_list table{margin-bottom:13px}
.footer_privacy .privacy_big_list table th{background:#eee;color:#666;padding:9px 0;border:1px #bbb solid}
.footer_privacy .privacy_big_list table td{color:#666;padding:9px 0 9px 8px;border:1px #bbb solid;line-height:16px}
.footer_privacy .privacy_big_list table a{color:#666}

.footer_privacy .privacy_big_list .privacy_small_list{padding-top:3px}
.footer_privacy .privacy_big_list .privacy_small_list li{padding:0 0 0 30px}

.footer_privacy .privacy_big_list .privacy_style{}
.footer_privacy .privacy_big_list .privacy_style li{text-indent:-10px;padding:0 0 0 10px}
.footer_privacy .privacy_big_list .privacy_style .pdb13{padding-bottom:13px}
.footer_privacy .privacy_big_list .privacy_style p{padding:15px 0 0 10px}
.footer_privacy .privacy_big_list .privacy_style strong{padding:15px 0 0 10px}
/* //20150108 추가 */
/*20150515 추가*/
.easy_login_wrap .id_find_box dt.verification_code{width:93px}
.easy_login_wrap .id_find_box dt.verification_code a{width:87px;background:#f3f3f3;border:1px solid #ccc;border-radius:2px;display:block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;float:right}
.easy_login_wrap .id_find_box dt.verification_code a span{font-size:12px;height:35px;padding:10px 0;display:block;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:-0.05em;color:#666}

/* 20150804 추가 */
/* 휴면 계정 복원 */
.dormancy_wrap{margin-bottom:0}
.dormancy_wrap .loding{background:url('http://image.lotte.com/lotte/mo2015/angular/loading.png') no-repeat left top;background-size:cover;margin:18px auto 17px;width:51px;height:51px;-webkit-animation:rotation 2s infinite linear;-moz-animation:rotation 2s infinite linear;-o-animation:rotation 2s infinite linear;animation:rotation 2s infinite linear;}
.dormancy_wrap .title{font-size:20px;color:#333;line-height:24px;letter-spacing:-0.07em;margin-bottom:15px;text-align:center;font-weight:normal}
.dormancy_wrap .title em{color:#285ace}
.dormancy_wrap .txt_box{background-color:#f3f3f3;padding:25px 0 23px 0;margin-bottom:20px;text-align:center}
.dormancy_wrap .txt_box p{color:#888;letter-spacing:-0.07em}
.dormancy_wrap .txt_box .txt01{font-size:14px;line-height:16px;margin-bottom:15px}
.dormancy_wrap .txt_box .txt02{font-size:12px;line-height:15px}
.dormancy_wrap dl{margin:0 18px 18px 10px;text-align:left}
.dormancy_wrap dl dt{background:url(http://image.lotte.com/lotte/mobile/mobile_new/footer/icon_questions_dt.png) no-repeat left 2px;background-size:11px auto;font-size:12px;color:#333;padding:0 0 6px 15px;}
.dormancy_wrap dl dd{font-size:11px;line-height:14px;color:#888;padding:0 0 0 15px}
@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg) ; }
    to { -webkit-transform: rotate(359deg) ; }
}
@-moz-keyframes rotation {
    from { -webkit-transform: rotate(0deg) ; }
    to { -webkit-transform: rotate(359deg) ; }
}
@-o-keyframes rotation {
    from { -webkit-transform: rotate(0deg) ; }
    to { -webkit-transform: rotate(359deg) ; }
}
@keyframes rotation {
    from { -webkit-transform: rotate(0deg) ; }
    to { -webkit-transform: rotate(359deg) ; }
}

/* 휴면 계정 복원 실패 */
.dormancy_fail_wrap{margin:0 10px 0}
.dormancy_fail_wrap .title{font-size:20px;color:#333;line-height:24px;letter-spacing:-0.07em;margin-bottom:15px;text-align:center;font-weight:normal;padding:27px 0 15px}
.dormancy_fail_wrap .title em{color:#285ace}
.dormancy_fail_wrap .txt{font-size:14px;line-height:16px;margin-bottom:26px;color:#888;letter-spacing:-0.07em;text-align:center}
.dormancy_fail_wrap .btn{background-color:#719cff;border-radius:2px;font-size:21px;color:#fff;font-weight:bold;width:100%;display:block;box-sizing:border-box;-webkit-box-sizing:border-box;height:55px;line-height:55px;text-align:center}
/* //20150804 추가 */