@charset "utf-8";

#main_mylotte .my_quick {position:relative;}
#main_mylotte .my_quick a {color:#c9cfd8;}
#main_mylotte .my_quick h3 {padding-left:10px;font-size:14px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .quick_bg {width:7px;height:100%;position:absolute;top:0;left:0;z-index:1;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/quick_bg.png) repeat-y 0 0;background-size:7px 2px;-webkit-background-size:7px 2px;}
#main_mylotte .my_quick .info {position:relative;height:44px;line-height:44px;border-bottom:1px solid #1c2028;box-sizing:border-box;-webkit-box-sizing:border-box}
/*20140919 마이롯데 로그인 위치 수정 및 닫기버튼 추가*/
#main_mylotte .my_quick .info a.close {display:none;width:30px;position:absolute;text-indent:-9999em;color:transparent;}
#main_mylotte .my_quick .info a.close:before {content: '';display:block;position:absolute;top:13px;left:10px;width:11px;height:18px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat 0 0;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .info .name {padding-right: 10px;font-size:16px;color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;text-align: right;display: block;}
#main_mylotte .my_quick .info .name strong {font-weight:bold;}
#main_mylotte .my_quick .info a.login {position:absolute;display:block;top:8px;left: 8px;height:28px;line-height:28px;padding:0 11px 0 25px;border:1px solid #454b56;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#262a32;}
/*닫기버튼추가*/#cover_blank img.mylotte{float:right;transform:rotate(180deg);-webkit-transform:rotate(180deg)}

#main_mylotte .my_quick .info a.login:before {content: '';display:block;position:absolute;top:7px;left:7px;width:12px;height:12px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -15px 0;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .btn_menu {border-bottom:1px solid #3c4047;box-sizing:border-box;-webkit-box-sizing:border-box;}
#main_mylotte .my_quick .btn_menu li {position:relative;width:33.33%;height:85px;float:left;background-color:#454b56;border-right:1px solid #262a32;border-left:1px solid #555b65;margin-bottom:1px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .btn_menu li:nth-child(3n+3) {border-right:none;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .btn_menu li:nth-child(5) {text-align:left;border-left:none;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -135px 0;background-size:230px 165px;-webkit-background-size:230px 165px;box-sizing:border-box;-webkit-box-sizing:border-box}/* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .btn_menu li a {display:block;overflow:hidden;z-index:1;padding:53px 0 17px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .btn_menu li a:before {display:block;position:absolute;content: '';top:18px;left:50%;margin-left:-20px;width:41px;height:34px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat 0 -60px;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .btn_menu li:nth-child(5) a {padding:53px 0 17px 14px;box-sizing:border-box;-webkit-box-sizing:border-box}/* 20150225 padding값 변경 */
#main_mylotte .my_quick .btn_menu li:nth-child(1) a:before {background-position:0 -60px;}
#main_mylotte .my_quick .btn_menu li:nth-child(2) a:before {background-position:-45px -60px;}
#main_mylotte .my_quick .btn_menu li:nth-child(3) a:before {background-position:-90px -60px;}
#main_mylotte .my_quick .btn_menu li:nth-child(4) a:before {background-position:0 -95px;}
#main_mylotte .my_quick .btn_menu li:nth-child(5) a:before {background:none;}
#main_mylotte .my_quick .btn_menu li:nth-child(6) a:before {background-position:-45px -95px;}
#main_mylotte .my_quick .btn_menu li:nth-child(7) a:before {background-position:0 -130px;}
/*20140618 퀵메뉴 수정*/
#main_mylotte .my_quick .btn_menu li:nth-child(8) a:before {background-position:-144px -130px;}

#main_mylotte .my_quick .btn_menu li:nth-child(9) a:before {background-position:-90px -130px;}
/* 20140611 시작 */
#main_mylotte .my_quick .btn_menu{overflow:hidden}
#main_mylotte .my_quick .btn_menu li.on{background:#1d3672}
#main_mylotte .my_quick .btn_menu li.on .sub_menu{z-index:1}
#main_mylotte .my_quick .btn_menu li .sub_menu{position:absolute;right:0;top:86px;width:275px;;height:42px;background:#1d3672;z-index:-1;display:none;transition-property:transform;-webkit-transition-property:transform;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0)}
#main_mylotte .my_quick .btn_menu li .sub_menu a{float:left;padding:0;width:33.33%;height:42px;line-height:42px;position:relative;text-align:center}
#main_mylotte .my_quick .btn_menu li .sub_menu a:nth-child(1){width:33%;margin-left:1%}
#main_mylotte .my_quick .btn_menu li .sub_menu a:nth-child(2){width:33.5%}
#main_mylotte .my_quick .btn_menu li .sub_menu a:nth-child(3){width:32.5%}
#main_mylotte .my_quick .btn_menu li .sub_menu a:before{display:none}
#main_mylotte .my_quick .btn_menu li .sub_menu a:after{content: '';display:block;position:absolute;top:16px;right:9px;width:6px;height:10px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -30px -31px;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .btn_menu li .sub_menu a:first-child span:before{display:none}
#main_mylotte .my_quick .btn_menu li .sub_menu a:last-child span:after{display:none}
#main_mylotte .my_quick .btn_menu li .sub_menu a span:after{content:'';display:block;height:19px;width:1px;background:#10204a;position:absolute;right:0px;top:12px}
#main_mylotte .my_quick .btn_menu li .sub_menu a span:before{content:'';display:block;height:19px;width:1px;background:#354b80;position:absolute;left:0px;top:12px}
#main_mylotte .my_quick .btn_menu li a.open{padding: 53px 0 2px;}
#main_mylotte .my_quick .btn_menu li.on:nth-child(6) a:before {background-position:-90px -95px}
/* // 20140611 끝 */
#main_mylotte .my_quick .btn_menu span {color:#3fa6fd;}
#main_mylotte .my_quick .my_home {clear:both;position:relative;height:43px;line-height:43px;border-bottom:1px solid #1c2028;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home h3 {display:inline-block;}
#main_mylotte .my_quick .my_home .home {position:relative;display:inline-block;cursor:pointer;width:18px;height:43px;line-height:43px;text-indent:-9999em;color:transparent;}
#main_mylotte .my_quick .my_home .home:before {content: '';position:absolute;top:11px;left:0;width:18px;height:19px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat 0 -20px;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .my_home .home_layer {z-index:1;display:none;position:absolute;top:7px;left:50%;margin-left:-105px;width:210px;height:81px;background-color:#fff;border-bottom:2px solid #000;text-align:center;color:#000;line-height:16px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .home_layer strong {color:#0a5ad5;}
#main_mylotte .my_quick .my_home .home_layer p {width:100%;height:100%;position:relative;border:3px solid #0a5ad5;display:-webkit-box;display:-moz-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .home_layer .close {display:block;position:absolute;top:7px;right:7px;width:11px;height:11px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -70px 0;background-size:230px 165px;-webkit-background-size:230px 165px;text-indent:-9999em;color:transparent;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .my_home .s_box01 {position:absolute;top:8px;right:10px;width:120px;height:26px;line-height:normal;font-size:12px;}
#main_mylotte .my_quick .my_home .s_box01 .tl {background-image:none;border:1px solid #454b56;font-size:12px;height:28px;padding:4px 8px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .s_box01 ul {min-width:120px;overflow:hidden;position:absolute;background-color:#454b56;z-index:100;color:#fff;border: solid 1px #0a5ad5;border-top:none;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .s_box01 ul a {color:#fff;}
#main_mylotte .my_quick .my_home .s_box01 ul li {position:relative;border:none;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .s_box01 ul li:hover {background-color: #0a5ad5;opacity:1;}
#main_mylotte .my_quick .my_home .s_box01 a:after {content: '';position:absolute;left:7px;top:6px;width:19px;height:19px;color:transparent;opacity:.7;}
#main_mylotte .my_quick .my_home .s_box01 .tl {position:relative;}
#main_mylotte .my_quick .my_home .s_box01 .tl a {position: static;line-height:17px;}
#main_mylotte .my_quick .my_home .s_box01 .tl a:after {top:4px;right:6px;}
#main_mylotte .my_quick .my_home .s_box01 .tl a:before {top:11px;right:6px;}
#main_mylotte .my_quick .my_home .s_box01 .type01,
#main_mylotte .my_quick .my_home .s_box01 .type02,
#main_mylotte .my_quick .my_home .s_box01 .type03 {padding-left:30px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .s_box01 .type01 a:after {background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_home.png) no-repeat 0 0;background-size:19px 87px;-webkit-background-size:19px 87px;}
#main_mylotte .my_quick .my_home .s_box01 .type02 a:after {background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_home.png) no-repeat 0 -35px;background-size:19px 87px;-webkit-background-size:19px 87px;}
#main_mylotte .my_quick .my_home .s_box01 .type03 a:after {background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_home.png) no-repeat 0 -70px;background-size:19px 87px;-webkit-background-size:19px 87px;}
#main_mylotte .my_quick .my_home .s_box01.on ul {/*display:block;*/}
#main_mylotte .my_quick .my_home .s_box01.on .tl {border:1px solid #0a5ad5;background-color:#454b56;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .my_home .s_box01.on .tl a {height:28px;color:#fff;}
#main_mylotte .my_quick .my_home .s_box01.on .tl a:after {opacity:1;top:4px;}
#main_mylotte .my_quick .my_home .s_box01.on .tl a:before {background-position: 0 0;}
#main_mylotte .my_quick .lately_order {position:relative;clear:both;height:148px;border-top:1px solid #3c4047;border-bottom:1px solid #1c2028;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_order h3 {height:42px;line-height:42px;}
#main_mylotte .my_quick .photo {position:relative;left:0;height:65px;}
#main_mylotte .my_quick .photo li {position:relative;/*display:none;*/ float:left;}
#main_mylotte .my_quick .quick-page {text-align:center;margin-top:10px;}
#main_mylotte .my_quick .quick-page span {display:inline-block;width:6px;height:6px;border:1px solid #555961;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;text-indent:-9999em;color:transparent;box-sizing:border-box;-webkit-box-sizing:border-box;margin:0 2px;}
#main_mylotte .my_quick .quick-page span.swiper-active-switch {border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;background:#c3c7ce;border:1px solid #c3c7ce;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .order_goods {position:relative;margin:0 10px;color:#989ea7;line-height:normal;}
#main_mylotte .my_quick .order_goods span.thumb {float:left;}
#main_mylotte .my_quick .order_goods span.thumb img {width:63px;height:63px;}
#main_mylotte .my_quick .order_goods span.cont01 {display:block;margin-left:73px;line-height:1.2;}
#main_mylotte .my_quick .order_goods .tl {display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;word-wrap:break-word;-webkit-box-orient:vertical;}
#main_mylotte .my_quick .order_goods .money {padding:5px 0 3px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .order_goods .money .price strong {font-size:13px;}
#main_mylotte .my_quick .order_goods .condition {color:#3fa6fd;}
#main_mylotte .my_quick .order_goods .btn_r {position:absolute;right:0;bottom:0;}
#main_mylotte .my_quick .a_btn.col03 {color:#fff;border:solid 1px #0f1114;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .a_btn.col03 span {padding:0px 7px;border:solid 1px #474c55;background:#393e47;box-shadow:0px -13px 13px -5px #30343c inset;-webkit-box-shadow:0px -13px 13px -5px #30343c inset;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods {clear:both;overflow:hidden;position:relative;/*height:117px;*/padding-bottom:10px;border-top:1px solid #3c4047;border-bottom:1px solid #1c2028;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods h3 {height:42px;line-height:42px;}
#main_mylotte .my_quick .lately_goods .all_view {position:absolute;width:56px;display:block;top:18px;right:10px;color:#989ea7;text-shadow:0 0 1px black;}
#main_mylotte .my_quick .lately_goods .all_view:before {content: '';position:absolute;display:block;top:4px;right:0;width:8px;height:10px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -20px -20px;background-size:230px 165px;-webkit-background-size:230px 165px;text-indent:-9999em;color:transparent;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .lately_goods ul {margin-left:8px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods ul div {float:left;padding-right:2px;display:inline-block}
/*
#main_mylotte .my_quick .lately_goods ul {margin-left:8px;width:262px;font-size:0;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods ul div {display:inline-block;padding-right:2px}
*/
#main_mylotte .my_quick .lately_goods li {float:left;width:64px;height:63px;padding-right:1px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/bg_no_img.gif) no-repeat 0 0;background-size:63px 63px;-webkit-background-size:63px 63px;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods li:last-child {width:63px;padding-right:0;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .lately_goods img {width:63px;height:63px;}
#main_mylotte .my_quick .etc_menu {clear:both;}
#main_mylotte .my_quick .etc_menu li {position:relative;height:44px;line-height:44px;padding-left:42px;font-size:14px;font-weight:bold;border-top:1px solid #3c4047;border-bottom:1px solid #1c2028;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .etc_menu li a {display:block;}
#main_mylotte .my_quick .etc_menu li a:before {content: '';display:block;position:absolute;top:16px;right:10px;width:6px;height:11px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -30px -20px;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */
#main_mylotte .my_quick .etc_menu li a:after {content: '';display:block;position:absolute;top:9px;left:14px;width:25px;height:25px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/mylotte/ico_quick_150310.png) no-repeat -40px -30px;background-size:230px 165px;-webkit-background-size:230px 165px;} /* 20150310 수정 : 이미지명 변경 */

/*20150310 수정 : 삭제 처리 */
/*
/*20140618 퀵메뉴 수정
#main_mylotte .my_quick .etc_menu li:nth-child(2) a:after {background-position:-40px 0;}

#main_mylotte .my_quick .etc_menu li:last-child {border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
/*20140613 퀵메뉴에 출석도장아이콘추가
#main_mylotte .my_quick .etc_menu li.vstamp a:after{background-position: -70px -30px}

/*20141218 모바일 앱푸시 추가 */
#main_mylotte .my_quick .etc_menu li:nth-child(3) a:after {background-position:-204px -140px}
#main_mylotte .my_quick .mycart_news {background:#1b1e24;padding:8px 14%;line-height:15px;font-size:11px;color:#c2c6d1}
#main_mylotte .my_quick .mycart_news img.icon {width:9px;vertical-align:middle;margin-right:3px}
/*20150303 마이롯데메뉴가 컨텐츠를 덮게끔 설정
#cover_blank img.mylotte{margin-right:275px}

/* 20150306 추가 
#main_mylotte .my_quick .etc_menu li:nth-child(4) a:after {background-position:-107px -32px}
*/
/*20150310 수정 : 삭제 처리 */

/*20150310 추가*/
#main_mylotte .my_quick .etc_menu li.vstamp a:after{background-position: -70px -30px}
#main_mylotte .my_quick .etc_menu li.smartpay a:after {background-position:-40px 0}
#main_mylotte .my_quick .etc_menu li.news_alarm a:after {background-position: -204px -140px}
#main_mylotte .my_quick .etc_menu li.app_gift a:after {background-position:-107px -32px}
#main_mylotte .my_quick .etc_menu li:last-child {border-bottom:none;box-sizing:border-box;-webkit-box-sizing:border-box}
#main_mylotte .my_quick .etc_menu li.news_alarm {height:auto}
#main_mylotte .my_quick .etc_menu li.news_alarm a.mycart_news_btn {margin-left:-42px}
#main_mylotte .my_quick .etc_menu li.news_alarm a.mycart_news_btn:before,
#main_mylotte .my_quick .etc_menu li.news_alarm a.mycart_news_btn:after {display:none}
#main_mylotte .my_quick .etc_menu li.news_alarm a.mycart_news_btn .mycart_news {background:#1b1e24;padding:8px 14%;line-height:15px;font-size:11px;color:#c2c6d1;font-weight:normal}
#main_mylotte .my_quick .etc_menu li.news_alarm a.mycart_news_btn .mycart_news img.icon {width:9px;vertical-align:middle;margin-right:3px}

#cover_blank img.mylotte{margin-right:275px}
