@charset 'utf-8';
.apppush_wrap .best_apppush_prd{background-color:#9ccce8;padding:0 10px 20px 10px}
.apppush_wrap .best_apppush_prd a{border:1px solid #8cb7d0;display:block}
.apppush_wrap .best_apppush_prd a .info{background-color:#fff;border-top:1px solid #ddd;overflow:hidden;padding:8px 0 17px 14px;box-sizing:border-box;position:relative}
.apppush_wrap .best_apppush_prd a .info .coupon{position:absolute;top:8px;left:14px}
.apppush_wrap .best_apppush_prd a .info .coupon:after{content:"쿠폰포함";color:#bbb;font-size:8px;padding-left:2px;letter-spacing:-0.5px}
.apppush_wrap .best_apppush_prd a .info .coupon .percent{display:block;color:#333;font-size:30px;line-height:30px;height:30px;letter-spacing:-0.4px}
.apppush_wrap .best_apppush_prd a .info .coupon .percent:after{content:"%";color:#333;font-size:12px;line-height:20px;vertical-align:top}
.apppush_wrap .best_apppush_prd a .info .none_coupon{position:absolute;top:12px;left:14px}
.apppush_wrap .best_apppush_prd a .info .none_coupon .percent{display:block;color:#333;font-size:30px;line-height:30px;height:30px;letter-spacing:-0.4px}
.apppush_wrap .best_apppush_prd a .info .none_coupon .percent:after{content:"%";color:#333;font-size:12px;line-height:20px;vertical-align:top}
.apppush_wrap .best_apppush_prd a .info .txt{padding:1px 10px 0 52px;box-sizing:border-box}
.apppush_wrap .best_apppush_prd a .info .txt .name{color:#333;font-size:12px;line-height:18px;height:18px;letter-spacing:-0.25px;margin-bottom:1px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;box-sizing:border-box}
.apppush_wrap .best_apppush_prd a .info .txt .price{color:#285ace;font-size:18px;line-height:18px;height:18px;font-weight:bold;font-family:"Myriad Pro"}
.apppush_wrap ul{background-color:#e9e9e9}
.apppush_wrap ul li .best_apppush_prd{background-color:#e9e9e9;padding:0 10px 10px 10px}
.apppush_wrap ul li .best_apppush_prd a{border:1px solid #d2d2d2}


/* 20170914 개인화 이메일(마케팅메일) */
.apppush_wrap_v2 {background-color:#98adda;}
.apppush_wrap_v2 .best_apppush_prd_nw img {width:100%;height:100%;position:absolute;top:0;left:0;padding:7%}
.apppush_wrap_v2 .best_apppush_prd_nw {background-color:#98adda;padding:0 10px 10px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap ul {background: #fff;width: 100%;overflow: hidden;}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li {width: 50%;float: left;background:#fff;position:relative}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li .item {position:relative;overflow:hidden;padding-top:100%}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li .txt01 {width:75%;margin-left:18px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li .txt01  p.item_info {margin:5px 0 15px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li .txt01  p.item_info span {color:#3d5999;font-weight: bold;font-size:20px;margin:10px 0 15px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 ul {background: #fff;width: 100%;overflow: hidden;position:relative}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li {width:50%;float:left;background:#fff;}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .item {position:relative;overflow:hidden;padding-top:100%}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 {font-size:14px;width:91%;margin-left:18px;margin:26px 0 10px;line-height:18px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 p.item_name {font-weight:bold;width:135px;overflow:hidden;height:35px;line-height:28px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 p span.price {text-align: right;color: #3d5999;font-size:20px;position: absolute;right:100%;font-weight: bold;bottom:2px}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 p.item_info {font-size:13px;right: 5%;position: absolute;text-align: right;bottom:26px;}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 span.rate {position:absolute;text-align:right;color:#3d5999;font-size:27px;bottom:30px}
.apppush_wrap_v2 .best_apppush_prd01 img {height:100%;width:100%;position:absolute;top:0;left:0;padding:7%}
.apppush_wrap_v2 .best_apppush_prd01 {background-color:#f0f0f0;padding:0 10px 10px}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap ul {background: #fff;width: 100%;overflow: hidden;}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li {width:49.6%;float: left;background:#fff;}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li.prod_botR {border-right:2px solid #f0f0f0}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li.prdBtm {border-bottom:2px solid #f0f0f0}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li .item {position:relative;overflow:hidden;padding-top:100%}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li .txt01 {width:75%;margin-left:18px}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li .txt01  p.item_info {margin:5px 0 25px}
.apppush_wrap_v2 .best_apppush_prd01 .prod_wrap li .txt01  p.item_info span {color:#3d5999;font-weight: bold;font-size:20px}
.apppush_wrap_v2 .best_apppush_prd04 .prod_wrap li {width:50%;float:left;background: #98adda;}
.apppush_wrap_v2 .best_apppush_prd04 {background:#98adda}
.apppush_wrap_v2 .best_apppush_prd04 .info .prod_wrap ul {display:inline-block;padding:0 0 1%}
.apppush_wrap_v2 .best_apppush_prd04 .prod_wrap li .item a img {padding:2px 1px 0 10px}
.apppush_wrap_v2 .best_apppush_prd04 .prod_wrap li.pd_10 a img {padding:2px 10px 0 1px}
.apppush_wrap_v2 h3.header_apush01 {background:#98adda;text-align: center;padding: 10px 0 15px;font-size: 18px;color: #fff;font-weight: normal}
.apppush_wrap_v2 h3.header_apush01 span.header_apushP {font-weight:bold}
.apppush_wrap_v2 h3.header_apush02 {background:#f0f0f0;text-align: center;padding:20px 0 15px;font-size: 18px;color:#333;font-weight: normal}
.apppush_wrap_v2 .apush_orng {color:#ef7e42;font-weight:bold}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap li img.rep_potion {position:absolute;top:5px;left:63%;width:35%;height:auto}
.txt01 p.item_name {overflow:hidden;height:30px;line-height:15px;}
.txt01 p.item_name01 {overflow:hidden;margin-top:-13px;height:55px}
li.item_smo {position:relative}
.prod_wrap01 ul li img.reptg_potion {position:absolute;top: 5px;left: 63%;width: 35%;height: auto;}
.best_apppush_prd_nw .info .prod_wrap01 ul li .item a img {width:100%;height:100%;position:absolute;top:0;left:0;padding:7%}
.apppush_wrap_v2 .prod_wrap01 {position:relative}
.apppush_wrap_v2 .prod_wrap ul li.prod_botR {position:relative}
.apppush_wrap_v2 .prod_wrap ul li.prdBtm {position:relative}
.apppush_wrap_v2 .prod_wrap01 ul li.prod_botR {position:relative}
.apppush_wrap_v2 .prod_wrap01 ul li.prdBtm {position:relative}
.apppush_wrap_v2 .prod_wrap01 ul a {position:absolute;width:100%;height:100%;top:0;left:0}
.apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap ul li a {position:absolute;width:100%;height:100%;top:0;left:0}
.apppush_wrap_v2 .prod_wrap ul li.prod_botR a {position:absolute;width:100%;height:100%;top:0;left:0}
.apppush_wrap_v2 .prod_wrap ul li.prdBtm a {position:absolute;width:100%;height:100%;top:0;left:0}

h3.title img {height:auto}
@media screen and (max-width:500px) {
    .apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 span.rate {font-size:22px;bottom:17px;}
    .apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 p.item_info {bottom:15px;font-size:11px}
    .apppush_wrap_v2 .best_apppush_prd_nw .prod_wrap01 li .txt01 p span.price {font-size:17px}
}
@media screen and (min-width:768px) {
    .prod_wrap01 ul li img.reptg_potion {top: 22px;right: 32px;width: 20%}
}
@media screen and (width:560px) {
    .prod_wrap01 ul li img.reptg_potion {top: 22px;right: 32px;width: 20%}
}

/* My 추천 링크 버튼 */
.more_recom_wrap{background-color: #f0f0f0;padding: 0 10px 10px;}
.btn_more_recom{display: block;height: 46px;background: #9c7acc;color: #fff;text-align: center;font-size: 15px;font-weight: bold;line-height: 46px;border-radius:2px}
