@charset "utf-8"; 

/*----------------20120920 TV home shopping ----------------------------*/

/*header*/
.tv_top{height:41px; min-width:320px;margin:0;background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_bg.png') repeat;font-size:16px;line-height:41px;text-align:center;color:white;font-weight:bold}
.tv_top #tv_lotte_com{position:absolute;right:7px;top:7px;width:72px; height:28px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px}
.tv_topMenu{height:43px}
.tv_topMenu .tv_menu{width:49%;height:33px;line-height:33px;float:left;color:#494949;font-weight:bold;text-align:center;letter-spacing: -0.1em;border-top:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5}
.tv_topMenu  .tv_topLine{width:1px;height:35px;float:left;background-color:#c5c5c5}
.tv_topMenu .tv_menu #tv_icon1{float:left;margin:5px 3px 0 9px ;width:23px; height:28px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:-73px 0px}
.tv_topMenu .tv_menu #tv_icon2{float:left;margin:5px 3px 0 9px ;width:24px; height:28px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:-98px 0px}

/*tv day list*/
#tv_dayList {height:31px;margin-bottom:13px;font-weight:bold;background: #EBEBEB;color: #666}
#tv_dayList #tv_toDayBox{display:block;position:relative;top:-41px; margin:0 auto 0 auto; width:115px; height:37px;background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px; background-position:0px -38px;padding:3px 0}
#tv_dayList #tv_left{display:block;position:absolute;top:7px;left:4px;width:9px;height:17px;background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_arrow_0408.png') no-repeat;background-size:25px 35px;background-position:0px 0px}
#tv_dayList #tv_right{display:block;position:absolute;top:7px;right:4px;width:9px;height:17px;background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_arrow_0408.png') no-repeat;background-size:25px 35px;background-position:-15px 0px}
#tv_dayList #tv_right.disable{background-position:-15px -18px}
#tv_dayList #tv_left.disable{background-position:0px -18px}
#tv_dayList #tv_dayList_Flick{margin:0 20px 0 20px;overflow:hidden}
#tv_dayList_Flick .tv-container{height:31px;}
#tv_dayList_Flick .tv-container li{display:block;float:left;line-height:31px;text-align:center;}
.tv_today .tv_todayIcon {margin:5px auto -8px auto; width:35px; height:10px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:0px -28px}
.tv_today a{line-height:10px;color:black};

/*product list*/
#product_list #tv_ul{}
#product_list #tv_ul .tv_productCell{display:table;width:100%;border-bottom:1px solid #d5d5d5}
#product_list #tv_ul .tv_lion{border:3px solid #ea6518}

/*상품정보*/
#product_list #tv_ul .tv_productCell .tv_prList{margin:0px 0 5px 8px;width:75%;float:left;}
#product_list #tv_ul .tv_productCell .tv_prList .product {padding:10px 0 10px 0;}
#product_list #tv_ul .tv_productCell .tv_prList .product.product_sub {border-top:1px dotted #d5d5d5; display:none}
#product_list #tv_ul .tv_productCell .tv_prList .product .thumb{float:left;}
#product_list #tv_ul .tv_productCell .tv_prList .product .thumb img{width:90px; height:90px}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info {display:block;letter-spacing:-1px;}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.title {padding:0 10px;height:53px;color:#454545;line-height:17px;overflow:hidden;font-size:13px}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price1 {height:15px;color:#464646}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price1 .l {padding-left:10px;float:left; margin-right:5px;letter-spacing:-1px;}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price1 .r {text-decoration:line-through;}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price2 {color:#fc7d00;line-height:20px;font-weight:bold}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price2 .l {padding-left:10px;float:left;padding-top:2px;margin-right:5px;letter-spacing:-1px;}
#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price2 .r {font-size:14px;}
#product_list #tv_ul .tv_productCell .tv_prList .openButton {display:block;position:relative; left:0px;top:0px;width:98%; height:24px; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#d2d2d2), color-stop(.6,#DCDCDC));border:1px solid #d1d1d1;border-bottom:1px solid #808080;color:#333333;text-align:center;line-height:24px}
#product_list #tv_ul .tv_productCell .tv_prList .openButton span:nth-child(2){display:none}
#product_list #tv_ul .tv_productCell .tv_prList .closeButton span:nth-child(1){display:none}
#product_list #tv_ul .tv_productCell .tv_prList .closeButton span:nth-child(2){display:block}

/*시간정보 기본*/
#product_list #tv_ul .tv_productCell .tv_onAir{display:table;float:right;right:0px;height:138px;width:70px;background-color:#dddddd;text-align:center; border-bottom:1px solid #ffffff}
#product_list #tv_ul .tv_productCell .tv_onAir .tv_onAirTxt{display:table-cell; vertical-align:middle;color:#333333;padding-top:12px}
#product_list #tv_ul .tv_productCell .tv_onAir .tv_onAirTxt .onAirIcon{display:none}
#product_list #tv_ul .tv_productCell .tv_onAir .tv_onAirTxt .onSpare{display:none}
#product_list #tv_ul .tv_productCell .tv_onAir .tv_onAirTxt .arrowIcon{display:block;position:relative; left:-7px;top:-25px;width:10px; height:10px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib.png') no-repeat;background-size:122px 140px;background-position:-90px -28px}

/*시간정보 ON AIR*/
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on{background:#ea6518 ;border:0px;width:67px}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on .tv_onAirTxt{display:table-cell; vertical-align:middle;color:#FFFFFF;padding-top: 24px;}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on .tv_onAirTxt .onAirIcon{display:block;position:relative; left:4px;top:-86px;width:60px; height:20px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:0px 0px}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on .tv_onAirTxt .onSpare{display:block;position:relative; left:14px;top:-60px;width:44px; height:12px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:0px -127px}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on .tv_onAirTxt .arrowIcon{display:block;position:relative; left:-6px;top:-35px;width:8px; height:10px; background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0408.png') no-repeat;background-size:122px 140px;background-position:-83px -28px}

/*카테고리 : 카달로그상품, TV홈쇼핑상품 */
#container section#categories h3.tv_beauty {background: #5981E1;}
#container section#categories h3.tv_sport {background: #2E55B0;}
#container section#categories h3.tv_baby {background: #70A02A;}
#container section#categories h3.tv_digital {background: #276E98;}
/*사은품선택*/
.checkbox_n015_tv {-webkit-transform: scale(1.2,1.2);vertical-align: middle;border: 1px solid #7294E8;background: white;margin-right:5px}
div#container{color:#454545}
section#cart_wrap div.tvinfo {border-bottom:2px solid #818181;margin:0 10px 0 10px}
div.gift_product {position:relative;margin:10px 10px 0 10px;border-bottom:1px solid #E3E3E3; min-height:70px;}
div.gift_product div.thumb {position:absolute;left:5px;top:0;}
div.gift_product div.info {padding:0 10px 0 80px;}
div.gift_product div.info p.title {height:34px;padding-top:4px;overflow:hidden;font-size:12px;color:#454545;line-height:16px;word-break:break-all}
div.gift_product div.info p.title a {color:#454545;}
div.gift_product div.info p.option {margin:1px 0 5px;overflow:hidden;padding:0;font-size:11px;color:#ff0000;word-break:break-all}
div.gift_product div.info p.option_text {margin:1px 0 5px;padding:0;font-size:11px;letter-spacing:-1px;line-height:14px;word-break:break-all}
div.gift_product div.thumb img{width:60px;height:60px}
div.gift_select{margin:10px 10px 30px 10px}
div.gift_select ul{margin-left:10px}
div.gift_select ul li{margin-top:10px}
div.gift_select ul.gift_select_dot{list-style-type: disc; margin-left:25px}
div.gift_select ul.gift_select_dot li{list-style-type: disc}
div.gift_select ul.gift_select_dot div.gift_optionSelect{margin-left:0px;}

select.wd120{width:120px}
div.gift_select div.gift_optionSelect{margin:3px 0 0 15px;color:#878787}

div.gift_info{margin:0 10px 20px 10px; padding:10px 10px 5px 30px; background:#eaeaea; color:#313131}
div.gift_info ol li{list-style-type: decimal;margin-bottom:5px}
div.gift_info ul li{list-style-type: disc; margin:0 0 0 10px;}
div.gift_ok{border-top:2px solid #4574d6; margin: 0 10px 0 10px}
div.gift_ok div{width:149px; margin:15px auto 70px auto}
div.gift_ok img{width:149px;}

/*주문접수, 취소*/
.tv_order_gift {border-top:1px solid #E0E0E0}
.tv_order_option{color:#666666;letter-spacing: -1px; display: block;font-size: 14px;}
.tv_order_gift img{width:46px}

.delivery_cancel_mo03_tv { border-top: 0px solid #DEDEDE; padding: 0px 0px 15px 0;}
.delivery_cancel_mo03_tv .fl{float:left;width:75px;padding-top:10px}
.delivery_cancel_mo03_tv .fr{display:table-cell;padding-top:0px}
.delivery_cancel_mo03_tv .fr img{width:46px}
.delivery_cancel_mo03_tv .fr h1{font:normal 13px Dotum,Arial,sans-serif;color:#313131;text-overflow:clip;overflow:hidden;word-break:break-all;}
.delivery_cancel_mo03_tv .fr strong{font:normal 12px Dotum,Arial,sans-serif;color:#666666;}
.delivery_cancel_mo03_tv .fr section{font:normal 11px Dotum,Arial,sans-serif;color:#888;}

/*order 재정의*/
.delivery_cancel_mo03{border-top:1px solid #ADADAD;padding:10px 0;}
.delivery_cancel_mo04{background-color:#EEEEEE;padding-top:5px;margin-bottom:10px}

/*20130322 랭킹존*/
#tv_dayList_Flick .tv-container.lankCon li{letter-spacing: -2px;font-size:14px}
#tv_dayList #tv_toDayBox.lankBox{top:-37px}
#lCateList img.depIcon{width: 73px;height: 14px;margin-left:4px;margin-top:13px}
#lCateList img.youngIcon{width: 36px;height: 14px;margin-left:4px;margin-top:14px}

div#lCateList ul{display:table;background-color:#F9F9F9;border-bottom:1px solid #9a9a9a;width:100%}
div#lCateList ul li{display:block;height:40px;border-bottom:0px;line-height:40px;padding-left:10px;float:left;text-align:center}
div#lCateList ul li div.ldot{width:1px;height:20px;background-color:#9a9a9a;float:left;margin:10px 5px 0 0 }
div#lCateList ul li:first-child div.ldot{display:none}
div#lCateList ul li.on a{color:#1943af;font-size:14px;font-weight:bold}
div.cfoot{display:none}
div#saleInfo{text-align:right;height:45px;color:#4d4d4d;padding-right:10px;line-height:17px; border-top:1px solid #e3e3e3;padding-top:15px}
section#product_list.lankZone div.product a.thumb img:first-child {border:0px solid #d5d5d5}
section#product_list.lankZone div.product a.thumb div.lanking{width:30px;height:30px;text-align:center;background:url("http://image.lotte.com/lotte/mobile/common/lank_NumBG.png") no-repeat;background-size: 30px 30px;color:white;font:bold 14px dotum;margin-top:-121px;position:relative;padding-top:4px} 
section#product_list.p2x.lankZone div.product a.info div.icons {display:none}
section#product_list.lankZone{display:table;width:100%;margin:10px 0px 0 0}
section#product_list.lankZone div.product {display:block;float:left;width:23%;margin-left:10%;height: 84px;padding: 140px 0px 0px 0px;border-bottom: 0px;text-align:center}
section#product_list.lankZone div.product a.info{height:74px;width:120px;letter-spacing:-1px}
section#product_list.lankZone div.product a.info div.title{font-size:13px;line-height:14px;height:42px}
section#product_list.lankZone div.product a.info .l{letter-spacing:-2px}
section#product_list.lankZone div.product a.info div.price2 .r{font-size:13px}
section#product_list.lankZone div.pl:nth-child(3n + 1){width:100%;height:1px;border-bottom:1px solid #e3e3e3;display:table}
section#product_list.lankZone div.pl:first-child{display:none}
div#lCateList ul li a:nth-child(1){display:block;width:100%}
div#lCateList ul li:first-child a:nth-child(1){width:auto;float:left}
/*tv shop 개선*/
#bestPrice.tvshop #bestPriceFlick{margin:0px}
#bestPrice.tvshop #bestPriceFlick .bestPrice-container .bestPrice-ct .bestPrice-box{border:0px}
/*#tv_dayList_Flick .tv-container li.tv_today div.tv_todaybg{background-color:white;width:110px;margin:0 auto}*/
#tv_dayList #tv_toDayBox div.tb_1{width: 106px;height:31px;margin: 0 auto;color: #EA6518;font: 10px bold;text-align: center;background: white;opacity: 0.3}
/*#tv_dayList #tv_toDayBox div.tb_2{width: 106px;margin: 0 auto;color: #333;text-align: center;background: white;height: 20px;line-height:20px}*/
/*ON AIR 상품리스트*/
#onAir_List div.onAir_title{height:36px;color:white;background:#333333}
#onAir_List div.onAir_title div.onAirTime{float:left;width:89px;height:16px;background-image:url("http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_topOnAIR_0408.png");background-repeat:no-repeat;background-size:99px 36px;padding: 20px 0 0 10px;}
#onAir_List div.onAir_title div.onAIRTitle{font-size:16px;text-align:center;line-height:36px}
#onAir_List div.pList{border:3px solid #333333; border-top:0px;padding:10px 10px 0 10px}
.pList .product {padding:10px 0 10px 0}
.pList .product .thumb{float:left;}
.pList .product .thumb img{width:90px; height:90px}
.pList .product a.info {display:block;letter-spacing:-1px;}
.pList .product a.info div.title {padding:0 10px;height:53px;color:#454545;line-height:17px;overflow:hidden;font-size:13px}
.pList .product a.info div.price1 {height:15px;color:#464646}
.pList .product a.info div.price1 .l {padding-left:10px;float:left; margin-right:5px;letter-spacing:-1px;}
.pList .product a.info div.price1 .r {text-decoration:line-through;float:right}
.pList .product a.info div.price2 {color:#fc7d00;line-height:20px;font-weight:bold;height:20px}
.pList .product a.info div.price2 .l {padding-left:10px;float:left;padding-top:2px;margin-right:5px;letter-spacing:-1px;}
.pList .product a.info div.price2 .r {font-size:14px;float:right}
.pList div.airLine{border-top:1px solid #7f7f7f;padding-top:10px;display:table;width:100%}
.pList div.airLine div.subProduct{width:25%;height:82px;float:left;text-align:center}
.pList div.airLine div.subProduct img{width:60px; height:60px}
.pList div.airLine div.subProduct span{display:block;color:#fc7d00;line-height:20px;font-weight:bold}
	
@media all and (max-width:320px){
	#product_list #tv_ul .tv_productCell .tv_prList .product a.info div.price2 .r {font-size:12px;}	
}
@media all and (max-width:683px) {	
	div#lCateList ul{display:block;border-bottom:0px;background-color:white}
	div#lCateList ul li{display:none;height:40px;border-bottom:1px dotted #e3e3e3;line-height:40px;padding-left:10px;float:none;text-align:left}
	div#lCateList ul li a{color:#878787;font-size:13px}
	div#lCateList ul li a#openClick{float:right}
	div#lCateList ul li a#openClick div.clickArea{width:100px;height:40px}
	div#lCateList ul li.on{display:block;background-color:#f9f9f9;border-bottom:1px solid #e3e3e3}
	div#lCateList ul li.on a{color:#333333;font-size:14px}
	div#lCateList. ul li:first-child div.ldot{display:block}
	div#lCateList ul li.on div.ldot{display:none}
	div#lCateList ul li  a div div.arrIcon {float: right;margin-right:10px;width: 12px;height: 38px;background:url("http://image.lotte.com/lotte/mobile/common/arrow_icons_130201.png") no-repeat left center;background-size: 34px 13px;background-position:-13px 15px}
	div#lCateList ul li div.arrIcon.on{background-position:0 15px}
	div#lCateList ul li div.ldot{width:3px;height:3px;background-color:#9a9a9a;float:left;margin:18px 5px 0 0 }
	div.cfoot .pfoot {height:35px; background:#f0f0f0;padding:1px;border-top:1px solid #e3e3e3}
	div.cfoot .pfoot div.footClose{width:41px;color:white;background-color:#656565;font-size:12px;text-align:center;line-height:23px;margin:6px auto;border:1px solid #737373;border-radius:3px}	
	section#product_list.p2x.lankZone div.product a.info div.icons {display:block}
	section#product_list.lankZone div.product a.thumb img:first-child {border:0px solid #d5d5d5}
		
	section#product_list.lankZone{display:block;width:auto;margin:0px 10px 18px 10px}
	section#product_list.lankZone div.product {display:block;float:none;width:auto;margin-left:0px;height:120px;padding: 10px 0px 10px 145px;border-bottom: 1px solid #E0E0E0;text-align:left}
	section#product_list.lankZone div.product a.info{height:120px;width:auto;margin-right:10px;letter-spacing:-1px}
	section#product_list.lankZone div.product a.info div.title{font-size:14px;line-height:18px;height:56px}
	section#product_list.lankZone div.product a.info .l{letter-spacing:0px}
	section#product_list.lankZone div.product a.info div.price2 .r{font-size:14px}
	section#product_list.lankZone div.pl:nth-child(3n + 1){display:none}
	div#saleInfo{border-top:0px;padding-top:0px}
}
/*20130528 홈쇼핑 테마 변경*/
#onAir_List div.onAir_title div.onAirTime {background-image: url("http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_topOnAIR_0528.png")}
#tv_dayList #tv_toDayBox {background: url('http://image.lotte.com/lotte/mobile/planshop/tv_iconbox_1126.png') no-repeat;background-position: 0px 0px;background-size:114px 42px}
.tv_today .tv_todayIcon {background: url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0528.png') no-repeat;background-position: 0px -28px}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on {background: #ca0121;height: 139px}
#product_list #tv_ul .tv_lion {border: 3px solid #ca0121}
#product_list #tv_ul .tv_productCell .tv_onAir.tv_on .tv_onAirTxt .arrowIcon {background: url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0528.png') no-repeat;background-position: -83px -28px}

/*20131015 패드용 홈쇼핑*/
.tv_today .tv_todayIcon {background: url('http://image.lotte.com/lotte/mobile/planshop/tvhome/tv_iconlib_0528.png') no-repeat;background-position: 0px -28px; background-size: 122px 140px;}
#bestPrice.tvshop.pad #bestPriceFlick{margin:10px}
#onAir_List.pad div.onAir_title div.onAirTime{background-image:nonebackground: #CA0121;font-size:14px;width: 240px;background: #CA0121;height: 50px;padding: 0px;line-height: 50px}
#onAir_List.pad div.onAir_title{height:50px}
#onAir_List.pad div.onAir_title div.onAIRTitle{line-height:50px}
#onAir_List div.pList.pad{padding-left:40px}
.pList.pad .product .thumb img {width:180px;height:180px}
.pList.pad .product a.info div.title {height: 140px;line-height: 20px;font-size: 15px;padding-left:30px}
.pList.pad div.airLine{border-top: 0px solid #7F7F7F;padding-top: 10px}
.pList.pad .product a.info div.price1 {height:15px;color:#464646}
.pList.pad .product a.info div.price1 .l {padding-left:30px;float:left; margin-right:5px;letter-spacing:-1px;}
.pList.pad .product a.info div.price1 .r {text-decoration:line-through;float:none}
.pList.pad .product a.info div.price2 {color:#fc7d00;line-height:20px;font-weight:bold;height:20px;padding-top:5px}
.pList.pad .product a.info div.price2 .l {padding-left:30px;float:left;padding-top:2px;margin-right:5px;letter-spacing:-1px;}
.pList.pad .product a.info div.price2 .r {font-size:20px;float:none;font-weight:bold}
#tv_dayList.tvPad #tv_toDayBox{margin-top: -6px; background: none;border: 4px solid #CA0121;border-radius: 30px}
#tv_dayList.tvPad {position:relative;height:31px;margin-bottom:0px;font-weight:bold;background: #EBEBEB;color: #666;  padding-top: 20px; padding-bottom: 20px;}
#tv_dayList.tvPad #tv_dayList_Flick .tv-container li{display:block;float:left;line-height:31px;text-align: center}
#tv_dayList.tvPad div.rLine{height:15px;width:1px;border-left:1px solid #ddd;background:#eee;float:right;margin-top:7px}
#tv_dayList.tvPad li.tv_today div.rLine{margin-top:0px}
#tv_dayList.tvPad #tv_left{top:26px;background-position: 0px -18px;}
#tv_dayList.tvPad #tv_right{top:26px;background-position: -15px -18px;}
.tvTable{display:table;width:100%;border-bottom:1px solid #e3e3e3;box-sizing:border-box}
.tvTable:last-child{border-bottom:0px}
.tvTable.onAir{border:4px solid #ca0121;background:url("http://image.lotte.com/lotte/mobile/sub/tvshop1015_02.png") no-repeat}
.tvTable.onAir .cellA{padding-top:57px;width: 165px}
.tvTable .cellA{display:table-cell;width:169px;vertical-align: top;border-right:1px solid #e3e3e3;padding:20px 30px}
.tvTable .cellB{display:table-cell;width:auto;padding-left:20px}
.tvTable .cellA .tvTime{font-weight:bold;background:url("http://image.lotte.com/lotte/mobile/sub/clock1015_02.png") no-repeat;padding-left:20px}
.tvTable .cellA .tvTitle{font-size:15px;margin-top:5px}
.tvTable .cellB div.product{display:inline-block;width:32%;text-align:center;margin-top:20px}
.tvTable .cellB div.product a.thumb{position:relative}
.tvTable .cellB div.product a.thumb img{width:160px;height:160px}
.tvTable .cellB div.product a.info {text-align:left;display:block;height:74px;letter-spacing:-1px;width:160px;overflow:hidden;margin:0 auto}
.tvTable .cellB div.product a.info div {overflow:hidden}
.tvTable .cellB div.product a.info div.title {height:34px;color:#454545;line-height:17px;margin-top:4px;font-size: 14px}
.tvTable .cellB div.product a.info div.price1{display:block;margin-top:2px}
.tvTable .cellB div.product a.info div.price2{display:block;margin-top:1px}
.tvTable .cellB div.product a.info div.price2 .l{float:none;font-size:13px;color:#fc7d00}
.tvTable .cellB div.product a.info div.price2 .r{font-size:16px;float:none;color:#fc7d00;padding-left:5px}
.tvTable .cellB div.product a.thumb span.bookmarkIcon2 {margin-top: 124px;margin-left: -36px;position:absolute;width:36px;height:36px;background:url('http://image.lotte.com/lotte/mobile/sub/padBookmark_01.png') no-repeat 0 0;background-size:36px 36px}
.tvTable .cellB div.product a.thumb span.bookmarkIcon2.on{background:url('http://image.lotte.com/lotte/mobile/sub/padBookmark_02.png') no-repeat 0 0;}
.tvTable .cellB  div.product a.thumb div.shopIconBox{display:block;position:absolute;left:0;top:0}
div.shopIcon2{width:73px; height:14px; background:url('http://image.lotte.com/lotte/mobile/btn/goods_icon_n_2.png') no-repeat;background-size:73px 14px}
div.shopIcon3{width:73px; height:14px; background:url('http://image.lotte.com/lotte/mobile/btn/goods_icon_n_3.png') no-repeat;background-size:73px 14px}
.tvTable .cellB  .openButton {margin:20px 20px 20px 0;display:block;position:relative; left:0px;top:0px;width:98%; height:24px; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#e8e8e8), color-stop(.6,#eee));border:1px solid #ddd;border-bottom:1px solid #9a9a9a;color:#333333;text-align:center;line-height:24px}
.tvTable .cellB  .openButton span:nth-child(2){display:none}
.tvTable .cellB  .openButton span img{margin-top:4px}
.tvTable .cellB  .closeButton span:nth-child(1){display:none}
.tvTable .cellB  .closeButton span:nth-child(2){display:block}
.tvTable .cellB div.product{display:none}
.tvTable .cellB div.product:nth-child(1),
.tvTable .cellB div.product:nth-child(2),
.tvTable .cellB div.product:nth-child(3){display:inline-block}

/*20140116 모바일 홈쇼핑용 리뉴얼*/
.mtable.tvtab16{background:#f0f0f0;height:45px;margin-top:1px}
.mtable.tvtab16 .mcell{vertical-align:middle;text-align:center;border-bottom:1px solid #ccc}
.mtable.tvtab16 .mcell:nth-child(1){border-right:1px solid #ccc}
.mtable.tvtab16 .mcell.on{background:white;border-top:1px solid #ccc;border-bottom:1px solid #f4f4f4}
.mtable.tvtab16 .mcell .titleIcon{width:90px;height:15px;margin:0 auto;background:url("http://image.lotte.com/lotte/mobile/planshop/tvhome/mtv0116_02.png") no-repeat;background-size:200px 35px}
.mtable.tvtab16 .mcell.on .titleIcon{background-position:0 -20px}
.mtable.tvtab16 .mcell .titleIcon.Btype{width:76px;background-position:-102px 0px}
.mtable.tvtab16 .mcell.on .titleIcon.Btype{width:78px;background-position:-102px -20px}
.mtable.day16{padding:15px 10px 0 10px;height:35px;width:100%}
.mtable.day16 .mcell:nth-child(1){vertical-align:top}
.mtable.day16 .mcell:nth-child(2){text-align:center;vertical-align:middle}
.mtable.day16 .mcell:nth-child(2) div{font-size: 16px;font-weight: bold;margin-top: -2px}
.mtable.day16 .mcell:nth-child(2) div:nth-child(1),
.mtable.day16 .mcell:nth-child(2) div:nth-child(3){display:none}
.mtable.day16 .mcell:nth-child(2).onAir div:nth-child(1){height:11px;display:block}
.mtable.day16 .mcell:nth-child(2).onAir div:nth-child(3){display:block}
.mtable.day16 .mcell:nth-child(3){vertical-align:top;text-align:right}
div.mtvonAirbox{border:2px solid #ca0121;margin:0 10px}
div.mtvbox{border:2px solid #a6a6a6;margin:7px 10px}
select.ono_selectBox{height: 25px; padding: 0 36px 0 4px; border: 1px solid #B4B4B4; font-size: 12px;color: #494949;background:#f7f7f7 url( 'http://image.lotte.com/lotte/mobile/sub/select_btn_ono.png') no-repeat right top;-webkit-border-radius: 3px;-webkit-appearance: none;background-size:34px 24px}
.mtable.tvNtitle{padding:10px;background:#a6a6a6;color:#fff}
.mtable.tvNtitle .mcell{text-align:left;color:white;font-size:14px}
.mtable.tvNtitle .mcell:nth-child(1){width:110px}
.mtable.onAirTitle{padding:10px;background:#ca0121;color:#ffc8c8}
.mtable.onAirTitle .mcell:nth-child(1){text-align:left;color:white;font-size:16px}
.mtable.onAirTitle .mcell:nth-child(2){text-align:right;font-size:16px}
.mtv_list a.info{position: relative;height:232px;display:inline-block;width:49.1%;text-align:center;border-bottom:1px solid #dcdcdc}
.mtv_list a.info:nth-child(2n-1){border-right:1px solid #dcdcdc}
.mtv_list a.info img{width:140px;height:140px;margin:10px 0}
.mtv_list a.info .title{width:140px;margin:2px auto;word-break;break-all;text-align:left;color:#333;font-size:13px;line-height:14px;height:28px;overflow:hidden}
.mtv_list a.info .price1{width:140px;margin:2px auto;text-align:left;color:#b9b9b9;text-decoration: line-through;height: 14px}
.mtv_list a.info .price2{font-weight:bold;width:140px;margin:2px auto 0px auto;text-align:left;color:#f64b00;font-size:14px}
.onAir_under{margin:12px 0;border-top:1px solid #ccc}
.lastMark{float:right;margin-top:66px;width:48%;text-align: center}
.tv_cate_title{height:32px;padding-top:12px}
ul.mtv_cateBox{border-top:1px solid #a9a9a9}
ul.mtv_cateBox li{background:#f0f0f0;color:#333;line-height:37px;font-size:14px;border-bottom: 1px solid #ccc}
ul.mtv_cateBox li div{font-size:14px}
ul.mtv_cateBox li div.tvCA{position:relative;background:url("http://image.lotte.com/lotte/mobile/planshop/tvhome/mtv0116_12.png") no-repeat;background-size:16px 36px;padding-left:20px}
ul.mtv_cateBox li a{color:#333;display:block}
ul.mtv_cateBox li div.arrIcon{position:absolute;top:0;right:12px;width:12px;height:38px;background:url('http://image.lotte.com/lotte/mobile/planshop/tvhome/arrow_icons_0116.png') no-repeat left center;background-size:34px 13px;background-position:-12px}
ul.mtv_cateBox li div.arrIcon.on{background-position:0px}
ul.mtv_cateBox li ul li div.arrIcon2{float:right;width:12px;height:37px;background:url('http://image.lotte.com/lotte/mobile/common/arrow_icons_130201.png') no-repeat left center;background-size:34px 13px;background-position:-24px}
ul.mtv_cateBox li ul li{background:#dcdcdc;border-bottom:1px dotted #aaa7a7;padding:0 12px 0 28px}
ul.mtv_cateBox li ul li:last-child{border-bottom:0px}
ul.mtv_cateBox li ul{display:none;border-top: 1px solid #CCC}
#tv_cate{display:none;margin-bottom:20px}
img.w100{width:100%}
/*홈쇼핑 날짜선택*/
.tv_calendar{position: absolute;margin-top: -6px;width:100%;display:none;z-index:100}
.tv_calendar .box{width:300px;background:#f6f6f6;float: right;margin-right: 10px;border: 1px solid #6d6d6d;position:relative}
.tv_calendar .box .closeBtn{position:absolute;right:0;top:-28px;border: 1px solid #6d6d6d;width:65px;height:25px;background:#7f7f7f;color:#d0d0d0;display:block;text-align:center;line-height:25px}
.tv_calendar .box .mtable.tvcalendar{height:21px;background:#dfdfdf;color:#808080}
.tv_calendar .box .mtable.tvcalendar .mcell{text-align:center;vertical-align:middle}
.tv_calendar .box .daylist a{border-right:1px solid#dfdfdf;border-bottom:1px solid#dfdfdf;float:left;display:inline-block;height:40px;width:41px;font-size:14px;text-align:center;line-height:40px;background:#f6f6f6;color:#888787;font-weight:bold} 
.tv_calendar .box .daylist a:nth-child(7n){border-right:0px;width:44px}
.tv_calendar .box .daylist a:nth-child(7n+1){width:44px}
.tv_calendar .box .daylist a:nth-child(1){width:44px}
.tv_calendar .box .daylist a.today{color:#ce2c46}
.tv_calendar .box .daylist a.on.today,.tv_calendar .box .daylist a.on{background:#ce2c46;color:white}
.tv_calendar .dimbox{width:300px;float:right;height:3px;background:black;margin-right:10px;opacity:0.3}

.mtvMainicon{width:35px;height:35px;position:absolute;top:5px;left:5px;background:url('http://image.lotte.com/lotte/mobile/planshop/mtv0122.png') no-repeat;background-size:35px 75px}
.mtvMainicon.gray{background-position:0 -40px}