@charset "UTF-8";

/*burberrySubHead*/
#mallSubHeader .sub_title{background-color:#fff;padding:23px 0 17px}
#mallSubHeader .sub_title a{display:block;}
#mallSubHeader .sub_title a span{display:block; width:112px; height:15px;background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/burberry_iconGroup_v2.png) no-repeat;background-position: 0px 0px;text-indent:-9999px; overflow:hidden;margin:0 auto;background-size:155px 150px}
.header_dimm, .pageLoading{background-color:rgba(0,0,0,0.5)}
/* nav menu */
.topMenu_wrap{left:0;height:43px;background-color:#fff;border-bottom:1px solid #efefef;text-align:center}
.topMenu_wrap ul.menu_depth1{white-space:nowrap}
.topMenu_wrap ul.menu_depth1:after{content:"";display:block;clear:both}
.topMenu_wrap ul.menu_depth1 > li{display:inline-block;position:relative}
.topMenu_wrap ul.menu_depth1 > li a{display:inline-block;position:relative;padding:0 12px;line-height:40px;color:#333;font-size:15px;font-weight:bold;}
.topMenu_wrap ul.menu_depth1 > li.on a span{border-bottom:2px solid #010101;padding-bottom:12px}
.subMenu_wrap{background-color:#fff;width:100%; max-height:340px;position:relative;border-bottom:2px solid #171717}
.subMenu_wrap > a{display:block;position:absolute;overflow:hidden; border-radius:50%; width:40px; height:40px;right:11px;bottom:-20px;background-color:#171717}
.subMenu_wrap > a span{display:block; width:15px; height:15px;text-indent:100%;white-space:nowrap;overflow:hidden;padding: 13px; background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/burberry_iconGroup.png) no-repeat 14px -66px;background-size:155px 150px}
.subMenu_wrap .menu_depth2{max-height:312px;overflow-y:scroll}
.subMenu_wrap .menu_depth2 li:first-child{padding-top:14px}
.subMenu_wrap .menu_depth2 li:last-child{padding-bottom:14px}
.subMenu_wrap .menu_depth2 > li{background-color:#fff; overflow:hidden}
.subMenu_wrap .menu_depth2 li a{display:block;position:relative;padding:10px 0;font-size:15px;color:#212121}
.subMenu_wrap .menu_depth2 li a span{display:inline-block;padding-left:30px}
.subMenu_wrap .menu_depth2 li:first-child a span{font-weight:bold}
.subMenu_wrap .menu_depth2 li a em{display:block;position:absolute;text-indent:100%;white-space:nowrap;overflow:hidden;right:20px;background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/burberry_iconGroup.png) no-repeat;background-size:155px 150px;background-position: 0px 0px}
.subMenu_wrap .menu_depth2 li a em.arrow{background-position:5px -40px; width:22px;height:10px;top:14px}
.subMenu_wrap .menu_depth2 li.on a em.arrow{background-position:5px -52px}
.subMenu_wrap .menu_depth2 li a em.allshow{background-position:0px -16px;width:22px;height:22px;top:12px}
.subMenu_wrap .menu_depth3{background-color:#f7f7f7;}
.subMenu_wrap .menu_depth3 li a{padding-left:42px;color:#666;font-size:14px}
.subMenu_wrap .menu_depth3 li:first-child a{font-weight:bold}
.subMenu_wrap .menu_depth3 li:first-child{padding-top:5px;}
.subMenu_wrap .menu_depth3 li:last-child{padding-bottom:5px;}
.header_dimm{overflow: hidden; position: fixed;top: 0;left: 0; width: 100%;height: 100%;text-indent: 100%;white-space: nowrap; z-index: -1;}

/*burberry footer*/
.burberry_footer{padding:25px 0; background-color:#f7f7f7;}
.burberry_footer ul:after{clear: both; display:block; content:""}
.burberry_footer ul li{float:left;width:33%;border-left:1px solid #ddd}
.burberry_footer ul li:first-child{border-left:none}
.burberry_footer ul li a{display:block;position:relative;font-size:13px; color:#666;text-align:center}
.burberry_footer ul li a:before{content:"";display:block;margin:0 auto 8px;background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/burberry_iconGroup.png) no-repeat; background-position:0px -121px;width:29px;height:29px;background-size:155px 150px}
.burberry_footer ul li:nth-child(2) a:before{background-position:-29px -121px}
.burberry_footer ul li:nth-child(3) a:before{background-position:-59px -121px}
