<!DOCTYPE html>
<html ng-app="app" ng-controller="LotteCtrl">
<head>
<meta charset="utf-8">
<title>롯데닷컴</title>
<meta content="no_cache" http-equiv="cache_control">
<meta content="0" http-equiv="expires">
<meta content="no_cache" http-equiv="pragma">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta content="telephone=no" name="format-detection">
<!-- test css -->
<link rel="stylesheet" href="/lotte/resources_dev/common/lotte.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/header.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/header_sub.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/footer.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/actionbar.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/side_ctg.css">
<link rel="stylesheet" href="/lotte/resources_dev/layout/side_mylotte.css">
<link rel="stylesheet" href="/lotte/resources_dev/search/layer_srh.css">	
<!----------------- current css ----------------->
	
<link rel="stylesheet" href="/lotte/resources_dev/login/login.css">

<!---------------// current css ----------------->
<!-- test js -->
<script src="/lib/jquery/jquery-1.11.2.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/HTML/js/testPub.js"></script>
</head>
<body>

<!-- common -->
<section ng-include src="'/HTML/include/common.html'"></section>
<!-- header -->
<section ng-include src="'/HTML/include/header.html'"></section>
<section ng-include src="'/HTML/include/head_sub.html'"></section>

<!-- container -->
<section id="container">
	<!--------------- current html --------------->
	
	<form name="findMemberForm" id="findMemberForm" >
 	<input name="re_send_sms_yn" id="re_send_sms_yn" type="hidden">
	<input name="mksh_cert_sn" id="mksh_cert_sn" type="hidden"> 
	<!-- 계정 ID 찾기 -->
	<section class="easy_login_wrap">
		<fieldset>
			<legend>계정 찾기</legend>
			<div class="id_find_box">

				<h3 class="id_find_title">이메일 아이디를 찾기 위해 정보를 입력해주세요.</h3>

				<dl class="order_name_input">
					<dd><input id="mbr_name" ng-model="formVal.mbr_name" name="mbr_name" type="text" class="txt01" placeholder="이름" title="이름" maxlength="40" ></dd>
				</dl>

				<dl class="order_contact_input">
					<dd>
						<div class="phone_input_box">
							<div class="select_box">
								<select id="hpno_1" name="hpno_1" 
								ng-model="formVal.hpNum.hpno00"   
-
								>       
								</select>
							</div>
							<input type="number" id="hpno_2" name="hpno_2" maxlength="4" class="txt01" title="핸드폰 중간 4자리"  ng-model="formVal.hpNum.hpno_2">
							<input type="number" id="hpno_3" name="hpno_3" maxlength="4" class="txt01" title="핸드폰 마지막 4자리"  ng-model="formVal.hpNum.hpno_3">
						</div>
						{{formVal.hpNum.hpno00.name}}
					</dd>
					<dt class="verification_code">
						<a id="sendSMS" href="#none" ng-click="fn_SendSms()"><span>인증번호발송</span></a>
						<a id="reSendSMS" href="#none" ng-click="fn_reSendSms()" style="display:none"><span>다시발송</span></a>                    
					</dt>

				</dl>

				<dl class="certificate_number_input">
					<dd><input type="number" id="cert_no" name="cert_no" class="txt01" placeholder="인증번호 입력 (3분이내 입력)" title="인증번호 입력 (3분이내 입력)" maxlength="6" ng-model="formVal.cert_no"></dd>
				</dl>
				<div class="view_order_btn">
					<a href="#none" ng-click="fn_CertifySMS()" class="c_btn col01"><span>확인</span></a>
				</div>
				<div class="lpoint_member_info_box">
					<p class="lpoint_member_info_txt">롯데계열사를 하나의 아이디로 사용하는 L.POINT<br>통합회원이시면 롯데멤버스에서 회원정보를 찾아주세요.</p>
					<ul class="lpoint_member_btn_list">
						<li><a href="#none" ng-click="sendOutLink('https://member.lpoint.com/door/user/mobile/requestId.jsp?sid=MDOTCOM&returnurl=http%3A%2F%2Fmolocal.lotte.com%2Flotte%2Flogin%2Flogin_form_dev.html%23%2Fgo&main_url=http%3A%2F%2Fm.lotte.com%2Fmain.do%3Fc%3Dmlotte%26udid%3D%26v%3D%26cn%3D%26cdn%3D&sch=')">아이디 찾기</a></li>
						<li><i></i><a href="#" ng-click="sendOutLink('https://member.lpoint.com/door/user/mobile/requestPasswd.jsp?sid=MDOTCOM&returnurl=http%3A%2F%2Fmolocal.lotte.com%2Flogin%2Fm%2FloginForm.do%3Fc%3Dmlotte%26udid%3D%26v%3D%26cn%3D%26cdn%3D%26adultChk%3DY%26tclick%3Dm_home_login%26targetUrl%3Dhttp%253A%252F%252Fmolocal.lotte.com%252Fproduct%252Fm%252Fproduct_view.do%253Fgoods_no%253D24613906%2526c%253Dmlotte%2526udid%253D%2526v%253D%2526cn%253D%2526cdn%253D%2526tclick%253Dm_menu_ranking_item_0%2526curDispNoSctCd%253D44%2526adultChk%253DY%23go&main_url=http%3A%2F%2Fmolocal.lotte.com%2Fmain.do%3Fc%3Dmlotte%26udid%3D%26v%3D%26cn%3D%26cdn%3D&sch=')">비밀번호 찾기</a></li>
					</ul>
				</div>
			</div>
		</fieldset>
	</section>
	</form>
	<!-- //계정 ID 찾기 -->
		
	<!-------------// current html --------------->
</section>
<!-- footer -->
<section ng-include src="'/HTML/include/footer.html'"></section>
</body>
</html>