@charset "UTF-8";

.receiptHead,.receiptHead:before {
    position: absolute;
    font-size: 14px
}

.clear:after,.receipt .customer li:after {
    overflow: hidden;
    display: block;
    clear: both
}



.clear:after {
    content: " "
}

.mylotteReceipt {
    position: relative;
    padding: 0 0 15px;
    background: #fff
}

.receiptHead {
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
    background: #f3f3f3;
    color: #333
}

.receiptHead:before {
    content: "";
    width: 65px;
    height: 7px;
    top: 16px;
    right: 37px;
    background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) 0 -100px no-repeat;
    background-size: 300px;
    color: #333
}

.receiptClose {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) -75px -75px no-repeat;
    background-size: 300px;
    text-indent: -9999px
}

.receiptCont {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 60px
}

.receiptCont .nodata {
    padding: 100px 0;
    text-align: center;
    font-size: 12px;
    color: #bbb
}

.receipt {
    padding: 10px
}

.receipt .customer {
    padding: 2px 10px;
    background: #f5f6f7
}

.receipt .customer li {
    padding: 4px 0
}

.receipt .customer li:after {
    content: " "
}

.receipt .customer li div {
    float: left;
    width: 65%;
    color: #000;
    font-size: 14px
}

.receipt .customer li div.tit {
    width: 35%;
    color: #666
}

.receipt .store {
    padding: 15px 0;
    font-size: 11px
}

.receipt .store th {
    padding: 3px 10px;
    color: #666;
    text-align: left;
    font-weight: 400
}

.receipt .store td {
    padding: 3px 10px;
    color: #000;
    text-align: left
}

.receipt .store td .name {
    position: relative;
    display: inline-block
}

.receipt .store td .name .sign {
    position: absolute;
    top: 50%;
    right: -10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/sign.png) no-repeat;
    background-size: 20px;
    text-indent: -9999px
}

.receipt .store td li {
    line-height: 1.6em;
    color: #666
}

.receipt .orderNum {
    padding: 2px 10px;
    margin: 0 0 8px;
    background: #eff3ff
}

.receipt .orderNum li {
    padding: 4px 0;
    font-size: 13px;
    color: #333;
    font-weight: 700
}

.orderTb {
    border: 1px solid #ededed;
    margin-bottom: 8px
}

.orderTb table {
    width: 100%
}

.orderTb thead th {
    padding: 9px 0;
    border-bottom: 1px solid #ededed;
    background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_tb.gif) 0 center no-repeat #fafafa;
    background-size: 1px 9px;
    text-align: center;
    font-size: 11px;
    color: #888
}

.orderTb tbody th,.orderTb td {
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    padding: 10px
}

.orderTb tbody th {
    color: #333;
    font-weight: 400
}

.orderTb tbody th .sum {
    font-size: 12px;
    color: #3874ec
}

.orderTb tfoot th {
    padding: 9px 10px;
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    font-weight: 400;
    text-align: left;
    vertical-align: top
}

.orderTb tfoot td {
    border-top: 1px solid #ededed!important;
    color: #3874ec
}

.orderTb2 th {
    color: #666
}

.orderTb3 td {
    color: #3874ec
}

.receiptNoteList li {
    position: relative;
    padding: 0 0 0 9px;
    margin-bottom: 5px;
    font-size: 11px;
    color: #888;
    line-height: 1.6em
}

.receiptNoteList li:before {
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    top: 7px;
    left: 0;
    overflow: hidden;
    background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/bg_common.png) -25px -50px no-repeat;
    background-size: 300px
}

.receiptNote>dt {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed
}

.receiptNote>dt a {
    position: relative;
    display: block;
    padding: 17px 9px;
    font-size: 13px;
    font-weight: 700;
    color: #666;
    line-height: 1em
}

.receiptNote>dt a.dtOn:before {
    background-position: -75px 0;
    background-size: 300px
}

.receiptNote>dd {
    padding: 10px;
    background: #fafafa;
    font-size: 11px;
    color: #888
}

.receiptNote dd .tit {
    padding: 10px 0 5px 10px;
    color: #333;
    font-weight: 700
}

.receiptNote dd .noteCont {
    padding: 0 0 0 10px;
    line-height: 1.6em
}

.receiptNote dd .receiptNoteList li:before {
    background-position: -100px -50px
}

.receiptNote dd .noteEx {
    padding: 10px 0
}

.receiptNote dd .noteEx dt {
    padding: 0 10px;
    color: #333
}

.receiptNote dd .noteEx dd {
    padding: 0 10px
}

.receiptNote dd {
    overflow: hidden
}

.receiptNote dd .noteCont .tit {
    padding-left: 0
}

.receiptNote dd .receipt_laws {
    text-align: center;
    margin-top: 10px
}

.receiptNote dd .receipt_laws p {
    text-align: left;
    padding-top: 0
}

.receiptNote dd .receipt_laws ul li {
    float: left;
    width: 48%
}

.receiptNote dd .receipt_laws ul li:first-child {
    margin-right: 4%
}

.receiptNote dd .receipt_laws ul li a {
    display: inline-block;
    height: 22px;
    border: 1px solid #ddd;
    line-height: 22px;
    padding: 0 6px;
    background: #fff;
    text-align: center;
    font-size: 10px;
    color: #888
}

.receiptCont .receipt_LawsPop {
    left: 0;
    position: fixed;
    z-index: 9000;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5)
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont {
    text-align: center;
    width: 90%;
    background: #fff;
    position: fixed;
    z-index: 9200;
    left: 0;
    top: 50%;
    margin-top: -140px;
    margin-left: 5%;
    border-radius: 15px;
    padding-bottom: 10px
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont ul li .nubMargin,.receiptCont .receipt_LawsPop .receipt_LawsPopCont ul li dl .numMargin {
    margin-left: -10px
}

.receiptCont .receipt_LawsPop.typeB .receipt_LawsPopCont {
    top: 42%
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont h2 {
    padding: 15px;
    text-align: center;
    font-size: 12px;
    background: #f6f6f6;
    border-radius: 20px 20px 0 0;
    letter-spacing: -1px
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont ul {
    padding: 25px 15px 0;
    text-align: left
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont ul li {
    position: relative;
    padding: 0 0 15px 8px;
    font-size: 12px
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont ul li dl {
    padding-left: 10px
}

.receiptCont .receipt_LawsPop .receipt_LawsPopCont a {
    display: block;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
    font-size: 14px
}

.receiptCont .receipt_LawsPop.typeB .receipt_LawsPopCont ul li dl dt {
    padding-top: 5px
}
