@charset "utf-8";

/* layer popup */
.layerPop{position:fixed; width:100%; top:0; left:0; background:#fff; z-index:600;overflow-y:auto; max-height:100%;}
#container ~ .layerPop{padding-bottom:50px}
.layerPop #head_sub {position:fixed; left:0; top:0;}
.layerPop #head_sub h2{background:#f3f3f3;border-bottom:1px solid #d0d0d0;color:#333;text-align:left;padding-left:10px;}
.layerPop #head_sub .close a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat;background-size:12px 12px;}

.detailQuick .quick {width:32px;height:16px;padding:8px 0;z-index:5000;text-indent:-9999px;text-align:center;}
.detailQuick .goBack {left:7px;bottom:54px;background:rgba(0,0,0,0.3) url(http://image.lotte.com/lotte/mo2015/angular/detail/btn_quick1.png) center center no-repeat;background-size:16px;}
.detailQuick .goTop {right:7px;bottom:54px;background:rgba(0,0,0,0.3) url(http://image.lotte.com/lotte/mo2015/angular/detail/btn_quick2.png) center center no-repeat;background-size:16px;}

/*팝업*/
.popup {position:fixed;display:none;top:50%;left:50%;width:300px;height:248px;margin:-124px 0 0 -150px;background:#fff;border-radius:15px;-webkit-border-radius:15px;z-index:5002;}
.popup h6 {padding:12px 0;background:#f6f6f6;text-align:center;font-size:17px;color:#333;border-radius:15px 15px 0 0;}
.popup .con_gift ul {width:100%; padding:5px 0; margin:15px 0; overflow:hidden;}
.popup .con_gift ul li {width:50%; float:left; text-align:center; margin-left:-1px;}
.popup .con_gift ul li:nth-child(1) {border-right:1px solid #f6f6f6;}
.popup .con_gift ul li p {padding-top:5px;}
.popup .txt_gift {text-align:center; color:#999; clear:both;}
.popup .close {display:block;width:100%; height:35px; line-height:35px; position:absolute; left:0; bottom:0; border-top:1px solid #e6e6e6;text-align:center;border-radius:0 0 15px 15px;font-size:13px;color:#333;}

/*말풍선*/
.helpLayer {position:absolute; display:none; left:50%; top:50%; width:300px; margin-left:-170px; border:1px solid #719cff; padding:20px; background:#fff; color:#888; font-size:12px; z-index:10;}
.helpLayer.lottePointPlusCard,
.helpLayer.giftPrice,
.helpLayer.lottePointPlusCard,
.helpLayer.rentalOnly {margin-top:0px;}

.helpLayer.rentalOnly, .helpLayer.rentalOnlyError{width: 234px; margin-left: -140px;letter-spacing: -1px}

.helpLayer h6 {font-size:14px; padding-bottom:5px; color:#000; line-height:17px; font-weight:bold;}
.helpLayer h6 strong {font-size:15px;}
.helpLayer h6 span {font-size:10px; font-weight:normal;}
.helpLayer p.tit {padding:10px 0 5px 0; color:#333; font-weight:bold;}
.helpLayer ol li {list-style-type:decimal; margin-left:20px; font-size:11px; padding-bottom:5px;}
.helpLayer .close {width:12px; height:12px; display:block; position:absolute; right:5px; top:5px; background:url(http://image.lotte.com/lotte/mo2015/angular/common/help_close.png) no-repeat; background-size:12px;}
