
 @charset 'utf-8';

.cs_ico::before,
.cs_ico::after,
.cs_my section::before,
.cs_lotte::before,
.cs_lotte section::before {position:absolute; overflow:hidden; content:''; display:block; background-image:url('http://image.lotte.com/lotte/mo2015/angular/detail/gucci_question.png'); background-repeat:no-repeat; background-size:80px 80px;}
#custcenter {width:100%; padding:30px 0 200px 0; overflow:hidden; background-color:#f2f2f2;}
#custcenter .btn_continue {height:45px; border-radius:5px; line-height:45px; margin:20px 13px; background:#a59a69; color:#fff; text-align:center; clear:both; font-size:16px;}
#custcenter .btn_continue:active {background:#999;}

#write_box {width:100%; padding:9px 0; background:#dcdcdc; position:fixed; bottom:0; left:0; z-index:300;}
#write_box .input_wrap {padding:0 165px 0 50px; position:relative;}
#write_box .input_wrap textarea.textarea {left:50px; top:0; height:64px; padding:8px 80px 8px 10px; background:#fff; border:0; outline:0; line-height:16px; width:100%; border-radius:3px;}
#write_box .input_wrap.noca {padding-left:10px;} 
#write_box .input_wrap .byte {height:16px; position:absolute; padding:8px 0; right:95px; top:0; background:#fff; line-height:16px; text-align:right; width:60px; font-size:11px; color:#999;}
#write_box button {border:0; border-radius:5px; padding:0; outline:0; width:54px; height:32px; line-height:32px; position:absolute; right:9px; font-size:13px; top:9px; background-color:#a59a69; text-align:center; color:#fff;}
input.hide {visibility:hidden; position:absolute; left:-1000px;}

.cs_lotte {padding:15px 26px 0 26px; margin:0 0  30px 0; color:#333; position:relative; clear:both;}
.cs_lotte::before {left:14px; top:5px; width:45px; height:13px; background-position:0 0;}
.cs_lotte section {display:inline-block;position:relative; margin-top:5px; padding:15px;padding-top:12px;border-radius:0 9px 9px 9px; background-color:#fff;}
.cs_lotte section strong {color:#a59a69; font-weight:normal;}
.cs_lotte section::before {left:-11px; top:0; width:11px; height:10px; background-position:0 -40px;}
.cs_lotte .button {padding-top:8px;}
.cs_lotte .button span {display:inline-block; width:100px; color:#999; border-radius:14px; text-align:center; height:28px; line-height:28px; border:1px solid #dddddd;}
.cs_lotte .button span.on {color:#467eff; border-color:#467eff;}
.cs_lotte .date {position:absolute; left:0; bottom:-18px; font-size:12px; color:#999;}
.cs_lotte .status {position:absolute; right:0; bottom:-18px; font-size:11px;padding-top:3px;}
.cs_lotte dl {width:250px; text-align:left; clear:both;margin-top:-2px;overflow:hidden;}
.cs_lotte dl dt {float:left;width:65px;}
.cs_lotte dl dt img {width:54px; height:54px; border:1px solid #ddd;}
.cs_lotte dl dd {float:left;width:185px;}
.cs_lotte dl dd p.pname {line-height:16px;}
.cs_lotte dl dd p.presult {margin-top:2px; overflow:hidden;}
 
.cs_my {padding:0 26px; text-align:right; margin:-10px 0 20px 0;color:#333; position:relative;}
.cs_my p {text-align:left}
.cs_my .myName {font-size:11px;color:#333;text-align:right;margin-right:-10px;}
.cs_my section {display:inline-block; position:relative; margin-top:5px; padding:15px; border-radius:9px 0 9px 9px; background-color:#e1d9b5;}
.cs_my section strong {color:#a59a69; font-weight:normal;}
.cs_my section::before {right:-11px; top:0; width:11px; height:10px; background-position:0 -18px;}
.cs_my .date {position:absolute; right:0; bottom:-18px; font-size:12px; color:#999;}
.cs_my ul {width:100%; clear:both; padding:10px; text-align:left;}
.cs_my ul li {display:inline-block; width:60px;}
.cs_my ul li img {width:54px; height:54px; border:1px solid #ddd;}
.cs_my .select_mask {display:none;} 
.cs_my dl {width:100%; padding-top:10px; text-align:left; clear:both; overflow:hidden;}
.cs_my dl dt {width:70px; height:70px; float:left;}
.cs_my dl dt img {width:54px; height:54px; border:1px solid #ddd;}
.cs_my dl dd {width:150px; height:70px; float:left;}
.cs_my dl dd p.pname {height:32px; overflow:hidden; line-height:16px;}
.cs_my dl dd p.presult {height:16px; margin-top:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cs_my p.order_num {font-size:15px; padding:10px 0; border-bottom:1px solid #e3ebfc; text-align:left;}
