    <!-- 기본정보 데이터 실패 -->
    <div class="loadingFail" ng-if="loadingFail">
        <div>
            <p>판매종료된 상품입니다.</p>
        </div>
    </div>

<section ng-if="isBasicData" class="gucci_con">
	<div class="gucci_title">구찌 공식 스토어</div>
    <header-sub-gucci></header-sub-gucci>

    <section class="gucci_slide_image">
            <div class="slide_image_wrap" ng-controller="lotteNgSwipeCtrl"  style="height:300px;">
                <ul class="swiper-wrapper" lotte-ng-list-swipe swipe-slide-item="true" swipe-list-model="imageList" swipe-max-ratio="0.2" swipe-min-distance="40" >
                    <li ng-repeat="sctg in imageList"  class="swiper-slide"><img ng-src="{{sctg.imgUrl}}" alt="상품이미지" /></li>
                </ul>
                <!-- 스와이프 페이지 -->
                <div class="gucci_page" ng-if="imageList.length > 0">
                    <span ng-class="{on:swipeIdx == $index}" ng-repeat="item in imageList"></span>
                </div>
                <!-- <div class="zoom_view_btn"><a href="#none">확대보기</a></div>-->
            </div>
    </section>
    <section class="gucci_product_title">
            <h3 class="product_name">{{BasicData.product.mgoods_nm}}</h3>
            <p class="share_sns"><a ng-click="showSharePop({shareImg:share_img, goodsNo:reqParam.goods_no});" >공유하기</a></p><!--2017.02.01 공유하기 추-->
    </section>
    <section class="gucci_product_option">
        <form name="frm_input" id="frm_input" style="display:block"  onsubmit="return false;">
            <input type="hidden"  name="invMgmtYn" value="{{BasicData.product.inv_mgmt_yn}}" />
            <input type="hidden"  name="mdl_no" value="{{BasicData.product.model_no}}" />

            <dl>
                <dt><span>판매가</span></dt>
                <dd><span class="price">{{Fnproductview.getNumberFormat(BasicData.product.sale_prc)}}</span></dd>
            </dl>
            <div style="display:none">
            <dl ng-repeat="itemDtl in BasicData.product.item_dtl.items" >
                <dt><label for="option1">{{itemDtl.name }}</label></dt>
                <dd>
                    <input type="hidden" name="opt_name{{$index+1}}" value="{{itemDtl.name }}" />
                    <div class="s_box02">
                        <select id="opt_value{{$index+1}}" name="opt_value{{$index+1}}" ng-model="item_no" ng-change="optionChange({{$index+1}}, this)">
                            <option value="">선택하세요</option>
                            <option ng-repeat="item in itemDtl.item.items" ng-model="item_no"  ng-selected="selectedItem == item.item_no" ng-disabled="item.opt_stk_yn=='Y' && item.opt_cnt=='0'" value="{{item.opt_value }}^{{item.item_no}}^{{item.opt_stk_yn}}^{{item.opt_cnt}}">{{(item.opt_stk_yn=='Y' && item.opt_cnt=='0')?'(품절)':''}}{{item.opt_value }}</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl ng-if="btnDispTp == '00'">
                <dt><label for="option2">수량</label></dt>
                <dd>
                    <button class="qty_minus" onclick="setOptsQty(-1)"><span>-</span></button>
                    <span class="qty_number">
                        <input class="qty_input" type="number" id="optQty" name="opt_qty" value="{{BasicData.product.min_lmt_qty}}">
                    </span>
                    <button class="qty_plus" onclick="setOptsQty(1)"><span>+</span></button>
                </dd>
            </dl>
        </form>

        <!--버튼영역-->
        <div ng-switch on="btnDispTp">
            <div ng-switch-when="01" class="end">죄송합니다. T월드를 통해서 오신 경우<br/>이 상품은 구매하실 수 없습니다.<br/>바로 방문으로 구매해 주세요.</div>
            <div ng-switch-when="02" class="end">죄송합니다. 모바일에서 주문할 수 없는 <br/>상품입니다.컴퓨터로 접속 후 이용해 주세요.</div>
            <div ng-switch-when="03" class="end">죄송합니다. 모바일에서 주문할 수 없는 <br/>상품입니다.컴퓨터로 접속 후 이용해 주세요.</div>
            <div ng-switch-when="04" class="end">죄송합니다. 모바일에서 주문할 수 없는 <br/>상품입니다.컴퓨터로 접속 후 이용해 주세요.</div>
            <div ng-switch-when="05" class="end">죄송합니다. 모바일에서 주문할 수 없는 <br/>상품입니다.컴퓨터로 접속 후 이용해 주세요.</div>
            <div ng-switch-when="06" class="end">죄송합니다. 모바일에서 주문할 수 없는 <br/>상품입니다.컴퓨터로 접속 후 이용해 주세요.</div>
            <div ng-switch-when="07" class="sold_out">죄송합니다. 본 상품은 품절 상태입니다.</div>
            <div ng-switch-when="08" class="sold_out">죄송합니다. 본 상품은 품절 상태입니다.</div>
            <div ng-switch-when="09" class="sold_out">죄송합니다. 본 상품을 구매하실 수 없습니다.</div>
            <div ng-switch-default>
                <ul class="order_button_list">
                    <li class="wishlist_button"><a href="javascript:openOptionCheck('wish');">위시리스트</a></li>
                    <li class="cart_button"><a href="javascript:openOptionCheck('cart');">장바구니</a></li>
                    <li class="quick_order_button"><a href="javascript:openOptionCheck('buy');">바로구매</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //gucci product option -->

    <!-- gucci other product -->
    <section ng-if="BasicData.product_list.products.total_count > 0" class="gucci_other_product">
        <h4 class="title">다른 옵션 보기</h4>
        <div class="other_product_list">
            <ul style="width:{{(BasicData.product_list.products.items.length * 98) + 15}}px">
				<li ng-repeat="item in BasicData.product_list.products.items" ng-model="item_no"><a ng-click="goProduct_view(item.goods_no)">
                <img ng-src="{{item.img_url0}}" alt="{{item.goods_nm}}"/></a></li> <!--  onerror="chImg(this,150)" -->
            </ul>
        </div>
    </section>
    <!-- //gucci other product -->
    <!-- 2017.02.01 기획전 안내 -->
    <section class="related_events" ng-if="relatedEvents.planshopNo != null && relatedEvents.planshopNo != '' ">
        <dl>
            <dt>관련 기획전</dt>
            <dd>
				<ul>
					<li ng-repeat ="item in BasicData.product.planshop.items"><a ng-click="productListUrl(item,$index+1)" href="#">{{item.planshopNm}}</a></li>
				</ul>
            </dd>
        </dl>
    </section>
	<!-- //2017.02.01 기획전 안내 -->
    <!-- gucci md notice -->
    <section class="gucci_md_notice">
        <div ng-if="BasicData.product.md_ntc_fcont != '' || BasicData.product.md_ntc_fcont1 != '' || BasicData.product.md_ntc_fcont2 != ''" class="md_notice_box" ng-bind-html="mdNtcFcont"></div>
		<!-- 2017.02.01 카드 혜택안내 -->
		<div class="card_benefit_dsc">
			<ul>
			  <li><!-- (D) 활성화시 class="on" 추가 -->
				<button class="toggle_button"><h4 class="title">카드 혜택안내</h4></button>
				<div class="content">
			  	  <div class="prom_wrap" ng-if="dispPromInfo && dispPromInfo.length > 0">
                      <h5 class="detail_title">청구할인 안내</h5>
                      <a id="prom_pop" class="btn_detail" href="javascript:$('#prom_msg_layer').css('top', ($('#prom_pop').offset().top - 26) + 'px');$('#prom_msg_layer').show();">자세히</a>
					  <ul class="txt_line">
						<li ng-repeat="item in dispPromInfo | orderBy:sort">
							<div ng-if="item.prom_dscnt_prc == 0 || item.prom_dscnt_prc == '0'">
                                <span ng-style="{ 'visibility' : $index > 0 ? 'hidden' : 'visible' }" class="prom_sale">카드청구할인</span>
								<span class="prom_sale_info">{{item.info}}</span>
							</div>
							<div ng-if="item.prom_dscnt_prc != 0 && item.prom_dscnt_prc != '0'">
                                <span ng-style="{ 'visibility' : $index > 0 ? 'hidden' : 'visible' }" class="prom_sale">카드청구할인</span>
								<strong class="prom_prc">{{Fnproductview.getNumberFormat(item.prom_dscnt_prc)}}원</strong>&nbsp;
								<span class="prom_sale_info">{{item.info}}</span>
							</div>
						</li>
					  </ul>
				  </div>
				  <h5 class="detail_title">무이자 할부 안내</h5>
				  <ul class="txt_line">
					<li>카드사와 결제금액에 따라 최대 2~10개월 무이자 할부</li>
					<li class="card_installment"><img ng-src="{{BasicData.product.nint_card_img_url}}" alt="#"></li>
				  </ul>
				</div>
			  </li>
			</ul>
		</div>
    	<!-- //2017.02.01 카드 혜택안내 -->
        <dl>
            <dt>상품코드</dt>
            <dd>{{reqParam.goods_no }}</dd>
        </dl>
        <dl>
            <dt>구찌상품코드</dt>
            <dd>{{BasicData.product.model_no}}</dd>
        </dl>
        <dl>
            <dt>상품정보</dt>
            <!-- <dd ng-bind-html="Fnproductview.replaceAll(BasicData.product.dtl_info_fcont, ';', '<br/>')"> -->
            <dd ng-bind-html="BasicData.product.dtl_info_fcont" class="prd_detail">
                <!--<product-detail-html class="gucci_detail_info"></product-detail-html>-->
            </dd>
        </dl>
    </section>
    <!-- //gucci md notice -->

    <!-- gucci product info -->
    <gucci-product-info></gucci-product-info>

    <!-- gucci new product -->
    <section ng-if="BasicData.product_list2.products.total_count > 0" class="gucci_new_product">
        <h4 class="title">해당 카테고리 신상품</h4>
        <ul>

        <c:forEach var="item" items="${productList2}" varStatus="cnt" begin="1" end ="4">
            <li ng-repeat="item in BasicData.product_list2.products.items | filter:($index < 4)" ng-model="item_no">
                <article>
                    <a href="javascript:productView('{{item.disp_no }}', '${item.goods_no}')">
                        <div class="prd_img"><img ng-src="{{item.img_url}}" alt=""></div>
                        <dl class="prd_info">
                            <dt class="name">상품명 :</dt>
                            <dd class="name"><span>{{item.goods_nm}} </span></dd>
                            <dt class="price">현재가 :</dt>
                            <dd class="price"><span>{{Fnproductview.getNumberFormat(item.sale_prc)}}</span></dd>
                        </dl>
                    </a>
                </article>
            </li>
        </c:forEach>

        </ul>
    </section>

	<!--청구할인 popup 2017.10.30-->
    <div class="quick_tooltip" id="prom_msg_layer">
        <div class="tt_box">
	        <a class="tt_close" href="javascript:$('#tt_layer,#prom_msg_layer').hide();$('#prom_pop,#qt_pop_v2').removeClass('on')"><img src="http://image.lotte.com/lotte/mo2017/product/ic_close.png"></a>
            <p class="tt_t1">청구할인 안내</p>
           	<ul class="list_wrap">
           		<li ng-repeat="items in totalPromInfo | toArray | orderBy:'sort'">
           			<p class="tt_t2">{{items.arr[0].card_knd_nm}}카드</p>
           			<ul class="prom_list">
           				<li ng-repeat="item in items.arr">{{item.lmt_amt_kr}} 이상 {{item.fvr_val}}% 청구할인</li>
           			</ul>
           			<p class="lmt_info">1일 할인한도 최대 {{items.arr[0].max_fvr_kr}}</p>
           		</li>
           	</ul>
        </div>
    </div>

    <gucci-bottom-menu></gucci-bottom-menu>
    <lotte-footer-product-optionbar ></lotte-footer-product-optionbar>
</section>
