@charset "utf-8";
/* ---------------------------------------------------------------------- common ---------------------------------------------------------------------- */
/* input type */
input.check01[type="checkbox"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/category_design_check.png) no-repeat 0 0;background-size:50px 25px;width:20px;height:20px;appearance:none;-webkit-appearance:none}
input.check01[type="checkbox"]:checked {background-position:-25px 0}
input.check01[type="checkbox"]:disabled {background-position:0 0}
input.check02[type="radio"] {cursor:pointer;background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/category_design_radio.png) no-repeat 0 0;background-size:50px 25px;width:20px;height:20px;appearance:none;-webkit-appearance:none}
input.check02[type="radio"]:checked {background-position:-25px 0}
input.check02[type="radio"]:disabled {background-position:0 0}

.gucci_con{background:#fff}

/* sub head */
/*#gucciSubHead{position:relative}
#gucciSubHead > h2{background-color:#25211e;padding:13px 0;box-sizing:border-box;-webkit-box-sizing:border-box;border-bottom:1px solid #292522}
#gucciSubHead > h2 > a{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_header.png) no-repeat 0 0;background-size:90px 160px;color:#fff;position:relative;width:82px;height:14px;display:block;text-indent:-9999em;margin:0 auto}
#gucciSubHead > .prev{top:0;left:0;position:absolute}
#gucciSubHead > .prev > a{font-size:0;display:block;height:36px;width:30px;padding:0;color:#fff;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
#gucciSubHead > .prev > a:before{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_header.png) no-repeat 10px -37px;background-size:90px 160px;width:29px;height:40px;top:0px;left:0px;border:none;position:absolute;box-sizing:border-box;-webkit-box-sizing:border-box;content:""}
#gucciSubHead > nav{background-color:#25211e;height:34px;line-height:34px}
#gucciSubHead > nav > .ctg_list_big:after{clear:both;content:"";display:block}
#gucciSubHead > nav > .ctg_list_big > li{background:url(http://image.lotte.cbom/lotte/mobile/mobile_new/brandshop/gucci/gucci_navi_line.png) no-repeat right center;background-size:1px 7px;float:left;width:25%;text-align:center}
#gucciSubHead > nav > .ctg_list_big > li:last-child{background:none}
#gucciSubHead > nav > .ctg_list_big > .big_on > .btn_ctg_big{background:#f9f8f1;color:#25211e}
#gucciSubHead > nav > .ctg_list_big > li > a{display:block;font-size:14px;font-weight:bold;color:#fff;height:34px;line-height:34px}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid{display:none;width:100%;position:absolute;top:75px;left:0}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li{position:relative}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .btn_ctg_mid{background-color:#f9f8f1;display:block;border-bottom:1px solid #e7e7e7;color:#7c6a1f;font-size:13px;font-weight:bold;text-align:left;padding-left:22px;height:38px;line-height:38px}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .btn_ctg_mid:after{content:"";background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_header.png) no-repeat 0 -150px;background-size:90px 160px;width:14px;height:8px;display:block;position:absolute;top:16px;right:22px}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li.mid_on > .btn_ctg_mid:after{background-position:0 -100px}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .btn_ctg_all{background-color:#fff;position:absolute;top:7px;right:21px;border:1px solid #9c9c9c;display:block;width:50px;height:21px;line-height:21px;color:#666;font-size:11px;font-weight:bold;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .ctg_list_sml{display:none;overflow:hidden;border-bottom:1px solid #f0f0f0;background:#fff}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .ctg_list_sml > li{width:50%;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;border-width:0 0 1px 0;border-style:solid;border-color:#f0f0f0}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .ctg_list_sml > li:nth-child(odd){border-right:1px solid #f0f0f0}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .ctg_list_sml > li:nth-last-child(1){border-bottom:none}
#gucciSubHead > nav > .ctg_list_big > li > .ctg_list_mid > li > .ctg_list_sml > li > .btn_ctg_sml{display:block;color:#252525;height:38px;line-height:38px;font-size:14px;text-align:left;padding-left:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}*/

/* sub title */
.gucci_sub_title > .title{background-color:#eee;color:#434343;font-size:13px;text-align:center;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:1;word-wrap:break-word;overflow:hidden;padding:14px 10px} /* 세로넓이 조정_김낙운_20150310 */

/* cs link */
.cs_link_area > ul{overflow:hidden}
.cs_link_area > ul > li{background-color:#000;float:left;width:50%}
.cs_link_area > ul > li > a{display:block;height:19px;text-align:center;margin:13px 0}
.cs_link_area > ul > li > a > span{background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/gucci_main_cs_btn_v2.png) no-repeat 0 0;background-size:85px 175px;text-indent:-9999px;padding-top:2px;display:inline-block}
.cs_link_area > ul > .faq_link > a{border-right:1px solid #69615a}
.cs_link_area > ul > .inquiry_link > a{border-left:1px solid #fff}
.cs_link_area > ul > .faq_link > a > span{background-position:0 2px;width:58px;height:16px}
.cs_link_area > ul > .inquiry_link > a > span{background-position:0 -50px;width:77px;height:16px}

/* ----------------------------------------------------------------------- main ----------------------------------------------------------------------- */
/* main visual */
.main_visual_area > ul > li{border-bottom:3px solid #25211e}
.main_visual_area > ul > li:last-child{border:none}

/* new arrivals */
.new_arrivals_area{background-color:#302b27}
.new_arrivals_area > .section_title > a{padding:23px 0 23px;display:block} /* 링크 추가_김낙운_20150303 */
.new_arrivals_area > ul{padding:0 10px;overflow:hidden}
.new_arrivals_area > ul > li{width:50%;float:left;padding:0 0 10px 5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.new_arrivals_area > ul > li:nth-child(2n+1){clear:both;padding:0 5px 10px 0}
.new_arrivals_area > ul > li > .prd_item > a{display:block;text-decoration:none}
.new_arrivals_area > ul > li > .prd_item > a:after{content:"";display:block;clear:both}
.new_arrivals_area > ul > li > .prd_item{position:relative;background-color:#fff}
.new_arrivals_area > ul > li > .prd_item:after{content:"";display:block;clear:both}
.new_arrivals_area > ul > li > .prd_item > a > .prd_img > img{width:100%;height:auto}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:9px 10px 16px}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dt{display:none}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dd.name{max-height:33px;height:33px;overflow:hidden;padding:0 0 12px 0;margin:0 0 12px 0;text-align:center;border-bottom:1px solid #e2e1e1}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dd.name > span{color:#000;font-size:14px;text-decoration:none;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;overflow:hidden}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dd.price{color:#333;font-size:12px;text-align:center}
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dd.price > span{font-weight:bold;font-size:14px;font-family:"Myriad Pro"} /* 가격 폰트 수정_김낙운_20150319 */
.new_arrivals_area > ul > li > .prd_item > a > .prd_info > dd.price > span:after{content:"원";font-size:12px;font-weight:normal}

/* main cs link */
.main_cs_link_area{background-color:#302b27}
.main_cs_link_area > ul{padding:0 10px 10px;overflow:hidden}
.main_cs_link_area > ul > li{background-color:#463f39;float:left;width:50%}
.main_cs_link_area > ul > li > a{display:block;height:19px;text-align:center;margin:13px 0}
.main_cs_link_area > ul > li > a > span{background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/gucci_main_cs_btn_v2.png) no-repeat 0 0;background-size:85px 175px;text-indent:-9999px;padding-top:2px;display:inline-block}
.main_cs_link_area > ul > .faq_link > a{border-right:1px solid #69615a}
.main_cs_link_area > ul > .inquiry_link > a{border-left:1px solid #fff}
.main_cs_link_area > ul > .faq_link > a > span{background-position:0 2px;width:58px;height:16px}
.main_cs_link_area > ul > .inquiry_link > a > span{background-position:0 -50px;width:77px;height:16px}

/* --------------------------------------------------------------------- category --------------------------------------------------------------------- */
/* gucci location */
.gucci_location_area > p{overflow:hidden;background-color:#eee;padding:14px 0 14px 22px}
.gucci_location_area > p > span{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_location_arrow.png) no-repeat right center;background-size:5px auto;padding-right:11px;margin-right:5px;font-size:13px;color:#313131;font-weight:bold;float:left;height:15px;line-height:15px}
.gucci_location_area > p > .last_location{background:none;padding:0;margin:0}

/* category list */
.gucci_category_list{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:auto;min-height:640px;background-color:#fff;overflow:hidden}
.gucci_category_list.category_list_none{background-color:#302b27}
.gucci_category_list > ul > li{clear:both;max-height:140px;border-bottom:1px solid #dcd8d5;padding:12px 10px}
.gucci_category_list > ul > li > .prd_item >a{display:block;text-decoration:none}
.gucci_category_list > ul > li > .prd_item >a:after{content:"";display:block;clear:both}
.gucci_category_list > ul > li > .prd_item{position:relative;height:110px}
.gucci_category_list > ul > li > .prd_item:after{content:"";display:block;clear:both}
.gucci_category_list > ul > li > .prd_item > a > .prd_img{width:110px;height:110px;position:absolute;top:0;left:0}
.gucci_category_list > ul > li > .prd_item > a > .prd_img > img{width:100%;height:100%}
.gucci_category_list > ul > li > .prd_item > a > .prd_info{margin-left:123px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px 0 0 0;min-height:122px}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dt{display:none}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dd.name{min-height:36px;overflow:hidden;padding:0 19px 0 0}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dd.name > span{font-weight:bold;color:#000;font-size:14px;text-decoration:none;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;line-height:130%;overflow:hidden}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dd.price{position:absolute;bottom:7px;color:#333;font-size:12px}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dd.price > span{font-weight:bold;font-size:15px}
.gucci_category_list > ul > li > .prd_item > a > .prd_info > dd.price > span:after{content:"원";font-size:12px;color:#333;font-weight:normal}
.gucci_category_list > .none_list{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci//bg_none_search_list.png) no-repeat 0 0;font-size:15px;color:#252525;width:266px;height:62px;background-size:266px auto;margin:33px auto;overflow:hidden;text-align:center;padding-top:24px;display:block}

/* filter bar */
.category_filter_wrap{position:relative;z-index:4}
.category_filter_wrap .bg_filter_dim{position:fixed;top:0;left:0;height:100%;width:100%;background-color:#000000;z-index:1;opacity:0.6;display:none}
.category_filter_wrap .bg_filter_dim.dim_on{display:block}
.category_filter_wrap > ul{z-index:2;position:fixed;bottom:51px;left:0;width:100%;height:54px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#ffffff;}
.category_filter_wrap > ul:after{content:"";display:block;clear:both}
.category_filter_wrap > ul > li{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left;width:50%;border-top:1px solid #a3a3a9;border-right:1px solid #a3a3a9}
.category_filter_wrap > ul > li:first-child > a{color:#333333}
.category_filter_wrap > ul > li > a{padding:20px 0 20px;display:block;width:100%;height:13px;line-height:13px;text-align:center;font-size:12px;font-weight:bold;position:relative;color:#333333;
	background:#f4f4f4;/* Old browsers */
	background:-moz-linear-gradient(top,  #f4f4f4 0%, #e5e5e5 50%, #bcbcbc 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#e5e5e5), color-stop(100%,#bcbcbc));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 50%,#bcbcbc 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 50%,#bcbcbc 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 50%,#bcbcbc 100%);/* IE10+ */
	background:linear-gradient(to bottom,  #f4f4f4 0%,#e5e5e5 50%,#bcbcbc 100%);/* W3C */
}
.category_filter_wrap > ul > li > a .filter_name{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/category_filterbar_checkbox.png) no-repeat left 0;background-size:25px 85px;padding-left:22px}
.category_filter_wrap > ul > li:first-child > a .filter_name{background-position:0 -70px}
.category_filter_wrap > ul > li.filter_active > a .filter_name{background-position:0 -35px}
.category_filter_wrap > ul > li .filter_layer{background-color:#ffffff;position:absolute;width:100%;left:0;bottom:-270px;z-index:-1}
.category_filter_wrap > ul > li .filter_layer h4{background-color:#eeeeee;height:45px;text-align:left;padding:0 0 0 20px;line-height:45px;color:#666666;font-size:13px;font-weight:normal}
.category_filter_wrap > ul > li .filter_layer .filter_wrap{max-height:230px;overflow:hidden;position:relative}
.category_filter_wrap > ul > li .filter_layer .filter_wrap .filter_list{-webkit-perspective:1000;-webkit-backface-visibility:hidden}
.category_filter_wrap > ul > li .filter_layer .filter_wrap .filter_list > ul{height:100%}
.category_filter_wrap > ul > li .filter_layer .filter_wrap .filter_list > ul li{position:relative}
.category_filter_wrap > ul > li .filter_layer .filter_wrap .filter_list > ul > li label{border-bottom:1px solid #f2f2f2;height:43px;line-height:42px;color:#252525;font-size:15px;display:block;padding:0 0 0 20px}
.category_filter_wrap > ul > li .filter_layer .filter_wrap .filter_list > ul > li input{position:absolute;top:11px;right:21px;vertical-align:middle}
.category_filter_wrap > ul > li .filter_layer > .btn_list{position:absolute;top:8px;right:13px;overflow:hidden}
.category_filter_wrap > ul > li .filter_layer > .btn_list > li{float:left}
.category_filter_wrap > ul > li .filter_layer > .btn_list > li:first-child{margin-right:5px}
.category_filter_wrap > ul > li .filter_layer > .btn_list > li.filter_close{margin-right:0}
.category_filter_wrap > ul > li .filter_layer > .btn_list > li a{color:#4e4e4e;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-sizing:border-box;-webkit-box-sizing:border-box;display:block;height:28px;line-height:28px;width:45px;background-color:#ffffff;border:1px solid #9c9c9c;text-align:center;font-size:13px}
.category_filter_wrap > ul > li select{position:absolute;top:0;left:0;width:100%;padding-top:46px;z-index:2;appearance:none;-webkit-appearance:none;border-radius:0;z-index:2;line-height:46px;text-align:center;font-size:12px;font-weight:bold;opacity:1;border:0;background-color:transparent;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}

/* --------------------------------------------------------------------- onenone ---------------------------------------------------------------------- */
/* slide image */
.gucci_slide_image{margin-bottom:13px}
.gucci_slide_image > .slide_image_wrap{position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;margin-bottom:40px}
.gucci_slide_image > .slide_image_wrap > ul{position:relative;left:0;}
.gucci_slide_image > .slide_image_wrap > ul > li{position:relative;float:left;padding-bottom:46px;box-sizing:border-box;-webkit-box-sizing:border-box;text-align:center}
.gucci_slide_image > .slide_image_wrap > .page{bottom:17px;text-align:center;position:absolute;left:0;width:100%}
.gucci_slide_image > .slide_image_wrap > .page > span{background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon.png) no-repeat -110px -82px;background-size:125px 400px;width:6px;height:6px;text-indent:-9999em;color:transparent;display:inline-block;margin:0 2px}
.gucci_slide_image > .slide_image_wrap > .page > span.swiper-active-switch {background-position:-96px -82px}
.gucci_slide_image > .slide_image_wrap > .zoom_view_btn{position:absolute;bottom:11px;width:100%}
.gucci_slide_image > .slide_image_wrap > .zoom_view_btn > a{display:block;margin:0 auto;position:relative;background:url(http://image.lotte.com/lotte/mobile/mobile_new/product/product_view.png) no-repeat -80px -45px;background-size:125px 300px;width:23px;height:23px;text-indent:-9999em;color:transparent}
.gucci_slide_image .gucci_page{bottom:-20px;text-align:center;position:absolute;left:0;width:100%}
.gucci_slide_image .gucci_page span{background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/icon.png) no-repeat -110px -82px;background-size:125px 400px;width:6px;height:6px;text-indent:-9999em;color:transparent;display:inline-block;margin:0 2px}
.gucci_slide_image .gucci_page span.on {background: url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/icon_gucci_page_btn.gif) no-repeat 0 0;background-size: 6px auto;}

/* zoom image */
.gucci_zoom_image{background-color:#fff;position:fixed;top:0;left:0;height:100%;width:100%;z-index:10;-webkit-transition-duration:300ms;transition-duration:300ms;transform:translate3d(0, 150%, 0);-webkit-transform:translate3d(0, 150%, 0)}
.gucci_zoom_image.on{z-index:9999;transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0)}
.gucci_zoom_image > .title{background-color:#eee;height:42px;line-height:42px;font-size:15px;padding-left:14px;color:#000}
.gucci_zoom_image > .zoom_big_wrap{position:relative}
.gucci_zoom_image > .zoom_big_wrap > ul{overflow:hidden;position:relative;left:0;background-color:#e7e7e7} /* 배경칼라변경_김낙운_20150305 */
.gucci_zoom_image > .zoom_big_wrap > ul > li{float:left;width:auto}
.gucci_zoom_image > .zoom_thum_list{overflow-x:scroll}
.gucci_zoom_image > .zoom_thum_list > ul{margin:13px auto;overflow:hidden}
.gucci_zoom_image > .zoom_thum_list > ul > li{float:left;position:relative;margin-right:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.gucci_zoom_image > .zoom_thum_list > ul > li:first-child{margin-left:11px}
.gucci_zoom_image > .zoom_thum_list > ul > li:last-child{margin-right:11px}
.gucci_zoom_image > .zoom_thum_list > ul > li > a{display:block;width:88px;height:88px}
.gucci_zoom_image > .zoom_thum_list > ul > li.on > a:after{content:"";display:block;position:absolute;top:0;left:0;width:86px;height:86px;border:1px solid #1a1a1a}
.gucci_zoom_image > .zoom_image_close{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_zoom_close_btn.png) no-repeat 0 0;background-size:17px 17px;position:absolute;top:13px;right:10px;width:17px;height:17px;text-indent:-9999px}

/* product title */
.gucci_product_title{padding:0 19px 20px}
.gucci_product_title > .product_name{width:100%;font-size:15px;color:#000;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:1;word-wrap:break-word;line-height:130%;overflow:hidden}
.gucci_product_title > .product_name > .brand_name{display:block}

/* product option */
.gucci_product_option{padding:7px 0;border-top:1px solid #dbd8d6}
.gucci_product_option > form{padding:0 19px}
.gucci_product_option > form > dl{box-sizing:border-box;-webkit-box-sizing:border-box}
.gucci_product_option > form > dl:last-child{margin-bottom:13px}
.gucci_product_option > form > dl > dt{clear:both;float:left;width:30%;padding:5px 5px 0 8px;color:#666;font-size:11px;height:41px;box-sizing:border-box;-webkit-box-sizing:border-box}
.gucci_product_option > form > dl > dt > label{display:table-cell;vertical-align:middle;height:34px;padding-top:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.gucci_product_option > form > dl > dt > span{display:table-cell;vertical-align:middle;height:34px;box-sizing:border-box;-webkit-box-sizing:border-box}   /*20150708 수정 */
.gucci_product_option > form > dl > dd > .price{display:table-cell;vertical-align:middle;height:34px;box-sizing:border-box;-webkit-box-sizing:border-box;font-size:18px;color:#25211e;font-weight:bold;font-family:'Roboto', sans-serif}
.gucci_product_option > form > dl > dd > .price:after{content:"원";font-size:12px;color:#25211e;position:relative;top:-1px;font-weight:bold;font-family:'Roboto', sans-serif}
.gucci_product_option > form > dl > dd{overflow:hidden;text-align:right;padding:5px 0 0 0;box-sizing:border-box;-webkit-box-sizing:border-box} /*20150708 수정 */
.gucci_product_option > form > dl > dd > .s_box02{width:100%;background-image:linear-gradient(#fff, #f4f4f4)}
.gucci_product_option > form > dl > dd > .s_box02:after{background:none;width:0px;height:0px}
.gucci_product_option > form > dl > dd > .s_box02 > select{width:100%;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/ico_select.png) no-repeat right center;background-size:18px 6px;height:36px}
.gucci_product_option > form > dl > dd > button{width:36px;height:32px;background:#f7f7f7;border:1px solid #ccc;font-size:20px;color:#848484;vertical-align:middle;float:left}
.gucci_product_option > form > dl > dd > .qty_number{box-sizing:border-box;width:67px;height:32px;padding:0 10px;border-width:1px 0;border-style:solid;border-color:#ccc;background-color:#fff;float:left}
.gucci_product_option > form > dl > dd > .qty_number > input[type='number']{display:block;width:100%;height:100%;border:none;text-align:center;vertical-align:middle;appearance:none;-webkit-appearance:none;padding:8px;background-color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.gucci_product_option > .order_button_list{overflow:hidden;padding:0 10px}
.gucci_product_option > .order_button_list > li{float:left}
.gucci_product_option > .order_button_list > li.wishlist_button{width:30%}
.gucci_product_option > .order_button_list > li.cart_button{width:30%}
.gucci_product_option > .order_button_list > li.quick_order_button{width:40%}
.gucci_product_option > .order_button_list > li > a{height:44px;line-height:43px;display:block;box-sizing:border-box;-webkit-box-sizing:border-box;text-align:center;font-size:15px;font-weight:bold}
.gucci_product_option > .order_button_list > li.wishlist_button > a{border:1px solid #dbd8d6;color:#313131;margin-right:5px;line-height:41px}
.gucci_product_option > .order_button_list > li.cart_button > a{background-color:#a59a69;color:#fff;margin-right:5px}
.gucci_product_option > .order_button_list > li.quick_order_button > a{background-color:#25211e;color:#fff}

/* other product */
.gucci_other_product{padding:18px 0 8px;border-top:1px solid #dbd8d6}
.gucci_other_product > .title{font-size:14px;color:#333;margin-bottom:18px;text-align:center}
.gucci_other_product > .other_product_list{width:98%;height:103px;overflow-x:auto}
.gucci_other_product > .other_product_list > ul{width:auto}
.gucci_other_product > .other_product_list > ul > li{float:left;margin-right:5px}
.gucci_other_product > .other_product_list > ul > li:first-child{margin-left:10px}
.gucci_other_product > .other_product_list > ul > li:last-child{margin-right:10px}
.gucci_other_product > .other_product_list > ul > li > a{display:block}
.gucci_other_product > .other_product_list > ul > li > a > img{width:93px;height:93px}

/* md notice */
.gucci_md_notice{padding:0 0 9px 0}
.gucci_md_notice > .md_notice_box{border-top:1px solid #aea7a3;background-color:#f7f7f7;font-size:14px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box;padding:18px} /* md영역 수정_김낙운_20150304 */
.gucci_md_notice > .title{border-top:1px solid #aea7a3;background-color:#f7f7f7;font-size:15px;text-align:center;height:45px;line-height:41px;box-sizing:border-box;-webkit-box-sizing:border-box} /* 라인 설정 수정_김낙운_20150302 */
.gucci_md_notice > dl{padding:0 18px 7px;overflow:hidden}
.gucci_md_notice > dl:first-of-type{border-top:1px solid #dad7d6;padding-top:35px} /* 라인 설정 수정_김낙운_20150302 */
.gucci_md_notice > dl > dt{font-size:14px;color:#313131;width:90px;float:left;font-weight:bold;padding-right:3px}
.gucci_md_notice > dl:last-child > dt{padding:11px 3px 7px 0}
.gucci_md_notice > dl > dd{float:left;font-size:13px;color:#767676}
.gucci_md_notice > dl > dd > ul > li{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_onenone_dot.png) no-repeat left 7px;background-size:2px 2px;padding-left:6px;margin-bottom:9px;font-size:12px}

/* product info */
.gucci_product_info{padding:0 10px 25px}
.gucci_product_info > ul{border-bottom:1px solid #dbd8d6}
.gucci_product_info > ul > li > .toggle_button{background-color:#fff;width:100%;border-width:1px 1px 0 1px;border-style:solid;border-color:#dbd8d6;height:43px;text-align:left;font-size:13px;padding-left:8px;color:#313131;font-weight:bold;position:relative}
.gucci_product_info > ul > li > .toggle_button:after{content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/gucci_header_v2.png) no-repeat 0 -132px;background-size:90px 210px;width:12px;height:7px;display:block;position:absolute;top:18px;right:10px}
.gucci_product_info > ul > li.on > .toggle_button:after{background-position:0 -100px}
.gucci_product_info > ul > li > .content{background-color:#f7f7f7;border-top:1px solid #ececeb;padding:15px 0 0;font-size:12px;box-shadow:inset 0 2px 2px #e3e0de;-moz-box-shadow:inset 0 2px 2px #e3e0de;-webkit-box-shadow:inset 0 2px 2px #e3e0de;display:none;overflow:hidden;padding:11px 17px;color:#666}
.gucci_product_info > ul > li.on .content{display:block}
.gucci_product_info > ul > li > .content > .type_title{font-size:12px;color:#333;margin-bottom:7px}
.gucci_product_info > ul > li > .content > .detail_title{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_product_info_dot.png) no-repeat left 6px;background-size:2px 2px;padding-left:6px;font-size:12px;color:#333;margin-bottom:5px}
.gucci_product_info > ul > li > .content a{color:blue}
.gucci_product_info > ul > li > .content > p{padding-bottom:5px}
.gucci_product_info > ul > li > .content > .txt_line{padding-bottom:4px}
.gucci_product_info > ul > li > .content > .txt_line > li{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_product_info_line.png) no-repeat left 6px;background-size:6px 2px;padding-left:9px;font-size:12px;color:#333;margin:0 0 4px 6px}
.gucci_product_info > ul > li > .content > .txt_line > li.txt_number{padding:0;background:none}
.gucci_product_info > ul > li > .content > .txt_line > li.txt_number > ul.txt_line{padding-top:4px}
.gucci_product_info > ul > li > .content > .txt_line > li.txt_number > ul.txt_line > li{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_product_info_line.png) no-repeat left 6px;background-size:6px 2px;padding-left:9px;font-size:12px;color:#333;margin:0 0 4px 6px;text-indent:0}
.gucci_product_info > ul > li > .content > .txt_line > li > ul{padding-bottom:4px}
.gucci_product_info > ul > li > .content > .txt_line > li > ul > li{margin-bottom:4px;text-indent:-15px;padding-left:15px}
.gucci_product_info > ul > li > .content > .txt_number > li{font-size:12px;color:#333;margin:0 0 4px 6px;text-indent:-15px;padding-left:15px}
.gucci_product_info > ul > li > .content > .txt_number > li > ul > li{text-indent:0;margin-bottom:4px}
.gucci_product_info > ul > li > .content > table{border:1px solid #c2c2c2;margin-bottom:7px}
.gucci_product_info > ul > li > .content > table > thead > tr > th{background-color:#fff;text-align:center;color:#333;font-size:11px;height:28px;border:1px solid #c2c2c2}
.gucci_product_info > ul > li > .content > table > thead > tr > .table_tit{background-color:#dbd8d6;text-align:center;color:#333;font-size:11px;height:28px}
.gucci_product_info > ul > li > .content > table > tbody > tr > th,
.gucci_product_info > ul > li > .content > table > tbody > tr > td{background-color:#fff;text-align:center;color:#333;font-size:11px;height:28px;border:1px solid #c2c2c2}

/* new product */
.gucci_new_product{padding:22px 10px 6px;border-top:2px solid #606060}
.gucci_new_product > .title{font-size:15px;color:#333;margin-bottom:20px;text-align:center}
.gucci_new_product > ul{overflow:hidden}
.gucci_new_product > ul > li{float:left;width:50%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:5px}
.gucci_new_product > ul > li:nth-child(2n+1){clear:both;padding:0 5px 0 0}
.gucci_new_product > ul > li > article > a > dl{padding:13px 0 20px}
.gucci_new_product > ul > li > article > a > dl > dt{display:none}
.gucci_new_product > ul > li > article > a > dl > dd{font-size:12px;color:#333;font-weight:bold}
.gucci_new_product > ul > li > article > a > dl > dd.name{display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;line-height:130%;overflow:hidden;margin-bottom:10px;min-height:29px}
.gucci_new_product > ul > li > article > a > dl > dd.price{font-size:13px;font-family:"Myriad Pro"}
.gucci_new_product > ul > li > article > a > dl > dd.price:after{content:"원";font-size:12px;font-weight:normal}

/* -------------------------------------------------------------------- exhibition -------------------------------------------------------------------- */
/* select */
.gucci_exhibition_select{background-color:#eee;padding:10px 17px}
.gucci_exhibition_select > .select_box{width:100%;display:inline-block;vertical-align:middle;overflow:hidden}
.gucci_exhibition_select > .select_box > select{width:100%;background:url(http://image.lotte.com/lotte/mobile/mobile_new/common/ico_select.png) no-repeat right center #fff;background-size:18px 6px;height:36px;margin:0;font-size:13px;color:#434343;padding:0 20px 0 5px;border:solid 1px #dbdbdb;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box}

/* exhibition product */
.gucci_exhibition_product{padding:22px 10px 6px}
.gucci_exhibition_product > .title{font-size:15px;color:#333;margin-bottom:20px;text-align:center}
.gucci_exhibition_product > ul{overflow:hidden}
.gucci_exhibition_product > ul > li{float:left;width:50%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:5px}
.gucci_exhibition_product > ul > li:nth-child(2n+1){clear:both;padding:0 5px 0 0}
.gucci_exhibition_product > ul > li > article > a > dl{padding:13px 0 20px}
.gucci_exhibition_product > ul > li > article > a > dl > dt{display:none}
.gucci_exhibition_product > ul > li > article > a > dl > dd{font-size:14px;color:#333;font-weight:bold}
.gucci_exhibition_product > ul > li > article > a > dl > dd.name{display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:2;word-wrap:break-word;line-height:130%;overflow:hidden;margin-bottom:13px;font-weight:normal}
.gucci_exhibition_product > ul > li > article > a > dl > dd.price{font-size:16px;font-family:"Myriad Pro"}
.gucci_exhibition_product > ul > li > article > a > dl > dd.price:after{content:"원";font-size:15px;font-weight:normal}

/* more button add_kimnakun_20150204 */
/* more button */
.more_view{padding-bottom:25px}
/* //more button add_kimnakun_20150204 */

/* ----------------------------------------------------------------------- faq ------------------------------------------------------------------------ */
.gucci_faq_list > ul > li > a{display:block;border-width:1px 1px 0 1px;border-style:solid;border-color:#dbd8d6;padding:13px 30px 13px 38px;text-indent:-23px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:13px;color:#313131;font-weight:bold}
.gucci_faq_list > ul > li > a > em{padding-right:12px}
.gucci_faq_list > ul > li > ul{background-color:#edebe9;border-top:1px solid #dbd8d6;display:none}
.gucci_faq_list > ul > li > ul > li{border-top:1px solid #e3e0de;padding:13px 40px;font-size:12px;color:#313131;font-weight:bold}

/* --------------------------------------------------------------------- inquiry ---------------------------------------------------------------------- */
/* inquiry info */
.gucci_inquiry_info{border-bottom:2px solid #606060;padding:15px;font-size:12px;color:#333}

/* inquiry input */
.gucci_inquiry_input{padding:15px 15px 23px}
.gucci_inquiry_input > table{font-size:13px;color:#333;font-weight:bold}
.gucci_inquiry_input > table > tbody > tr > th{text-align:left;padding:13px 10px 0 0;vertical-align:top;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.gucci_inquiry_input > table > tbody > tr > td input[type="text"]{border:1px solid #afafaf;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px;height:28px;margin:7px 0;font-size:12px;color:#afafaf}
.gucci_inquiry_input > table > tbody > tr > td > ul{overflow:hidden}
.gucci_inquiry_input > table > tbody > tr > td > ul > li{float:left;width:22%;padding-bottom:10px}
.gucci_inquiry_input > table > tbody > tr > td > ul > li:nth-child(1),
.gucci_inquiry_input > table > tbody > tr > td > ul > li:nth-child(3){float:left;width:42%}
.gucci_inquiry_input > table > tbody > tr > td > ul > li:nth-child(2),
.gucci_inquiry_input > table > tbody > tr > td > ul > li:nth-child(4){float:left;width:36%}
.gucci_inquiry_input > table > tbody > tr > td > ul > li > input[type="radio"]{margin-right:4px}
.gucci_inquiry_input > table > tbody > tr > td > ul > li > label{font-size:12px}
.gucci_inquiry_input > table > tbody > tr > td > em{display:block;font-size:11px;color:#666}
.gucci_inquiry_input > table > tbody > tr > td > textarea{border:1px solid #afafaf;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px;margin:10px 0 7px;font-size:12px;color:#afafaf;padding:9px;width:100%;height:116px;line-height:130%}
.gucci_inquiry_input > table > tbody > tr > td > .tel_num{width:100%;overflow:hidden;margin:7px 0 10px}
.gucci_inquiry_input > table > tbody > tr > td > .tel_num > input[type="text"]{float:left;width:30%;margin:0;text-align:center}
.gucci_inquiry_input > table > tbody > tr > td > .tel_num > .s_box02{float:left;width:30%;background:none}
.gucci_inquiry_input > table > tbody > tr > td > .tel_num > .s_box02 > select{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_select_arrow.png) no-repeat right center;background-size:18px 7px;border:1px solid #afafaf;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#afafaf}
.gucci_inquiry_input > table > tbody > tr > td > .tel_num > .mid_line{float:left;height:28px;line-height:28px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:5%;text-align:center}
.gucci_inquiry_input > table > tbody > tr > td > .email_c{width:100%;overflow:hidden;margin:7px 0 10px}
.gucci_inquiry_input > table > tbody > tr > td > .email_c > input[type="text"]{float:left;width:40%;margin:0;text-align:center}
.gucci_inquiry_input > table > tbody > tr > td > .email_c > .s_box02{float:left;width:50%;background:none}
.gucci_inquiry_input > table > tbody > tr > td > .email_c > .s_box02 > select{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/gucci/gucci_select_arrow.png) no-repeat right center;background-size:18px 7px;border:1px solid #afafaf;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#afafaf}
.gucci_inquiry_input > table > tbody > tr > td > .email_c > .mid_line{float:left;height:28px;line-height:28px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:10%;text-align:center}
.gucci_inquiry_input > table > tbody > tr > td > .check_area{margin-bottom:7px}
.gucci_inquiry_input > table > tbody > tr:nth-child(1) > th{padding-top:4px}
.gucci_inquiry_input > table > tbody > tr:nth-child(2) > th{padding-top:11px}
.gucci_inquiry_input > table > tbody > tr:nth-child(2) > td > input[type="text"]{margin-top:5px;width:100%}
.gucci_inquiry_input > table > tbody > tr:nth-child(3) > td > input[type="text"]{margin-bottom:5px;width:55%}

/* inquiry button */
.gucci_inquiry_button{margin-bottom:30px}
.gucci_inquiry_button > ul{padding:0 15px;overflow:hidden}
.gucci_inquiry_button > ul > li{float:left;width:50%}
.gucci_inquiry_button > ul > li > a{display:block;height:44px;line-height:43px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:15px;font-weight:bold;color:#fff;text-align:center}
.gucci_inquiry_button > ul > li.cancel_button > a{background-color:#25211e;margin-right:5px}
.gucci_inquiry_button > ul > li.register_button > a{background-color:#a59a69;margin-left:5px}

/* ---------------------------------------------------------------------- footer ---------------------------------------------------------------------- */
#footer > .banner{margin-top:0 !important}
/* 20150216 품절상태일 때 추가*/
.gucci_product_option > .sold_out {padding:0 10px}
.gucci_product_option > .sold_out p{height:42px; line-height:42px;  border:1px solid #ccc; text-align:center; font-size:12px; font-weight:bold; color:#b0a670}

.loadingFail {display:table; width:100%; height:300px;}
.loadingFail>div {display:table-cell; vertical-align: middle;}
.loadingFail>div p {text-align: center;font-size: 15px;line-height: 1.4;color:#bbb;box-sizing:border-box;-webkit-box-sizing:border-box}

/*2016.08.26 info 수정*/
.gucci_product_info > ul > li > .content {background-color: #edebe9}
.gucci_product_info > ul > li > .content > .detail_title{display: none}
.gucci_product_info > ul > li.gift_detail > .content{padding:10px}
.gucci_product_info > ul > li.gift_detail > .content p{width:100%;height:140px;margin-bottom:5px;text-align:center}
.gucci_product_info > ul > li.gift_detail > .content img{height:100%;width:auto;max-width:100%}

/* 2017.01.31 카드혜택 안내*/
.gucci_product_title {position:relative;padding: 0 50px 20px 19px;}
.gucci_product_title .share_sns{position:absolute;top:7px;right:0;}
.gucci_product_title .share_sns a{position: relative;font-size: 0;text-indent: 0;background: 0 0;width: auto;height: 19px;line-height: 20px;display: block;padding-right: 20px;padding-left: 15px;}
.gucci_product_title .share_sns a:before{position: absolute;left: 0;top: 0;content: "";display: block;background: url(http://image.lotte.com/lotte/mo2015/angular/common/ic_sns.png) no-repeat;background-size: 15px 16px;width: 15px;height: 16px;}

.related_events { padding: 20px 18px;border-top: 1px solid #dbd8d6;}
.related_events > dl {overflow: hidden}
.related_events > dl > dt{font-size:14px;color:#313131;width:90px;float:left;font-weight:bold;padding-right:3px}
.related_events > dl > dd{font-size:13px;color:#767676;overflow:hidden}
.related_events > dl > dd > ul li {font-size:13px;color:#333;max-height:17px;overflow:hidden;padding-top:5px;display: -webkit-box;-webkit-box-orient: vertical;text-overflow: ellipsis;-webkit-line-clamp: 1;word-wrap: break-word;}
.related_events > dl > dd > ul li:first-child{padding-top:0}
.related_events > dl > dd > ul li a{ text-decoration: underline;color:#333}

.gucci_md_notice > .md_notice_box{background-color:#fff}
.card_benefit_dsc{padding:0 10px 20px}
.card_benefit_dsc > ul{border-bottom:1px solid #dbd8d6}
.card_benefit_dsc > ul > li > .toggle_button{background-color:#fff;width:100%;border-width:1px 1px 0 1px;border-style:solid;border-color:#dbd8d6;height:43px;text-align:left;font-size:13px;padding-left:8px;color:#313131;font-weight:bold;position:relative}
.card_benefit_dsc > ul > li > .toggle_button:after{content:"";background:url(http://image.lotte.com/lotte/mo2015/angular/brandshop/gucci/gucci_header_v2.png) no-repeat 0 -132px;background-size:90px 210px;width:12px;height:7px;display:block;position:absolute;top:18px;right:10px}
.card_benefit_dsc > ul > li.on > .toggle_button:after{background-position:0 -100px}
.card_benefit_dsc > ul > li > .content{background-color:#f7f7f7;border-top:1px solid #ececeb;padding:5px 17px 20px;font-size:12px;box-shadow:inset 0 2px 2px #e3e0de;-moz-box-shadow:inset 0 2px 2px #e3e0de;-webkit-box-shadow:inset 0 2px 2px #e3e0de;display:none;overflow:hidden;color:#666}
.card_benefit_dsc > ul > li.on .content{display:block}
.card_benefit_dsc > ul > li > .content .detail_title{font-size:14px;color:#333;padding:15px 0 10px}
.card_benefit_dsc > ul > li > .content ul li .bold{font-weight:bold;color:#333}

.card_installment{margin-top:9px }

/* 20170314사이즈가이드 */
.gucci_product_info > ul > li > .content.renew > p{text-align: center;}
.gucci_product_info > ul > li > .content.renew > .detail_title{background: none;text-align: center;display: block;}
.gucci_product_info > ul > li > .content.renew > table > thead > tr > th{background-color:#dbd8d6;}
.gucci_product_info > ul > li > .content.renew > table + h5.detail_title{margin-top: 25px;}
