@charset "utf-8";

#container section h5{display:none;}

/* 상품평 리스트 */
.prod_eval {background:#fff;}
.prod_eval .info {text-align: center;}
.prod_eval .info .comment {font-size: 12px;margin-top: 25px;}
.prod_eval .info .desc {font-size: 11px;margin-top: 7px;margin-bottom: 25px;color:#888}
.prod_eval .cmt_nav {border-bottom: 1px solid #dcdcdc;}
.prod_eval .cmt_nav ul {display:table;width:100%;}
.prod_eval .cmt_nav li {display:table-cell;width:50%;height:50px;background-color:#f3f3f3;text-align:center;vertical-align:middle;font-weight:bold;color:#555;box-sizing:border-box;-webkit-box-sizing:border-box}
.prod_eval .cmt_nav li.on {}
.prod_eval .cmt_nav li a {color:#333;font-size:11px;display: block;padding: 6px 0;}
.prod_eval .cmt_nav li a span {font-size:17px;}
.prod_eval .cmt_nav li.on a {color:#588bff;}
.prod_eval .cmt_nav span {font-size:14px;}
.prod_eval .cmt_nav li.on span.indicator {background: #588bff;display: block;width: 80%;height: 1px;position: relative;top: 1px;margin: 0px 10%;}
.prod_eval .cmt_nav li.indi.verti {width:1px;}
.prod_eval .cmt_nav li.indi.verti span {display:inline-block;width:1px;height:10px;background:#dcdcdc;height: 20px;position: relative;top: 3px;}
.prod_eval .group {padding:12px 8px 15px 8px;height:85px;border-bottom:1px solid #eee;}
.prod_eval .group span.thumb {float:left;margin:0 10px -3px 0;position:relative;}
.prod_eval .group span.thumb img {width:87px;height:87px;border:1px solid #e2e4e8;box-sizing:border-box;-webkit-box-sizing:border-box;}
.prod_eval .group span.cont01 {min-height:70px;margin-left: 90px;display:block;position:relative;}
.prod_eval .group span.cont01 .spec {font-size:11px;}
.prod_eval .group span.cont01 .spec span {font-size:11px;color:#ff7b62;}
.prod_eval .group span.cont01 .spec.smart { margin-top:5px;}
.prod_eval .group span.cont01 .spec span.smart { font-size:0px; margin-right:2px;}
.prod_eval .group span.cont01 .spec.e-coupon span {font-size:11px;color:#333;}
.prod_eval .write .group span.cont01 .spec.e-coupon span {font-size:11px;color:#888;}
.prod_eval .group .tl {padding:0;margin-bottom:5px;font-size:13px;color:#2c2c2c;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;box-sizing:border-box;-webkit-box-sizing:border-box;height:36px;line-height:18px;overflow:hidden;text-overflow:ellipsis;}
.prod_eval .group .price {float:left;font-size:12px;color:#3874ec;margin-top:5px;}
.prod_eval .group .price span {display:block;}
.prod_eval .stipul {margin: 10px;margin-top: 15px;margin-bottom:20px; background-color: #f7f7f7;padding: 7px 10px;}
.prod_eval.list .stipul {margin-top:0;}
.prod_eval .stipul li {position:relative;padding:3px 7px;line-height:15px;font-size:11px;color:#999999;vertical-align:top;background-size:2px 2px;-webkit-background-size:2px 2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.prod_eval .stipul li.bullet:before {display:block; width:2px; height:2px; background-color:#ccc; content:''; position:absolute; left:0; top:10px;}
.prod_eval .stipul li.on {color:#719cff}

    /*상품리스트, 작성가능 상품평*/
.prod_eval .list {overflow:hidden;line-height:normal;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff}
.prod_eval .btn_list {height:25px;padding:8px 10px;line-height:25px;border-bottom:1px solid #dcdcdc;}
.prod_eval .btn_list.cont.photo {border-bottom-style:none;}
.prod_eval .btn_l   ist .l_area span {font-size:12px;color:#666;}
.prod_eval .btn_list .l_area span.gray {font-size:13px;color:#888;}


/*작성한 상품평*/
.list.written p.cmt {font-size:14px;padding-top: 10px;margin:0 10px;}
.list .roll_banner01 {box-sizing:border-box;-webkit-box-sizing:border-box}
.list .roll_banner01 {overflow:hidden;position:relative;text-align:center;}
.list .roll_banner01 .photo {position:relative;left:0;margin:0 35px;margin-top:20px;}
.list .roll_banner01 .photo li {position:relative;float:left;}
.list .roll_banner01 .page {margin-bottom: -5px;}
.list .roll_banner01 .page ul {clear:both;position:relative;margin:0 auto;padding-top:10px;box-sizing:border-box;-webkit-box-sizing:border-box}
.list .roll_banner01 .page li {display:inline-block;padding:0 1px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.list .roll_banner01 .page li span {background:url(http://image.lotte.com/lotte/mo2015/angular/common/spr_swipe_indicator.png) no-repeat -5px -40px;background-size:50px 50px;width:6px;height:6px;text-indent:-9999em;color:transparent;display:block}
.list .roll_banner01 .page li span.on {background-position:-15px -40px}


/*상품평 쓰기*/
.write .cont {padding:20px 0px;margin:0 10px;}
.write .cont.score {padding:20px 10px;}
.write .cont.photo {padding:10px}
.write .cont .food_cmt {font-size: 12px;color: #888;padding: 0 10px;margin: -5px 0px;}
.write textarea {width:100%;height:155px;border:solid 1px #ddd;border-radius:2px;color:#000;line-height:130%;font-size:15px;padding:8px;-webkit-box-sizing:border-box;}
.write textarea {margin-top:10px;margin-bottom:5px;}
/*.scoreList {border:1px solid #c6c9cc;border-bottom:none;margin:0 8px;padding:10px 21px;box-sizing:border-box;-webkit-box-sizing:border-box}*/
.scoreList {margin-top: 15px;}
.scoreList li {line-height:35px;height:35px;}
.scoreList .score {float:left;width:80%;padding-left:5px;box-sizing:border-box;-webkit-box-sizing:border-box; margin-top:-2px;}
.scoreList .score.radio { margin-top:0;}
.scoreList .score a {display:block;float:left;height:16px;text-indent:0px;text-decoration:none;cursor:pointer;background: url(http://image.lotte.com/lotte/mo2015/angular/common/ic_score_star.png) no-repeat;background-size:16px 32px;-webkit-background-size: 16px 32px;background-position-y: 0px;width:15%;margin-right: 5%;}
.scoreList .score a.on {background: url(http://image.lotte.com/lotte/mo2015/angular/common/ic_score_star.png) no-repeat;background-size:16px 32px;-webkit-background-size: 16px 32px;background-position-y: -16px;}
.scoreList .score a span { position:relative;top:-10px;left:20px; font-size:14px; color:#e1e1e1;}
.scoreList .score a.on span { color:#ff7b62;}
.scoreList .txt {float:left;width:20%;color:#666;}
.scoreList .txt_radio {float:left;width:20%;color:#000;}
.write .cont h3 { font-size:14px;}
.write .btn {width:24%; color:#e1e1e1; border:1px solid #e1e1e1;}
.write .btn.on {background:#ff7b62;border:1px solid #ff7b62; color:#fff;}
.write .confirm {text-align:center;margin:10px 10px;clear:both;}
.write .confirm .btn {width:47%; border:1px solid #749eff; color:#749eff; font-style:14px;padding:15 0px;}
/*SNS공유하기 버튼*/
.write .confirm.sns_btns1 .btn {width:97%;color:#666; font-size:12px;position:relative;}
.write .confirm.sns_btns1 .btn span.ic_sns {position:relative; left:-6px;top:4px;content:"";display:inline-block;background:url(http://image.lotte.com/ellotte/mo2015/angular/common/ic_sns.png) no-repeat 0 0;background-size:15px 16px;width:15px;height:16px}
.write .confirm.sns_btns1 .btn span.ic_arrow_light {position:relative;right:-5px;top:0px;content:"";display:inline-block;background:url(http://image.lotte.com/ellotte/mo2015/angular/common/ic_arrow_light.png) no-repeat 0 0;background-size:42px 7px;width:11px;height:7px;background-position:0 0;}
.write .confirm.sns_btns1.open .btn span.ic_arrow_light {background-position:-31px 0;}
.write .confirm.btns3 .btn {width:31%;}
.write .confirm .btn.on {background:#749eff;border:1px solid #749eff; color:#fff;}
.write .confirm .btn.normal {background:#fff;border:1px solid #d0d0d0; color:#666;}
.write .confirm .btn:first-child { margin-right:3px;}
.write .confirm.sns_btns1 {border: 1px solid #d0d0d0;}
.write .confirm.sns_btns1 .btn:first-child { margin-right:0px;border-style:none;}
.write .photo_del {padding:10px;margin-bottom:15px;box-sizing:border-box;-webkit-box-sizing:border-box; height:74px;background:#f7f7f7;}
.write .photo_del .photo li {position:relative;float:left;}
.write .photo_del .photo p.img {margin:0 5px;box-sizing:border-box;-webkit-box-sizing:border-box}
.write .photo_del .photo p.img img {width:53px;height:53px; border:1px solid #ddd;}
.write .photo_del .photo .del {width:15px;height:15px;position:absolute;top:1px;right:5px;z-index:1;background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/ic_photo_del.png) no-repeat;background-size:15px 15px;-webkit-background-size: 15px 15px;text-indent:-9999em;color:transparent;}

/*sns 아이콘*/
.write .confirm ul.sns_icons i {display:block; overflow:hidden; vertical-align:middle;  text-indent:-999px; font-size:0; line-height:0; width:100%; height:100%;}
.write .confirm ul.sns_icons i {background:url(http://image.lotte.com/lotte/mo2015/angular/review_sns_info_icon02.png) no-repeat; background-size:450px 40px;}
.write .confirm ul.sns_icons {width:100%; overflow:hidden; padding-top:10px;}
.write .confirm ul.sns_icons li {display:inline-block; width:17%; white-space:nowrap; height:80px; font-size:11px;color:#666;}
.write .confirm ul.sns_icons li i {display:block; width:40px; height:40px; border-radius:100%; margin:0 auto 8px auto;}
.write .confirm ul.sns_icons li.kakaotalk i {background-position:0 0px;}
.write .confirm ul.sns_icons li.facebook i {background-position:-45px 0px;}
.write .confirm ul.sns_icons li.sms i {background-position:-405px 0px;}
.write .confirm ul.sns_icons li.kakaostory i {background-position:-135px 0px;}
.write .confirm ul.sns_icons li.twitter i {background-position:-225px 0px;}
.write .confirm .sns_selected {padding: 15px;padding-bottom: 20px;}
.write .confirm .sns_selected span:first-child {background: url(http://image.lotte.com/lotte/mo2015/angular/review_sns_info_icon02.png) no-repeat;background-size: 450px 40px;width: 40px;height: 40px;border-radius: 100%; display:inline-block;vertical-align:middle; margin-right:10px;vertical-align:middle;}
.write .confirm .sns_selected span.kakaostory {background-position: 0 0;}
.write .confirm .sns_selected span.facebook {background-position: -45px 0;}
.write .confirm .sns_selected span.sms {background-position: -405px 0;}
.write .confirm .sns_selected span.kakaostory {background-position: -135px 0;}
.write .confirm .sns_selected span.twitter {background-position: -225px 0;}
.write .confirm .sns_selected span.explain {display: inline-block;width: 70%;vertical-align: middle;line-height: 20px;color:#666;padding-right:10px;}
.write .confirm .sns_selected p {display:inline-block;vertical-align:top;width:75%}
.write .confirm .sns_selected .close {display: inline-block;width: 12px;
    height: 12px;
    background: url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat 0 0;
    background-size: 12px;
    text-indent: -9999px;vertical-align:middle;
    position: relative;
    top: 1px;}



    /*공통*/
.prod_eval .clover {padding-left:13px;color:#437d00;background: url(http://image.lotte.com/lotte/mo2015/angular/mylotte/ico_clover.png) no-repeat 0 2px;background-size:12px 13px;-webkit-background-size:12px 13px;box-sizing:border-box;-webkit-box-sizing:border-box}
.btn_style2 {height:25px;display:inline-block;color:#719cff;font-size:12px;border:solid 1px #719cff;padding:0 11px;line-height: 23px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff;border-radius:15px}
.btn_style3 {height:25px;display:inline-block;color:#ffffff;font-size:12px;border:solid 1px #719cff;padding:0 11px;line-height: 23px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#719cff;border-radius:15px}
.btn_style4 {height:25px;display:inline-block;color:#;font-size:12px;border:solid 1px #dddddd;padding:0 11px;line-height: 23px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff;border-radius:15px;
}
.cont.photo .btn_style4 img { width:18px;height:16px;position:relative;top:3px;}

.prod_eval .no_data {height:190px;position:relative;}
.prod_eval .no_data p {position:absolute; left:0; width:100%; text-align:center; top:50%; margin-top:-10px; color:#666;font-size:14px;}
.selWrap select{width:100%;height:39px;padding-left:6px;padding-right:25px;border:1px solid #e5e5e5;border-radius:2px;background:#fff url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow.png) no-repeat 100%;background-size:20px;font-size:12px;color:#333;-webkit-appearance:none}
span.seper_area {display:block;width: 100%;height: 5px;background-color: #eee;border-top: 1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}


/*
input.radio01[type="radio"] {cursor:pointer;background:url('http://image.lotte.com/lotte/mo2015/angular/mylotte/input.png') no-repeat -54px 0;background-size:100px 300px;width:21px;height:21px;appearance:none;-webkit-appearance:none;vertical-align:middle;}
input.radio01[type="radio"]:checked {background-position:-79px 0}
input.radio01[type="radio"]:disabled {background-position:-80px -25px}
*/


input.radio01[type="radio"] {cursor:pointer;background:url('http://image.lotte.com/lotte/mo2015/angular/common/ic_score_star.png') no-repeat 0px 0;background-size:16px 32px;width:16px;height:16px;appearance:none;-webkit-appearance:none;vertical-align:middle;}
input.radio01[type="radio"]:checked {background-position-y: -16px;}
input.radio01[type="radio"]:checked + label { color:#ff7b62;}
input.radio01[type="radio"]:disabled {background-position-y: 0px;}
.scoreList .score .txt_radio label {position:relative;top:2px;color:#e1e1e1;}

.btn {text-align: center;background: #fff;border: 1px solid #ddd;border-radius: 2px;vertical-align:middle;display: inline-block;}
.btn.s {line-height: 28px;height: 28px;}
.btn.b {line-height: 38px;height: 38px;}
.btnInquiry .btn_l{margin:0;border-color:#588bff;color:#588bff}

ul.bullet li:before {content:'';display:block; width:2px; height:2px; background:#ccc; position:absolute; left:0; top:11px; } /*리스트 앞 불릿*/

/* 유아동 체험단 후기 추가 이미지 없을 시
.prod_eval .group.kids_group{height:auto;padding-bottom:7px}
.prod_eval .group.kids_group span.cont01{margin-left:0;min-height:inherit}
 */

/* 톡상담 버튼 가림 */
.quick_btn .btn_talk{display:none}
