@charset "utf-8";

/*임시로 가림 - 헤더 나오면 적용*/
#gnb{display:none;}
#head_sub {
    position:relative;
}
.unitWrap .unit_type{position:relative;}
.unitWrap .unit_tlt{display:inline-block;position:absolute;left:10px;top:10px;font-size:13px;color:#666;line-height:28px;}
.unitWrap .unit_tlt em{padding-left:2px;}

body #head_sub.ps_head h2{background-color: #fff;border-top:1px solid #f0f0f0;border-bottom:1px solid #d0d0d0;}
#container {position: relative;min-height: 450px;background-color: #ececec;}
body #head_sub.ps_head h2 span{font-weight: bold;color:#333;letter-spacing:-.7px;}
body #head_sub.ps_head h2 .tlt_selBox span:not(.on){font-weight:normal;}
#head_sub .prev a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_back_w.png) no-repeat center left;background-size:19px 14px;}
body #head_sub h2 .tlt_selBox a:after {background:none !important;}

/* 기획전 타이틀 */
#head_sub h2 span span.planSubTitleText:before{content:"기획전";}
#head_sub h2 span span.planSubTitleText.saengsaeng:before{content:"생생#";}
#head_sub h2 span span.planSubTitleText.stylecodi:before{content:"스타일코디";}
#head_sub h2 span span.planSubTitleText.playshop:before{content:"PLAY#";}
#head_sub h2 span span.planSubTitleText.stylerecom:before{content:"스타일추천";}
#head_sub h2 span span.planSubTitleText.stylecollection:before{content:"2017 S/S STYLE COLLECTION";}

/***********************기획전 상세************************/
.planshop_detail{background:#eee;padding-bottom:3px;}
/*배너*/
.plan_bannerWrap{position:relative; width:100%;}
.plan_bannerWrap.specialExhibi {overflow:hidden;padding-bottom:40%;}
.plan_bannerWrap .dimmed{z-index:2;width:100%;height:100%;position:absolute;background:rgba(43,43,43,.6);}
.plan_bannerWrap.specialExhibi img.banner {position:absolute;min-width:100%;min-height:100%;}
.plan_bannerWrap img {height:auto;}

.plan_bannerWrap .bannerTlt {
/*display:-webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;*/
display:block;position:absolute;top:40%;left:0;width:100%;text-align:center;z-index:3;}
.plan_bannerWrap.specialExhibi .bannerTlt {top:40%;}
.plan_bannerWrap .bannerTlt span {display:inline-block;padding:10px 20px;background:rgba(43,43,43,.7);color:#fff;line-height:19px;font-size:15px;letter-spacing:-.5px;}

/*전체상품 보기*/
.allProductFlag {width:100%; position:relative; background:#eee; height:55px; z-index:99;}
.prdAllView{width:100%;position:absolute; left:0; background:#eee; transform:translateX(0px) translateZ(0px); -webkit-transform:translateX(0px) translateZ(0px);}
.prdAllView.on .prdAllViewList{display:block;}

.prdAllView .btnWrap{width:100%; background:#f4f4f4; border-bottom:1px solid #dcdcdc;}
.prdAllView .btnWrap .btnArea{display:block;text-align:center;background:#f4f4f4;border-top:1px solid #dcdcdc;}
.prdAllView .btnWrap a{display:block;padding:11px 0 9px 0;color:#333;font-size:13px;letter-spacing:-.7px; position:relative;height:37px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.prdAllView .btnWrap .btnIcon{position:absolute;top:50%;display:inline-block;margin:-3px 0 0 8px; width:13px;height:7px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow_light.png) no-repeat 0 0;background-size:42px 7px;}
.prdAllView.on .btnWrap .btnIcon{background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow_light.png) no-repeat 100% 0;background-size:42px 7px}

.prdAllViewList{width:100%;background:#fff;z-index:10;position:absolute;top:39px;}
.prdAllViewList .list{display:block;height:223px;overflow:hidden;}
.prdAllViewList .list:after{clear:both;display:block;content:'';}
.prdAllViewList ul{white-space: nowrap;
    overflow-x: visible;
    /*overflow-y: hidden;*/
    width: 100%;}
.prdAllViewList ul li{/*border-bottom:1px solid #ddd;*/display: inline-block;width:100%; background:#fff;}
.prdAllViewList ul li div {text-align: left;font-weight: normal;border-bottom:1px solid #ddd; background:#fff;}
.prdAllViewList ul li div:last-child {border-bottom-style: none;}
.prdAllViewList ul li div>a {display:block; padding:0 25px; height:15px; line-height:15px; white-space:normal; margin:14px 0 15px 0; overflow:hidden;}
.prdAllViewList ul li a{font-size:14px;color:#666;line-height:44px;letter-spacing:-.7px;}
.prdAllViewList ul li a.on{color:#719cff;font-weight:bold;}
.prdAllViewList ul li a span{padding-left:5px;color:#bcbcbc;font-weight:normal;}
/*스토리샵 헤더에서 리스트 swipe*/
#head_sub .prdAllViewList ul li a{font-size:13px;color:#666;letter-spacing:-.7px;}
#head_sub .prdAllViewList ul li a.on{color:#d4271a;font-weight:bold;}
#head_sub .prdAllViewList ul li a span{padding-left:5px;color:#bcbcbc;font-weight:normal;}
#head_sub h2 a:after, #head_sub h2 a.on:after {background-image:none;}

.prdAllViewList .paging{position:relative;display:block;color:#666;font-size:13px;line-height:34px;text-align:center;background:#fafafa;border-bottom:1px solid #dcdcdc;}
body #head_sub.ps_head h2 .prdAllViewList .paging span {font-weight:normal;}
#head_sub h2 .prdAllViewList .paging a {position:absolute;}
.prdAllViewList .paging .btn_close{position:absolute;top:9px;right:4px;width:20px;height:20px;text-indent:-9999em;}
.prdAllViewList .paging .btn_close span{display:block;width:13px;height:13px;margin:3px 0 0 3px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_close_gray.png) no-repeat  0 0;background-size:12px 12px;}

/*바로그 상품*/
.justPrd{position:relative;border:1px solid #d0d0d0;border-right:0;border-left:0;background-color:#fff;margin-bottom:5px;}
.justPrd > a{display:block;}
.justPrd .thumb{position:absolute;top:0;left:0;width:150px;height:150px;}
.justPrd .flag.just{position:absolute;top:8px;left:0;width:62px;height:20px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/flag_just.png) no-repeat 0 0;background-size:62px 20px;}
.justPrd .flag.just span{display:block;text-align:center;color:#fff;font-size:11px;line-height:20px;letter-spacing:-.5px;padding-right:4px;}

.justPrd .info{	margin:0 0 0 150px;position:relative;padding:20px 8px 20px 8px;height:110px;padding-bottom:30px;margin-bottom:-10px;}
.justPrd .info .flag{height:auto;padding-bottom:0;}
.justPrd .info .brand{color:#333;font-size:14px;line-height:16px;font-weight:bold;height:18px;overflow:hidden;display:block;width:100%;}
.justPrd .info .smart{float:right;}
.justPrd .info .flag.smart{float:none;margin-left:3px;display:inline-block;width:22px;height:19px;font-size:0;vertical-align:middle;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat -46px -39px;background-size:75px 90px;padding-bottom:0;}
.justPrd .info .flag.free {border:1px solid #a4a4a4;height:17px !important;line-height:17px !important;}

.justPrd .info .tit{display:block;height:36px;margin:3px 0 3px 0;color:#333;font-size:14px;line-height:18px;overflow:hidden;/*text-overflow:ellipsis;display:-webkit-box;*/-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.justPrd .info .pr_box{position:absolute;bottom:20px;left:5px;height:42px;}
.justPrd .info .pr_box .price{display:block;color:#3874ec;letter-spacing:-0.5px;}
.justPrd .info .pr_box .price em{font-size:19px;font-weight:bold;vertical-align:-1px;margin-right:2px;}
.justPrd .info .pr_box .price2{display:block;color:#bbb;font-size:12px;text-decoration:line-through;letter-spacing:-0.5px;}

.justPrd .info .coupon{position:absolute;bottom:24px;right:10px;color:#333;font-size:14px;width:40px;height:39px;text-align:center;}
.justPrd .info .coupon em.no{font-size:19px;}
.justPrd .info .coupon em.po{margin:0 0 0 2px;}
.justPrd .info .coupon span{display:block;color:#bbb;font-size:10px;position:relative;top:-1px;}

/*상단구분자 상품*/
.plan_prdThumb{position:relative;padding:7px 7px 7px 6px;background:#fff;}
.plan_prdThumb ul{position:relative;height:163px;}
.plan_prdThumb ul li{position:relative;float:left;padding:5px 3px 5px 4px;}
.plan_prdThumb ul li img{width:auto;max-width:100%;/*width:117px;*/height:117px;border:1px solid #ddd;}
.plan_prdThumb .item{position:relative;margin:0 auto;width:calc(100% - 7px);max-width:117px;}
.plan_prdThumb .item .prd_price{position:absolute;left:0;right:0;top:87px;color:#fff;line-height:30px;font-size:12px;text-align:center;background:rgba(0,0,0,.4);}
.plan_prdThumb .item .prd_price em{font-size:14px;font-weight:bold;vertical-align:-1px;}
.plan_prdThumb .item .prd_name{margin:7px 0;height:34px;color:#333;font-size:12px;line-height:17px;letter-spacing:-.7px;overflow:hidden;/*display:-webkit-box;*/-webkit-line-clamp:2;-webkit-box-orient:vertical;}

.banner_slide {width:100%; border-bottom:1px solid #ddd;}
.banner_slide:before {content:''; height:6px; border-bottom:1px solid #ddd; background:#eee; display:block; width:100%; overflow:hidden;}
.banner_slide ul {width:100%; white-space:nowrap;}
.banner_slide ul li {display:inline-block; float:left;}
.banner_slide .btn_prev,
.banner_slide .btn_next{position:absolute;top:75px;display:inline-block;width:20px;height:33px;font-size:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;background-size:95px 114px;}
.banner_slide .btn_prev{left:2px;background-position:-38px -76px}
.banner_slide .btn_next{right:2px;background-position:-65px -76px}
/*쇼핑홀릭 - 대표상품전시 스와이프 상품*/
.prd_swipe{position:relative;padding:0 0 15px;}
.prd_swipe .mask{height:252px;margin:8px;overflow:hidden;background-color:#eee;}
.prd_swipe li {float:left;}

/* 상품리스트 : 스와이프형 */
.prdList{}
.prdList:after{clear:both;display:block;content:'';}

/* 스마트픽 플래그 */
.prd_item .flag.smart{position:absolute;top:8px;right:10px;}
/* 공통 유닛 표준 : 일반상품 : 스와이프형 */
.prd_item{position:relative;}
@media screen and (min-width:640px){
	.prd_swipe .prdList li:nth-child(odd) .prd_item {padding-right:4px;}
	.prd_swipe .prdList li:nth-child(even) .prd_item {padding-left:4px;}
}
.prd_item > a{display:block;border:1px solid #d0d0d0;background:#fff;}
.prd_item .thumb{position:relative;margin:0 auto;text-align:center;}

.prd_item .thumb .tlt{display:block;font-size:17px;color:#333;font-weight:bold;line-height:30px;height:30px;overflow:hidden;text-align:center;}
.prd_item .thumb img{width:100%;max-width:320px;height:150px;margin:0 auto;}

.prd_item .thumb_price {
display:-webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;
position:absolute;top:0;left:0;width:100%;height:100%;margin-top:30px;}
.prd_item .thumb_price > span {display:inline-block;text-align:center;padding:9px 12px;background:rgba(43,43,43,.7);color:#fff;line-height:19px;font-size:15px;letter-spacing:-.5px;z-index:3;}
.prd_item .thumb_price .price{line-height:24px;float:left;padding-right:17px;font-size:14px;}
.prd_item .thumb_price .price.only {padding-right:0;}
.prd_item .thumb_price .price em{font-weight:bold;font-size:19px;vertical-align:-2px;padding-left:2px;}
.prd_item .thumb_price .coupon{position:relative;display:inline-block;font-size:14px;float:left;padding-left:10px;line-height:14px;letter-spacing:-.5px;}
.prd_item .thumb_price .coupon.not_include {line-height:24px;}
.prd_item .thumb_price .coupon:after{content: '';height:22px;width:1px;display:block;background:rgba(255,255,255,.3);position:absolute;top:2px;left:0;}
.prd_item .thumb_price .coupon em.no{font-size:18px;}
.prd_item .thumb_price .coupon em.po{font-size:14px;margin:0 0 0 2px;}
.prd_item .thumb_price .coupon span{display:block;color:#bbb;font-size:7px;line-height:9px;letter-spacing:-.7px;padding-top:2px;}

.prd_item .info{position:relative;border-top:1px solid #eee;padding:8px 15px;height:53px;}
.prd_item .info .brand{display:block;padding:5px 40px 1px 0;color:#333;font-size:14px;font-weight:bold;line-height:20px;overflow:hidden;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.prd_item .info .tit{display:block;height:34px;margin:0 25px 0 0;color:#333;font-size:14px;line-height:17px;letter-spacing:-.5px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}

.prd_swipe .btn_prev,
.prd_swipe .btn_next{position:absolute;top:105px;display:inline-block;width:20px;height:33px;font-size:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;background-size:95px 114px;}
.prd_swipe .btn_prev{left:2px;background-position:-38px -76px}
.prd_swipe .btn_next{right:2px;background-position:-65px -76px}

.prd_swipe .paging{position:relative;text-align:center;height:6px;}
.prd_swipe .paging ol{display:inline-block;vertical-align:top;}
.prd_swipe .paging ol:after{clear:both;display:block;content:'';}
.prd_swipe .paging li{float:left;display:inline-block;width:6px;height:6px;margin:0 2px;border-radius:100%;background:#b7b7b7;font-size:0;}
.prd_swipe .paging .on{background:#333;font-size:0;}

.prd_swipe ~ .prdAllView{padding-top:0;}
.prd_swipe ~ .prdAllView .prdAllViewList{top:38px;}

/*기획전 상세 사은품 전시영역*/
.gift_banner{display:block;}
.gift_banner p{text-align:center;width:100%;height:93px;line-height:93px;background:rgba(0,0,0,.5);color:#fff}

/*common*/
.nodata{display:block;text-align:center;padding:60px 0;}

/* 더보기 버튼 */
.list_more a:before{background:url('http://image.lotte.com/lotte/mo2015/angular/custcenter/custcenter.png') no-repeat;background-size:200px 200px;display:inline-block;vertical-align:middle;}
.list_more{margin:15px 10px;border:1px solid #ddd;border-radius:3px;background:#efefef;color:#333;line-height:34px;text-align:center}
.list_more a:before{width:12px;height:12px;content:'';background-position:-152px -27px;margin:0 5px 1px 0;}
.list_more span{font-size:11px;}

/* 중단 카테고리 스와이프 */
.list .btn_prev,
.list .btn_next{position:absolute;top:105px;display:inline-block;width:20px;height:33px;font-size:0;background:url(http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png) no-repeat;background-size:95px 114px;}
.list .btn_prev{left:2px;background-position:-38px -76px}
.list .btn_next{right:2px;background-position:-65px -76px}

.list .paging{position:relative;text-align:center;height:6px;}
.list .paging ol{display:inline-block;vertical-align:top;}
.list .paging ol:after{clear:both;display:block;content:'';}
.list .paging li{float:left;display:inline-block;width:6px;height:6px;margin:0 2px;border-radius:100%;background:#b7b7b7;font-size:0;}
.list .paging .on{background:#333;font-size:0;}
.list ~ .prdAllView{padding-top:0;}
.list ~ .prdAllView .prdAllViewList{top:38px;}

/*20160113 서프라이즈 기획전*/
.sur_detail { width:100%; height:auto; background:#f47143; text-align:center; position:relative}
.sur_detail .sur_mark { position:absolute; background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/surprise_0923.png') no-repeat; width:56px; height:53px; top:-26px; left:14px; z-index:1; background-size:100%}
.sur_detail .sur_detail1 { color:#ffd9cb; font-size:14px; padding-top:13px}
.sur_detail .sur_detail2 { color:#fff; font-size:18px;padding: 4px 0 16px 0}
.sur_list { background:#eee; padding:8px 0}
.sur_list ul { border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:#fff; overflow:hidden}
.sur_list ul li { font-size:14px; text-align:center; padding:10px 0; float:left; line-height:22px}
.sur_list ul li a {color:#888;display:block;    white-space: nowrap;overflow: hidden;word-break: break-all;text-overflow: ellipsis;padding: 0 10px}
.sur_list ul li.sur_list1 { width:50%; border-bottom:1px solid #eee}
.sur_list ul li.sur_list2 { width:33.333%;  }
.sur_list ul li.r_b { background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/r_b_0113.png') repeat-y right top; background-clip:content-box; background-size:1px 1px}
.sur_list ul li.on a{ color:#f47143}
.sur_giftWrap h3 { font-size:14px; color:#333; background-color:#f4f4f4; padding:12px 0 11px 0; line-height:16px}
.sur_gift { border-top:1px solid #dcdcdc}
.sur_gift img { width:100%}
.sur_gift h3:before { content:""; display:inline-block; width:18px; height:18px; background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/sur_ico_0113.png')no-repeat; background-size:75px 18px; margin-left:14px; vertical-align:top; margin-right:5px}
.sur_giftList { padding:8px; overflow:hidden; background:#fff}
.sur_gift .b_t { border-top:1px solid #eee}
.sur_notice { clear:both; background-color:#f4f4f4; border-top:1px solid #dcdcdc; margin-bottom:8px}
.sur_notice h3 { border-bottom:1px solid #dcdcdc}
.sur_notice h3:before { content:""; display:inline-block; width:18px; height:18px; background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/sur_ico_0113.png')no-repeat; background-position:-19px 0; background-size:75px 18px; margin-left:14px; vertical-align:top; margin-right:5px}
.sur_notice h3:after { content:""; display:inline-block; width:18px; height:18px; background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/sur_ico_0113.png') no-repeat; background-position:-57px 0; background-size:75px 18px; margin-left:14px; vertical-align:top; float:right; margin-right:14px}
.sur_notice h3.on { border-bottom:none}
.sur_notice h3.on:after { content:""; display:inline-block; width:18px; height:18px; background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/sur_ico_0113.png') no-repeat; background-position:-38px 0; background-size:75px 18px; margin-left:14px; vertical-align:top; float:right; margin-right:14px}
.sur_notice ul { padding:3px 10px 20px; border-bottom:1px solid #dcdcdc; display:none}
.sur_notice h3.on ~ ul { display:block}
.sur_notice li { color:#666; font-size:11px; line-height:16px; padding:0 10px 0 13px;background:url('http://image.lotte.com/lotte/mobile/mobile_new/product/li_ico_0113.png') no-repeat 7px 6px; background-size:3px 4px}

.sur_eventbannerWrap{margin:7px 0;}

/*20160503 스토리샵리뉴얼*/
.storyShop_prvList{padding:0 5px;display:table;width:100%;box-sizing:border-box;position:relative;margin-top:20px}
.storyShop_prvList h2{font-size:15px;color:#333;padding-left:13px}
.storyShop_prvList li{padding: 10px 5px 0 5px;width:50%;float:left;box-sizing: border-box;position:relative}
.storyPrvBox{border:1px solid #d4d4db;background:#fff}
.storyPrvBox .imgBox{width:100%;padding-top:75%;overflow:hidden;position:relative;border-bottom:1px solid #d4d4db}
.storyPrvBox .imgBox img{position:absolute;top:0}
.storyPrvBox .info .banTitle{font-size:15px;color:#666;padding:15px 10px 0px 10px;height:55px;box-sizing: border-box;overflow:hidden;line-height:20px}
.storyPrvBox .info .banCate{font-size:12px;color:#b3b3b3;padding:24px 10px 10px 10px;position:relative}
.storyPrvBox .info .banCate:after{content:'';width:100%;height:1px;position:absolute;top:12px;left:0;background:#f4f4f4}
.pad.storyShop_prvList li{width:25%}
.storyShop_head{height:30px;line-height:30px;padding:0 13px;position:relative;font-size:12px;background:#fff}
.storyShop_head .st_title{color:#333}
.storyShop_head .st_date{float:right;color:#666}

/* 기획전 동영상 영역 */
video{width:100%;}
video::-webkit-media-controls,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
/* New shadow dom for play button */
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
.mov_auto_wrap{margin:0 0 10px 0;overflow:hidden;background-color:#fff;}
.mov_auto_wrap .video_wrap{position:relative;font-size:0;z-index:1;padding-bottom:56.3%;width:100%;}
.mov_auto_wrap .video_wrap video{width:100%;height:100%;position:absolute;top:0;left:0;right:0;box-sizing:border-box;}
.mov_auto_wrap .video_wrap .btn_box{position:absolute;top:0;left:0;width:100%;height:100%;display:none;z-index:1;}
.mov_auto_wrap .video_wrap .btn_box.play_box{display:block;}
.mov_auto_wrap .video_wrap a{position:absolute;;display:none;z-index:3;}
.mov_auto_wrap .video_wrap .btn_text{padding-top:58px;height:22px;color:#fff;font-size:13px;text-align:center;font-weight:700;}
.mov_auto_wrap .video_wrap .btn_move_start{background:url(http://image.lotte.com/lotte/mo2015/angular/btn_movie_play.png) no-repeat 0 0;background-size:30px 35px;top:50%;left:50%;height:35px;width:30px;margin:-17px 0 0 -15px;text-indent:-9999px}
.mov_auto_wrap .video_wrap .btn_move_stop{background:url(http://image.lotte.com/lotte/mo2015/angular/btn_movie_pause.png) no-repeat 0 0;background-size:55px 55px;top:50%;left:30%;height:55px;width:55px;margin:-27px 0 0 -27px;}
.mov_auto_wrap .video_wrap .btn_move_goods{background:url(http://image.lotte.com/lotte/mo2015/angular/btn_movie_goods.png) no-repeat 0 0;background-size:55px 55px;top:50%;left:70%;height:55px;width:55px;margin:-27px 0 0 -27px;}

/* v-com : 음소거 버튼 */
.mov_auto_wrap .video_wrap .btn_move_volume {top:50%;left:50%;background-position:-254px 0;margin-top:-24px;margin-left:-32px}
.mov_auto_wrap .video_wrap.double .btn_move_volume {top:50%;left:50%;background-position:-254px 0;margin-top:-24px;margin-left:21px}
.mov_auto_wrap .video_wrap a.btn_move_volume.mute:after {background-position:-191px 0;}
.mov_auto_wrap .video_wrap .btn_move_volume:after{ background-position: -254px 0;}
/* v-com : 전체화면 버튼 (공통) */
.mov_auto_wrap .video_wrap .btn_move_full{ text-indent: -9999px;height: 42px;width: 42px;right: -6px;top: 100%;margin: -42px 0 0 0;}
.mov_auto_wrap .video_wrap a.btn_move_full:after {background:url('http://image.lotte.com/lotte/mobile/mobile_new/common/movie_play_btn_full.png') no-repeat 0 0; background-size:42px 42px; width:42px; height:42px}

.mov_auto_wrap .video_wrap .stop_cover,
.mov_auto_wrap .video_wrap .play_cover{background:rgba(0, 0, 0, 0.3);width:100%;height:100%;display:none;z-index:1;position:absolute;top:0;left:0}
.mov_auto_wrap .video_wrap .play_cover{display:block;z-index:2;}
.mov_auto_wrap .video_wrap .stop_cover .move_title,
.mov_auto_wrap .video_wrap .play_cover .move_title{position:absolute;top:12px;left:13px;color:#fff;font-size:13px;font-weight:700;}.mov_auto_wrap .video_wrap .click_cover{width:100%;height:100%;z-index:1;position:absolute;top:0;left:0;display:none;}

.mov_auto_wrap .plan_wrap{margin:22px 0 0 0;position:relative;z-index:2;}
.mov_auto_wrap .plan_wrap:after{position:absolute;height:20px;width:20px;margin-left:-10px;background-color:#fff;display:block;content:'';top:-32px;left:50%;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
.mov_auto_wrap .plan_wrap .plan_img{display:block;width:98px;margin:0 auto;}
.mov_auto_wrap .plan_wrap .plan_img img{width:98px;height:98px;}
.mov_auto_wrap .plan_wrap .plan_txt{text-align:center;backface-visibility:hidden;letter-spacing:-1px;padding:10px 0;display:block;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_title{display:block;font-size:22px;height:32px;line-height:32px;padding-bottom:5px;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_title .plan_name{color:#333;font-weight:700;padding-right:10px;position:relative;margin-right:2px;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_title .plan_name:after{position:absolute;height:15px;width:1px;background-color:#ccc;display:block;content:'';top:6px;right:0;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_title .plan_brand{color:#888;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_subtitle{font-size:13px;color:#333;padding:0 10px;height:42px;line-height:20px;overflow:hidden;}
.mov_auto_wrap .plan_wrap .plan_txt .plan_subtitle a{position:relative;}
.mov_auto_wrap .plan_wrap .btn_goods_detail{border-radius:15px;display:block;border:1px solid #666;height:30px;line-height:30px;width:105px;color:#333;text-align:center;margin:0 auto 26px;}

/* 20160510구찌 기획전 상품 리스트 */
.gucciproduct .unit_list_02 .info .pr_box .price,
.gucciproduct .unit_list_01 .info .pr_box .price,
.gucciproduct .unit_list_03 .info .pr_box .price{color:#333;font-family:'Roboto', sans-serif}

/* 20160518 댓글영역추가 */
.commentArea{background-color:#fff;margin-bottom:10px}
.commentForm{background:#f9f9f9;padding:10px;}
.commentForm legend{color:#fff;line-height:0;font-size:0;height:0}
.commentForm .label{font-weight:bold;color:#444;}
.commentForm .reg{position:relative;padding:0 107px 0 0;margin-top:8px}
.commentForm .reg *{vertical-align:middle}
.commentForm .textarea{width:100%;height:40px;padding:8px 10px 8px;}
.commentForm a.btn{position:absolute;right:0;bottom:0;padding:0 10px;line-height:57px;background:#fff;color:#7d7d7d;border:1px solid #ddd}
/* 리스트컨텐츠 : 댓글목록 */
.comment_list ul{border-bottom:1px solid #eaeaea;}
.comment_list ul li{padding:13px 10px;border-top:1px solid #eaeaea;height:15px;overflow:hidden}
.comment_list ul li .etc{font-size:11px;margin-top:6px;margin-bottom:15px;color:#888}
.comment_list ul li .etc, .comment_list li .btn{overflow:hidden}
.comment_list ul li .etc p strong{font-weight:normal;padding-right:5px}
.comment_list ul li .btn a{display:block;padding:0 6px;background:#fff;border:1px solid #ddd;font-size:12px;line-height:22px;height:24px;text-align:center;color:#7d7d7d}
.comment_list ul li .etc p.date, .comment_list li .btn a.del{float:left}
.comment_list ul li .etc p.name, .comment_list li .btn a.close{float:right}
.comment_list .btn_more{position:relative;display:block !important;padding:10px 0;font-size:12px;line-height:15px;color:#333;text-align:center}
.comment_list .btn_more .ic{display:inline-block;width:10px;height:10px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_plus.png) no-repeat center 100%;background-size:10px 10px;padding-right:5px;vertical-align:-1px;}
.comment_list ul li .accordionCnt p{height:19px;line-height:18px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.comment_list ul li.on, .comment_list ul li.on .accordionCnt p{height:auto;white-space:normal;}
.comment_list ul li span.id{display:inline-block;width:15px;overflow:hidden;vertical-align:middle;}
/*20170309*/
.unitWrap .unit_tlt{font-size:14px;color:#666;line-height:28px;color:#719cff;font-weight:bold;width: 70%;text-align: left}
.unitWrap .unit_tlt b{max-width: 77%;display: inline-block;overflow: hidden;height: 15px;line-height: 16px;word-wrap: break-word;word-break: break-all}
.unitWrap .unit_tlt em{padding-left:2px;font-size:12px;color:#999999;font-weight:normal;position:absolute;top:-1px}
.unitWrap .unit_tlt.sub{color:#454545}
.sort_cate_wrap{height:37px;}
.allProductFlag{padding:8px;box-sizing:border-box;z-index:15;}
.prdAllView{position:relative}
.prdAllView .btnWrap{border:0}
.prdAllView .btnWrap .btnArea{background:#fff;border:1px solid #e0e0e0}
.fixtype .prdAllView .btnWrap .btnArea{box-sizing:border-box;border:1px solid #6e9eff}
.prdAllView.on .btnWrap .btnArea{border:1px solid #6e9eff;border-bottom:0}
.prdAllView .btnWrap a{text-align:left;padding-left:12px}
.prdAllView .btnWrap a #curcatenm{display:block;width: 91%;overflow: hidden;height: 15px;word-break: break-all}
.prdAllView .btnWrap .btnIcon{right:12px}
.prdAllViewList{top:38px}
.prdAllViewList .list.scrolltype ul li{display:block;height:35px;border-bottom:1px solid #e0e0e0;padding-left:12px}
.prdAllViewList .list.scrolltype ul li a{line-height:35px;display: block;position:relative}
.prdAllViewList .list.scrolltype ul li a div.txt{display:inline-block;max-width:80%;word-break:break-all;height:24px;overflow:hidden;white-space:normal;border:none}
.prdAllViewList .list.scrolltype{height:235px;overflow-y:auto;border:1px solid #6e9eff;box-sizing:border-box}
.fixtype{padding:8px;height:55px}
.fixtype .prdAllView .btnWrap .btnIcon{position:absolute;top:50%;display:inline-block;margin:-3px 0 0 8px; width:13px;height:7px;background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow_light2.png) no-repeat 0 0;background-size:42px 7px;}
.prdAllView.on .btnWrap .btnIcon{background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_arrow_light2.png) no-repeat 100% 0;background-size:42px 7px}
.sur_giftWrap,.banner_slide{margin-bottom:10px}
li.cate .cate_cell b{max-width:85%px;display:inline-block;overflow:hidden;height:15px;word-break: break-all}
li.cate .cate_cell{position:relative}
li.cate .cate_cell span{position:absolute;top:19px;padding-left:4px}
.prdAllViewList ul li a span{position:absolute;top:0}

.planshop_sub_cate{height:55px;}

/* 2017.09.05 비밀댓글 개발 */
.secretCommentsPop{ position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 20000;background-color: rgba(0,0,0,.65);}
.commentsPopCont{/*width:304px;*/width:80.56%;position:relative;top:50%;left:0;margin:0 auto;transform: translate(0,-50%)-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);}
.commentsPopCont p{ position: absolute;top: 27.7%;left: 7%;width: 74.2%;height: 38.2%;overflow-y: auto;font-size: 12px;line-height: 16px;padding: 8px 16px 8px 16px;letter-spacing:-0.6px}
.commentsPopCont a{ position: absolute;display:block; bottom: 5%;left: 6%;width: 43%;height: 11%;opacity:0}
.commentsPopCont .agreeBtn{left:51%}
@media screen and (max-width:320px){
	.commentsPopCont{width:260px}	
	.commentsPopCont p {font-size:10px;line-height:14px;height:37%}	
}
@media screen and (min-width:375px){
	.commentsPopCont p{width:75.2%}
}
@media screen and (min-width:414px){
	.commentsPopCont p{width:76.5%;height:39%}
}
@media screen and (min-width:750px){
	.commentsPopCont p{ font-size: 24px;line-height: 32px;height: 38.2%;width: 75.7%;padding: 16px 32px 16px 32px;}	
}
@media screen and (min-width:1024px){
	.commentsPopCont p{font-size: 36px;line-height: 48px;height: 39%;width: 78%;}	
}