@charset "UTF-8";

.mk_mall_wrap{background-color:#fff;}
.mk_mall_wrap div a{display:block; text-align:center; overflow:hidden;word-break: break-all;color:#333;}

/* top banner ara */
.mk_mall_wrap .top_banner_area{padding-bottom:17px;}

/* title area */
.mk_mall_wrap .title_area{height:136px;}
.mk_mall_wrap .title_area dl {padding:15px 10px 30px;}
.mk_mall_wrap .title_area dl dt.text_01 a{font-size:24px; font-weight:bold;height:26px; line-height:24px;}
.mk_mall_wrap .title_area dl dd.text_02{margin-top:4px;}
.mk_mall_wrap .title_area dl dd.text_02 a{font-size:15px;height:20px; line-height:18px;}
.mk_mall_wrap .title_area dl dd.text_03{margin-top:21px;}
.mk_mall_wrap .title_area dl dd.text_03 a{font-size:14px;font-weight:bold;height:18px; line-height:16px;}

/* inventory 01~04 */
.mk_mall_wrap ul{overflow:hidden;}
.mk_mall_wrap .invent_cont_wrap{height:123px;}
.mk_mall_wrap .invent_cont_wrap p{padding: 0 10px;}
.mk_mall_wrap .invent_cont_wrap p.inv_text1{padding-top:20px;} 
.mk_mall_wrap .invent_cont_wrap p.inv_text1 a{font-size:24px; height:26px; line-height:24px;font-weight:bold;}
.mk_mall_wrap .invent_cont_wrap p.inv_text2{margin-top:3px;} 
.mk_mall_wrap .invent_cont_wrap p.inv_text2 a{font-size:15px;height:18px; line-height:16px;}

/* inventory 05~07 */
.inventory_wrap_btm ul li .invent_cont_wrap_all{position:relative;height:100px;padding:0 12px;}
.inventory_wrap_btm ul li .invent_img_wrap{padding:0 12px;}
.inventory_wrap_btm ul li .invent_cont_wrap_all .invent_cont_wrap{width:306px; height:85px; background-color:#fff; position:absolute; z-index:1;top:-27px;left:50%; margin-left:-153px;}
.inventory_wrap_btm .invent_cont_wrap p.inv_text1 a{font-size:23px;}

@media screen and (min-width:980px){
    .mk_mall_wrap .inventory_wrap_btm ul{ 
        display: -webkit-box; 
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;  }
    .mk_mall_wrap .inventory_wrap_btm ul li{
        -webkit-box-flex: 3;  
        -webkit-flex: 3;     
        -ms-flex: 3;    
        flex:3;}
     .inventory_wrap_btm ul li .invent_cont_wrap_all .invent_cont_wrap{width:276px; margin-left:-138px;}
}

@media screen and (min-width:720px) {
    .mk_mall_wrap .inventory_wrap_top ul li{width:50%;float:left;}

}