body{background-color:#e9e9e9;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
#wrapper{background-color:#fff}
#kshopSubHead {background:#2b2b2b}
#kshopSubHead > h2 {height:41px;padding-top:10px;border-bottom:solid 1px #333;box-sizing:border-box;-webkit-box-sizing:border-box;display:none;}
#kshopSubHead > h2 > a {display:block;width:102px;height:22px;margin:0 auto;font-size:0;overflow:hidden}

body #head_sub {border-bottom:0;border-top:1px solid #2b2b2b;}
body #head_sub .prev a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_white_w.png) no-repeat center left;background-size:19px 14px;}
body #head_sub .this a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_sns_white.png) no-repeat 0 0;background-size: 15px 16px;}
#head_sub h2 {background:#2b2b2b;}
#head_sub h2 span span {background: url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/logo_kshop.png) no-repeat 0 0;background-size: 105px 22px;color: #fff;position: relative;width: 105px;height: 22px;display: block;text-indent: -9999em;margin: 0 auto;top:5px;}

/*menu*/
.ksCA{height:45px;width:100%;overflow:hidden;position:relative;border-top:1px solid #d0d0d0;}
.ksCA .ksMenuBox{white-space:nowrap;position:relative;display:table}
.ksCA .ksMenuBox button{display:table-cell;font-size:14px;line-height:45px;color:white;padding:0 15px;
-webkit-apperence:none;
border:none;
background:none;
outline:none
}
.ksCA .ksMenuBox button.on{color:#ffa396;background:#323232}
.ksCA .sideBar{position:absolute;bottom:0;width:100%;height:40px;pointer-events: none;display:block}
.ksCA .sideBar img{width:39px;opacity:0;}
.ksCA .sideBar img.on{opacity:1;
transition:opacity 300ms;
-webkit-transition:opacity 300ms;
}
.ksCA .sideBar img.right{position:absolute;top:0;right:0}
.ksCB ul{display:none}
.ksCB ul li{display:table;width:100%;position:relative;}
.ksCB ul.on{display:block}
.ksCB ul .bca{background:#323232;border-bottom:1px solid #2b2b2b;position:relative;width:50%;float:left;}
.ksCB ul .bca a{display:block;color:#ccc;font-size:14px;height:38px;line-height:40px;padding-left:23px; background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/kshop_menuSide3.png) no-repeat right -76px; background-size:35px 115px}
.ksCB ul li .cca{display:none;background:#fff;width:100%;font-size:0;position:static}

.ksCB ul li .cca.open{display:block}
.ksCB ul .cca a{display:inline-block;width:50%;background:#fff;color:#3c3c3c;height:38px;line-height:40px;font-size:14px;padding-left:20px;box-sizing:border-box;border-bottom:1px solid #f2f2f2}
.ksCB ul .cca a:nth-child(odd){border-right:1px solid #f2f2f2}
.ksCB ul li .bca.sub.open a{background-position:right -38px}
.ksCB ul li .bca.sub a{background-position:right 0px}
/*.ksCB ul li.open .cca{display:block}
.ksCB ul .cca a{display:inline-block;width:50%;background:#fff;color:#3c3c3c;height:38px;line-height:40px;font-size:14px;padding-left:20px;box-sizing:border-box;border-bottom:1px solid #f2f2f2}
.ksCB ul .cca a:nth-child(odd){border-right:1px solid #f2f2f2}
.ksCB ul li.sub.open .bca a{background-position:right -38px}
.ksCB ul li.sub .bca a{background-position:right 0px}*/
.location{display:flex;padding:7px 15px;background:#eee;font-size:13px;line-height:13px}
.location .loc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;padding:10px 0;vertical-align:middle}
.location .loc:after{content:'';display:inline-block;vertical-align:middle;width:12px;height:12px;margin:0 6px;background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/spr_swipe_indicator_kshop.png) no-repeat -40px -50px;background-size:55px 60px}
.location .loc.last:after{display:none}
.location .loc.sel_box{position:relative;padding:10px 36px 10px 10px;background-color:#fff;border:1px solid #ddd;border-radius:5px;box-sizing:border-box}
.location .loc.sel_box:after{position:absolute;right:5px;margin-left:23px;background-position:left -46px;}
.kshop_con h3{padding:24px 0 6px 17px;font-size:18px;font-weight:normal}
.kshop_con .prd_lst{border-top:solid 1px #dde1e7}
.kshop_spot{overflow:hidden;position:relative}
.kshop_spot ul[rn-carousel] {
min-height:250px;
overflow: hidden;
padding: 0;
white-space: nowrap;
position: relative;
-webkit-perspective: 1000px;
-ms-perspective: 1000px;
perspective: 1000px;
-ms-touch-action: pan-y;
touch-action: pan-y;
}
.kshop_con .con{background:#fff}
.kshop_con:after{clear:both;display:block;content:'';}
.kshop_spot ul[rn-carousel] > li{
background-color:#fff;
-webkit-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
overflow: visible;
vertical-align: top;
position: absolute;
left: 0;
right: 0;
white-space: normal;
padding: 0;
margin: 0;
list-style-type: none;
width: 100%;
height: 100%;
display: inline-block;
}
.kshop_spot ul[rn-carousel] > li:first-child {
position: relative;
}

.kshop_spot .swipe_indicator li,
.kshop_spot .rn-carousel-control:after{background:url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/spr_swipe_indicator_kshop.png) -5px -37px no-repeat;background-size:55px 60px}

.kshop_spot .swipe_indicator{position:absolute;width:100%;bottom:15px;text-align:center;line-height:6px}
.kshop_spot .swipe_indicator li{position:relative;display:inline-block;overflow:hidden;width:6px;height:6px;margin-right:4px;text-indent:100%;white-space:nowrap}
.kshop_spot .swipe_indicator li.on{background-position:-15px -37px}

.kshop_spot .rn-carousel-control{display:block;overflow:hidden;position:absolute;width:20px;height:32px;top:50%;margin:-21px 0;text-indent:100%;white-space:nowrap;z-index:10;border:none;background-color:transparent}
.kshop_spot .rn-carousel-control:after{content:"";display:block;position:absolute;overflow:hidden;width:20px;height:26px;top:5px}
.kshop_spot .rn-carousel-control.rn-carousel-control-prev{left:12px}
.kshop_spot .rn-carousel-control.rn-carousel-control-prev:after{background-position:-5px -5px}
.kshop_spot .rn-carousel-control.rn-carousel-control-next{right:12px}
.kshop_spot .rn-carousel-control.rn-carousel-control-next:after{background-position:-30px -5px}

.kshop_s_banner {background:#eee}
.kshop_s_banner > ul {padding:17px 1px;overflow:hidden}
.kshop_s_banner > ul > li {float:left;width:33.33%;text-align:center;border-right:solid 1px #ddd;box-sizing:border-box;-webkit-box-sizing:border-box}
.kshop_s_banner > ul > li:last-child {border-right:none}
.kshop_s_banner > ul > li > a {display:block}

.kshop_sub_con .sub_cont img{width:100%;height:auto;}

.ly_kshop{position:fixed;top:0;width:100%;height:100%;z-index:1000;font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
.ly_kshop .cover{width:100%;height:100%;background-color:#000;opacity: .3}
.ly_kshop .kshop_ssctgs_lst{overflow:hidden;position:absolute;top:50%;left:50%;width:280px;margin:-155px -140px;background-color:#fff;border-radius:10px}
.ly_kshop .kshop_ssctgs_lst header{width:100%;text-align:center;padding:15px 0;background:#2b2b2b}
.ly_kshop .kshop_ssctgs_lst header .tit{font-size:17px;font-weight:bold;color:#fff}
.ly_kshop .kshop_ssctgs_lst .ssctgs_wrap{overflow-y:scroll;height:190px;border:1px solid #ddd;-webkit-overflow-scrolling:touch;-webkit-transition: -webkit-transform 0;transition: transform 0}
.ly_kshop .kshop_ssctgs_lst .ssctgs_wrap li{border-bottom:1px solid #f2f2f2}
.ly_kshop .kshop_ssctgs_lst .ssctgs_wrap li label{display:block;position:relative;padding:0 20px;font-size: 15px;color: #333;line-height: 43px}
.ly_kshop .kshop_ssctgs_lst .ssctgs_wrap li input[type=radio]{-moz-box-apperance: none;-webkit-appearance: none;appearance: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;position: absolute;top: 50%;right: 20px;width: 22px;height:22px;border:none!important;margin:-11px 0;background: url(http://image.lotte.com/lotte/images/search/spr_search_result.png) -10px -100px no-repeat;background-size: 200px 150px}
.ly_kshop .kshop_ssctgs_lst .ssctgs_wrap li input[type=radio]:checked{background-position:-35px -100px;-moz-box-apperance:none;-webkit-appearance:none;appearance:none;moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:none!important}
.ly_kshop .kshop_ssctgs_lst .btn_close{-moz-box-apperance:none;-webkit-appearance:none;appearance:none;display:block;width:100%;padding:15px;text-align:center;color:#888;font-size:14px;border:none;background-color:#fff}

.store_info{padding:0 17px;color:#111;}
.store_info .info_01{padding:35px 0 25px;margin-bottom:24px;border-bottom:2px solid #000}
.store_info .info_01 p{font-size:13px;line-height:130%;}
.store_info .info_01 h3{padding-bottom:15px}
.store_info .info_02 h3{padding-bottom:10px;font-size:18px;font-weight:normal} 
.store_info .info_02 h4{padding-bottom:10px;font-size:14px}
.store_info .info_02 > img{display:inline-block;padding:18px 0 23px;}
.store_info .info_02 .info_detail{margin:7px 0 17px;padding:29px 15px 12px;background-color:#f0f0f0}
.store_info .info_02 .info_detail > div{padding-bottom:21px}
.store_info .info_02 .info_detail > div p{padding-bottom:9px}
.store_info .info_02 .info_detail ul li{position:relative;padding:0 0 9px 9px;color:#666;}
.store_info .info_02 .info_detail ul li:before{content:'';position:absolute;left:0;top:5px;display:inline-block;width:3.5px;height:3.5px;background:#c0c0c0;border-radius:50%;vertical-align:middle}
.store_info .info_02 .info_detail p{color:#666;}
.btn_busan_location, .store_info_go{-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;width:100%;padding:17px 0;text-align:center;color:#fff;font-size:12px}
.btn_busan_location{background-color:#3780b6;margin-top:3px;}
.store_info_go{background-color:#4569bc;margin-top:8px;}
/* footer */
#footer > .banner{margin-top:0}

@media screen and (min-width:768px) {
    .kshop_spot >ul[rn-carousel] > li{width:50%;}
}