@charset "UTF-8";
.cont_wrap{padding-top:5px;}

/* 최상단 띠배너 */
.cont_wrap .top_banner_list{min-height:45px;margin-bottom:7px}

/* Template - Ranking */
.category_ctg_wrap{margin:10px 8px;border:1px solid #dfdfdf;background-color:#fff;}
.category_ctg_wrap >ul{overflow:hidden}
.category_ctg_wrap >ul.open{border-bottom:1px solid #999;}
.category_ctg_wrap >ul:after{content:"";display:block;clear:both}
.category_ctg_wrap >ul >li{float:left;position:relative;width:100%;}
.category_ctg_wrap >ul >li >a{display:block;height:33px;margin-right:10px;padding-left:10px;line-height:33px;color:#444;text-align:left;font-size:13px;font-weight:600;}
.category_ctg_wrap >ul >li >a >.depth_tit{display:inline-block;position:relative;width:100%;padding-right:15px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.category_ctg_wrap >ul >li >a >.depth_tit:after{content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:6px;margin:-3px 0;background:url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_template_20151112.png) -35px -110px no-repeat;background-size:200px 200px}
.category_ctg_wrap >ul >li >a >.depth_tit em{display:block;overflow:hidden;height:33px;white-space:nowrap;text-overflow:ellipsis;}
.category_ctg_wrap >ul >li.on >a >.depth_tit em{color:#3874f0;}
.category_ctg_wrap >ul >li.on >a{background-color:#fff;}
.category_ctg_wrap >ul >li.on >a >.depth_tit:after{background-position:-50px -110px}

.category_ctg_wrap >ul.depth1 >li >a,
.category_ctg_wrap >ul.depth2 >li >a{margin-right:0}
.category_ctg_wrap >ul.depth2 >li{width:50%;}
.category_ctg_wrap >ul.depth3 >li{width:33.3%;}
.category_ctg_wrap >ul.depth3 >li:last-child{width:33.4%;}
.category_ctg_wrap >ul >li:first-child >a{padding:0 10px}
.category_ctg_wrap >ul >li >a{margin-right:0;padding:0 10px 0 15px;}

.category_ctg_wrap >ul.depth2 >li:nth-child(1) a{margin-right:2px;}
.category_ctg_wrap >ul.depth2 >li:nth-child(2) a{margin-left:-2px;}

.category_ctg_wrap >ul.depth3 >li:nth-child(1) a{margin-right:2px;}
.category_ctg_wrap >ul.depth3 >li:nth-child(2) a{margin:0 2px 0 -2px}
.category_ctg_wrap >ul.depth3 >li:nth-child(3) a{margin-left:-2px}

.category_ctg_wrap >ul.depth2 >li:nth-child(1):after,
.category_ctg_wrap >ul.depth3 >li:nth-child(1):after,
.category_ctg_wrap >ul.depth3 >li:nth-child(2):after{content:"";display:block;position:absolute;top:0;right:-5px;width:7px;height:35px;background:url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_template_20151112.png) -20px -110px no-repeat;background-size:200px 200px;z-index:1;}
/*
.category_ctg_wrap >ul.depth3 >li.on:nth-child(1):after,
.category_ctg_wrap >ul.depth3 >li.on:nth-child(2):after{background-position:-20px -110px;}
*/

.category_ctg_wrap .rangking_ctg_lst_wrap{background-color:#fff}
/*.category_ctg_wrap .rangking_ctg_lst_wrap .ctg_all{display:block;margin:-1px 0 0 0;padding:0 10px;line-height:34px;color:#666;border-width:1px 0 1px 0;border-style:solid;border-color:#dfdfdf;}*/
.category_ctg_wrap .rangking_ctg_lst_wrap >ul{overflow:hidden;position:relative;max-height:137px;}
.category_ctg_wrap .rangking_ctg_lst_wrap >ul:after{content:"";display:block;clear:both;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont{overflow:hidden;max-height:105px;height:auto !important;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont:after{content:"";display:block;clear:both;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li{float:left;width:100% !important;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li:after{content:"";display:block;clear:both;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li:first-child{position:relative !important;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li >p.ctg_item{overflow:hidden;float:left;display:block;width:50%;height:35px;text-overflow:ellipsis;white-space:nowrap;border-width:0 1px 1px 0;border-style:solid;border-color:#dfdfdf;background-color:#fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li >p.ctg_item >a{display:block;padding:0 10px;line-height:34px;color:#666;font-size:13px;}
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li >p.ctg_item:nth-child(even){border-right:0;}

.category_ctg_wrap .rangking_ctg_lst_wrap .ctg_all.on,
.category_ctg_wrap .rangking_ctg_lst_wrap .swipe_wrap .swipe_cont >li >p.ctg_item >a.on{color:#588bff;}

.category_ctg_wrap .rangking_ctg_lst_wrap .btn_close_wrap{position:relative;height:32px;margin-top:-1px;padding:0 10px;line-height:32px;color:#666;font-size:12px;text-align:center;border-top:1px solid #dfdfdf;}
.category_ctg_wrap .rangking_ctg_lst_wrap .btn_close_wrap .btn_close{display:block;position:absolute;top:0;right:0;padding:0 25px 0 10px;line-height:32px;border:none;background:transparent;color:#666;font-size:12px;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}
.category_ctg_wrap .rangking_ctg_lst_wrap .btn_close_wrap .btn_close:after{content:"";overflow:hidden;position:absolute;display:block;top:50%;right:10px;width:11px;height:10px;margin:-5px 0;text-indent:100%;white-space:nowrap;background:url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_template_20151112.png) -65px -110px no-repeat;background-size:200px 200px;}

.bigdata_wrap{margin:0 8px;padding-right:10px;line-height:35px;}
.bigdata_wrap:after{content:"";display:block;clear:both;}
.bigdata_wrap .rank_type_sex{float:left;height:35px;}
.bigdata_wrap .rank_type_sex:after{content:"";display:block;clear:both;}
.bigdata_wrap .rank_type_sex li{float:left;width:50px;text-align:center;}
.bigdata_wrap .rank_type_sex li button{display:block;height:35px;line-height:35px;position:relative;width:100%;color:#666;font-size:13px;border:none;background-color:transparent;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline:none;
}
.bigdata_wrap .rank_type_sex li button.on{color:#719cff;font-weight:bold;}
.bigdata_wrap .rank_type_sex li:nth-child(1) button:after,
.bigdata_wrap .rank_type_sex li:nth-child(2) button:after{content:"";display:block;position:absolute;top:50%;right:0;width:1px;height:12px;margin:-6px 0;background-color:#e0e0e0;}

.bigdata_wrap .rank_type_age{float:right;height:27px;margin:3px 0;padding:0;line-height:27px;color:#333;font-size:13px;border:1px solid #ddd;}
.bigdata_wrap .rank_type_age >label{display:inline-block;padding-left:10px;}
.bigdata_wrap .rank_type_age .selectbox_wrap{display:inline-block;position:relative;}
.bigdata_wrap .rank_type_age .selectbox_wrap:after{content:"";display:block;position:absolute;top:50%;right:10px;width:10px;height:6px;margin:-3px 0;background:url(http://image.lotte.com/lotte/mo2015/angular/main/spr_main_template_20151112.png) -35px -110px no-repeat;background-size:200px 200px;z-index:0;}
.bigdata_wrap .rank_type_age .selectbox_wrap select{position:relative;width:auto;height:27px;padding-right:10px;direction:ltr;text-align:left;font-size:13px;border:none;background-color:transparent;z-index:1;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline:none;
}

.prd_lst_wrap{display:block;margin-top:5px;}
.prd_lst_wrap li .bestNum{position:absolute;top:0;left:0;width:25px;height:25px;line-height:25px;text-align:center;color:#fff;font-size:13px;font-weight:bold;background-color:rgba(0,0,0,.4);opacity:1;}
.prd_lst_wrap li .unit_zoom{display:none;}

.rank_keyword{display:none;margin:5px 0 0 0;}
.rank_keyword.on { display: block; }
.rank_keyword .default{display:block;height:50px;padding-right:70px;background:#fff;line-height:50px;font-size:14px;color:#2c2c2c;position:relative}
.rank_keyword .default.hide { display: none;  }
.rank_keyword .default span.title{padding:0 15px 0 13px;color:#a09f9f;font-size:14px}
.rank_keyword .default em.no{padding-right:5px;font-weight:bold;font-style:italic;}
.rank_keyword .default .txt_box{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.rank_keyword .default .rank{position:absolute;top:0;right:0;width:60px;}
.rank_keyword .keyword_list{display:none}
.rank_keyword .keyword_list.open { display: block; }
.rank_keyword span.count{right:42px;font-size:12px}
.rank_keyword span.count.new{color:#ff4800}
.rank_keyword span.count img.up{width:9px;margin-top:21px}
.rank_keyword .default img.k_arr{width:28px;position: absolute;right:0;top:5px}
.rank_keyword .listhead{display:block;height:40px;background: #f7f7f7;line-height:40px;font-size:11px;color:#a09f9f;position:relative}
.rank_keyword .listhead span.title{color:#2c2c2c;font-size:12px;padding:0 10px 0 12px}
.rank_keyword .listhead img.k_arr{width:16px;position: absolute;right:12px;top:13px}
.rank_keyword ul.klist {margin-bottom:10px;}
.rank_keyword ul.klist li{display:block;height:47px;line-height:47px;border-bottom:1px solid #f5f5f5;background:#fff;color:#2c2c2c;padding:0;margin:0;font-size:14px}
.rank_keyword ul.klist li a{display:block}
.rank_keyword ul.klist li span:first-child{display:inline-block;width:35px;text-align:center}
.rank_keyword ul.klist li span.count{right:17px}
.rank_keyword ul.klist li span.count img.up{margin-top:18px}

.noData{padding:208px 0;}

.desc_wrap{background-color:#f6f6f6;margin:5px 0 -5px;border-top:1px #dcdcdc solid;}
.desc_wrap.on{border-bottom:1px #dcdcdc solid;}
.desc_wrap p{display:table-cell;position:relative;height:30px;padding:10px 10px 10px 50px;vertical-align:middle;color:#2c2c2c;font-size:12px;line-height:15px;}
.desc_wrap p:after{content:"";display:block;position:absolute;top:14px;left:12px;width:27px;height:20px;background:transparent url(http://image.lotte.com/lotte/mo2015/angular/mall/ranking_dsc_icon.png) -0px -0px no-repeat;background-size:27px 20px;}

.desc_wrap >strong{color:#285ace;}

/* Template - Common - Responsive */
@media screen and (min-width:640px) {
	/* 최상단 띠배너 */
	.cont_wrap .top_banner_list >ul:after{content:"";display:block;clear:both;}
	.cont_wrap .top_banner_list >ul >li{float:left;width:50%;padding:0 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}


	/* 스와이프 */
	.cont_wrap .top_swipe_wrap .swipe_wrap >ul >li{width:50%;padding:0 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.cont_wrap .top_swipe_wrap .swipe_wrap >ul >li >a{border:1px solid #dcdcdc;}
	.cont_wrap .top_swipe_wrap .indicator >li:nth-child(even){display:none;}
}