<section>
    <div class="location" ng-if="kShopUI.dispNo != '5558814'"> <!--특별한 맛남 예외처리 추가 ng-if="kShopUI.dispNo != '5558814'"-->
        <a class="loc" ng-class="{last:kShopUI.curSSCtgName == ''}" ng-click="kshopSctgClick(kShopUI.curSCtgNo)">{{kShopUI.curSCtgName}}</a>
        <a ng-if="kShopUI.curSSCtgName != ''" class="loc sel_box" ng-click="kshopSsctgClick()">{{kShopUI.curSSCtgName}}</a>
    </div>
    <div class="kshop_sub_con">
        <!-- 코너데이터 영역 /-->
        <div ng-if="kShopUI.sCtgBnrShowFlag" ng-bind-html="subData.topHtml | toTrustedHtml" class="sub_cont"></div>
        <!-- /코너데이터 영역 -->

        <!-- 상품 리스트 /-->
        <section prd-lst class="prd_lst">
            <ul class="sh-unit">
                <li ng-repeat="item in subData.prdList.items">
                    <comm-unit></comm-unit>
                </li>
            </ul>
        </section>
        <!--/ 상품 리스트 -->

        <!--  레이어팝업 /-->    
        <div ly-kshop class="ly_kshop" ng-if ="kShopUI.ssCtgLayerOpenFlag">
            <div class="cover" ng-click="lyKshopClose()"></div>
            <div class="kshop_ssctgs_lst">
                <header><span class="tit">{{kShopUI.curSCtgName}}</span></header>
                <div class="ssctgs_wrap">
                    <ul id="ssctgsLst">
                        <li ng-repeat="item in kShopUI.ssCtgList"><label for="kshop_list{{$index}}"><input type="radio" id="kshop_list{{$index}}" name="kshop_lst" ng-value="item.ctg_no" ng-model="kShopUI.curSSCtgNo" ng-change="ctgChange(item.ctg_no);" />{{item.name}}</label></li>
                    </ul>
                </div>
                <div class="btn_wrap"><button class="btn_close" ng-click="lyKshopClose()">닫기</button></div>
            </div>
        </div>
        <!-- /레이어팝업 -->
    </div>
</section>
