@charset "UTF-8";

.emptyData{display:none;text-align:center;height:100px;line-height:100px; }
#head_sub h2 span span { color:transparent; text-indent: 0 !important; line-height: 25px; position:relative }
#head_sub h2 span span.is_completed { color:#000 }
#head_sub h2 > span:first-child { vertical-align: top !important; position: relative }
#head_sub h2 > span span {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}