<section ng-show="contVisible" class="cont_minheight">  
     
    <section class="pageLoading" ng-show="pageLoading"><p class="loading half"></p></section>
    <div class="topbann"> <!--상단배너-->
        <a ng-href="#"><img ng-src="http://image.lotte.com/lotte/mo2018/mall/usedmall_icon_banner.png"></a>
    </div>    
    <div class="addbtn_box" ng-class="{tab:screenData.isTab, app:appObj.isApp}"> <!--판매글 등록하기버튼-->
        <div class="box2">
            <div class="addbtn" ng-click="board_edit(null)">
                <span><span class="lib icon"></span>판매 글 등록하기</span>
            </div>        
        </div>        
    </div>
    <div class="box3" ng-class="{tab:screenData.isTab}">
        <div class="info" ng-click="showInfoPop()">            
            <span>중고라운지 공지사항<span class="lib icon2"></span></span>
        </div>                        
    </div>        
    
    <!--카테고리-->
    <div class="cate_box">
        <div class="subcate">
            <ul>
                <li class="cate_0" ng-class="{on:screenData.ctgDispNo == '5618795' || screenData.ctgDispNo == ''}" ng-click="selectCate('', '전체', 1)"><span>전체 </span></li>
                <li class="cate_{{$index + 1}}" ng-repeat="cate in screenData.data.ctgList.items" ng-class="{on:cate.disp_no == screenData.ctgDispNo}" ng-click="selectCate({{cate.disp_no}},cate.disp_nm,$index+1)"><span>{{cate.disp_nm}}</span></li>
            </ul>
        </div>
        
        <div class="cateSearch">
            <form id="used_search" ng-submit="gatag(1,'검색하기');selectSearch('search')">
            <input type="search" ng-model="screenData.keyword" name="used_keyword" placeholder="검색어 입력" autocomplete="off" autocapitalize="off" autocorrect="off" required="" speech="" x-webkit-speech="" ng-keyup="" ng-focus="" class="used_search">
            </form>
            <div class="lib csh_icon" ng-click="gatag(1,'검색하기');selectSearch('search')">검색</div>
            <div class="csh_my" ng-if="screenData.data.mbrCertYn == 'Y'"><input type="checkbox" class="lib csh_check0" id="my_csh" ng-click="gatag(1,'내상품보기');selectSearch('my')"><label for="my_csh">내 상품 보기</label></div>            
        </div>
        
    </div>
    <!--판매목록 모바일 -->
    <div class="csh_list" ng-if="!screenData.isTab && screenData.data.boardListInfo.maxCount > 0">
        <div class="csh_unit" id="unit_{{$index}}" ng-repeat="item in screenData.data.boardListInfo.boardList.items track by $index">
            <div class="paddingbox">
                <div class="title"><span ng-bind-html="item.bbcTitNm"></span>
                    <div class="lib option" ng-class="{on:item.editOpen}" ng-if="item.modYn == 'Y'" ng-click="gatag(2, '내상품관리');item.editOpen = true">글메뉴</div>
                </div>
                <p class="price">{{item.salePrc | number}}<span>원</span></p>               
                <div class="option_pop" ng-show="item.editOpen">
                    <ul>
                        <li ng-click="gatag(2, '내상품관리_수정');item.editOpen = false;board_edit(item)">수정하기</li>
                        <li ng-click="gatag(2, '내상품관리_삭제');board_delete(item, {{$index}});item.editOpen = false">삭제하기</li>                           
                        <li ng-click="gatag(2, '내상품관리_닫기');item.editOpen = false">닫기</li>                           
                    </ul>
                </div>
            </div>
            <!--사진-->
            <div class="photo_con" ng-class="{one:item.imgList.items.length == 1,soldout_con:item.saleStatCd == '20'}" ng-if="item.imgList != null">
                <!--사진이 한장일 경우-->
                <div class="one_photo" ng-if="item.imgList.items.length == 1" ng-click="viewPhoto(item.imgList.items, 0)"> 
                   <span class="photoframe" style="background-image:url({{item.imgList.items[0].imgUrl}})"></span>
                   <div class="soldout"></div>    
                </div>
                <!--사진이 다수인 경우-->
                <div class="one_more" style="width:{{290*item.imgList.items.length + 20}}px" ng-if="item.imgList.items.length > 1"> 
                    <div class="one_photo" ng-repeat="photo in item.imgList.items track by $index"  ng-click="viewPhoto(item.imgList.items, {{$index}})"> 
                       <span class="photoframe" style="background-image:url({{photo.imgUrl}})"></span>                    
                        <div class="soldout"></div>    
                    </div>                                    
                </div>
            </div>
            
            <div class="paddingbox">
                <div class="sch_flag">
                    <span ng-if="item.dlexInclusYn != 'Y'">배송비별도</span>
                    <span ng-if="item.dlexInclusYn == 'Y'">배송비포함</span>
                    <span ng-if="item.dirTradePsbYn == 'Y'" class="b">직거래가능</span>
                    <span ng-if="item.dirTradePsbYn != 'Y'" class="b">직거래불가</span>
                    <span class="c">{{item.shaGoodsStatCd}}</span>
                </div>
                
                <div class="writer">
                    <span class="wa">{{item.userId}}</span>
                    <span class="wb">{{item.regDtime}}</span>
                </div>
                
                <div class="str_info" ng-if="item.dirTradePsbYn == 'Y' && item.dirTradeRgnNm != ''">&bull;&nbsp;직거래 가능지역 : {{item.dirTradeRgnNm}}</div>
                <div class="str_info" ng-bind-html="item.bbcCont"></div>
                <div class="share_info">
                   <div class="sh_table">
                       <div class="sh_cell a" ng-class="{on:item.recommYn == 'Y'}" ng-click="gatag(2, '찜');recommend(item)"><span class="lib" ng-class="{on:false}"></span>찜</div>
                       <div class="sh_cell b" ng-class="{on:item.dclYn == 'Y'}" ng-click="gatag(2, '신고');open_dcl(1, item)"><span class="lib"></span>신고({{item.dclCnt}})</div>
                       <div class="sh_cell c" ng-click="gatag(2, '공유하기');showSharePop({shareImg:item.imgList.items[0].imgUrl,prdComment:item.bbcTitNm})"><span class="lib"></span>공유</div>
                   </div>
                   <a ng-show="item.saleStatCd == '10'" ng-click="gatag(2, '연락하기');call(item.cellNo)"><div class="sh_call"><span class="lib"></span>연락하기</div></a>
                </div>
                
                <!--댓글등록-->
                <div class="csh_add_box">
                    <input ng-model="item.insstr" ng-keyup="reply_focus()" type="text" placeholder="궁금한 점을 문의해보세요 (개인정보 공개작성 금지)" autocomplete="off" autocapitalize="off" autocorrect="off" required="" speech="" x-webkit-speech="" ng-keyup="" ng-focus="" class="used_search">
                    <div class="csh_add" ng-click="gatag(2, '댓글등록');reply_write(item, null,'write')">등록</div>
                    <div class="csh_secret"><input type="checkbox" ng-model="item.inscheck"  class="lib csh_check0" id="csh_secret_{{$index}}" ng-click="gatag(2, '비밀문의')"><label for="csh_secret_{{$index}}">비밀로 문의하기 </label>
                        <span>※&nbsp;적합하지 않은 글은 삭제될 수 있습니다.</span>
                    </div>            
                    
                    <ul ng-show="item.more">
                        <li ng-repeat="reply in item.reply_list track by $index" ng-class="{rline:reply.rplDpthNo == 1}">
                            <!--댓글 -->
                            <div class="ask" ng-if="reply.rplDpthNo == 1">
                                <div class="writer">
                                    <span class="wa">{{reply.loginId}}<span class="secret" ng-if="reply.secretYn == 'Y'"></span></span>
                                    <span class="wb" ng-class="{edit:reply.modifyYn == 'Y'}">{{reply.registDate | cutDate}}
                                        <span class="dcl_mode" ng-hide="reply.secretYn == 'Y' && item.modYn != 'Y'" ng-click="gatag(2, '신고');open_dcl(2, item, reply, 20)" ng-class="{num:reply.declareNum > 0}"> 
                                            <span class="lib dcl" ng-class="{on:reply.declareYn == 'Y'}"></span> 신고 <em ng-if="reply.declareNum > 0">({{reply.declareNum}})</em>
                                        </span>                                                                                                                      
                                        <span class="lib edit_mode" ng-click="gatag(2, '댓글관리');reply.open = true"></span>                                        
                                        <ul class="option_pop" ng-show="reply.open">
                                            <li ng-click="gatag(2, '댓글관리_수정');reply.editCont = true;reply.open = false">수정하기</li>
                                            <li ng-click="gatag(2, '댓글관리_삭제');reply_delete({{reply.rplNo}}, item, {{reply.rplDpthNo}});reply.open = false">삭제하기</li>                           
                                            <li ng-click="gatag(2, '댓글관리_닫기');reply.open = false">닫기</li>                           
                                        </ul>
                                    </span>
                                </div>                                
                                <div class="content" ng-if="!reply.editCont">{{reply.rplCont}}
                                    <span ng-if="item.modYn == 'Y' && (item.reply_list.length - 1 == $index || item.reply_list[$index + 1].rplDpthNo == 1 || (item.reply_list[$index + 1].rplDpthNo == 2 && item.reply_list[$index + 1].uprRplNo != reply.rplNo))" ng-click="gatag(2, '답글달기');reply.ansOpen=true">답글</span>
                                </div>
                                <div class="content"  ng-if="reply.editCont">
                                    <input ng-model="reply.rplCont" type="text" class="used_search">
                                    <div class="csh_add white tp7" ng-click="gatag(2, '답글수정등록');reply_write(item, reply,'edit')">등록</div>                                    
                                </div>
                                <!--답글을 누를 경우 -->
                                <div class="write_ans" ng-if="reply.ansOpen">
                                    <span class="lib"></span>
                                    <input type="text" ng-model="reply.insstr"  placeholder="답글을 입력하세요" autocomplete="off" autocapitalize="off" autocorrect="off" required="" speech="" x-webkit-speech="" ng-keyup="" ng-focus="" class="used_search">
                                    <div class="csh_add white" ng-click="gatag(2, '답글등록');reply_write(item, reply,'write')">등록</div>
                                </div>
                            </div>
                            <!--답글 -->
                            <div class="answer"  ng-if="reply.rplDpthNo == 2">
                                <span class="lib arr"></span>
                                <div class="writer">
                                    <span class="wa">{{reply.loginId}}<span class="secret" ng-if="reply.secretYn == 'Y'"></span></span>
                                    <span class="wb" ng-class="{edit:reply.modifyYn == 'Y'}">{{reply.registDate | cutDate}}
                                        <span class="dcl_mode" ng-hide="reply.secretYn == 'Y' && !(item.reply_list[$index -1].rplNo == reply.uprRplNo && item.reply_list[$index -1].modifyYn == 'Y')" ng-click="gatag(2, '신고');open_dcl(2, item, reply, 30)" ng-class="{num:reply.declareNum > 0}"> 
                                            <span class="lib dcl" ng-class="{on:reply.declareYn == 'Y'}"></span> 신고 <em ng-if="reply.declareNum > 0">({{reply.declareNum}})</em>
                                        </span>                                                                                                                      
                                        <span class="lib edit_mode" ng-click="gatag(2, '댓글관리');reply.open = true" ng-if="reply.modifyYn == 'Y'"></span>                                        
                                        <ul class="option_pop" ng-show="reply.open">
                                            <li ng-click="gatag(2, '댓글관리_수정');reply.editCont = true;reply.open = false">수정하기</li>
                                            <li ng-click="gatag(2, '댓글관리_삭제');reply_delete({{reply.rplNo}}, item, {{reply.rplDpthNo}});reply.open = false">삭제하기</li>                           
                                            <li ng-click="gatag(2, '댓글관리_닫기');reply.open = false">닫기</li>                           
                                        </ul>
                                    </span>
                                </div>                                
                                <div class="content" ng-if="!reply.editCont">{{reply.rplCont}}</div>
                                <div class="content"  ng-if="reply.editCont">
                                    <input ng-model="reply.rplCont" type="text" class="used_search">
                                    <div class="csh_add white tp7" ng-click="gatag(2, '답글수정등록');reply_write(item, reply,'edit')">등록</div>                                    
                                </div>                                
                            </div>
                        </li>                                                
                    </ul>                
                </div>                
            </div>
            <!--추가문의글-->
            <div class="more" ng-show="item.rplCnt > 0 && (item.more == undefined || !item.more)" ng-click="gatag(2, '추가댓글보기');loadReply(item)">
                상품 문의 (<b>{{item.rplCnt}}</b>) <span class="lib"></span>
            </div>            
            <div class="more on" ng-show="item.more" ng-click="gatag(2, '추가댓글접기');item.more = false;scroll_reply({{$index}})">
                상품 문의 접기 <span class="lib"></span>
            </div>            
        </div>
        
    </div>
    
    <!--판매목록 태블릿 -->
    <div class="csh_list tab" ng-if="screenData.isTab && screenData.data.boardListInfo.maxCount > 0">
        <div class="csh_unit" ng-repeat="item in screenData.data.boardListInfo.boardList.items track by $index">
            <div class="unit_talbe">
                <div class="unit_cell a">
                    <div class="paddingbox">
                        <div class="title">{{item.bbcTitNm}}                            
                        </div>
                        <p class="price">{{item.salePrc | number}}<span>원</span></p>               
                    </div>                    
                    <!--사진-->
                    <div class="photo_con" id="uta_{{$index}}" ng-if="item.imgList != null" ng-class="{one:item.imgList.items.length == 1,soldout_con:item.saleStatCd == '20'}" style="width:{{photo_con_width}}px">
                        <!--사진이 한장일 경우-->
                        <div class="one_photo" ng-if="item.imgList.items.length == 1" ng-click="viewPhoto(item.imgList.items, 0)"> 
                           <span class="photoframe" style="background-image:url({{item.imgList.items[0].imgUrl}})"></span>
                           <div class="soldout"></div>    
                        </div>
                        <!--사진이 다수인 경우-->
                        <div class="one_more" style="width:{{photo_width*item.imgList.items.length + 20}}px" ng-if="item.imgList.items.length > 1"> 
                            <div class="one_photo" ng-repeat="photo in item.imgList.items track by $index" ng-click="viewPhoto(item.imgList.items, {{$index}})"> 
                               <span class="photoframe" style="background-image:url({{photo.imgUrl}})"></span>                    
                                <div class="soldout"></div>    
                            </div>                                    
                        </div>
                    </div>
                    <div class="paddingbox">
                        <div class="sch_flag">
                            <span ng-if="item.dlexInclusYn != 'Y'">배송비별도</span>
                            <span ng-if="item.dlexInclusYn == 'Y'">배송비포함</span>
                            <span ng-if="item.dirTradePsbYn == 'Y'" class="b">직거래가능</span>
                            <span ng-if="item.dirTradePsbYn != 'Y'" class="b">직거래불가</span>
                            <span class="c">{{item.shaGoodsStatCd}}</span>
                        </div>
                    </div>                    
                </div>
                <div class="unit_cell b">
                    <div class="paddingbox">
                        <div class="paddingbox2" ng-class="{slide:item.imgList.items.length > 1}" >
                            <div class="writer">
                                <span class="wa">{{item.userId}}</span>
                                <span class="wb">{{item.regDtime}}</span>                                
                                
                                <div class="lib option" ng-class="{on:item.editOpen}" ng-if="item.modYn == 'Y'" ng-click="gatag(2, '내상품관리');item.editOpen = true">글메뉴</div>
                                <div class="option_pop" ng-show="item.editOpen">
                                    <ul>
                                        <li ng-click="gatag(2, '내상품관리_수정');item.editOpen = false;board_edit(item)">수정하기</li>
                                        <li ng-click="gatag(2, '내상품관리_삭제');board_delete(item, {{$index}});item.editOpen = false">삭제하기</li>                           
                                        <li ng-click="gatag(2, '내상품관리_닫기');item.editOpen = false">닫기</li>                           
                                    </ul>
                                </div>                            
                            </div>

                            <div class="str_info" ng-if="item.dirTradePsbYn == 'Y' && item.dirTradeRgnNm != ''">&bull;&nbsp;직거래 가능지역 : {{item.dirTradeRgnNm}}</div>
                            <div class="str_info" ng-bind-html="item.bbcCont"></div>
                            <div class="share_info">
                               <div class="sh_table">
                                   <div class="sh_cell a" ng-class="{on:item.recommYn == 'Y'}" ng-click="gatag(2, '찜');recommend(item)"><span class="lib" ng-class="{on:false}"></span></div>
                                   <div class="sh_cell b" ng-class="{on:item.dclYn == 'Y'}" ng-click="gatag(2, '신고');open_dcl(1, item)"><span class="lib"></span>신고({{item.dclCnt}})</div>
                                   <div class="sh_cell c" ng-click="gatag(2, '공유하기');showSharePop({shareImg:item.imgList.items[0].imgUrl,prdComment:item.bbcTitNm})"><span class="lib"></span>공유</div>
                               </div>
                               <a ng-href="tel:{{item.cellNo}}" ng-show="item.saleStatCd == '10'"  ng-click="gatag(2, '연락하기');call(item.cellNo)"><div class="sh_call"><span class="lib"></span>연락하기</div></a>
                            </div>                            
                        </div>                        
                        
                        <!--댓글등록-->
                        <div class="csh_add_box">
                            <input ng-model="item.insstr"  ng-keyup="reply_focus()" type="text" placeholder="궁금한 점을 문의해보세요 (개인정보 공개작성 금지)" autocomplete="off" autocapitalize="off" autocorrect="off" required="" speech="" x-webkit-speech="" ng-keyup="" ng-focus="" class="used_search">
                            <div class="csh_add" ng-click="gatag(2, '댓글등록');reply_write(item, null,'write')">등록</div>
                            <div class="csh_secret"><input type="checkbox" ng-model="item.inscheck"  class="lib csh_check0" id="csh_secret_{{$index}}" ng-click="gatag(2, '비밀문의')"><label for="csh_secret_{{$index}}">비밀로 문의하기 </label>
                                <span>※&nbsp;적합하지 않은 글은 삭제될 수 있습니다.</span>
                            </div>            
                            <ul ng-show="item.more">
                                <li ng-repeat="reply in item.reply_list track by $index" ng-class="{rline:reply.rplDpthNo == 1}">
                                    <!--댓글 -->
                                    <div class="ask" ng-if="reply.rplDpthNo == 1">
                                        <div class="writer">
                                            <span class="wa">{{reply.loginId}}<span class="secret" ng-if="reply.secretYn == 'Y'"></span></span>
                                            <span class="wb" ng-class="{edit:reply.modifyYn == 'Y'}">{{reply.registDate | cutDate}}
                                                <span class="dcl_mode" ng-hide="reply.secretYn == 'Y' && item.modYn != 'Y'" ng-click="gatag(2, '신고');open_dcl(2, item, reply, 20)" ng-class="{num:reply.declareNum > 0}"> 
                                                    <span class="lib dcl" ng-class="{on:reply.declareYn == 'Y'}"></span> 신고 <em ng-if="reply.declareNum > 0">({{reply.declareNum}})</em>
                                                </span>                                                                                                                      
                                                <span class="lib edit_mode" ng-click="gatag(2, '댓글관리');reply.open = true"></span>                                        
                                                <ul class="option_pop" ng-show="reply.open">
                                                    <li ng-click="gatag(2, '댓글관리_수정');reply.editCont = true;reply.open = false">수정하기</li>
                                                    <li ng-click="gatag(2, '댓글관리_삭제');reply_delete({{reply.rplNo}}, item , {{reply.rplDpthNo}});reply.open = false">삭제하기</li>                           
                                                    <li ng-click="gatag(2, '댓글관리_닫기');reply.open = false">닫기</li>                           
                                                </ul>
                                            </span>
                                        </div>                                
                                        <div class="content" ng-if="!reply.editCont">{{reply.rplCont}}
                                            <span ng-if="item.modYn == 'Y' && (item.reply_list.length - 1 == $index || item.reply_list[$index + 1].rplDpthNo == 1 || (item.reply_list[$index + 1].rplDpthNo == 2 && item.reply_list[$index + 1].uprRplNo != reply.rplNo))" ng-click="gatag(2, '답글달기');reply.ansOpen=true">답글</span>
                                        </div>
                                        <div class="content"  ng-if="reply.editCont">
                                            <input ng-model="reply.rplCont" type="text" class="used_search">
                                            <div class="csh_add white tp7" ng-click="gatag(2, '답글수정등록');reply_write(item, reply,'edit')">등록</div>                                    
                                        </div>
                                        <!--답글을 누를 경우 -->
                                        <div class="write_ans" ng-if="reply.ansOpen">
                                            <span class="lib"></span>
                                            <input type="text" ng-model="reply.insstr"  placeholder="답글을 입력하세요" autocomplete="off" autocapitalize="off" autocorrect="off" required="" speech="" x-webkit-speech="" ng-keyup="" ng-focus="" class="used_search">
                                            <div class="csh_add white" ng-click="gatag(2, '답글등록');reply_write(item, reply,'write')">등록</div>
                                        </div>
                                    </div>
                                    <!--답글 -->
                                    <div class="answer"  ng-if="reply.rplDpthNo == 2">
                                        <span class="lib arr"></span>
                                        <div class="writer">
                                            <span class="wa">{{reply.loginId}}<span class="secret" ng-if="reply.secretYn == 'Y'"></span></span>
                                            <span class="wb" ng-class="{edit:reply.modifyYn == 'Y'}">{{reply.registDate | cutDate}}
                                                <span class="dcl_mode"  ng-hide="reply.secretYn == 'Y' && !(item.reply_list[$index -1].rplNo == reply.uprRplNo && item.reply_list[$index -1].modifyYn == 'Y')" ng-click="gatag(2, '신고');open_dcl(2, item, reply, 30)" ng-class="{num:reply.declareNum > 0}"> 
                                                    <span class="lib dcl" ng-class="{on:reply.declareYn == 'Y'}"></span> 신고 <em ng-if="reply.declareNum > 0">({{reply.declareNum}})</em>
                                                </span>                                                                                                                      
                                                <span class="lib edit_mode" ng-click="gatag(2, '댓글관리');reply.open = true" ng-if="reply.modifyYn == 'Y'"></span>                                        
                                                <ul class="option_pop" ng-show="reply.open">
                                                    <li ng-click="gatag(2, '댓글관리_수정');reply.editCont = true;reply.open = false">수정하기</li>
                                                    <li ng-click="gatag(2, '댓글관리_삭제');reply_delete({{reply.rplNo}}, item , {{reply.rplDpthNo}});reply.open = false">삭제하기</li>                           
                                                    <li ng-click="gatag(2, '댓글관리_닫기');reply.open = false">닫기</li>                           
                                                </ul>
                                            </span>
                                        </div>                                
                                        <div class="content" ng-if="!reply.editCont">{{reply.rplCont}}                                        
                                        </div>
                                        <div class="content"  ng-if="reply.editCont">
                                            <input ng-model="reply.rplCont" type="text" class="used_search">
                                            <div class="csh_add white tp7" ng-click="reply_write(item, reply,'edit')">등록</div>                                    
                                        </div>                                
                                    </div>
                                </li>                                                
                            </ul>                
                        </div>                
                    </div>
                    <!--추가문의글-->
                    <div class="more" ng-show="item.rplCnt > 0 && (item.more == undefined || !item.more)" ng-click="gatag(2, '추가댓글보기');loadReply(item)">
                        상품 문의 (<b>{{item.rplCnt}}</b>) <span class="lib"></span>
                    </div>            
                    <div class="more on" ng-show="item.more" ng-click="gatag(2, '추가댓글접기');item.more = false;scroll_reply({{$index}})">
                        상품 문의 접기 <span class="lib"></span>
                    </div>                       
                </div>
            </div>
        </div>
        
    </div>
    
    <!--결과 없을 때 -->
    <div class="no_list" ng-show="screenData.data.boardListInfo == null && screenData.myList != 'Y'">
        검색결과가 없습니다.
    </div>
    <div class="no_list" ng-show="screenData.data.boardListInfo == null && screenData.myList == 'Y'">
        등록된 판매글이 없습니다. <br> 안쓰는 물건이 있다면 중고라운지를 이용해보세요         
    </div>        
    <!--중고거래 이용안내 -->
    <div class="use_info_pop n2" ng-show="usedPopOpen">
        <div class="frame">
            <div class="box">
                <p>중고거래 이용안내 </p>
                <div class="noti_cont">
                    롯데닷컴은 본 게시판을 통한 거래에 어떠한 관여도 하지 않으며, 거래 결과 발생한 손해나 개인정보 유출로 인한 피해 등에 대하여 어떠한 민.형사적, 행정적 책임을 지지 아니합니다.
                </div>
                <div class="close" ng-click="gatag(0, '책임 고지 닫기');close_usedNoMore()">확인</div>
            </div>               
        </div>
    </div>
    
    <!--판매글, 댓글 신고 팝업 -->
    <div class="use_info_pop dcl_pop" ng-show="dclpop.open">
        <div class="frame">
            <div class="box">
                <p>중고 게시물 신고하기</p>                
                <ul>
                    <li ng-repeat="str in dclpop.list"><input type="radio" ng-model="dclpop.cont" class="radio01" name="dcl_r" id="dcl_r{{$index}}" value="{{$index}}"><label for="dcl_r{{$index}}">{{str}}</label></li>
                </ul>
                <div class="btn_group">
                    <div class="btn a" ng-click="gatag(2,'닫기');close_dcl()">닫기</div>            
                    <div class="btn b" ng-click="gatag(2,'신고하기');dcl_submit()">신고하기</div>
                </div>
            </div>               
        </div>
    </div>    
    
	<!-- imagePopUp -->
	<div ng-if="popOption.open" class='gellery-zoomPopup'>
		<figure>
			<img ng-pinch-zoom max-scale="4" ng-src='{{popOption.data[popOption.cnt].imgUrl}}' orientable width='{{imageSize.width}}' height='{{imageSize.height}}' alt=''/>
			</figure>
		<span class='close'	ng-click='popOption.close()'>
		</span>
		<div class='indicator'>
			<span class='page'>	{{popOption.cnt +1}}/{{popOption.data.length}}</span>
		</div>
		<span ng-if='popOption.cnt>0' class='arrow prev' ng-click='popOption.prev()'></span>
		<span ng-if='popOption.data.length>1&&popOption.cnt<popOption.data.length-1' class='arrow next' ng-click='popOption.next()'></span>		
	</div>   
</section>